Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-12, with the labels that each got.

#4658 optimizer clean up
  CHANGELOG.md
  docs/source/lightning_module.rst
  docs/source/optimizers.rst
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  setup.cfg
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_torch_saving.py
  tests/core/test_lightning_optimizer.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#4431 update logging docs and decorators
  docs/source/logging.rst
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/wandb.py
Labels: 0:] Ready-To-Go, Logger, documentation

#4913 [HotFix] Logging - One epoch delay on training epoch metrics.
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/logging/test_logger_connector.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: 0:] Ready-To-Go, API / design, Important, Logger, bug / fix

#4931 update changelog
  CHANGELOG.md
Labels: documentation

#4934 upgrade min deps
  .github/workflows/ci_test-full.yml
  requirements.txt
  requirements/extra.txt
  requirements/test.txt
Labels: 0:] Ready-To-Go, Priority P0, tests / CI

#4938 Create memory dynamically
  pytorch_lightning/trainer/supporters.py
Labels: 0:] Ready-To-Go, enhancement

#4888 Allow string plugins
  benchmarks/test_sharded_parity.py
  pytorch_lightning/cluster_environments/cluster_environment.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/plugin.py
  pytorch_lightning/plugins/plugin_connector.py
  pytorch_lightning/plugins/precision_plugin.py
  pytorch_lightning/plugins/sharded_native_amp_plugin.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_plugin.py
  tests/plugins/test_plugin_properties.py
Labels: enhancement

#4250 Added the function for downloading the badges locally and replace the url with downlaod path
  MANIFEST.in
  pytorch_lightning/__init__.py
  pytorch_lightning/setup_tools.py
  setup.py
Labels: 0:] Ready-To-Go, Priority P1, documentation, enhancement

#4941 CI cleaning
  .drone.yml
  benchmarks/test_sharded_parity.py
  tests/__init__.py
  tests/backends/__init__.py
  tests/backends/launcher.py
  tests/backends/test_ddp.py
  tests/base/datasets.py
  tests/trainer/properties/test_get_model.py
Labels: 0:] Ready-To-Go, 3rd-party, Working as intended, enhancement, tests / CI

#4920 Sharded DDP Docs
  docs/source/multi_gpu.rst
  docs/source/performance.rst
Labels: 0:] Ready-To-Go, documentation

#4309 Tpu save
  CHANGELOG.md
  dockers/tpu-tests/tpu_test_cases.jsonnet
  docs/source/amp.rst
  docs/source/conf.py
  docs/source/trainer.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/cloud_io.py
  pytorch_lightning/utilities/device_parser.py
  pytorch_lightning/utilities/xla_device_utils.py
  tests/backends/test_tpu_backend.py
  tests/models/test_tpu.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, Checkpoint, Priority P1, TPU, bug / fix

#4912 drop sklearn dependency
  requirements/extra.txt
  requirements/test.txt
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, enhancement

#4943 CI: skip hanging
  .github/workflows/ci_test-full.yml
  README.md
  requirements/extra.txt
  tests/trainer/logging_tests/test_distributed_logging.py
Labels: tests / CI

#4952 Fix duplicate video in docs
  docs/source/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#4949 increase release
  pytorch_lightning/__init__.py
Labels: documentation

#4954 ci typo in cofig
  .github/workflows/ci_test-full.yml
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: Priority P0, bug / fix, tests / CI

#4942 docs: default_root_path -> default_root_dir
  docs/source/trainer.rst
  notebooks/05-trainer-flags-overview.ipynb
  pytorch_lightning/trainer/properties.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4844 Replace lightning logo asset
  docs/source/_images/logos/lightning_icon.svg
  docs/source/_images/logos/lightning_logo-large.svg
  docs/source/_images/logos/lightning_logo.svg
Labels: 0:] Ready-To-Go, documentation

#4881 update codeowners
  .github/CODEOWNERS
Labels: 0:] Ready-To-Go, enhancement

#4859 refactor imports of optional dependencies
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/debugging.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_horovod.py
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, Refactors and code health, enhancement, help wanted

#4936 Update cloud_io.py
  pytorch_lightning/utilities/cloud_io.py
Labels: 0:] Ready-To-Go, enhancement

#4813 deprecate hprams setter method
  CHANGELOG.md
  docs/source/hyperparameters.rst
  pytorch_lightning/core/lightning.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#4801 :hammer: minor refactor in trainer.
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, Refactors and code health, enhancement

#4906 Organize docstring
  pl_examples/domain_templates/reinforce_learn_Qnet.py
Labels: 0:] Ready-To-Go, documentation

#4816 Update to latest logging format and modify the accuracy method.
  pl_examples/domain_templates/imagenet.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement, tutorial / example

#4695 Deprecate auto mode from ModelCheckpoint and EarlyStopping
  CHANGELOG.md
  docs/source/weights_loading.rst
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, API / design, Checkpoint, enhancement

#4283 [TEST] Min steps override early stopping
  tests/callbacks/test_early_stopping.py
Labels: 0:] Ready-To-Go, tests / CI

#4660 [docs] Added description of saving using ddp
  docs/source/weights_loading.rst
  pl_examples/domain_templates/imagenet.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, documentation

#4138 Fix DP Logging Aggregation
  CHANGELOG.md
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging/test_logger_connector.py
Labels: 0:] Ready-To-Go, Logging, Priority P0, bug / fix

#4549 [Metrics] PrecisionRecallCurve, ROC and AveragePrecision class interface
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/average_precision.py
  pytorch_lightning/metrics/classification/confusion_matrix.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/classification/roc.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/average_precision.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/confusion_matrix.py
  pytorch_lightning/metrics/functional/explained_variance.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/mean_absolute_error.py
  pytorch_lightning/metrics/functional/mean_squared_error.py
  pytorch_lightning/metrics/functional/mean_squared_log_error.py
  pytorch_lightning/metrics/functional/precision_recall_curve.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/functional/roc.py
  pytorch_lightning/metrics/functional/ssim.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/utils.py
  tests/metrics/classification/test_average_precision.py
  tests/metrics/classification/test_precision_recall_curve.py
  tests/metrics/classification/test_roc.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/utils.py
Labels: 0:] Ready-To-Go, API / design, Metrics, Priority P1, enhancement

#4764 fix examples running in DP
  CHANGELOG.md
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/test_examples.py
Labels: 0:] Ready-To-Go, DP, Priority P1, bug / fix, help wanted, tutorial / example

#4875 Improve epoch_result_store code quality
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging/test_logger_connector.py
Labels: enhancement

#4907 Auto convert to contiguous format for all_gather
  CHANGELOG.md
  pytorch_lightning/utilities/distributed.py
  tests/metrics/test_ddp.py
Labels: Metrics, Priority P1, bug / fix

#4490 Update lightning logo
  docs/source/_images/lightning_icon.svg
Labels: 0:] Ready-To-Go, documentation, enhancement

#4528 Fixed PYTHONPATH for ddp test model
  tests/backends/ddp_model.py
  tests/utilities/distributed.py
Labels: 0:] Ready-To-Go, DDP, bug / fix, discussion

#4595 [Bug Fix] Allow logger to support indexing
  pytorch_lightning/loggers/base.py
  tests/loggers/test_base.py
Labels: 0:] Ready-To-Go, API / design, Logger, bug / fix

#4979 Fix exception message for invalid custom string plugin
  pytorch_lightning/plugins/plugin_connector.py
Labels: 0:] Ready-To-Go, bug / fix

#4968 [ci] pytorch nightly gpu test
  .drone.jsonnet
  MANIFEST.in
Labels: 0:] Ready-To-Go, tests / CI

#4969 Enable`self.log` in most functions.
  docs/source/logging.rst
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/test_deprecated.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: 0:] Ready-To-Go, Logger, Priority P0

#4977 Added changeable extension variable for model checkpoints
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, Checkpoint, enhancement

#4951 simplify CI horovod
  tests/__init__.py
  tests/models/data/horovod/train_default_model.py
Labels: 3rd-party, tests / CI

#4984 Simplify optimization Logic
  .drone.yml
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/plugins/test_amp_plugin.py
  tests/special_tests.sh
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, API / design, Priority P0

#4837 Classification metrics overhaul: input formatting standardization (1/n)
  docs/source/metrics.rst
  pytorch_lightning/metrics/classification/helpers.py
  pytorch_lightning/metrics/utils.py
  tests/metrics/classification/inputs.py
  tests/metrics/classification/test_inputs.py
  tests/metrics/utils.py
Labels: 0:] Ready-To-Go, Important, Metrics, documentation, enhancement

#4993 shard doc improvements
  docs/source/multi_gpu.rst
Labels: documentation

#4976 [hotfix] ddp + manual_optimisation
  benchmarks/test_sharded_parity.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/training_loop.py
  tests/special_tests.sh
  tests/trainer/optimization/test_manual_optimization.py
Labels: DDP, Priority P0, bug / fix

#4964 [docs] remove irrelevant docs in optimizer_step
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#4997 [Docs] Add experiment_key argument to online mode example for CometLogger
  pytorch_lightning/loggers/comet.py
Labels: 0:] Ready-To-Go, documentation

#4847 Initialize trainer with None in DDPAccelerator
  pytorch_lightning/accelerators/ddp_accelerator.py
Labels: 0:] Ready-To-Go, API / design, bug / fix

#4629 fast_dev_run can be int
  CHANGELOG.md
  docs/source/debugging.rst
  docs/source/trainer.rst
  pytorch_lightning/trainer/connectors/debugging_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  tests/trainer/flags/test_fast_dev_run.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#5022 docs: minor spelling tweaks
  docs/source/accelerators.rst
  docs/source/asr_nlp_tts.rst
  docs/source/bolts.rst
  docs/source/loggers.rst
  docs/source/lr_finder.rst
  docs/source/metrics.rst
  docs/source/trainer.rst
  docs/source/training_tricks.rst
Labels: 0:] Ready-To-Go, documentation

#5016 [feat] pp 1/n
  benchmarks/test_sharded_parity.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/rpc_plugin.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/utilities/__init__.py
  tests/backends/test_accelerator_connector.py
  tests/plugins/test_rpc_plugin.py
  tests/special_tests.sh
Labels: DDP

#5012 All gatherwith grads
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
  tests/utilities/test_all_gather_grad.py
Labels: 0:] Ready-To-Go, DDP, Metrics, Priority P0, bug / fix

#5021 replace pyright by mypy
  .github/workflows/code-formatting.yml
  .pre-commit-config.yaml
  .pyrightconfig.json
  pytorch_lightning/__init__.py
  pytorch_lightning/setup_tools.py
  requirements/test.txt
  setup.cfg
Labels: 0:] Ready-To-Go, Priority P1, Refactors and code health, tests / CI

#5009 update usage of deprecated distributed_backend
  benchmarks/test_sharded_parity.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/trainer/data_loading.py
  tests/backends/ddp_model.py
  tests/backends/test_accelerator_connector.py
  tests/backends/test_ddp.py
  tests/backends/test_ddp_spawn.py
  tests/backends/test_dp.py
  tests/core/test_datamodules.py
  tests/loggers/test_all.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_horovod.py
  tests/models/test_onnx.py
  tests/models/test_restore.py
  tests/models/test_sync_batchnorm.py
  tests/plugins/test_amp_plugin.py
  tests/plugins/test_apex_plugin.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_scalar_return.py
  tests/trainer/logging_tests/test_distributed_logging.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/trainer/test_trainer_test_loop.py
  tests/utilities/test_dtype_device_mixin.py
Labels: 0:] Ready-To-Go, API / design, Refactors and code health, tests / CI

#5002 CI: update badges for release
  .github/workflows/release-pypi.yml
  MANIFEST.in
  README.md
  pytorch_lightning/setup_tools.py
Labels: 0:] Ready-To-Go, bug / fix

#5037 hotfix ci: release only
  .github/workflows/release-pypi.yml
Labels: Priority P0, bug / fix, tests / CI

#5019 adding missing changelogs
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: 0:] Ready-To-Go, documentation

#5026 [feat] pp 2/n
  .pre-commit-config.yaml
  benchmarks/test_sharded_parity.py
  pl_examples/basic_examples/conv_sequential_example.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/plugins/ddp_sequential_plugin.py
  pytorch_lightning/plugins/plugin_connector.py
  pytorch_lightning/plugins/rpc_plugin.py
  pytorch_lightning/utilities/__init__.py
  requirements/extra.txt
  tests/backends/test_accelerator_connector.py
  tests/plugins/test_ddp_sequential_plugin.py
  tests/plugins/test_rpc_plugin.py
  tests/special_tests.sh
Labels: API / design

#5040 fix GH release badges
  pytorch_lightning/setup_tools.py
Labels: 0:] Ready-To-Go, Priority P1, documentation, tests / CI

#5038 Add carmocca to core
  docs/source/governance.rst
Labels: 0:] Ready-To-Go, documentation

#5036 [feat] 3/n pp
  .pre-commit-config.yaml
  docs/source/multi_gpu.rst
  docs/source/performance.rst
  docs/source/training_tricks.rst
Labels: API / design

#5004 drop deprecated reorder from AUC
  CHANGELOG.md
  pytorch_lightning/metrics/functional/classification.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, Metrics, Refactors and code health

#5024 Simplify GPU and TPU accelerator
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
Labels: 0:] Ready-To-Go, Refactors and code health

#4972 Loss format from .3f to .3g in the tqdm
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, enhancement

#4990 ref: clean config [1/n] add intermediate setters
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Priority P1, Refactors and code health, enhancement, productivity

#5006 update usage of deprecated checkpoint_callback
  tests/backends/test_tpu_backend.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_datamodules.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_restore.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, API / design, Refactors and code health, tests / CI

#5048 release 1.1.0
  CHANGELOG.md
  pytorch_lightning/__init__.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/setup_tools.py
Labels: 0:] Ready-To-Go, enhancement, let's do it!

#5010 update usage of deprecated profiler
  pl_examples/domain_templates/imagenet.py
  pytorch_lightning/trainer/connectors/profiler_connector.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, API / design, Refactors and code health, tests / CI

#5011 update usage of deprecated automatic_optimization
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/trainer/dynamic_args/test_multiple_optimizers.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, API / design, Refactors and code health, tests / CI

#4818 Add a notebook example to reach a quick baseline of ~94% accuracy on CIFAR
  notebooks/06-cifar10-baseline.ipynb
  notebooks/README.md
Labels: 0:] Ready-To-Go, tutorial / example

#5015 simplify accelerator steps
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
Labels: 0:] Ready-To-Go, Refactors and code health

#4915 Initialize trainer with None in DDPAccelerator
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
Labels: DDP, bug / fix

#5046 Update DDP docs
  docs/source/multi_gpu.rst
  docs/source/weights_loading.rst
Labels: 0:] Ready-To-Go, documentation

#5062 Add deprecated metric utility functions back to functional
  CHANGELOG.md
  pytorch_lightning/metrics/functional/__init__.py
Labels: Metrics, Priority P1, bug / fix

#5065 New changelog section after 1.1.0
  CHANGELOG.md
Labels: 0:] Ready-To-Go, Priority P1, documentation

#4981 Check if optimizer supports closure
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/utilities/__init__.py
  requirements/extra.txt
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: bug / fix

#5014 drop duplicate metrics
  pytorch_lightning/metrics/classification/average_precision.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/classification/roc.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/explained_variance.py
  tests/metrics/functional/test_classification.py
Labels: 0:] Ready-To-Go, Metrics, Refactors and code health

#5095 [hotfix] Extend Optimizer + update doc
  docs/source/optimizers.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/trainer/training_loop.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: API / design, Priority P0, bug / fix

#5067 add back compatibility for deprecated metrics 1/n
  CHANGELOG.md
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/reduction.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, Metrics, Priority P0, bug / fix

#5068 add back compatibility for deprecated metrics 2/n
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, Metrics, Priority P0, bug / fix

#5086 CI: upload report only on failer
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
Labels: 0:] Ready-To-Go, tests / CI

#5099 Remove pytorch-lightning["extra"] from docs
  docs/source/multi_gpu.rst
Labels: Priority P1, documentation

#5075 doc improvement: variable not defined
  docs/source/introduction_guide.rst
Labels: 0:] Ready-To-Go, documentation

#5077 Fix docs metrics formatting
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/functional/f_beta.py
Labels: 0:] Ready-To-Go, documentation

#5076 Remove beta arg from F1 class and functional
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/functional/f_beta.py
Labels: API / design, Metrics, bug / fix

#4378 Allow any input in to_onnx and to_torchscript
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  tests/models/test_onnx.py
  tests/models/test_torchscript.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, 3rd-party, API / design, enhancement

#5071 split tests for deprecated api
  tests/deprecated_api/__init__.py
  tests/deprecated_api/test_remove_1-2.py
  tests/deprecated_api/test_remove_1-3.py
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI

#5058 drop unused test with result api
  tests/base/deterministic_model.py
  tests/base/model_test_steps.py
  tests/base/model_train_steps.py
  tests/base/model_valid_steps.py
  tests/core/test_results.py
  tests/models/test_tpu.py
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI

#5049 Improve some tests
  tests/checkpointing/test_model_checkpoint.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Priority P2, Refactors and code health, tests / CI

#4593 Refactor load in checkpoint connector
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/base/develop_pipelines.py
  tests/models/data/horovod/train_default_model.py
Labels: 0:] Ready-To-Go, Refactors and code health, enhancement

#5057 Do not warn when the name key is used in the lr_scheduler dict
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_monitor.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/optimizers.py
  tests/callbacks/test_lr_monitor.py
  tests/trainer/test_optimizers.py
Labels: Priority P1, bug / fix

#5111 Add Google Colab badges
  notebooks/04-transformers-text-classification.ipynb
  notebooks/05-trainer-flags-overview.ipynb
Labels: 0:] Ready-To-Go, tutorial / example

#5082 set xxx_AVAILABLE as protected
  benchmarks/test_sharded_parity.py
  docs/source/amp.rst
  docs/source/conf.py
  docs/source/introduction_guide.rst
  docs/source/trainer.rst
  docs/source/transfer_learning.rst
  pl_examples/basic_examples/conv_sequential_example.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/overrides/fairscale.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/plugins/ddp_sequential_plugin.py
  pytorch_lightning/plugins/rpc_plugin.py
  pytorch_lightning/plugins/sharded_native_amp_plugin.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/device_parser.py
  pytorch_lightning/utilities/xla_device_utils.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_horovod.py
  tests/models/test_tpu.py
  tests/plugins/test_amp_plugin.py
  tests/plugins/test_apex_plugin.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_ddp_sequential_plugin.py
  tests/plugins/test_rpc_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/properties/log_dir.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, API / design, Refactors and code health

#5132 Docs/v1.2
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: documentation

#5134 Fix hanging metrics tests
  tests/metrics/regression/test_ssim.py
  tests/metrics/utils.py
Labels: DDP, Metrics, bug / fix

#5135 simplify changelog
  CHANGELOG.md
Labels: documentation

#5143 add copyright to tests
  tests/__init__.py
  tests/collect_env_details.py
  tests/conftest.py
  tests/test_profiler.py
Labels: documentation, tests / CI

#5151 Prune CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#4861 Fix saved filename in ModelCheckpoint if it already exists
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, API / design, Checkpoint, bug / fix

#5142 Update isort config
  benchmarks/test_parity.py
  benchmarks/test_sharded_parity.py
  pyproject.toml
  pytorch_lightning/setup_tools.py
  tests/conftest.py
  tests/test_profiler.py
Labels: 0:] Ready-To-Go, enhancement

#5106 Fix reset TensorRunningAccum
  pytorch_lightning/trainer/supporters.py
  tests/trainer/test_supporters.py
Labels: 0:] Ready-To-Go, bug / fix

#5157 Fix hang in DDP HPC accelerators
  CHANGELOG.md
  pytorch_lightning/accelerators/ddp_cpu_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
Labels: DDP, Priority P0, bug / fix

#5080 support number for logging with sync_dist=True
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/utilities/distributed.py
  tests/special_tests.sh
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: 0:] Ready-To-Go, Logger

#5119 Un-balanced logging properly supported
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  tests/trainer/optimization/test_multiple_optimizers.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix

#5121 [bugfix] remove nan loss in manual optimization
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, Logger, Priority P1, bug / fix

#5150 [bug-fix] Metric reduction with Logging
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/step_result.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: Metrics, Priority P0

#5094 [feat] Enable self.log in callbacks
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/training_loop.py
  setup.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: Logger

#5163 Disable pl optimizer temporarily to fix AMP issues
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callbacks.py
Labels: Priority P0, bug / fix

#5113 drop install FairScale for TPU
  dockers/base-xla/Dockerfile
  dockers/tpu-tests/Dockerfile
Labels: 0:] Ready-To-Go, Priority P1, tests / CI

#5112 temporarily suspend all mergify rules
  .mergify.yml
Labels: 0:] Ready-To-Go, Priority P0, tests / CI

#5085 prune ecosystem example
  pl_examples/__init__.py
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/conv_sequential_example.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/bug_report_model.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pl_examples/domain_templates/unet.py
  pl_examples/pytorch_ecosystem/__init__.py
  pl_examples/pytorch_ecosystem/pytorch_geometric/README.md
  pl_examples/pytorch_ecosystem/pytorch_geometric/__init__.py
  pl_examples/pytorch_ecosystem/pytorch_geometric/cora_dna.py
  pl_examples/pytorch_ecosystem/pytorch_geometric/lightning.py
  pl_examples/pytorch_ecosystem/pytorch_geometric/pyproject.toml
  pl_examples/test_examples.py
  requirements/examples.txt
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI, tutorial / example

#5079 add doctests for example 1/n
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/conv_sequential_example.py
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/bug_report_model.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pl_examples/domain_templates/unet.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix, tests / CI, tutorial / example

#2072 Document speed comparison
  benchmarks/__init__.py
  benchmarks/generate_comparison.py
  benchmarks/test_basic_parity.py
  benchmarks/test_sharded_parity.py
  docs/source/_images/benchmarks/figure-parity-times.png
  docs/source/benchmarking.rst
  docs/source/index.rst
  requirements/test.txt
  tests/base/datasets.py
Labels: 0:] Ready-To-Go, documentation, tests / CI

#5171 Prelease 1.1.2rc
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: Priority P1

#5128 Fixed docs for WandbLogger
  pytorch_lightning/loggers/wandb.py
Labels: 0:] Ready-To-Go, documentation

#4925 update DALIClassificationLoader to not use deprecated arguments
  .drone.yml
  pl_examples/basic_examples/dali_image_classifier.py
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, bug / fix, tutorial / example

#5183 Github Actions deprecation
  .github/workflows/release-docker.yml
Labels: 0:] Ready-To-Go, Priority P1, tests / CI

#5124 Correct call to torch.no_grad
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, DDP, Priority P1, bug / fix

#5050 feat(wandb): offset logging step when resuming
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_all.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, 3rd-party, Logger, bug / fix

#5017 annotat unused vars
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/functional/psnr.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
Labels: 0:] Ready-To-Go, Priority P1, Refactors and code health

#5190 reduce verbosity level in drone ci
  .drone.yml
Labels: 0:] Ready-To-Go, Priority P2, tests / CI

#5172 Remove Sourcerer
  README.md
Labels: 0:] Ready-To-Go, documentation

#5186 skip multi-gpu test when running on single-gpu machine
  tests/models/test_gpu.py
Labels: 0:] Ready-To-Go, Priority P2, enhancement, tests / CI

#5209 Update warning if ckpt directory is not empty
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: Checkpoint

#5202 fix/enable - check F841
  setup.cfg
  tests/base/deterministic_model.py
  tests/base/test_datasets.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/core/test_datamodules.py
  tests/core/test_lightning_module.py
  tests/core/test_metric_result_integration.py
  tests/loggers/test_all.py
  tests/metrics/classification/test_confusion_matrix.py
  tests/metrics/test_metric.py
  tests/models/test_hparams.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_dataloaders.py
  tests/tuner/test_auto_gpu_select.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5204 add make cmd - clean
  .update.sh
  Makefile
Labels: 0:] Ready-To-Go, Refactors and code health

#5200 fix/enable - check E501
  pl_examples/basic_examples/dali_image_classifier.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/metrics/classification/helpers.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/precision_recall_curve.py
  pytorch_lightning/setup_tools.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/optimizers.py
  setup.cfg
  tests/base/models.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_results.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/functional/test_classification.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_trainer.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5198 remove unused rpc import in modelcheckpoint causing import error
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: Checkpoint, Priority P0, bug / fix

#5083 add doctests for example 2/n segmentation
  pl_examples/domain_templates/semantic_segmentation.py
  pl_examples/pytorch_ecosystem/__init__.py
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI, tutorial / example

#5199 Unify names in Utils
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/env_vars_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/argparse_utils.py
  pytorch_lightning/utilities/model_helpers.py
  pytorch_lightning/utilities/model_utils.py
  pytorch_lightning/utilities/warning_utils.py
  pytorch_lightning/utilities/warnings.py
  pytorch_lightning/utilities/xla_device.py
  pytorch_lightning/utilities/xla_device_utils.py
  tests/backends/test_tpu_backend.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-2.py
  tests/deprecated_api/test_remove_1-3.py
  tests/deprecated_api/test_remove_1-4.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_argparse_utils.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5237 Tighten up mypy config
  setup.cfg
Labels: tests / CI

#5240 update for v1.1.2
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: 0:] Ready-To-Go, documentation

#5191 [Bugfix] Add LightningOptimizer parity test and resolve AMP bug
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/boring_model.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/trainer/optimization/test_parity_automatic_optimization.py
  tests/trainer/optimization/test_parity_manual_optimization.py
Labels: Priority P0, bug / fix

#5242 update chlog for future 1.1.3rc
  CHANGELOG.md
Labels: 0:] Ready-To-Go, Priority P1, documentation

#5125 [bugfix] Group defaults to WORLD if None
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, DDP, bug / fix

#5170 add memory parity for PL vs Vanilla
  benchmarks/generate_comparison.py
  benchmarks/test_basic_parity.py
  benchmarks/test_sharded_parity.py
  tests/base/develop_utils.py
Labels: 0:] Ready-To-Go, Priority P1, tests / CI

#5233 releasing feature as nightly
  .github/workflows/nightly.yml
  README.md
Labels: 0:] Ready-To-Go, Priority P1, documentation, tests / CI

#5206 update PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0:] Ready-To-Go, Priority P1, documentation

#5234 skip some description from pypi
  README.md
  pytorch_lightning/setup_tools.py
Labels: 0:] Ready-To-Go, documentation

#5228 [docs] fix typo in Optimization
  docs/source/optimizers.rst
Labels: 0:] Ready-To-Go, documentation

#5226 [Docs] Fix typo in Trainer.test()
  docs/source/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#5109 Add TPU example
  README.md
  notebooks/06-mnist-tpu-training.ipynb
  notebooks/07-cifar10-baseline.ipynb
  notebooks/README.md
Labels: 0:] Ready-To-Go, tutorial / example

#5018 Update README.md
  README.md
Labels: 0:] Ready-To-Go, documentation

#5260 CI fix nigtly releases
  .github/prepare-nightly_version.py
  tests/deprecated_api/test_remove_1-3.py
Labels: Priority P0, tests / CI

#5139 Minor doc fixes
  docs/source/multi_gpu.rst
  docs/source/trainer.rst
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#5270 Fix typo in doc
  docs/source/optimizers.rst
Labels: 0:] Ready-To-Go, documentation

#5214 Trainer.test should return only test metrics
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
Labels: Logger, Priority P1

#5287 [Docs] Remove outdated docs on `CUDA_DEVICE_ORDER` and `CUDA_VISIBLE_DEVICES`
  docs/source/multi_gpu.rst
Labels: documentation

#5291 Apply isort to `pl_examples/`
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/conv_sequential_example.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/bug_report_model.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pyproject.toml
Labels: enhancement

#5280 [Metrics] [Docs] Add section about device placement
  docs/source/metrics.rst
Labels: Metrics, documentation
