Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-05, with the labels that each got.

#1678 fixing LBFGS test
  tests/base/utils.py
  tests/models/test_cpu.py
Labels: High Priority, PR: Ready-To-Go, tests / CI

#1469 move unnecessary dict trainer_options
  tests/base/utils.py
  tests/callbacks/test_callbacks.py
  tests/loggers/test_base.py
  tests/loggers/test_neptune.py
  tests/loggers/test_trains.py
  tests/loggers/test_wandb.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_restore.py
  tests/trainer/test_checks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, enhancement, tests / CI

#1669 Fix Horovod distributed backend to set the root_gpu property
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_horovod.py
Labels: High Priority, PR: Ready-To-Go, bug

#1695 Trigger automatic rebase on issue comment
  .github/workflows/rebase.yml
Labels: PR: Ready-To-Go, tests / CI

#1652 refactor default model
  tests/base/eval_model_optimizers.py
  tests/base/eval_model_template.py
  tests/base/eval_model_test_steps.py
  tests/base/eval_model_valid_steps.py
  tests/base/utils.py
  tests/callbacks/test_callbacks.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/loggers/test_neptune.py
  tests/loggers/test_trains.py
  tests/loggers/test_wandb.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/trainer/test_checks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
Labels: PR: Ready-To-Go, tests / CI

#1613 Docker release
  .github/workflows/docker_builds.yml
Labels: PR: Ready-To-Go, bug

#1577 fix LightningTemplateModel
  CHANGELOG.md
  pl_examples/models/lightning_template.py
Labels: bug, waiting on author

#1639 Change lightning module params to dict when loading
  pytorch_lightning/core/lightning.py
Labels: PR: Ready-To-Go, enhancement

#1492 wandb logger 'global_step' affects other logger
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: PR: Ready-To-Go, bug, enhancement

#1680 Fix typo in progress bar docs
  pytorch_lightning/callbacks/progress.py
Labels: PR: Ready-To-Go, documentation

#1564 Transfer learning example
  CHANGELOG.md
  pl_examples/domain_templates/computer_vision_fine_tuning.py
Labels: tutorial, waiting on author

#1609 [WIP] Reduction when batch size < num gpus
  CHANGELOG.md
  pytorch_lightning/trainer/logging.py
  tests/trainer/test_dataloaders.py
Labels: PR: Ready-To-Go, bug

#1651 refactor trainer checks
  tests/base/eval_model_valid_epoch_ends.py
  tests/trainer/test_checks.py
Labels: PR: Ready-To-Go, tests / CI

#1725 specify cache matrix
  .github/workflows/ci-testing.yml
Labels: High Priority, tests / CI

#1689 Tests: refactor loggers
  tests/loggers/test_base.py
  tests/loggers/test_neptune.py
  tests/loggers/test_trains.py
  tests/loggers/test_wandb.py
Labels: tests / CI

#1723 Update type hints for multiple dataloaders in .fit() and .test()
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_dataloaders.py
Labels: PR: Ready-To-Go, documentation

#1691 Tests: refactor models
  pytorch_lightning/core/lightning.py
  tests/callbacks/test_callbacks.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
Labels: tests / CI

#1676 Bugfix/lr finder
  CHANGELOG.md
  pytorch_lightning/trainer/lr_finder.py
  tests/trainer/test_lr_finder.py
Labels: PR: Ready-To-Go, bug

#1692 Fix example argument parser in docs
  docs/source/hyperparameters.rst
Labels: documentation

#1709 Fix disabling progress bar on non-zero ranks using Horovod backend
  .github/workflows/ci-testing.yml
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
Labels: PR: Ready-To-Go, bug

#1728 Tests: refactor trainer
  tests/base/eval_model_optimizers.py
  tests/base/eval_model_template.py
  tests/base/eval_model_test_dataloaders.py
  tests/base/eval_model_train_steps.py
  tests/base/eval_model_valid_dataloaders.py
  tests/base/eval_model_valid_epoch_ends.py
  tests/base/models.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, tests / CI

#1555 Move generated RST files to subfolder
  .gitignore
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
Labels: PR: Ready-To-Go, documentation

#1511 doctest for .rst files
  .circleci/config.yml
  .drone.yml
  docs/source/apex.rst
  docs/source/callbacks.rst
  docs/source/child_modules.rst
  docs/source/conf.py
  docs/source/debugging.rst
  docs/source/early_stopping.rst
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/fast_training.rst
  docs/source/hyperparameters.rst
  docs/source/introduction_guide.rst
  docs/source/lr_finder.rst
  docs/source/multi_gpu.rst
  docs/source/multiple_loaders.rst
  docs/source/new-project.rst
  docs/source/optimizers.rst
  docs/source/sequences.rst
  docs/source/single_gpu.rst
  docs/source/slurm.rst
  docs/source/test_set.rst
  docs/source/training_tricks.rst
  docs/source/transfer_learning.rst
  docs/source/weights_loading.rst
Labels: PR: Ready-To-Go, tests / CI

#1690 Tests: refactor trainer dataloaders
  pytorch_lightning/trainer/data_loading.py
  tests/base/eval_model_test_dataloaders.py
  tests/base/eval_model_test_epoch_ends.py
  tests/base/eval_model_test_steps.py
  tests/base/eval_model_train_dataloaders.py
  tests/base/eval_model_utils.py
  tests/base/eval_model_valid_dataloaders.py
  tests/trainer/test_dataloaders.py
Labels: PR: Ready-To-Go, tests / CI

#1734 Fixing sampler logic for ddp with iterable dataset
  pytorch_lightning/trainer/training_loop.py
Labels: PR: Ready-To-Go, bug

#1705 Complete test for batch size < num gpus
  tests/trainer/test_dataloaders.py
Labels: tests / CI

#1717 improve pickle tests for callbacks
  pytorch_lightning/callbacks/early_stopping.py
  tests/callbacks/test_callbacks.py
Labels: PR: Ready-To-Go, enhancement

#1560 fix _reset_eval_dataloader() for IterableDataset
  pytorch_lightning/trainer/data_loading.py
Labels: PR: Ready-To-Go, bug

#1739 Mock packages for RTD docs build (follow up to doctests)
  docs/source/conf.py
Labels: High Priority, PR: Ready-To-Go, documentation

#1746 lr_finder: Fix typo in docstring
  pytorch_lightning/trainer/lr_finder.py
Labels: PR: Ready-To-Go, documentation

#1750 Fix many typos
  .github/workflows/docs-check.yml
  docs/source/lr_finder.rst
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  setup.py
  tests/models/test_gpu.py
  tests/trainer/test_checks.py
Labels: PR: Ready-To-Go, documentation

#1745 added warning for None dataloader
  pytorch_lightning/trainer/data_loading.py
Labels: PR: Ready-To-Go, documentation

#1724 Also update progress_bar in training_epoch_end
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_module_hooks.py
Labels: enhancement, tests / CI

#1638 Feature: auto scale batch size
  CHANGELOG.md
  docs/source/training_tricks.rst
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/memory.py
  tests/trainer/test_trainer_tricks.py
Labels: PR: Ready-To-Go, enhancement

#1744 Tests: refactor cleanup
  .github/workflows/docker-builds.yml
  tests/base/__init__.py
  tests/base/dataloaders.py
  tests/base/debug.py
  tests/base/mixins.py
  tests/base/model_optimizers.py
  tests/base/model_template.py
  tests/base/model_test_dataloaders.py
  tests/base/model_test_epoch_ends.py
  tests/base/model_test_steps.py
  tests/base/model_train_dataloaders.py
  tests/base/model_train_steps.py
  tests/base/model_utilities.py
  tests/base/model_valid_dataloaders.py
  tests/base/model_valid_epoch_ends.py
  tests/base/model_valid_steps.py
  tests/base/models.py
  tests/base/utils.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_progress_bar.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/loggers/test_neptune.py
  tests/loggers/test_trains.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_module_hooks.py
  tests/models/test_restore.py
  tests/test_deprecated.py
  tests/test_profiler.py
  tests/trainer/test_checks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/trainer/test_trainer_tricks.py
Labels: PR: Ready-To-Go, tests / CI

#1760 Group argument wandb
  pytorch_lightning/loggers/wandb.py
Labels: PR: Ready-To-Go, enhancement

#1698 Fixed error message in MisconfigurationException and test docstring to test_error_on_no_train_dataloader
  pytorch_lightning/trainer/trainer.py
Labels: PR: Ready-To-Go, bug, documentation

#1753 Enable NeptuneLogger to work with distributed_backend=ddp
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_neptune.py
Labels: PR: Ready-To-Go, enhancement

#1765 Fix Docker Pipeline
  .github/workflows/docker-builds.yml
Labels: PR: Ready-To-Go, bug

#1719 Fix lr key name in case of param groups
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_logger.py
  tests/base/mixins.py
  tests/base/model_optimizers.py
  tests/callbacks/test_callbacks.py
Labels: PR: Ready-To-Go, bug

#1779 enable fast_dev_run without a validation loop
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/evaluation_loop.py
Labels: enhancement

#1776 RC & Docs/changelog
  CHANGELOG.md
  pytorch_lightning/__init__.py
  tests/models/data/horovod/train_default_model.py
  tests/test_profiler.py
Labels: documentation

#1670 Removed test_dataloader call in check_testing_model_configuration
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_checks.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, bug

#1718 set logger level for package
  pytorch_lightning/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: PR: Ready-To-Go, enhancement

#1788 fixed native amp + ddp
  pytorch_lightning/trainer/trainer.py
Labels: High Priority

#1786 Join Horovod workers at the end of trainer.fit() to prevent race conditions following training
  pytorch_lightning/core/model_saving.py
  pytorch_lightning/core/root_module.py
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/logging/comet.py
  pytorch_lightning/logging/mlflow.py
  pytorch_lightning/logging/neptune.py
  pytorch_lightning/logging/test_tube.py
  pytorch_lightning/logging/wandb.py
  pytorch_lightning/pt_overrides/override_data_parallel.py
  pytorch_lightning/root_module/decorators.py
  pytorch_lightning/root_module/grads.py
  pytorch_lightning/root_module/hooks.py
  pytorch_lightning/root_module/memory.py
  pytorch_lightning/root_module/model_saving.py
  pytorch_lightning/root_module/root_module.py
  pytorch_lightning/trainer/distrib_parts.py
Labels: High Priority, PR: Ready-To-Go, bug

#1789 made ddp the default if no backend specified with multiple GPUs
  docs/source/multi_gpu.rst
  pytorch_lightning/trainer/distrib_data_parallel.py
  tests/models/test_gpu.py
  tests/trainer/test_trainer.py
Labels: enhancement

#1783 Fix build Docker releases
  .github/workflows/docker-builds.yml
Labels: PR: Ready-To-Go, enhancement

#1647 Bug fix hparam logging with metrics
  pytorch_lightning/loggers/tensorboard.py
Labels: PR: Ready-To-Go, bug, waiting on author

#1572 Option to provide seed to random generators to ensure reproducibility
  CHANGELOG.md
  benchmarks/test_rnn_parity.py
  benchmarks/test_trainer_parity.py
  pytorch_lightning/__init__.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/seed.py
  pytorch_lightning/trainer/trainer.py
  tests/base/utils.py
  tests/models/test_horovod.py
Labels: PR: Ready-To-Go, enhancement

#1794 Missing profiler attribute in add_argparse_args() ArgumentParser
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
Labels: bug

#1805 Add forgotten deterministic trainer flag to doctest
  pytorch_lightning/trainer/trainer.py
Labels: High Priority, documentation, tests / CI

#1791 device property
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/properties.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  tests/base/model_template.py
Labels: enhancement

#1797 added override for hparams in load_from_ckpt
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
Labels: enhancement

#1271 Replace meta_tags.csv with hparams.yaml
  CHANGELOG.md
  docs/source/test_set.rst
  environment.yml
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_io.py
  requirements.txt
  tests/base/utils.py
  tests/models/test_restore.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, enhancement

#1798 Update README.md
  README.md
Labels: documentation

#1811 [ddp] Support multi-node distributed execution under torchelastic
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#1801 Bugfix: accumulation and suggestion for learning rate finder
  CHANGELOG.md
  pytorch_lightning/trainer/lr_finder.py
  tests/trainer/test_lr_finder.py
Labels: bug

#1807 args should come after the last positional argument
  pytorch_lightning/core/lightning.py
Labels: enhancement

#1821 Fix failing docs
  .circleci/config.yml
  .readthedocs.yml
  docs/source/conf.py
Labels: High Priority, documentation

#1835 docs dpp warn
  docs/source/lr_finder.rst
  docs/source/training_tricks.rst
Labels: documentation

#1842 extend arg parser
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer_cli.py
Labels: enhancement

#1843 Enable non-blocking for gpu device transfer
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_parts.py
Labels: enhancement

#1813 release 0.7.6
  CHANGELOG.md
  MANIFEST.in
  README.md
  docs/source/_images/general/tutorial_cover.jpg
  docs/source/_images/general/tutorial_cover.png
  pytorch_lightning/__init__.py
Labels: documentation

#1849 remove obsolete self._device in Trainer
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#1793 continue devel
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: PR: Ready-To-Go, documentation

#1820 remove extra kwargs from Trainer init
  CHANGELOG.md
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: bug, enhancement, let's do it!

#1780 Fix `save_weights_only` flag in ModelCheckpoint
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/training_io.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, Priority, bug

#1851 Adding a new section to the docs: Example Lightning Project Structures
  docs/source/index.rst
Labels: PR: Ready-To-Go, documentation

#1854 Fixed the default value of auto_lr_find in docs
  docs/source/lr_finder.rst
Labels: PR: Ready-To-Go

#1858 add test for trainer.test()
  tests/trainer/test_checks.py
Labels: PR: Ready-To-Go

#1729 Allow user to select individual TPU core to train on
  CHANGELOG.md
  README.md
  docs/source/apex.rst
  docs/source/introduction_guide.rst
  docs/source/multi_gpu.rst
  docs/source/new-project.rst
  docs/source/tpu.rst
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/test_deprecated.py
Labels: PR: Ready-To-Go, enhancement, waiting on author

#1867 fix codecov reports
  .codecov.yml
  tests/requirements.txt
Labels: documentation, tests / CI

#1862 Remove NaNs from loss in LRFinder
  CHANGELOG.md
  pytorch_lightning/trainer/lr_finder.py
  tests/trainer/test_lr_finder.py
Labels: enhancement

#1877 New metric classes (#1326)
  .github/workflows/ci-testing.yml
  CHANGELOG.md
  README.md
  docs/source/index.rst
  docs/source/metrics.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  tests/metrics/__init__.py
  tests/metrics/test_converters.py
  tests/metrics/test_metrics.py
  tests/utilities/__init__.py
  tests/utilities/test_apply_func.py
Labels: PR: Ready-To-Go, enhancement

#1900 fix syntax issue
  .github/workflows/ci-testing.yml
  README.md
Labels: Priority, tests / CI

#1907 Allow dataloaders without sampler field present
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
Labels: enhancement

#1823 Raise RTD doc build warnings as errors
  .readthedocs.yml
Labels: PR: Ready-To-Go, documentation, tests / CI

#1917 set min PT 1.3
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  .mergify.yml
  CHANGELOG.md
  README.md
  requirements.txt
Labels: documentation, tests / CI

#1873 Fix user warning produced by apex + scheduler combination
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/optimizers.py
Labels: PR: Ready-To-Go, bug / fix

#1931 readme
  README.md
  docs/source/governance.rst
Labels: PR: Ready-To-Go, documentation

#1896 replace Hparams by init args
  .gitignore
  .run_local_tests.sh
  CHANGELOG.md
  docs/source/hyperparameters.rst
  docs/source/lr_finder.rst
  docs/source/training_tricks.rst
  docs/source/weights_loading.rst
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pl_examples/models/lightning_template.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_tricks.py
  tests/base/model_optimizers.py
  tests/base/model_template.py
  tests/base/model_utilities.py
  tests/base/models.py
  tests/callbacks/test_callbacks.py
  tests/loggers/test_base.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_hparams.py
  tests/models/test_module_hooks.py
  tests/models/test_restore.py
  tests/trainer/test_checks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
Labels: Important, enhancement, help wanted

#1938 Re-Enable Import Errors
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/trains.py
  pytorch_lightning/loggers/wandb.py
Labels: enhancement

#1934 update min req
  .circleci/config.yml
  .github/workflows/docker-builds.yml
  README.md
  environment.yml
Labels: PR: Ready-To-Go, documentation, tests / CI

#1908 Adds the option of saving the last model on checkpoint
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, enhancement

#1855 protect progress bar callback
  CHANGELOG.md
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_progress_bar.py
  tests/trainer/test_lr_finder.py
Labels: PR: Ready-To-Go, enhancement

#1458 early stopping checks on_validation_end
  CHANGELOG.md
  docs/source/early_stopping.rst
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/trainer/training_loop.py
Labels: PR: Ready-To-Go, enhancement, help wanted

#1941 support ddp2 in non slurm
  pytorch_lightning/trainer/trainer.py
Labels: PR: Ready-To-Go, enhancement

#1932 handle unknown args passed to Trainer.from_argparse_args
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer_cli.py
Labels: bug / fix

#1948 Remove unused param tpu_core_idx
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
Labels: PR: Ready-To-Go, bug / fix

#1950 fix all warnings and formatting problems
  docs/source/conf.py
  pytorch_lightning/metrics/sklearn.py
Labels: PR: Ready-To-Go, documentation

#1955 fix bilinear upsampling in unet example
  pl_examples/models/unet.py
Labels: PR: Ready-To-Go, bug / fix

#1897 fix metrics test
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
Labels: bug / fix

#1961 Gen ddp support
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#1963 Revert "Remove unused param tpu_core_idx"
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
Labels: bug / fix

#1927 fix default arg
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/training_io.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, bug / fix

#1863 Removing unecessary early stopping calls
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
Labels: PR: Ready-To-Go, enhancement

#1944 LearningRateLogger in multi-scheduler setting
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_logger.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_lr.py
Labels: PR: Ready-To-Go, bug / fix

#1940 unify tests
  tests/loggers/test_all.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_trainer_tricks.py
Labels: PR: Ready-To-Go, tests / CI

#1954 Fix root node resolution for SLURM cluster with dash in host name
  pytorch_lightning/trainer/distrib_data_parallel.py
Labels: bug / fix

#1949 code guideline
  .github/CONTRIBUTING.md
  CHANGELOG.md
  docs/source/conf.py
Labels: PR: Ready-To-Go, documentation

#1987 Minor typo
  docs/source/optimizers.rst
Labels: PR: Ready-To-Go, documentation

#1994 Add toma comments to auto_scale_batch_size
  docs/source/training_tricks.rst
  pytorch_lightning/utilities/memory.py
Labels: PR: Ready-To-Go, documentation

#1631 Graceful shutdown on python interpreter exit
  .circleci/config.yml
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
Labels: PR: Ready-To-Go, enhancement

#1992 Document use case of passing test dataloaders to Trainer.test()
  docs/source/test_set.rst
Labels: PR: Ready-To-Go, documentation

#1984 docs/fix_CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: PR: Ready-To-Go, documentation

#2011 Few trainer doc typo correction
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#1864 fix changelog
  CHANGELOG.md
  docs/source/test_set.rst
  pytorch_lightning/__init__.py
  tests/test_deprecated.py
Labels: PR: Ready-To-Go, documentation

#2025 hotfix to unblock hparams and OmniConf - removes auto_register_init_args by default
  pytorch_lightning/core/lightning.py
  requirements-extra.txt
  tests/base/model_template.py
  tests/base/model_train_steps.py
  tests/base/model_valid_epoch_ends.py
  tests/base/model_valid_steps.py
  tests/models/test_hparams.py
  tests/trainer/test_dataloaders.py
Labels: Priority, bug / fix

#2019 Bugfix/fix gan example
  pl_examples/domain_templates/generative_adversarial_net.py
Labels: bug / fix

#1799 Keep track of the best model's path saved by ModelCheckpoint
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/training_io.py
Labels: Priority, enhancement, waiting on author

#1996 Fixes EarlyStopping With Precision=16
  pytorch_lightning/callbacks/early_stopping.py
Labels: bug / fix
