Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-10, with the labels that each got.

#3754 Added gradient clip test for native AMP
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, tests / CI

#3425 Add datamodule parameter to lr_find()
  CHANGELOG.md
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/tuner/tuning.py
  tests/trainer/test_lr_finder.py
Labels: 0:] Ready-To-Go, bug / fix

#2962 skip best_model_path if checkpoint_callback is None
  pytorch_lightning/accelerators/tpu_backend.py
Labels: TPU, bug / fix

#3517 Metric aggregation testing
  CHANGELOG.md
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/regression.py
  pytorch_lightning/metrics/self_supervised.py
  tests/metrics/functional/test_regression.py
  tests/metrics/test_aggregation.py
  tests/metrics/test_metrics.py
Labels: Metrics

#3768 Fix for PyTorch 1.7 CI
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/device_dtype_mixin.py
Labels: Priority, bug / fix

#3750 Use `raise .. from ..` to explicitly chain exceptions
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/utilities/parsing.py
  tests/base/models.py
Labels: 0:] Ready-To-Go, enhancement

#3765 fix path in CI for release & python version in all dockers & duplicated badges
  .drone.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/nightly.yml
  .github/workflows/pypi-release.yml
  .pyrightconfig.json
  README.md
  dockers/base-cuda/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/conda/Dockerfile
  dockers/tpu-tests/Dockerfile
  environment.yml
  requirements/install_AMP.sh
  tests/README.md
Labels: Priority, bug / fix, documentation, tests / CI

#3708 Add link to PL forum in GH questions template
  .github/ISSUE_TEMPLATE/how-to-question.md
Labels: 0:] Ready-To-Go, documentation

#3788 revert backend types
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/base_backend.py
  pytorch_lightning/accelerators/ddp_base_backend.py
  pytorch_lightning/accelerators/tpu_backend.py
  pytorch_lightning/trainer/data_loading.py
  tests/models/test_tpu.py
Labels: Refactor

#3784 Remove torch<1.3.0 warning from tb logger
  pytorch_lightning/loggers/tensorboard.py
Labels: 0:] Ready-To-Go, Dependency issue

#3782 Use fsspec with OmegaConf saving in saving.py
  pytorch_lightning/core/saving.py
Labels: 0:] Ready-To-Go, enhancement

#3779 [TPU CI] Use timestamp+pythonVersion to form the docker image tag.
  .github/workflows/ci_test-tpu.yml
Labels: 0:] Ready-To-Go, TPU, bug / fix, tests / CI

#3800 fix cache warning
  pytorch_lightning/overrides/data_parallel.py
Labels: bug / fix, documentation

#3802 ref: part 7 of #3733
  pytorch_lightning/accelerators/ddp_spawn_backend.py
Labels: Refactor

#3801 Update model_checkpoint's to_yaml to use fsspec open
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: 0:] Ready-To-Go, enhancement

#3787 Swap torch.load for fsspec load in ddp spawn backend
  CHANGELOG.md
  pytorch_lightning/accelerators/ddp_cpu_spawn_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
Labels: 0:] Ready-To-Go, enhancement

#3700 Fix `on_train_batch_start` hook to end epoch early
  CHANGELOG.md
  docs/source/early_stopping.rst
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, bug / fix

#3805 Fsspec is inconsistant when doing fs.ls
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: bug / fix

#3794 Some docs update
  docs/source/converting.rst
  docs/source/introduction_guide.rst
  docs/source/new-project.rst
  docs/source/performance.rst
Labels: documentation

#3692 Use fsspec in load to resolve more paths/URLs from storage backends
  CHANGELOG.md
  pytorch_lightning/utilities/cloud_io.py
Labels: enhancement

#3751 Fix val_progress_bar total with num_sanity_val_steps
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
  tests/callbacks/test_progress_bar.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, bug / fix, v1.0 allowed

#3844 Add early stopping deprecation warning for v0.10.0
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: API / design, v1.0 allowed

#3846 Add back sanity checks
  tests/trainer/test_trainer.py
Labels: tests / CI

#3796 Fix tbptt_reduce_fx when non-floating tensors are logged
  pytorch_lightning/core/step_result.py
  tests/trainer/logging/test_train_loop_logging_1_0.py
Labels: bug / fix, v1.0 allowed

#3847 Fixes typo
  pytorch_lightning/trainer/__init__.py
Labels: 0:] Ready-To-Go, documentation

#3845 Deprecate early_stop_callback Trainer argument (part 2)
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/utilities/debugging.py
  tests/backends/test_ddp_spawn.py
  tests/callbacks/test_early_stopping.py
  tests/models/test_gpu.py
  tests/models/test_tpu.py
Labels: API / design, v1.0 allowed

#3617 Mocking loggers (part 2, neptune)
  pytorch_lightning/loggers/neptune.py
  requirements/extra.txt
  tests/loggers/test_all.py
  tests/loggers/test_neptune.py
Labels: tests / CI

#3851 Mocking loggers (part 3a, comet)
  tests/loggers/test_all.py
  tests/loggers/test_comet.py
Labels: Refactor, tests / CI

#3859 Mocking Loggers (part 3c, comet)
  tests/loggers/test_comet.py
Labels: tests / CI

#3863 fix init nan for checkpointing
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
Labels: bug / fix

#3785 [Bug-Fix]:properties `current_epoch` and `global_step` between model and trainer same always
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_restore.py
Labels: bug / fix, v1.0 allowed

#2776 Fix for `load_from_checkpoint`
  pytorch_lightning/core/saving.py
  tests/base/model_template.py
  tests/models/test_hparams.py
  tests/models/test_restore.py
Labels: 0:] Ready-To-Go, Checkpoint, Priority, bug / fix, v1.0 allowed

#3884 Mocking Loggers (part 4a, mlflow)
  pytorch_lightning/loggers/mlflow.py
  tests/loggers/test_mlflow.py
Labels: Logger, tests / CI

#3853 Mocking Loggers (part 3b, comet)
  pytorch_lightning/loggers/comet.py
  tests/loggers/test_comet.py
Labels: Logger, tests / CI

#3823 Fix apt repo issue for docker
  dockers/base-cuda/Dockerfile
Labels: 3rd-party issue, Priority, tests / CI

#3894 Batch scaler docs
  docs/source/training_tricks.rst
  pytorch_lightning/tuner/tuning.py
Labels: documentation

#3860 Mocking Loggers (part 3d, comet)
  tests/loggers/test_all.py
Labels: Logger, tests / CI

#3748 Rename log_save_interval, row_log_interval
  CHANGELOG.md
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/connectors/logger_connector.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_grad_norm.py
  tests/models/test_tpu.py
  tests/test_deprecated.py
  tests/trainer/data_flow/test_eval_loop_flow_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_dict_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_scalar_1_0.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_result_return.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_validation_steps_result_return.py
  tests/trainer/logging/test_eval_loop_logging_1_0.py
  tests/trainer/logging/test_train_loop_logging_1_0.py
  tests/trainer/test_correct_freq_accumulation.py
  tests/trainer/test_trainer.py
Labels: API / design, Priority

#3804 fix CI parsing Horovod version
  .github/workflows/ci_test-full.yml
Labels: bug / fix, tests / CI

#3274 Added check to verify xla device is TPU
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu_backend.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/xla_device_utils.py
  tests/models/test_tpu.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, TPU, bug / fix

#3261 add current_epoch to dumped_params
  CHANGELOG.md
  pytorch_lightning/tuner/batch_size_scaling.py
  tests/trainer/test_trainer_tricks.py
Labels: 0:] Ready-To-Go, bug / fix

#3909 nb steps in early stop
  .github/workflows/ci_test-conda.yml
  .pyrightconfig.json
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/callbacks/test_early_stopping.py
Labels: tests / CI

#3911 prune Results usage in notebooks
  notebooks/01-mnist-hello-world.ipynb
  notebooks/02-datamodules.ipynb
  notebooks/04-transformers-text-classification.ipynb
Labels: documentation

#3868 revamp entire metrics
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/functional/self_supervised.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/nlp.py
  pytorch_lightning/metrics/regression.py
  pytorch_lightning/metrics/regression/__init__.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/metrics/self_supervised.py
  pytorch_lightning/metrics/sklearns.py
  pytorch_lightning/metrics/utils.py
  pytorch_lightning/utilities/distributed.py
  tests/metrics/__init__.py
  tests/metrics/classification/__init__.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_nlp.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/functional/test_regression.py
  tests/metrics/functional/test_self_supervised.py
  tests/metrics/regression/__init__.py
  tests/metrics/regression/test_mean_error.py
  tests/metrics/test_aggregation.py
  tests/metrics/test_classification.py
  tests/metrics/test_converters.py
  tests/metrics/test_ddp.py
  tests/metrics/test_metric.py
  tests/metrics/test_metrics.py
  tests/metrics/test_nlp.py
  tests/metrics/test_regression.py
  tests/metrics/test_sklearn.py
  tests/metrics/utils.py
Labels: Priority, enhancement, v1.0 allowed

#3908 Callback docs with autosummary
  .gitignore
  docs/.build_docs.sh
  docs/source/_static/main.css
  docs/source/_templates/classtemplate.rst
  docs/source/callbacks.rst
  docs/source/conf.py
  docs/source/index.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
Labels: documentation, enhancement

#3913 skip some docker builds (temporally pass)
  .github/workflows/ci_dockers.yml
  .github/workflows/nightly.yml
Labels: 3rd-party issue, tests / CI

#3914 use badges only with push
  README.md
Labels: documentation

#3896 use fine Ubuntu
  dockers/base-cuda/Dockerfile
Labels: tests / CI

#3918 fix typo: dor -> for
  requirements/devel.txt
Labels: documentation

#3916 update docs on logging
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/index.rst
  docs/source/loggers.rst
  docs/source/logging.rst
  pytorch_lightning/trainer/__init__.py
Labels: documentation, v1.0 allowed

#3910 Complete mocking Comet and remove dep
  pytorch_lightning/loggers/comet.py
  requirements/extra.txt
  tests/loggers/test_all.py
Labels: Logger, tests / CI, v1.0 allowed

#3921 fixes metrics pickle issue
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric.py
  tests/metrics/utils.py
Labels: Metrics, bug / fix

#3885 Mocking Loggers (part 4b, mlflow)
  tests/loggers/test_mlflow.py
Labels: Logger, tests / CI, v1.0 allowed

#3889 Mocking Loggers (part 4c, mlflow)
  tests/loggers/test_mlflow.py
Labels: Logger, tests / CI, v1.0 allowed

#3919 fixes #3871
  pytorch_lightning/core/step_result.py
  tests/base/deterministic_model.py
  tests/base/model_train_steps.py
  tests/core/test_results.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_result_return.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_validation_steps_result_return.py
  tests/trainer/logging/test_eval_loop_logging_1_0.py
  tests/trainer/logging/test_train_loop_logging_1_0.py
Labels: bug / fix

#3926 Mocking Loggers Part 5/5 (final)
  docs/source/loggers.rst
  docs/source/logging.rst
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/test_tube.py
  requirements/extra.txt
  tests/base/models.py
  tests/loggers/test_all.py
  tests/loggers/test_mlflow.py
Labels: Logger, tests / CI

#3930 Update to_disk to use fsspec for remote file support
  CHANGELOG.md
  pytorch_lightning/trainer/supporters.py
Labels: enhancement

#3929 Add typehints to _epoch_end hooks in lightning module to clarify they return None
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, enhancement

#3933 Test to ensure ckpt filepath contains correct val score
  tests/checkpointing/test_model_checkpoint.py
Labels: tests / CI

#3935 One more CI skip =)
  .github/workflows/ci_dockers.yml
Labels: 3rd-party issue, tests / CI

#2743 codecov can't parse GPU/TPU coverage - temporary skip until that is fixed on their end
  .codecov.yml
Labels: tests / CI

#3941 removing this troubling test that has random behavior
  benchmarks/test_parity.py
  tests/core/test_datamodules.py
Labels: tests / CI

#3944 skip files in coverage
  .codecov.yml
  setup.cfg
Labels: tests / CI

#3943 restore functional metrics
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/functional/regression.py
  tests/metrics/functional/__init__.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_nlp.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/functional/test_regression.py
Labels: Metrics, Refactor

#3940 [CI SKIP] Fix early stop docs
  docs/source/early_stopping.rst
  docs/source/new-project.rst
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#3949 latest restore func metrics
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/functional/self_supervised.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/functional/test_regression.py
  tests/metrics/functional/test_self_supervised.py
Labels: Metrics, Refactor

#3131 missing logs [to be merged before release][skip ci]
  CHANGELOG.md
  docs/source/conf.py
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#3946 Add functional metric docs [skip ci]
  docs/source/metrics.rst
Labels: documentation

#3707 [ci skip] NeMo Documentation for PyTorch Lightning
  docs/source/asr_tts.rst
  docs/source/index.rst
Labels: documentation

#3955 Documentation Fixes [skip ci]
  docs/source/bolts.rst
  docs/source/early_stopping.rst
  docs/source/fast_training.rst
  docs/source/logging.rst
Labels: documentation

#3956 [CI SKIP] Sequential data & TPU support docs fix
  docs/source/sequences.rst
  docs/source/tpu.rst
Labels: documentation

#3503 Use `viewcode` extension instead of `linkcode`
  docs/source/_templates/theme_variables.jinja
  docs/source/conf.py
  docs/source/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation, enhancement

#3963 new chlog template
  CHANGELOG.md
Labels: documentation

#3961 integrate metrics API with self.log
  docs/source/metrics.rst
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/metric.py
  tests/core/test_metric_result_integration.py
  tests/metrics/test_metric.py
Labels: enhancement, v1.0 allowed

#3977 Add video tutorials to docs
  docs/source/amp.rst
  docs/source/callbacks.rst
  docs/source/debugging.rst
  docs/source/early_stopping.rst
  docs/source/lr_finder.rst
  docs/source/multi_gpu.rst
  docs/source/new-project.rst
  docs/source/tpu.rst
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#3982 remove deprecated early_stop_callback
  benchmarks/test_parity.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/argparse_utils.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_progress_bar.py
  tests/checkpointing/test_model_checkpoint.py
  tests/models/test_cpu.py
  tests/models/test_restore.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/trainer/test_trainer_tricks.py
Labels: Refactor

#3980 remove deprecated model hooks
  docs/source/hooks.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  tests/test_deprecated.py
Labels: Refactor

#3979 remove deprecated callbacks
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gpu_usage_logger.py
  pytorch_lightning/callbacks/lr_logger.py
  tests/test_deprecated.py
Labels: Refactor

#3975 Bugfix/update trainer properties
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/core/test_datamodules.py
Labels: bug / fix

#3999 add `ydcjeff` to core
  docs/source/governance.rst
Labels: documentation

#4004 fix CI: try update horovod
  requirements/extra.txt
Labels: tests / CI

#3992 [skip ci] metric docs
  docs/source/metrics.rst
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
Labels: documentation

#4008 Add Metric <-> Lightning Module integration tests
  tests/metrics/test_metric_lightning.py
Labels: Metrics, enhancement

#3959 Minor edit in README
  README.md
Labels: 0:] Ready-To-Go, documentation

#4006 Remove limitation of batch scaler
  CHANGELOG.md
  docs/source/training_tricks.rst
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/tuning.py
  pytorch_lightning/utilities/data.py
  pytorch_lightning/utilities/model_utils.py
  tests/trainer/test_trainer_tricks.py
Labels: enhancement

#4023 add on_train_batch_start/end, chpt hooks in hooks docs [ci skip]
  docs/source/hooks.rst
Labels: documentation, v1.0 allowed

#4019 [rfc] Make Result.unpack_batch_size a staticmethod
  pytorch_lightning/core/step_result.py
Labels: Metrics

#4036 pospond 1.0 release [skip ci]
  README.md
Labels: documentation

#4034 [Docs] checkpoints
  docs/source/weights_loading.rst
  pytorch_lightning/trainer/__init__.py
Labels: documentation, v1.0 allowed

#4031 Removed broken Module Index link
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#4029 readme typo: swap example [skip ci]
  README.md
Labels: documentation, v1.0 allowed

#4024 Update explained variance metric
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/regression/test_explained_variance.py
  tests/metrics/regression/test_mean_error.py
  tests/metrics/utils.py
Labels: Metrics

#4022 add parsing OS env vars
  pytorch_lightning/trainer/connectors/env_vars_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/argparse_utils.py
  tests/trainer/flags/test_env_vars.py
Labels: enhancement

#4038 hotfix Drone install Horovod
  .drone.yml
  pytorch_lightning/utilities/argparse_utils.py
Labels: Priority, bug / fix, tests / CI

#4032 Train loaders
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/train_loader_patch.py
Labels: data, enhancement, v1.0 post

#4018 add trainer flags nb
  notebooks/05-trainer-flags-overview.ipynb
  notebooks/README.md
Labels: documentation, v1.0 allowed

#4043 classification metrics
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/metrics/utils.py
  tests/core/test_metric_result_integration.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/classification/utils.py
  tests/metrics/regression/test_explained_variance.py
  tests/metrics/regression/test_mean_error.py
  tests/metrics/utils.py
Labels: Metrics, Refactor, enhancement

#4025 use automethod for LightningModule method
  docs/source/lightning_module.rst
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#3978 chlogs for 1.0 [skip ci]
  CHANGELOG.md
Labels: documentation

#3958 created minor doc fixes [ci skip]
  docs/source/amp.rst
  docs/source/fast_training.rst
  docs/source/introduction_guide.rst
  docs/source/slurm.rst
Labels: documentation, v1.0 allowed

#4127 Added getstate/setstate method for torch.save serialization
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_torch_saving.py
Labels: enhancement

#4115 Skip reverted "temporary drop metrics tests while speeding them up"
  setup.cfg
  tests/metrics/__init__.py
  tests/metrics/classification/__init__.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/classification/utils.py
  tests/metrics/functional/__init__.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_nlp.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/functional/test_regression.py
  tests/metrics/functional/test_self_supervised.py
  tests/metrics/regression/__init__.py
  tests/metrics/regression/test_explained_variance.py
  tests/metrics/regression/test_mean_error.py
  tests/metrics/test_ddp.py
  tests/metrics/test_metric.py
  tests/metrics/test_metric_lightning.py
  tests/metrics/utils.py
Labels: tests / CI

#4121 new log section [skip ci]
  CHANGELOG.md
Labels: documentation

#4123 [Doc-Fix]: Lightning Module
  docs/source/new-project.rst
Labels: documentation

#4122 Speedup of metric tests
  setup.cfg
  tests/metrics/__init__.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/regression/test_explained_variance.py
  tests/metrics/regression/test_mean_error.py
  tests/metrics/utils.py
Labels: Metrics, enhancement, tests / CI

#4153 docs: fix fomatting
  docs/source/optimizers.rst
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4057 Call on_load_checkpoint before loading state_dict
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: bug / fix

#4152 Tests: clean metrics
  tests/metrics/__init__.py
  tests/metrics/classification/inputs.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/functional/test_regression.py
  tests/metrics/test_ddp.py
  tests/metrics/test_metric.py
  tests/metrics/test_metric_lightning.py
Labels: tests / CI

#4163 save initial arguments
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_hparams.py
Labels: bug / fix, enhancement

#4172 fix jit for PT1.7
  pytorch_lightning/core/lightning.py
Labels: Priority, bug / fix

#4158 Bugfix/4156 filter hparams for yaml - fsspec
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  tests/models/test_hparams.py
Labels: Priority, bug / fix

#4177 update chlog for past 1.0.2
  CHANGELOG.md
Labels: Priority, documentation

#4174 docs: use `Args` instead of `Params`
  pytorch_lightning/profiler/profilers.py
Labels: documentation

#4180 Fix 1.0.0 changelog
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#4164 Use `Optional` for arguments set to `None` by default
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_slurm_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_torchelastic_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_torchelastic_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
Labels: 0:] Ready-To-Go, Refactor

#4189 fix hparams assign in init
  pytorch_lightning/core/lightning.py
  tests/models/test_hparams.py
Labels: Priority, bug / fix, enhancement

#4195 Add persistent flag to Metric.add_state
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric.py
Labels: Metrics, enhancement

#4196 Add load_from_checkpoint function to Loading docs
  docs/source/weights_loading.rst
Labels: documentation

#4181 fixed typos
  docs/source/style_guide.rst
Labels: 0:] Ready-To-Go, documentation

#4201 Update multi_gpu.rst
  docs/source/multi_gpu.rst
Labels: documentation, enhancement

#4192 Annotate return type of TrainerProperties.from_argparse_args(...)
  pytorch_lightning/trainer/properties.py
Labels: enhancement

#4210 update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#4211 remove unused folder
  rapid_prototyping_templates/__init__.py
Labels: Refactor

#4219 move base req. to root
  .github/CONTRIBUTING.md
  .github/workflows/ci_pkg-install.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docs-checks.yml
  .readthedocs.yml
  MANIFEST.in
  dockers/base-xla/Dockerfile
  dockers/tpu-tests/Dockerfile
  docs/source/conf.py
  requirements.txt
  requirements/devel.txt
  setup.py
Labels: Refactor

#4221 allow codecov upload to fail
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-tpu.yml
Labels: tests / CI

#4239 CI: add flake8
  .github/workflows/code-formatting.yml
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_slurm_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_torchelastic_accelerator.py
  pytorch_lightning/accelerators/ddp_slurm_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_torchelastic_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/tuning.py
  pytorch_lightning/utilities/model_utils.py
  tests/backends/test_accelerator_connector.py
  tests/base/models.py
  tests/loggers/test_mlflow.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/test_metric.py
  tests/models/test_hparams.py
  tests/trainer/logging/test_train_loop_logging_1_0.py
  tests/trainer/test_optimizers.py
Labels: tests / CI

#4240 prune ignore
  .github/workflows/ci_test-base.yml
Labels: 0:] Ready-To-Go, tests / CI

#4010 fix overwrite & add test for model hooks
  pytorch_lightning/utilities/model_utils.py
  tests/models/test_hooks.py
Labels: bug / fix, tests / CI

#4254 activated color in all pytest runs
  .drone.yml
  .github/CONTRIBUTING.md
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  dockers/tpu-tests/tpu_test_cases.jsonnet
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#4253 update documentation for callbacks
  docs/source/callbacks.rst
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4251 Fix missing epoch end custom logging metrics
  pytorch_lightning/trainer/connectors/logger_connector.py
  tests/trainer/logging/test_eval_loop_logging_1_0.py
Labels: 0:] Ready-To-Go

#4267 Docs/changelog for 1.0.3
  .github/workflows/ci_pkg-install.yml
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: documentation

#4205 update stale bot
  .github/stale.yml
Labels: 0:] Ready-To-Go, documentation

#4274 encourage draft PR submission [ci skip]
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#4183 Corrected f_beta computation
  pytorch_lightning/metrics/classification/f_beta.py
  tests/metrics/classification/inputs.py
  tests/metrics/classification/test_f_beta.py
Labels: 0:] Ready-To-Go, Metrics, bug / fix

#4262 [Metrics, fix] Fix unintended zero-only target in iou example
  pytorch_lightning/metrics/functional/classification.py
Labels: Metrics, bug / fix

#4279 New section for changelog [ci skip]
  CHANGELOG.md
Labels: documentation

#3586 Add strict option to lr_scheduler dict
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  tests/trainer/test_optimizers.py
Labels: 0:] Ready-To-Go, enhancement

#4232 docs: Add empty lines in docstring [ci skip]
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_slurm_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_torchelastic_accelerator.py
  pytorch_lightning/accelerators/ddp_slurm_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_torchelastic_accelerator.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/utilities/xla_device_utils.py
Labels: bug / fix, documentation

#4233 update examples
  pl_examples/domain_templates/generative_adversarial_net.py
Labels: 0:] Ready-To-Go, tutorial / example

#3988 add svg logo [SKIP CI]
  README.md
  docs/.build_docs.sh
  docs/source/_images/logos/lightning_logo-name.png
  docs/source/_images/logos/lightning_logo-name.svg
Labels: 0:] Ready-To-Go, documentation

#4282 Fix info message when EarlyStopping 'mode' not provided [ci skip]
  pytorch_lightning/callbacks/early_stopping.py
Labels: bug / fix

#4190 Optimizer closure
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/deterministic_model.py
  tests/trainer/data_flow/test_eval_loop_flow_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_dict_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_scalar_1_0.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_eval_loop_dict_return.py
  tests/trainer/logging/test_eval_loop_logging_1_0.py
  tests/trainer/logging/test_train_loop_logging_1_0.py
  tests/trainer/optimization/test_backward_calls.py
  tests/trainer/test_trainer.py
Labels: bug / fix

#3587 Clean up optimizer code
  CHANGELOG.md
  docs/source/optimizers.rst
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/optimizers.py
  tests/base/model_optimizers.py
  tests/trainer/test_optimizers.py
Labels: Refactor, enhancement

#4130 Allow changing the logged step value in validation_step
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector.py
  tests/trainer/logging/test_eval_loop_logging_1_0.py
Labels: bug / fix, enhancement

#4292 [master branch fix] avoid passing closure to apex optimizer
  pytorch_lightning/core/lightning.py
Labels: Priority, bug / fix

#3881 limit monitor callback with log_every_n_steps
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/lr_monitor.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/callbacks/test_lr_monitor.py
Labels: enhancement

#4278 Fix bug comparing max_steps to global step which inits at 0
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/optimization/test_backward_calls.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, bug / fix

#4305 Protect functions not to be accessed by user
  pytorch_lightning/trainer/training_loop.py
Labels: 0:] Ready-To-Go, bug / fix

#4307 add bug_report_model to bug_report
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: 0:] Ready-To-Go, documentation
