Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-04, with the labels that each got.

#1196 fixed extra dataloader bug
  CHANGELOG.md
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: bug

#1324 Automatic PyPi Release
  .github/workflows/pypi_release.yml
Labels: tests / CI

#1279 Remove default optimizer, add None optimizer option
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  tests/base/__init__.py
  tests/base/mixins.py
  tests/base/utils.py
  tests/models/test_gpu.py
  tests/trainer/test_optimizers.py
Labels: enhancement

#1199 Add useful errors when model is not configured correctly
  CHANGELOG.md
  pl_examples/basic_examples/lightning_module_template.py
  pytorch_lightning/trainer/trainer.py
  tests/base/__init__.py
  tests/base/mixins.py
  tests/test_deprecated.py
  tests/trainer/test_checks.py
Labels: enhancement

#915 add python 3.8 testing
  .github/workflows/ci-testing.yml
  .mergify.yml
  CHANGELOG.md
  README.md
Labels: PR Approved to merge, enhancement, tests / CI

#1323 faster CI testing
  .circleci/config.yml
  .drone.yml
  .github/workflows/ci-testing.yml
  benchmarks/test_trainer_parity.py
  tests/__init__.py
  tests/base/datasets.py
  tests/base/debug.py
  tests/base/models.py
  tests/base/utils.py
  tests/datasets/__init__.py
  tests/models/test_cpu.py
  tests/models/test_restore.py
  tests/trainer/test_callbacks.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
Labels: tests / CI

#1108 Simplify progress bar args
  CHANGELOG.md
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_restore.py
  tests/test_deprecated.py
  tests/trainer/test_callbacks.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, enhancement

#1355 Fix typo
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: documentation

#1352 quick patch __code__
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/trainer.py
Labels: High Priority, bug

#1357 Make training_epoch_end behave like validation_epoch_end
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/loggers/test_base.py
Labels: PR Approved to merge, bug, enhancement

#1353 Fix for incorrect run on the validation set with overwritten validation_epoch_end and test_end
  CHANGELOG.md
  pytorch_lightning/trainer/evaluation_loop.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, bug

#1351 Add parity test for simple RNN
  benchmarks/test_rnn_parity.py
Labels: enhancement, tests / CI

#1356 Add highlighting to the BibTeX entry in README
  README.md
Labels: PR Approved to merge, documentation

#1358 Change min max gpu memory to be on their own plots
  pytorch_lightning/core/memory.py
Labels: enhancement

#1362 Doc fixes
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
Labels: PR Approved to merge, documentation

#1360 Wandb bug/wandb multi
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: PR Approved to merge, bug

#1346 generalize reinstantiation of dataloader
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
Labels: PR Approved to merge, enhancement

#1349 Shubhamagarwal92 master
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
Labels: discussion

#1247 simplify examples structure
  CHANGELOG.md
  pl_examples/README.md
  pl_examples/__init__.py
  pl_examples/basic_examples/README.md
  pl_examples/basic_examples/cpu_template.py
  pl_examples/basic_examples/gpu_template.py
  pl_examples/basic_examples/multi_node_ddp2_demo.py
  pl_examples/basic_examples/multi_node_ddp_demo.py
  pl_examples/basic_examples/submit_ddp2_job.sh
  pl_examples/basic_examples/submit_ddp_job.sh
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pl_examples/full_examples/imagenet/__init__.py
  pl_examples/full_examples/semantic_segmentation/models/unet/model.py
  pl_examples/models/__init__.py
  pl_examples/models/lightning_template.py
  pl_examples/models/unet.py
  pl_examples/multi_node_examples/README.md
  pl_examples/multi_node_examples/__init__.py
Labels: PR Approved to merge, enhancement, tutorial

#1370 Improved docs for callbacks
  docs/source/callbacks.rst
  docs/source/early_stopping.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: PR Approved to merge, documentation

#1359 model_checkpoint to save all models
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: bug

#1380 add forgotten change logs
  CHANGELOG.md
Labels: PR Approved to merge, documentation

#1378 Add warning for few workers
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
Labels: PR Approved to merge, enhancement

#1373 fix docs on saving checkpoints manually
  docs/source/weights_loading.rst
Labels: PR Approved to merge, bug, documentation

#1369 Adding Intersphinx documentation links
  docs/source/conf.py
Labels: PR Approved to merge, documentation

#1368 add trainer attribute to denote if interrupted
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, enhancement

#1382 Pin sphinx version (fix for current docs build errors)
  docs/requirements.txt
  docs/source/conf.py
Labels: High Priority, PR Approved to merge, documentation, tests / CI

#1389 Improved docs for LightningModule
  pytorch_lightning/core/lightning.py
Labels: documentation

#1145 Set precision=16 when use_amp is passed as True
  CHANGELOG.md
  pl_examples/basic_examples/gpu_template.py
  pl_examples/domain_templates/imagenet.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: High Priority, PR Approved to merge, bug, enhancement

#1385 Invoke load_spawn_weights() only in proc with rank 0
  pytorch_lightning/trainer/distrib_data_parallel.py
Labels: bug

#1396 Fix unimplemented type() on TPU
  CHANGELOG.md
  pytorch_lightning/trainer/supporters.py
Labels: PR Approved to merge, bug

#1377 Tensorboard logger check if lightning_logs directory exists
  CHANGELOG.md
  pytorch_lightning/loggers/tensorboard.py
Labels: PR Approved to merge, bug

#1383 Enables passing a frequency of 0 to an optimizer
  pytorch_lightning/trainer/optimizers.py
Labels: enhancement

#1398 update Docs/changelog
  CHANGELOG.md
Labels: documentation

#1401 add pypi user
  .github/workflows/pypi-release.yml
  CHANGELOG.md
  MANIFEST.in
Labels: tests / CI

#1407 fix missing images on pypi
  .github/workflows/pypi-release.yml
  README.md
  pytorch_lightning/__init__.py
  setup.py
Labels: documentation

#1409 fix SVG images
  setup.py
Labels: documentation

#1413 Temporary Fix for docs build failure
  docs/requirements.txt
  setup.py
Labels: documentation, tests / CI

#1278 Added accumulation of loggers' metrics for the same steps
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/loggers/test_base.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, bug, enhancement

#1410 updated early stopping docs
  docs/source/early_stopping.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
Labels: documentation

#1416 Loader docs
  docs/.build_docs.sh
  docs/source/index.rst
  docs/source/introduction_guide.rst
  docs/source/multiple_loaders.rst
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#1411 Print test results only if prog_bar_metrics is not empty
  pytorch_lightning/trainer/evaluation_loop.py
Labels: bug

#1379 Fix TrainsLogger doctest failing (switch to bypass mode in GitHub CI)
  pytorch_lightning/loggers/trains.py
Labels: tests / CI

#1418 added slurm doc
  README.md
  docs/source/slurm.rst
Labels: documentation

#1425 fixed default sampler
  pytorch_lightning/trainer/data_loading.py
Labels: bug

#1428 add rank warning
  CHANGELOG.md
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/model_saving.py
  pytorch_lightning/core/root_module.py
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/logging/comet.py
  pytorch_lightning/logging/comet_logger.py
  pytorch_lightning/logging/mlflow.py
  pytorch_lightning/logging/mlflow_logger.py
  pytorch_lightning/logging/neptune.py
  pytorch_lightning/logging/test_tube.py
  pytorch_lightning/logging/test_tube_logger.py
  pytorch_lightning/logging/wandb.py
  pytorch_lightning/overrides/override_data_parallel.py
  pytorch_lightning/pt_overrides/__init__.py
  pytorch_lightning/pt_overrides/override_data_parallel.py
  pytorch_lightning/root_module/__init__.py
  pytorch_lightning/root_module/decorators.py
  pytorch_lightning/root_module/grads.py
  pytorch_lightning/root_module/hooks.py
  pytorch_lightning/root_module/memory.py
  pytorch_lightning/root_module/model_saving.py
  pytorch_lightning/root_module/root_module.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/warnings.py
  tests/base/utils.py
  tests/models/test_cpu.py
Labels: enhancement

#1431 fix retruning returns
  CHANGELOG.md
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
Labels: bug

#1441 fix pretty print
  CHANGELOG.md
  pytorch_lightning/__init__.py
  pytorch_lightning/trainer/evaluation_loop.py
Labels: bug

#1434 Add test_dataloaders to test method
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_dataloaders.py
Labels: enhancement

#1426 Add automatic GPU choice to trainer
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: enhancement

#1419 continues develop
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: documentation

#1449 fix deprecated default_save_path
  pytorch_lightning/trainer/deprecated_api.py
  tests/test_deprecated.py
Labels: bug

#1347 Learning Rate finder
  CHANGELOG.md
  docs/source/_images/trainer/lr_finder.png
  docs/source/index.rst
  docs/source/lr_finder.rst
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  requirements-extra.txt
  tests/trainer/test_lr_finder.py
Labels: discussion, enhancement

#1446 Docs: fix lr scheduler examples
  docs/source/optimizers.rst
Labels: documentation

#1473 docs typo
  pytorch_lightning/core/lightning.py
Labels: PR Approved to merge, documentation

#1482 attempting to remove some speed issues
  CHANGELOG.md
  benchmarks/test_rnn_parity.py
  benchmarks/test_trainer_parity.py
  pytorch_lightning/trainer/logging.py
  tests/base/utils.py
Labels: enhancement

#1459 fix flushing loggers
  .github/workflows/ci-testing.yml
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/trains.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/base/mixins.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/loggers/test_comet.py
  tests/loggers/test_mlflow.py
  tests/loggers/test_neptune.py
  tests/loggers/test_tensorboard.py
  tests/loggers/test_test_tube.py
  tests/loggers/test_wandb.py
Labels: High Priority, PR Approved to merge, bug, tests / CI

#1499 neptune online
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_all.py
Labels: bug

#1495 Remove error when test dataloader used in test
  CHANGELOG.md
  benchmarks/test_trainer_parity.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/trainer.py
  tests/base/__init__.py
  tests/base/datasets.py
  tests/base/debug.py
  tests/base/eval_model_optimizers.py
  tests/base/eval_model_template.py
  tests/base/eval_model_test_dataloaders.py
  tests/base/eval_model_test_epoch_ends.py
  tests/base/eval_model_test_steps.py
  tests/base/eval_model_train_dataloaders.py
  tests/base/eval_model_train_steps.py
  tests/base/eval_model_utils.py
  tests/base/eval_model_valid_dataloaders.py
  tests/base/eval_model_valid_epoch_ends.py
  tests/base/eval_model_valid_steps.py
  tests/base/models.py
  tests/base/utils.py
  tests/loggers/test_all.py
  tests/trainer/test_checks.py
Labels: High Priority, bug, enhancement

#1158 Add ddp_cpu backend for testing ddp without GPUs
  pytorch_lightning/core/lightning.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_cpu.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, enhancement, tests / CI

#1371 feat(semseg): allow model customization
  CHANGELOG.md
  pl_examples/domain_templates/semantic_segmentation.py
  pl_examples/models/unet.py
Labels: PR Approved to merge, enhancement, tutorial

#1493 Call on_before_zero_grad model hook
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/models/test_hooks.py
Labels: PR Approved to merge, bug

#1484 Improved docs for Loggers
  docs/source/conf.py
  docs/source/experiment_logging.rst
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/trains.py
  pytorch_lightning/loggers/wandb.py
  requirements-extra.txt
Labels: PR Approved to merge, documentation

#1483 Improved docs for pytorch_lightning.core (continued)
  docs/source/hooks.rst
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/core/saving.py
Labels: PR Approved to merge, documentation

#1453 feat: save checkpoint before deleting old ones
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: PR Approved to merge, bug

#1519 change docs
  docs/source/hyperparameters.rst
Labels: documentation

#1374 add QA to docs
  .github/CONTRIBUTING.md
Labels: PR Approved to merge, documentation

#1423 Allow Trainer's `gpus` arg type to be subclass of currently accepted types
  pytorch_lightning/trainer/distrib_parts.py
Labels: enhancement

#1523 Fixed performance drop when activating gradient clipping
  pytorch_lightning/trainer/training_tricks.py
Labels: bug

#1505 Fix Mixing hparams and arguments in LightningModule
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
Labels: bug

#1513 DDP sampler
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
Labels: bug, discussion

#1494 CI: Docs build preview in each PR
  .circleci/config.yml
  .github/CONTRIBUTING.md
Labels: PR Approved to merge, documentation

#1387 Add SLURM check in ddp_train() and init_ddp_connection()
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/distrib_data_parallel.py
Labels: enhancement

#1533 Skip workers warning test on windows
  tests/trainer/test_dataloaders.py
Labels: enhancement, tests / CI

#1534 Fix callback default (horror bug!)
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
Labels: High Priority, PR Approved to merge, bug

#1477 Update learning rate on each backward pass instead of each forward pass.
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
Labels: PR Approved to merge, bug

#1452 fix changelog
  CHANGELOG.md
  docs/source/conf.py
  pytorch_lightning/__init__.py
  setup.cfg
  tests/collect_env_details.py
Labels: High Priority, PR Approved to merge, documentation

#1478 default test logger
  .update.sh
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  tests/__init__.py
  tests/base/__init__.py
  tests/base/datasets.py
  tests/base/debug.py
  tests/base/eval_model_template.py
  tests/base/eval_model_utils.py
  tests/base/eval_model_valid_steps.py
  tests/base/models.py
  tests/base/utils.py
  tests/conftest.py
  tests/loggers/test_all.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_restore.py
  tests/test_profiler.py
  tests/trainer/test_callbacks.py
  tests/trainer/test_checks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
Labels: High Priority, bug, tests / CI

#1552 tests for pytorch 1.5
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  README.md
Labels: High Priority, PR Approved to merge, tests / CI

#1529 Added Horovod distributed backend
  .circleci/config.yml
  .drone.yml
  .github/workflows/ci-testing.yml
  CHANGELOG.md
  docs/source/multi_gpu.rst
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  requirements-extra.txt
  tests/README.md
  tests/base/models.py
  tests/base/utils.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_horovod.py
  tests/requirements.txt
Labels: High Priority, enhancement

#1548 Default value for ModelCheckpoint filepath
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/callback_config.py
  tests/trainer/test_callbacks.py
Labels: enhancement

#1573 Tests/docker
  .circleci/config.yml
  .drone.yml
  .github/CONTRIBUTING.md
  .github/workflows/ci-testing.yml
  requirements-extra.txt
  tests/Dockerfile
  tests/README.md
  tests/requirements-devel.txt
  tests/requirements.txt
Labels: High Priority, tests / CI

#1561 support for native amp
  .drone.yml
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
Labels: High Priority, enhancement

#1583 update changelog
  CHANGELOG.md
Labels: documentation

#1470 test deprecation warnings
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/trainer/evaluation_loop.py
  tests/conftest.py
  tests/test_deprecated.py
Labels: High Priority, PR Approved to merge, tests / CI

#1563 Fixing a small issue in trainer logging
  pytorch_lightning/trainer/logging.py
  tests/loggers/test_all.py
Labels: PR Approved to merge, bug

#1450 Progress bar callback
  CHANGELOG.md
  docs/source/callbacks.rst
  docs/source/trainer.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/utils.py
  tests/callbacks/__init__.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_progress_bar.py
Labels: PR Approved to merge, enhancement

#1593 fixed trainer docs
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#1512 fix(wandb): allow use of sweeps
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: PR Approved to merge, bug

#1591 missing change
  CHANGELOG.md
Labels: documentation

#1596 fix depreated call
  benchmarks/test_rnn_parity.py
  benchmarks/test_trainer_parity.py
  pytorch_lightning/trainer/lr_finder.py
  tests/models/test_cpu.py
  tests/trainer/test_trainer.py
Labels: bug, documentation

#1408 model checkpint on rank_zero_only & global rank state
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/trains.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/warnings.py
  tests/loggers/test_base.py
Labels: High Priority, PR Approved to merge, bug, enhancement

#1569 Create Dockerfile
  MANIFEST.in
  docker/Dockerfile
  docker/README.md
Labels: PR Approved to merge, enhancement

#1605 slurm job id
  pytorch_lightning/trainer/trainer.py
Labels: bug

#1600 diable val and test shuffling
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/data_loading.py
  tests/base/eval_model_template.py
  tests/base/eval_model_utils.py
  tests/base/models.py
Labels: enhancement

#1617 pin actions/checkout version to v2
  .github/workflows/docker_builds.yml
  .github/workflows/pypi-release.yml
  .github/workflows/rebase.yml
Labels: High Priority, bug, tests / CI

#1616 changelog
  CHANGELOG.md
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
Labels: documentation

#1634 Remove warning
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
Labels: PR: Ready-To-Go, documentation

#1635 Fixes CPU DDP breaking change and DDP change
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/parsing.py
  tests/trainer/test_trainer_cli.py
Labels: High Priority, bug

#1624 resume GH action
  .github/workflows/ci-testing.yml
Labels: High Priority, bug, tests / CI

#1642 Propper master...
  .github/workflows/ci-testing.yml
  CHANGELOG.md
  README.md
Labels: High Priority, documentation

#1643 update changelog
  CHANGELOG.md
Labels: documentation

#1656 Update docs
  docs/source/fast_training.rst
  docs/source/slurm.rst
Labels: PR: Ready-To-Go, documentation

#1654 None check for filepath in ModelCheckpoint
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_callbacks.py
Labels: bug

#1657 Add log output for slurm
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/training_io.py
Labels: PR: Ready-To-Go, documentation, enhancement

#1655 Update new-project.rst
  docs/source/new-project.rst
Labels: PR: Ready-To-Go, documentation

#1625 added warning to crash
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_io.py
  setup.cfg
Labels: PR: Ready-To-Go, enhancement

#1589 Don't convert namedtuple to tuple
  pytorch_lightning/trainer/distrib_parts.py
  tests/models/test_cpu.py
Labels: enhancement, waiting on author

#1498 Learning rate log callback
  CHANGELOG.md
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/lr_logger.py
  tests/callbacks/test_callbacks.py
Labels: PR: Ready-To-Go, enhancement
