Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-08, with the labels that each got.

#2784 update mergify
  .mergify.yml
Labels: PR: Ready-To-Go, Priority, tests / CI

#2755 Call DataModule hooks implicitly in trainer
  docs/source/datamodules.rst
  pytorch_lightning/accelerator_backends/cpu_backend.py
  pytorch_lightning/accelerator_backends/ddp_spawn_backend.py
  pytorch_lightning/accelerator_backends/dp_backend.py
  pytorch_lightning/accelerator_backends/gpu_backend.py
  pytorch_lightning/accelerator_backends/tpu_backend.py
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  tests/base/datamodules.py
  tests/core/test_datamodules.py
Labels: bug / fix, tests / CI

#2739 fix selecting GPUs using CUDA_VISIBLE_DEVICES
  pytorch_lightning/trainer/distrib_data_parallel.py
Labels: bug / fix

#2789 Fix shuffle for distributed sampler
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
Labels: bug / fix

#2781 Fix false num_classes warning in metrics
  pytorch_lightning/metrics/functional/classification.py
Labels: Metrics, bug / fix

#2786 fix shell injection vulnerability in subprocess call
  pytorch_lightning/trainer/training_io.py
Labels: DDP, allowed_pre_1.0, enhancement

#2672 missing chlogs
  CHANGELOG.md
  README.md
  pytorch_lightning/trainer/lr_finder.py
Labels: allowed_pre_1.0, documentation

#2779 update GPU to PT 1.5
  .drone.yml
  dockers/cuda-extras/Dockerfile
  tests/install_AMP.sh
Labels: bug / fix, tests / CI

#2803 Fix docs typo
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/lightning.py
Labels: PR: Ready-To-Go, documentation

#2797 docs update and follow up of #2789
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: documentation

#2811 Call correct datamodule's prepare_data in trainer
  pytorch_lightning/trainer/trainer.py
Labels: bug / fix

#2778 Fix docs typo
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: discussion, documentation

#2568 Support Mean in DDP Sync
  CHANGELOG.md
  pytorch_lightning/metrics/converters.py
  tests/metrics/test_converters.py
Labels: enhancement

#2562 Add remaning sklearn metrics
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/sklearns.py
  requirements/extra.txt
  tests/metrics/test_sklearn.py
Labels: allowed_pre_1.0, enhancement

#2832 check if checkpoint_callback exists
  pytorch_lightning/accelerator_backends/ddp_spawn_backend.py
Labels: Priority, bug / fix

#2836 Docs for auto_select_gpu
  docs/source/multi_gpu.rst
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#2787 Support limit_mode_batches (int) for infinite dataloader
  CHANGELOG.md
  docs/source/sequences.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/training_tricks.py
  tests/models/test_onnx_save.py
  tests/trainer/test_dataloaders.py
Labels: allowed_pre_1.0, enhancement

#2801 add support for sync_bn
  CHANGELOG.md
  pl_examples/basic_examples/sync_bn.py
  pl_examples/test_examples.py
  pytorch_lightning/accelerator_backends/ddp_backend.py
  pytorch_lightning/accelerator_backends/ddp_spawn_backend.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#2828 save apex scaler states
  pytorch_lightning/trainer/training_io.py
Labels: enhancement

#2827 [DOCS] title clarification in Results page
  docs/source/results.rst
Labels: documentation

#2734 another try to filter master from CircleCI jobs
  .circleci/config.yml
Labels: PR: Ready-To-Go, tests / CI

#2838 updated sync bn
  pl_examples/basic_examples/sync_bn.py
  pl_examples/test_examples.py
  pytorch_lightning/accelerator_backends/ddp_backend.py
  pytorch_lightning/accelerator_backends/ddp_spawn_backend.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
  tests/base/datamodules.py
  tests/models/test_sync_batchnorm.py
Labels: PR: Ready-To-Go, Priority, bug / fix, enhancement

#2842 clarify batch hooks
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/lr_logger.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_progress_bar.py
  tests/core/test_datamodules.py
  tests/loggers/test_all.py
  tests/trainer/test_trainer.py
  tests/utilities/test_dtype_device_mixin.py
Labels: documentation

#2822 add ddp sync for logging in result step
  pytorch_lightning/core/step_result.py
  tests/core/test_results.py
Labels: DDP, enhancement

#2775 Faster Accuracy metric
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
Labels: enhancement

#2721 Added basic file logger
  CHANGELOG.md
  docs/source/loggers.rst
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/csv_logs.py
  tests/loggers/test_all.py
  tests/loggers/test_csv.py
Labels: PR: Ready-To-Go, allowed_pre_1.0, enhancement

#2845 add test for none checkpoint in ddp_spawn
  tests/trainer/test_trainer.py
Labels: enhancement, tests / CI

#2831 Setup extras
  .github/CONTRIBUTING.md
  setup.py
Labels: PR: Ready-To-Go, enhancement

#2834 clean tests imports
  tests/base/datasets.py
  tests/base/deterministic_model.py
  tests/base/develop_utils.py
  tests/base/model_train_steps.py
  tests/callbacks/test_early_stopping.py
  tests/core/test_datamodules.py
  tests/loggers/test_tensorboard.py
  tests/metrics/functional/test_regression.py
  tests/metrics/test_converters.py
  tests/metrics/test_regression.py
  tests/models/test_amp.py
  tests/models/test_gpu.py
  tests/models/test_grad_norm.py
  tests/models/test_horovod.py
  tests/models/test_onnx.py
  tests/trainer/test_config_validator.py
  tests/trainer/test_trainer_steps_result_return.py
  tests/trainer/test_trainer_steps_scalar_return.py
  tests/trainer/test_validation_steps_result_return.py
Labels: PR: Ready-To-Go, tests / CI

#2854 Add wandb autoclass in logger.rst
  docs/source/loggers.rst
Labels: PR: Ready-To-Go, documentation

#2830 Update contributing guide
  .github/CONTRIBUTING.md
Labels: 0:] Ready-To-Go, documentation

#2821 Bugfix: Lr finder and hparams compatibility
  CHANGELOG.md
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/utilities/parsing.py
  tests/base/model_optimizers.py
  tests/core/test_datamodules.py
  tests/trainer/test_lr_finder.py
  tests/utilities/parsing.py
Labels: 0:] Ready-To-Go, bug / fix

#2835 Tests/install pkg
  .github/workflows/install-pkg.yml
  .mergify.yml
Labels: 0:] Ready-To-Go, tests / CI

#1935 Support returning python scalars in DP
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/ignored_warnings.py
  pytorch_lightning/trainer/logging.py
  tests/base/model_train_steps.py
  tests/base/model_valid_epoch_ends.py
Labels: 0:] Ready-To-Go, enhancement

#2858 Fix PR link in contributing.md
  .github/CONTRIBUTING.md
Labels: 0:] Ready-To-Go, documentation

#1913 Use .comet.config file for CometLogger
  CHANGELOG.md
  environment.yml
  pytorch_lightning/loggers/comet.py
  requirements/extra.txt
Labels: 0:] Ready-To-Go, enhancement

#2855 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: 0:] Ready-To-Go, documentation

#2840 Support limit_mode_batches (int) for infinite dataloader
  CHANGELOG.md
  docs/source/sequences.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_onnx.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, allowed_pre_1.0, enhancement

#2860 allow finish remaining docker builds
  .github/workflows/docker-builds.yml
Labels: 0:] Ready-To-Go, Priority, allowed_pre_1.0, bug / fix, tests / CI

#2861 fix docker builds
  .github/workflows/docker-builds.yml
Labels: Priority, bug / fix, tests / CI

#2846 Add support to Tensorboard logger for OmegaConf hparams
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/training_io.py
  tests/loggers/test_tensorboard.py
Labels: 0:] Ready-To-Go, bug / fix

#2740 fix set_epoch on TPUs
  pytorch_lightning/trainer/training_loop.py
Labels: TPU, bug / fix, waiting on author

#2870 Add lightning class playlist to docs
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#2588 simplify tests & cleaning
  .pyrightconfig.json
  .run_local_tests.sh
  docs/source/conf.py
  pytorch_lightning/accelerator_backends/__init__.py
  pytorch_lightning/accelerators/__init__.py
  pytorch_lightning/accelerators/cpu_backend.py
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
  pytorch_lightning/accelerators/dp_backend.py
  pytorch_lightning/accelerators/gpu_backend.py
  pytorch_lightning/accelerators/tpu_backend.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
  tests/trainer/test_trainer_steps_dict_return.py
Labels: 0:] Ready-To-Go, tests / CI

#2867 clean imports
  pl_examples/basic_examples/cpu_template.py
  pl_examples/basic_examples/gpu_template.py
  pl_examples/basic_examples/multi_node_ddp2_demo.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pl_examples/models/lightning_template.py
  pytorch_lightning/accelerators/__init__.py
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
  pytorch_lightning/accelerators/dp_backend.py
  pytorch_lightning/accelerators/gpu_backend.py
  pytorch_lightning/accelerators/tpu_backend.py
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/lr_logger.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/cloud_io.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/memory.py
  pytorch_lightning/utilities/seed.py
Labels: 0:] Ready-To-Go, allowed_pre_1.0, enhancement

#2872 Fix install setup - push pypi
  .github/CONTRIBUTING.md
  requirements/docs.txt
  setup.py
Labels: 0:] Ready-To-Go, Priority, bug / fix

#2873 Add PL mastercalss to readme
  MANIFEST.in
  README.md
  docs/source/_images/general/PTL101_youtube_thumbnail.jpg
Labels: 0:] Ready-To-Go, documentation

#2880 Fix docs typo
  pytorch_lightning/core/hooks.py
Labels: 0:] Ready-To-Go, documentation

#2879 Fix Trainer arg name in docs
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation

#2865 allow using apex with any PT version
  dockers/cuda-extras/Dockerfile
  pytorch_lightning/accelerators/cpu_backend.py
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
  pytorch_lightning/accelerators/dp_backend.py
  pytorch_lightning/accelerators/gpu_backend.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/__init__.py
Labels: 0:] Ready-To-Go, API, Priority, allowed_pre_1.0, enhancement

#2878 hotfix on classification metrics
  pytorch_lightning/metrics/functional/classification.py
Labels: bug / fix

#2881 save last model after saving top_k when save_last=True
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/training_io.py
  tests/callbacks/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, bug / fix

#2884 Fix docstring
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/metrics/regression.py
Labels: documentation

#2876 Clarify what gpus=0 means in docs
  pytorch_lightning/trainer/__init__.py
Labels: 0:] Ready-To-Go, documentation

#2887 deepcopy model state_dict in tests
  tests/callbacks/test_early_stopping.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_trainer_tricks.py
Labels: 0:] Ready-To-Go, enhancement

#2432 [wip] fix imagenet example: lr_scheduler, loader workers, batch size when ddp
  CHANGELOG.md
  pl_examples/domain_templates/imagenet.py
  pl_examples/test_examples.py
Labels: bug / fix, tests / CI

#2889 Finish PR #2432: Imagenet example updates + basic testing
  CHANGELOG.md
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/test_examples.py
Labels: 0:] Ready-To-Go, bug / fix, documentation, tutorial / example

#2885 fix reduction docstring and clean tests
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/regression.py
  pytorch_lightning/metrics/sklearns.py
  tests/metrics/test_converters.py
Labels: 0:] Ready-To-Go, documentation

#2164 [Ready for review] use gfile to support remote directories
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/cloud_io.py
  requirements/base.txt
Labels: Important, Priority, enhancement

#2541 Add tracking of basic states in Trainer [wip - to-be-merged after v0.9]
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_states.py
Labels: 0:] Ready-To-Go, allowed_pre_1.0, enhancement

#2806 missing chlogs
  CHANGELOG.md
Labels: documentation

#2895 constant root seed in reset_seed (tests)
  tests/__init__.py
  tests/base/develop_utils.py
Labels: 0:] Ready-To-Go, Priority, tests / CI

#2897 mergify: filter drafts
  .mergify.yml
Labels: enhancement, tests / CI

#2894 fix missing return statement. Do not normalize remote paths
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/cloud_io.py
Labels: bug / fix

#2905 Add missing arg to docker build.
  .circleci/config.yml
Labels: bug / fix, tests / CI

#2907 Fix typo
  docs/source/introduction_guide.rst
Labels: documentation

#2910 Do not pass non_blocking=True if it does not support this argument
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/utilities/apply_func.py
  tests/models/test_gpu.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#2918 Use kubectl to get logs from TPU CI instead of gcloud logging.
  .circleci/config.yml
  .github/workflows/tpu-testing.yml
Labels: 0:] Ready-To-Go, tests / CI

#2920 document lightiningmodule better
  docs/source/child_modules.rst
  docs/source/hyperparameters.rst
  docs/source/introduction_guide.rst
  docs/source/lightning-module.rst
  docs/source/new-project.rst
  docs/source/results.rst
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/lr_logger.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  tests/core/test_results.py
Labels: documentation

#2925 Fix checkpointing to remote file paths
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/cloud_io.py
Labels: bug / fix

#2904 Move optimizer creation after device placement for ddp backends.
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
Labels: 0:] Ready-To-Go, bug / fix

#2927 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: documentation

#2519 Support **DictConfig hparam serialization
  pytorch_lightning/core/saving.py
Labels: 0:] Ready-To-Go, enhancement

#2911 Fix hparams loading for model that accepts *args
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  tests/models/test_hparams.py
Labels: 0:] Ready-To-Go, bug / fix

#2931 missing changelogs
  CHANGELOG.md
Labels: documentation

#2944 tests deterministic=True
  tests/core/test_datamodules.py
Labels: 0:] Ready-To-Go, Priority, tests / CI

#2933 Clean save
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/cloud_io.py
Labels: 0:] Ready-To-Go, Refactor

#2921 add apex test
  .github/workflows/tpu-testing.yml
  CHANGELOG.md
  environment.yml
  pytorch_lightning/accelerators/cpu_backend.py
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
  pytorch_lightning/accelerators/dp_backend.py
  pytorch_lightning/accelerators/gpu_backend.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/debugging.py
  tests/models/test_amp.py
  tests/trainer/test_trainer_steps_result_return.py
Labels: tests / CI

#2957 Fix enforce_datamodule_dataloader_override() for iterable datasets
  pytorch_lightning/trainer/configuration_validator.py
Labels: bug / fix

#2960 fix(docs): docstring for amp_backend
  docs/source/new-project.rst
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: documentation

#2965 update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#2964 Add labels to sphinx docs
  docs/source/apex.rst
  docs/source/child_modules.rst
  docs/source/datamodules.rst
  docs/source/debugging.rst
  docs/source/early_stopping.rst
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/fast_training.rst
  docs/source/governance.rst
  docs/source/hooks.rst
  docs/source/hyperparameters.rst
  docs/source/introduction_guide.rst
  docs/source/lightning-module.rst
  docs/source/loggers.rst
  docs/source/lr_finder.rst
  docs/source/metrics.rst
  docs/source/multiple_loaders.rst
  docs/source/new-project.rst
  docs/source/optimizers.rst
  docs/source/performance.rst
  docs/source/production_inference.rst
  docs/source/profiler.rst
  docs/source/results.rst
  docs/source/sequences.rst
  docs/source/single_gpu.rst
  docs/source/slurm.rst
  docs/source/test_set.rst
  docs/source/tpu.rst
  docs/source/trainer.rst
  docs/source/training_tricks.rst
  docs/source/transfer_learning.rst
  docs/source/weights_loading.rst
Labels: documentation

#2959 Bugfix/2956 tpu distrib backend fix
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_tpu.py
Labels: 0:] Ready-To-Go, TPU, bug / fix

#2945 Add docs for GpuUsageLogger
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/gpu_usage_logger.py
Labels: documentation

#2973 fix nb. devices
  pytorch_lightning/accelerators/ddp_backend.py
Labels: Priority, bug / fix

#2980 add docker badge
  README.md
Labels: documentation

#2983 add linked badge
  README.md
Labels: documentation

#2926 Save test predictions on multiple GPUs
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/supporters.py
  tests/base/model_test_steps.py
  tests/core/test_results.py
Labels: enhancement

#2853 Fix accumulate_grad_batches for last batch
  CHANGELOG.md
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_trainer.py
Labels: bug / fix

#2863 build XLA with py3.6
  .github/workflows/docker-builds.yml
  dockers/base-cuda/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/conda/Dockerfile
  dockers/tpu-extras/Dockerfile
Labels: Priority, tests / CI

#2988 re-trigger build
  tests/base/datamodules.py
  tests/models/test_amp.py
Labels: documentation

#2990 missing logs
  CHANGELOG.md
Labels: documentation

#2997 ddp fix for trainer.test() + add basic ddp tests
  CHANGELOG.md
  docs/source/multi_gpu.rst
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/distributed.py
  tests/base/model_valid_epoch_ends.py
  tests/models/data/ddp/train_test_variations.py
  tests/models/test_gpu.py
Labels: DDP, bug / fix, documentation, tests / CI

#3026 Remove redundant line in datamodules docs
  docs/source/datamodules.rst
Labels: documentation

#3007 Fix typo in Quick Start/Step-by-step walk-through
  docs/source/introduction_guide.rst
  docs/source/lightning-module.rst
  docs/source/new-project.rst
Labels: documentation

#3020 Fix result gathering with varying tensor shapes
  CHANGELOG.md
  pytorch_lightning/core/step_result.py
  tests/core/test_results.py
Labels: bug / fix

#3045 fix auto scale batch size not working with precision=16
  CHANGELOG.md
  pytorch_lightning/trainer/training_io.py
  tests/trainer/test_trainer_tricks.py
Labels: bug / fix

#3054 [docs] Add copy and toggle buttons to sphinx
  docs/source/conf.py
  requirements/docs.txt
Labels: documentation

#3043 fix setting batch_size attribute in batch_size finder (finishing PR #2523)
  CHANGELOG.md
  pytorch_lightning/trainer/training_tricks.py
  tests/trainer/test_trainer_tricks.py
Labels: bug / fix

#3003 Feature/log computational graph
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/trainer/trainer.py
  tests/loggers/test_tensorboard.py
  tests/models/test_cpu.py
Labels: enhancement

#3038 Add transfer_batch_to_device hook to DataModule
  docs/source/datamodules.rst
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
Labels: 0:] Ready-To-Go

#2949 Change structure of walkthrough
  docs/source/introduction_guide.rst
Labels: documentation

#2998 miss logs, for final releasing
  CHANGELOG.md
Labels: documentation

#3082 changelogs clean
  CHANGELOG.md
  pytorch_lightning/__init__.py
  tests/__init__.py
Labels: Priority, documentation

#2974 fix tb hparams logging
  pytorch_lightning/loggers/tensorboard.py
  tests/loggers/test_all.py
  tests/loggers/test_tensorboard.py
Labels: bug / fix, enhancement

#3110 Fix an import deprecation warning
  pytorch_lightning/overrides/data_parallel.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#3106 Update README.md
  README.md
Labels: 0:] Ready-To-Go, bug / fix, documentation

#3056 Fix tpu cleanup
  .circleci/config.yml
Labels: 0:] Ready-To-Go, tests / CI

#3105 drop packaging
  pytorch_lightning/utilities/cloud_io.py
  requirements/base.txt
  tests/loggers/test_tensorboard.py
  tests/models/test_cpu.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, enhancement

#3119 ref 2: move xxx_step to dp/ddp backends
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
  pytorch_lightning/accelerators/dp_backend.py
  pytorch_lightning/accelerators/tpu_backend.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
Labels: Refactor

#3109 Make trainer.state a read-only property
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_states.py
Labels: 0:] Ready-To-Go, enhancement

#3122 ref: refactored horovod xxx_step
  pytorch_lightning/accelerators/horovod_backend.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
Labels: Refactor

#3123 ref: remove obscure forward call in eval + CPU backend ___step
  pytorch_lightning/accelerators/cpu_backend.py
  pytorch_lightning/accelerators/horovod_backend.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_trainer.py
Labels: Refactor

#3126 ref: reduced all simplified_forward
  pytorch_lightning/trainer/training_loop.py
Labels: Refactor

#3129 ref: refactor eval loop to use hooks. use test_mode for if so we can split later
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
Labels: Refactor

#3130 ref: moved ___step_end hooks
  pytorch_lightning/accelerators/base_backend.py
  pytorch_lightning/accelerators/cpu_backend.py
  pytorch_lightning/accelerators/ddp2_backend.py
  pytorch_lightning/accelerators/ddp_backend.py
  pytorch_lightning/accelerators/ddp_spawn_backend.py
  pytorch_lightning/accelerators/dp_backend.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: Refactor

#3147 README.md typo correction
  README.md
Labels: 0:] Ready-To-Go, documentation

#3156 ref: clean up hooks in run_evaluation
  pytorch_lightning/trainer/evaluate_loop.py
  pytorch_lightning/trainer/evaluation_loop.py
Labels: Refactor

#3152 GANs in pl-examples updated for lightning-0.9
  pl_examples/domain_templates/generative_adversarial_net.py
Labels: bug / fix

#3165 ref: expand eval loop out
  pytorch_lightning/trainer/evaluation_loop.py
Labels: Refactor

#3040 [WIP] Test for TB hparams logging
  tests/loggers/test_tensorboard.py
Labels: enhancement, tests / CI

#3173 Set pep8speaks' max-line-length to 120 (same as black)
  .pep8speaks.yml
Labels: 0:] Ready-To-Go, tests / CI

#3174 Fix typo
  pytorch_lightning/metrics/functional/classification.py
Labels: 0:] Ready-To-Go, documentation

#3151 Update training_tricks.py
  pytorch_lightning/trainer/training_tricks.py
Labels: 0:] Ready-To-Go, bug / fix

#2528 New modular metric interface
  CHANGELOG.md
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/metric.py
  tests/base/model_train_steps.py
  tests/metrics/test_classification.py
  tests/metrics/test_converters.py
  tests/metrics/test_metrics.py
  tests/metrics/test_sklearn.py
Labels: 0:] Ready-To-Go, Important, enhancement, v1.0 allowed

#3188 Fix RMSLE metric
  CHANGELOG.md
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/regression.py
  tests/metrics/functional/test_regression.py
Labels: 0:] Ready-To-Go, Metrics, bug / fix

#3145 fix ONNX model save on GPU
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/models/test_onnx.py
Labels: bug / fix

#3201 Add self-supervised learning example
  docs/source/index.rst
Labels: documentation, tutorial / example

#3196 DP FP16 device fix
  pytorch_lightning/accelerators/dp_backend.py
Labels: DP, bug / fix

#3224 update core contributors
  README.md
  docs/source/governance.rst
Labels: 0:] Ready-To-Go, documentation

#3008 Fix GpuUsageLogger to work on different platforms
  CHANGELOG.md
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/gpu_usage_logger.py
  tests/callbacks/test_gpu_stats_monitor.py
Labels: bug / fix

#3216 docfix for minimize in TrainResult
  docs/source/results.rst
Labels: 0:] Ready-To-Go, documentation

#3202 Follow up of #2892
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/data.py
  tests/trainer/test_dataloaders.py
Labels: Refactor, tests / CI

#2874 warn user when dropping unpicklable hparams
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/parsing.py
  tests/models/test_hparams.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#3236 Bug Fix: Remote Logging with Tensorboard
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/tensorboard.py
Labels: bug / fix

#2501 callback method for on_save_checkpoint
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/upgrade_checkpoint.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_model_checkpoint.py
  tests/utilities/test_upgrade_checkpoint.py
Labels: enhancement

#3235 Parse Union[bool, str] arguments
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/parsing.py
  tests/trainer/test_trainer_cli.py
Labels: bug / fix

#3272 Fix doc in `docs/source/new-project.rst`
  docs/source/new-project.rst
Labels: documentation
