Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-06, with the labels that each got.

#2037 sooner CI testing
  .github/workflows/ci-testing.yml
Labels: PR: Ready-To-Go, tests / CI

#2029 Replaces ddp .spawn with subprocess
  .run_local_tests.sh
  pl_examples/basic_examples/cpu_template.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/model_utilities.py
  tests/base/utils.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_lr.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_restore.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_trainer.py
Labels: Important, Priority, bug / fix

#2014 Fix domain_template scripts
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
Labels: bug / fix

#2055 fix(wandb): use same logger on multiple training loops
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: bug / fix

#2053 notes on Bug fixing
  .github/CONTRIBUTING.md
Labels: PR: Ready-To-Go, documentation

#2052 fix bug_report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: PR: Ready-To-Go, documentation

#2033 slow tpu train
  CHANGELOG.md
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
Labels: PR: Ready-To-Go, bug / fix

#2050 Add Open MPI installation details for horovod
  tests/README.md
Labels: PR: Ready-To-Go, documentation

#2021 Update/merge multi-gpu docs
  CHANGELOG.md
  docs/source/apex.rst
  docs/source/multi_gpu.rst
  docs/source/slurm.rst
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/distrib_parts.py
Labels: PR: Ready-To-Go, documentation

#2012 Mistake in parameters' grad norm tracking
  pytorch_lightning/core/grads.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_grad_norm.py
Labels: bug / fix

#2020 Raise an error when lightning replaces an existing sampler
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
Labels: enhancement

#1756 data transfer model hook (+ refactor)
  CHANGELOG.md
  pytorch_lightning/__init__.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/apply_func.py
  tests/models/test_hooks.py
Labels: enhancement

#2054 tests drop macOS py38
  .github/workflows/ci-testing.yml
  README.md
Labels: Priority, bug / fix, tests / CI

#2039 increase acc
  .circleci/config.yml
  .drone.yml
  .github/workflows/ci-testing.yml
  .run_local_tests.sh
  setup.cfg
  tests/README.md
  tests/base/utils.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
Labels: Priority, bug / fix, tests / CI

#2061 Tests/drop macos py38
  .github/workflows/ci-testing.yml
  README.md
Labels: tests / CI

#1610 Added black formater for the code with code-checker on pull
  .github/CONTRIBUTING.md
  .github/workflows/code-formatting-check.yml
  .pep8speaks.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  MANIFEST.in
  README.md
  pyproject.toml
  setup.cfg
  tests/requirements.txt
Labels: PR: Ready-To-Go, discussion, enhancement

#2048 Fix local variables being collected into module_arguments dict
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/models/test_hparams.py
Labels: bug / fix

#1587 testing new speed
  benchmarks/parity_modules.py
  benchmarks/test_parity.py
  benchmarks/test_trainer_parity.py
  tests/base/utils.py
Labels: PR: Ready-To-Go, Priority, tests / CI

#2068 correct trainer.fit production example
  pytorch_lightning/trainer/trainer.py
Labels: documentation, enhancement

#2030 cleaning
  .github/workflows/ci-testing.yml
  .mergify.yml
  .pep8speaks.yml
  README.md
  pytorch_lightning/core/lightning.py
  tests/base/model_template.py
  tests/base/utils.py
  tests/callbacks/test_progress_bar.py
  tests/collect_env_details.py
  tests/loggers/test_base.py
  tests/loggers/test_neptune.py
  tests/loggers/test_trains.py
  tests/models/test_hparams.py
  tests/test_deprecated.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
Labels: PR: Ready-To-Go, tests / CI

#2047 update hparams, allow OmegaConf
  CHANGELOG.md
  docs/source/hyperparameters.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/parsing.py
  tests/base/model_template.py
  tests/loggers/test_trains.py
  tests/models/test_cpu.py
  tests/models/test_hparams.py
  tests/models/test_restore.py
  tests/requirements-devel.txt
  tests/trainer/test_trainer.py
Labels: Important, bug / fix, enhancement

#2099 update readme with conda installation instruction
  README.md
Labels: PR: Ready-To-Go, documentation

#2082 [docs] Update Readme with running overhead time
  README.md
Labels: documentation, duplicate

#2115 Adds back the slow spawn ddp implementation that people want
  docs/source/multi_gpu.rst
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
Labels: bug / fix, enhancement

#2119 fixes early stopping bug
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
Labels: bug / fix

#2126 Remove explicit flush from tensorboard logger
  CHANGELOG.md
  pytorch_lightning/loggers/tensorboard.py
Labels: bug / fix

#2122 Add docs about example dependencies
  .github/CONTRIBUTING.md
Labels: PR: Ready-To-Go, documentation

#2117 Add example to README.md for fine-tuning BERT etc for QA datasets like Squad
  README.md
Labels: PR: Ready-To-Go, documentation

#2113 fix callback signature on trainer
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#2130 [docs] Add Cotratron to community examples
  docs/source/index.rst
Labels: documentation

#2135 Setup py3.8
  setup.py
Labels: PR: Ready-To-Go, documentation

#2125 Docs/changelog
  CHANGELOG.md
Labels: PR: Ready-To-Go, documentation

#2105 test cloudpickle
  .github/workflows/ci-testing.yml
  tests/models/test_restore.py
  tests/requirements-devel.txt
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, bug / fix, tests / CI

#1667 Allow loading checkpoints from urls
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/io.py
  tests/conftest.py
  tests/trainer/test_trainer.py
Labels: enhancement

#2154 Fix DataParallel typo
  docs/source/multi_gpu.rst
Labels: documentation

#2144 Add documentation to native metrics
  pytorch_lightning/metrics/functional/classification.py
Labels: documentation

#2076 Fix typo in contributing docs
  .github/CONTRIBUTING.md
Labels: PR: Ready-To-Go, documentation

#2121 Fix some pyright member access errors in training module
  .github/workflows/python-type-check.yml
  .mergify.yml
  .pyrightconfig.json
  MANIFEST.in
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/seed.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
Labels: PR: Ready-To-Go, bug / fix, enhancement

#2073 remove deprecated API for v0.8
  .drone.yml
  .github/workflows/code-formatting.yml
  CHANGELOG.md
  docs/source/conf.py
  docs/source/weights_loading.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/model_saving.py
  pytorch_lightning/core/root_module.py
  pytorch_lightning/logging/comet_logger.py
  pytorch_lightning/logging/mlflow_logger.py
  pytorch_lightning/logging/test_tube_logger.py
  pytorch_lightning/overrides/override_data_parallel.py
  pytorch_lightning/pt_overrides/__init__.py
  pytorch_lightning/pt_overrides/override_data_parallel.py
  pytorch_lightning/root_module/__init__.py
  pytorch_lightning/root_module/decorators.py
  pytorch_lightning/root_module/grads.py
  pytorch_lightning/root_module/hooks.py
  pytorch_lightning/root_module/memory.py
  pytorch_lightning/root_module/model_saving.py
  pytorch_lightning/root_module/root_module.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  setup.cfg
  tests/loggers/test_all.py
  tests/test_deprecated.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
Labels: Important, PR: Ready-To-Go, let's do it!, tests / CI

#2153 Fix bug in ModelCheckpoint path split
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: PR: Ready-To-Go, bug / fix

#2162 Fix docs for 0.8.0
  docs/source/lr_finder.rst
  docs/source/multi_gpu.rst
Labels: Priority

#2168 sets default ddp mode to spawn
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
Labels: Priority

#1488 Native torch metrics
  CHANGELOG.md
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/utils.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/test_classification.py
  tests/metrics/test_converters.py
  tests/metrics/test_metrics.py
  tests/metrics/test_sklearn_metrics.py
Labels: Important, PR: Ready-To-Go, enhancement, help wanted

#2128 clean requirements
  .circleci/config.yml
  .drone.yml
  .github/CONTRIBUTING.md
  .github/workflows/ci-testing.yml
  .github/workflows/docs-check.yml
  .readthedocs.yml
  MANIFEST.in
  docker/Dockerfile
  docs/source/conf.py
  requirements/base.txt
  requirements/devel.txt
  requirements/docs.txt
  requirements/examples.txt
  requirements/extra.txt
  requirements/test.txt
  setup.py
  tests/Dockerfile
  tests/README.md
Labels: enhancement, tests / CI

#2152 Docs/template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Priority, documentation

#2166 Finish Ananthsub patch 1 (enable prepare_data from correct processes). clarify local vs global rank
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
Labels: Priority

#2176 Docs & Changelog
  .github/CONTRIBUTING.md
  .github/workflows/python-type-check.yml
  CHANGELOG.md
  pytorch_lightning/metrics/functional/classification.py
  requirements/devel.txt
Labels: PR: Ready-To-Go, Priority, bug / fix, documentation

#2160 past checkpoints
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/training_io.py
  tests/models/test_hparams.py
  tests/trainer/test_trainer.py
Labels: Priority, bug / fix

#2183 Fix for accuracy calculation
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
Labels: bug / fix

#2134 Handle KeyboardInterrupt during training
  CHANGELOG.md
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_trainer.py
Labels: Priority, enhancement

#2190 Add ckpt_path option to LightningModule.test()
  docs/source/test_set.rst
  pytorch_lightning/trainer/trainer.py
  tests/base/model_valid_epoch_ends.py
  tests/models/test_restore.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: enhancement

#2194 hide doctest decoration
  docs/source/_static/copybutton.js
  docs/source/conf.py
Labels: documentation

#1905 HenryJia: auto-move data decorator
  CHANGELOG.md
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/__init__.py
  tests/core/test_decorators.py
Labels: enhancement

#1773 Refactor model summary + generalize example input array
  CHANGELOG.md
  benchmarks/parity_modules.py
  benchmarks/test_parity.py
  docs/source/debugging.rst
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/models/lightning_template.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/trainer/trainer.py
  tests/base/datasets.py
  tests/base/models.py
  tests/core/__init__.py
  tests/core/test_memory.py
Labels: bug / fix, enhancement

#2195 template label typo
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Priority, bug / fix, documentation

#2177 README typo
  README.md
Labels: PR: Ready-To-Go, documentation

#2201 cleaning tests
  tests/callbacks/test_callbacks.py
  tests/conftest.py
  tests/core/test_decorators.py
  tests/metrics/functional/test_classification.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_grad_norm.py
  tests/models/test_hparams.py
  tests/trainer/test_trainer.py
Labels: tests / CI

#2202 reduce test warnings
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/base/model_test_epoch_ends.py
  tests/base/model_valid_epoch_ends.py
  tests/callbacks/test_callbacks.py
  tests/test_deprecated.py
  tests/trainer/test_trainer.py
Labels: tests / CI

#2206 deprecated: epoch indexing from 1
  CHANGELOG.md
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/models/test_hooks.py
  tests/models/test_restore.py
  tests/trainer/test_trainer.py
Labels: Priority, bug / fix, enhancement

#2198 test: save hparams to yaml
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/utilities/cloud_io.py
  requirements/base.txt
  tests/models/test_hparams.py
  tests/trainer/test_trainer.py
Labels: Priority, bug / fix, tests / CI

#2184 Metrics docs
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
  tests/trainer/test_trainer.py
Labels: Priority, documentation

#2136 Configure isort
  setup.cfg
Labels: discussion, enhancement

#2209 Metric docs fix
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/sklearns.py
  tests/metrics/functional/__init__.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_classification.py
  tests/metrics/test_metrics.py
  tests/metrics/test_sklearn.py
Labels: Priority, bug / fix, documentation

#2217 add on fit_start on fit_end hooks
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callbacks.py
Labels: enhancement

#1973 Misleading exception raised during batch scaling
  pytorch_lightning/trainer/training_tricks.py
Labels: enhancement, waiting on author

#2213 Rename and fix overfit_pct, val_percent_check and test_percent_check
  CHANGELOG.md
  docs/source/debugging.rst
  docs/source/fast_training.rst
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_lr.py
  tests/callbacks/test_progress_bar.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_hparams.py
  tests/models/test_restore.py
  tests/test_deprecated.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
Labels: bug / fix

#2212 hydra ddp support + generalized ddp gpu flags
  pytorch_lightning/trainer/distrib_data_parallel.py
Labels: enhancement

#2200 Enable gradients at train start
  pytorch_lightning/trainer/training_loop.py
Labels: bug / fix

#2222 doc fixes
  docs/source/apex.rst
  docs/source/debugging.rst
  docs/source/experiment_logging.rst
  docs/source/index.rst
  docs/source/introduction_guide.rst
  docs/source/metrics.rst
Labels: documentation

#2220 replace train_percent_check with limit_train_batches
  CHANGELOG.md
  docs/source/callbacks.rst
  docs/source/fast_training.rst
  docs/source/index.rst
  docs/source/new-project.rst
  docs/source/weights_loading.rst
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/lr_logger.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/seed.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_lr.py
  tests/callbacks/test_progress_bar.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/loggers/test_neptune.py
  tests/loggers/test_trains.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/test_deprecated.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
Labels: Priority, bug / fix

#2227 fixing docs
  docs/source/debugging.rst
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/fast_training.rst
  docs/source/introduction_guide.rst
  docs/source/metrics.rst
  docs/source/optimizers.rst
  docs/source/sequences.rst
  docs/source/single_gpu.rst
  docs/source/tpu.rst
  docs/source/training_tricks.rst
  pytorch_lightning/metrics/functional/classification.py
Labels: bug / fix, documentation

#2225 allow regression metrics to import
  CHANGELOG.md
  pytorch_lightning/metrics/__init__.py
Labels: bug / fix, enhancement

#2228 small typo in docs
  docs/source/apex.rst
Labels: documentation

#1920 Fix num batches in case of multiple dataloaders and percent_check
  docs/source/debugging.rst
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/fast_training.rst
  docs/source/introduction_guide.rst
  docs/source/metrics.rst
  docs/source/optimizers.rst
  docs/source/sequences.rst
  docs/source/single_gpu.rst
  docs/source/tpu.rst
  docs/source/training_tricks.rst
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  tests/test_deprecated.py
Labels: bug / fix

#2181 final cleanup for v0.8.0
  CHANGELOG.md
  README.md
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/callback_hook.py
Labels: Priority, documentation, enhancement

#2234 Docs clean-up
  docs/source/introduction_guide.rst
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/models/lightning_template.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  tests/base/model_template.py
  tests/callbacks/test_callbacks.py
Labels: documentation, enhancement

#2062 [metrics] IoU Metric
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_classification.py
Labels: enhancement

#2224 Change PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#2244 Fixed the load_from_checkpoint path detected as URL bug
  pytorch_lightning/utilities/cloud_io.py
  tests/trainer/test_trainer.py
Labels: enhancement

#2237 Typo fix in metrics docs
  docs/source/metrics.rst
Labels: documentation

#2236 Docs new section
  CHANGELOG.md
  README.md
  docs/source/apex.rst
  docs/source/callbacks.rst
  docs/source/debugging.rst
  docs/source/experiment_logging.rst
  docs/source/fast_training.rst
  docs/source/hooks.rst
  docs/source/introduction_guide.rst
  docs/source/metrics.rst
  docs/source/tpu.rst
  pytorch_lightning/__init__.py
Labels: documentation

#2245 added barrier
  pytorch_lightning/trainer/trainer.py
Labels: Priority, bug / fix

#2247 made fx public
  docs/source/trainer.rst
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
Labels: bug / fix

#2248 updates to changelog
  CHANGELOG.md
Labels: documentation

#2262 Release2
  docs/source/apex.rst
  docs/source/early_stopping.rst
  docs/source/experiment_reporting.rst
  docs/source/hooks.rst
  docs/source/hyperparameters.rst
  docs/source/introduction_guide.rst
  docs/source/loggers.rst
  docs/source/lr_finder.rst
  docs/source/multi_gpu.rst
  docs/source/multiple_loaders.rst
  docs/source/optimizers.rst
  docs/source/performance.rst
  docs/source/sequences.rst
  docs/source/slurm.rst
  docs/source/test_set.rst
  docs/source/training_tricks.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/utilities/distributed.py
Labels: documentation

#2264 continue 0.8.x
  CHANGELOG.md
  docs/source/introduction_guide.rst
  docs/source/loggers.rst
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
Labels: Priority, bug / fix, documentation

#2272 Attempt to add broken test to mimic transformers use case
  tests/models/test_amp.py
Labels: enhancement, tests / CI

#2276 [refactor results 1] - refactor backward
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/training_loop.py
Labels: enhancement

#2269 deprecated Trainer proc_rank
  CHANGELOG.md
  pytorch_lightning/trainer/deprecated_api.py
  tests/test_deprecated.py
Labels: PR: Ready-To-Go, Priority, bug / fix

#2268 fix sum(0) for trainer.num_val_batches
  pytorch_lightning/callbacks/progress.py
Labels: PR: Ready-To-Go, bug / fix

#2289 Revert/Fix: epoch indexing from 1, to be from 0
  CHANGELOG.md
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/models/test_hooks.py
  tests/models/test_restore.py
  tests/trainer/test_trainer.py
Labels: Priority, bug / fix

#2284 test CLI parsing gpus
  tests/models/test_gpu.py
  tests/trainer/test_trainer_cli.py
Labels: tests / CI

#2273 check omegaconf gpus
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/distrib_parts.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, enhancement

#2292 docs: devel version
  pytorch_lightning/__init__.py
Labels: documentation

#2298 Fix summary hook handles not getting removed
  CHANGELOG.md
  pytorch_lightning/core/memory.py
  tests/core/test_memory.py
Labels: bug / fix

#2319 Fix average_precision metric
  CHANGELOG.md
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
Labels: bug / fix

#2304 Fix ROC metric for CUDA tensors
  CHANGELOG.md
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
Labels: PR: Ready-To-Go, bug / fix

#2328 refactored training_batch + tests to verify correctness
  pytorch_lightning/trainer/training_loop.py
  tests/base/deterministic_model.py
  tests/trainer/test_trainer_steps.py
Labels: enhancement

#2324 update docs for "overfit_batches"
  docs/source/debugging.rst
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
Labels: PR: Ready-To-Go, documentation

#2216 Checking if the parameters are a DictConfig Object
  pytorch_lightning/loggers/base.py
Labels: PR: Ready-To-Go, bug / fix, enhancement

#2226 Add missing test for "multiple dataloader + percent_check fix"
  CHANGELOG.md
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/model_test_dataloaders.py
  tests/base/model_test_epoch_ends.py
  tests/base/model_utilities.py
  tests/base/model_valid_dataloaders.py
  tests/base/model_valid_epoch_ends.py
  tests/test_deprecated.py
  tests/trainer/test_dataloaders.py
Labels: PR: Ready-To-Go, bug / fix, tests / CI

#2094 fix TPU parsing and TPU tests
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_gpu.py
  tests/models/test_tpu.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
Labels: Important, PR: Ready-To-Go, TPU, enhancement, tests / CI

#2335 Fix lost compatibility with custom datatypes implementing `.to`
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/utilities/apply_func.py
  tests/models/test_gpu.py
Labels: bug / fix

#2353 corrected example usage of save_hyperparameters from List[str]
  docs/source/hyperparameters.rst
Labels: PR: Ready-To-Go, documentation

#2348 Python logging level docs
  docs/source/experiment_reporting.rst
Labels: PR: Ready-To-Go, documentation

#2349 remove type annotation in LightningTemplateModel init
  pl_examples/models/lightning_template.py
Labels: documentation

#2340 [docs] add community example : pl + ms nni
  README.md
Labels: documentation

#2356 swaps lr sched order
  pytorch_lightning/trainer/optimizers.py
Labels: PR: Ready-To-Go, bug / fix

#2342 adds tensorboard hparams logging test
  tests/loggers/test_tensorboard.py
Labels: PR: Ready-To-Go, bug / fix, tests / CI

#2363 making optimization steps for hooks
  README.md
  docs/source/optimizers.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
Labels: enhancement

#2362 changed apex level
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#2307 Bugfix/_has_len
  CHANGELOG.md
  tests/base/dataloaders.py
  tests/base/model_utilities.py
  tests/trainer/test_dataloaders.py
Labels: PR: Ready-To-Go, bug / fix, tests / CI

#2375 fix get dataloader size
  .github/workflows/python-type-check.yml
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
Labels: PR: Ready-To-Go, Priority, bug / fix

#2358 repair CI for Win
  .github/workflows/ci-testing.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docker-builds.yml
  .github/workflows/pypi-release.yml
  .github/workflows/python-type-check.yml
  CHANGELOG.md
  benchmarks/test_parity.py
  pl_examples/basic_examples/gpu_template.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/sklearns.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/cloud_io.py
  tests/base/datasets.py
  tests/base/deterministic_model.py
  tests/base/develop_pipelines.py
  tests/base/develop_utils.py
  tests/base/model_utilities.py
  tests/base/utils.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_lr.py
  tests/conftest.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/loggers/test_neptune.py
  tests/loggers/test_tensorboard.py
  tests/metrics/test_converters.py
  tests/metrics/test_sklearn.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_grad_norm.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/models/test_tpu.py
  tests/trainer/test_checks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/trainer/test_trainer_steps.py
  tests/trainer/test_trainer_tricks.py
Labels: PR: Ready-To-Go, Priority, bug / fix, tests / CI

#2373 native amp
  .circleci/config.yml
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
Labels: PR: Ready-To-Go, documentation, enhancement

#2321 Fix ModelCheckpoint example
  docs/source/weights_loading.rst
Labels: PR: Ready-To-Go, documentation

#2374 docker build: fix key typo for args
  .github/workflows/docker-builds.yml
Labels: PR: Ready-To-Go, bug / fix

#2383 fix docker builds
  .github/workflows/docker-builds.yml
  docker/Dockerfile
  docker/README.md
Labels: PR: Ready-To-Go, Priority, bug / fix, tests / CI

#2285 add CLI test for examples
  .drone.yml
  pl_examples/basic_examples/cpu_template.py
  pl_examples/basic_examples/gpu_template.py
  pl_examples/basic_examples/multi_node_ddp2_demo.py
  pl_examples/basic_examples/multi_node_ddp_demo.py
  pl_examples/test_examples.py
Labels: PR: Ready-To-Go, tests / CI

#2384 move Trains logger to Bolts
  CHANGELOG.md
  README.md
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/loggers.rst
  environment.yml
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/trains.py
  requirements/extra.txt
  tests/loggers/test_all.py
  tests/loggers/test_trains.py
Labels: let's do it!

#2388 fixes logger crash on ddp
  pl_examples/models/lightning_template.py
  pytorch_lightning/trainer/callback_config.py
Labels: bug / fix

#2378 CI: partial move from CircleCI
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docker-builds.yml
  .github/workflows/docs-check.yml
  .github/workflows/docs-checks.yml
  .github/workflows/greetings.yml
  .github/workflows/install-pkg.yml
  .github/workflows/pypi-release.yml
  .github/workflows/rebase.yml
Labels: enhancement, tests / CI

#2379 Support torchtext on a single GPU
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/utilities/apply_func.py
  requirements/base.txt
  requirements/extra.txt
  tests/models/test_gpu.py
Labels: enhancement

#2387 fix loading model with kwargs
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/training_io.py
  tests/base/model_template.py
  tests/models/test_hparams.py
  tests/test_deprecated.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_optimizers.py
Labels: bug / fix, tests / CI

#2395 move torchtext as optional
  pytorch_lightning/utilities/apply_func.py
  requirements/base.txt
  requirements/extra.txt
Labels: bug / fix, enhancement

#2396 docs: dont mock imports when running sphinx doctest
  .github/workflows/docs-checks.yml
  docs/source/apex.rst
  docs/source/conf.py
  pytorch_lightning/trainer/__init__.py
Labels: documentation, tests / CI

#2389 updates teardown to account for ddp
  pytorch_lightning/trainer/training_loop.py
Labels: bug / fix

#2405 fix loading past checpoints
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  tests/models/test_hparams.py
Labels: bug / fix

#2402 fix missing torchtext.Batch import when torchtext not installed
  pytorch_lightning/utilities/apply_func.py
Labels: PR: Ready-To-Go, Priority, bug / fix

#2403 fix loading with hparams
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  tests/models/test_hparams.py
Labels: bug / fix

#2391 Continue Jeremy's early stopping PR #1504
  CHANGELOG.md
  docs/source/callbacks.rst
  docs/source/experiment_logging.rst
  docs/source/weights_loading.rst
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_lr_logger.py
  tests/callbacks/test_model_checkpoint.py
  tests/callbacks/test_progress_bar.py
  tests/loggers/test_base.py
  tests/loggers/test_wandb.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_grad_norm.py
  tests/models/test_hooks.py
  tests/models/test_restore.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/trainer/test_trainer_steps.py
  tests/trainer/test_trainer_tricks.py
Labels: Important, Priority, bug / fix, enhancement

#2414 release v0.8.3
  CHANGELOG.md
  README.md
Labels: documentation

#2415 fix docker build typo
  .github/workflows/docker-builds.yml
Labels: Priority, bug / fix, tests / CI

#2416 continue develop
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: PR: Ready-To-Go, documentation

#2412 tests: drop CircleCI
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docs-checks.yml
  .github/workflows/pt-conda.yml
  README.md
  environment.yml
  requirements/devel.txt
  requirements/test.txt
Labels: enhancement, tests / CI

#2434 added reduce ddp results on eval
  pytorch_lightning/trainer/evaluation_loop.py
Labels: bug / fix

#2417 Checking ipywidgets is installed for ensure tqdm working
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/lr_finder.py
Labels: bug / fix

#2425 fix logging on rank 0 only
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  tests/loggers/test_all.py
  tests/models/test_horovod.py
Labels: Priority, bug / fix

#2418 Pure package & base tests
  .github/workflows/ci-test-base.yml
  .github/workflows/ci-testing.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docs-checks.yml
  docs/source/weights_loading.rst
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/trainer/trainer.py
  requirements/base.txt
Labels: PR: Ready-To-Go, let's do it!, tests / CI
