Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-09, with the labels that each got.

#3277 Fix typo in results.rst
  docs/source/results.rst
Labels: documentation

#3298 distinguished between overfit_batches examples
  docs/source/debugging.rst
Labels: 0:] Ready-To-Go, documentation

#3284 Added missing term 'Data' in 'LigthningModuleAPI'
  docs/source/datamodules.rst
Labels: documentation

#3252 bugfix/3185 transpose
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/core/step_result.py
  tests/models/test_tpu.py
Labels: bug / fix

#3287 Fix (weights only) checkpoints loading without pl
  pytorch_lightning/trainer/training_io.py
Labels: 0:] Ready-To-Go, bug / fix

#3247 Add conda version/downloads, discourse badges to readme
  README.md
Labels: documentation

#3194 Docs/improved multigpu doc clarity
  docs/source/multi_gpu.rst
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation

#3319 Fix: gather_all_tensors cross GPUs in DDP
  pytorch_lightning/metrics/converters.py
  tests/metrics/test_converters.py
Labels: 0:] Ready-To-Go, DDP, Metrics, bug / fix

#3251 Changed LearningRateLogger to LearningRateMonitor
  CHANGELOG.md
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/lr_logger.py
  pytorch_lightning/callbacks/lr_monitor.py
  tests/callbacks/test_lr_monitor.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, Refactor

#3258 to_torchscript method for LightningModule
  CHANGELOG.md
  docs/source/lightning-module.rst
  docs/source/production_inference.rst
  pytorch_lightning/core/lightning.py
  tests/base/models.py
  tests/models/test_horovod.py
  tests/models/test_torchscript.py
Labels: API, enhancement

#3266 update batch size in LightningModule.datamodule when auto scaling batch size
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/parsing.py
  tests/trainer/test_trainer_tricks.py
Labels: bug / fix

#3343 Fix non autoplaying videos in Doc on Safari iOS
  docs/source/callbacks.rst
  docs/source/datamodules.rst
  docs/source/introduction_guide.rst
  docs/source/lightning-module.rst
  docs/source/new-project.rst
Labels: documentation

#3257 Refactor GPUStatsMonitor to improve training speed
  CHANGELOG.md
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/gpu_usage_logger.py
  pytorch_lightning/core/memory.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/test_deprecated.py
Labels: enhancement

#3344 Ref: Pull duplicate data interface definition up into DataHooks class
  docs/source/lightning-module.rst
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
Labels: Refactor

#3326 Correct documentation examples of `optimizer_step`
  docs/source/optimizers.rst
Labels: documentation

#3357 Fix yaml deprecation
  pytorch_lightning/core/saving.py
Labels: bug / fix

#3360 Fix sample code of LightningModule DataLoaders
  docs/source/introduction_guide.rst
Labels: 0:] Ready-To-Go, documentation

#3404 Added check for apex AMP and unit tests for Horovod + AMP
  CHANGELOG.md
  pytorch_lightning/accelerators/horovod_backend.py
  tests/models/test_horovod.py
Labels: enhancement

#3271 limit auto scaling batch size to the size of the training dataset
  CHANGELOG.md
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/tuner/batch_size_scaling.py
  tests/trainer/test_trainer_tricks.py
Labels: 0:] Ready-To-Go, bug / fix

#3394 Get experiment_id from MLFlow only once instead of each training loop.
  CHANGELOG.md
  pytorch_lightning/loggers/mlflow.py
  tests/loggers/test_mlflow.py
Labels: 0:] Ready-To-Go, Logger, bug / fix, v1.0 allowed

#3409 ignore types in files
  .github/workflows/ci-testing.yml
  .pyrightconfig.json
Labels: Priority, tests / CI

#3412 ref: trainer 1/n
  pytorch_lightning/trainer/evaluate_loop.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/initializer.py
  pytorch_lightning/trainer/trainer.py
Labels: Refactor

#3423 license update
  setup.py
Labels: documentation

#3187 make PyTorch Lightning PEP 561 Compliant
  MANIFEST.in
  pytorch_lightning/py.typed
Labels: 0:] Ready-To-Go, enhancement

#3416 📝Update Readme.md (Code Error Minimal Example)
  README.md
Labels: documentation

#3229 Fix batch_outputs with optimizer frequencies
  CHANGELOG.md
  docs/source/converting.rst
  pytorch_lightning/trainer/training_loop.py
  tests/base/model_optimizers.py
  tests/trainer/test_optimizers.py
Labels: 0:] Ready-To-Go, bug / fix

#3383 add CI for building dockers
  .drone.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_pkg-install.yml
  .github/workflows/ci_pt-conda.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-tpu.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docker-builds.yml
  .github/workflows/pypi-release.yml
  .mergify.yml
  README.md
  dockers/base-xla/Dockerfile
  dockers/conda/Dockerfile
  environment.yml
  requirements/test.txt
  setup.py
Labels: 0:] Ready-To-Go, tests / CI

#3450 add num_classes argument to confusion matrix
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_classification.py
Labels: 0:] Ready-To-Go, Metrics, enhancement

#3452 fix docs built - drop nb sphinx
  docs/source/conf.py
Labels: Priority, bug / fix, documentation

#3358 [Metrics] class based embedding similarity + tests
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/self_supervised.py
  pytorch_lightning/metrics/self_supervised.py
  tests/metrics/functional/test_self_supervised.py
Labels: 0:] Ready-To-Go, Metrics

#3459 fix error when trying to move "None" to device
  pytorch_lightning/utilities/apply_func.py
  tests/models/test_gpu.py
Labels: bug / fix

#3464 Fix trivial comparison in model checkpoint test
  tests/callbacks/test_model_checkpoint.py
Labels: bug / fix

#3345 update docs on log_save_interval
  docs/source/experiment_reporting.rst
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#3463 custom logger save docfix
  docs/source/loggers.rst
Labels: documentation

#3465 fix normalize mode at confusion matrix (replace nans with zeros)
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_classification.py
Labels: Metrics

#3328 docs: configure_sync_batchnorm, amp, readme python/conda badge
  README.md
  docs/source/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation

#3453 Revert accidental change merged with PR #3433
  docs/source/introduction_guide.rst
Labels: 0:] Ready-To-Go, bug / fix, documentation

#3321 Metric aggregation
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/sklearns.py
  tests/metrics/test_metrics.py
  tests/metrics/test_sklearn.py
Labels: Metrics

#3492 build docs on master
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_pkg-install.yml
  .github/workflows/ci_pt-conda.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-tpu.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docker-builds.yml
  .github/workflows/docs-checks.yml
  .github/workflows/pypi-release.yml
Labels: documentation, tests / CI

#3438 Pass epoch argument to Comet Logger
  pytorch_lightning/loggers/comet.py
  tests/loggers/test_comet.py
Labels: Logger, enhancement

#3322 [Metrics] Class reduction similar to sklearn
  CHANGELOG.md
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/regression.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_reduction.py
Labels: 0:] Ready-To-Go, Metrics

#3489 fix gradient norm tracking for row_log_interval > 1
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_grad_norm.py
Labels: 0:] Ready-To-Go, bug / fix

#3132 fix tensorboard version
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  environment.yml
  requirements/base.txt
  requirements/test.txt
  tests/collect_env_details.py
  tests/loggers/test_tensorboard.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#3098 Fix IoU score for classes not present in target or pred
  CHANGELOG.md
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_classification.py
  tests/trainer/test_trainer_tricks.py
Labels: 0:] Ready-To-Go, Metrics, bug / fix

#3520 fix lib paths after Wandb 0.10
  .github/workflows/ci_test-full.yml
  .pyrightconfig.json
  requirements/extra.txt
  tests/models/data/horovod/train_default_model.py
Labels: Priority, tests / CI

#3074 stable, dev PyTorch in Dockerfile and conda gh actions
  .codecov.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_pt-conda.yml
  .github/workflows/docker-builds.yml
  .mergify.yml
  README.md
  dockers/base-cuda/Dockerfile
  dockers/conda/Dockerfile
  requirements/examples.txt
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#3528 Fix log debug call
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, bug / fix

#3546 Fix misuse of transforms in docs
  docs/source/datamodules.rst
Labels: 0:] Ready-To-Go, documentation

#3347 Fix early stopping with training step's return dict
  docs/source/results.rst
  pytorch_lightning/callbacks/early_stopping.py
  tests/callbacks/test_early_stopping.py
Labels: 0:] Ready-To-Go, bug / fix

#3163 Fix ModelCheckpoints name formatting
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_model_checkpoint.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_steps_result_return.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#2553 Improve Comet Logger pickled behavior
  pytorch_lightning/loggers/comet.py
  tests/loggers/test_comet.py
Labels: enhancement

#3193 Early stopping doc
  docs/source/early_stopping.rst
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/__init__.py
Labels: 0:] Ready-To-Go, documentation

#3547 Make dims a property in datamodule
  pytorch_lightning/core/datamodule.py
Labels: 0:] Ready-To-Go, enhancement

#3454 drop v0.10 deprecated
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/connectors/debugging_connector.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/docstrings/trainer_ds.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_early_stopping.py
  tests/models/test_tpu.py
  tests/test_deprecated.py
Labels: API, v1.0 allowed

#3475 Allow kwargs in Wandb & Neptune + kwargs docstring
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_comet.py
Labels: 0:] Ready-To-Go, enhancement

#3553 Fix failed import warning for torch.distributed.group
  pytorch_lightning/metrics/sklearns.py
Labels: 0:] Ready-To-Go, bug / fix

#3557 Fix typo in loggers.rst
  docs/source/loggers.rst
Labels: 0:] Ready-To-Go, documentation

#3552 nightly releases
  .github/prepare_nightly.py
  .github/workflows/nightly.yml
Labels: enhancement, tests / CI

#3555 remove redundant ReduceOp warnings on windows
  pytorch_lightning/metrics/converters.py
  pytorch_lightning/metrics/sklearns.py
Labels: bug / fix

#3534 Fix overfit_batches > 0 on distributed_backend = "ddp"
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
Labels: bug / fix

#3573 Fix deterministic behavior in ddp_spawn
  CHANGELOG.md
  pytorch_lightning/accelerators/ddp_base_backend.py
  pytorch_lightning/utilities/seed.py
Labels: Priority, bug / fix, tests / CI

#3350 [Metrics] AUROC error on multilabel + improved testing
  CHANGELOG.md
  pytorch_lightning/metrics/classification.py
  pytorch_lightning/metrics/functional/classification.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_classification.py
Labels: 0:] Ready-To-Go, Metrics, bug / fix

#3591 add lightning colab tutorial notebooks
  docs/source/conf.py
  notebooks/01-mnist-hello-world.ipynb
  notebooks/02-datamodules.ipynb
  notebooks/03-basic-gan.ipynb
  notebooks/04-transformers-text-classification.ipynb
  notebooks/README.md
Labels: 0:] Ready-To-Go, tutorial / example

#3599 fix notebooks/README.md colab links
  notebooks/README.md
Labels: bug / fix, documentation

#3595 Update gitignore
  .gitignore
Labels: 0:] Ready-To-Go, enhancement

#3602 Docs- update lightning 2 steps guide
  docs/source/index.rst
  docs/source/new-project.rst
Labels: documentation

#3589 Small documentation fix
  docs/source/transfer_learning.rst
Labels: 0:] Ready-To-Go, documentation

#3538 fix overfit_batches warning message when percentage too small
  pytorch_lightning/trainer/data_loading.py
Labels: 0:] Ready-To-Go, enhancement

#3601 update nlp package name to datasets in transformers notebook
  notebooks/04-transformers-text-classification.ipynb
Labels: bug / fix, tutorial / example

#3608 update readme with new notebooks
  README.md
Labels: documentation

#3613 update docs on ddp limitations
  docs/source/multi_gpu.rst
Labels: documentation

#3533 build more docker configs
  .github/workflows/ci_dockers.yml
  .github/workflows/docker-builds.yml
  .mergify.yml
  dockers/base-cuda/Dockerfile
  dockers/conda/Dockerfile
  environment.yml
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#3616 fix on_fit_start
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
Labels: bug / fix

#3551 Adding clarifying documentation on the usage of second_order_closure
  docs/source/optimizers.rst
Labels: 0:] Ready-To-Go, documentation

#3561 use tmpdir in tests when writing predictions to disk
  tests/core/test_results.py
Labels: 0:] Ready-To-Go, tests / CI

#3558 Add stronger typing to gradient accumulation scheduler callback
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
Labels: 0:] Ready-To-Go, enhancement

#3643 test examples
  .github/workflows/ci_test-full.yml
  pl_examples/basic_examples/autoencoder.py
  pl_examples/test_examples.py
  requirements/devel.txt
  requirements/examples.txt
  tests/examples/__init__.py
Labels: 0:] Ready-To-Go, Priority, tests / CI

#3641 Fix docstring early_stop_callback arguments
  pytorch_lightning/trainer/__init__.py
Labels: 0:] Ready-To-Go, documentation

#3637 Lightning docker image based on base-cuda
  .github/workflows/ci_dockers.yml
  .mergify.yml
  dockers/conda/Dockerfile
Labels: 0:] Ready-To-Go, enhancement

#3644 Split GPUStatsMonitor function
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  tests/callbacks/test_gpu_stats_monitor.py
Labels: 0:] Ready-To-Go, enhancement

#3642 fix building nightly
  .github/workflows/nightly.yml
  .github/workflows/pypi-release.yml
Labels: 0:] Ready-To-Go, Priority, bug / fix, tests / CI

#3588 Fix incorrect "Saving latest checkpoint" warning
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, Checkpoint, bug / fix

#3633 Allow ModelCheckpoint monitor to be None
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, enhancement

#3615 dockers nightly
  .github/workflows/docker-builds.yml
  .github/workflows/nightly.yml
  dockers/base-cuda/Dockerfile
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#3596 Mocking loggers (part 1, wandb)
  docs/source/conf.py
  docs/source/experiment_logging.rst
  pytorch_lightning/loggers/wandb.py
  requirements/extra.txt
  requirements/loggers.txt
  setup.py
  tests/models/test_amp.py
Labels: 0:] Ready-To-Go, Logger, tests / CI

#3509 update stale config
  .github/stale.yml
Labels: enhancement, tests / CI

#3541 Enable PyTorch 1.7 in conda CI
  .github/workflows/ci_pt-conda.yml
  CHANGELOG.md
  README.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/device_dtype_mixin.py
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#3661 spec Horovod version
  .github/workflows/ci_pt-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docs-checks.yml
  dockers/base-cuda/Dockerfile
  requirements/extra.txt
Labels: 0:] Ready-To-Go, Priority, bug / fix, tests / CI

#3048 Add ModelCheckpoint.to_yaml method
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, API, discussion, enhancement

#3680 change default save_top_k, save_last to None
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_model_checkpoint.py
Labels: Priority, bug / fix

#3673 Fix global step increment on training_epoch_end
  pytorch_lightning/trainer/connectors/logger_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_horovod.py
  tests/trainer/test_correct_freq_accumulation.py
  tests/trainer/test_lr_finder.py
Labels: bug / fix

#3059 disable optimizers setup during testing
  CHANGELOG.md
  pytorch_lightning/accelerators/base_backend.py
  pytorch_lightning/accelerators/cpu_backend.py
  pytorch_lightning/accelerators/ddp_base_backend.py
  pytorch_lightning/accelerators/dp_backend.py
  pytorch_lightning/accelerators/gpu_backend.py
  pytorch_lightning/accelerators/horovod_backend.py
  pytorch_lightning/accelerators/tpu_backend.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  tests/models/test_amp.py
  tests/trainer/test_optimizers.py
Labels: enhancement, v1.0 allowed

#3719 temporally skip some typing checks
  .pyrightconfig.json
Labels: Priority, bug / fix, tests / CI

#3630 Fix ModelCheckpoint period
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, bug / fix

#2084 [Test] Add a more direct test of multi-gpu training working
  tests/base/develop_pipelines.py
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#3563 Support checkpoint hooks on data module
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/base/datamodules.py
  tests/core/test_datamodules.py
Labels: enhancement

#3667 log/save_interval based on global step
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_trainer.py
Labels: bug / fix, enhancement

#3740 define distributed as a type
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/base_backend.py
  pytorch_lightning/accelerators/ddp_base_backend.py
  pytorch_lightning/accelerators/tpu_backend.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/debugging.py
  tests/models/test_tpu.py
Labels: 0:] Ready-To-Go, Refactor, enhancement

#3739 fix PT version in CUDA docker images
  README.md
  dockers/base-cuda/Dockerfile
  dockers/base-xla/Dockerfile
Labels: 0:] Ready-To-Go, Priority, bug / fix

#3735 Make ModelCheckpoint(save_top_k=-1) track the best models
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_model_checkpoint.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Checkpoint, bug / fix

#3645 return simple docs to methods
  pytorch_lightning/trainer/docstrings/__init__.py
  pytorch_lightning/trainer/docstrings/trainer_ds.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#3024 run TPU tests with multiple versions
  .circleci/config.yml
  .github/workflows/ci_test-tpu.yml
  .mergify.yml
  README.md
  dockers/base-xla/Dockerfile
  dockers/tpu-tests/Dockerfile
Labels: 0:] Ready-To-Go, TPU, tests / CI

#3741 check if the file for metatags (hparams_file) already exists
  pytorch_lightning/loggers/tensorboard.py
Labels: 0:] Ready-To-Go, enhancement

#3718 nightly release to PyPI tests
  .github/prepare-nightly_pkg-name.py
  .github/prepare-nightly_version.py
  .github/workflows/ci_test-conda.yml
  .github/workflows/docs-checks.yml
  .github/workflows/nightly.yml
  .github/workflows/pypi-release.yml
Labels: 0:] Ready-To-Go, Priority, bug / fix, tests / CI

#3688 Finish Allow on_save_checkpoint...
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_model_checkpoint.py
  tests/models/data/horovod/train_default_model.py
Labels: enhancement
