Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-02, with the labels that each got.

#771 Fix default ckpt path when logger exists
  pytorch_lightning/trainer/callback_config.py
Labels: bug

#767 rename logging -> loggers
  pl_examples/basic_examples/lightning_module_template.py
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/pt_callbacks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/comet_logger.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/mlflow_logger.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/test_tube_logger.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_tricks.py
  tests/test_logging.py
  tests/test_restore_models.py
  tests/utils.py
Labels: bug, need fix

#755 add more detail to tbptt example
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#768 update package info
  README.md
  pytorch_lightning/__init__.py
  pytorch_lightning/trainer/training_loop.py
Labels: enhancement, need fix

#756 Resolve some codefactor issues
  .run_local_tests.sh
  pytorch_lightning/callbacks/pt_callbacks.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/trainer.py
  tests/test_restore_models.py
  tests/test_trainer.py
Labels: enhancement, good first issue, ready to go

#777 Create single file in TensorBoardLogger
  pytorch_lightning/loggers/tensorboard.py
Labels: enhancement

#786 Set warnings : Unify epoch numbers to be zero-based : #675
  pytorch_lightning/callbacks/pt_callbacks.py
  pytorch_lightning/trainer/training_loop.py
Labels: bug

#783 Added Wandb entity attribute
  pytorch_lightning/loggers/wandb.py
Labels: enhancement, information needed

#782 new feature for profiling training runs
  docs/source/common-cases.rst
  docs/source/profiler.rst
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/profiler.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/test_profiler.py
Labels: enhancement

#769 update Docs [links & formatting]
  .run_local_tests.sh
  docs/requirements.txt
  docs/source/conf.py
  docs/source/documentation.rst
  docs/source/index.rst
  docs/source/lightning-module.rst
  docs/source/modules.rst
  docs/source/tutorials.rst
  pl_examples/__init__.py
  pl_examples/basic_examples/cpu_template.py
  pl_examples/basic_examples/gpu_template.py
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/multi_node_examples/multi_node_ddp2_demo.py
  pl_examples/multi_node_examples/multi_node_ddp_demo.py
  pytorch_lightning/__init__.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/testing/model_base.py
  pytorch_lightning/testing/model_mixins.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
  setup.py
Labels: bug

#800 fix test for profiler
  tests/test_profiler.py
Labels: bug

#804 Tensorboard path generalisation
  pytorch_lightning/loggers/tensorboard.py
  tests/test_logging.py
Labels: enhancement, good first issue, ready to go

#797 drop torchvision, tests only
  MANIFEST.in
  pl_examples/requirements.txt
  pytorch_lightning/testing/__init__.py
  pytorch_lightning/testing/model.py
  requirements.txt
  tests/models/__init__.py
  tests/models/base.py
  tests/models/debug.py
  tests/models/mixins.py
  tests/models/utils.py
  tests/requirements.txt
  tests/test_amp.py
  tests/test_cpu_models.py
  tests/test_gpu_models.py
  tests/test_logging.py
  tests/test_restore_models.py
  tests/test_trainer.py
Labels: bug, enhancement

#799 Fix backwards compatibility for deprecated logging module
  pytorch_lightning/logging/__init__.py
Labels: bug

#801 drop sklearn dependency
  docs/source/conf.py
  requirements.txt
Labels: enhancement

#810 update deprecated messages
  docs/source/callbacks.rst
  docs/source/conf.py
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/test_set.rst
  docs/source/trainer.rst
  pytorch_lightning/callbacks/pt_callbacks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/model_saving.py
  pytorch_lightning/core/root_module.py
  pytorch_lightning/loggers/comet_logger.py
  pytorch_lightning/loggers/mlflow_logger.py
  pytorch_lightning/loggers/test_tube_logger.py
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/overrides/override_data_parallel.py
  pytorch_lightning/pt_overrides/__init__.py
  pytorch_lightning/root_module/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: bug

#812 set html_add_permalinks for docs
  docs/source/conf.py
Labels: enhancement, ready to go, typo

#822 fix Travis build
  .travis.yml
Labels: bug, ready to Go

#824 update Docs req.
  docs/requirements.txt
Labels: documentation

#823 Add GitHub Actions build
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  .run_local_tests.sh
  tox.ini
Labels: enhancement, ready to Go

#826 update badges & drop Travis/Appveyor
  .travis.yml
  README.md
  appveyor.yml
Labels: enhancement

#852 add autopep8 to Contributions guide
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/trainer/trainer.py
  tests/requirements.txt
Labels: documentation, enhancement, ready to Go

#848 docs - anchor links
  docs/source/conf.py
Labels: documentation, enhancement, ready to Go

#845 add Auto rebase action
  .github/workflows/rebase.yml
Labels: enhancement, ready to Go

#843 add Greeting action
  .github/workflows/greetings.yml
Labels: enhancement, ready to Go

#842 add pep8speaks
  .pep8speaks.yml
Labels: enhancement, ready to Go

#808 Allow user to specify 'step' key while logging metrics
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/logging.py
  tests/test_logging.py
Labels: enhancement, ready to Go

#837 advanced profiler describe + cleaned up tests
  pytorch_lightning/profiler/profiler.py
  tests/test_profiler.py
Labels: bug, enhancement, need fix

#832 Fix global_step when gradient accumulation > 1
  pytorch_lightning/trainer/training_loop.py
Labels: information needed

#776 Refactor callbacks
  pytorch_lightning/callbacks/pt_callbacks.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  tests/test_trainer.py
Labels: enhancement, help wanted, ready to Go

#864 drop duplicated guides
  .gitignore
  docs/source/BECOMING_A_CORE_CONTRIBUTOR.md
  docs/source/CODE_OF_CONDUCT.md
  docs/source/CONTRIBUTING.md
  docs/source/PULL_REQUEST_TEMPLATE.md
  docs/source/debugging.rst
  docs/source/governance.md
  docs/source/governance.rst
Labels: bug, documentation

#751 added initial semantic segmentation example
  pl_examples/full_examples/semantic_segmentation/semseg.py
Labels: enhancement

#873 fix test package create
  .circleci/config.yml
  .github/workflows/greetings.yml
Labels: CI, High priority, bug

#880 Fix/typo
  .github/workflows/greetings.yml
Labels: documentation, ready to Go

#869 Changelog
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
Labels: documentation, ready to Go

#728 Added max number of steps in Trainer
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/test_trainer.py
Labels: enhancement, help wanted, need fix

#865 Fix docs for early stopping
  docs/source/early_stopping.rst
Labels: bug, documentation, ready to Go

#893 Updates theme's Sphinx configuration
  docs/source/conf.py
Labels: High priority, bug, documentation, ready to Go

#759 new way of passing dataloaders
  CHANGELOG.md
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  tests/models/__init__.py
  tests/models/base.py
  tests/test_trainer.py
Labels: enhancement, information needed, ready to Go

#890 remove deprecated args to learning rate step function
  pytorch_lightning/trainer/training_loop.py
Labels: bug, good first issue, ready to Go

#867 clean up tests/test_profiler.py
  tests/test_profiler.py
Labels: bug, documentation, ready to Go

#897 update CHANGELOG
  CHANGELOG.md
Labels: bug, documentation

#905 add Stale action
  .github/stale.yml
Labels: enhancement, ready to Go

#900 Fix backwards compatibility for optional logging dependencies
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/logging/comet.py
  pytorch_lightning/logging/mlflow.py
  pytorch_lightning/logging/neptune.py
  pytorch_lightning/logging/test_tube.py
  pytorch_lightning/logging/wandb.py
Labels: bug, need fix, ready to Go

#792 separate requirements for logger dependencies
  .github/workflows/ci-testing.yml
  MANIFEST.in
  requirements-extra.txt
  tests/requirements.txt
  tests/test_logging.py
Labels: enhancement, good first issue, ready to Go

#818 update Loggers
  README.md
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/wandb.py
Labels: enhancement, ready to Go

#898 Add conda env setup
  environment.yml
Labels: enhancement, good first issue, ready to Go

#844 add Sphinx Check
  .github/workflows/docs-check.yml
  docs/source/apex.rst
Labels: CI, enhancement, help wanted, ready to Go

#866 Fixes resuming checkpoints rerunning last epoch
  pytorch_lightning/trainer/training_io.py
  tests/test_restore_models.py
  tests/test_trainer.py
Labels: bug, ready to Go

#892 Fix comet logger to log after train
  pytorch_lightning/loggers/comet.py
Labels: bug, ready to Go

#856 graceful training cleanup after KeyboardInterrupt
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: enhancement, ready to Go

#849 Split callbacks
  .gitignore
  .markdownlint.yml
  .pep8speaks.yml
  CHANGELOG.md
  pyproject.toml
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/pt_callbacks.py
Labels: Failed GPU tests, enhancement

#917 Caching MNIST dataset for testing
  .github/workflows/ci-testing.yml
Labels: CI, enhancement, ready to Go

#936 Fixing tests
  .github/workflows/ci-testing.yml
  pl_examples/basic_examples/lightning_module_template.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/__init__.py
  tests/models/base.py
  tests/models/mixins.py
  tests/models/utils.py
  tests/test_cpu_models.py
  tests/test_trainer.py
Labels: bug, ready to Go

#903 Add support for multiple loggers
  CHANGELOG.md
  docs/source/experiment_logging.rst
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/trainer.py
  tests/test_logging.py
Labels: enhancement, ready to Go

#803 feat(trainer): add enable_benchmarking option
  pytorch_lightning/trainer/trainer.py
  tests/test_trainer.py
Labels: enhancement, ready to Go

#889 Callbacks [wip]
  docs/source/callbacks.rst
  docs/source/loggers.rst
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  tests/test_trainer.py
Labels: enhancement

#955 Refactor dataloading
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/base.py
  tests/test_trainer.py
Labels: bug, enhancement

#956 split trainer tests
  .github/workflows/ci-testing.yml
  tests/models/utils.py
  tests/test_loggers.py
  tests/trainer/__init__.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: enhancement

#963 TPU gradient clipping.
  pytorch_lightning/trainer/training_tricks.py
Labels: enhancement, ready to Go

#964 Fix loggers and update docs
  docs/source/experiment_logging.rst
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/trainer/trainer.py
Labels: documentation, ready to Go

#833 resolving documentation warnings
  .github/workflows/greetings.yml
  .pep8speaks.yml
  docs/source/callbacks.rst
  docs/source/checkpointing.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/lightning-module.rst
  docs/source/loggers.rst
  docs/source/optimizers.rst
  docs/source/profiler.rst
  docs/source/trainer.rst
  pl_examples/__init__.py
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/domain_templates/gan.py
  pl_examples/full_examples/__init__.py
  pl_examples/full_examples/imagenet/__init__.py
  pl_examples/full_examples/imagenet/imagenet_example.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/test_profiler.py
Labels: High priority, documentation, enhancement, good first issue, ready to Go

#934 Trainer cleanup
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  tests/models/utils.py
Labels: enhancement, ready to Go

#967 clean docs
  docs/source/callbacks.rst
  docs/source/hooks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: documentation

#974 update contributors in README
  README.md
Labels: documentation, ready to Go

#982 fix docs via imports
  .circleci/config.yml
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
Labels: bug, documentation

#978 Fix load_from_checkpoint docs
  pytorch_lightning/core/lightning.py
Labels: documentation, ready to Go
