Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-03, with the labels that each got.

#993 update PR guidelines
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, enhancement

#971 Use callable object for patching dataloaders
  pytorch_lightning/trainer/trainer.py
  tests/test_gpu_models.py
Labels: enhancement, ready to Go

#1015 drop logging level
  pytorch_lightning/__init__.py
  pytorch_lightning/profiler/profiler.py
Labels: enhancement

#1009 Logger tests and fixes
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  tests/loggers/__init__.py
  tests/loggers/test_base.py
  tests/loggers/test_comet.py
  tests/loggers/test_mlflow.py
  tests/loggers/test_neptune.py
  tests/loggers/test_tensorboard.py
  tests/loggers/test_test_tube.py
  tests/loggers/test_wandb.py
  tests/test_loggers.py
Labels: enhancement, ready to Go, tests / CI

#995 Merge load functions
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  tests/models/utils.py
  tests/test_restore_models.py
  tests/trainer/test_trainer.py
Labels: enhancement, ready to Go

#950 consolidate callbacks and hooks
  CHANGELOG.md
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_callbacks.py
  tests/trainer/test_trainer.py
Labels: enhancement, ready to Go

#1023 Skepticleo trainer argparser
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  tests/trainer/test_trainer.py
Labels: duplicate, ready to Go

#1024 Docs
  docs/source/child_modules.rst
  docs/source/examples.rst
  docs/source/hyperparameters.rst
  docs/source/index.rst
  docs/source/transfer_learning.rst
  docs/source/tutorial_mnist.rst
Labels: documentation

#1016 update checkpoint docs
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/trainer.py
  tests/models/utils.py
  tests/test_restore_models.py
  tests/trainer/test_trainer.py
Labels: bug, documentation, need fix

#1029 hparams as dict [blocked by 1041]
  CHANGELOG.md
  docs/source/weights_loading.rst
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/training_io.py
  tests/loggers/test_wandb.py
  tests/models/__init__.py
  tests/models/base.py
  tests/models/utils.py
  tests/trainer/test_trainer.py
Labels: enhancement

#1044 fix MNIST download
  tests/models/base.py
Labels: Critical, bug, tests / CI

#941 Learning rate stepping option
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/__init__.py
  tests/models/base.py
  tests/models/mixins.py
  tests/models/utils.py
  tests/test_gpu_models.py
  tests/trainer/test_optimizers.py
Labels: PR Approved to merge, enhancement

#1051 Steps
  docs/source/_images/lightning_module/pt_to_pl.png
  docs/source/_images/lightning_module/pt_trainer.png
  docs/source/experiment_reporting.rst
  docs/source/hooks.rst
  docs/source/multi_gpu.rst
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: enhancement

#1055 Docs format - Trainer & LModule
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: documentation

#1056 Examples: using new API
  README.md
  docs/source/early_stopping.rst
  docs/source/experiment_reporting.rst
  docs/source/introduction_guide.rst
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/full_examples/imagenet/imagenet_example.py
  tests/models/debug.py
  tests/models/mixins.py
  tests/trainer/test_trainer.py
Labels: documentation

#1052 fix Github action
  .github/workflows/ci-testing.yml
  .github/workflows/docs-check.yml
Labels: tests / CI

#1048 fix deprecated warnings
  docs/source/tpu.rst
  pytorch_lightning/__init__.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/logging/comet.py
  pytorch_lightning/logging/mlflow.py
  pytorch_lightning/logging/neptune.py
  pytorch_lightning/logging/test_tube.py
  pytorch_lightning/logging/wandb.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: documentation

#1004 extend docs notes
  .github/CONTRIBUTING.md
  docs/source/conf.py
  docs/source/introduction_guide.rst
  docs/source/trainer.rst
Labels: documentation

#1071 Test deprecated API for 0.8.0 and 0.9.0
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/core/model_saving.py
  pytorch_lightning/core/root_module.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/logging/comet.py
  pytorch_lightning/logging/comet_logger.py
  pytorch_lightning/logging/mlflow.py
  pytorch_lightning/logging/mlflow_logger.py
  pytorch_lightning/logging/neptune.py
  pytorch_lightning/logging/test_tube.py
  pytorch_lightning/logging/test_tube_logger.py
  pytorch_lightning/logging/wandb.py
  pytorch_lightning/pt_overrides/__init__.py
  pytorch_lightning/pt_overrides/override_data_parallel.py
  pytorch_lightning/root_module/decorators.py
  pytorch_lightning/root_module/grads.py
  pytorch_lightning/root_module/hooks.py
  pytorch_lightning/root_module/memory.py
  pytorch_lightning/root_module/model_saving.py
  pytorch_lightning/root_module/root_module.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/test_deprecated.py
Labels: bug, tests / CI

#1077 remove deprecated `data_loader`
  CHANGELOG.md
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/domain_templates/gan.py
  pytorch_lightning/__init__.py
  pytorch_lightning/core/__init__.py
  tests/test_cpu_models.py
Labels: bug, documentation

#1078 reduce nb CI builds
  .github/workflows/ci-testing.yml
Labels: tests / CI

#1091 update chnagelog
  CHANGELOG.md
  pytorch_lightning/core/decorators.py
Labels: documentation

#1115 add Drone CI
  .drone.yml
  README.md
Labels: Critical, enhancement, tests / CI

#1123 prune changelog
  CHANGELOG.md
Labels: PR Approved to merge, documentation

#1124 Fix typo
  pytorch_lightning/trainer/__init__.py
Labels: PR Approved to merge, bug, documentation

#1125 Run on_validation_end only on main process in DDP
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: PR Approved to merge, bug

#1021 update info for GPU tests
  .run_local_tests.sh
Labels: PR Approved to merge, tests / CI

#1100 Set the default value of progress_bar_refresh_rate to 1
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: PR Approved to merge, bug, enhancement

#1032 cleaning imports
  pl_examples/full_examples/semantic_segmentation/models/unet/model.py
  pl_examples/full_examples/semantic_segmentation/semseg.py
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/profiler/profiler.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  tests/loggers/test_base.py
  tests/loggers/test_comet.py
  tests/loggers/test_neptune.py
  tests/loggers/test_wandb.py
  tests/test_amp.py
  tests/test_gpu_models.py
  tests/test_profiler.py
  tests/trainer/test_callbacks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, enhancement

#1118 Fix typo
  docs/source/introduction_guide.rst
Labels: PR Approved to merge, documentation

#1105 fix max_epochs setup in basic example
  pl_examples/basic_examples/cpu_template.py
  pl_examples/basic_examples/gpu_template.py
Labels: PR Approved to merge, bug

#1104 Add support for IterableDatasets everywhere
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/__init__.py
  tests/models/mixins.py
  tests/trainer/test_dataloaders.py
Labels: PR Approved to merge, enhancement

#1012 fix tmpdir
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, tests / CI

#946 Type Hints for Lightning Core
  CHANGELOG.md
  pytorch_lightning/core/grads.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/core/saving.py
Labels: PR Approved to merge, documentation, enhancement

#1133 enable Codecov
  .codecov.yml
  .drone.yml
  README.md
  docs/source/_static/images/coverage.svg
  pytorch_lightning/trainer/trainer.py
  tox.ini
Labels: PR Approved to merge, tests / CI

#1130 Add Support for Non-primitive types in TensorboardLogger
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/tensorboard.py
  tests/loggers/test_tensorboard.py
Labels: PR Approved to merge, enhancement

#1122 Add TRAINS experiment manager support
  CHANGELOG.md
  docs/source/conf.py
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  environment.yml
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/trains.py
  requirements-extra.txt
  tests/loggers/test_trains.py
Labels: PR Approved to merge, enhancement, let's do it!

#1129 Fix examples that uses type_as
  docs/source/multi_gpu.rst
  pytorch_lightning/core/__init__.py
Labels: PR Approved to merge, documentation, enhancement

#1084 Neptune Logger Improvements
  CHANGELOG.md
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_neptune.py
Labels: PR Approved to merge, enhancement

#1159 Fix docs - missing Trainer
  docs/source/early_stopping.rst
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/fast_training.rst
  docs/source/introduction_guide.rst
  docs/source/training_tricks.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/trains.py
Labels: bug, documentation

#1126 ReduceLROnPlateau bug fix
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/models/__init__.py
  tests/models/mixins.py
  tests/trainer/test_optimizers.py
Labels: PR Approved to merge, bug

#1107 prune codecov exceptions
  setup.cfg
Labels: bug, enhancement, tests / CI

#1164 Docs
  docs/source/tpu.rst
  pytorch_lightning/core/__init__.py
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#1163 fixing Win failed import
  .github/workflows/rebase.yml
  pytorch_lightning/__init__.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
Labels: Critical, PR Approved to merge, bug, tests / CI

#1064 change default logger to dedicated one
  pl_examples/basic_examples/lightning_module_template.py
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/trains.py
  pytorch_lightning/profiler/profiler.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
Labels: PR Approved to merge, enhancement

#1132 Backward compatibility for checkpoint loading
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
Labels: Critical, PR Approved to merge, bug, enhancement

#1187 Codecov
  pytorch_lightning/loggers/trains.py
  tests/loggers/test_trains.py
Labels: bug, tests / CI

#1172 improve partial Codecov
  .drone.yml
  .pep8speaks.yml
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/full_examples/imagenet/imagenet_example.py
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/trains.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/profiler.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  requirements-extra.txt
  setup.cfg
  tests/loggers/test_tensorboard.py
  tests/loggers/test_trains.py
  tests/models/base.py
Labels: PR Approved to merge, tests / CI

#1152 Support hierarchical dict
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/trains.py
  tests/loggers/test_tensorboard.py
Labels: PR Approved to merge, enhancement

#1177 Fix Configuring Learning Rate Schedulers
  docs/source/optimizers.rst
  pytorch_lightning/core/lightning.py
Labels: documentation

#1093 ensure reset method works in notebooks
  requirements.txt
Labels: PR Approved to merge, bug

#1097 nan detection and intervention
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  tests/test_cpu_models.py
Labels: PR Approved to merge, bug, enhancement

#1191 CI: Force docs warnings to be raised as errors (+ fix all)
  .circleci/config.yml
  CHANGELOG.md
  docs/requirements.txt
  docs/source/callbacks.rst
  docs/source/conf.py
  docs/source/debugging.rst
  docs/source/early_stopping.rst
  docs/source/examples.rst
  docs/source/experiment_logging.rst
  docs/source/experiment_reporting.rst
  docs/source/fast_training.rst
  docs/source/hooks.rst
  docs/source/index.rst
  docs/source/introduction_guide.rst
  docs/source/multi_gpu.rst
  docs/source/tpu.rst
  docs/source/training_tricks.rst
  docs/source/tutorials.rst
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/trains.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
Labels: PR Approved to merge, documentation, enhancement, tests / CI

#1074 test deprecated - model
  .github/workflows/ci-testing.yml
  pytorch_lightning/root_module/__init__.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/training_loop.py
  tests/loggers/test_base.py
  tests/models/base.py
  tests/test_deprecated.py
Labels: PR Approved to merge, bug, tests / CI

#1208 increase profiler test coverage
  pytorch_lightning/profiler/profiler.py
  tests/test_profiler.py
Labels: tests / CI

#1219 Fixed typos in README
  README.md
Labels: PR Approved to merge, documentation

#1204 add missing overfit_pct docs
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/trainer.py
Labels: PR Approved to merge, documentation

#1200 Mergify: configuration update
  .mergify.yml
Labels: PR Approved to merge, enhancement, tests / CI

#1184 update header links in docs
  docs/source/_templates/theme_variables.jinja
Labels: PR Approved to merge, documentation

#1176 Test results with pprint
  pytorch_lightning/trainer/evaluation_loop.py
Labels: PR Approved to merge, enhancement

#1174 Fix dataloaders in TPU example
  docs/source/introduction_guide.rst
Labels: PR Approved to merge, documentation

#1169 update chnagelog
  CHANGELOG.md
Labels: PR Approved to merge, documentation

#1147 Custom argparser extension with Trainer arguments (argument types added)
  CHANGELOG.md
  pl_examples/full_examples/semantic_segmentation/models/unet/model.py
  pl_examples/full_examples/semantic_segmentation/models/unet/parts.py
  pl_examples/full_examples/semantic_segmentation/semseg.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
Labels: PR Approved to merge, enhancement

#990 CI: split tests-examples
  .circleci/config.yml
  .drone.yml
  .github/workflows/ci-testing.yml
  .markdownlint.yml
  .run_local_tests.sh
  environment.yml
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/full_examples/semantic_segmentation/models/unet/model.py
  pytorch_lightning/core/lightning.py
  requirements-extra.txt
  requirements.txt
  setup.cfg
  tests/Dockerfile
  tests/README.md
  tests/base/__init__.py
  tests/base/debug.py
  tests/base/mixins.py
  tests/base/models.py
  tests/base/utils.py
  tests/install_AMP.sh
  tests/loggers/test_base.py
  tests/loggers/test_comet.py
  tests/loggers/test_mlflow.py
  tests/loggers/test_neptune.py
  tests/loggers/test_tensorboard.py
  tests/loggers/test_test_tube.py
  tests/loggers/test_trains.py
  tests/loggers/test_wandb.py
  tests/models/__init__.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_restore.py
  tests/requirements.txt
  tests/test_deprecated.py
  tests/trainer/test_callbacks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
Labels: PR Approved to merge, enhancement, tests / CI

#1251 Disable validation when val_percent_check=0
  CHANGELOG.md
  docs/source/fast_training.rst
  pytorch_lightning/trainer/trainer.py
  tests/models/test_cpu.py
Labels: enhancement

#1211 self.forward() -> self()
  CHANGELOG.md
  README.md
  docs/source/child_modules.rst
  docs/source/introduction_guide.rst
  docs/source/multi_gpu.rst
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/domain_templates/gan.py
  pl_examples/full_examples/imagenet/imagenet_example.py
  pl_examples/full_examples/semantic_segmentation/semseg.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/lightning.py
  tests/base/debug.py
  tests/base/mixins.py
  tests/base/models.py
  tests/models/test_cpu.py
Labels: enhancement

#1229 Fix requirements-extra.txt Trains package to release version
  README.md
  requirements-extra.txt
Labels: High Priority, PR Approved to merge, documentation

#1240 Remove unnecessary parameters to super()
  README.md
  docs/source/hyperparameters.rst
  docs/source/introduction_guide.rst
  docs/source/transfer_learning.rst
  pl_examples/basic_examples/lightning_module_template.py
  pl_examples/domain_templates/gan.py
  pl_examples/full_examples/imagenet/imagenet_example.py
  pl_examples/full_examples/semantic_segmentation/semseg.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/lightning.py
  tests/base/debug.py
  tests/base/models.py
Labels: PR Approved to merge, enhancement

#1258 update deprecation warning
  pytorch_lightning/logging/comet.py
  pytorch_lightning/logging/mlflow.py
  pytorch_lightning/logging/neptune.py
  pytorch_lightning/logging/test_tube.py
  pytorch_lightning/logging/wandb.py
Labels: documentation

#1253 update docs for progress bar values
  pytorch_lightning/core/lightning.py
Labels: documentation

#1250 lower timeouts for inactive issues
  .github/stale.yml
Labels: PR Approved to merge, documentation

#1241 update contributors in docs
  README.md
  docs/source/governance.rst
Labels: PR Approved to merge, documentation

#1227 Fix outdated docs
  pytorch_lightning/trainer/training_io.py
Labels: PR Approved to merge, documentation

#1224 fix typo in Readme
  pytorch_lightning/core/lightning.py
Labels: PR Approved to merge, documentation

#1242 drop unused Tox
  tox.ini
Labels: PR Approved to merge, tests / CI

#1234 system info
  .drone.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  setup.cfg
  tests/collect_env_details.py
Labels: tests / CI

#1194 Changed smoothing in tqdm to decrease variability of time remaining
  pytorch_lightning/trainer/trainer.py
Labels: PR Approved to merge, enhancement

#1266 Fix outdated docs follow up
  docs/source/weights_loading.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/__init__.py
Labels: documentation

#1267 fix logging config and add profiler test
  pytorch_lightning/__init__.py
  tests/test_profiler.py
Labels: bug

#1265 Fix resuming training docs
  docs/source/weights_loading.rst
  pytorch_lightning/trainer/training_io.py
Labels: documentation

#1254 remove .item which causes sync issues
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/supporting_classes.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: bug

#1260 make evaluate private
  CHANGELOG.md
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/test_deprecated.py
Labels: bug

#1284 Parity test
  .drone.yml
  CHANGELOG.md
  benchmarks/__init__.py
  benchmarks/test_trainer_parity.py
Labels: PR Approved to merge, enhancement, tests / CI

#986 Add MNIST dataset & drop torchvision dep. from tests
  .gitignore
  CHANGELOG.md
  environment.yml
  tests/base/datasets.py
  tests/base/debug.py
  tests/base/models.py
  tests/datasets/__init__.py
  tests/requirements.txt
Labels: PR Approved to merge, enhancement, tests / CI

#1309 fix incomplete RunningMean
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/supporting_classes.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/collect_env_details.py
Labels: High Priority, PR Approved to merge, bug

#1285 clear skipping tests
  tests/base/utils.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_restore.py
Labels: PR Approved to merge, tests / CI

#1257 auto add reviewrs via Mergify
  .mergify.yml
Labels: PR Approved to merge, tests / CI

#1272 Checkpointing interval
  pl_examples/multi_node_examples/multi_node_ddp_demo.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/profiler/profiler.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_io.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/__init__.py
  tests/base/mixins.py
  tests/base/models.py
  tests/test_profiler.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, bug

#1280 Error on zero length dataloaders
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/base/__init__.py
  tests/base/mixins.py
  tests/trainer/test_dataloaders.py
Labels: PR Approved to merge, bug

#1193 Replace Wandb callback's finalize with no-op
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: bug

#1313 Fixed type hint for weights_summary trainer arg
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#1259 Profiler summary
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/exceptions.py
  tests/loggers/test_comet.py
  tests/models/test_amp.py
  tests/models/test_gpu.py
  tests/models/test_restore.py
  tests/test_deprecated.py
  tests/test_profiler.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, enhancement

#1312 Move some tests to correct subfolder/file
  tests/models/test_cpu.py
  tests/trainer/test_trainer.py
Labels: PR Approved to merge, tests / CI

#1230 reorder deprecated Trainer args
  pytorch_lightning/trainer/trainer.py
Labels: PR Approved to merge, enhancement

#1269 Optimizer Frequencies logic, and new configure_optimizers
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/utils.py
  tests/models/test_gpu.py
Labels: PR Approved to merge, enhancement

#1318 Sampler
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_parts.py
Labels: enhancement
