Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-07, with the labels that each got.

#2430 missing changes in chlog
  CHANGELOG.md
Labels: documentation

#2446 enabled no returns from eval
  docs/source/bolts.rst
  docs/source/callbacks.rst
  docs/source/conf.py
  docs/source/hooks.rst
  docs/source/index.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
Labels: Priority, bug / fix

#2437 Warn user when IterableDataset has __len__ defined
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  requirements/base.txt
  tests/trainer/test_dataloaders.py
Labels: enhancement

#2449 cleaning for 0.8.4
  CHANGELOG.md
  README.md
  pytorch_lightning/__init__.py
Labels: documentation

#2441 try adding coverage
  .github/workflows/ci-testing.yml
  .github/workflows/pt-conda.yml
  README.md
Labels: documentation, tests / CI

#2450 continue develop
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: documentation

#2376 Add Github Action to run TPU tests.
  .codecov.yml
  .drone.yml
  .github/workflows/tpu-testing.yml
  README.md
  docker/tpu/Dockerfile
  docker/tpu/docker-entrypoint.sh
  docker/tpu/tpu_test_cases.jsonnet
Labels: Important, PR: Ready-To-Go, TPU, tests / CI

#2462 removed auto val reduce
  pytorch_lightning/trainer/evaluation_loop.py
Labels: bug / fix, enhancement

#2463 Fixes global_step #2455
  pytorch_lightning/trainer/training_loop.py
Labels: bug / fix

#2466 fix gpu example
  pl_examples/basic_examples/cpu_template.py
  pl_examples/basic_examples/gpu_template.py
  pl_examples/test_examples.py
Labels: tests / CI

#2467 Clean up
  pytorch_lightning/callbacks/early_stopping.py
  tests/models/test_gpu.py
  tests/models/test_tpu.py
Labels: enhancement, tests / CI

#2482 DDp interpreter
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_data_parallel.py
Labels: bug / fix

#2460 join coverage
  .codecov.yml
  .drone.yml
  .github/workflows/ci-test-base.yml
  .github/workflows/ci-testing.yml
  .github/workflows/tpu-testing.yml
  README.md
  docker/Dockerfile
  docker/README.md
  docker/tpu/Dockerfile
  docker/tpu/docker-entrypoint.sh
  docker/tpu/tpu_test_cases.jsonnet
Labels: documentation, enhancement, tests / CI

#2510 fix dtype conversion of example_input_array in model summary
  CHANGELOG.md
  pytorch_lightning/core/memory.py
  tests/core/test_memory.py
Labels: bug / fix

#2521 [tiny] Fix training_dataloader usage to be train_dataloader instead.
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_checks.py
Labels: documentation

#2504 fix worker warning
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
Labels: bug / fix

#2494 Docker: building XLA base image
  .drone.yml
  .github/workflows/docker-builds.yml
  .github/workflows/tpu-testing.yml
  dockers/README.md
  dockers/conda/Dockerfile
  dockers/tpu-extras/Dockerfile
  dockers/tpu-tests/Dockerfile
  dockers/tpu-tests/docker-entrypoint.sh
  dockers/tpu-tests/tpu_test_cases.jsonnet
  tests/README.md
Labels: PR: Ready-To-Go, enhancement, tests / CI

#2536 use XLA base image for TPU testing
  .github/workflows/docker-builds.yml
  dockers/tpu-extras/Dockerfile
  dockers/tpu-tests/Dockerfile
Labels: tests / CI

#2512 Fix ddp tests + .test()
  pytorch_lightning/core/decorators.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/deterministic_model.py
  tests/base/develop_pipelines.py
  tests/base/develop_utils.py
  tests/callbacks/test_early_stopping.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/loggers/test_tensorboard.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/models/test_test_loop.py
  tests/models/test_tpu.py
  tests/test_deprecated.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer_steps.py
  tests/trainer/test_trainer_tricks.py
Labels: Priority, bug / fix

#2514 Fixed skipped horovod tests
  tests/base/develop_pipelines.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_horovod.py
Labels: bug / fix, tests / CI

#2543 fix codecov command error in drone for master branch
  .drone.yml
Labels: tests / CI

#2459 flatten Wandb hyperparameters dict
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: bug / fix

#2483 PSNR implementation
  CHANGELOG.md
  environment.yml
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/regression.py
  requirements/base.txt
  requirements/test.txt
  tests/metrics/functional/test_regression.py
  tests/metrics/test_regression.py
Labels: enhancement

#2473 Fix parameters and docs in metrics
  docs/source/metrics.rst
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/sklearns.py
  tests/metrics/functional/test_classification.py
Labels: PR: Ready-To-Go, documentation

#2557 Finish #2549
  .github/workflows/tpu-testing.yml
  tests/base/develop_pipelines.py
  tests/base/develop_utils.py
  tests/metrics/test_converters.py
  tests/models/test_amp.py
  tests/models/test_restore.py
Labels: tests / CI

#2561 remove parameterize from TPU tests
  tests/base/develop_pipelines.py
  tests/models/test_tpu.py
Labels: tests / CI

#2548 Fix CI crash on coverage upload timeout
  .github/workflows/ci-test-base.yml
  .github/workflows/ci-testing.yml
  .github/workflows/tpu-testing.yml
Labels: tests / CI

#2526 Fix argparse default value bug
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer_cli.py
Labels: PR: Ready-To-Go, bug / fix

#2502 save_dir fix for MLflowLogger + save_dir tests for others
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_all.py
  tests/loggers/test_comet.py
  tests/loggers/test_mlflow.py
  tests/loggers/test_tensorboard.py
  tests/loggers/test_wandb.py
Labels: bug / fix

#2565 .fit() returns last not best weights in ddp_spawn
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_test_loop.py
Labels: enhancement

#2492 Add functional regression metrics
  CHANGELOG.md
  docs/source/introduction_guide.rst
  docs/source/metrics.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/regression.py
  tests/metrics/functional/test_regression.py
  tests/metrics/test_regression.py
Labels: enhancement

#2570 Fixes .test() for ddp
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  tests/loggers/test_wandb.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_tpu.py
  tests/trainer/test_trainer.py
Labels: tests / CI

#2567 Avoid zeros in dice and iou
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/utilities/__init__.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_regression.py
  tests/metrics/test_sklearn.py
Labels: enhancement

#2575 Typo
  docs/source/performance.rst
Labels: PR: Ready-To-Go, documentation

#2464 missing changelog
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: PR: Ready-To-Go, Priority, documentation

#2577 docs: add hint about register_buffer
  docs/source/multi_gpu.rst
  docs/source/performance.rst
Labels: documentation

#2587 add tests for single scalar return from training
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/deterministic_model.py
  tests/trainer/test_trainer_steps_dict_return.py
  tests/trainer/test_trainer_steps_scalar_return.py
Labels: tests / CI

#2607 update ddp docs about launching training script
  docs/source/multi_gpu.rst
Labels: documentation

#2609 add simple CircleCI
  .circleci/config.yml
Labels: Priority, tests / CI

#2603 Add Transformers Question Answering to community examples
  README.md
  docs/source/index.rst
Labels: documentation

#2625 Fix typo of handling
  pl_examples/domain_templates/reinforce_learn_Qnet.py
Labels: documentation

#2640 Fix local rank zero casting
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/distributed.py
Labels: bug / fix

#2646 Fix typo
  pytorch_lightning/trainer/trainer.py
Labels: PR: Ready-To-Go, documentation

#2648 [docs] add ray tune tutorial link to sidebar and readme
  README.md
  docs/source/index.rst
Labels: documentation

#2615 Structured results (train loop only. val loop separate PR) (PR 2/5)
  .github/workflows/ci-testing.yml
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/debugging.py
  pytorch_lightning/utilities/parsing.py
  tests/base/deterministic_model.py
  tests/base/model_template.py
  tests/base/model_train_steps.py
  tests/base/model_valid_epoch_ends.py
  tests/callbacks/test_model_checkpoint.py
  tests/models/test_grad_norm.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_steps_result_return.py
Labels: Important, enhancement

#2657 fix dtype/device property not getting updated in submodules
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  tests/utilities/test_dtype_device_mixin.py
Labels: bug / fix

#2665 Lightning_template.py fix
  pl_examples/models/lightning_template.py
Labels: bug / fix, tutorial / example

#2659 Fix missing docs
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  docs/source/introduction_guide.rst
  pytorch_lightning/core/lightning.py
Labels: documentation

#2535 metrics: add BLEU
  CHANGELOG.md
  docs/source/metrics.rst
  environment.yml
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/nlp.py
  requirements/extra.txt
  requirements/test.txt
  tests/metrics/functional/test_nlp.py
  tests/metrics/test_nlp.py
Labels: enhancement

#2664 docs: clarify which shuffle argument (follow up to #2630)
  docs/source/fast_training.rst
Labels: documentation

#2651 EvalResult support for val loop (PR 3/5)
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/parsing.py
  tests/base/deterministic_model.py
  tests/base/model_template.py
  tests/base/model_train_steps.py
  tests/base/model_valid_epoch_ends.py
  tests/metrics/functional/test_regression.py
  tests/models/test_gpu.py
  tests/models/test_tpu.py
  tests/test_deprecated.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer_steps_result_return.py
  tests/trainer/test_validation_steps_result_return.py
Labels: allowed_pre_1.0

#2246 support num_sanity_val_steps=-1
  CHANGELOG.md
  docs/source/debugging.rst
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/test_trainer.py
Labels: allowed_pre_1.0, enhancement

#2486 integrate with CircleCI
  .circleci/config.yml
  .github/workflows/tpu-testing.yml
  dockers/tpu-tests/Dockerfile
Labels: PR: Ready-To-Go, Priority, TPU, allowed_pre_1.0, tests / CI

#2671 metrics: add SSIM
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/regression.py
  pytorch_lightning/metrics/regression.py
  tests/metrics/functional/test_regression.py
  tests/metrics/test_regression.py
Labels: allowed_pre_1.0, enhancement

#2626 Horovod: adjust base LR used by schedulers to scale with the number of workers
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_parts.py
  tests/models/test_horovod.py
Labels: PR: Ready-To-Go, allowed_pre_1.0, enhancement

#2674 quick-fix for --gpus flag bug
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/trainer.py
Labels: allowed_pre_1.0, bug / fix

#2685 remove duplicate tests
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_model_checkpoint.py
Labels: allowed_pre_1.0, tests / CI

#2668 Datamodule
  pytorch_lightning/__init__.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/trainer.py
  tests/base/datamodules.py
  tests/trainer/test_datamodules.py
Labels: Important, allowed_pre_1.0, enhancement

#2686 fix nb tests for auto-merge
  .mergify.yml
Labels: Priority, bug / fix, tests / CI

#2624 fix setup call while testing
  CHANGELOG.md
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, allowed_pre_1.0, bug / fix, enhancement

#2690 Add Peter Yu (yukw777) to core maintainers
  README.md
  docs/source/governance.rst
Labels: PR: Ready-To-Go, allowed_pre_1.0, documentation

#2692 Enable val/test loop disabling + datamodule tests
  .gitignore
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/datamodules.py
  tests/core/test_datamodules.py
  tests/trainer/test_checks.py
  tests/trainer/test_config_validator.py
  tests/trainer/test_datamodules.py
  tests/trainer/test_trainer.py
Labels: allowed_pre_1.0, enhancement, tests / CI

#2708 Refactor 2/n
  pytorch_lightning/accelerators/__init__.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/trainer.py
Labels: enhancement

#2681 Fix weights_save_path when logger is used + simplify path handling + better docs
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/callback_config.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_model_checkpoint.py
  tests/loggers/test_all.py
  tests/loggers/test_comet.py
  tests/loggers/test_mlflow.py
  tests/loggers/test_wandb.py
  tests/models/data/horovod/train_default_model.py
  tests/test_deprecated.py
Labels: bug / fix, documentation, enhancement

#2593 update conda packages
  environment.yml
Labels: PR: Ready-To-Go, enhancement

#2581 Fix max_batches with fast_dev_run.
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/debugging.py
  tests/callbacks/test_progress_bar.py
  tests/models/test_grad_norm.py
  tests/trainer/test_dataloaders.py
Labels: PR: Ready-To-Go, allowed_pre_1.0, bug / fix

#2632 fixing TPU tests
  .circleci/config.yml
  .github/workflows/ci-testing.yml
  .github/workflows/tpu-testing.yml
  CHANGELOG.md
  docs/source/new-project.rst
  pytorch_lightning/__init__.py
  pytorch_lightning/accelerator_backends/ddp_spawn_backend.py
  pytorch_lightning/accelerator_backends/gpu_backend.py
  pytorch_lightning/accelerator_backends/tpu_backend.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/distrib_parts.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/datasets.py
  tests/base/develop_utils.py
  tests/base/test_datasets.py
  tests/models/test_grad_norm.py
  tests/models/test_tpu.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_test_loop.py
Labels: PR: Ready-To-Go, Priority, allowed_pre_1.0, bug / fix, tests / CI

#2732 skip CircleCI config on master
  .circleci/config.yml
Labels: Priority, bug / fix, tests / CI

#2392 tests: add default_root_dir=tmpdir
  README.md
  docs/source/_images/general/tf_loss.jpg
  docs/source/_images/general/tf_loss.png
  docs/source/_images/general/tf_tags.jpg
  docs/source/_images/general/tf_tags.png
  docs/source/_images/lightning_module/pt_to_pl.png
  docs/source/_images/lightning_module/pt_trainer.png
  tests/loggers/test_all.py
  tests/loggers/test_tensorboard.py
  tests/models/test_amp.py
  tests/models/test_gpu.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: PR: Ready-To-Go, bug / fix, tests / CI

#2744 freeze PT 1.5 for Horovod issue
  .circleci/config.yml
  .github/workflows/tpu-testing.yml
  requirements/base.txt
  requirements/extra.txt
Labels: Priority, tests / CI

#2729 make the error message readable
  pytorch_lightning/trainer/auto_mix_precision.py
Labels: documentation

#2738 fix progress bar loss value with gradient accumulation > 1
  pytorch_lightning/trainer/training_loop.py
Labels: bug / fix

#2594 truncate long version number in progress bar
  CHANGELOG.md
  docs/source/experiment_reporting.rst
  pytorch_lightning/core/lightning.py
Labels: allowed_pre_1.0, documentation, enhancement

#2748 Fix: correct attributes in *_dataloader in datamodule.rst
  docs/source/datamodules.rst
Labels: documentation

#2747 Fix docs typo
  pytorch_lightning/callbacks/early_stopping.py
Labels: documentation

#2746 Fix an import deprecation warning
  pytorch_lightning/utilities/apply_func.py
Labels: PR: Ready-To-Go, bug / fix, tests / CI

#2723 Add missing methods to logger collection
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/loggers/test_base.py
Labels: PR: Ready-To-Go, allowed_pre_1.0, bug / fix

#2741 Check CI_PULL_REQUEST and set GITHUB_REF accordingly.
  .circleci/config.yml
Labels: Priority, TPU, tests / CI

#2756 fix limit reports for codecov comments
  .codecov.yml
Labels: PR: Ready-To-Go, tests / CI

#2223 Misleading exception raised during batch scaling
  pytorch_lightning/trainer/training_tricks.py
Labels: PR: Ready-To-Go, bug / fix

#2759 Fix typo on tpu.rst
  docs/source/tpu.rst
Labels: PR: Ready-To-Go, documentation

#2760 remove deprecated in v0.9
  docs/source/conf.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pytorch_lightning/__init__.py
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/logging/__init__.py
  pytorch_lightning/logging/comet.py
  pytorch_lightning/logging/mlflow.py
  pytorch_lightning/logging/neptune.py
  pytorch_lightning/logging/test_tube.py
  pytorch_lightning/logging/wandb.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/auto_mix_precision.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/lr_finder.py
  pytorch_lightning/trainer/trainer.py
  requirements/examples.txt
  tests/test_deprecated.py
  tests/trainer/test_trainer_cli.py
Labels: Important, PR: Ready-To-Go, allowed_pre_1.0, tests / CI

#2764 Horovod & py3.8
  .github/workflows/ci-testing.yml
  .github/workflows/pt-conda.yml
  requirements/extra.txt
Labels: PR: Ready-To-Go, Priority, tests / CI

#2745 pytorch 1.6
  .codecov.yml
  .github/workflows/ci-testing.yml
  .github/workflows/docker-builds.yml
  .github/workflows/pt-conda.yml
  CHANGELOG.md
  README.md
  pytorch_lightning/trainer/distrib_data_parallel.py
  pytorch_lightning/trainer/training_io.py
  requirements/base.txt
  tests/base/datamodules.py
  tests/callbacks/test_model_checkpoint.py
  tests/models/test_restore.py
  tests/models/test_tpu.py
  tests/trainer/test_trainer.py
Labels: Important, PR: Ready-To-Go, Priority, tests / CI

#2596 Add onnx export
  CHANGELOG.md
  docs/source/index.rst
  docs/source/production_inference.rst
  environment.yml
  pytorch_lightning/core/lightning.py
  requirements/extra.txt
  tests/base/model_template.py
  tests/models/test_onnx_save.py
Labels: Important, PR: Ready-To-Go, allowed_pre_1.0, enhancement

#2546 conda speedup
  .github/workflows/ci-test-base.yml
  .github/workflows/ci-testing.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docs-checks.yml
  .github/workflows/pt-conda.yml
  requirements/base.txt
Labels: PR: Ready-To-Go, allowed_pre_1.0, tests / CI

#2773 Fix docs typo
  pytorch_lightning/trainer/__init__.py
Labels: PR: Ready-To-Go, documentation

#1584 test dockers & add AMP in pt-1.6
  .drone.yml
  .github/workflows/docker-builds.yml
  dockers/README.md
  dockers/cuda-extras/Dockerfile
  tests/Dockerfile
  tests/README.md
Labels: Important, allowed_pre_1.0, tests / CI

#2780 [blocked by #2380] freeze GPU PT 1.4
  .drone.yml
Labels: Priority, tests / CI

#2380 update CI testing with pip upgrade
  .drone.yml
  .github/workflows/ci-test-base.yml
  .github/workflows/ci-testing.yml
  README.md
  tests/models/test_tpu.py
Labels: Priority, allowed_pre_1.0, tests / CI
