Repository Lightning-AI/pytorch-lightning, pull requests merged in 2020-11, with the labels that each got.

#4340 timeout for tpu check
  CHANGELOG.md
  pytorch_lightning/utilities/xla_device_utils.py
  tests/utilities/test_xla_device_utils.py
Labels: TPU, bug / fix

#4469 [deps] Lock pytorch / torchvision version
  environment.yml
  requirements.txt
  requirements/examples.txt
Labels: tests / CI

#4461 update docs on checkpoint_callback Trainer argument
  docs/source/weights_loading.rst
  notebooks/05-trainer-flags-overview.ipynb
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/__init__.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/checkpointing/test_model_checkpoint.py
  tests/test_deprecated.py
Labels: documentation

#4422 [BUG-FIX] WandbLogger _sanitize_callable
  pytorch_lightning/loggers/base.py
  tests/loggers/test_wandb.py
Labels: Logger, bug / fix

#4476 [docs] Add manual logging to training_step manual optimization
  docs/source/optimizers.rst
Labels: documentation

#3807 Add step index in checkpoint name
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/evaluation_loop.py
  tests/checkpointing/test_model_checkpoint.py
  tests/loggers/test_comet.py
  tests/loggers/test_mlflow.py
  tests/loggers/test_wandb.py
  tests/trainer/test_trainer.py
Labels: API / design, Checkpoint, enhancement

#4475 [DOC] Clarify `tpu_cores` training.
  docs/source/tpu.rst
Labels: documentation

#4441 [BUGFIX] AMP + Precision unscale grad
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/trainer/training_loop.py
  tests/plugins/test_amp_plugin.py
Labels: 0:] Ready-To-Go, bug / fix

#4451 Rename conflicting test directories
  tests/trainer/logging_tests/__init__.py
  tests/trainer/logging_tests/test_distributed_logging.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
  tests/trainer/warnings_tests/__init__.py
  tests/trainer/warnings_tests/test_flow_warnings.py
Labels: enhancement, tests / CI

#4313 [Metrics] Detach bugfix
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/metric.py
Labels: Metrics, bug / fix

#4439 [FEAT] logging refactors 1/n
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/__init__.py
  pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/logging/test_logger_connector.py
Labels: 0:] Ready-To-Go, Refactors and code health

#4455 [bug] [docs] Clearer optimizer_step override instructions
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/core/lightning.py
Labels: bug / fix, documentation

#4477 [test] Accumulated gradient optimization tests
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/debugging.py
  tests/loggers/test_tensorboard.py
  tests/trainer/test_trainer.py
Labels: enhancement

#4372 Disable saving checkpoints if not trained
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/checkpointing/test_model_checkpoint.py
Labels: Checkpoint, bug / fix

#4371 Disable training when limit_train_batches=0
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_progress_bar.py
  tests/trainer/test_trainer.py
Labels: bug / fix

#4458 Add fsspec to tuner
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/tuner/tuning.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_trainer_tricks.py
Labels: enhancement, tune

#4417 Update old "module_arguments" and "hparams" references in docs
  docs/source/hyperparameters.rst
  docs/source/logging.rst
  docs/source/weights_loading.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/models/test_restore.py
  tests/trainer/test_trainer.py
Labels: documentation

#4421 Add CheckpointConnector internal commentaries
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: documentation

#4393 Switch to PyTorch 1.6 in Drone CI
  .drone.yml
  README.md
  pytorch_lightning/plugins/native_amp.py
  tests/models/test_horovod.py
  tests/plugins/test_amp_plugin.py
Labels: tests / CI

#4428 Avoid torchscript export for Metric forward
  CHANGELOG.md
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric_lightning.py
Labels: 0:] Ready-To-Go, Metrics, enhancement

#4506 extend release testing
  .drone.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_pkg-install.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-tpu.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docker-builds.yml
  .github/workflows/docs-checks.yml
  .github/workflows/nightly.yml
  .github/workflows/pypi-release.yml
Labels: tests / CI

#4500 Update default filename in ModelCheckpoint
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: 0:] Ready-To-Go, Checkpoint, bug / fix

#4514 update contrib notes
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
Labels: documentation

#4516 CI: fix pypi release v1
  .github/workflows/nightly.yml
  .github/workflows/pypi-release.yml
Labels: Priority P1, bug / fix, tests / CI

#4508 is_picklable: catch AttributeError (addresses #3771)
  pytorch_lightning/utilities/parsing.py
Labels: 0:] Ready-To-Go, bug / fix

#4480 Bugfix/4449 dict attribute error
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/base/__init__.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_eval_loop_dict_return.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
Labels: Logger, Priority P0

#4505 update changelog after 1.0.5
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#4511 [dockers] use inline cache
  .github/workflows/ci_dockers.yml
  .github/workflows/nightly.yml
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#3775 Horovod: fixed early stopping and added metrics aggregation
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_slurm_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_torchelastic_accelerator.py
  pytorch_lightning/accelerators/ddp_slurm_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_torchelastic_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/utilities/distributed.py
  requirements/extra.txt
  tests/README.md
  tests/models/test_horovod.py
Labels: DDP, Metrics, Priority P0, bug / fix

#4523 update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0:] Ready-To-Go, documentation

#4495 [feat] Logging refactor 2/n - train
  benchmarks/test_parity.py
  pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/develop_utils.py
  tests/models/test_hooks.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_eval_loop_dict_return.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_dict_return.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_scalar_return.py
  tests/trainer/logging/test_logger_connector.py
  tests/trainer/logging_tests/test_distributed_logging.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: 0:] Ready-To-Go, Logger, Priority P0

#4437 show progressbar only on progress_rank 0 on ddp_slurm
  pytorch_lightning/accelerators/ddp_slurm_accelerator.py
Labels: DDP, SLURM, bug / fix

#4548 [ci] tag v1.4.1 for pypa/gh-action-pypi-publish
  .github/workflows/nightly.yml
  .github/workflows/pypi-release.yml
Labels: bug / fix, tests / CI

#3721 Add Dali MNIST example
  .drone.yml
  pl_examples/basic_examples/README.md
  pl_examples/basic_examples/mnist_dali.py
  pl_examples/test_examples.py
  requirements/examples.txt
Labels: enhancement, tutorial / example

#4555 add congratulations at the end of our notebooks
  notebooks/01-mnist-hello-world.ipynb
  notebooks/02-datamodules.ipynb
  notebooks/03-basic-gan.ipynb
  notebooks/04-transformers-text-classification.ipynb
  notebooks/05-trainer-flags-overview.ipynb
Labels: documentation, enhancement, tutorial / example

#4494 [Docs] Note on running metric in dp
  docs/source/metrics.rst
Labels: DP, Metrics, documentation

#4575 Adding pytorch-forecasting to community examples
  docs/source/community_examples.rst
Labels: documentation, enhancement

#4585 [docs] Fix docstring of LightningModule._auto_collect_args()
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4586 Missing TorchScript trace's update
  CHANGELOG.md
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4532 [dockers] install nvidia-dali-cudaXXX
  dockers/README.md
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  dockers/base-xla/Dockerfile
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#4526 Fix load disparity between normal and hpc
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: bug / fix

#3903 Skip tuner algorithms on fast dev
  CHANGELOG.md
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  tests/trainer/flags/test_fast_dev_run.py
Labels: enhancement

#4482 Metric ddp bugfix
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric_lightning.py
Labels: Metrics, bug / fix

#4560 Replace a MisconfigurationException with warning in ModelCheckpoint callback
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
Labels: Refactors and code health

#4598 Min version req for skimage in tests
  requirements/test.txt
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#4412 fix logged keys in mlflow logger
  pytorch_lightning/loggers/mlflow.py
  tests/loggers/test_mlflow.py
Labels: Logger, bug / fix

#4347 Find parameters which are specified in the LightningDataModule, only
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/utilities/parsing.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#4591 fix mock pkgs in docs
  .github/workflows/docs-checks.yml
  docs/source/conf.py
Labels: 0:] Ready-To-Go, documentation, tests / CI

#4485 [bug-fix] DDP and automatic_optimization=False
  .gitignore
  CHANGELOG.md
  docs/source/lightning_module.rst
  docs/source/optimizers.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/warnings_tests/test_flow_warnings.py
Labels: DDP, Priority P1, bug / fix

#4592 [Fix] Move log value to cpu.
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/memory.py
Labels: Logger, Priority P0

#4552 [FEAT] Refactor logging 3/3 [v1]
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_hooks.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_eval_loop_dict_return.py
  tests/trainer/logging/test_logger_connector.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
Labels: 0:] Ready-To-Go, Logger, Priority P1, bug / fix, enhancement

#4626 Prevent crash if sync_dist=True on CPU
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: Priority P0, bug / fix

#4625 Small typo correction on CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: 0:] Ready-To-Go, documentation

#4624 update changelog after 1.0.6
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation, enhancement

#4620 [make] Create Makefile
  .github/CONTRIBUTING.md
  .run_local_tests.sh
  MANIFEST.in
  Makefile
Labels: documentation, enhancement, tests / CI

#4633 [FEAT] Add pytest section to Contribution how to ?
  .github/CONTRIBUTING.md
Labels: enhancement

#3833 Conda: PT 1.8
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/nightly.yml
  README.md
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  requirements.txt
  requirements/examples.txt
Labels: 0:] Ready-To-Go, 3rd-party issue, Priority P1, tests / CI

#4534 [FIX] Average Pbar Metrics
  pytorch_lightning/core/step_result.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_scalar_return.py
Labels: Logger, Priority P1

#4639 Sharded Accelerator 1/n: Expose clip gradients to plugins via abstract class
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/plugins/precision_plugin.py
Labels: DDP, Priority P1, enhancement

#4618 [FEAT] Add lambda closure to manual_optimizer_step
  .gitignore
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: API / design, bug / fix

#4622 CI: TPU drop install horovod
  dockers/tpu-tests/Dockerfile
Labels: enhancement, tests / CI

#3950 logger docs and api docs
  docs/source/_templates/autosummary/module.rst
  docs/source/api_references.rst
  docs/source/index.rst
  docs/source/logging.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation, enhancement

#4242 CI: Added isort import check for the code on pull-request
  .github/workflows/code-formatting.yml
  .pre-commit-config.yaml
  benchmarks/test_parity.py
  docs/source/conf.py
  pyproject.toml
  requirements/test.txt
  setup.cfg
  setup.py
Labels: 0:] Ready-To-Go, enhancement

#4608 Fix setup callback hook to pass LightningModule through
  CHANGELOG.md
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, API / design, bug / fix

#4659 Fix docs typo: train_batch => val_batch
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4651 Increase parity to match logging refactor
  benchmarks/test_parity.py
Labels: 0:] Ready-To-Go, enhancement

#4602 Makes automatic optimization a model attribute
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/model_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, enhancement

#4643 isolate PL debugger in tests
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
  tests/loggers/test_all.py
  tests/models/test_amp.py
  tests/models/test_grad_norm.py
  tests/models/test_tpu.py
  tests/trainer/data_flow/test_eval_loop_flow_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_dict_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_scalar_1_0.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_eval_loop_dict_return.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_dict_return.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_scalar_return.py
  tests/trainer/logging/test_logger_connector.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_correct_freq_accumulation.py
  tests/trainer/test_dataloaders.py
  tests/trainer/warnings_tests/test_flow_warnings.py
Labels: 0:] Ready-To-Go, tests / CI

#4670 [Fix]: Improve documentation
  docs/source/lightning_module.rst
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4109 Improve skipping steps tests
  tests/trainer/data_flow/test_train_loop_flow_scalar_1_0.py
Labels: tests / CI

#4657 Rename distributed_backend to accelerator in examples
  notebooks/05-trainer-flags-overview.ipynb
  pl_examples/basic_examples/submit_ddp2_job.sh
  pl_examples/basic_examples/submit_ddp_job.sh
Labels: 0:] Ready-To-Go, documentation

#4662 allow decorate model init with saving hparams
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  pytorch_lightning/utilities/parsing.py
  tests/models/test_hparams.py
Labels: 0:] Ready-To-Go, Checkpoint, bug / fix, enhancement

#4685 [metrics] change default behaviour of state dict
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric.py
Labels: Metrics, bug / fix

#4697 [bug] Set split_idx from logger_connector to trainer.
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
Labels: Logger, bug / fix

#3462 Added experiment_id to NeptuneLogger
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_neptune.py
Labels: 0:] Ready-To-Go, Logger, enhancement

#4715 GAN Domain Template: Typo in the description of Adam's beta 2
  pl_examples/domain_templates/generative_adversarial_net.py
Labels: documentation

#4551 test PL examples
  .drone.yml
  docs/source/conf.py
  pl_examples/basic_examples/mnist_classifier.py
  pl_examples/basic_examples/mnist_classifier_dali.py
  pl_examples/test_examples.py
Labels: tests / CI, tutorial / example

#4717 Apply import formatting to files in the 2nd top level
  pyproject.toml
  pytorch_lightning/__init__.py
  tests/conftest.py
  tests/test_deprecated.py
Labels: enhancement

#4721 Add current_score to ModelCheckpoint.on_save_checkpoint
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/models/test_restore.py
Labels: 0:] Ready-To-Go, Checkpoint, enhancement

#4735 update chlog after 1.0.7 release
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#4730 Delay PyPI releasing
  .github/workflows/nightly.yml
  .github/workflows/pypi-release.yml
Labels: 0:] Ready-To-Go, tests / CI

#4686 Sharded Plugin 3/n: Expose step input to DDP plugin
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/plugins/ddp_plugin.py
Labels: DDP, enhancement

#4675 Sharded Plugin 2/n: Allow ddp plugin to modify optimizer state saving
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: DDP, enhancement

#4568 [Example] Add Pytorch Geometric Example
  MANIFEST.in
  docs/source/index.rst
  docs/source/pytorch_ecoystem.rst
  pl_examples/pytorch_ecosystem/pytorch_geometric/README.md
  pl_examples/pytorch_ecosystem/pytorch_geometric/__init__.py
  pl_examples/pytorch_ecosystem/pytorch_geometric/cora_dna.py
  pl_examples/pytorch_ecosystem/pytorch_geometric/lightning.py
  pl_examples/pytorch_ecosystem/pytorch_geometric/pyproject.toml
Labels: tutorial / example

#4407 Move init_ddp_connection to DDP Plugin
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/ddp_plugin.py
Labels: API / design, DDP, Refactors and code health

#4737 Sharded Plugin 4/n: Expose scaler in amp plugin
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/trainer/training_loop.py
Labels: Refactors and code health, enhancement

#4760 Change version in __init__.py 1.0.4 -> 1.1-dev
  pytorch_lightning/__init__.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#4566 [metrics] Update SSIM
  pytorch_lightning/metrics/functional/ssim.py
  tests/metrics/regression/test_ssim.py
  tests/metrics/utils.py
Labels: 0:] Ready-To-Go, Metrics, bug / fix

#4647 Proper casting for np scalars in hparams logging
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/loggers/test_base.py
Labels: 0:] Ready-To-Go, Logger, bug / fix

#4744 Add masked language modeling to community examples
  docs/source/community_examples.rst
Labels: documentation, tutorial / example

#4739 [doc] Truncated back-propagation through time. Explain why detach hiddens
  docs/source/trainer.rst
Labels: documentation, enhancement

#4769 update stale bot
  .github/stale.yml
Labels: 0:] Ready-To-Go, Priority P1, enhancement, tests / CI

#4771 Add lightning-geometric
  docs/source/community_examples.rst
Labels: 0:] Ready-To-Go, documentation

#4515 [FEAT] DDP: Create DDPLauncher
  tests/backends/launcher.py
  tests/backends/test_ddp.py
  tests/utilities/dist.py
Labels: DDP, Priority P1, enhancement, tests / CI

#4770 Cast hparams to dict when not using omegaconf
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/checkpointing/test_model_checkpoint.py
Labels: Checkpoint, Priority P1, bug / fix

#4740 Update examples - use DataModule
  pl_examples/__init__.py
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/test_examples.py
  pytorch_lightning/utilities/__init__.py
Labels: 0:] Ready-To-Go, enhancement, tutorial / example

#4795 increase Parity threshold
  .github/PULL_REQUEST_TEMPLATE.md
  benchmarks/test_parity.py
Labels: 0:] Ready-To-Go, tests / CI

#4794 add version for CPU users
  README.md
  setup.py
Labels: 0:] Ready-To-Go, enhancement

#4745 Model summary: add 1 decimal place
  docs/source/debugging.rst
  pytorch_lightning/core/memory.py
Labels: 0:] Ready-To-Go, documentation, enhancement

#4720 [docs] Remove the redundant indents in trainer.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation, enhancement

#4765 Deprecate prefix argument in ModelCheckpoint
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/test_deprecated.py
Labels: 0:] Ready-To-Go, Checkpoint

#4557 Add prefix argument in loggers
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_all.py
Labels: Logger, enhancement

#4521 Implemented ModelSummary total params values
  CHANGELOG.md
  pytorch_lightning/core/memory.py
Labels: 0:] Ready-To-Go, enhancement

#4640 Clarify checkpoint deprecation message
  docs/source/trainer.rst
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation

#4700 Don't override PYTHONWARNINGS
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#4376 Fix #4375: Always use trainer.global_step for step
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_monitor.py
Labels: Logger, bug / fix

#4812 Add `batch_arg_name` to all calls to `_adjust_batch_size`
  pytorch_lightning/tuner/batch_size_scaling.py
Labels: bug / fix, tune

#4656 [Metrics] Unification of FBeta
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/utils.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/functional/test_classification.py
Labels: API / design, Metrics, enhancement

#4773 5/n: Extract reference model call to plugins/accelerators
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/trainer/connectors/model_connector.py
  tests/trainer/properties/test_get_model.py
Labels: DDP, Refactors and code health

#4648 feat(wandb): let wandb cli handle runs
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_all.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, 3rd-party, Logger, bug / fix, enhancement

#4654 Use high progress_bar_refresh_rate on Google Colab
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/utilities/__init__.py
  tests/callbacks/test_progress_bar.py
Labels: 0:] Ready-To-Go, enhancement

#4817 [docs] Add step to ensure sync_dist is adding to logging when multi-gpu enabled
  docs/source/multi_gpu.rst
Labels: documentation

#4577 fix incomplete progress bar when refresh_rate > num batches
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
  tests/callbacks/test_progress_bar.py
Labels: 0:] Ready-To-Go, Priority P2, bug / fix, enhancement

#4661 [tests/checkpointing] refactor with BoringModel
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_torch_saving.py
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#4785 Fix torchtext data to gpu
  pytorch_lightning/utilities/apply_func.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule

#4716 Fixed a crash bug in MLFlow logger
  pytorch_lightning/loggers/mlflow.py
  tests/loggers/test_mlflow.py
Labels: 0:] Ready-To-Go, 3rd-party, Logger, bug / fix

#4826 LR Monitor docfix
  pytorch_lightning/callbacks/lr_monitor.py
Labels: 0:] Ready-To-Go, documentation

#4327 Document behaviour when setting both on_step=True and on_epoch=True in self.log
  docs/source/logging.rst
Labels: 0:] Ready-To-Go, documentation

#4825 Update test for logging a metric object and state reset
  tests/metrics/test_metric_lightning.py
Labels: Metrics, tests / CI

#4823 Add formulas and references to metrics docs
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/confusion_matrix.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/metrics/regression/psnr.py
  pytorch_lightning/metrics/regression/ssim.py
Labels: Metrics, documentation

#4845 update chlong after 1.0.8
  CHANGELOG.md
Labels: documentation

#4738 [bugfix] Accumulated_gradient and TensoBoard
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/loggers/test_all.py
  tests/loggers/test_tensorboard.py
Labels: 0:] Ready-To-Go, API / design, Logging, bug / fix

#4851 make device property always return a device with index
  pytorch_lightning/utilities/device_dtype_mixin.py
  tests/utilities/test_dtype_device_mixin.py
Labels: 0:] Ready-To-Go, bug / fix

#4871 fix import and typo in AMP
  docs/source/amp.rst
  docs/source/conf.py
  docs/source/trainer.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/__init__.py
  tests/backends/test_ddp.py
  tests/models/test_horovod.py
  tests/plugins/test_amp_plugin.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
  tests/utilities/distributed.py
  tests/utilities/test_imports.py
  tests/utilities/test_parsing.py
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, Refactors and code health, bug / fix

#4872 simplify imports xla / TPU
  docs/source/conf.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/xla_device_utils.py
  tests/models/test_tpu.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, Refactors and code health, TPU

#4873 simplify imports Omegaconf
  docs/source/conf.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/utilities/__init__.py
  requirements/extra.txt
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, Refactors and code health

#4742 [bug] Replace_sampler attach previous multiprocessing_context
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
Labels: bug / fix

#4009 ref: fix & simplify test callback
  pytorch_lightning/trainer/data_loading.py
  tests/callbacks/test_callbacks.py
Labels: 0:] Ready-To-Go, Refactors and code health, help wanted, tests / CI

#4856 Backend unit tests
  benchmarks/test_sharded_parity.py
  pytorch_lightning/overrides/fairscale.py
  pytorch_lightning/plugins/sharded_native_amp_plugin.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  requirements/extra.txt
  tests/plugins/test_sharded_plugin.py
Labels: DDP, enhancement

#4880 Logging
  benchmarks/test_parity.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/models.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: API / design, Logger

#4891 build dockers XLA 1.7
  .circleci/config.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-tpu.yml
  .github/workflows/nightly.yml
  .github/workflows/rebase.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-pypi.yml
  README.md
  dockers/tpu-tests/tpu_test_cases.jsonnet
Labels: 0:] Ready-To-Go, 3rd-party, enhancement, tests / CI

#4884 Increase multiple optimizers parity for drone CI
  benchmarks/test_sharded_parity.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix, tests / CI

#4898 fix formatting with CI
  .circleci/config.yml
  .github/workflows/ci_test-tpu.yml
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: 0:] Ready-To-Go, Priority P2, bug / fix, tests / CI

#4814 Update reinforce_learn_Qnet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
Labels: documentation

#4895 tweak imagenet docs to match current script
  pl_examples/domain_templates/imagenet.py
Labels: 0:] Ready-To-Go, documentation

#4882 Fix minor typo in getting started docs
  docs/source/new-project.rst
Labels: 0:] Ready-To-Go, documentation

#4894 Fix codes in 'Lightning in 2 steps' docs
  docs/source/new-project.rst
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4922 freeze DALI
  .drone.yml
  benchmarks/test_parity.py
Labels: 0:] Ready-To-Go, 3rd-party, Priority P0, tests / CI

#4910 drop fairscale for PT <= 1.4
  .github/workflows/ci_test-full.yml
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
Labels: 3rd-party, Priority P0, bug / fix, tests / CI
