Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-03, with the labels that each got.

#5920 simplify skip-if tests >> 0/n
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/utilities/apply_func.py
  tests/__init__.py
  tests/callbacks/test_quantization.py
  tests/core/test_results.py
  tests/deprecated_api/test_remove_1-5.py
  tests/helpers/skipif.py
  tests/trainer/optimization/test_optimizers.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#6237 update old accelerator example in docs
  docs/source/common/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#6229 Document Exceptions in profilers
  pytorch_lightning/profiler/profilers.py
Labels: 0:] Ready-To-Go, documentation

#6216 Fix for incorrect usage of detach(), cpu(), to()
  CHANGELOG.md
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/overrides/test_data_parallel.py
Labels: bug / fix

#6259 cleaning SWA
  CHANGELOG.md
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  tests/callbacks/test_stochastic_weight_avg.py
Labels: 0:] Ready-To-Go, refactors and code health

#6267 docs: Remove optimizer from manual_backward args
  docs/source/common/lightning_module.rst
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#6270 switch agents pool
  azure-pipelines.yml
Labels: 0:] Ready-To-Go, tests / CI

#6264 docstring changes in tuner
  pytorch_lightning/tuner/auto_gpu_select.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
Labels: 0:] Ready-To-Go, documentation

#6262 Disable CPU Offload as default for DeepSpeed
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
Labels: 0:] Ready-To-Go, 3rd-party, DDP, bug / fix

#6261 split profilers
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors and code health

#6266 Refactor: skipif for multi - gpus 1/n
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ddp.py
  tests/accelerators/test_ddp_spawn.py
  tests/accelerators/test_dp.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_quantization.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/checkpointing/test_torch_saving.py
  tests/core/test_datamodules.py
  tests/core/test_decorators.py
  tests/core/test_lightning_optimizer.py
  tests/core/test_memory.py
  tests/core/test_results.py
  tests/deprecated_api/test_remove_1-4.py
  tests/helpers/skipif.py
  tests/metrics/test_composition.py
  tests/metrics/test_metric.py
  tests/models/test_amp.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_hparams.py
  tests/models/test_onnx.py
  tests/models/test_restore.py
  tests/models/test_sync_batchnorm.py
  tests/models/test_torchscript.py
  tests/overrides/test_data_parallel.py
  tests/plugins/test_amp_plugin.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_rpc_plugin.py
  tests/plugins/test_rpc_sequential_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/legacy_deprecate_flow_log/test_trainer_steps_scalar_return.py
  tests/trainer/logging_/test_distributed_logging.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging_1_0.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/properties/test_get_model.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/trainer/test_trainer_test_loop.py
  tests/trainer/test_trainer_tricks.py
  tests/tuner/test_auto_gpu_select.py
  tests/utilities/test_all_gather_grad.py
  tests/utilities/test_apply_func_torchtext.py
  tests/utilities/test_dtype_device_mixin.py
Labels: 0:] Ready-To-Go, tests / CI

#6278 Improved EarlyStopping.patience documentation
  notebooks/05-trainer-flags-overview.ipynb
  pytorch_lightning/callbacks/early_stopping.py
Labels: 0:] Ready-To-Go, documentation

#6268 Refactor: skipif for Windows 2/n
  .github/workflows/events-recurrent.yml
  pytorch_lightning/profiler/__init__.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ddp.py
  tests/accelerators/test_ddp_spawn.py
  tests/accelerators/test_dp.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_quantization.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/checkpointing/test_torch_saving.py
  tests/core/test_datamodules.py
  tests/core/test_decorators.py
  tests/core/test_memory.py
  tests/core/test_metric_result_integration.py
  tests/core/test_results.py
  tests/deprecated_api/test_remove_1-4.py
  tests/helpers/runif.py
  tests/loggers/test_all.py
  tests/metrics/test_composition.py
  tests/metrics/test_ddp.py
  tests/metrics/test_metric.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_onnx.py
  tests/models/test_restore.py
  tests/models/test_sync_batchnorm.py
  tests/models/test_torchscript.py
  tests/overrides/test_data_parallel.py
  tests/plugins/test_amp_plugin.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_rpc_plugin.py
  tests/plugins/test_rpc_sequential_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/legacy_deprecate_flow_log/test_trainer_steps_scalar_return.py
  tests/trainer/logging_/test_distributed_logging.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging_1_0.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/properties/test_get_model.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
  tests/trainer/test_trainer_test_loop.py
  tests/trainer/test_trainer_tricks.py
  tests/tuner/test_auto_gpu_select.py
  tests/utilities/test_all_gather_grad.py
  tests/utilities/test_apply_func_torchtext.py
  tests/utilities/test_dtype_device_mixin.py
Labels: 0:] Ready-To-Go, tests / CI

#6275 fix duplicate console logging bug v2
  CHANGELOG.md
  docs/source/extensions/logging.rst
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/seed.py
  pytorch_lightning/utilities/upgrade_checkpoint.py
  tests/__init__.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_model_checkpoint.py
  tests/test_profiler.py
Labels: 0:] Ready-To-Go, bug / fix, logging

#6293 Refactor: skipif for AMPs 3/n
  tests/core/test_memory.py
  tests/helpers/runif.py
  tests/models/test_amp.py
  tests/models/test_horovod.py
  tests/plugins/test_amp_plugin.py
  tests/plugins/test_apex_plugin.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
Labels: 0:] Ready-To-Go, tests / CI

#6297 [fix] Ensure we check deepspeed/sharded in multinode DDP
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
Labels: DDP, bug / fix

#6302 try unfreeze torchtext
  requirements/extra.txt
Labels: 0:] Ready-To-Go, Priority P1, tests / CI

#6274 Add possibility for custom naming when using multiple dataloaders
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, enhancement

#6256 try to fix imports for parsing
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/utilities/argparse.py
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, _Will, bug / fix

#6301 Refactor: Runif for TPU and Horovod 5/n
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_tpu_backend.py
  tests/checkpointing/test_model_checkpoint.py
  tests/helpers/runif.py
  tests/loggers/test_tensorboard.py
  tests/models/test_horovod.py
  tests/models/test_torchscript.py
  tests/models/test_tpu.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, tests / CI

#6307 Refactor: runif for spec 6/6
  tests/accelerators/test_multi_nodes_gpu.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/helpers/runif.py
  tests/models/test_hooks.py
  tests/models/test_sync_batchnorm.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_rpc_plugin.py
  tests/plugins/test_rpc_sequential_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/logging_/test_train_loop_logging_1_0.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_trainer.py
  tests/utilities/test_all_gather_grad.py
Labels: 0:] Ready-To-Go, tests / CI

#6272 [bugfix] TPU test hangs to barrier on 1 process
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_tpu.py
Labels: 0:] Ready-To-Go, TPU, _Will, bug / fix

#6312 prune duplicite test in optim
  tests/trainer/logging_/test_eval_loop_logging_1_0.py
  tests/trainer/optimization/test_optimizers.py
Labels: refactors and code health, tests / CI

#6311 Simplify test for AMP plugins
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/native_amp.py
  tests/plugins/test_amp_plugin.py
  tests/plugins/test_amp_plugins.py
  tests/plugins/test_apex_plugin.py
Labels: refactors and code health, tests / CI

#6073 Fix ModelPruning(make_pruning_permanent=True) buffers getting removed when saved during training
  CHANGELOG.md
  pytorch_lightning/callbacks/pruning.py
  tests/callbacks/test_pruning.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix, callbacks

#6296 [bugfix] TPU + all_gather + SingleTPU shouldn't call xm.all_gather
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu.py
Labels: bug / fix

#6308 drop unused variable in API
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/training_type/rpc.py
  pytorch_lightning/plugins/training_type/rpc_sequential.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/plugins/test_rpc_plugin.py
Labels: 0:] Ready-To-Go, API / design, refactors and code health

#6323 hotfix for PT1.6 and torchtext
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  azure-pipelines.yml
  setup.cfg
Labels: Important, Priority P0, tests / CI

#6321 [fix] Use training type plugin hook when saving (FSDP 1/n)
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
Labels: DDP, bug / fix

#4460 Add `tests/utilities/test_parsing.py`
  tests/utilities/test_parsing.py
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#6056 Add ignore param to save_hyperparameters
  pytorch_lightning/core/lightning.py
  tests/models/test_hparams.py
Labels: 0:] Ready-To-Go, enhancement

#6177 Fix when _stable_1d_sort to work when n >= N
  pytorch_lightning/metrics/utils.py
  tests/metrics/classification/test_auc.py
Labels: 0:] Ready-To-Go, bug / fix, metrics

#6076 Update docs on arg train_dataloader in fit
  docs/source/advanced/multiple_loaders.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, _Will, documentation

#6314 missing tests default_root_dir=tmpdir
  tests/models/test_restore.py
  tests/models/test_sync_batchnorm.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_rpc_plugin.py
  tests/trainer/legacy_deprecate_flow_log/test_trainer_steps_scalar_return.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging_1_0.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
Labels: 0:] Ready-To-Go, tests / CI

#6190 Document exception for metrics/classification
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/auroc.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/hamming_distance.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/utils.py
Labels: 0:] Ready-To-Go, documentation, metrics

#6330 [Fix] Call clip gradients if clip val greater than 0
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  tests/plugins/test_sharded_plugin.py
Labels: 0:] Ready-To-Go, 3rd-party, DDP, bug / fix

#6305 [bugfix] Check LightningOptimizer doesn't delete optimizer hooks
  pytorch_lightning/core/optimizer.py
  tests/core/test_lightning_optimizer.py
Labels: 0:] Ready-To-Go, bug / fix

#6327 docstring changes in accelerators
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/tpu.py
Labels: 0:] Ready-To-Go, documentation

#6324 [bugfix] Perform reduction for dict in training_step and DP
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/dp.py
  tests/accelerators/test_dp.py
  tests/callbacks/test_pruning.py
Labels: 0:] Ready-To-Go, bug / fix

#5915 introduce default cluster environment for lightning-specific ddp
  CHANGELOG.md
  pytorch_lightning/plugins/environments/__init__.py
  pytorch_lightning/plugins/environments/cluster_environment.py
  pytorch_lightning/plugins/environments/lightning_environment.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/distributed.py
  setup.cfg
  tests/accelerators/test_accelerator_connector.py
  tests/deprecated_api/test_remove_1-4.py
  tests/models/test_sync_batchnorm.py
  tests/plugins/environments/__init__.py
  tests/plugins/environments/test_lightning_environment.py
  tests/plugins/environments/test_slurm_environment.py
  tests/plugins/environments/test_torchelastic_environment.py
Labels: 0:] Ready-To-Go, DDP, SLURM, refactors and code health

#6325 Update changelog for v1.2.2
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go

#6357 CI: fix examples - patch download MNIST
  .github/workflows/ci_test-full.yml
  azure-pipelines.yml
  pl_examples/__init__.py
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/utilities/test_parsing.py
Labels: 3rd-party, tests / CI, tutorial / example

#6260 [bug] Fix Pytorch profiler with emit_nvtx
  CHANGELOG.md
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  tests/special_tests.sh
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, bug / fix

#6365 fix importing torchtext batch
  .github/workflows/docs-checks.yml
  pytorch_lightning/utilities/apply_func.py
  tests/helpers/imports.py
  tests/models/test_gpu.py
  tests/utilities/test_apply_func_torchtext.py
Labels: 3rd-party, bug / fix

#6294 [doc] Improve Manual Optimization Example
  docs/source/common/optimizers.rst
Labels: documentation

#4945 Refactor RunningStage usage in advance of implementing Trainer.validate()
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/overrides/base.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/rpc_sequential.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/model_connector.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/tuner/tuning.py
  pytorch_lightning/utilities/debugging.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_progress_bar.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_restore.py
  tests/overrides/test_data_parallel.py
  tests/trainer/flags/test_fast_dev_run.py
  tests/trainer/flags/test_val_check_interval.py
  tests/trainer/legacy_deprecate_flow_log/test_eval_loop_dict_return.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_states.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, enhancement, refactors and code health

#6363 adjust versions
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/events-nightly.yml
  MANIFEST.in
  azure-pipelines.yml
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/release/Dockerfile
  requirements/adjust_versions.py
Labels: 0:] Ready-To-Go, 3rd-party, bug / fix, tests / CI

#6377 Use f-"""-string in a Trainer comment
  pytorch_lightning/trainer/trainer.py
Labels: documentation

#6139 Remove no return warning from val/test step
  CHANGELOG.md
  pytorch_lightning/overrides/base.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/helpers/utils.py
  tests/overrides/test_data_parallel.py
  tests/trainer/data_flow/test_train_loop_flow_scalar_1_0.py
  tests/trainer/test_states.py
  tests/trainer/test_trainer.py
  tests/utilities/test_parsing.py
Labels: 0:] Ready-To-Go, bug / fix

#6373 Fix manual optimization in pl_example
  pl_examples/basic_examples/conv_sequential_example.py
Labels: 0:] Ready-To-Go, tutorial / example

#6384 Update Sharded test with RunIf
  benchmarks/test_sharded_parity.py
Labels: 0:] Ready-To-Go, tests / CI

#6093 remove optimizer_idx arg in manual optimization
  CHANGELOG.md
  README.md
  docs/source/common/lightning_module.rst
  docs/source/common/optimizers.rst
  docs/source/starter/new-project.rst
  pytorch_lightning/trainer/training_loop.py
  tests/core/test_lightning_optimizer.py
  tests/deprecated_api/test_remove_1-5.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/optimization/test_multiple_optimizers.py
Labels: 0:] Ready-To-Go, API / design

#6320 [doc] Improve Multiple Val/Test Dataloaders with simultaneous batches option
  docs/source/advanced/multiple_loaders.rst
Labels: 0:] Ready-To-Go, documentation

#6374 [doc] Fix closure in manual optimization
  docs/source/common/optimizers.rst
Labels: 0:] Ready-To-Go, bug / fix, documentation

#6136 Fix ModelCheckpoint(monitor=None, save_last=True) not saving checkpoints
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/training_type/rpc.py
  pytorch_lightning/plugins/training_type/rpc_sequential.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-5.py
  tests/plugins/test_rpc_plugin.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix, checkpoint

#6315 Update TBLogger docs
  docs/source/extensions/logging.rst
  pytorch_lightning/loggers/tensorboard.py
Labels: documentation

#6372 fix trainer not resetting lightning_optimizers
  CHANGELOG.md
  pytorch_lightning/trainer/optimizers.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, bug / fix, tune

#6399 update python version in XLA installation in Google Colab notebook
  notebooks/06-mnist-tpu-training.ipynb
Labels: 0:] Ready-To-Go, 3rd-party, TPU, bug / fix

#6221 Fix AttributeError: 'NoneType' object has no attribute 'finalize' on TPU
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: 0:] Ready-To-Go, TPU, bug / fix

#6402 Resolve flake8 TODO
  setup.cfg
Labels: 0:] Ready-To-Go, tests / CI

#6386 Pass {fit,validate,test,predict} to setup() and teardown()
  CHANGELOG.md
  docs/source/conf.py
  docs/source/extensions/datamodules.rst
  docs/source/starter/introduction_guide.rst
  docs/source/starter/new-project.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callbacks.py
  tests/core/test_datamodules.py
  tests/helpers/boring_model.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, API / design, _Will, enhancement, refactors and code health

#6404 fix dp reduction test
  pytorch_lightning/plugins/training_type/dp.py
  tests/accelerators/test_dp.py
Labels: tests / CI

#6419 Add check for verbose attribute of ModelCheckpoint
  pytorch_lightning/trainer/training_loop.py
  tests/checkpointing/test_model_checkpoint.py
Labels: checkpoint, enhancement

#4688 fixed bug where tuner would not tune lr if also tuning batch_size
  CHANGELOG.md
  pytorch_lightning/tuner/lr_finder.py
Labels: bug / fix, tune, waiting on author

#6403 update docs about ddp limitations
  docs/source/advanced/multi_gpu.rst
Labels: documentation

#6313 Typing for tests 1/n
  tests/accelerators/test_accelerator_connector.py
  tests/callbacks/test_callback_hook_outputs.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_lr_monitor.py
  tests/callbacks/test_progress_bar.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_quantization.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_legacy_checkpoints.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_memory.py
  tests/core/test_results.py
  tests/helpers/runif.py
  tests/test_profiler.py
  tests/trainer/test_trainer_cli.py
Labels: 0:] Ready-To-Go, tests / CI

#6398 Improve DummyLogger
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/loggers/test_base.py
  tests/trainer/flags/test_fast_dev_run.py
Labels: bug / fix, logger

#6411 Raise an exception if check_val_every_n_epoch is not an integer
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/trainer/test_trainer.py
Labels: bug / fix

#6438 Set find unused parameters to True by default to fix breaking compatibility
  CHANGELOG.md
  docs/source/benchmarking/performance.rst
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
Labels: 0:] Ready-To-Go, DDP, bug / fix

#6416 [bug] All_gather support tensor on cpu
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_all_gather_grad.py
Labels: 0:] Ready-To-Go, bug / fix

#6460 [Fix] Ensure we set the default device before initializing deepspeed
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
Labels: 0:] Ready-To-Go, 3rd-party, DDP, bug / fix

#6466 Remove redundant hook test
  tests/models/test_model_hooks.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#4948 Add Trainer.validate(…) method to run one validation epoch
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_common.py
  tests/accelerators/test_dp.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_progress_bar.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_datamodules.py
  tests/models/test_hooks.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/optimization/test_optimizers.py
  tests/trainer/test_config_validator.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_test_loop.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#6277 Allow user to disable the automatic formatting of checkpoint file names.
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, API / design, checkpoint, enhancement

#6476 Hotfix for torchvision
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/domain_templates/generative_adversarial_net.py
  tests/helpers/datasets.py
Labels: tests / CI

#6477 use pytest-cov
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  requirements/test.txt
Labels: tests / CI

#6088 argparse: Add use_argument_group=True
  docs/source/common/hyperparameters.rst
  docs/source/common/trainer.rst
  notebooks/04-transformers-text-classification.ipynb
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/reinforce_learn_ppo.py
  pl_examples/domain_templates/semantic_segmentation.py
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/utilities/argparse.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_argparse_utils.py
Labels: 0:] Ready-To-Go, _Will, data / DataModule, enhancement

#6098 Disable batch transfer in DP mode
  CHANGELOG.md
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/accelerators/test_dp.py
Labels: 0:] Ready-To-Go, _Will, bug / fix

#6475 remove obsolete todo in example
  pl_examples/basic_examples/simple_image_classifier.py
Labels: documentation, tutorial / example

#6146 [feat] Support iteration-based checkpointing in model checkpoint callback
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, checkpoint, enhancement

#6464 update xla installation in tpu notebook example
  notebooks/06-mnist-tpu-training.ipynb
Labels: 0:] Ready-To-Go, TPU, bug / fix, tutorial / example

#6487 Remove unused mixin attributes
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/training_tricks.py
Labels: refactors and code health

#6478 [doc] Update the order of zero_grad and backward
  docs/source/common/lightning_module.rst
  docs/source/common/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#5968 fix tuner.scale_batch_size not finding batch size attribute when using datamodule
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/tuner/tuning.py
  tests/tuner/test_scale_batch_size.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule, tune

#6507 Update docs for limit_predict_batches
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation

#6410 [bug] Update broadcast + reduce decision ModelCheckpoint]
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/overrides/torch_distributed.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/utilities/distributed.py
  setup.cfg
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_horovod.py
  tests/special_tests.sh
Labels: DDP, bug / fix, checkpoint

#6511 Handle torch.jit scripted modules in layer summary
  CHANGELOG.md
  pytorch_lightning/core/memory.py
  tests/core/test_memory.py
Labels: 0:] Ready-To-Go, bug / fix

#6516 CI: resume testing with py3.8
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  requirements/extra.txt
  requirements/test.txt
  setup.cfg
Labels: 0:] Ready-To-Go, Priority P1, tests / CI

#6273 document exceptions for metrics/functional
  pytorch_lightning/metrics/functional/accuracy.py
  pytorch_lightning/metrics/functional/auc.py
  pytorch_lightning/metrics/functional/auroc.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/image_gradients.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/precision_recall_curve.py
  pytorch_lightning/metrics/functional/psnr.py
  pytorch_lightning/metrics/functional/r2score.py
  pytorch_lightning/metrics/functional/ssim.py
  pytorch_lightning/metrics/functional/stat_scores.py
Labels: 0:] Ready-To-Go, documentation, metrics

#5032 Mean Average Precision metric for Information Retrieval (1/5)
  CHANGELOG.md
  docs/source/extensions/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/ir_average_precision.py
  pytorch_lightning/metrics/retrieval/__init__.py
  pytorch_lightning/metrics/retrieval/mean_average_precision.py
  pytorch_lightning/metrics/retrieval/retrieval_metric.py
  pytorch_lightning/metrics/utils.py
  tests/metrics/functional/test_retrieval.py
  tests/metrics/retrieval/__init__.py
  tests/metrics/retrieval/test_map.py
Labels: enhancement, metrics

#6514 CI: Azure publish results
  azure-pipelines.yml
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#6505 deprecate metrics pkg 1/n
  CHANGELOG.md
  docs/source/extensions/metrics.rst
  pl_examples/basic_examples/conv_sequential_example.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/hamming_distance.py
  pytorch_lightning/metrics/classification/helpers.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/functional/accuracy.py
  pytorch_lightning/metrics/functional/hamming_distance.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/stat_scores.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  requirements.txt
  requirements/test.txt
  tests/accelerators/test_common.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/optimization/test_optimizers.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, enhancement, metrics, refactors and code health

#6422 [test] lr_find with bs_scale
  tests/trainer/test_lr_finder.py
Labels: 0:] Ready-To-Go, tests / CI

#6528 Update DeepSpeed docs
  docs/source/advanced/multi_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#6513 fix attribute access in LightningModule.toggle_optimizer
  pytorch_lightning/core/lightning.py
Labels: bug / fix, tutorial / example

#6538 Update hook lifecycle
  docs/source/common/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation

#6530 Prune metrics base classes 2/n
  CHANGELOG.md
  pl_examples/basic_examples/conv_sequential_example.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/metrics/classification/helpers.py
  pytorch_lightning/metrics/compositional.py
  pytorch_lightning/metrics/functional/auc.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/explained_variance.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/iou.py
  pytorch_lightning/metrics/functional/mean_absolute_error.py
  pytorch_lightning/metrics/functional/mean_relative_error.py
  pytorch_lightning/metrics/functional/mean_squared_error.py
  pytorch_lightning/metrics/functional/mean_squared_log_error.py
  pytorch_lightning/metrics/functional/psnr.py
  pytorch_lightning/metrics/functional/r2score.py
  pytorch_lightning/metrics/functional/ssim.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/utils.py
  pytorch_lightning/plugins/training_type/rpc.py
  pytorch_lightning/plugins/training_type/rpc_sequential.py
  pytorch_lightning/trainer/callback_hook.py
  tests/deprecated_api/test_remove_1-5_metrics.py
  tests/metrics/classification/test_inputs.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/test_composition.py
  tests/metrics/test_ddp.py
  tests/metrics/test_metric.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6537 Custom Plugin is_distributed
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: 0:] Ready-To-Go

#6510 refactor reading env defaults
  pytorch_lightning/trainer/connectors/env_vars_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/argparse.py
  tests/trainer/flags/test_env_vars.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix, enhancement

#6547 Prune metric: helpers and inputs 3/n
  CHANGELOG.md
  pytorch_lightning/metrics/classification/helpers.py
  pytorch_lightning/metrics/functional/accuracy.py
  pytorch_lightning/metrics/functional/auroc.py
  pytorch_lightning/metrics/functional/confusion_matrix.py
  pytorch_lightning/metrics/functional/hamming_distance.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/stat_scores.py
  pytorch_lightning/trainer/connectors/env_vars_connector.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/classification/test_hamming_distance.py
  tests/metrics/classification/test_inputs.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/classification/test_stat_scores.py
  tests/trainer/test_lr_finder.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6540 prune warning & deprecation wrapper
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/auc.py
  pytorch_lightning/metrics/classification/auroc.py
  pytorch_lightning/metrics/classification/average_precision.py
  pytorch_lightning/metrics/classification/confusion_matrix.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/hamming_distance.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/classification/roc.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/compositional.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/metrics/regression/psnr.py
  pytorch_lightning/metrics/regression/r2score.py
  pytorch_lightning/metrics/regression/ssim.py
  pytorch_lightning/metrics/retrieval/retrieval_metric.py
  pytorch_lightning/metrics/utils.py
  pytorch_lightning/trainer/connectors/logger_connector/metrics_holder.py
  pytorch_lightning/utilities/deprecation.py
  tests/core/test_metric_result_integration.py
  tests/deprecated_api/test_remove_1-5_metrics.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/retrieval/test_map.py
  tests/metrics/test_metric_lightning.py
  tests/metrics/utils.py
  tests/utilities/test_deprecation.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement, refactors and code health

#6120 Add outputs param for `on_val/test_epoch_end` hooks
  CHANGELOG.md
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/utilities/signature_utils.py
  tests/callbacks/test_callback_hook_outputs.py
  tests/callbacks/test_callbacks.py
  tests/core/test_hooks.py
  tests/deprecated_api/__init__.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_hooks.py
  tests/trainer/logging_/test_eval_loop_logging_1_0.py
  tests/trainer/test_evaluation_loop.py
Labels: 0:] Ready-To-Go, API / design, _Will, callbacks, enhancement

#6548 [doc] Add Zero Grad `set_to_none=True` trick
  docs/source/benchmarking/performance.rst
Labels: documentation

#6553 fix deprecation wrapper & tests
  pytorch_lightning/utilities/deprecation.py
  tests/deprecated_api/test_remove_1-5_metrics.py
  tests/utilities/test_deprecation.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#6515 prune metric: accuracy 4/n
  CHANGELOG.md
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/functional/accuracy.py
  tests/deprecated_api/test_remove_1-5_metrics.py
  tests/metrics/classification/test_accuracy.py
Labels: metrics, refactors and code health

#6572 Prune metrics: AUC & ROC 5/n
  CHANGELOG.md
  pytorch_lightning/metrics/classification/auc.py
  pytorch_lightning/metrics/classification/auroc.py
  pytorch_lightning/metrics/classification/roc.py
  pytorch_lightning/metrics/functional/auc.py
  pytorch_lightning/metrics/functional/auroc.py
  pytorch_lightning/metrics/functional/roc.py
  pytorch_lightning/utilities/deprecation.py
  tests/metrics/classification/test_auc.py
  tests/metrics/classification/test_auroc.py
  tests/metrics/classification/test_roc.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_remove_1-5_metrics.py
  tests/utilities/test_deprecation.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6579 [doc] Update Dict Train Loader doc.
  docs/source/advanced/multiple_loaders.rst
Labels: documentation

#6573 Prune metrics: precision & recall 6/n
  CHANGELOG.md
  pytorch_lightning/metrics/classification/average_precision.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/functional/average_precision.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/precision_recall_curve.py
  tests/deprecated_api/test_remove_1-4.py
  tests/metrics/classification/test_average_precision.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/classification/test_precision_recall_curve.py
  tests/metrics/functional/test_classification.py
  tests/metrics/test_remove_1-5_metrics.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6506 [Fix] Move init dist connection into the setup function
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ddp.py
  tests/callbacks/test_callbacks.py
  tests/plugins/test_deepspeed_plugin.py
  tests/special_tests.sh
Labels: DDP, bug / fix

#6587 Fix all_gather for tpu_cores=8
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu.py
Labels: 0:] Ready-To-Go, TPU, bug / fix

#6576 Update Gradient Clipping for TPU Accelerator
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  tests/models/test_tpu.py
Labels: Priority P0, bug / fix

#6187 NGC container PoC
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  .github/workflows/release-docker.yml
  dockers/nvidia/Dockerfile
  dockers/release/Dockerfile
Labels: 3rd-party, tests / CI

#6536 Automatically set sync_batchnorm for training_type_plugin
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/plugins/test_custom_plugin.py
Labels: 0:] Ready-To-Go, bug / fix

#6584 Prune metrics: other classification 7/n
  CHANGELOG.md
  pytorch_lightning/metrics/classification/confusion_matrix.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/hamming_distance.py
  pytorch_lightning/metrics/classification/iou.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/functional/confusion_matrix.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/hamming_distance.py
  pytorch_lightning/metrics/functional/iou.py
  pytorch_lightning/metrics/functional/stat_scores.py
  tests/metrics/classification/__init__.py
  tests/metrics/classification/inputs.py
  tests/metrics/classification/test_confusion_matrix.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_hamming_distance.py
  tests/metrics/classification/test_inputs.py
  tests/metrics/classification/test_iou.py
  tests/metrics/classification/test_stat_scores.py
  tests/metrics/test_remove_1-5_metrics.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6600 fixing examples
  azure-pipelines.yml
  pl_examples/basic_examples/submit_ddp2_job.sh
  pl_examples/basic_examples/submit_ddp_job.sh
  tests/__init__.py
  tests/base/model_template.py
  tests/checkpointing/test_legacy_checkpoints.py
  tests/helpers/advanced_models.py
  tests/helpers/datasets.py
  tests/helpers/test_datasets.py
Labels: 0:] Ready-To-Go, Priority P0, tests / CI, tutorial / example

#6565 Add AMP for validation, prediction and testing
  CHANGELOG.md
  pytorch_lightning/plugins/precision/native_amp.py
  tests/models/test_amp.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix

#6543 Add trainer.predict config validation
  CHANGELOG.md
  pytorch_lightning/trainer/configuration_validator.py
  tests/trainer/test_config_validator.py
Labels: 0:] Ready-To-Go, enhancement

#6292 Add DDP Spawn being default for Multi GPUs
  docs/source/advanced/multi_gpu.rst
Labels: 0:] Ready-To-Go

#6619 Move profiler tests 1/4
  tests/special_tests.sh
  tests/test_profiler.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, tests / CI

#6542 Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: 0:] Ready-To-Go, productivity

#6607 Clean utilities/argparse and add missing tests
  pytorch_lightning/utilities/argparse.py
  tests/utilities/test_argparse.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#6331 Allow training type plugin to delay optimizer creation (FSDP 2/n)
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_cpu.py
Labels: DDP, enhancement

#6370 Add teardown method to BaseProfiler.
  .gitignore
  CHANGELOG.md
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/test_profiler.py
Labels: 0:] Ready-To-Go, API / design, enhancement, profiler

#6590 refactoring setup
  docs/source/conf.py
  pytorch_lightning/__init__.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/info.py
  pytorch_lightning/setup_tools.py
  setup.py
Labels: 0:] Ready-To-Go, Priority P1, _Will, refactors and code health

#6434 fix comparing versions
  .github/workflows/docs-checks.yml
  CHANGELOG.md
  Makefile
  docs/source/conf.py
  pytorch_lightning/utilities/imports.py
  requirements/extra.txt
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, bug / fix

#6636 Prune metrics: regression 8/n
  CHANGELOG.md
  pytorch_lightning/metrics/functional/explained_variance.py
  pytorch_lightning/metrics/functional/mean_absolute_error.py
  pytorch_lightning/metrics/functional/mean_relative_error.py
  pytorch_lightning/metrics/functional/mean_squared_error.py
  pytorch_lightning/metrics/functional/mean_squared_log_error.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  tests/accelerators/test_cpu.py
  tests/metrics/regression/test_explained_variance.py
  tests/metrics/regression/test_mean_error.py
  tests/metrics/test_remove_1-5_metrics.py
  tests/utilities/test_argparse.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6637 Prune metyrics: regression 9/n
  CHANGELOG.md
  pytorch_lightning/metrics/functional/psnr.py
  pytorch_lightning/metrics/functional/r2score.py
  pytorch_lightning/metrics/functional/ssim.py
  pytorch_lightning/metrics/regression/psnr.py
  pytorch_lightning/metrics/regression/r2score.py
  pytorch_lightning/metrics/regression/ssim.py
  tests/metrics/regression/test_psnr.py
  tests/metrics/regression/test_r2score.py
  tests/metrics/regression/test_ssim.py
  tests/metrics/test_remove_1-5_metrics.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6621 Refactor base profilers 3/5
  .gitignore
  CHANGELOG.md
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
  tests/deprecated_api/test_remove_1-5.py
  tests/test_profiler.py
  tests/trainer/properties/test_get_model.py
Labels: enhancement, profiler, refactors and code health

#6649 prune metrics: info retrieval 10/n
  CHANGELOG.md
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/ir_average_precision.py
  pytorch_lightning/metrics/retrieval/__init__.py
  pytorch_lightning/metrics/retrieval/mean_average_precision.py
  pytorch_lightning/metrics/retrieval/retrieval_metric.py
  tests/metrics/functional/test_retrieval.py
  tests/metrics/retrieval/__init__.py
  tests/metrics/retrieval/test_map.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6655 fix back-compatibility for Accel
  pytorch_lightning/accelerators/accelerator.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#6349 Refactor PyTorch profiler 4/5
  CHANGELOG.md
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/connectors/profiler_connector.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/imports.py
  tests/checkpointing/test_torch_saving.py
  tests/deprecated_api/test_remove_1-5.py
  tests/test_profiler.py
  tests/trainer/properties/test_get_model.py
Labels: profiler, refactors and code health

#6618 Add PyTorch 1.8 Profiler 5/5
  CHANGELOG.md
  pl_examples/basic_examples/profiler_example.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/utilities/imports.py
  tests/accelerators/test_cpu.py
  tests/helpers/runif.py
  tests/helpers/test_datasets.py
  tests/test_profiler.py
  tests/utilities/test_argparse.py
Labels: enhancement, profiler

#6524 update coverage config
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  azure-pipelines.yml
  requirements/test.txt
  setup.cfg
  tests/special_tests.sh
Labels: 0:] Ready-To-Go, Priority P1, bug / fix, tests / CI

#6657 Fix disabled grads after call to predict
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#6656 LightningModule needs to be imported from pl
  docs/source/starter/new-project.rst
Labels: documentation

#6659 Prune metrics: others 11/DoNe
  CHANGELOG.md
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/image_gradients.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/functional/self_supervised.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/utils.py
  tests/deprecated_api/test_remove_1-4.py
  tests/deprecated_api/test_remove_1-5.py
  tests/metrics/functional/__init__.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_image_gradients.py
  tests/metrics/functional/test_nlp.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/functional/test_self_supervised.py
  tests/metrics/regression/__init__.py
  tests/metrics/test_metric_lightning.py
  tests/metrics/test_remove_1-5_metrics.py
Labels: 0:] Ready-To-Go, metrics, refactors and code health

#6638 fix: update example autoencoder.py to reflect args
  pl_examples/basic_examples/autoencoder.py
Labels: 0:] Ready-To-Go, bug / fix, tutorial / example

#6658 Docs/robots
  docs/source/conf.py
  pytorch_lightning/info.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#6595 Feature/double precision
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/precision/__init__.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/plugins/test_double_plugin.py
Labels: 0:] Ready-To-Go, enhancement

#6110 Follow E231 [flake8]
  pytorch_lightning/trainer/data_loading.py
  setup.cfg
Labels: 0:] Ready-To-Go, refactors and code health

#6661 add copyr
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/training_type/utils.py
Labels: 0:] Ready-To-Go, documentation

#6645 `MetricsHolder` clean-up + typing
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/metrics_holder.py
  tests/trainer/logging_/test_logger_connector.py
Labels: refactors and code health

#6625 Match the number of outputs of backward with forward for AllGatherGrad
  pytorch_lightning/utilities/distributed.py
  tests/utilities/test_all_gather_grad.py
Labels: 0:] Ready-To-Go, bug / fix

#6654 Fix checkpoint callback & Trainer.test(_) issue for TPUs
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_tpu.py
Labels: bug / fix

#6220 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 0:] Ready-To-Go, _Will, documentation

#4673 Add `teardown` hook to `LightningDataModule`
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  docs/source/extensions/datamodules.rst
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, API / design, _Will, data / DataModule, enhancement

#6498 Add on_epoch_start to run at the beginning of every loop irrespective of train/val/test
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  docs/source/extensions/callbacks.rst
  docs/source/extensions/logging.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/models/test_hooks.py
  tests/trainer/logging_/test_eval_loop_logging_1_0.py
Labels: API / design, _Will, callbacks, enhancement

#6677 Add artifcact_location arg to MLFlow logger
  CHANGELOG.md
  pytorch_lightning/loggers/mlflow.py
  tests/loggers/test_mlflow.py
Labels: 0:] Ready-To-Go, Priority P2, enhancement, logger

#6682 Do not add return dict items to callback_metrics
  CHANGELOG.md
  docs/source/ecosystem/asr_nlp_tts.rst
  docs/source/ecosystem/bolts.rst
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/model_valid_epoch_ends.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_model_checkpoint.py
  tests/trainer/legacy_deprecate_flow_log/test_eval_loop_dict_return.py
  tests/trainer/legacy_deprecate_flow_log/test_trainer_steps_dict_return.py
  tests/trainer/logging_/test_eval_loop_logging_1_0.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, bug / fix, logging

#6681 Profilers - do not write when there's no summary
  pytorch_lightning/profiler/profilers.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix
