Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-04, with the labels that each got.

#6786 less IDE complain about unused args
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/auc.py
  pytorch_lightning/metrics/classification/auroc.py
  pytorch_lightning/metrics/classification/average_precision.py
  pytorch_lightning/metrics/classification/confusion_matrix.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/hamming_distance.py
  pytorch_lightning/metrics/classification/iou.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/classification/roc.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/metrics/regression/psnr.py
  pytorch_lightning/metrics/regression/r2score.py
  pytorch_lightning/metrics/regression/ssim.py
  requirements.txt
Labels: 0:] Ready-To-Go, refactors and code health

#5952 Fix validation progress counter with check_val_every_n_epoch > 1
  pytorch_lightning/callbacks/progress.py
  tests/trainer/flags/test_check_val_every_n_epoch.py
Labels: 0:] Ready-To-Go, bug / fix

#6801 Remove extinct parameters from lightning_module.rst
  docs/source/common/lightning_module.rst
Labels: documentation

#6777 [typing] Add typehint for broadcast in training type plugin
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
Labels: 0:] Ready-To-Go, refactors and code health

#6794 Update TPU docs for installation
  docs/source/advanced/tpu.rst
  docs/source/starter/introduction_guide.rst
Labels: 0:] Ready-To-Go, TPU, documentation

#6828 fix boolean check on iterable dataset when len not defined
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_dataloaders.py
Labels: bug / fix, data / DataModule

#6836 Sanitize `None` params during pruning
  CHANGELOG.md
  pytorch_lightning/callbacks/pruning.py
  tests/callbacks/test_pruning.py
Labels: bug / fix

#6822 Correct parameter name in doc string
  pytorch_lightning/callbacks/finetuning.py
Labels: 0:] Ready-To-Go, documentation

#6588 Enforce an epoch scheduler interval when using SWA
  CHANGELOG.md
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  tests/callbacks/test_stochastic_weight_avg.py
Labels: 0:] Ready-To-Go, bug / fix, callbacks

#6838 Fix DPP + SyncBN
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
Labels: DDP, bug / fix

#6816 [Fix] TPU Training Type Plugin
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/enums.py
  tests/models/test_tpu.py
Labels: TPU, bug / fix

#6730 Fix support for symlink save_dir in TensorBoardLogger
  CHANGELOG.md
  pytorch_lightning/utilities/cloud_io.py
  tests/loggers/test_tensorboard.py
Labels: 0:] Ready-To-Go, Priority P2, bug / fix, logger

#6784 Fixed missing arguments in `lr_find` call
  pytorch_lightning/tuner/tuning.py
Labels: bug / fix, tune

#6705 Fix EarlyStopping logic when min_epochs not met
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#4492 Simple reproducibility with minimum boilerplate train_cli
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/common/lightning_cli.rst
  docs/source/conf.py
  docs/source/index.rst
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, API / design, Important, Priority P1, enhancement

#6123 Add `Trainer(gradient_clip_algorithm='value'|'norm')`
  CHANGELOG.md
  docs/source/advanced/training_tricks.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/enums.py
  tests/models/test_horovod.py
  tests/models/test_tpu.py
  tests/plugins/test_precision_plugin.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, API / design, _Will, enhancement

#6790 docs: Update sync_dist warning for multiple processes
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
Labels: 0:] Ready-To-Go, documentation

#6839 CI: fixture for global rank variable reset
  tests/conftest.py
Labels: 0:] Ready-To-Go, tests / CI

#6843 Update seed_everything()
  pytorch_lightning/utilities/seed.py
Labels: 0:] Ready-To-Go, refactors and code health

#6802 [fix] Better support for rank_zero_only setting for SLURM and torchelastic
  CHANGELOG.md
  pytorch_lightning/utilities/distributed.py
  tests/utilities/test_distributed.py
Labels: 0:] Ready-To-Go, SLURM, bug / fix

#6736 Supporting Adding DDP Communication Hooks
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/imports.py
  tests/plugins/test_custom_plugin.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
Labels: 0:] Ready-To-Go, DDP, enhancement

#6870 DeepSpeed ZeRO docs fixes
  docs/source/advanced/multi_gpu.rst
Labels: documentation

#6874 Update Changelog for v1.2.7
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, documentation

#6436 Fix csv extension check
  CHANGELOG.md
  pytorch_lightning/core/saving.py
Labels: Priority P1, bug / fix

#6882 Add separators to performance docs
  docs/source/benchmarking/performance.rst
Labels: documentation

#6878 Remove hardcoding of rank_zero_only.rank in accelerator connector
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: refactors and code health

#6880 Fix finetuning complex models correctly unfreezes.
  CHANGELOG.md
  pytorch_lightning/callbacks/finetuning.py
  tests/callbacks/test_finetuning_callback.py
Labels: bug / fix

#6746 Update mlflow with using resolve_tags
  pytorch_lightning/loggers/mlflow.py
Labels: 0:] Ready-To-Go, bug / fix, logger

#6892 Fix DDP_SPAWN compatibility with bug_report_model.py
  pl_examples/bug_report_model.py
Labels: 0:] Ready-To-Go, bug / fix, tutorial / example

#6875 TPUSpawn + IterableDataset error message
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  tests/plugins/test_tpu_spawn.py
Labels: TPU, bug / fix

#6885 prepare v1.3.0rc
  .circleci/config.yml
  .github/CODEOWNERS
  .github/workflows/ci_test-tpu.yml
  CHANGELOG.md
  pytorch_lightning/info.py
Labels: Important, _Will, _admin

#6877 [Fix] Ensure we set the eval/train flag correctly on accelerator model
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: _Will, bug / fix

#6901 fix exception raising
  pytorch_lightning/loggers/tensorboard.py
Labels: bug / fix, refactors and code health

#6834 Move NaN/Inf detection to a separate utilities file
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/finite_checks.py
  tests/deprecated_api/test_remove_1-5.py
  tests/trainer/test_trainer.py
Labels: refactors and code health

#6906 DDP plugin test version Fix
  tests/plugins/test_ddp_plugin_with_comm_hook.py
Labels: 0:] Ready-To-Go, DDP, tests / CI

#6898 fix gpus default for Trainer.add_argparse_args
  CHANGELOG.md
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/device_parser.py
  tests/loggers/test_wandb.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_argparse.py
Labels: Priority P0, bug / fix, checkpoint

#6567 [RFC] Add `self.lr_schedulers()` to LightningModule for manual optimization
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, enhancement

#6762 Update `DataLoader.persistent_workers` warnings in ddp_spawn
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_data_loading.py
Labels: 0:] Ready-To-Go, data / DataModule, documentation

#6908 [fix] [easy] Update Model Checkpoint callback overrides to use base Callback signature
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: 0:] Ready-To-Go, checkpoint, refactors and code health

#6896 Fix TPU Spawn gather
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  tests/models/test_tpu.py
Labels: Priority P0, TPU, bug / fix

#6925 v1.3.0rc1
  .github/CODEOWNERS
  .github/prepare-nightly_version.py
  docs/source/conf.py
  pytorch_lightning/__info__.py
  pytorch_lightning/__init__.py
  setup.py
Labels: Important, _Will, bug / fix, refactors and code health, tests / CI

#6930 Run ddp_spawn dataloader checks on windows
  pytorch_lightning/trainer/data_loading.py
  tests/models/test_horovod.py
Labels: enhancement, tests / CI

#6936 Accelerator API docs
  docs/source/api_references.rst
  docs/source/extensions/accelerators.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/tpu.py
Labels: 0:] Ready-To-Go, Priority P0, documentation

#6915 Fix ShardedDataParallel has no attribute require_backward_grad_sync
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  tests/plugins/test_sharded_plugin.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#6970 Brew update to fix mac tests
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  tests/models/test_horovod.py
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#6900 [Feat] DeepSpeed single file saving
  dockers/base-cuda/Dockerfile
  pytorch_lightning/plugins/training_type/deepspeed.py
  requirements/extra.txt
  tests/plugins/test_deepspeed_plugin.py
Labels: DDP, enhancement

#6765 Fix failing profiler tests for CI: conda (3.7, 1.8)
  pytorch_lightning/utilities/imports.py
Labels: 0:] Ready-To-Go, tests / CI

#6414 fix self.device access in DataParallel
  CHANGELOG.md
  pytorch_lightning/overrides/data_parallel.py
  tests/overrides/test_data_parallel.py
Labels: 0:] Ready-To-Go, DP, bug / fix

#6950 Fix sync_dist for tpus
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/imports.py
  tests/models/test_tpu.py
Labels: TPU, bug / fix

#6972 Updated iterable dataset with len warning message
  pytorch_lightning/utilities/data.py
Labels: 0:] Ready-To-Go, documentation

#6931 update docker base
  dockers/nvidia/Dockerfile
  requirements/examples.txt
Labels: enhancement

#6958 Fix Checkpoint issue when using Horovod distributed backend (PyTorchLightning#6947)
  pytorch_lightning/plugins/training_type/horovod.py
Labels: 0:] Ready-To-Go, DDP, bug / fix, checkpoint

#6974 Fixing word tense
  README.md
Labels: 0:] Ready-To-Go, documentation

#6985 [CI] Drop brew update
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
Labels: tests / CI

#6973 Remove evaluation loop legacy dict returns for `*_epoch_end` hooks
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/data_flow/test_eval_loop_flow.py
Labels: 0:] Ready-To-Go, refactors and code health

#6969 Fix inconsistent outputs in `on_*_end` and `*_end`
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callback_hook_outputs.py
  tests/core/test_hooks.py
  tests/models/test_hooks.py
  tests/trainer/test_evaluation_loop.py
  tests/trainer/test_training_loop.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix

#6976 Reuse `_TORCHVISION_AVAILABLE` in examples
  pl_examples/__init__.py
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/domain_templates/generative_adversarial_net.py
Labels: 0:] Ready-To-Go, refactors and code health, tutorial / example

#6954 Fix Multi-GPU join for horovod
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/horovod.py
  tests/models/test_horovod.py
Labels: 0:] Ready-To-Go, DDP, Priority P0, bug / fix

#6941 Clean up environment access in plugins
  CHANGELOG.md
  pytorch_lightning/plugins/environments/cluster_environment.py
  pytorch_lightning/plugins/environments/lightning_environment.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/rpc_sequential.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/models/test_amp.py
  tests/plugins/environments/test_lightning_environment.py
  tests/plugins/environments/test_slurm_environment.py
  tests/plugins/environments/test_torchelastic_environment.py
  tests/plugins/test_amp_plugins.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_rpc_plugin.py
  tests/plugins/test_tpu_spawn.py
Labels: API / design, DDP, Important, Priority P0, bug / fix

#6967 docs: update link to lightning-bolts
  docs/source/advanced/multi_gpu.rst
  docs/source/starter/new-project.rst
  notebooks/01-mnist-hello-world.ipynb
  notebooks/02-datamodules.ipynb
  notebooks/03-basic-gan.ipynb
  notebooks/04-transformers-text-classification.ipynb
  notebooks/05-trainer-flags-overview.ipynb
  notebooks/06-mnist-tpu-training.ipynb
  notebooks/07-cifar10-baseline.ipynb
  pl_examples/README.md
  pl_examples/domain_templates/reinforce_learn_ppo.py
Labels: documentation

#6968 update linked notebook
  docs/source/starter/new-project.rst
  notebooks/08-Domain-specific-demos.ipynb
Labels: documentation, tutorial / example

#7001 Docs wrong callback reference
  docs/source/extensions/callbacks.rst
Labels: 0:] Ready-To-Go, documentation

#6928 Fix the `gradient_clip_algorithm` has no effect issue.
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_tpu.py
  tests/trainer/test_trainer.py
Labels: bug / fix

#6884 Bugfix for predict progressbar
  CHANGELOG.md
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/predict_loop.py
  tests/trainer/test_trainer.py
Labels: bug / fix

#6864 Train End Error Handling Fix
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callback_hook_outputs.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/optimization/test_multiple_optimizers.py
  tests/trainer/test_training_loop.py
Labels: API / design, DDP, bug / fix

#6917 Use PickleError base class to detect all pickle errors
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/utilities/test_parsing.py
Labels: 0:] Ready-To-Go, bug / fix

#6952 Plugin Docs
  docs/source/_static/images/accelerator/overview.svg
  docs/source/api_references.rst
  docs/source/common/trainer.rst
  docs/source/extensions/accelerators.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/base_plugin.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  pytorch_lightning/plugins/precision/tpu_bfloat.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
Labels: 0:] Ready-To-Go, documentation

#7018 Remove lightning-dtrun installation
  .github/workflows/ci_test-mnodes.yml
  azure-pipelines.yml
Labels: 0:] Ready-To-Go, tests / CI

#7002 rename about
  .github/CODEOWNERS
  .github/prepare-nightly_version.py
  docs/source/conf.py
  pytorch_lightning/__about__.py
  pytorch_lightning/__init__.py
  setup.py
Labels: 0:] Ready-To-Go, _admin, refactors and code health

#6934 Bugfix/cuda oom detection and handling
  pytorch_lightning/utilities/memory.py
Labels: bug / fix, tune

#7015 Add typings for evaluation_loop.py and remove some dead code
  .github/workflows/ci_pkg-install.yml
  .github/workflows/events-recurrent.yml
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/cloud_io.py
  requirements.txt
  requirements/docs.txt
  setup.cfg
  setup.py
  tests/plugins/test_custom_plugin.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/plugins/test_tpu_spawn.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/test_training_loop.py
Labels: 0:] Ready-To-Go, refactors and code health

#6862 Changed basic_examples to use LightningCLI
  azure-pipelines.yml
  docs/source/common/lightning_cli.rst
  pl_examples/basic_examples/README.md
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/profiler_example.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/basic_examples/submit_ddp2_job.sh
  pl_examples/basic_examples/submit_ddp_job.sh
  pl_examples/run_ddp-examples.sh
  pl_examples/test_examples.py
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, enhancement, tutorial / example

#7036 Update DeepSpeed docs after single saving PR
  docs/source/advanced/multi_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#6942 [fix] Add a cluster environment teardown to clean up environment state
  CHANGELOG.md
  pytorch_lightning/plugins/environments/cluster_environment.py
  pytorch_lightning/plugins/environments/lightning_environment.py
  pytorch_lightning/plugins/training_type/ddp.py
  tests/plugins/environments/test_lightning_environment.py
Labels: 0:] Ready-To-Go, DDP, Priority P0, bug / fix

#6771 Use PyTorch API logging for Lightning Trainer
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, enhancement

#7029 [docs]: pass parser to Trainer.add_argparse_args()
  docs/source/common/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#6823 Add Trainer max_time argument + Callback
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/timer.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_timer.py
Labels: 0:] Ready-To-Go, callbacks, enhancement

#6982 Add Training Type Plugins Registry
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/plugins_registry.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/plugins/test_plugins_registry.py
Labels: enhancement

#7057 v1.3.0rc2
  pytorch_lightning/__about__.py
Labels: Important

#7062 Fix mypy for plugins registry
  pytorch_lightning/plugins/plugins_registry.py
  pytorch_lightning/plugins/training_type/deepspeed.py
Labels: 0:] Ready-To-Go, refactors and code health

#7061 [fix] Fix multi-node DDP launch by using local rank instead of global rank for main process
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
Labels: 0:] Ready-To-Go, DDP, bug / fix

#7063 Better approach to register plugins
  pytorch_lightning/plugins/plugins_registry.py
Labels: 0:] Ready-To-Go, refactors and code health

#7079 Update default gym env version to CartPole-v1
  pl_examples/domain_templates/reinforce_learn_Qnet.py
Labels: 0:] Ready-To-Go, enhancement

#7074 TPU Spawn Rank & root device Error
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: 0:] Ready-To-Go, Priority P0, TPU, bug / fix

#7019 Update CI torch-xla version to 1.8
  .github/workflows/ci_test-tpu.yml
Labels: 0:] Ready-To-Go, TPU, tests / CI

#7048 Create pytorch_lightning/utilities/types.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/precision/tpu_bfloat.py
  pytorch_lightning/trainer/connectors/logger_connector/metrics_holder.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/utilities/types.py
Labels: 0:] Ready-To-Go, refactors and code health

#7038 Typo LightningMoule -> LightningModule
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#7055 Correctly reset metric objects in self.log
  CHANGELOG.md
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_metric_result_integration.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, 3rd-party, Priority P0, bug / fix, logging, metrics

#7046 skip drafts for full test
  .github/workflows/ci_test-full.yml
Labels: 0:] Ready-To-Go, tests / CI

#7024 Set `DistributedSampler` seed if `seed_everything` was called
  CHANGELOG.md
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/trainer/data_loading.py
  tests/accelerators/ddp_model.py
  tests/plugins/test_deepspeed_plugin.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, enhancement

#6993 Deprecate `@auto_move_data` in favor of `trainer.predict`
  CHANGELOG.md
  docs/source/common/trainer.rst
  docs/source/starter/introduction_guide.rst
  pytorch_lightning/core/__init__.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, API / design, _Will, deprecation, documentation

#7064 fix docs rendering in datamodule
  pytorch_lightning/core/datamodule.py
Labels: 0:] Ready-To-Go, _Will, _admin, documentation

#6907 Optimization docs
  docs/source/common/lightning_module.rst
  docs/source/common/optimizers.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
Labels: 0:] Ready-To-Go, _Will, documentation, enhancement

#6960 Auto-set `DataLoader.worker_init_fn` with `seed_everything`
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/seed.py
  requirements.txt
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, Important, data / DataModule, enhancement

#6868 more early stopping options (convergence and divergence threshold)
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  tests/callbacks/test_early_stopping.py
Labels: Priority P0, callbacks, enhancement

#7077 fix logger experiment version in multiple run DDP
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
Labels: 0:] Ready-To-Go, DDP, bug / fix, logger

#7087 Update community example links
  docs/source/ecosystem/community_examples.rst
  docs/source/ecosystem/pytorch_ecoystem.rst
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation, tutorial / example

#7043 Fix attribute error for _gpus_arg_default loading checkpoint prior to 1.2.8
  pytorch_lightning/utilities/argparse.py
Labels: bug / fix, checkpoint

#7102 [bugfix] Add support for CombinedLoader in validation with ddp
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/supporters.py
  tests/trainer/test_supporters.py
Labels: 0:] Ready-To-Go, DDP, bug / fix

#7084 Update test for ckpt+val_check_interval
  tests/checkpointing/test_model_checkpoint.py
Labels: checkpoint, tests / CI

#6825 Disable `lr_scheduler.step()` in manual optimization
  CHANGELOG.md
  docs/source/common/optimizers.rst
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/optimization/test_optimizers.py
Labels: 0:] Ready-To-Go, enhancement

#7045 Add MpModelWrapper in TPU Spawn
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/accelerators/test_tpu_backend.py
Labels: Priority P0, TPU, bug / fix, enhancement

#7111 Update governance.rst
  docs/source/governance.rst
Labels: _Will, documentation

#7119 Move save_hyperparameters to its own function
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/parsing.py
Labels: refactors and code health

#7108 [bugfix] Add set_default_tensor_type to torch.DoubleTensor with precision=64
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/base_plugin.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/plugins/precision/native_amp.py
  tests/plugins/test_double_plugin.py
Labels: bug / fix

#7121 update early stopping docs
  docs/source/common/early_stopping.rst
Labels: documentation

#6978 Broadcast dirpath for tighter consistency in model checkpoint callback
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: DDP, checkpoint

#7147 temp freeze TM v0.2
  requirements.txt
Labels: Priority P0

#7146 Fix `apex` version in Docker due to broken upstream
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
Labels: bug / fix, tests / CI

#7139 Update Grid details in README.md
  README.md
Labels: 0:] Ready-To-Go, documentation

#7134 [FSDP] Move on save checkpoint outside of zero check
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
Labels: 0:] Ready-To-Go, DDP, enhancement

#7148 Fix argparse docs
  docs/source/api_references.rst
  pytorch_lightning/utilities/argparse.py
  tests/utilities/test_argparse.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#7132 [bugfix] Remove warning for distributed values
  CHANGELOG.md
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, Priority P0

#7152 Delete unused CI scripts
  docs/source/advanced/amp.rst
  requirements/install_Apex.sh
  requirements/install_ONNX.sh
  tests/README.md
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#7151 Fix mypy checks for double precision plugin
  pytorch_lightning/plugins/precision/double.py
Labels: 0:] Ready-To-Go, refactors and code health

#7141 Add `on_predict_{batch,epoch}_{start,end}` and `Callback.on_predict_{start,end}`
  CHANGELOG.md
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/lambda_function.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_lambda_function.py
  tests/helpers/boring_model.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, API / design, _admin, enhancement

#7159 Ban `tensorboard==2.5.0` and `deepspeed==0.3.15`
  azure-pipelines.yml
  dockers/base-cuda/Dockerfile
  requirements.txt
Labels: 0:] Ready-To-Go, Priority P0, tests / CI

#6999 fix version parsing
  CHANGELOG.md
  pl_examples/basic_examples/dali_image_classifier.py
  pytorch_lightning/utilities/cloud_io.py
  pytorch_lightning/utilities/imports.py
  requirements.txt
  requirements/extra.txt
  tests/helpers/runif.py
  tests/loggers/test_tensorboard.py
  tests/test_profiler.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#7131 Fix `torchmetrics` compatibility
  .github/workflows/ci_test-full.yml
  azure-pipelines.yml
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/iou.py
  pytorch_lightning/metrics/utils.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/utilities/imports.py
  requirements.txt
  tests/models/test_restore.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix, metrics

#7170 fix pip install
  pytorch_lightning/setup_tools.py
  requirements/extra.txt
Labels: Priority P0, bug / fix

#7106 Fixed setting of _save_dir when run initiated externally
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, bug / fix, logger

#7150 add missing predict docs
  docs/source/common/lightning_module.rst
  docs/source/common/trainer.rst
  docs/source/extensions/datamodules.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
Labels: documentation

#7076 Fix `lr_finder` suggesting too high learning rates
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/tuner/lr_finder.py
  tests/tuner/test_lr_finder.py
Labels: 0:] Ready-To-Go, bug / fix, tune

#7017 Update FairScale on CI
  .github/workflows/ci_test-full.yml
  azure-pipelines.yml
  dockers/base-cuda/Dockerfile
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/utilities/imports.py
  requirements/extra.txt
Labels: 0:] Ready-To-Go, 3rd-party, DDP, tests / CI

#7188 [bug] Set device on LightningModule after fitting
  CHANGELOG.md
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  tests/core/test_lightning_module.py
Labels: bug / fix

#7180 Move metrics_to_scalars to a dedicated utilities file
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/utilities/metrics.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors and code health

#7191 make bug_report_model minimal
  pl_examples/bug_report_model.py
Labels: tests / CI

#7066 Deprecate write_predictions on the LightningModule
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors and code health

#7204 Update Error message for ProfileConnector
  pytorch_lightning/trainer/connectors/profiler_connector.py
  tests/trainer/test_trainer.py
Labels: documentation

#7130 Enforce Lightning module as source of truth for automatic optimization
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/model_connector.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/training_loop.py
Labels: 0:] Ready-To-Go, _Will, refactors and code health

#6814 [fix] Add barrier to accelerator's teardown
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, bug / fix

#7211 Update teardown for TPU accelerator
  pytorch_lightning/accelerators/tpu.py
Labels: Priority P0, TPU, bug / fix

#7194 Fix `NeptuneLogger.log_text(step=None)`
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_neptune.py
Labels: bug / fix, logger

#7201 Deprecate save_function from model checkpoint callback
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/deprecated_api/test_remove_1-5.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, bug / fix, checkpoint

#7213 Add fairscale install msg for Sharded Plugins
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
Labels: 0:] Ready-To-Go, refactors and code health

#7014 Fixed `num_sanity_val_steps` affecting reproducibility of training data shuffling
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/seed.py
  tests/callbacks/test_pruning.py
  tests/checkpointing/test_trainer_checkpoint.py
  tests/trainer/test_training_loop.py
  tests/tuner/test_lr_finder.py
  tests/utilities/test_seed.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix

#7231 Add back `clip_gradients(model)`
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/precision/precision_plugin.py
Labels: bug / fix

#7215 [feat] Add better support for predict + ddp 2/3
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/overrides/distributed.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/xla_device.py
  tests/models/test_hparams.py
  tests/overrides/test_data_parallel.py
  tests/overrides/test_distributed.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
  tests/utilities/test_dtype_device_mixin.py
Labels: DDP, _admin, enhancement

#7228 [bugfix] Metric not logged properly in manual optimization
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, _admin, bug / fix

#7202 [fix] Add barriers before and after setup hook is run
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, DDP, bug / fix

#7053 Do not `shuffle` in `LightningDataModule.from_datasets` for `IterableDataset`
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/core/test_datamodules.py
Labels: 0:] Ready-To-Go, _Will, _admin, data / DataModule, enhancement

#7239 [bug/feat] Support parameters_to_ignore in DDP
  CHANGELOG.md
  pytorch_lightning/overrides/base.py
  tests/accelerators/test_ddp.py
Labels: bug / fix

#7109 Docker/nvidia
  dockers/README.md
  dockers/nvidia/Dockerfile
Labels: 0:] Ready-To-Go, enhancement

#7241 Add a check for TPU Spawn barrrier
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: Priority P0, TPU, bug / fix

#7127 [feat] Add BasePredictionWriter 3/3
  CHANGELOG.md
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/prediction_writer.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/properties.py
  tests/callbacks/test_prediction_writer.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/trainer/test_trainer.py
Labels: bug / fix, callbacks, enhancement

#7219 Add `debug` flag to TPU Training Plugins (PT_XLA_DEBUG)
  CHANGELOG.md
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  tests/models/test_tpu.py
Labels: TPU, enhancement

#7244 Consistency in ModelCheckpoint verbose mode logs
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: 0:] Ready-To-Go, callbacks, documentation

#7230 warn about dp + manual optimization in docs
  docs/source/advanced/multi_gpu.rst
  docs/source/common/optimizers.rst
Labels: documentation

#7210 Update fsspec dependency and remove un-needed code
  pytorch_lightning/utilities/cloud_io.py
  requirements.txt
Labels: 0:] Ready-To-Go, refactors and code health

#7156 Improve `LightningCLI` documentation and tests
  docs/source/common/lightning_cli.rst
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, documentation, tests / CI
