Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-10, with the labels that each got.

#9766 Fix some flaky tests in tuner/lr_finder
  pytorch_lightning/tuner/lr_finder.py
  tests/tuner/test_lr_finder.py
Labels: 0:] Ready-To-Go, tests / CI, tune

#9755 Raise an exception if using `amp_level` with native `amp_backend`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
Labels: enhancement, 0:] Ready-To-Go

#9788 Fix Deepspeed and lightning calling scheduler
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: bug / fix, 0:] Ready-To-Go

#9770 Remove return value from the backward closure
  pytorch_lightning/loops/optimization/optimizer_loop.py
Labels: 0:] Ready-To-Go, refactors / code health

#9722 [Feat] Add auto_restart for fault tolerant training
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/exceptions.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
  tests/loops/test_training_loop.py
  tests/trainer/connectors/test_signal_connector.py
  tests/utilities/test_auto_restart.py
Labels: 0:] Ready-To-Go, fault tolerance

#9666 Add warnings regarding unsupported keys in optim config and OneCycleLR
  CHANGELOG.md
  pytorch_lightning/trainer/optimizers.py
  tests/trainer/optimization/test_optimizers.py
Labels: enhancement, 0:] Ready-To-Go

#9809 Fix broken `test_cpu_amp_precision_context_manager`
  tests/plugins/test_amp_plugins.py
Labels: bug / fix, 0:] Ready-To-Go, tests / CI

#9813 Make DDP and Horovod batch_size scaling examples explicit
  docs/source/advanced/multi_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#9810 Fix broken `test_is_picklable` with PT1.10
  pytorch_lightning/utilities/parsing.py
Labels: 0:] Ready-To-Go

#9678 Fix in the Dockerfile for building from NGC base
  dockers/nvidia/Dockerfile
Labels: bug / fix, 0:] Ready-To-Go, tests / CI

#9800 Fix missing arguments when saving hyperparams from parent class only
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/models/test_hparams.py
Labels: bug / fix, 0:] Ready-To-Go

#9525 Enable auto parameters tying for TPUs
  CHANGELOG.md
  pyproject.toml
  pytorch_lightning/core/decorators.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/parameter_tying.py
  tests/accelerators/test_tpu_backend.py
  tests/deprecated_api/test_remove_1-7.py
  tests/utilities/test_parameter_tying.py
Labels: enhancement, 0:] Ready-To-Go, TPU, deprecation

#9711 rename callback FineTune arg `round`
  pytorch_lightning/callbacks/finetuning.py
  tests/callbacks/test_finetuning_callback.py
Labels: 0:] Ready-To-Go, refactors / code health

#9413 Fix restoring training state during `trainer.fit` only
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/checkpointing/test_model_checkpoint.py
  tests/helpers/datamodules.py
  tests/helpers/simple_models.py
  tests/models/test_restore.py
  tests/trainer/connectors/test_checkpoint_connector.py
Labels: bug / fix, 0:] Ready-To-Go, checkpoint

#10112 Remove `training_tricks_connector.py`
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#10222 Add `auto_device_count` method to `Accelerators`
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/ipu.py
  pytorch_lightning/accelerators/tpu.py
  tests/accelerators/test_common.py
Labels: enhancement, 0:] Ready-To-Go, API / design

#10186 Update docs for sync_dist logging option
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#10175 Lightning Lite core and tests
  CHANGELOG.md
  pytorch_lightning/lite/__init__.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/lite/wrappers.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  tests/helpers/pipelines.py
  tests/lite/__init__.py
  tests/lite/test_lite.py
  tests/lite/test_parity.py
  tests/lite/test_wrappers.py
  tests/trainer/test_dataloaders.py
Labels: enhancement, 0:] Ready-To-Go, Priority P0, lite

#10176 Lightning Lite docs
  docs/source/api_references.rst
  docs/source/index.rst
  docs/source/starter/lightning_lite.rst
Labels: 0:] Ready-To-Go, documentation, lite

#10248 Clip before step
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/precision/ipu_precision.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  tests/plugins/test_amp_plugins.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0

#10264 Add support for `devices='auto'`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
Labels: enhancement, 0:] Ready-To-Go, Priority P0

#10224 Simplify `LightningOptimizer`
  pytorch_lightning/core/optimizer.py
  tests/core/test_lightning_optimizer.py
Labels: 0:] Ready-To-Go, refactors / code health

#10113 Remove `debugging_connector.py`
  pytorch_lightning/trainer/connectors/debugging_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors / code health
