Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-12, with the labels that each got.

#10698 Add job_name as a staticmethod in SLURMEnvironment class
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/plugins/environments/test_slurm_environment.py
Labels: feature, ready, environment: slurm

#10842 Correct SLURM wrong import
  docs/source/clouds/cluster.rst
Labels: ready, docs, environment: slurm

#10839 Raise exception if rich is less than 10.2.2
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: bug, ready, progress bar: rich

#10857 Fix selection of standalone tests
  tests/standalone_tests.sh
Labels: ready, priority: 0, ci, tests

#10867 Remove `return_result` argument from `DDPSpawnPlugin.spawn()`
  CHANGELOG.md
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: ready, design, breaking change, strategy: ddp spawn

#9709 Disable validation completely when `overfit_batches>0`
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_early_stopping.py
  tests/models/test_cpu.py
  tests/trainer/flags/test_overfit_batches.py
  tests/trainer/test_trainer_tricks.py
Labels: bug, ready, data handling

#10369 Fixed uploading best model checkpoint in NeptuneLogger
  CHANGELOG.md
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_neptune.py
Labels: bug, ready, logger: neptune

#10860 [CLI] Add support for `ReduceLROnPlateau`
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: feature, ready, lightningcli

#10854 Add missing deprecation rerouting for `add_to_queue` in `TPUSpawnPlugin`
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: ready, accelerator: tpu, deprecation, strategy: ddp spawn

#10855 Remove redundant None check from spawn plugins
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: ready, accelerator: tpu, refactor, strategy: ddp spawn

#10830 Add separate CI job for slow tests
  .github/workflows/ci_test-slow.yml
  tests/benchmarks/generate_comparison.py
  tests/conftest.py
  tests/helpers/runif.py
  tests/loops/test_loops.py
  tests/utilities/test_auto_restart.py
Labels: ready, ci

#10887 Remove precision_plugin pre_dispatch() method
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/precision/precision_plugin.py
Labels: ready, breaking change, plugin

#10886 3/n Move Accelerator into strategy - move model_sharded_context()
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor, breaking change, plugin, accelerator

#10849 Removed unnecessary `_move_optimizer_state` method overrides
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
Labels: ready, accelerator: tpu, refactor, strategy: ddp spawn

#10837 Fix schedule reset logic in pytorch profiler
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/data_loading.py
  tests/profiler/test_profiler.py
Labels: bug, ready, priority: 0, profiler

#10739 Fix deadlinks in docs
  docs/source/advanced/advanced_gpu.rst
  docs/source/advanced/ipu.rst
  docs/source/conf.py
  pytorch_lightning/plugins/precision/fully_sharded_native_amp.py
Labels: ready, docs

#10034 1/n Simplify spawn plugins: Simplify handling of multiprocessing queue
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/plugins/test_ddp_spawn_plugin.py
Labels: feature, ready, refactor, design, strategy: ddp spawn

#10870 Fix retrieval of batch indices when dataloader num_workers > 0
  CHANGELOG.md
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/overrides/distributed.py
  tests/callbacks/test_prediction_writer.py
  tests/deprecated_api/test_remove_1-7.py
  tests/deprecated_api/test_remove_1-8.py
  tests/overrides/test_distributed.py
Labels: bug, ready, callback: prediction writer

#10889 Fix mathjax in RTD build
  .readthedocs.yml
  requirements/docs.txt
Labels: ready, docs

#10877 Disable eval dataloaders replacement during overfitting
  docs/source/common/debugging.rst
  docs/source/common/trainer.rst
  docs/source/guides/speed.rst
  legacy/simple_classif_training.py
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/flags/test_limit_batches.py
  tests/trainer/flags/test_overfit_batches.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_trainer_tricks.py
Labels: bug, ready, data handling

#10915 Fix `prepare_data` implementation in `BoringDataModule`
  tests/core/test_datamodules.py
  tests/helpers/boring_model.py
Labels: bug, ready, tests

#10906 Remove setup_optimizers_in_pre_dispatch logic
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/accelerators/test_cpu.py
  tests/accelerators/test_ipu.py
Labels: ready, refactor, breaking change, optimizer, plugin

#10810 Fix filteration logic for eval results
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/trainer.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug, ready, logging

#10921 Simplify some ddp-spawn tests
  tests/plugins/test_sharded_plugin.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, tests, strategy: ddp spawn

#10908 Unroll dict input before call Accelerator X_steps
  CHANGELOG.md
  pl_examples/loop_examples/yielding_training_step.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
Labels: ready, refactor, accelerator

#10917 Resolve: 'DummyExperiment' object does not support item assignment
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/loggers/test_base.py
Labels: bug, ready, logger

#10923 Sort out the dataloader idx logic for evaluation
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/trainer.py
  tests/loops/test_loop_state_dict.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, logging, loops

#10575 Re-design `call_hook` interface
  pl_examples/loop_examples/yielding_training_step.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/connectors/test_callback_connector.py
Labels: ready, refactor, hooks

#10932 Trigger TPU CI only on branches with a pull request
  .circleci/config.yml
Labels: ready, ci, accelerator: tpu

#10836 Don't import torch_xla.debug for torch-xla<1.8
  CHANGELOG.md
  pytorch_lightning/profiler/xla.py
  tests/profiler/test_xla_profiler.py
Labels: bug, ready, priority: 0, accelerator: tpu

#10519 Fix some missing code in step-by-step walk through
  docs/source/starter/introduction_guide.rst
Labels: ready, docs

#10700 added UserWarnings if max_epochs not set in the Trainer class
  CHANGELOG.md
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_ipu.py
  tests/trainer/flags/test_min_max_epochs.py
Labels: feature, ready, trainer: argument

#10885 2/n Move Accelerator into strategy - remove dispatch functions from Accelerator
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor, breaking change, plugin, accelerator

#10936 Move implementation of `LightningModule.add_to_queue/get_from_queue`
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
Labels: ready, refactor, strategy: ddp spawn

#10935 Fix spawn plugins not deleting temp checkpoint
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp_spawn.py
Labels: bug, ready, checkpointing, strategy: ddp spawn

#10937 Add Trainer.state to spawn queue
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: feature, ready, strategy: ddp spawn

#10934 Change temporary spawn checkpoint name
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  tests/plugins/test_ddp_spawn_plugin.py
Labels: bug, ready, strategy: ddp spawn

#10890 4/n Move Accelerator into strategy - remove X_step() from accelerator
  CHANGELOG.md
  pl_examples/loop_examples/yielding_training_step.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor, breaking change, plugin, accelerator

#10961 fix TypeError cause failure in singal_connector teardown
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/signal_connector.py
  tests/trainer/connectors/test_signal_connector.py
Labels: bug, ready, priority: 0, trainer: connector

#10939 Remove `TrainingTypePlugin.post_dispatch` in favor of `teardown`
  CHANGELOG.md
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, refactor, deprecation, breaking change, strategy: ddp spawn

#10943 Fix typing in `pl.plugins.environments`
  pyproject.toml
  pytorch_lightning/plugins/environments/lightning_environment.py
  pytorch_lightning/plugins/environments/lsf_environment.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
  tests/plugins/environments/test_torchelastic_environment.py
Labels: ready, docs, environment

#10951 Sharing Datasets Across Process Boundaries
  docs/source/advanced/training_tricks.rst
Labels: ready, docs

#10957 Follow-up changes to #10575
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_loop_logging.py
Labels: bug, ready, hooks

#10970 Prune EvalModelTemplate (2/n)
  tests/trainer/test_trainer.py
Labels: ready, tests

#10969 Prune EvalModelTemplate (1/n)
  tests/tuner/test_scale_batch_size.py
Labels: ready, tests

#10977 Update Changelog after 1.5.5 release
  CHANGELOG.md
Labels: ready, docs

#10979 Deprecate `call_hook`
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, deprecation

#10940 Deprecate callback hooks `on_init_start` and `on_init_end`
  CHANGELOG.md
  docs/source/extensions/callbacks.rst
  docs/source/starter/introduction_guide.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_tqdm_progress_bar.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, deprecation

#10989 Remove `start_{training,evaluating,predicting}` from `HorovodPlugin`
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/horovod.py
Labels: ready, refactor, breaking change, strategy: horovod

#10911 Deprecate `on_hpc_{save/load}` hooks
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/deprecated_api/test_remove_1-8.py
  tests/trainer/connectors/test_checkpoint_connector.py
Labels: ready, checkpointing, environment: slurm, deprecation

#10999 Remove `_call_accelerator_hook` Trainer method
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, breaking change, accelerator: gpu, accelerator

#10896 2/n Simplify spawn plugins: Spawn immediately
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/trainer/test_trainer.py
Labels: ready, breaking change, strategy: ddp spawn, trainer: fit

#11011 Move optional extensions section
  docs/source/_templates/layout.html
  docs/source/index.rst
Labels: ready, docs

#11015 Removed duplicated file extension when uploading model checkpoints with NeptuneLogger
  CHANGELOG.md
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_neptune.py
Labels: ready, logger: neptune

#10864 Convert warning message to debug-level info in spawn plugins
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: feature, ready

#10994 Fix support for `CombinedLoader` while checking for warning raised with eval dataloaders
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/supporters.py
  tests/trainer/test_data_loading.py
Labels: bug, ready, data handling

#11042 Update data docs
  docs/source/advanced/sequences.rst
  docs/source/extensions/loops.rst
  docs/source/guides/data.rst
  docs/source/index.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/tuning.py
Labels: ready, docs, data handling

#11041 Add missing `self` to setup hook example
  pytorch_lightning/core/hooks.py
Labels: ready, docs

#10899 [DeepSpeed] fix flag forwarding in DeepSpeedPlugin
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: bug, ready, strategy: deepspeed

#11035 Clean up last `ModelCheckpoint` `makedirs` call to IOPlugin
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/io/xla_plugin.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, checkpointing, deprecation, callback: model checkpoint

#10980 Fix the num_batches value in error message
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_data_loading.py
Labels: bug, ready, data handling

#11009 Added variable interpolation and troubleshooting to LightningCLI doc
  docs/source/common/lightning_cli.rst
Labels: ready, docs, lightningcli

#10991 Fix support for logging within callbacks returned from `LightningModule`
  CHANGELOG.md
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/models/test_hooks.py
Labels: bug, ready, callback, logging

#11031 Simplify several profile calls
  CHANGELOG.md
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
Labels: ready, refactor, profiler

#10930 Remove dead check in `ModelCheckpoint`
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, callback: model checkpoint

#10913 Fix sanity check for RichProgressBar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: bug, ready, priority: 0, progress bar: rich

#10875 make RichProgressBar more flexible with Rich.Console
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
Labels: feature, ready, progress bar: rich

#11072 Standardize model attribute access in training type plugins
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
Labels: ready, refactor

#11069 Update the TQDM progress bar `on_train_epoch_end`
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  pytorch_lightning/core/lightning.py
  tests/callbacks/test_tqdm_progress_bar.py
Labels: bug, ready, progress bar: tqdm

#11068 Deprecate `Trainer.should_rank_save_checkpoint` property
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, checkpointing, deprecation

#11095 Support torch 1.10.1
  requirements/adjust_versions.py
  requirements/test.txt
Labels: ready, priority: 0, ci

#11022 3/n Move accelerator into Strategy
  CHANGELOG.md
  docs/source/extensions/accelerators.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_cpu.py
  tests/accelerators/test_gpu.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
  tests/plugins/test_ddp_fully_sharded_with_full_state_dict.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_sharded_plugin.py
Labels: ready, refactor, breaking change, accelerator

#11075 Fix intellisense for LightningCLI
  pytorch_lightning/utilities/cli.py
Labels: ready, docs, lightningcli

#11094 Update changelog after 1.5.6 release
  CHANGELOG.md
Labels: ready, docs

#10916 Improve checkpoint docs
  docs/source/advanced/checkpoint_io.rst
  docs/source/common/checkpointing.rst
  docs/source/common/lightning_module.rst
  docs/source/common/remote_fs.rst
  docs/source/common/trainer.rst
  docs/source/common/weights_loading.rst
  docs/source/extensions/logging.rst
  docs/source/index.rst
  docs/source/starter/new-project.rst
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, docs, checkpointing

#11096 Update mypy to 0.920
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/connectors/signal_connector.py
  pytorch_lightning/utilities/model_helpers.py
  requirements/test.txt
Labels: ready, ci

#11061 Remove redundant special case for disabling the progress bar on TPU
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: ready, accelerator: tpu, refactor

#10324 Add `Loop.replace`
  CHANGELOG.md
  docs/source/extensions/loops.rst
  pytorch_lightning/loops/base.py
  tests/loops/test_evaluation_loop.py
  tests/loops/test_loops.py
Labels: feature, ready, loops

#11078 Teardown sync-batchnorm after training
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/utilities/distributed.py
  tests/models/test_sync_batchnorm.py
Labels: bug, ready, strategy: ddp, strategy: ddp spawn

#10988 Remove obsolete `pre_dispatch` in `DDPSpawnShardedPlugin`
  pytorch_lightning/plugins/training_type/sharded_spawn.py
Labels: ready, refactor, strategy: sharded

#11108 Initialize ModelCheckpoint state as early as possible
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/models/test_restore.py
Labels: bug, ready, priority: 0, callback: model checkpoint

#11080 Remove leftover `clean_logger` call in tests
  tests/plugins/test_tpu_spawn.py
Labels: ready, refactor, tests

#11046 Add security contact
  .github/CODEOWNERS
  SECURITY.md
Labels: ready, docs

#11116 Avoid the deprecated `onnx.export(example_outputs=...)` in torch 1.10
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/models/test_onnx.py
Labels: bug, ready

#11114 Add typing for `trainer.logger`
  CHANGELOG.md
  pyproject.toml
  pytorch_lightning/callbacks/device_stats_monitor.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/trainer.py
Labels: bug, ready, logger, code quality

#10655 [DeepSpeed] Remove partitioning of model in ZeRO 3
  .azure-pipelines/gpu-tests.yml
  CHANGELOG.md
  dockers/base-cuda/Dockerfile
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: ready, refactor, strategy: deepspeed

#11000 Mark `Trainer.run_stage` as protected
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, deprecation

#11124 Fix signal teardown outside main thread
  pytorch_lightning/trainer/connectors/signal_connector.py
Labels: bug, ready

#11115 Fix typing for utilities.warnings
  pyproject.toml
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/callbacks/lr_monitor.py
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/warnings.py
  tests/deprecated_api/test_remove_1-8.py
  tests/utilities/test_warnings.py
Labels: ready, deprecation, code quality

#10784 Save the loop progress state by default
  CHANGELOG.md
  pytorch_lightning/callbacks/timer.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/base.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/callbacks/test_timer.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
  tests/models/test_hooks.py
  tests/trainer/test_trainer.py
Labels: ready, checkpointing, fault tolerance

#11100 remove redundant methods in RichProgressBar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
Labels: ready, refactor, progress bar: rich

#11111 Fix AttributeError when using CombinedLoader in prediction
  CHANGELOG.md
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  tests/callbacks/test_prediction_writer.py
Labels: bug, ready, data handling, trainer: predict

#10971 Prune EvalModelTemplate (3/n)
  tests/trainer/test_dataloaders.py
Labels: ready, tests

#11119 Reset the current progress tracking state during double evaluation
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
Labels: ready, fault tolerance, progress tracking, experimental, trainer: validate, trainer: test, trainer: predict

#10931 Deprecate `Trainer.verbose_evaluate`
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, refactor, deprecation, breaking change, loops, trainer: validate, trainer: test

#11105 Enable logging hparams only if there are any
  CHANGELOG.md
  pytorch_lightning/core/mixins/hparams_mixin.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/models/test_hparams.py
  tests/trainer/logging_/test_distributed_logging.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug, ready, logger

#11130 Mark all result classes as protected
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_metric_result_integration.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_loop_logging.py
Labels: ready, refactor, logging

#11099 Fix CVE-2020-1747 and CVE-2020-14343
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  requirements.txt
  tests/loggers/test_csv.py
Labels: bug, ready, 3rd party

#11030 Fixed NeptuneLogger when using DDP
  CHANGELOG.md
  environment.yml
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_all.py
  tests/loggers/test_neptune.py
Labels: ready, logger: neptune

#11131 Fix tpu spawn plugin test
  dockers/tpu-tests/tpu_test_cases.jsonnet
  tests/plugins/test_tpu_spawn.py
Labels: ready, accelerator: tpu, tests

#11060 Add support for returning callback from `LightningModule.configure_callbacks`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  tests/callbacks/test_callbacks.py
Labels: feature, ready, lightningmodule

#11149 Refactor plugin tests whose assertions don't need to run in `on_fit_start` hook
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_gpu.py
Labels: ready, refactor, tests

#11150 Rename `_call_ttp_hook` to `_call_strategy_hook`
  pl_examples/loop_examples/yielding_training_step.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor, trainer

#11153 Prune EvalModelTemplate (4/4)
  tests/base/__init__.py
  tests/base/model_optimizers.py
  tests/base/model_template.py
  tests/base/model_test_dataloaders.py
  tests/base/model_test_epoch_ends.py
  tests/base/model_test_steps.py
  tests/base/model_train_dataloaders.py
  tests/base/model_train_steps.py
  tests/base/model_utilities.py
  tests/base/model_valid_dataloaders.py
  tests/base/model_valid_epoch_ends.py
  tests/base/model_valid_steps.py
  tests/helpers/pipelines.py
  tests/helpers/utils.py
  tests/models/test_restore.py
Labels: ready, tests

#11132 Fix evaluation logging on epoch end with multiple dataloaders
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug, ready, logging

#11167 Safely disable profiler
  pytorch_lightning/profiler/pytorch.py
Labels: bug, ready, profiler

#11120 Rename the `TrainingTypePlugin` base to `Strategy`
  CHANGELOG.md
  docs/source/_static/images/accelerator/overview.svg
  docs/source/api_references.rst
  docs/source/common/checkpointing.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/lite/wrappers.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/io/checkpoint_plugin.py
  pytorch_lightning/plugins/plugins_registry.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/data.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/core/test_datamodules.py
  tests/lite/test_lite.py
  tests/models/test_hooks.py
  tests/models/test_tpu.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: ready, refactor, breaking change, strategy

#11026 Include hook's object name when profiling
  CHANGELOG.md
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/trainer.py
  tests/profiler/test_profiler.py
Labels: ready, profiler

#10995 Add required states for resumed ModelCheckpoint GC
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/models/test_restore.py
Labels: bug, ready, callback: model checkpoint

#11143 Rename `DDPFullyShardedPlugin` to `DDPFullyShardedStrategy`
  CHANGELOG.md
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/plugins/test_ddp_fully_sharded_with_full_state_dict.py
  tests/plugins/test_plugins_registry.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, breaking change, strategy: fsdp

#11162 Set `start_method` at initialization of TPUSpawn
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: ready, accelerator: tpu, refactor, strategy: ddp spawn

#11137 3/n Simplify spawn plugins: Merge `pre_dispatch` and `setup` logic
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_cpu.py
  tests/accelerators/test_ipu.py
  tests/models/test_hooks.py
  tests/plugins/test_ddp_plugin.py
  tests/trainer/logging_/test_distributed_logging.py
Labels: ready, design, breaking change, strategy

#11071 Fix setter usage for checkpoint io and precision in TTP
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/plugins/test_checkpoint_io_plugin.py
Labels: ready, refactor, io, plugin

#11166 Rename `restore_checkpoint_after_pre_dispatch` to `restore_checkpoint_after_setup`
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_cpu.py
Labels: ready, refactor, strategy: deepspeed

#11175 Delete legacy multinode tests
  tests/accelerators/test_multi_nodes_gpu.py
  tests/mnode_tests.txt
Labels: ready, tests

#10420 update warmup lr example
  pytorch_lightning/core/lightning.py
Labels: ready, docs

#11092 Move `CheckpointConnector.fault_tolerant_auto_save_path` out of `CheckpointConnector.hpc_resume_path`
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/trainer/connectors/test_checkpoint_connector.py
Labels: ready, refactor, checkpointing, fault tolerance

#11142 Rename `DDPPlugin` to `DDPStrategy`
  CHANGELOG.md
  docs/source/advanced/advanced_gpu.rst
  docs/source/advanced/multi_gpu.rst
  docs/source/advanced/plugins_registry.rst
  docs/source/api_references.rst
  docs/source/common/trainer.rst
  docs/source/extensions/accelerators.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/speed.rst
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/overrides/base.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_tpu.py
  tests/benchmarks/test_sharded_parity.py
  tests/plugins/environments/torch_elastic_deadlock.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_custom_plugin.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/plugins/test_plugins_registry.py
  tests/profiler/test_profiler.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, breaking change, strategy: ddp

#11161 Avoid torch amp cuda warning with bf16 on cpu
  CHANGELOG.md
  pytorch_lightning/utilities/model_summary.py
Labels: bug, ready, precision: native amp

#11195 Rename HorovodPlugin to HorovodStrategy
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: ready, breaking change, strategy: horovod

#11189 Suppress Warning in `PredictionEpochLoop`
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
Labels: bug, ready, trainer: predict

#11194 Rename DeepSpeedPlugin to DeepSpeedStrategy
  CHANGELOG.md
  docs/source/advanced/advanced_gpu.rst
  docs/source/api_references.rst
  docs/source/common/checkpointing.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/speed.rst
  docs/source/starter/lightning_lite.rst
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/lite/test_lite.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_plugins_registry.py
  tests/utilities/test_deepspeed_collate_checkpoint.py
Labels: ready, breaking change, strategy: deepspeed

#11193 Rename IPUPlugin to IPUStrategy
  CHANGELOG.md
  docs/source/advanced/ipu.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_ipu.py
  tests/conftest.py
Labels: ready, breaking change, strategy: ipu

#11179 Move `TrainerCallbackHookMixin.on_save/load_checkpoint` to `Trainer` and rename for clarity
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor, checkpointing, callback

#11190 Rename `TPUSpawnPlugin` to `TPUSpawnStrategy`
  CHANGELOG.md
  docs/source/advanced/plugins_registry.rst
  docs/source/advanced/tpu.rst
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_tpu.py
  tests/models/test_tpu.py
  tests/plugins/test_checkpoint_io_plugin.py
  tests/plugins/test_plugins_registry.py
  tests/plugins/test_tpu_spawn.py
Labels: ready, refactor, breaking change, strategy

#11117 Drop Python 3.6 support
  .circleci/config.yml
  .github/workflows/ci_pkg-install.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/release-docker.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  dockers/base-xla/Dockerfile
  environment.yml
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/core/mixins/device_dtype_mixin.py
  pytorch_lightning/profiler/base.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/imports.py
  pytorch_lightning/utilities/memory.py
  pytorch_lightning/utilities/model_summary.py
  requirements.txt
  setup.py
  tests/conftest.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_argparse.py
  tests/utilities/test_cli.py
Labels: ready, ci, breaking change

#11070 Remove `should_rank_save_checkpoint` property from TTP
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, accelerator: tpu, refactor, plugin

#11187 Rename `DDPShardedPlugin` to `DDPShardedStrategy`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/speed.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_plugins_registry.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, breaking change, strategy: sharded

#11148 Deprecate `TrainerCallbackHookMixin`
  CHANGELOG.md
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, deprecation, trainer

#11203 Fix master import conflict
  pytorch_lightning/trainer/trainer.py
Labels: ready, priority: 0, ci

#11185 Renamed the `DDP2Plugin` to `DDP2Strategy`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/plugins/test_cluster_integration.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, breaking change, strategy: ddp2

#11182 Rename `SingleTPUPlugin` to `SingleTPUStrategy`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_tpu.py
Labels: ready, refactor, breaking change, strategy

#11183 Rename the `DataParallelPlugin` to `DataParallelStrategy`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/speed.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, strategy: dp, breaking change

#11145 Renamed the `DDPSpawnPlugin` to `DDPSpawnStrategy`
  CHANGELOG.md
  docs/source/advanced/training_tricks.rst
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/speed.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/lite/test_parity.py
  tests/models/test_sync_batchnorm.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/plugins/test_plugins_registry.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, breaking change, strategy

#11181 Rename `SingleDevicePlugin` to `SingleDeviceStrategy`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/common/checkpointing.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_cpu.py
  tests/deprecated_api/test_remove_1-7.py
  tests/plugins/test_checkpoint_io_plugin.py
  tests/plugins/test_custom_plugin.py
  tests/plugins/test_single_device_plugin.py
  tests/profiler/test_profiler.py
Labels: ready, refactor, breaking change, strategy

#11210 Rename the `DDPSpawnShardedPlugin` to `DDPSpawnShardedStrategy`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/benchmarks/test_sharded_parity.py
  tests/plugins/test_plugins_registry.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/test_trainer.py
Labels: ready, breaking change, strategy: sharded

#11123 Rename `ParallelPlugin` to `ParallelStrategy`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/plugins/test_custom_plugin.py
Labels: ready, refactor, breaking change, strategy

#11141 Deprecate Trainer.training_type_plugin in favor of trainer.strategy
  CHANGELOG.md
  pl_examples/loop_examples/kfold.py
  pl_examples/loop_examples/yielding_training_step.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/timer.py
  pytorch_lightning/callbacks/xla_stats_monitor.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ddp.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
  tests/benchmarks/test_sharded_parity.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/core/test_datamodules.py
  tests/core/test_metric_result_integration.py
  tests/deprecated_api/test_remove_1-8.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_tpu.py
  tests/plugins/environments/torch_elastic_deadlock.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_ddp_fully_sharded_with_full_state_dict.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_plugins_registry.py
  tests/plugins/test_sharded_plugin.py
  tests/plugins/test_single_device_plugin.py
  tests/plugins/test_tpu_spawn.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
  tests/utilities/test_data.py
  tests/utilities/test_deepspeed_collate_checkpoint.py
Labels: ready, refactor, strategy

#11204 Update changelog after 1.5.7 release
  CHANGELOG.md
Labels: ready, docs

#10990 Fix BF16 teardown for TPU precision plugin
  CHANGELOG.md
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/precision/tpu_bf16.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/models/test_tpu.py
  tests/plugins/precision/__init__.py
  tests/plugins/precision/test_tpu_bf16_plugin.py
Labels: bug, ready, accelerator: tpu

#10802 Fix typing in `pl.callbacks.lr_monitor`
  pyproject.toml
  pytorch_lightning/callbacks/lr_monitor.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/types.py
Labels: ready, docs, callback: lr monitor

#11177 Remove explicit isinstance checks in strategies for checkpoint io
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  tests/plugins/test_checkpoint_io_plugin.py
Labels: ready, code quality, strategy

#11223 include Lezwon in alumni
  docs/source/governance.rst
Labels: ready, docs

#11202 Update pre-commit hook versions
  .pre-commit-config.yaml
  tests/models/test_hparams.py
Labels: ready, ci

#11226 Introduce strategies directory for Training Strategies
  CHANGELOG.md
  docs/source/advanced/multi_gpu.rst
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/speed.rst
  pyproject.toml
  pytorch_lightning/core/lightning.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/plugins_registry.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/strategies/__init__.py
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/ddp2.py
  pytorch_lightning/strategies/ddp_spawn.py
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/dp.py
  pytorch_lightning/strategies/fully_sharded.py
  pytorch_lightning/strategies/horovod.py
  pytorch_lightning/strategies/ipu.py
  pytorch_lightning/strategies/parallel.py
  pytorch_lightning/strategies/sharded.py
  pytorch_lightning/strategies/sharded_spawn.py
  pytorch_lightning/strategies/single_device.py
  pytorch_lightning/strategies/single_tpu.py
  pytorch_lightning/strategies/tpu_spawn.py
  pytorch_lightning/strategies/training_type_plugin.py
  pytorch_lightning/strategies/utils.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_tpu.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/core/test_datamodules.py
  tests/lite/test_parity.py
  tests/models/test_hooks.py
  tests/plugins/environments/torch_elastic_deadlock.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/plugins/test_tpu_spawn.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: ready, breaking change, strategy

#10976 Return only unique names/versions for LoggerCollection
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/loggers/test_base.py
Labels: ready, breaking change

#11212 Rename `AcceleratorConnector.training_type_plugin` to `AcceleratorConnector.strategy`
  pytorch_lightning/lite/lite.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
Labels: ready, refactor, accelerator

#11155 Deprecate `TrainerOptimizersMixin` and move functionality to `core/optimizer.py`
  CHANGELOG.md
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/sharded.py
  pytorch_lightning/strategies/training_type_plugin.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/lr_finder.py
  tests/deprecated_api/test_remove_1-8.py
  tests/helpers/pipelines.py
  tests/trainer/optimization/test_optimizers.py
Labels: ready, deprecation

#11229 Fix inconsistencies in docs about deepspeed checkpointing
  docs/source/advanced/advanced_gpu.rst
Labels: ready, docs, strategy: deepspeed

#11231 Update strategy import statements
  docs/source/advanced/advanced_gpu.rst
  docs/source/advanced/ipu.rst
  docs/source/advanced/plugins_registry.rst
  docs/source/advanced/training_tricks.rst
  docs/source/common/trainer.rst
  docs/source/extensions/accelerators.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/speed.rst
  docs/source/starter/lightning_lite.rst
  pytorch_lightning/lite/lite.py
  pytorch_lightning/lite/wrappers.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/utilities.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_cpu.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
  tests/benchmarks/test_sharded_parity.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/deprecated_api/test_remove_1-7.py
  tests/lite/test_lite.py
  tests/models/test_sync_batchnorm.py
  tests/models/test_tpu.py
  tests/plugins/test_checkpoint_io_plugin.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_custom_plugin.py
  tests/plugins/test_ddp_fully_sharded_with_full_state_dict.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_plugins_registry.py
  tests/plugins/test_sharded_plugin.py
  tests/plugins/test_single_device_plugin.py
  tests/trainer/test_trainer.py
  tests/utilities/test_deepspeed_collate_checkpoint.py
Labels: ready, refactor, strategy
