Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-09, with the labels that each got.

#9244 scheduled removal of DeepSpeedPlugin.cpu_offload* parameters
  CHANGELOG.md
  docs/source/advanced/advanced_gpu.rst
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/deprecated_api/test_remove_1-5.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go

#9206 avoid suppressing exception in `FitLoop`
  pytorch_lightning/loops/fit_loop.py
Labels: 0:] Ready-To-Go, refactors / code health

#9112 Add doc strings to CSV logger
  pytorch_lightning/loggers/csv_logs.py
Labels: 0:] Ready-To-Go, documentation, logger

#9255 Update CHANGELOG following patch releases
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#9233 Removal/1.5 lightning module datamodule property
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/tuner/tuning.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_torchscript.py
  tests/tuner/test_scale_batch_size.py
Labels: 0:] Ready-To-Go, refactors / code health

#8800 Allow exporting to onnx when input is tuple
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/models/test_onnx.py
Labels: bug / fix, 0:] Ready-To-Go

#9096 Avoid wrapping LightningModule in DDP plugins when not fitting
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/plugins/test_sharded_plugin.py
Labels: enhancement, 0:] Ready-To-Go, DDP

#9253 Add docstring to HyperparametersMixin
  pytorch_lightning/core/mixins/hparams_mixin.py
Labels: 0:] Ready-To-Go, documentation

#9256 [doc] Add Fault Tolerant Documentation Page
  docs/source/advanced/fault_tolerant_training.rst
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#8982 Add docstring example to use dataloader_idx in transfer_batch_to_device
  pytorch_lightning/core/hooks.py
Labels: 0:] Ready-To-Go, documentation

#9190 tighten the checks for `Trainer.terminate_on_nan`
  pytorch_lightning/loops/optimizer/optimizer_loop.py
  pytorch_lightning/loops/utilities.py
  tests/trainer/test_trainer.py
Labels: enhancement, 0:] Ready-To-Go

#9285 remove redundant optimizer idx reset on epoch
  pytorch_lightning/trainer/progress.py
Labels: 0:] Ready-To-Go, refactors / code health

#9281 fix state extraction from batch when fault-tolerant training
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/utilities/auto_restart.py
  tests/utilities/test_auto_restart.py
Labels: bug / fix, 0:] Ready-To-Go

#9289 Fix `LightningOptimizer.step` signature
  pytorch_lightning/core/optimizer.py
Labels: bug / fix, 0:] Ready-To-Go

#9267 Add check for uninitialized `_sync_dir` in DDP Plugin to avoid errors during error handling
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
Labels: bug / fix, 0:] Ready-To-Go, DDP

#9039 DataModule compatiblity with Python dataclass
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/core/test_datamodules.py
Labels: enhancement, 0:] Ready-To-Go, Priority P0, data / DataModule

#9231 scheduled removal of auto_move_data decorator
  CHANGELOG.md
  pytorch_lightning/core/decorators.py
  tests/core/test_decorators.py
  tests/deprecated_api/test_remove_1-5.py
  tests/overrides/test_data_parallel.py
Labels: 0:] Ready-To-Go, breaking change

#9232 Added doc strings to base logger file
  pytorch_lightning/loggers/base.py
Labels: 0:] Ready-To-Go, documentation, logger

#9241 Allow easy CLI trainer re-instantiation
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: enhancement, 0:] Ready-To-Go, CLI

#9270 Add typing for `LoggerConnector` [2/3]
  pyproject.toml
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/utilities/memory.py
Labels: 0:] Ready-To-Go, refactors / code health

#9223 Add missing callbacks to `callbacks.rst`
  docs/source/extensions/callbacks.rst
Labels: 0:] Ready-To-Go, documentation, callbacks

#9284 Improve progress.py docstrings
  pytorch_lightning/trainer/progress.py
Labels: 0:] Ready-To-Go, documentation

#9265 remove backward from training batch loop
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#9261 Move tracking epoch end outputs logic to the `EvaluationEpochLoop`
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/memory.py
  tests/trainer/loops/test_evaluation_loop.py
Labels: bug / fix, 0:] Ready-To-Go

#9269 Add typing for `_FxValidator` [1/3]
  pyproject.toml
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, refactors / code health

#9156 Disable `{save,check}_on_train_epoch_end` with `check_val_every_n_epoch>1`
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_model_checkpoint.py
Labels: bug / fix, 0:] Ready-To-Go, callbacks

#9292 Typing `tuner.auto_gpu_select`
  pyproject.toml
  pytorch_lightning/tuner/auto_gpu_select.py
Labels: 0:] Ready-To-Go, refactors / code health

#9301 Fix TPU cleaning job
  .github/workflows/events-recurrent.yml
Labels: 0:] Ready-To-Go

#9308 Prevent loss to be moved to the cpu before backward call.
  CHANGELOG.md
  pytorch_lightning/loops/utilities.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: bug / fix, 0:] Ready-To-Go

#9313 Renamed lr_dict to lr_scheduler_config
  docs/source/common/optimizers.rst
  pytorch_lightning/core/lightning.py
  tests/trainer/optimization/test_optimizers.py
Labels: bug / fix, 0:] Ready-To-Go, documentation

#9211 Update call to amp.autocast from fast_dtype to dtype
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/utilities/imports.py
  tests/models/test_amp.py
  tests/plugins/test_amp_plugins.py
Labels: bug / fix, 0:] Ready-To-Go, 3rd-party

#8877 Allow disabling automatic stopping after max_steps or max_epochs
  docs/source/common/trainer.rst
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_timer.py
  tests/trainer/test_trainer.py
Labels: enhancement, 0:] Ready-To-Go

#9339 Update ci badge
  README.md
Labels: 0:] Ready-To-Go, documentation, tests / CI

#9320 Avoid optional `Tracker` attributes and enable mypy
  CHANGELOG.md
  pyproject.toml
  pytorch_lightning/trainer/progress.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
  tests/trainer/test_progress.py
Labels: 0:] Ready-To-Go, refactors / code health

#9260 Deprecate on_keyboard_interrupt callback hook
  CHANGELOG.md
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/model_helpers.py
  tests/callbacks/test_callbacks.py
  tests/deprecated_api/test_remove_1-7.py
Labels: 0:] Ready-To-Go, callbacks, deprecation

#9279 Remove deprecation warnings being called for `on_{task}_dataloader`
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  tests/deprecated_api/test_remove_1-7.py
  tests/trainer/test_trainer.py
Labels: bug / fix, 0:] Ready-To-Go, refactors / code health

#9327 remove early stopping tracking from internal debugger
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/utilities/debugging.py
  tests/callbacks/test_early_stopping.py
  tests/trainer/flags/test_fast_dev_run.py
Labels: 0:] Ready-To-Go, tests / CI, callbacks

#9310 fix progress bar restart with fault-tolerant training enabled
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/progress/progress.py
  tests/callbacks/test_progress_bar.py
Labels: bug / fix, 0:] Ready-To-Go, callbacks

#9271 Add typing for `ResultCollection` [3/3]
  pyproject.toml
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/types.py
  tests/core/test_metric_result_integration.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, refactors / code health

#9125 Fix inspection of unspecified args for container hparams
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/core/test_datamodules.py
Labels: bug / fix, 0:] Ready-To-Go

#9316 [bugfix] Resolve PyTorch Profiling for Manual Optimization
  CHANGELOG.md
  pl_examples/basic_examples/profiler_example.py
  pytorch_lightning/profiler/pytorch.py
  tests/helpers/__init__.py
  tests/helpers/boring_model.py
  tests/profiler/test_profiler.py
Labels: bug / fix, 0:] Ready-To-Go

#9317 Fix mypy typing errors in optimizer loop
  pyproject.toml
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/closure.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimizer/optimizer_loop.py
  pytorch_lightning/trainer/properties.py
  tests/loops/test_loops.py
Labels: 0:] Ready-To-Go, refactors / code health

#9298 Remove unnecessary `TrainingEpochLoop` return
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, refactors / code health

#9345 [CI/Tests] Fix Pytorch 1.10 autocast failing tests
  pytorch_lightning/utilities/imports.py
  tests/models/test_amp.py
Labels: 0:] Ready-To-Go, tests / CI

#9336 Clear reference to training loss at the end of train step
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/loops/test_training_loop.py
Labels: bug / fix, Priority P0, logging

#9309 Add test assertion
  tests/trainer/loops/test_evaluation_loop.py
Labels: 0:] Ready-To-Go, tests / CI

#9139 Add `CITATION.cff`
  CITATION.cff
  MANIFEST.in
  README.md
Labels: enhancement, 0:] Ready-To-Go

#9319 Remove some incorrect comments in ddp.py
  pytorch_lightning/plugins/training_type/ddp.py
Labels: 0:] Ready-To-Go

#9311 Fix DeepSpeed warning CI Test
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
  tests/trainer/loops/test_training_loop.py
Labels: 0:] Ready-To-Go, tests / CI

#9347 fix signature in callbacks to prevent deprecation warning
  CHANGELOG.md
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/callbacks/timer.py
  tests/callbacks/test_timer.py
Labels: bug / fix, 0:] Ready-To-Go, callbacks, deprecation

#9221 Add a warning to deepspeed when inferring batch size
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: enhancement, 0:] Ready-To-Go

#9326 remove checkpoint tracking from internal debugger
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/utilities/debugging.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
  tests/trainer/flags/test_fast_dev_run.py
Labels: 0:] Ready-To-Go, tests / CI, callbacks

#9360 Enforce that the optimizer closure is executed when `optimizer_step` is overridden
  CHANGELOG.md
  docs/source/common/optimizers.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/closure.py
  pytorch_lightning/loops/optimizer/optimizer_loop.py
  tests/core/test_lightning_optimizer.py
  tests/loops/test_closure.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
  tests/trainer/optimization/test_multiple_optimizers.py
Labels: enhancement, 0:] Ready-To-Go, refactors / code health

#9367 Fix `replace_sampler` missing the batch size under specific conditions
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_data_loading.py
Labels: bug / fix, 0:] Ready-To-Go, data / DataModule

#9368 Keep hidden state in the optimization loops
  pytorch_lightning/loops/batch/manual.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/optimizer/optimizer_loop.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors / code health

#9369 rewrite and improve tests for truncated back-propagation
  tests/loops/batch/__init__.py
  tests/loops/batch/test_truncated_bptt.py
  tests/models/test_truncated_bptt.py
Labels: 0:] Ready-To-Go, tests / CI

#8813 Enable inference mode for testing and predicting
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
Labels: enhancement, 0:] Ready-To-Go

#9364 Fix logging of nan parameters
  CHANGELOG.md
  pytorch_lightning/utilities/finite_checks.py
Labels: bug / fix, 0:] Ready-To-Go

#9377 Fix hiddens type annotation
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/utilities.py
Labels: 0:] Ready-To-Go, documentation

#9392 Remove redundant quotes in an error message
  pytorch_lightning/plugins/training_type/ddp.py
Labels: 0:] Ready-To-Go

#9374 CODEOWNERS: add wandb
  .github/CODEOWNERS
Labels: _admin

#9376 Remove metrics & cluster_environments from CODEOWNERS
  .github/CODEOWNERS
Labels: productivity, _admin

#9401 convert state to tuple explicitly when setting python random state
  CHANGELOG.md
  pytorch_lightning/utilities/auto_restart.py
Labels: bug / fix, 0:] Ready-To-Go

#8985 Deprecate LightningModule.get_progress_bar_dict
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  docs/source/extensions/logging.rst
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/progress/rich_progress.py
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/properties.py
  requirements/extra.txt
  tests/callbacks/test_progress_bar.py
  tests/callbacks/test_rich_progress_bar.py
  tests/deprecated_api/test_remove_1-7.py
  tests/models/test_hooks.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: enhancement, 0:] Ready-To-Go, refactors / code health, API / design, deprecation

#9423 Fix name order in CITATION.cff
  CITATION.cff
Labels: 0:] Ready-To-Go, documentation

#9386 [loops] Reset reference to dataloader iterator on run end
  CHANGELOG.md
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
Labels: 0:] Ready-To-Go, refactors / code health

#9373 Add remove_checkpoint to CheckpointIO plugin to simplify ModelCheckpo…
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/io/checkpoint_plugin.py
  pytorch_lightning/plugins/io/torch_plugin.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/checkpointing/test_model_checkpoint.py
  tests/plugins/test_checkpoint_io_plugin.py
Labels: enhancement, 0:] Ready-To-Go, refactors / code health, checkpoint

#9430 Disable benchmark ci on PRs
  .azure-pipelines/gpu-benchmark.yml
Labels: 0:] Ready-To-Go, tests / CI

#9349 Share the training step output data via `ClosureResult`
  CHANGELOG.md
  pytorch_lightning/loops/batch/manual.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/closure.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/optimizer/optimizer_loop.py
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/core/test_metric_result_integration.py
  tests/loops/test_closure.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_utilities.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0, refactors / code health

#9418 Type the Loop base class as generic
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
Labels: 0:] Ready-To-Go, refactors / code health

#9344 feat: Add ModelSummary Callback
  CHANGELOG.md
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/model_summary.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/enums.py
  pytorch_lightning/utilities/model_summary.py
  tests/callbacks/test_model_summary.py
  tests/trainer/connectors/test_callback_connector.py
  tests/utilities/test_enums.py
Labels: enhancement, 0:] Ready-To-Go, callbacks

#9383 Loop and test restructuring
  pyproject.toml
  pytorch_lightning/loops/__init__.py
  pytorch_lightning/loops/batch/__init__.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/optimization/__init__.py
  pytorch_lightning/loops/optimization/closure.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  tests/core/test_lightning_optimizer.py
  tests/loops/optimization/__init__.py
  tests/loops/optimization/test_closure.py
  tests/loops/test_all.py
  tests/loops/test_evaluation_loop.py
  tests/loops/test_evaluation_loop_flow.py
  tests/loops/test_flow_warnings.py
  tests/loops/test_training_loop.py
  tests/loops/test_training_loop_flow_dict.py
  tests/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors / code health

#9408 [docs] Clear up default logging, showing you don't need to pass a logger
  docs/source/extensions/logging.rst
Labels: 0:] Ready-To-Go, documentation

#9402 [Refactor] Improve auto-encoder example
  pl_examples/basic_examples/autoencoder.py
Labels: enhancement, tutorial / example, 0:] Ready-To-Go

#6867 Adapt `NeptuneLogger` to new `neptune-client` api
  .gitignore
  CHANGELOG.md
  docs/source/common/loggers.rst
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/utilities/imports.py
  requirements/loggers.txt
  tests/loggers/test_all.py
  tests/loggers/test_neptune.py
Labels: enhancement, 0:] Ready-To-Go, API / design, logger, 3rd-party

#9438 add neptune staff as code owners for neptune.py
  .github/CODEOWNERS
Labels: 3rd-party, productivity, _admin

#9371 fix resuming from checkpoint for fault-tolerant in case of no failure
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  tests/loops/test_loops.py
Labels: bug / fix, 0:] Ready-To-Go, checkpoint

#9436 Update torch_xla wheels installation link
  docs/source/advanced/tpu.rst
Labels: 0:] Ready-To-Go, documentation

#9118 Move add_to_queue/get_from_queue to DDPSpawnPlugin
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/configuration_validator.py
  tests/deprecated_api/test_remove_1-7.py
  tests/plugins/test_ddp_spawn_plugin.py
Labels: 0:] Ready-To-Go, deprecation

#9443 [bugfix] Revert inference mode support
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
Labels: bug / fix, 0:] Ready-To-Go

#9434 Fix type hint for filepath `{save/load/remove}_checkpoint`
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/properties.py
Labels: 0:] Ready-To-Go, refactors / code health

#9365 Add on_exception hook to documentation
  docs/source/common/lightning_module.rst
  docs/source/extensions/callbacks.rst
Labels: 0:] Ready-To-Go, documentation, callbacks

#9461 update rank_zero condition for logging model summary
  pytorch_lightning/callbacks/model_summary.py
Labels: enhancement, 0:] Ready-To-Go, callbacks

#9428 Add docs for datamodule hparams
  docs/source/extensions/datamodules.rst
Labels: 0:] Ready-To-Go, documentation

#9440 Add `init_optimizers` test for predict
  tests/trainer/optimization/test_optimizers.py
Labels: 0:] Ready-To-Go, tests / CI

#9411 Update to `_has_prepared_data` to avoid warning
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/trainer/connectors/data_connector.py
Labels: 0:] Ready-To-Go, data / DataModule

#9447 fix mypy typing for model summary
  pyproject.toml
  pytorch_lightning/callbacks/model_summary.py
  pytorch_lightning/utilities/model_summary.py
Labels: 0:] Ready-To-Go, refactors / code health

#9457 make model checkpointing test deterministic
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, tests / CI

#9481 add test for model weights equality when fault-tolerant training
  tests/utilities/test_auto_restart.py
Labels: 0:] Ready-To-Go, tests / CI

#9479 add pytorch profiler codeowner
  .github/CODEOWNERS
Labels: 0:] Ready-To-Go, _admin

#9483 Pass args to ShardedDataParallel
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  tests/plugins/test_sharded_plugin.py
Labels: bug / fix, 0:] Ready-To-Go

#9366 deprecate flush_logs_every_n_steps on Trainer
  CHANGELOG.md
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
  tests/loggers/test_csv.py
Labels: 0:] Ready-To-Go, logger, deprecation

#9512 Handle collision of user argument when using ShardedDDP
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/sharded.py
  tests/plugins/test_sharded_plugin.py
Labels: bug / fix, 0:] Ready-To-Go

#9494 move deprecated keys check sooner in checkpoint loading
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: 0:] Ready-To-Go, refactors / code health, checkpoint

#9437 Add `OutputResult` [1/2]
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/optimization/closure.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  tests/core/test_lightning_optimizer.py
  tests/loops/optimization/test_closure.py
  tests/loops/optimization/test_optimizer_loop.py
  tests/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors / code health

#8856 Keep global step update in the loop
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/accelerators/test_ipu.py
  tests/base/model_optimizers.py
  tests/plugins/test_deepspeed_plugin.py
  tests/trainer/optimization/test_backward_calls.py
Labels: 0:] Ready-To-Go, refactors / code health, API / design, breaking change

#9489 Introduce parameter to fix deepspeed crash for RNNS
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: bug / fix, 0:] Ready-To-Go

#9484 move state extraction for CaptureMapDataset
  pytorch_lightning/utilities/auto_restart.py
Labels: 0:] Ready-To-Go, refactors / code health

#9513 [docs] updated docs for min_delta parameter in early stopping callback
  pytorch_lightning/callbacks/early_stopping.py
Labels: 0:] Ready-To-Go, documentation

#9518 Update logo for dark mode support
  docs/source/_static/images/logo.png
Labels: 0:] Ready-To-Go, documentation

#9507 fix optimizer loop with frequencies
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/trainer/progress.py
  tests/loops/optimization/test_optimizer_loop.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
Labels: bug / fix, 0:] Ready-To-Go

#9295 update GH templates' labels
  .github/ISSUE_TEMPLATE/code_improvement.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement, 0:] Ready-To-Go, productivity

#9419 typing `trainer.connectors.checkpoint connector`
  pyproject.toml
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/utilities/types.py
Labels: 0:] Ready-To-Go, refactors / code health, checkpoint

#9387 Reset datafetcher references in teardown
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/utilities/test_fetching.py
Labels: 0:] Ready-To-Go, refactors / code health

#9520 [bugfix] Resolve example after LightningCLI update
  pl_examples/basic_examples/profiler_example.py
Labels: bug / fix, 0:] Ready-To-Go, CLI

#9389 Skip reconciliate_processes if used within a cluster environment that creates processes externally
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  tests/plugins/environments/torch_elastic_deadlock.py
  tests/special_tests.sh
  tests/trainer/test_trainer.py
Labels: bug / fix, 0:] Ready-To-Go, DDP

#9536 Update CHANGELOG.md following patch releases
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#9424 Add custom logic to each `OutputResult` subclass [2/2]
  CHANGELOG.md
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/optimization/closure.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/loops/utilities.py
  tests/loops/optimization/test_manual_loop.py
  tests/loops/optimization/test_optimizer_loop.py
  tests/loops/test_evaluation_loop_flow.py
  tests/loops/test_training_loop.py
  tests/loops/test_training_loop_flow_scalar.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, refactors / code health

#9514 mark `OptimizerLoop.backward` method protected
  CHANGELOG.md
  pytorch_lightning/loops/optimization/optimizer_loop.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#9515 mark `FitLoop.should_accumulate` as protected
  CHANGELOG.md
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/loggers/test_tensorboard.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, refactors / code health

#9516 mark several methods in evaluation loops as protected
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/loops/test_evaluation_loop.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#9522 [CI] Add Verify Linked Issue
  .github/workflows/ci_verify_pr_contains_issue.yaml
Labels: tests / CI

#9537 multiple optimizer restart with fault-tolerant training
  CHANGELOG.md
  pytorch_lightning/loops/optimization/optimizer_loop.py
  tests/loops/optimization/test_optimizer_loop.py
  tests/loops/test_loops.py
Labels: enhancement, 0:] Ready-To-Go

#9553 Minor CLI improvements [1/3]
  pytorch_lightning/plugins/plugins_registry.py
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, refactors / code health, CLI

#9517 remove abc from lightning module
  pytorch_lightning/core/lightning.py
Labels: enhancement, 0:] Ready-To-Go

#9559 Improvements for rich progress bar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: enhancement, 0:] Ready-To-Go

#9554 Fix `add_argparse_args` raising `TypeError` with Python 3.6
  CHANGELOG.md
  pytorch_lightning/utilities/argparse.py
  tests/utilities/test_argparse.py
Labels: bug / fix, 0:] Ready-To-Go

#9546 Add `RichModelSummary` callback
  CHANGELOG.md
  docs/source/extensions/callbacks.rst
  pyproject.toml
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/rich_model_summary.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  tests/callbacks/test_rich_model_summary.py
Labels: enhancement, 0:] Ready-To-Go, callbacks

#9575 [CI] Make the bot less aggressive
  .github/workflows/ci_verify_pr_contains_issue.yaml
Labels: 0:] Ready-To-Go, tests / CI

#9578 Update CONTRIBUTING for successful docs build
  .github/CONTRIBUTING.md
Labels: 0:] Ready-To-Go, documentation

#9561 [Refactor] Move reset_on_restart within the loop reset
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/dataloader_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/trainer/progress.py
  tests/loops/test_loops.py
Labels: 0:] Ready-To-Go, refactors / code health

#9540 Fix missing deepspeed distributed call
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: bug / fix, 0:] Ready-To-Go, 3rd-party

#9565 [CLI] Shorthand notation to instantiate optimizers and lr schedulers [2/3]
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: enhancement, 0:] Ready-To-Go, CLI

#8815 [CLI] Shorthand notation to instantiate callbacks [3/3]
  .github/workflows/code-checks.yml
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: enhancement, 0:] Ready-To-Go, callbacks, CLI

#9496 Improve collision check on hparams between LightningModule and DataModule
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/loggers/test_base.py
Labels: enhancement, 0:] Ready-To-Go

#9566 [Feat] Add graceful detection of signal to exit + SignalConnector and merge SlurmConnector.
  CHANGELOG.md
  pyproject.toml
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/signal_connector.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/connectors/test_signal_connector.py
Labels: 0:] Ready-To-Go, fault tolerant

#9558 Document exceptions in accelerators
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/ipu.py
  pytorch_lightning/accelerators/tpu.py
Labels: 0:] Ready-To-Go, documentation

#9495 Deprecate TrainerProperties Mixin and move property definitions directly into `trainer.py`
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#9591 Fix typo in LightningModule.configure_callbacks() document
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#9594 Put back initialization of properties in trainer
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: bug / fix, 0:] Ready-To-Go

#9602 Fixing missing URLs
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#9422 Deprecate `LightningLoggerBase.close`
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/deprecated_api/test_remove_1-7.py
  tests/loggers/test_base.py
Labels: 0:] Ready-To-Go, logger, deprecation

#9583 [CLI] Avoid warning when `configure_optimizers` will not be overridden
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: bug / fix, 0:] Ready-To-Go, CLI

#9623 Update versions after recent PyTorch releases
  requirements/adjust_versions.py
Labels: 0:] Ready-To-Go, Priority P0, tests / CI

#9621 Fixing order of operations bug in epsilon Qnet code
  pl_examples/domain_templates/reinforce_learn_Qnet.py
Labels: bug / fix, tutorial / example, 0:] Ready-To-Go

#9122 Fix gradient accumulation for `ShardedDataParallel`
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  tests/plugins/test_sharded_plugin.py
Labels: bug / fix, enhancement, 0:] Ready-To-Go, DDP

#9634 [doc fix] Fix broken links to PyTorch Lightning Bolts in pl_examples/README.md
  pl_examples/README.md
Labels: 0:] Ready-To-Go, documentation

#9582 Fix `ResultCollection._get_cache` with multielement tensors
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/core/test_metric_result_integration.py
Labels: bug / fix, 0:] Ready-To-Go, logging

#9588 [CLI] Shorthand notation to instantiate models
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: enhancement, 0:] Ready-To-Go, CLI

#9579 Small improvements to rich progress bar
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: enhancement, 0:] Ready-To-Go, refactors / code health

#9642 revert #9125 / fix back-compatibility with saving hparams as a whole container
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/models/test_hparams.py
Labels: bug / fix, 0:] Ready-To-Go

#9649 fix modify _DDPSinkBackward view inplace error for pytorch nightly 1.10
  pytorch_lightning/loops/optimization/optimizer_loop.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0

#9650 update changelog after 1.4.8 release
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#9073 LightningCLI save config multifile option required to support save to fsspec filesystem
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
Labels: enhancement, 0:] Ready-To-Go, CLI

#9653 Remove `InternalDebugger.track_lr_schedulers_update`
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/utilities/debugging.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#9410 Reset metrics before each task starts
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/test_trainer.py
Labels: bug / fix, 0:] Ready-To-Go, metrics

#9616 Deprecate `progress_bar_refresh_rate` from Trainer constructor
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
Labels: 0:] Ready-To-Go, deprecation

#9166 add legacy load utility
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/argparse_utils.py
  pytorch_lightning/utilities/migration.py
  pytorch_lightning/utilities/upgrade_checkpoint.py
  tests/deprecated_api/test_remove_2-0.py
  tests/utilities/test_migration.py
Labels: enhancement, 0:] Ready-To-Go, checkpoint

#9656 Use `completed` over `processed` in `reset_on_restart`
  CHANGELOG.md
  pytorch_lightning/trainer/progress.py
  tests/loops/test_loops.py
  tests/trainer/test_progress.py
Labels: 0:] Ready-To-Go, refactors / code health, progress tracking

#9654 Remove `InternalDebugger.track_event`
  pytorch_lightning/utilities/debugging.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change
