Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-06, with the labels that each got.

#7781 Update pre-commit and add new hooks
  .pre-commit-config.yaml
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#7787 update docker
  dockers/nvidia/Dockerfile
Labels: 0:] Ready-To-Go, bug / fix, enhancement

#7771 Extend support for logging a collection
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/types.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, enhancement

#7769 `apply_to_collection` improvements and add `apply_to_collections`
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_apply_func.py
Labels: 0:] Ready-To-Go, enhancement

#6924 Fix double precision + ddp_spawn
  CHANGELOG.md
  pytorch_lightning/overrides/base.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/accelerators/test_ddp.py
  tests/overrides/test_base.py
  tests/plugins/test_double_plugin.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#7795 Replace deprecated distributed_backend by acc in examples
  docs/source/ecosystem/asr_nlp_tts.rst
  notebooks/08-Domain-specific-demos.ipynb
Labels: 0:] Ready-To-Go

#7791 Add FSDP docs
  docs/source/advanced/advanced_gpu.rst
Labels: 3rd-party, documentation

#5654 Added Vulture dead code checker
  .github/workflows/code-formatting.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  pytorch_lightning/profiler/pytorch.py
Labels: discussion, enhancement, refactors and code health, tests / CI

#7788 validate manual optimization and supported features before running training
  CHANGELOG.md
  pytorch_lightning/trainer/configuration_validator.py
  tests/core/test_lightning_optimizer.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_config_validator.py
Labels: 0:] Ready-To-Go, enhancement

#7807 Fix support for torch Module type hints in LightningCLI
  CHANGELOG.md
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: CLI, bug / fix

#7825 [sharded plugin] Fix check for fp16 precision
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/sharded.py
Labels: 0:] Ready-To-Go, bug / fix

#7822 [doc] Move each profiler to its own file + Add missing PyTorchProfiler to the doc
  CHANGELOG.md
  docs/source/api_references.rst
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/advanced.py
  pytorch_lightning/profiler/base.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/profiler/simple.py
  tests/deprecated_api/test_remove_1-6.py
Labels: documentation, refactors and code health

#7826 [IPU] Call accelerator hooks regardless if LM hook overridden 1/n
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: enhancement

#7833 [IPU] Add special tests for IPUs 2/n
  .azure-pipelines/ipu-tests.yml
  tests/callbacks/test_pruning.py
  tests/special_tests.sh
Labels: 0:] Ready-To-Go, tests / CI

#7846 [docs] Fix truncated_bptt_steps docs
  docs/source/common/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation

#7834 fix docker versions
  dockers/nvidia/Dockerfile
Labels: 0:] Ready-To-Go, bug / fix

#7850 fix an incorrect link in changelog.
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#7831 move amp checkpoint state management to precision plugin
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: 0:] Ready-To-Go, refactors and code health

#7851 [bugfix] Minor improvements to `apply_to_collection` and type signature of `log_dict`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_apply_func.py
Labels: bug / fix

#7748 update docs example with shared eval step
  docs/source/common/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation

#7860 refactor on_gpu handling in checkpoint connector
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
Labels: 0:] Ready-To-Go, refactors and code health

#7857 make Trainer.resume_from_checkpoint a read-only property
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
Labels: refactors and code health

#7835 [bugfix] Resolve LearningRateMonitor + BackboneFinetuning
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_monitor.py
  tests/callbacks/test_lr_monitor.py
Labels: bug / fix

#7861 [IPU] Add reset dataloader hooks to training type plugin 3/n
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/data_loading.py
  tests/accelerators/test_cpu.py
Labels: 3rd-party, enhancement

#7863 [Test] Add extra test for val_check_interval in distributed scenario
  docs/source/common/trainer.rst
  tests/callbacks/test_progress_bar.py
Labels: documentation, tests / CI

#7864 [IPU] Add hooks for IPU lifecycle 4/5
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
Labels: 3rd-party, API / design, enhancement

#7734 add warning when Trainer(log_every_n_steps) not well chosen
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, enhancement, logger

#7869 update fsspec to 2021.06.0
  requirements.txt
Labels: Priority P0, tests / CI

#7874 Stricter `FxValidator` and add hooks
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: enhancement

#7868 Move `training_output` validation to after `train_step_end`
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/loops/test_training_loop.py
Labels: bug / fix

#7873 Add `log_grad_norm` hook to `LightningModule`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_grad_norm.py
  tests/trainer/logging_/test_distributed_logging.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors and code health

#7875 Only track dev debugger events if enabled
  CHANGELOG.md
  pytorch_lightning/utilities/debugging.py
Labels: 0:] Ready-To-Go, bug / fix

#7872 Random fixes for logger connector PoC
  .github/CODEOWNERS
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/types.py
  tests/base/model_train_steps.py
  tests/callbacks/test_early_stopping.py
  tests/helpers/advanced_models.py
  tests/plugins/test_single_device_plugin.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, _Will, refactors and code health

#7809 better use of void
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/auc.py
  pytorch_lightning/metrics/classification/auroc.py
  pytorch_lightning/metrics/classification/average_precision.py
  pytorch_lightning/metrics/classification/confusion_matrix.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/hamming_distance.py
  pytorch_lightning/metrics/classification/iou.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/classification/roc.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/compositional.py
  pytorch_lightning/metrics/functional/accuracy.py
  pytorch_lightning/metrics/functional/auc.py
  pytorch_lightning/metrics/functional/auroc.py
  pytorch_lightning/metrics/functional/average_precision.py
  pytorch_lightning/metrics/functional/confusion_matrix.py
  pytorch_lightning/metrics/functional/explained_variance.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/hamming_distance.py
  pytorch_lightning/metrics/functional/image_gradients.py
  pytorch_lightning/metrics/functional/iou.py
  pytorch_lightning/metrics/functional/mean_absolute_error.py
  pytorch_lightning/metrics/functional/mean_relative_error.py
  pytorch_lightning/metrics/functional/mean_squared_error.py
  pytorch_lightning/metrics/functional/mean_squared_log_error.py
  pytorch_lightning/metrics/functional/nlp.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/precision_recall_curve.py
  pytorch_lightning/metrics/functional/psnr.py
  pytorch_lightning/metrics/functional/r2score.py
  pytorch_lightning/metrics/functional/roc.py
  pytorch_lightning/metrics/functional/self_supervised.py
  pytorch_lightning/metrics/functional/ssim.py
  pytorch_lightning/metrics/functional/stat_scores.py
  pytorch_lightning/metrics/metric.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/metrics/regression/psnr.py
  pytorch_lightning/metrics/regression/r2score.py
  pytorch_lightning/metrics/regression/ssim.py
  pytorch_lightning/metrics/utils.py
  requirements.txt
Labels: metrics, refactors and code health

#7888 Use `apply_to_collection` in `metrics_to_scalars`
  CHANGELOG.md
  pytorch_lightning/utilities/metrics.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, enhancement

#7882 New logger connector code
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector_new.py
  pytorch_lightning/trainer/connectors/logger_connector/result_new.py
  requirements.txt
  tests/core/test_metric_result_integration.py
  tests/core/test_results.py
  tests/models/test_tpu.py
  tests/trainer/logging_/test_logger_connector.py
Labels: enhancement, refactors and code health

#7890 Logger connector re-design `_Metadata.reduce_fx` fixes.
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector_new.py
  pytorch_lightning/trainer/connectors/logger_connector/result_new.py
  tests/core/test_results.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: bug / fix, refactors and code health

#7889 Fix logs overwriting issue for remote fs
  pytorch_lightning/loggers/tensorboard.py
  tests/loggers/test_tensorboard.py
Labels: Priority P0, bug / fix

#7862 refactor CheckpointConnector.restore_weights
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, API / design, refactors and code health

#7657 Deprecate DataModule lifecycle properties
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-6.py
Labels: API / design, data / DataModule

#6854 add CSVLogger to tests
  tests/loggers/test_all.py
Labels: 0:] Ready-To-Go, bug / fix, logger, tests / CI

#7891 Enable logger connector re-design
  CHANGELOG.md
  docs/source/extensions/logging.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector_new.py
  pytorch_lightning/trainer/connectors/logger_connector/result_new.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_progress_bar.py
  tests/core/test_metric_result_integration.py
  tests/deprecated_api/test_remove_1-6.py
  tests/models/test_grad_norm.py
  tests/models/test_horovod.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/loops/test_evaluation_loop.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
  tests/trainer/optimization/test_multiple_optimizers.py
Labels: enhancement, logging

#7909 Clean-up after logger connector redesign 1/2
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/__init__.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/metrics_holder.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
Labels: logging, refactors and code health

#7910 Replace dead code in `ModelPruning`
  pytorch_lightning/callbacks/pruning.py
Labels: 0:] Ready-To-Go, callbacks, refactors and code health

#7915 [IPU] Remove grad_fn check 4.5/n
  pytorch_lightning/trainer/connectors/logger_connector/result_new.py
Labels: 0:] Ready-To-Go, bug / fix

#7631 Clean-up after logger connector redesign 2/2
  pytorch_lightning/trainer/connectors/logger_connector/__init__.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  setup.cfg
  tests/core/test_metric_result_integration.py
  tests/core/test_results.py
  tests/models/test_tpu.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/loops/test_evaluation_loop.py
Labels: 0:] Ready-To-Go, logging, refactors and code health

#7917 Remove legacy teardown check in train loop
  pytorch_lightning/trainer/training_loop.py
Labels: refactors and code health

#7906 add pre-commit hooks
  .pre-commit-config.yaml
Labels: tests / CI

#7901 split `restore_training_state` into logical parts [1 / 2]
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: 0:] Ready-To-Go, checkpoint, enhancement, refactors and code health

#7900 split `restore_training_state` into logical parts [2 / 2]
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/callbacks/test_early_stopping.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, checkpoint, enhancement, refactors and code health

#7907 Deprecate the default `EarlyStopping` callback monitor value
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, callbacks, enhancement

#7925 Delete `on_after_backward` unused argument
  pytorch_lightning/trainer/training_loop.py
Labels: 0:] Ready-To-Go, refactors and code health

#7918 `is_overridden` improvements
  CHANGELOG.md
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/model_helpers.py
  tests/deprecated_api/test_remove_1-6.py
  tests/trainer/test_states.py
  tests/trainer/test_trainer.py
  tests/utilities/test_model_helpers.py
Labels: 0:] Ready-To-Go, enhancement

#7928 refactor checkpoint loading for training type plugins
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: checkpoint, enhancement, refactors and code health

#7867 IPU Integration 5/5
  CHANGELOG.md
  pl_examples/ipu_examples/__init__.py
  pl_examples/ipu_examples/mnist.py
  pytorch_lightning/accelerators/__init__.py
  pytorch_lightning/accelerators/ipu.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/precision/ipu_precision.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/enums.py
  pytorch_lightning/utilities/imports.py
  tests/accelerators/test_ipu.py
  tests/helpers/runif.py
Labels: 3rd-party, Epic

#7945 Remove rank_zero_only on DataModule prepare_data
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/core/test_datamodules.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule

#7895 LightningCLI support for argument links applied on instantiation
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, CLI, enhancement

#7935 add dataclass support on apply_to_collection
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_apply_func.py
Labels: 0:] Ready-To-Go, enhancement

#7954 update chlog + legacy chpt
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, documentation, tests / CI

#7967 fix myst-parser warning blocking docs ci
  .gitignore
  docs/source/conf.py
Labels: 0:] Ready-To-Go, 3rd-party, Priority P1, documentation, tests / CI

#7955 deprecate hpc_load() and integrate it with restore()
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/deprecated_api/test_remove_1-4.py
  tests/helpers/pipelines.py
  tests/models/data/horovod/train_default_model.py
  tests/trainer/connectors/test_callback_connector.py
  tests/trainer/connectors/test_checkpoint_connector.py
Labels: 0:] Ready-To-Go, refactors and code health

#7941 Improve `LightningDataModule` hook test and fix `dataloader_idx` argument
  CHANGELOG.md
  pytorch_lightning/trainer/predict_loop.py
  tests/helpers/boring_model.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule, tests / CI

#7942 Seed all workers when using DDP
  CHANGELOG.md
  pytorch_lightning/utilities/seed.py
Labels: 0:] Ready-To-Go, DDP, bug / fix

#7962 Added `on_test_start()` documentation
  docs/source/common/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation

#7958 remove parsing comments
  requirements/adjust_versions.py
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#7642 Handle errors due to uninitialized parameters
  CHANGELOG.md
  pytorch_lightning/core/memory.py
  tests/core/test_memory.py
Labels: 0:] Ready-To-Go, enhancement

#7931 Properly handle parent modules w/ parameters in `BaseFinetuning` callback
  CHANGELOG.md
  pytorch_lightning/callbacks/finetuning.py
  tests/callbacks/test_finetuning_callback.py
Labels: 0:] Ready-To-Go, bug / fix, callbacks

#7944 Improve `LightningModule` hook tests
  tests/helpers/datasets.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#7234 DeepSpeed Infinity Update
  .azure-pipelines/gpu-tests.yml
  CHANGELOG.md
  dockers/base-cuda/Dockerfile
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/deprecated_api/test_remove_1-5.py
  tests/plugins/test_plugins_registry.py
Labels: 3rd-party, DDP

#7974 [IPU] Remove convert_to_half, suggest using `model.half`
  pytorch_lightning/plugins/training_type/ipu.py
  tests/accelerators/test_ipu.py
Labels: 3rd-party, enhancement

#7923 Add docs for IPUs
  docs/source/_static/images/accelerator/ipus/profiler.png
  docs/source/advanced/ipu.rst
  docs/source/index.rst
Labels: 3rd-party, documentation

#7431 Standardize positional datamodule and argument names
  CHANGELOG.md
  docs/source/advanced/multiple_loaders.rst
  docs/source/common/lightning_module.rst
  docs/source/common/test_set.rst
  docs/source/common/trainer.rst
  docs/source/extensions/datamodules.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/tuning.py
  pytorch_lightning/utilities/types.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-6.py
  tests/plugins/test_tpu_spawn.py
  tests/trainer/test_config_validator.py
Labels: 0:] Ready-To-Go, enhancement, refactors and code health

#7871 Loop Refactor 1/N - Training Loop
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/__init__.py
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/training_batch_loop.py
  pytorch_lightning/loops/training_epoch_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  setup.cfg
  tests/callbacks/test_progress_bar.py
  tests/deprecated_api/test_remove_1-5.py
  tests/helpers/pipelines.py
  tests/models/test_restore.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
  tests/trainer/test_trainer.py
Labels: API / design, Important, enhancement

#7963 Improvements related to save of config file by LightningCLI
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, CLI, enhancement

#7993 Pt 1.9 breaking fix: __iter__ type hint
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/reinforce_learn_ppo.py
Labels: bug / fix

#7933 Add `tpu_spawn_debug` to plugin registry
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  tests/plugins/test_plugins_registry.py
Labels: TPU

#7964 Easier configurability of callbacks that should always be present in LightningCLI
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  setup.cfg
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, CLI, enhancement

#7975 Make optimizers skippable when using amp
  CHANGELOG.md
  pytorch_lightning/plugins/precision/native_amp.py
  tests/plugins/test_amp_plugins.py
Labels: 0:] Ready-To-Go, bug / fix

#7985 Loop Refactor 2/N - Remove Old Training Loop
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  setup.cfg
Labels: 0:] Ready-To-Go, refactors and code health

#7992 Support `save_hyperparameters()` in LightningModule dataclass
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/models/test_hparams.py
Labels: enhancement

#7970 [fix] Enable manual optimization DeepSpeed
  CHANGELOG.md
  pytorch_lightning/overrides/distributed.py
  pytorch_lightning/plugins/training_type/ddp.py
  tests/plugins/test_deepspeed_plugin.py
Labels: bug / fix

#7997 [doc] Add more reference around predict_step
  docs/source/common/lightning_module.rst
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/profiler_example.py
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#7995 Change `WarningCache` to subclass `set`
  pytorch_lightning/utilities/warnings.py
Labels: 0:] Ready-To-Go, enhancement

#7982 Do not override the logged epoch in `logged_metrics`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, enhancement, logging

#7841 Fix Special Tests
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_sharded_plugin.py
Labels: tests / CI

#7665 New speed documentation
  docs/source/advanced/amp.rst
  docs/source/benchmarking/performance.rst
  docs/source/common/fast_training.rst
  docs/source/common/optimizers.rst
  docs/source/common/trainer.rst
  docs/source/guides/speed.rst
  docs/source/index.rst
  docs/source/starter/new-project.rst
Labels: documentation

#7987 [feat] Named Parameter Groups in `LearningRateMonitor`
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_monitor.py
  tests/callbacks/test_lr_monitor.py
Labels: 0:] Ready-To-Go, enhancement

#7948 [feat] Add `{,load_}state_dict` to `ResultCollection` 1/n
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/core/test_metric_result_integration.py
Labels: logging

#7652 progressive restoring of trainer state
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_finetuning_callback.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, DDP, checkpoint, enhancement

#7980 [feat] Allow overriding optimizer_zero_grad and/or optimizer_step when using accumulate_grad_batches
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/configuration_validator.py
  tests/core/test_lightning_module.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, enhancement

#7988 CHANGELOG update after v1.3.6 release
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: Important

#8021 Fix Grid run commands
  docs/source/clouds/cloud_training.rst
Labels: documentation

#8005 Add `warning_cache.deprecation` and set warning stacklevel [1/2]
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/loops/training_batch_loop.py
  pytorch_lightning/loops/training_epoch_loop.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/profiler/base.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/utilities/device_parser.py
  pytorch_lightning/utilities/warnings.py
  tests/deprecated_api/test_remove_1-5.py
Labels: bug / fix, refactors and code health

#7994 Deprecate returning extras with grads
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/deprecated_api/test_remove_1-6.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, enhancement

#7814 Use DistributedSampler when running with custom accelerator
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
Labels: 0:] Ready-To-Go, bug / fix

#8013 Update evaluation hook tests
  tests/callbacks/test_callbacks.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, tests / CI

#8009 [bugfix] Properly name PyTorchProfiler traces
  CHANGELOG.md
  pytorch_lightning/profiler/base.py
  pytorch_lightning/profiler/pytorch.py
  tests/test_profiler.py
Labels: 0:] Ready-To-Go, bug / fix, profiler

#8029 prevent memory test failing due to earlier test leaking memory
  tests/trainer/loops/test_evaluation_loop.py
Labels: Priority P0, tests / CI

#8052 fix formatting typo in seed_everything docs
  pytorch_lightning/utilities/seed.py
Labels: 0:] Ready-To-Go, documentation

#7959 Fix(Early Stopping): move best score to device
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
Labels: 0:] Ready-To-Go, TPU, bug / fix

#7877 Fix checkpointed state for lr_schedulers with step interval
  CHANGELOG.md
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/training_epoch_loop.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  tests/callbacks/test_finetuning_callback.py
  tests/checkpointing/test_model_checkpoint.py
  tests/trainer/optimization/test_optimizers.py
Labels: 0:] Ready-To-Go, bug / fix

#8059 Add `LightningCLI(save_config_overwrite=False|True)`
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, CLI, enhancement

#8002 Actually show deprecation warnings and their line level [2/2]
  .azure-pipelines/ipu-tests.yml
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/grads.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loops/training_batch_loop.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/parsing.py
  pytorch_lightning/utilities/warnings.py
  tests/special_tests.sh
  tests/utilities/test_warnings.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix

#8060 Update fit with val hook test
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/callbacks/test_callbacks.py
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#8075 update changelog after 1.3.7
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#8025 rename old `Trainer.train_loop` -> `Trainer.fit_loop`
  CHANGELOG.md
  benchmarks/test_basic_parity.py
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/debugging_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  tests/callbacks/test_progress_bar.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-6.py
  tests/loggers/test_tensorboard.py
  tests/trainer/loops/test_training_loop.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#8056 Loop Refactor 4/N - Remove Old Evaluation Loop
  CHANGELOG.md
  pytorch_lightning/trainer/evaluation_loop.py
  setup.cfg
Labels: 0:] Ready-To-Go, refactors / code health

#8076 Add forgotten colon
  pytorch_lightning/callbacks/finetuning.py
Labels: 0:] Ready-To-Go, documentation

#8030 Specify packaging version to be more than 17.0
  requirements.txt
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#8065 [Refactor] Remove _run_evaluation + 3 EvaluationLoop
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/evaluation_dataloader_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/training_epoch_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/loops/test_evaluation_loop.py
  tests/trainer/test_trainer.py
Labels: enhancement, refactors / code health

#8078 Use XLA utility API to move data to CPU (Single TPU core)
  pytorch_lightning/plugins/training_type/single_tpu.py
Labels: 0:] Ready-To-Go, TPU, refactors / code health

#8085 Deprecate moved warning functions
  CHANGELOG.md
  pytorch_lightning/utilities/distributed.py
  tests/deprecated_api/test_remove_1-6.py
Labels: enhancement

#7916 Fixes access to callback_metrics in ddp_spawn
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  tests/plugins/test_ddp_spawn_plugin.py
Labels: DDP, enhancement, metrics

#8073 Support calling fit and test scripts using "python -m" module syntax with DDP
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  tests/accelerators/test_ddp.py
  tests/utilities/distributed.py
Labels: 0:] Ready-To-Go, DDP, enhancement

#7738 Update fit with no validation hook test
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#8079 Add `log_device_info` to Trainer
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#7700 Loop Refactor 5/N - Prediction Loop
  CHANGELOG.md
  pytorch_lightning/callbacks/prediction_writer.py
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/evaluation_dataloader_loop.py
  pytorch_lightning/loops/dataloader/prediction_dataloader_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/prediction_epoch_loop.py
  pytorch_lightning/loops/training_batch_loop.py
  pytorch_lightning/loops/training_epoch_loop.py
  pytorch_lightning/trainer/trainer.py
  setup.cfg
Labels: 0:] Ready-To-Go, API / design, Important, enhancement, refactors / code health

#8024 restrict public interface of training loop
  CHANGELOG.md
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/training_batch_loop.py
  pytorch_lightning/loops/training_epoch_loop.py
  pytorch_lightning/trainer/properties.py
  tests/core/test_lightning_optimizer.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors / code health

#8094 Loop Refactor 6/N - Remove Old Predict Loop
  CHANGELOG.md
  pytorch_lightning/trainer/predict_loop.py
  setup.cfg
Labels: 0:] Ready-To-Go, refactors / code health

#8095 Add torchelastic check when sanitizing GPUs
  CHANGELOG.md
  pytorch_lightning/utilities/device_parser.py
  tests/models/test_gpu.py
Labels: bug / fix

#8096 Hotfix Patch Release v1.3.7post0 [full merge, no squash]
  CHANGELOG.md
  pytorch_lightning/__about__.py
  pytorch_lightning/utilities/distributed.py
Labels: Important, Priority P0

#8101 Nuke RPC
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pl_examples/basic_examples/conv_sequential_example.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/rpc.py
  pytorch_lightning/plugins/training_type/rpc_sequential.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/enums.py
  pytorch_lightning/utilities/imports.py
  tests/helpers/runif.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_rpc_plugin.py
  tests/plugins/test_rpc_sequential_plugin.py
Labels: API / design, refactors / code health

#8116 GPU CI - run torch 1.8 (LTS)
  .azure-pipelines/gpu-tests.yml
  README.md
  requirements/adjust_versions.py
  tests/special_tests.sh
Labels: tests / CI

#8122 Document exceptions in Utilities
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/data.py
  pytorch_lightning/utilities/device_parser.py
  pytorch_lightning/utilities/finite_checks.py
  pytorch_lightning/utilities/metrics.py
  pytorch_lightning/utilities/parsing.py
Labels: 0:] Ready-To-Go, documentation

#7966 [feat] Add Logging Restoration on Failure 2/2
  CHANGELOG.md
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/overrides/fairscale.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/double.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/model_helpers.py
  requirements.txt
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/core/test_metric_result_integration.py
  tests/metrics/test_remove_1-5_metrics.py
  tests/models/test_hooks.py
  tests/special_tests.sh
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, API / design, enhancement, logging

#8144 add .deepsource.toml
  .deepsource.toml
  MANIFEST.in
Labels: 0:] Ready-To-Go, refactors / code health, tests / CI

#8151 ignore tests in DeepSource analyses
  .deepsource.toml
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#8111 resurface lost ddp info message
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
Labels: 0:] Ready-To-Go, DDP, Priority P2, bug / fix

#8163 remove metric deprecation message at module import level
  pytorch_lightning/metrics/__init__.py
Labels: 0:] Ready-To-Go, bug / fix

#8170 Fix module dict in base finetuning
  CHANGELOG.md
  pytorch_lightning/callbacks/finetuning.py
  tests/callbacks/test_finetuning_callback.py
Labels: bug / fix

#8174 [bugfix] Resolve memory not logged when missing metrics
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: bug / fix, logging

#8171 [bugfix] Clean Validation Sanity Checking metrics
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/models/test_restore.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, bug / fix, logging

#8014 XLA Profiler integration
  .circleci/config.yml
  CHANGELOG.md
  dockers/tpu-tests/tpu_test_cases.jsonnet
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/xla.py
  pytorch_lightning/trainer/trainer.py
  tests/profiler/__init__.py
  tests/profiler/test_profiler.py
  tests/profiler/test_xla_profiler.py
  tests/special_tests.sh
Labels: 0:] Ready-To-Go, TPU, enhancement, profiler

#8165 fix NCCL error with non-consecutive trainer gpus
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  tests/plugins/test_ddp_plugin.py
Labels: DDP, Priority P0, bug / fix

#8172 Bugfix/swa iterable dset
  CHANGELOG.md
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  tests/callbacks/test_stochastic_weight_avg.py
Labels: 0:] Ready-To-Go, bug / fix, callbacks

#8117 Make Plugins Proxies after transfering ownership
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: 0:] Ready-To-Go, enhancement

#8121 remove dead code in trainer
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#8120 training loop refactor - move val loop
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#8191 Update `dataloaders` params in example
  pl_examples/bug_report_model.py
Labels: 0:] Ready-To-Go, tutorial / example

#8192 Avoid passing unnecessary params from TPUSpawn to DDPSpawn
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: 0:] Ready-To-Go, refactors / code health

#8140 Improvements and changes to progress tracking dataclasses
  CHANGELOG.md
  pytorch_lightning/trainer/progress.py
  tests/trainer/test_progress.py
Labels: 0:] Ready-To-Go, API / design, enhancement, refactors / code health

#8129 add how to contribute
  .github/CONTRIBUTING.md
  README.md
Labels: 0:] Ready-To-Go, _admin, documentation

#8194 [refactor] Add should_raise_exception for gpus / tpus utilities
  CHANGELOG.md
  pytorch_lightning/utilities/device_parser.py
Labels: refactors / code health

#8196 Add CODEOWNERS for progress dataclasses
  .github/CODEOWNERS
Labels: _admin

#8193 Fix Deprecation warning in DDPSpawn
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health

#8205 Sync our torchmetrics wrappers after the 0.4 release
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/stat_scores.py
  pytorch_lightning/metrics/utils.py
  requirements.txt
Labels: Priority P0, bug / fix

#8200 Use full `torch.distributed` import
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/horovod.py
Labels: 0:] Ready-To-Go, DDP, refactors / code health

#8195 Add missing logging tests
  tests/metrics/test_metric_lightning.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, tests / CI

#8203 Deprecate `DDPPlugin.task_idx`
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health

#8188 fix: training_step_end doesn't work as stated in docs
  docs/source/common/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation
