Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-05, with the labels that each got.

#7277 Fix Adagrad optimizer not working with DDP/GPU
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  tests/trainer/optimization/test_optimizers.py
Labels: DDP, bug / fix

#7295 Move `trainer.{fit,validate,test,predict,tune}` to the top of `trainer.py`
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, _admin, refactors and code health

#7318 Add DefaultDict typehint for optimizer state in accelerator
  pytorch_lightning/accelerators/accelerator.py
Labels: 0:] Ready-To-Go, refactors and code health

#7326 Update DeepSpeed version requirement in Dockerfile
  dockers/base-cuda/Dockerfile
Labels: Important, Priority P0, tests / CI

#7306 [bugfix] Fix dataloading for iterable datasets and limit_train_batches
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/training_loop.py
  tests/helpers/boring_model.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule

#7302 Update CODEOWNERS
  .github/CODEOWNERS
Labels: _Will

#6811 improve early stopping verbose logging
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
Labels: 0:] Ready-To-Go, callbacks, enhancement

#7299 Example and documentation for LightningCLI linking model and data arguments
  docs/source/common/lightning_cli.rst
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
Labels: 0:] Ready-To-Go, CLI, documentation, tutorial / example

#7317 Remove model.trainer call inside of dataloading mixin
  pytorch_lightning/trainer/data_loading.py
Labels: 0:] Ready-To-Go, refactors and code health

#7214 Update Accelerator Connector for Registry
  pytorch_lightning/plugins/plugins_registry.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/plugins/test_plugins_registry.py
Labels: 0:] Ready-To-Go, DDP, enhancement

#7149 Fix requirements/adjust_versions.py
  .github/workflows/ci_dockers.yml
  dockers/base-xla/Dockerfile
  requirements/adjust_versions.py
Labels: tests / CI

#7283 add forgotten test in #7240
  pytorch_lightning/utilities/argparse.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_parsing.py
Labels: 0:] Ready-To-Go, tests / CI

#7168 Deprecate `LightningModule.datamodule` reference in favor of the trainer one (#6929)
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, data / DataModule, documentation

#7190 Clarify logger flag
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation

#7288 Fix `Trainer.plugins` type declaration
  pytorch_lightning/trainer/trainer.py
  tests/utilities/test_cli.py
Labels: CLI, bug / fix

#7289 Replace `_DataModuleWrapper` with `__new__` [1/2]
  pytorch_lightning/core/datamodule.py
  tests/core/test_datamodules.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule

#7251 Add initial IPU CI job
  .azure-pipelines/ipu-tests.yml
Labels: 0:] Ready-To-Go, enhancement, let's do it!, tutorial / example

#7255 update test for resume_from_checkpoint on missing file
  CHANGELOG.md
  tests/models/test_restore.py
Labels: 0:] Ready-To-Go, Priority P2, tests / CI

#4868 Update LR schedulers only when their corresponding Optimizer is being…
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/model_optimizers.py
  tests/trainer/optimization/test_optimizers.py
Labels: 0:] Ready-To-Go, bug / fix

#6989 fix(wandb): allow custom init args
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, 3rd-party, bug / fix, enhancement, logger

#6388 make gpus=str in Trainer consistent with command line parsing of string
  CHANGELOG.md
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/utilities/device_parser.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_gpu.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#7173 `TrainerState` refactor [5/5]
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/quantization.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/rpc_sequential.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/profiler_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/tuner/tuning.py
  tests/accelerators/test_ddp_spawn.py
  tests/accelerators/test_tpu_backend.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/callbacks/test_lr_monitor.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_datamodules.py
  tests/core/test_results.py
  tests/helpers/pipelines.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_grad_norm.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/models/test_sync_batchnorm.py
  tests/models/test_tpu.py
  tests/overrides/test_data_parallel.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/trainer/flags/test_check_val_every_n_epoch.py
  tests/trainer/flags/test_fast_dev_run.py
  tests/trainer/optimization/test_optimizers.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_states.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Important, Priority P0, bug / fix, enhancement, refactors and code health

#7340 [easy] Change gradient_clip_val default value from 0 to 0.0
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors and code health

#7321 Fix auto scaling mode when calling tune method on trainer.
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/tuning.py
  tests/tuner/test_scale_batch_size.py
Labels: 0:] Ready-To-Go, bug / fix, tune

#7342 Fix support for dataloader with None batches
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/data_flow/test_train_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, bug / fix

#7276 CI: move azure-pipelines config to separate directory
  .azure-pipelines/gpu-tests.yml
Labels: 0:] Ready-To-Go, tests / CI

#7353 add CI event published
  .github/workflows/release-docker.yml
  .github/workflows/release-pypi.yml
Labels: tests / CI

#7350 temp suspend NVIDIA CI build
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
Labels: 0:] Ready-To-Go, tests / CI

#7344 Pass `current_epoch`/`global_step` as monitor candidates [1/2]
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-5.py
Labels: checkpoint, refactors and code health

#7354 fix readme badges
  README.md
Labels: documentation

#7358 set min PT version for legacy
  README.md
  legacy/generate_checkpoints.sh
Labels: documentation, tests / CI

#7224 Add `ddp_find_unused_parameters_false` to Registry
  pytorch_lightning/plugins/training_type/ddp.py
  tests/plugins/test_plugins_registry.py
Labels: 0:] Ready-To-Go, DDP, enhancement

#6673 Fix Namespace loading in PyYAML 5.4.x
  CHANGELOG.md
  requirements.txt
Labels: 0:] Ready-To-Go, bug / fix

#7359 update building latest XLA 1.8
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
Labels: 0:] Ready-To-Go, Priority P0, tests / CI

#7323 Deprecate`truncated_bptt_steps` flag on Trainer in favor of same setting on the LightningModule
  CHANGELOG.md
  docs/source/advanced/sequences.rst
  docs/source/common/lightning_module.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/deprecated_api/test_remove_1-5.py
Labels: API / design, _Will, refactors and code health

#7363 enable Dockers for PT 1.9
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  dockers/README.md
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  requirements/adjust_versions.py
Labels: 0:] Ready-To-Go, Priority P1, enhancement, tests / CI

#7343 update docs about transfer_batch_to_device hook while using DP
  docs/source/advanced/multi_gpu.rst
Labels: DP, documentation

#7380 CI/PT 1.9
  .github/workflows/ci_test-conda.yml
Labels: tests / CI

#7339 [1/2] Deprecate `outputs` in `on_train_epoch_end` hooks
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callback_hook_outputs.py
  tests/callbacks/test_finetuning_callback.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_hooks.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/test_training_loop.py
Labels: API / design, _Will, refactors and code health

#7338 [2/2] Remove outputs from evaluation epoch end hooks
  CHANGELOG.md
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callback_hook_outputs.py
  tests/callbacks/test_callbacks.py
  tests/core/test_hooks.py
  tests/deprecated_api/test_remove_1-5.py
  tests/trainer/logging_/test_logger_connector.py
Labels: API / design, _Will, refactors and code health

#7389 Add documentation for ways to access all batch outputs for on_train_epoch_end hook
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/hooks.py
Labels: documentation

#7390 Update `configure_optimizers` docs
  pytorch_lightning/core/lightning.py
Labels: documentation

#7394 group all loop tests in a folder
  tests/trainer/loops/__init__.py
  tests/trainer/loops/test_evaluation_loop.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_flow_warnings.py
  tests/trainer/loops/test_training_loop.py
  tests/trainer/loops/test_training_loop_flow_dict.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#7384 Updating docs and error message: half precision not available on CPU
  docs/source/common/trainer.rst
  pytorch_lightning/accelerators/cpu.py
  tests/accelerators/test_cpu.py
Labels: documentation

#7388 v0.1.3.0rc3 + changelogs
  CHANGELOG.md
  pytorch_lightning/__about__.py
Labels: 0:] Ready-To-Go, documentation

#7383 ci: adjust torch version requirements in IPU pipeline
  .azure-pipelines/ipu-tests.yml
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#7259 Advanced GPU Documentation
  docs/source/advanced/advanced_gpu.rst
  docs/source/advanced/multi_gpu.rst
  docs/source/advanced/training_tricks.rst
  docs/source/benchmarking/performance.rst
  docs/source/index.rst
Labels: documentation

#7402 Add _gpus_arg_default in argparse_utils for backward compatibility
  pytorch_lightning/utilities/argparse_utils.py
Labels: Priority P0, bug / fix

#6375 [ci] Unpin pip==20.1
  .github/workflows/ci_test-full.yml
Labels: 0:] Ready-To-Go, tests / CI

#7398 Call `super().__init__()` in `MilestonesFinetuning` example
  pl_examples/domain_templates/computer_vision_fine_tuning.py
Labels: 0:] Ready-To-Go, bug / fix, tutorial / example

#7404 release 1.3.0
  .github/workflows/ci_test-conda.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-pypi.yml
  CHANGELOG.md
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/profiler_example.py
  pl_examples/bug_report_model.py
  pytorch_lightning/__about__.py
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/utilities/device_dtype_mixin.py
Labels: documentation

#7409 update versions
  .github/prune-packages.py
  .github/set-min-requirements.py
  .github/workflows/ci_test-full.yml
  .github/workflows/docs-checks.yml
  CHANGELOG.md
Labels: 0:] Ready-To-Go, tests / CI

#7413 show mush go on
  .github/workflows/ci_test-conda.yml
  CHANGELOG.md
  README.md
  pytorch_lightning/__about__.py
Labels: 0:] Ready-To-Go, documentation

#7362 Fix DeepSpeedPlugin with IterableDataset
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: bug / fix

#7414 update ngc for 1.3
  dockers/nvidia/Dockerfile
Labels: 0:] Ready-To-Go, bug / fix

#7252 Add base IPU dockerfiles
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  dockers/base-ipu/Dockerfile
  dockers/ipu-ci-runner/Dockerfile
  dockers/ipu-ci-runner/start.sh
Labels: 0:] Ready-To-Go, tests / CI

#7401 Refactor tests to use `BoringModel`
  tests/base/model_train_steps.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#7399 Unify `configure_optimizers` docs
  docs/source/common/optimizers.rst
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#7025 Use `torch.nn.utils.clip_grad_norm_` and add `clip_grad_by_value` support for TPU
  CHANGELOG.md
  docs/source/advanced/training_tricks.rst
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/precision/mixed.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/imports.py
  tests/models/test_tpu.py
Labels: TPU, enhancement, refactors and code health

#7422 Deprecate TrainerModelHooksMixin
  CHANGELOG.md
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/training_loop.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors and code health

#7421 Move DP warning suppression to the DataParallel Plugin
  CHANGELOG.md
  docs/source/governance.rst
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/ignored_warnings.py
Labels: refactors and code health

#7351 Improve val step logging
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_multi_nodes_gpu.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, enhancement, logging

#7434 Restore `trainer.current_epoch` after tuning
  CHANGELOG.md
  pytorch_lightning/tuner/lr_finder.py
  tests/tuner/test_lr_finder.py
  tests/tuner/test_scale_batch_size.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix, tune

#7026 Set `num_nodes` and `sync_batchnorm` From Trainer for Manually Passed Training Type Plugin
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/deprecated_api/test_remove_1-6.py
  tests/plugins/test_cluster_integration.py
Labels: 0:] Ready-To-Go, DDP, refactors and code health

#7441 Update worker_init_fn test for pytorch 1.9 nightly
  tests/trainer/test_dataloaders.py
Labels: tests / CI

#7395 fix local rank display bug in info message
  pytorch_lightning/accelerators/gpu.py
Labels: 0:] Ready-To-Go, bug / fix

#7456 Pin `Sphinx<4.0`
  requirements/docs.txt
Labels: 0:] Ready-To-Go, bug / fix, documentation, tests / CI

#7453 Replace old video in introduction_guide.rst
  docs/source/starter/introduction_guide.rst
Labels: documentation

#7452 Fix slack link
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/CONTRIBUTING.md
  README.md
  docs/source/starter/new-project.rst
  notebooks/01-mnist-hello-world.ipynb
  notebooks/02-datamodules.ipynb
  notebooks/03-basic-gan.ipynb
  notebooks/04-transformers-text-classification.ipynb
  notebooks/05-trainer-flags-overview.ipynb
  notebooks/06-mnist-tpu-training.ipynb
  notebooks/07-cifar10-baseline.ipynb
Labels: documentation

#7238 Automatically check `DataModule.has_{setup,teardown,prepare_data}` [2/2]
  CHANGELOG.md
  docs/source/extensions/datamodules.rst
  docs/source/starter/introduction_guide.rst
  docs/source/starter/new-project.rst
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule

#7272 Log epoch metrics before firing the `on_evaluation_end` hook
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/loops/test_evaluation_loop.py
Labels: 0:] Ready-To-Go, enhancement, logging

#7478 Docs: sync chlog 1.3.1
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: documentation, tests / CI

#7457 MLFlow now uses env variable as default tracking uri
  CHANGELOG.md
  pytorch_lightning/loggers/mlflow.py
Labels: 0:] Ready-To-Go, enhancement, logger

#7489 update readme to 1.3
  README.md
  dockers/README.md
Labels: 0:] Ready-To-Go, documentation

#7500 Fix yapf-isort conflict
  pytorch_lightning/utilities/types.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#7502 Prune deprecated trainer attributes 2
  CHANGELOG.md
  pytorch_lightning/trainer/deprecated_api.py
  tests/deprecated_api/test_remove_1-4.py
Labels: 0:] Ready-To-Go, refactors and code health

#7499 Prune deprecated classif. metrics
  CHANGELOG.md
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  tests/deprecated_api/test_remove_1-4.py
Labels: 0:] Ready-To-Go, refactors and code health

#7501 Prune deprecated trainer attributes
  CHANGELOG.md
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/deprecated_api/test_remove_1-4.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors and code health

#7430 Add `trainer.predict(ckpt_path)`
  CHANGELOG.md
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, enhancement

#7510 prune data parallel
  CHANGELOG.md
  pytorch_lightning/overrides/data_parallel.py
  tests/deprecated_api/test_remove_1-4.py
Labels: 0:] Ready-To-Go, refactors and code health

#7503 Prune deprecated utils modules
  CHANGELOG.md
  dockers/tpu-tests/tpu_test_cases.jsonnet
  pytorch_lightning/utilities/argparse_utils.py
  pytorch_lightning/utilities/model_utils.py
  pytorch_lightning/utilities/warning_utils.py
  pytorch_lightning/utilities/xla_device_utils.py
  setup.cfg
  tests/deprecated_api/test_remove_1-4.py
Labels: 0:] Ready-To-Go, refactors and code health

#7506 Refactor result handling in training loop
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors and code health

#7504 Default `seed_everything(workers=True)` in the `LightningCLI`
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/simple_image_classifier.py
  pytorch_lightning/utilities/cli.py
Labels: 0:] Ready-To-Go, CLI, enhancement, tutorial / example

#6241 Add `dataloader_idx` to batch transfer hooks
  CHANGELOG.md
  docs/source/extensions/datamodules.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/core/decorators.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/trainer/connectors/debugging_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/signature_utils.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-6.py
  tests/models/test_hooks.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, data / DataModule, enhancement

#7530 update logo 48px
  docs/source/_static/images/icon.svg
  docs/source/advanced/sequences.rst
Labels: 0:] Ready-To-Go, documentation

#7545 update alumni
  docs/source/governance.rst
Labels: documentation

#7492 Fix DistribType for `ddp_cpu` (spawn)
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/trainer/test_trainer.py
Labels: DDP, bug / fix

#7554 Update lightning_cli.rst
  docs/source/common/lightning_cli.rst
Labels: documentation

#7521 Enable fsspec by default for cli config file
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
Labels: 0:] Ready-To-Go, CLI, enhancement

#7507 remove trainer hidden state | sanity refactor [2 / n]
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors and code health

#7300 Add kubeflow cluster environment
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/environments/__init__.py
  pytorch_lightning/plugins/environments/kubeflow_environment.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/plugins/environments/test_kubeflow_environment.py
Labels: 0:] Ready-To-Go, enhancement

#7296 Support TPU Pod Training (n/n)
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/utilities/xla_device.py
  tests/accelerators/test_accelerator_connector.py
Labels: 0:] Ready-To-Go, TPU

#7526 refactor optimizer loop logic for manual and automatic optimization
  CHANGELOG.md
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/accelerators/test_accelerator_connector.py
  tests/core/test_lightning_optimizer.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors and code health

#7032 Fix the condition for calling update_learning_rates
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/optimization/test_optimizers.py
Labels: Priority P1, bug / fix

#7593 make extra build for latest
  .github/workflows/release-docker.yml
  .github/workflows/release-pypi.yml
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#7590 Minor logger connector cleanup [1/n]
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
Labels: 0:] Ready-To-Go, refactors and code health

#7598 Fix incorrect code-snippet in optimizers doc
  docs/source/common/optimizers.rst
Labels: 0:] Ready-To-Go, documentation

#7539 [feat] Add stronger validation for checkpoint_callback argument
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/callback_connector.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, callbacks, checkpoint, refactors and code health

#6195 TensorBoardLogger sub_dir parameter for grouping logs
  CHANGELOG.md
  pytorch_lightning/loggers/tensorboard.py
  tests/loggers/test_all.py
  tests/loggers/test_tensorboard.py
Labels: 0:] Ready-To-Go, enhancement, logger

#7529 Add typing to `ModelPruning` callback
  pytorch_lightning/callbacks/pruning.py
  requirements.txt
  setup.cfg
Labels: 0:] Ready-To-Go, refactors and code health

#7594 Unify `current_fx_name` and `current_hook_fx_name` [2/n]
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/predict_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors and code health

#6603 [1/N] Define dataclasses for progress tracking
  CHANGELOG.md
  pytorch_lightning/trainer/progress.py
  tests/trainer/test_progress.py
Labels: API / design, enhancement, refactors and code health

#7612 Add link to TorchIO tutorial in PyTorch Ecosystem examples
  docs/source/ecosystem/community_examples.rst
Labels: 0:] Ready-To-Go, documentation, tutorial / example

#7515 [feat] Support time-based checkpointing during training
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, callbacks, checkpoint

#7608 Clear predict_progress_bar in ProgressBar.__getstate__
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
  tests/callbacks/test_progress_bar.py
Labels: bug / fix

#7592 Override `broadcast_object_list` for `torch<1.8`
  CHANGELOG.md
  pytorch_lightning/overrides/torch_distributed.py
Labels: 0:] Ready-To-Go, DDP, bug / fix

#7625 [typing] Stricter typing for every_n_val_epochs and every_n_train_steps in model checkpoint callback
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: 0:] Ready-To-Go, refactors and code health

#7622 Add run_name argument to the MLFlowLogger constructor
  CHANGELOG.md
  pytorch_lightning/loggers/mlflow.py
  tests/loggers/test_mlflow.py
Labels: enhancement, logger

#7633 fix flag name to flush_logs_every_n_steps in logging doc
  docs/source/extensions/logging.rst
Labels: documentation

#7627 Replace `CallbackHookNameValidator` with `FxValidator` [3/n]
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors and code health

#7626 Use `trainer.call_hook` in the evaluation loop
  pytorch_lightning/trainer/evaluation_loop.py
Labels: 0:] Ready-To-Go, refactors and code health

#7628 Remove `Result(minimize)` parameter [4/n]
  pytorch_lightning/core/step_result.py
Labels: refactors and code health

#7617 [feat] Support custom filesystems in LightningModule.to_torchscript
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/models/test_torchscript.py
Labels: enhancement

#7615 CI code cleaning
  .azure-pipelines/gpu-tests.yml
  .github/workflows/ci_pkg-install.yml
  pl_examples/basic_examples/README.md
  pl_examples/basic_examples/submit_ddp2_job.sh
  pl_examples/basic_examples/submit_ddp_job.sh
Labels: refactors and code health, tests / CI

#7636 De-duplicate `DistributedSampler` mentions
  docs/source/advanced/multi_gpu.rst
  docs/source/clouds/cluster.rst
  docs/source/common/lightning_module.rst
  docs/source/common/trainer.rst
Labels: documentation

#7574 [2/N] Define dataclasses for progress tracking
  CHANGELOG.md
  pytorch_lightning/trainer/progress.py
  tests/trainer/test_progress.py
Labels: 0:] Ready-To-Go, API / design, enhancement, refactors and code health

#7644 Remove tbptt `self.log` flags and other dead code [5/n]
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  tests/core/test_results.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors and code health

#7579 refactor accelerator teardown -> training type plugin teardown
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_single_device_plugin.py
  tests/plugins/test_tpu_spawn.py
Labels: API / design, enhancement

#7563 Fix/mismatched toggle optimizer
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  tests/trainer/optimization/test_multiple_optimizers.py
Labels: bug / fix

#7487 FSDP with full state dict
  CHANGELOG.md
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/precision/__init__.py
  pytorch_lightning/plugins/precision/fully_sharded_native_amp.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/enums.py
  pytorch_lightning/utilities/imports.py
  tests/helpers/runif.py
  tests/plugins/test_ddp_fully_sharded_with_full_state_dict.py
Labels: 0:] Ready-To-Go, enhancement

#7566 Fix dataloaders are not reset when tuning the model
  CHANGELOG.md
  pytorch_lightning/tuner/batch_size_scaling.py
  tests/tuner/test_scale_batch_size.py
Labels: 0:] Ready-To-Go, bug / fix, tune

#7651 Move sync code from step result to lightning module [6/n]
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/utilities/types.py
  tests/core/test_metric_result_integration.py
  tests/core/test_results.py
Labels: 0:] Ready-To-Go, refactors and code health

#7674 Fix progress bar print error when called before training
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
  tests/callbacks/test_progress_bar.py
Labels: bug / fix

#7654 Remove ProfilerConnector class
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/profiler_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/test_profiler.py
  tests/trainer/test_trainer.py
Labels: refactors and code health

#7415 Move parameter validation specific to TPU Training plugins
  pytorch_lightning/core/decorators.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  tests/accelerators/test_tpu_backend.py
Labels: 0:] Ready-To-Go, TPU

#7677 Fix global step update when the epoch is skipped
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  tests/models/test_hooks.py
  tests/trainer/loops/test_training_loop.py
Labels: bug / fix

#7676 chlog for 1.3.2 + legacy test
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, documentation

#7683 MAINTAINER has been deprecated
  dockers/base-ipu/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/ipu-ci-runner/Dockerfile
  dockers/nvidia/Dockerfile
  dockers/release/Dockerfile
  dockers/tpu-tests/Dockerfile
Labels: 0:] Ready-To-Go, refactors and code health

#7689 Move test_hooks.py code
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#7692 Increment the total batch idx before the accumulation early exit
  CHANGELOG.md
  pytorch_lightning/trainer/training_loop.py
  tests/tuner/test_lr_finder.py
Labels: bug / fix

#7682 Refactor some loops code and hook tests
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_early_stopping.py
  tests/loggers/test_tensorboard.py
  tests/models/test_hooks.py
  tests/trainer/loops/test_training_loop.py
Labels: refactors and code health

#7684 Add `should_rank_save_checkpoint` property to Training Plugins
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/utilities/xla_device.py
Labels: API / design, checkpoint, refactors and code health

#7685 fix: improve UserWarning message
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
Labels: enhancement

#7686 CI: Reset cache weekly
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-mnodes.yml
  .github/workflows/docs-checks.yml
  .github/workflows/release-pypi.yml
Labels: tests / CI

#7704 Add `ModelPruning(prune_on_train_epoch_end)` to choose when to apply pruning
  CHANGELOG.md
  pytorch_lightning/callbacks/pruning.py
  tests/callbacks/test_pruning.py
Labels: callbacks, enhancement

#7706 Increase TPU Check timeout
  pytorch_lightning/utilities/xla_device.py
Labels: 0:] Ready-To-Go, TPU, refactors and code health

#7717 Fix a typo in docker README
  dockers/README.md
Labels: 0:] Ready-To-Go, documentation

#7357 Always run validation inside the training loop epoch
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_model_checkpoint.py
  tests/models/test_hooks.py
  tests/trainer/loops/test_training_loop.py
Labels: API / design, refactors and code health

#7714 Add `tpuvm` section in TPU docs
  docs/source/advanced/tpu.rst
Labels: 0:] Ready-To-Go, TPU, documentation

#7681 Add `__len__` method to IndexBatchSamplerWrapper
  CHANGELOG.md
  pytorch_lightning/overrides/distributed.py
  tests/overrides/test_distributed.py
Labels: Priority P0, bug / fix

#7713 Update hooks pseudocode
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  tests/models/test_hooks.py
Labels: 0:] Ready-To-Go, documentation

#7736 Rename and move Result
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/core/test_metric_result_integration.py
  tests/core/test_results.py
  tests/models/test_tpu.py
  tests/trainer/logging_/test_logger_connector.py
Labels: refactors and code health

#6231 feat(wandb): log models as artifacts
  CHANGELOG.md
  docs/source/common/loggers.rst
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_base.py
  tests/loggers/test_wandb.py
Labels: API / design, enhancement, logger

#7733 Add Test for memory consumption
  tests/trainer/loops/test_evaluation_loop.py
Labels: tests / CI

#7759 Remove metric tracking from dev debugger
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/utilities/debugging.py
  tests/accelerators/test_multi_nodes_gpu.py
  tests/checkpointing/test_model_checkpoint.py
  tests/models/test_grad_norm.py
  tests/trainer/flags/test_fast_dev_run.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, refactors and code health

#7758 Organize trainer properties
  pytorch_lightning/trainer/properties.py
Labels: 0:] Ready-To-Go, refactors and code health

#7761 Some test updates
  tests/core/test_results.py
  tests/metrics/test_metric_lightning.py
  tests/models/test_tpu.py
  tests/trainer/logging_/test_logger_connector.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#7760 Clean existing logging tests
  tests/accelerators/test_multi_nodes_gpu.py
  tests/helpers/boring_model.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, refactors and code health, tests / CI

#7770 Use typing forward references
  pytorch_lightning/core/lightning.py
  pytorch_lightning/overrides/base.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/overrides/distributed.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/parallel.py
  tests/accelerators/test_multi_nodes_gpu.py
Labels: 0:] Ready-To-Go, refactors and code health

#7780 fix info message when max training time reached
  CHANGELOG.md
  pytorch_lightning/callbacks/timer.py
  tests/callbacks/test_timer.py
Labels: 0:] Ready-To-Go, bug / fix
