Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-08, with the labels that each got.

#8674 [bugfix] Fix DeepSpeed version
  .azure-pipelines/gpu-tests.yml
Labels: 0:] Ready-To-Go

#8667 Fix distributed types support for CPUs
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix

#8676 Un-skip some Horovod tests
  tests/models/test_horovod.py
Labels: 0:] Ready-To-Go, 3rd-party, tests / CI

#8679 Delete deprecated `TrainerTrainingTricksMixin`
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, breaking change, refactors / code health

#8652 update NGC
  dockers/nvidia/Dockerfile
Labels: 0:] Ready-To-Go, enhancement

#8564 CI: yesqa
  .pre-commit-config.yaml
  docs/source/conf.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pytorch_lightning/__init__.py
  pytorch_lightning/accelerators/__init__.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/mixins/__init__.py
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/tuning.py
  pytorch_lightning/utilities/argparse_utils.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  requirements/test.txt
  tests/callbacks/test_pruning.py
  tests/deprecated_api/test_remove_1-4.py
  tests/deprecated_api/test_remove_1-5.py
  tests/deprecated_api/test_remove_1-6.py
  tests/helpers/imports.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_hparams.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_progress.py
  tests/utilities/test_auto_restart.py
Labels: 0:] Ready-To-Go, refactors / code health

#8680 Delete deprecated save function
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, breaking change, refactors / code health

#8560 black: magic trailing comma
  pyproject.toml
Labels: 0:] Ready-To-Go, refactors / code health

#8668 Disable recurrent events on forks
  .github/workflows/events-nightly.yml
  .github/workflows/events-recurrent.yml
Labels: 0:] Ready-To-Go, tests / CI

#8655 Torch Elastic DDP DeadLock bug fix
  .azure-pipelines/gpu-tests.yml
  pytorch_lightning/plugins/training_type/ddp.py
  tests/plugins/environments/torch_elastic_deadlock.py
  tests/special_tests.sh
Labels: 0:] Ready-To-Go, DDP, bug / fix

#8675 Test `metric_attribute` for different children module structures
  tests/core/test_metric_result_integration.py
Labels: 0:] Ready-To-Go, tests / CI

#8366 update logic to inject FastForwardSampler / CaptureIterableDataset 2/n
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/imports.py
  tests/trainer/test_dataloaders.py
  tests/utilities/test_auto_restart.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#8641 Save the `ResultCollection` in the loops state dict
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/trainer.py
  requirements.txt
  tests/core/test_metric_result_integration.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
Labels: 0:] Ready-To-Go, API / design

#8645 Fix `ddp` accelerator choice for cpu
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix

#8397 Fix save/load/resume from checkpoint for DeepSpeed Plugin
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, bug / fix

#8666 add check for unique device ids
  CHANGELOG.md
  pytorch_lightning/utilities/device_parser.py
  tests/models/test_gpu.py
Labels: 0:] Ready-To-Go, enhancement

#8671 Fix mypy typing for `utilities.cloud_io.py`
  pyproject.toml
  pytorch_lightning/utilities/cloud_io.py
Labels: 0:] Ready-To-Go, refactors / code health

#8692 [docs] Expand use cases, move them up for discoverability
  docs/source/_templates/layout.html
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#8691 [docs] Update deepspeed docs, add some more information and link to streamlit
  docs/source/advanced/advanced_gpu.rst
  pytorch_lightning/plugins/training_type/deepspeed.py
Labels: 0:] Ready-To-Go, documentation

#8673 CI: add mdformat
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  README.md
  dockers/README.md
  legacy/README.md
  pl_examples/README.md
  pl_examples/basic_examples/README.md
  tests/README.md
Labels: 0:] Ready-To-Go, refactors / code health

#8709 [docs] Reduce Model Parallel section title length
  docs/source/advanced/advanced_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#8628 Add `batch_size`, `rank_zero_only` arguments for `log_dict` to match `log`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, enhancement, logging

#8513 Deprecate LightningModule.summarize() in favor of pl.utilities.model_summary.summarize()
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/memory.py
  pytorch_lightning/utilities/model_summary.py
  tests/accelerators/test_ddp_spawn.py
  tests/accelerators/test_dp.py
  tests/deprecated_api/test_remove_1-6.py
  tests/deprecated_api/test_remove_1-7.py
  tests/utilities/test_model_summary.py
Labels: 0:] Ready-To-Go, API / design, refactors / code health

#8687 Fix an import deprecation warning
  pytorch_lightning/accelerators/ipu.py
Labels: 0:] Ready-To-Go, bug / fix

#8701 Add functions to collate deepspeed zero 3 checkpoints
  CHANGELOG.md
  pytorch_lightning/utilities/deepspeed.py
  tests/utilities/test_deepspeed_collate_checkpoint.py
Labels: 0:] Ready-To-Go, 3rd-party, enhancement

#8662 WandbLogger to log model topology by default
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, 3rd-party, enhancement, logger

#8713 [docs] Update FSDP instructions and add DeepSpeed evaluate/predict example
  docs/source/advanced/advanced_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#8536 Connect the model to the training type plugin at the start of run
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_cpu.py
  tests/core/test_datamodules.py
  tests/trainer/connectors/test_callback_connector.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_tricks.py
Labels: 0:] Ready-To-Go, bug / fix, refactors / code health

#8719 fix recursive call for `apply_to_collection(include_none=False)`
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_apply_func.py
Labels: 0:] Ready-To-Go, bug / fix

#8685 Move logger and profiler finalization to trainer's teardown
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/logging_/test_distributed_logging.py
Labels: 0:] Ready-To-Go, bug / fix, logger, profiler

#8201 Fix mypy in `utilities.distributed`
  pyproject.toml
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go

#8672 Fix mypy typing for `utilities.debugging`
  pyproject.toml
  pytorch_lightning/utilities/debugging.py
Labels: 0:] Ready-To-Go, refactors / code health, tests / CI

#8706 rtfd: drop building pdf
  .readthedocs.yml
Labels: 0:] Ready-To-Go, documentation

#8737 fix typo error in `LightningLoggerBase.after_save_checkpoint` docstring
  pytorch_lightning/loggers/base.py
Labels: 0:] Ready-To-Go, documentation, logger

#8688 Remove deprecated `on_save_checkpoint` argument
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#8717 Improve SWA docs
  docs/source/advanced/training_tricks.rst
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/utilities/distributed.py
  tests/callbacks/test_stochastic_weight_avg.py
Labels: 0:] Ready-To-Go, documentation, callbacks

#8608 Remove rank 0 restrictions from logger
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging_/test_distributed_logging.py
Labels: enhancement, 0:] Ready-To-Go, logger, breaking change

#8761 Minor code health fix for Trainer
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#8744 Fix mypy for `utilities.memory`
  pyproject.toml
  pytorch_lightning/utilities/memory.py
Labels: 0:] Ready-To-Go, refactors / code health

#8762 change backbone to self
  pl_examples/basic_examples/backbone_image_classifier.py
Labels: enhancement, tutorial / example, 0:] Ready-To-Go

#8765 lift tensorboard version restriction
  requirements.txt
Labels: bug / fix, 0:] Ready-To-Go, tests / CI

#8755 Fix mypy for `utilities.xla_device`
  pyproject.toml
  pytorch_lightning/utilities/imports.py
  pytorch_lightning/utilities/xla_device.py
Labels: 0:] Ready-To-Go, refactors / code health

#8770 remove deprecation of gpu string parsing behavior
  CHANGELOG.md
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/utilities/device_parser.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_gpu.py
Labels: 0:] Ready-To-Go, documentation, refactors / code health, breaking change

#8782 Fix comments and exception message for metrics_to_scalars
  pytorch_lightning/utilities/metrics.py
Labels: 0:] Ready-To-Go, documentation

#8763 remove deprecated sync step argument from WandbLogger
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors / code health, logger, breaking change

#8769 Allow modifying run_examples.sh defaults
  pl_examples/run_examples.sh
Labels: 0:] Ready-To-Go, tests / CI

#8789 Fix tests for new tensorboard >= 2.6
  tests/loggers/test_tensorboard.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0, tests / CI

#8750 rename on_expection -> on_exception
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#8741 is-instance check to determine the type of a plugin for teardown decision
  pytorch_lightning/trainer/trainer.py
Labels: bug / fix, 0:] Ready-To-Go, logger

#8721 Restructure parsing flow in the `LightningCLI`
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, refactors / code health, CLI

#8805 Use trainer.lightning_module in CallbackConnector._attach_callbacks
  pytorch_lightning/trainer/connectors/callback_connector.py
Labels: bug / fix, 0:] Ready-To-Go

#8804 Fix truncated backprop through time when set on LightningModule and not Trainer
  CHANGELOG.md
  pytorch_lightning/loops/batch/training_batch_loop.py
  tests/models/test_cpu.py
  tests/models/test_truncated_bptt.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: bug / fix, 0:] Ready-To-Go

#8785 Add tests for functions in utilities/data.py
  pytorch_lightning/utilities/data.py
  tests/helpers/boring_model.py
  tests/utilities/test_data.py
Labels: 0:] Ready-To-Go, tests / CI

#8535 Legacy: simple classif training
  .github/workflows/legacy-checkpoints.yml
  legacy/README.md
  legacy/back-compatible-versions.txt
  legacy/generate_checkpoints.sh
  legacy/simple_classif_training.py
  legacy/zero_training.py
  tests/checkpointing/test_legacy_checkpoints.py
  tests/deprecated_api/test_remove_1-5.py
  tests/utilities/test_data.py
Labels: 0:] Ready-To-Go, tests / CI

#8714 Add warning when `wandb.run` already exists
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: enhancement, 0:] Ready-To-Go, logger

#8830 Tests: fix deprecated TM mape
  tests/callbacks/test_quantization.py
Labels: bug / fix, 0:] Ready-To-Go, tests / CI, Priority P1

#8751 Add `LightningCLI(run=False|True)`
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: enhancement, CLI

#8825 Remove truncated_bptt_steps from Trainer constructor
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  CHANGELOG.md
  docs/source/common/trainer.rst
  docs/source/starter/new-project.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_truncated_bptt.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, breaking change

#8851 Deprecate DataModule properties: train_transforms, val_transforms, test_transforms, dims, and size
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/deprecated_api/test_remove_1-7.py
Labels: 0:] Ready-To-Go, refactors / code health, data / DataModule

#8651 reduce flakiness of memory test
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, tests / CI

#8864 Update DataModule docs following property deprecations
  docs/source/extensions/datamodules.rst
  pytorch_lightning/core/datamodule.py
Labels: 0:] Ready-To-Go, documentation, data / DataModule

#8861 fix plateau scheduler stepping on incomplete epoch
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  tests/trainer/optimization/test_optimizers.py
Labels: bug / fix, 0:] Ready-To-Go

#8883 simplify grad clip tests
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, tests / CI, refactors / code health

#8886 Automatic string fixes
  pytorch_lightning/core/decorators.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/plugins/environments/lsf_environment.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/debugging_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/auto_gpu_select.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/utilities/model_summary.py
  pytorch_lightning/utilities/upgrade_checkpoint.py
  tests/tuner/test_auto_gpu_select.py
Labels: 0:] Ready-To-Go, refactors / code health

#8743 Introduce CheckpointIO Plugin
  CHANGELOG.md
  docs/source/advanced/checkpoint_io.rst
  docs/source/api_references.rst
  docs/source/index.rst
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/io/__init__.py
  pytorch_lightning/plugins/io/checkpoint_plugin.py
  pytorch_lightning/plugins/io/torch_plugin.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/types.py
  tests/accelerators/test_cpu.py
  tests/plugins/test_checkpoint_io_plugin.py
Labels: enhancement, 0:] Ready-To-Go, checkpoint

#8889 [Bug] Add SharedCycleIteratorState
  CHANGELOG.md
  pytorch_lightning/trainer/supporters.py
  tests/trainer/test_supporters.py
Labels: bug / fix, 0:] Ready-To-Go

#8850 Remove write_predictions from LightningModule
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/trainer/supporters.py
  tests/core/test_results.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#8747 Fix SWA with a list of learning rates
  CHANGELOG.md
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  tests/callbacks/test_stochastic_weight_avg.py
Labels: bug / fix, 0:] Ready-To-Go, callbacks

#8888 Smart handling of `EarlyStopping.check_on_train_epoch_end`
  pytorch_lightning/callbacks/early_stopping.py
  tests/callbacks/test_early_stopping.py
Labels: enhancement, 0:] Ready-To-Go

#8598 Integrate `total_batch_idx` with progress tracking
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  tests/tuner/test_lr_finder.py
Labels: 0:] Ready-To-Go, refactors / code health

#8925 typo: syntax correction
  docs/source/common/optimizers.rst
Labels: 0:] Ready-To-Go, documentation

#8885 [Bugfix] Detach Loaders after running entrypoint
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_data_loading.py
Labels: bug / fix, 0:] Ready-To-Go, data / DataModule

#8858 Replace DataLoader sampler once for IPUs
  .azure-pipelines/ipu-tests.yml
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/states.py
  tests/accelerators/test_cpu.py
  tests/accelerators/test_ipu.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer_tricks.py
Labels: bug / fix, 0:] Ready-To-Go, refactors / code health

#8931 Fix CheckpointIO doc annotations
  docs/source/advanced/checkpoint_io.rst
Labels: 0:] Ready-To-Go, documentation

#8911 Delete `TrainingEpochLoop._dataloader_idx` which always equals 0
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  tests/core/test_datamodules.py
  tests/models/test_hooks.py
  tests/trainer/loops/test_evaluation_loop_flow.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
Labels: 0:] Ready-To-Go, refactors / code health

#8890 [1/n] Add LightningFetcher
  CHANGELOG.md
  benchmarks/test_basic_parity.py
  pytorch_lightning/utilities/fetching.py
  tests/utilities/test_fetching.py
Labels: 0:] Ready-To-Go

#8932 [bugfix] Resolve lost reference to meta object in `ResultMetricCollection`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug / fix, 0:] Ready-To-Go, logging

#8934 Drop breaking sphinx docs build
  .github/workflows/docs-checks.yml
Labels: 0:] Ready-To-Go, documentation, tests / CI

#8939 Ensure the existence of `DDPPlugin._sync_dir` in `reconciliate_processes`
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
Labels: bug / fix, 0:] Ready-To-Go, DDP

#8892 Update contributing docs with pointers for legacy checkpoint testing
  .github/CONTRIBUTING.md
Labels: 0:] Ready-To-Go, documentation, tests / CI

#8951 restrict deepspeed version in CI
  .azure-pipelines/gpu-tests.yml
Labels: 0:] Ready-To-Go, Priority P0, tests / CI

#8891 [Feat] 2/n Add Fault Tolerant Training to LightningFetcher
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/enums.py
  pytorch_lightning/utilities/fetching.py
  tests/utilities/test_auto_restart.py
  tests/utilities/test_fetching.py
Labels: enhancement, 0:] Ready-To-Go

#8956 Update governance
  docs/source/governance.rst
Labels: 0:] Ready-To-Go, productivity

#8942 Replace instances of `self.lightning_module.trainer` with `trainer` directly in ddp_spawn and tpu_spawn
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: 0:] Ready-To-Go, refactors / code health

#8953 3/n integrate new LightningDataFetcher into loop
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/profiler/base.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/fetching.py
  pytorch_lightning/utilities/imports.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_metric_result_integration.py
  tests/loops/test_loops.py
  tests/trainer/test_supporters.py
  tests/utilities/test_auto_restart.py
  tests/utilities/test_fetching.py
Labels: enhancement, 0:] Ready-To-Go

#8819 Add error handling for all trainer entry points
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/trainer.py
  tests/helpers/runif.py
  tests/trainer/test_trainer.py
  tests/utilities/test_cli.py
Labels: enhancement, 0:] Ready-To-Go

#8957 fix "line too long" pre-commit complaints
  pytorch_lightning/callbacks/progress.py
Labels: 0:] Ready-To-Go, tests / CI, refactors / code health

#8954 fix batch auto scaling when `init_val` causes OOM
  CHANGELOG.md
  pytorch_lightning/tuner/batch_size_scaling.py
Labels: bug / fix, 0:] Ready-To-Go, tune

#8952 add docs for for SharedCycleIteratorState
  pytorch_lightning/trainer/supporters.py
Labels: 0:] Ready-To-Go, documentation

#8974 Add DeepSpeed Stage 1 + doc improvements for model parallel
  CHANGELOG.md
  docs/source/advanced/advanced_gpu.rst
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_plugins_registry.py
Labels: enhancement, 0:] Ready-To-Go, documentation, 3rd-party

#8984 Fix governance references in docs
  docs/source/_templates/theme_variables.jinja
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#8831 Remove GradInformation module, including from LightningModule hierarchy
  CHANGELOG.md
  pytorch_lightning/core/grads.py
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#8764 convert warning cache usage to rank_zero_only in WandbLogger
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, refactors / code health, logger, Priority P2

#8498 Always use `trainer.call_hook`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
  tests/trainer/connectors/test_callback_connector.py
  tests/trainer/logging_/test_logger_connector.py
Labels: bug / fix, 0:] Ready-To-Go, logging

#9014 Handle the case with no queries in `GPUStatsMonitor`
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  tests/callbacks/test_gpu_stats_monitor.py
Labels: enhancement, 0:] Ready-To-Go, callbacks

#8960 Add an issue template for Code Improvement
  .github/ISSUE_TEMPLATE/code_improvement.md
Labels: 0:] Ready-To-Go, documentation, productivity

#9019 Remove deprecated functions from accelerator.py
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#8697 Remove deprecated `on_{save,load}_checkpoint` signature
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/timer.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/callback_hook.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#9034 Remove unused rank_zero_deprecation in WandB logger
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, refactors / code health

#9035 Remove unused `on_train_epoch_end` hook in accelerator
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#9044 Move `init_ddp_connection` to distributed utilities
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, DDP, refactors / code health

#8958 Deprecate `prepare_data_per_node` flag on Trainer and set it as a property for DataHooks
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-7.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, refactors / code health, data / DataModule, deprecation

#9020 1/n inter batch parallelism
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/processors/iterator_batch_processor.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/fetching.py
  tests/loops/test_iterator_batch_processor.py
  tests/utilities/test_fetching.py
Labels: enhancement, 0:] Ready-To-Go

#9025 governance updates in documentation
  docs/source/governance.rst
Labels: 0:] Ready-To-Go, documentation, Important

#9005 update an outdated error message in DDPPlugin
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  tests/plugins/test_ddp_plugin.py
Labels: enhancement, 0:] Ready-To-Go, DDP

#9051 FIx mypy for init_ddp_connection
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, refactors / code health

#9023 Remove TrainingTypePlugin.on_save and Accelerator.on_save
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: 0:] Ready-To-Go, refactors / code health, API / design, checkpoint, breaking change

#9030 Add docstrings in mlflow logger class
  pytorch_lightning/loggers/mlflow.py
Labels: 0:] Ready-To-Go, documentation, logger

#9038 Fixes colab links for lightning in 2steps documentation
  docs/source/starter/new-project.rst
Labels: tutorial / example, 0:] Ready-To-Go, documentation

#9056 Update Changelog with weekly releases
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#9047 2/n inter batch parallelism
  CHANGELOG.md
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/processors/iterator_batch_processor.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/utilities/fetching.py
  tests/utilities/test_fetching.py
Labels: enhancement, 0:] Ready-To-Go

#9055 Update correct var name, from `step` to `stage`
  docs/source/starter/introduction_guide.rst
Labels: 0:] Ready-To-Go, documentation

#8944 Add `ShardedTensor` support in `LightningModule`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/imports.py
  tests/conftest.py
  tests/core/test_lightning_module.py
Labels: enhancement, 0:] Ready-To-Go, checkpoint

#9045 Simplify checkpoint connector loading after Checkpoint IO plugin's introduction
  CHANGELOG.md
  pytorch_lightning/plugins/io/torch_plugin.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/accelerators/test_cpu.py
  tests/plugins/test_checkpoint_io_plugin.py
Labels: 0:] Ready-To-Go, refactors / code health, checkpoint, breaking change

#8929 feat: Add Rich Progress Bar
  CHANGELOG.md
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/progress/__init__.py
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/progress/progress.py
  pytorch_lightning/callbacks/progress/rich_progress.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/imports.py
  pytorch_lightning/utilities/model_summary.py
  tests/callbacks/test_rich_progress_bar.py
  tests/helpers/runif.py
Labels: enhancement, 0:] Ready-To-Go, callbacks

#9011 update warning in docs regarding support of tuner features in DDP
  docs/source/advanced/lr_finder.rst
  docs/source/advanced/training_tricks.rst
Labels: 0:] Ready-To-Go, documentation

#9049 Add bfloat16 support to Lightning Trainer
  CHANGELOG.md
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/imports.py
  tests/models/test_amp.py
  tests/plugins/test_amp_plugins.py
  tests/utilities/test_argparse.py
Labels: enhancement, 0:] Ready-To-Go

#9031 sanitize arrays when logging as hyperparameters in TensorBoardLogger
  CHANGELOG.md
  pytorch_lightning/loggers/tensorboard.py
  tests/loggers/test_tensorboard.py
Labels: enhancement, 0:] Ready-To-Go, logger

#8949 Fix `datamodule.size` return value typing
  pytorch_lightning/core/datamodule.py
Labels: 0:] Ready-To-Go, documentation

#9077 disable coverage annotations
  .codecov.yml
Labels: 0:] Ready-To-Go, tests / CI, productivity

#9013 Fig logging with log_gpu_memory='min_max'
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: bug / fix, 0:] Ready-To-Go, logging

#9090 [Blocking CI] Fix pep8 error about unused imports
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/fit_loop.py
Labels: 0:] Ready-To-Go, Priority P0, refactors / code health

#9071 Fix `accumulated_grad_batches` typehint
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#7187 [2 / 3] improvements to saving and loading callback state
  CHANGELOG.md
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/callback_hook.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_lambda_function.py
  tests/checkpointing/test_model_checkpoint.py
  tests/trainer/connectors/test_callback_connector.py
Labels: enhancement, 0:] Ready-To-Go, Priority P0, checkpoint, callbacks

#9052 3/n inter batch parallelism
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/__init__.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/processors/__init__.py
  pytorch_lightning/loops/processors/iterator_batch_processor.py
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/fetching.py
  pytorch_lightning/utilities/signature_utils.py
  tests/checkpointing/test_trainer_checkpoint.py
  tests/loops/test_inter_batch_parallelism.py
  tests/loops/test_iterator_batch_processor.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/utilities/test_fetching.py
Labels: enhancement, 0:] Ready-To-Go, API / design

#9080 Add validate logic for precision
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/enums.py
  tests/accelerators/test_accelerator_connector.py
  tests/utilities/test_enums.py
Labels: enhancement, 0:] Ready-To-Go

#9087 Fix `old_loader` attribute in name `_PatchDataLoader.__init__`
  pytorch_lightning/trainer/connectors/data_connector.py
Labels: 0:] Ready-To-Go

#9093 Add doc strings to tensorboard logger class
  pytorch_lightning/loggers/tensorboard.py
Labels: 0:] Ready-To-Go

#9084 Add support for CPU AMP autocast
  CHANGELOG.md
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/imports.py
  tests/accelerators/test_cpu.py
  tests/models/test_amp.py
  tests/plugins/test_amp_plugins.py
Labels: enhancement, 0:] Ready-To-Go

#9105 unskip log_dir tests
  tests/trainer/properties/test_log_dir.py
Labels: 0:] Ready-To-Go, tests / CI

#9104 [docs] Add Mixed Precision detailed docs
  docs/source/advanced/mixed_precision.rst
  docs/source/conf.py
  docs/source/guides/speed.rst
  docs/source/index.rst
Labels: 0:] Ready-To-Go, documentation

#7508 Call any trainer function from the `LightningCLI`
  .azure-pipelines/gpu-tests.yml
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/run_examples.sh
  pl_examples/test_examples.py
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
  tests/special_tests.sh
  tests/utilities/test_cli.py
Labels: enhancement, 0:] Ready-To-Go, API / design, CLI

#9165 [docs] Add activation checkpointing information
  docs/source/advanced/advanced_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#9161 Make unimplemented dataloader hooks raise `NotImplementedError`
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  tests/core/test_datamodules.py
Labels: 0:] Ready-To-Go, refactors / code health, data / DataModule

#9098 deprecate `on_{train/val/test/predict}_dataloader()` from DataHooks
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/configuration_validator.py
  tests/deprecated_api/test_remove_1-7.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, data / DataModule, deprecation

#9169 Fix a typo `data_fecher` -> `data_fetcher`
  pytorch_lightning/utilities/auto_restart.py
Labels: 0:] Ready-To-Go, refactors / code health

#9168 Make device and dtype required in `apply_func`
  pytorch_lightning/utilities/apply_func.py
Labels: 0:] Ready-To-Go, refactors / code health

#9189 remove redundant `_process_closure_result` from training loop
  pytorch_lightning/loops/batch/training_batch_loop.py
Labels: 0:] Ready-To-Go, refactors / code health

#9178 removing legacy profiler arg
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/profiler/pytorch.py
  tests/deprecated_api/test_remove_1-5.py
  tests/profiler/test_profiler.py
Labels: 0:] Ready-To-Go, profiler

#9192 move `block_ddp_sync_behaviour` to utilities
  CHANGELOG.md
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/utilities.py
Labels: 0:] Ready-To-Go, refactors / code health

#9188 remove calls to internal dev debugger in training- and eval loop
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/utilities/debugging.py
  tests/trainer/test_dataloaders.py
Labels: enhancement, 0:] Ready-To-Go, tests / CI

#9203 Fix callback instantiation with CLI subcommands
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: bug / fix, 0:] Ready-To-Go, CLI

#9198 move `TrainingBatchLoop.build_kwargs` to utilities
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/utilities.py
Labels: 0:] Ready-To-Go, refactors / code health

#9182 Add mocked function assert to test_error_handling_all_stages
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, tests / CI

#9209 scheduled removal of `Trainer.running_sanity_check`
  CHANGELOG.md
  pytorch_lightning/trainer/deprecated_api.py
  tests/deprecated_api/test_remove_1-5.py
Labels: enhancement, 0:] Ready-To-Go, refactors / code health, API / design

#9213 Remove deprecated property `ModelCheckpoint.period` in favor of `ModelCheckpoint.every_n_epochs`
  CHANGELOG.md
  docs/source/common/weights_loading.rst
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, checkpoint, deprecation, breaking change

#9150 [bugfix] Changed CometLogger to stop modifying metrics in place
  CHANGELOG.md
  pytorch_lightning/loggers/comet.py
  tests/loggers/test_comet.py
Labels: bug / fix, 0:] Ready-To-Go, logger

#9214 scheduled removal of BaseProfiler.output_filename in favor of dirpath…
  CHANGELOG.md
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/advanced.py
  pytorch_lightning/profiler/base.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/profiler/simple.py
  pytorch_lightning/profiler/xla.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, deprecation, profiler, breaking change

#9222 Deprecate `process_position` from the Trainer constructor
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
Labels: 0:] Ready-To-Go, API / design, deprecation

#9227 Some fixes to the trainer docstring
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation
