Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-11, with the labels that each got.

#10282 Link to arxiv summary instead of pdf in pruning docs
  docs/source/advanced/pruning_quantization.rst
  pytorch_lightning/callbacks/pruning.py
Labels: 0:] Ready-To-Go, documentation

#10281 Changelog fixes for Lightning 1.5 release
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#10271 Remove `reinit_schedulers_properties`
  pytorch_lightning/plugins/precision/apex_amp.py
Labels: 0:] Ready-To-Go, refactors / code health

#10274 Attach model parallelism video inside docs
  docs/source/advanced/advanced_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#10251 Fix `distrib_type` not being set when Plugin instances being passed to Trainer
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/trainer/test_trainer.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0

#10266 switch azure pool
  .azure-pipelines/gpu-tests.yml
Labels: enhancement, 0:] Ready-To-Go, tests / CI

#10238 enable `on_load_checkpoint` for `datamodule` for all `trainer_fn`
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
Labels: enhancement, 0:] Ready-To-Go, data / DataModule

#10289 Add Lite to required files for MyPy
  pyproject.toml
Labels: 0:] Ready-To-Go, tests / CI, Priority P2

#10078 Exclude `docs/` from default pytest directories
  setup.cfg
Labels: 0:] Ready-To-Go, tests / CI

#10123 Changed the model size calculation using `ByteCounter`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/memory.py
Labels: enhancement, 0:] Ready-To-Go

#10235 Remove unnecessary NotImplementedError used in Training Type Plugin
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
Labels: 0:] Ready-To-Go, refactors / code health

#10288 Add `configure_columns` method to RichProgressBar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: enhancement, 0:] Ready-To-Go, callbacks

#10286 Allow separate config files for parameters with class type when LightningCLI is in subclass_mode=False
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
Labels: bug / fix, 0:] Ready-To-Go, CLI

#10279 Add custom dataloader support with Lite
  CHANGELOG.md
  pytorch_lightning/lite/lite.py
  pytorch_lightning/lite/wrappers.py
  tests/lite/test_lite.py
  tests/lite/test_wrappers.py
Labels: enhancement, 0:] Ready-To-Go, lite

#10246 Add support for empty `gpus` list to run on CPU
  CHANGELOG.md
  pytorch_lightning/utilities/device_parser.py
  tests/models/test_gpu.py
Labels: enhancement, 0:] Ready-To-Go

#10296 Add missing deprecation notes for deprecated Trainer flags
  docs/source/common/trainer.rst
Labels: 0:] Ready-To-Go, documentation, deprecation

#10293 Update docs for devices flag
  docs/source/common/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#10295 Update init_ddp_connection's name and log
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, DDP

#10247 Add warning if multiple batch_sizes are found from ambiguous batch
  CHANGELOG.md
  pytorch_lightning/utilities/data.py
  tests/utilities/test_data.py
Labels: enhancement, 0:] Ready-To-Go

#10300 Protect ByteCounter
  pytorch_lightning/utilities/memory.py
Labels: 0:] Ready-To-Go, refactors / code health

#10304 Fix yielding from iterator in LiteDataLoader
  pytorch_lightning/lite/wrappers.py
  tests/lite/test_wrappers.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0, lite

#10305 [Hotfix][Rich] Only enable pulse for infinite datasets
  pytorch_lightning/callbacks/progress/rich_progress.py
Labels: bug / fix, 0:] Ready-To-Go

#10303 Lite Docs and Example Improvements
  .azure-pipelines/gpu-tests.yml
  .gitignore
  docs/source/starter/lightning_lite.rst
  pl_examples/README.md
  pl_examples/basic_examples/README.md
  pl_examples/basic_examples/mnist_examples/image_classifier_4_lightning_module.py
  pl_examples/basic_examples/mnist_examples/image_classifier_5_lightning_datamodule.py
Labels: 0:] Ready-To-Go, documentation

#10301 Add `leave` argument to RichProgressBar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: enhancement, 0:] Ready-To-Go, Priority P0, API / design, callbacks

#9827 introduce has_len_all_ranks() to check the length of dataloader across ranks
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/utilities/data.py
  tests/accelerators/test_tpu.py
  tests/trainer/test_dataloaders.py
  tests/utilities/test_data.py
Labels: enhancement, 0:] Ready-To-Go, data / DataModule

#10306 Lightning 1.5 release
  CHANGELOG.md
  README.md
  pytorch_lightning/__about__.py
Labels: 0:] Ready-To-Go, documentation, Important

#10311 update ref to 1.5 as stable
  CHANGELOG.md
  README.md
Labels: 0:] Ready-To-Go, documentation

#10307 Add note for PyCharm users on configuration for `RichProgressBar`
  pytorch_lightning/callbacks/progress/rich_progress.py
Labels: 0:] Ready-To-Go, documentation, refactors / code health

#10316 Fix `apply_to_collection(defaultdict)`
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_apply_func.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0

#10094 Update signature of `LightningModule.training_step_end`
  docs/source/advanced/multi_gpu.rst
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation, refactors / code health, API / design

#10298 Add codeowners entry for Lite package
  .github/CODEOWNERS
Labels: 0:] Ready-To-Go, documentation, lite

#10322 Remove `TrainerModelHooksMixin`
  CHANGELOG.md
  pytorch_lightning/trainer/model_hooks.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health, deprecation, breaking change

#10310 Update issue template ads
  .github/ISSUE_TEMPLATE/code_improvement.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: 0:] Ready-To-Go, documentation

#10318 Update recommendation on `dataloader_idx`
  docs/source/common/lightning_module.rst
  docs/source/starter/introduction_guide.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  tests/accelerators/test_ipu.py
  tests/loops/test_training_loop_flow_scalar.py
  tests/models/test_amp.py
  tests/plugins/test_deepspeed_plugin.py
  tests/plugins/test_double_plugin.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, documentation

#10346 Remove deprecated `loaded_optimizer_states_dict` property
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#10325 Remove deprecated dataloader arguments in Trainer methods
  CHANGELOG.md
  docs/source/common/trainer.rst
  docs/source/guides/data.rst
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/tuning.py
  pytorch_lightning/utilities/cli.py
  tests/accelerators/test_ddp_spawn.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/callbacks/test_tqdm_progress_bar.py
  tests/deprecated_api/test_remove_1-6.py
  tests/models/test_hparams.py
  tests/models/test_tpu.py
  tests/trainer/test_dataloaders.py
  tests/utilities/test_auto_restart.py
Labels: enhancement, 0:] Ready-To-Go, breaking change

#10330 Update bfloat16 docs
  docs/source/advanced/mixed_precision.rst
Labels: 0:] Ready-To-Go, documentation

#10345 Fix failure when `DataLoader(batch_size=None)` is passed
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_data_loading.py
Labels: bug / fix, 0:] Ready-To-Go, data / DataModule

#10339 Remove deprecated method `ClusterEnvironment.creates_children`
  CHANGELOG.md
  pytorch_lightning/plugins/environments/cluster_environment.py
  tests/deprecated_api/test_remove_1-6.py
Labels: enhancement, 0:] Ready-To-Go, breaking change

#10269 Update Python testing
  .azure-pipelines/gpu-benchmark.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/events-nightly.yml
  dockers/base-cuda/Dockerfile
  dockers/base-ipu/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/ipu-ci-runner/Dockerfile
  dockers/release/Dockerfile
  dockers/tpu-tests/Dockerfile
Labels: 0:] Ready-To-Go, tests / CI

#10347 Update Lite docs
  docs/source/starter/lightning_lite.rst
Labels: 0:] Ready-To-Go, documentation, lite

#10350 Remove deprecated datamodule lifecycle properties
  CHANGELOG.md
  docs/source/extensions/datamodules.rst
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, data / DataModule, deprecation, breaking change

#10353 Remove deprecated property `is_slurm_managing_tasks` from accelerator connector
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, deprecation, breaking change

#10319 Add more trainer config tests
  tests/plugins/test_plugins_registry.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, tests / CI

#10368 Update `Trainer(precision)` docs
  docs/source/common/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#10357 Remove deprecated sync_batchnorm and num_nodes attributes in DDP plugins
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go

#10230 Move device parser utility function
  pytorch_lightning/lite/lite.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/device_parser.py
Labels: 0:] Ready-To-Go, refactors / code health, lite

#10370 Remove deprecated property `configure_slurm_dpp` from accelerator connector
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, deprecation, breaking change

#10366 Remove `every_n_val_epochs` from ModelCheckpoint
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loggers/wandb.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health, checkpoint, breaking change

#10334 Fix DataLoader inspection and re-instantiation in Lite
  CHANGELOG.md
  pytorch_lightning/lite/wrappers.py
  tests/lite/test_lite.py
Labels: bug / fix, 0:] Ready-To-Go, lite

#10372 Remove deprecated master_params attributes in PrecisionPlugin
  CHANGELOG.md
  pytorch_lightning/plugins/precision/precision_plugin.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, deprecation, breaking change

#10388 Fix pickling error with CSVLogger
  CHANGELOG.md
  pytorch_lightning/loggers/csv_logs.py
  tests/loggers/test_all.py
Labels: bug / fix, 0:] Ready-To-Go, logger

#10376 Revert part of #10279
  pytorch_lightning/lite/lite.py
  tests/lite/test_lite.py
Labels: bug / fix, 0:] Ready-To-Go, data / DataModule, lite

#10367 Drop torch 1.6 support
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/events-nightly.yml
  .github/workflows/release-docker.yml
  CHANGELOG.md
  environment.yml
  requirements.txt
  requirements/adjust_versions.py
  requirements/examples.txt
  requirements/extra.txt
Labels: 0:] Ready-To-Go, tests / CI

#10103 Rename "master" methods to "main" in ClusterEnvironment plugins
  CHANGELOG.md
  docs/source/clouds/cluster.rst
  docs/source/common/trainer.rst
  docs/source/guides/speed.rst
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/plugins/environments/cluster_environment.py
  pytorch_lightning/plugins/environments/kubeflow_environment.py
  pytorch_lightning/plugins/environments/lightning_environment.py
  pytorch_lightning/plugins/environments/lsf_environment.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/utilities/distributed.py
  tests/accelerators/test_accelerator_connector.py
  tests/deprecated_api/test_remove_1-7.py
  tests/models/test_tpu.py
  tests/plugins/environments/test_kubeflow_environment.py
  tests/plugins/environments/test_lightning_environment.py
  tests/plugins/environments/test_lsf_environment.py
  tests/plugins/environments/test_slurm_environment.py
  tests/plugins/environments/test_torchelastic_environment.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, API / design, breaking change

#10280 Hyperparameters docs refresh
  docs/source/common/hyperparameters.rst
Labels: 0:] Ready-To-Go, documentation

#10403 Remove deprecated accelerator pass through functions in Accelerator
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, deprecation, breaking change

#10418 Raise exceptions when torch distributed is not available
  CHANGELOG.md
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, DDP

#10409 disable step logging in epoch hooks
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: bug / fix, 0:] Ready-To-Go, logging

#10428 Fix deadlocks for distributed training for RichProgressBar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0, callbacks, rich

#10429 Fix converting only float type tensors in Lite
  CHANGELOG.md
  pytorch_lightning/lite/wrappers.py
  tests/lite/test_wrappers.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0, lite

#10412 Convert property into attribute
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
Labels: 0:] Ready-To-Go, refactors / code health

#10423 Remove deprecated `self.log` arguments
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#10432 [Fault Tolerance] Don't check the len of a dataset, but its instance.
  pytorch_lightning/trainer/data_loading.py
Labels: bug / fix, 0:] Ready-To-Go, fault tolerance

#10434 Resolve workers being forcelly deleted with `persistent_workers=True`
  CHANGELOG.md
  pytorch_lightning/utilities/fetching.py
  tests/loops/test_loops.py
Labels: bug / fix, 0:] Ready-To-Go, Priority P0

#10424 Do not autodetach extras
  CHANGELOG.md
  pytorch_lightning/loops/optimization/closure.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#10328 Make `monitor` required arg of EarlyStopping callback
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/callbacks/early_stopping.py
  tests/callbacks/test_early_stopping.py
  tests/deprecated_api/test_remove_1-6.py
  tests/trainer/connectors/test_callback_connector.py
  tests/trainer/flags/test_fast_dev_run.py
Labels: enhancement, 0:] Ready-To-Go, breaking change

#10442 Remove deprecated `DeviceDtypeModuleMixin` import
  CHANGELOG.md
  pytorch_lightning/utilities/device_dtype_mixin.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#10441 Remove deprecated `task_idx`
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#10374 Enable distributed training with CombinedDataLoader and max_size_cycle
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/supporters.py
  tests/trainer/test_supporters.py
Labels: bug / fix, 0:] Ready-To-Go, DDP, data / DataModule

#10439 Update Changelog for v1.5.1
  CHANGELOG.md
Labels: 0:] Ready-To-Go, documentation

#10443 Remove deprecated profiler import
  CHANGELOG.md
  pytorch_lightning/profiler/profilers.py
  tests/profiler/test_profiler.py
Labels: 0:] Ready-To-Go, refactors / code health, breaking change

#9702 Fix support for dataclasses with ClassVar/InitVar in `apply_to_collection`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/apply_func.py
  tests/core/test_results.py
  tests/models/test_tpu.py
  tests/utilities/test_apply_func.py
Labels: bug / fix, 0:] Ready-To-Go

#10448 Remove more deprecated methods from base `Accelerator` class
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
Labels: 0:] Ready-To-Go, breaking change

#10451 Remove deprecated `utilities.distributed.rank_zero_{warn,deprecation}`
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_monitor.py
  pytorch_lightning/utilities/distributed.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, deprecation, breaking change

#10446 Update tests to avoid the deprecated `weights_summary`
  pytorch_lightning/core/lightning.py
  pytorch_lightning/tuner/batch_size_scaling.py
  tests/callbacks/test_model_summary.py
  tests/deprecated_api/test_remove_1-7.py
  tests/tuner/test_scale_batch_size.py
  tests/utilities/test_model_summary.py
Labels: 0:] Ready-To-Go, tests / CI

#10454 Change attributes of `RichProgressBarTheme` dataclass
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: 0:] Ready-To-Go, refactors / code health, rich

#10482 remove deprecated train_loop
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health

#10461 Squeeze the early stopping monitor
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  tests/callbacks/test_early_stopping.py
Labels: bug / fix, 0:] Ready-To-Go

#10449 Remove deprecated `mode` argument from ModelSummary
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/model_summary.py
  tests/deprecated_api/test_remove_1-6.py
  tests/utilities/test_model_summary.py
Labels: 0:] Ready-To-Go, deprecation, breaking change

#10480 remove deprecated signature for `transfer_batch_to_device`
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/core/lightning.py
  tests/accelerators/test_dp.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health

#10390 Drop torch 1.6 testing
  pytorch_lightning/callbacks/quantization.py
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/overrides/torch_distributed.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/cloud_io.py
  pytorch_lightning/utilities/imports.py
  pytorch_lightning/utilities/seed.py
  tests/callbacks/test_quantization.py
  tests/conftest.py
  tests/core/test_metric_result_integration.py
  tests/helpers/datamodules.py
  tests/loops/optimization/test_optimizer_loop.py
  tests/loops/test_loops.py
  tests/plugins/test_double_plugin.py
  tests/profiler/test_profiler.py
  tests/trainer/connectors/test_checkpoint_connector.py
  tests/trainer/connectors/test_signal_connector.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_supporters.py
  tests/utilities/test_auto_restart.py
Labels: 0:] Ready-To-Go, tests / CI

#10463 shutdown workers on failure
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/loops/test_loops.py
Labels: bug, ready, 0:] Ready-To-Go

#10525 Remove deprecated `hpc_load` in `CheckpointConnector`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/deprecated_api/test_remove_1-6.py
Labels: refactor, breaking change, 0:] Ready-To-Go

#10507 Remove deprecated `is_overridden(model=...)`
  CHANGELOG.md
  pytorch_lightning/utilities/model_helpers.py
  tests/deprecated_api/test_remove_1-6.py
Labels: ready, refactor, breaking change, 0:] Ready-To-Go

#10537 Update issue templates after label revamp
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor.md
Labels: 0:] Ready-To-Go

#10532 Update configs with new GitHub labels
  .github/mergify.yml
  .github/stale.yml
Labels: priority: 0, ci, 0:] Ready-To-Go

#10531 Enable the auto-cc bot
  .github/lightning-probot.yml
  .github/workflows/probot-auto-cc.yml
Labels: feature, ready, ci, 0:] Ready-To-Go

#10502 Remove deprecated `stochastic_weight_avg` example from the docs
  docs/source/advanced/training_tricks.rst
Labels: ready, docs, 0:] Ready-To-Go

#10505 Deprecate `DistributedType` in favor of `StrategyType`
  CHANGELOG.md
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/enums.py
  tests/accelerators/test_accelerator_connector.py
  tests/base/model_test_epoch_ends.py
  tests/deprecated_api/test_remove_1-8.py
  tests/helpers/pipelines.py
  tests/lite/test_lite.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, deprecation

#10450 Remove deprecated `disable_validation` property from Trainer
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-6.py
Labels: ready, deprecation, breaking change

#10493 Resolve instantiation problem with init_meta_context
  CHANGELOG.md
  pytorch_lightning/core/mixins/device_dtype_mixin.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/meta.py
  tests/utilities/test_meta.py
Labels: bug, ready, experimental

#10520 Avoid deprecated `progress_bar_refresh_rate` usage
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/callback_connector.py
  tests/callbacks/test_tqdm_progress_bar.py
  tests/loops/test_loops.py
  tests/trainer/connectors/test_callback_connector.py
Labels: ready, tests, progress bar: tqdm

#10470 Fix `to_torchscript()` causing false positive deprecation warnings
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
Labels: bug, ready

#10486 fix overfit_batch sampler replacement logic
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/flags/test_overfit_batches.py
Labels: bug, ready

#10550 Skip strategy=ddp_spawn, accelerator=cpu, python>=3.9 tests
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_torch_saving.py
  tests/deprecated_api/test_remove_1-7.py
  tests/helpers/runif.py
  tests/loggers/test_all.py
  tests/models/test_cpu.py
  tests/models/test_horovod.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/profiler/test_profiler.py
  tests/trainer/logging_/test_distributed_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/properties/test_get_model.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_trainer.py
  tests/utilities/test_all_gather_grad.py
Labels: ready, priority: 0, tests

#10514 Fix loop examples after Accelerator API removals
  pl_examples/loop_examples/kfold.py
  pl_examples/loop_examples/yielding_training_step.py
Labels: bug, example, ready

#10481 remove deprecated `reload_dataloaders_every_epoch` from `Trainer`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-6.py
  tests/models/test_hooks.py
  tests/trainer/test_dataloaders.py
Labels: ready, refactor

#10545 Don't collapse Lightning API section in the docs
  docs/source/_templates/layout.html
Labels: ready, docs

#10438 [DeepSpeed] Do not fail if batch size could not be inferred for logging
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: bug, ready, strategy: deepspeed

#10555 Fix scripting causing false positive deprecation warnings
  CHANGELOG.md
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/plugins/training_type/ipu.py
Labels: bug, ready, accelerator: ipu, logger: tensorboard

#10554 Mock GPU accelerator connector tests
  tests/accelerators/test_accelerator_connector.py
Labels: ready, tests, accelerator: gpu

#10559 Fix propagation of device and dtype properties in Lite modules
  CHANGELOG.md
  pytorch_lightning/lite/wrappers.py
  tests/lite/test_wrappers.py
Labels: bug, ready, lightning-lite

#10544 Tune cc-bot settings
  .github/workflows/probot-auto-cc.yml
Labels: bug, ready, ci

#10577 Fix `caplog` with `logger.propagate=False`
  pytorch_lightning/__init__.py
  tests/conftest.py
  tests/utilities/test_warnings.py
Labels: ready, tests

#10569 Support special test parametrizations
  tests/accelerators/test_ddp.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_tqdm_progress_bar.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/conftest.py
  tests/helpers/runif.py
  tests/models/test_hooks.py
  tests/special_tests.sh
  tests/trainer/test_trainer.py
Labels: ready, ci

#10579 Use single quotes in action job
  .github/workflows/probot-auto-cc.yml
Labels: ready, ci

#10591 Simplify hanging queue test
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, tests

#9940 Fail the test when a `DeprecationWarning` is raised
  benchmarks/test_basic_parity.py
  pl_examples/basic_examples/mnist_datamodule.py
  pytorch_lightning/utilities/enums.py
  setup.cfg
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_cpu.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/callbacks/test_lambda_function.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-7.py
  tests/loggers/test_all.py
  tests/models/test_hooks.py
  tests/plugins/test_amp_plugins.py
  tests/plugins/test_ddp_plugin_with_comm_hook.py
  tests/plugins/test_ddp_spawn_plugin.py
  tests/plugins/test_deepspeed_plugin.py
  tests/profiler/test_profiler.py
  tests/trainer/flags/test_min_max_epochs.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_supporters.py
  tests/trainer/test_trainer.py
  tests/utilities/test_cli.py
Labels: ready, priority: 0, ci, tests

#10102 Improve code quality in `AcceleratorConnector._configure_slurm_ddp`
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/models/test_restore.py
Labels: ready, refactor, environment: slurm

#10590 Update changelog after 1.5.2 release
  CHANGELOG.md
Labels: ready, docs

#10522 log metrics for correct dataloader only
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug, ready

#10601 Control automatic resubmission on SLURM
  CHANGELOG.md
  docs/source/clouds/cluster.rst
  pytorch_lightning/plugins/environments/cluster_environment.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/trainer/connectors/signal_connector.py
  tests/plugins/environments/test_slurm_environment.py
  tests/trainer/connectors/test_signal_connector.py
Labels: ready, environment: slurm

#10553 Refactor progress bar initialization to avoid extra attribute set on Trainer
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor

#10570 1/n Move precision plugin into strategy - update reference
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
  tests/plugins/test_ddp_fully_sharded_with_full_state_dict.py
  tests/plugins/test_deepspeed_plugin.py
Labels: ready, refactor, breaking change

#10578 Use `update_wrapper` in test_hooks.py
  tests/models/test_hooks.py
Labels: ready, tests, hooks

#10627 Fix failing master due to an interaction between PRs
  tests/models/test_hooks.py
Labels: ready, priority: 0, tests

#10614 Move benchmarks into the test directory
  .azure-pipelines/gpu-benchmark.yml
  .azure-pipelines/gpu-tests.yml
  benchmarks/__init__.py
  pyproject.toml
  tests/benchmarks/__init__.py
  tests/benchmarks/generate_comparison.py
  tests/benchmarks/test_basic_parity.py
  tests/benchmarks/test_sharded_parity.py
  tests/special_tests.sh
Labels: ready, ci

#10610 Don't register signal in thread
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/signal_connector.py
  tests/trainer/connectors/test_signal_connector.py
Labels: bug, ready

#10497 Add `refresh_rate` to RichProgressBar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: ready, has conflicts, breaking change, progress bar: rich

#10626 Remove redundant fit call from accelerator connector test
  tests/accelerators/test_accelerator_connector.py
Labels: ready, tests

#10564 Introduce `ClusterEnvironment.detect()`
  pytorch_lightning/plugins/environments/cluster_environment.py
  pytorch_lightning/plugins/environments/kubeflow_environment.py
  pytorch_lightning/plugins/environments/lightning_environment.py
  pytorch_lightning/plugins/environments/lsf_environment.py
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/device_parser.py
  tests/deprecated_api/test_remove_1-7.py
  tests/plugins/environments/test_kubeflow_environment.py
  tests/plugins/environments/test_lightning_environment.py
  tests/plugins/environments/test_lsf_environment.py
  tests/plugins/environments/test_slurm_environment.py
  tests/plugins/environments/test_torchelastic_environment.py
Labels: feature, ready, refactor, environment: slurm, deprecation, breaking change, environment, environment: kubeflow, environment: lightning, environment: lsf, environment: torchelastic, plugin

#10145 Extract dataloader utilities from `TrainerDataLoadingMixin`
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/utilities/data.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
Labels: ready, refactor, data handling, design

#10613 Lite: Don't pop value if they don't exist
  CHANGELOG.md
  pytorch_lightning/lite/wrappers.py
Labels: bug, ready, lightninglite

#7614 MANIFEST.in and setup.py clean-up
  .github/workflows/ci_pkg-install.yml
  MANIFEST.in
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/run_examples.sh
  pl_examples/test_examples.py
  requirements/test.txt
  setup.cfg
  setup.py
  tests/helpers/datasets.py
  tests/special_tests.sh
Labels: bug, ready, refactor

#10076 Respect the passed dtype with `self.log`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/core/test_metric_result_integration.py
  tests/trainer/logging_/test_logger_connector.py
Labels: bug, ready, logging

#10521 Added boring model as a ipynb so it can be updated
  .github/ISSUE_TEMPLATE/bug_report.md
  pl_examples/bug_report/The_BoringModel.ipynb
  pl_examples/bug_report/bug_report_model.py
  tests/loops/test_loops.py
Labels: bug, example, ready

#10408 Fix an issue that caused Lightning to extract the batch size even though it was set by the user in `LightningModule.log`
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/data.py
  tests/deprecated_api/__init__.py
  tests/loops/test_loop_state_dict.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/utilities/test_data.py
Labels: bug, ready, logging

#10552 Use `priority: 0` GitHub label in CI configs
  .github/stale.yml
Labels: ready, ci

#10406 make `get_nvidia_gpu_stats` public
  pytorch_lightning/accelerators/gpu.py
Labels: ready, design

#10426 LightningCLI changes for jsonargparse>=4.0.0
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/imports.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: ready, lightningcli

#10421 Fix documentation for every_n_epochs parameter of ModelCheckpoint
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: ready, docs, checkpointing

#10621 Check torch.distributed availability before sharded tensor state dict hook registration
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
Labels: bug, ready, lightningmodule

#10052 Remove the "_precision" suffix from some precision plugin files
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/precision/__init__.py
  pytorch_lightning/plugins/precision/deepspeed.py
  pytorch_lightning/plugins/precision/ipu.py
  tests/plugins/test_deepspeed_plugin.py
Labels: ready, refactor, breaking change

#10625 LiteDataLoader code improvements and docs
  pytorch_lightning/lite/lite.py
  pytorch_lightning/lite/wrappers.py
Labels: ready, docs, refactor, data handling, lightninglite

#10501 Moved `env_vars_connector._defaults_from_env_vars` to `utilities.argsparse._defaults_from_env_vars`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/env_vars_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/argparse.py
Labels: ready, refactor, deprecation

#10665 update bug_report model links and notebook
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/source/advanced/fault_tolerant_training.rst
  pl_examples/bug_report/The_BoringModel.ipynb
  pl_examples/bug_report/bug_report_model.ipynb
  pl_examples/bug_report/bug_report_model.py
Labels: example, ready

#10567 Remove metrics references from docs
  docs/source/advanced/multi_gpu.rst
  docs/source/extensions/logging.rst
  docs/source/extensions/metrics.rst
  docs/source/index.rst
  pyproject.toml
Labels: ready, docs

#10671 Fix docs filterwarnings snippet
  docs/source/guides/speed.rst
  pytorch_lightning/trainer/data_loading.py
Labels: ready, docs

#10645 1/n Add `FaultTolerantMode`
  CHANGELOG.md
  pytorch_lightning/trainer/states.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/enums.py
  tests/utilities/test_auto_restart.py
Labels: ready, fault tolerance

#10631 Fix `move_metrics_to_cpu` with evaluation
  CHANGELOG.md
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug, ready, logging, trainer: validate, trainer: test

#10620 Small improvements to `_init_debugging_flags`
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_dataloaders.py
Labels: ready, refactor

#10541 Raise an error if batch_size cannot be inferred from current batch
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/data.py
  tests/utilities/test_data.py
Labels: bug, ready, logging

#10673 Use `Set` operations in `Environment.detect`
  pytorch_lightning/plugins/environments/kubeflow_environment.py
  pytorch_lightning/plugins/environments/lsf_environment.py
  pytorch_lightning/plugins/environments/torchelastic_environment.py
Labels: refactor, environment

#10622 refactor slurm_job_id
  CHANGELOG.md
  pytorch_lightning/plugins/environments/slurm_environment.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, environment: slurm, deprecation

#10658 Update DDPShardedPlugin precision handling after moving PrecisionPlugin
  pytorch_lightning/lite/lite.py
  pytorch_lightning/plugins/training_type/sharded.py
Labels: ready, refactor, lightninglite, strategy: sharded

#10668 docs: remove import of datasets separately since unused
  docs/source/starter/introduction_guide.rst
Labels: ready, docs

#10646 Fault Tolerant Manual: Add _SupportsStateDict to validate a class is stateful
  CHANGELOG.md
  pytorch_lightning/utilities/auto_restart.py
  tests/utilities/test_auto_restart.py
Labels: feature, ready, fault tolerance

#10637 Update `LightningModule` docs
  docs/source/common/lightning_module.rst
  pytorch_lightning/core/hooks.py
  tests/models/test_hooks.py
  tests/trainer/test_dataloaders.py
Labels: ready, docs, lightningmodule

#10647 Fault Tolerant Manual: Add _rotate_worker_indices utility
  CHANGELOG.md
  pytorch_lightning/utilities/auto_restart.py
  tests/utilities/test_auto_restart.py
Labels: ready, refactor, fault tolerance
