Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-01, with the labels that each got.

#5241 [Metrics] R2Score
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/r2score.py
  pytorch_lightning/metrics/regression/__init__.py
  pytorch_lightning/metrics/regression/r2score.py
  tests/metrics/regression/test_r2score.py
Labels: Metrics, enhancement

#5321 drop deprecated checkpoint filepath
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-2.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5322 drop deprecated fbeta metrics
  CHANGELOG.md
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  tests/deprecated_api/test_remove_1-2.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5327 Sequential model parallel with multi nodes regarding --num_nodes
  pytorch_lightning/plugins/ddp_sequential_plugin.py
Labels: bug / fix

#5331 Refactor/prune unused EvalModel methods
  tests/base/model_optimizers.py
  tests/base/model_test_steps.py
  tests/base/model_train_steps.py
  tests/base/model_valid_epoch_ends.py
  tests/base/model_valid_steps.py
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI

#5335 update isort config
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/conv_sequential_example.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/simple_image_classifier.py
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pl_examples/domain_templates/imagenet.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pl_examples/domain_templates/semantic_segmentation.py
  pyproject.toml
  pytorch_lightning/setup_tools.py
  tests/conftest.py
  tests/test_profiler.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5323 drop deprecated TrainResult
  CHANGELOG.md
  pytorch_lightning/core/step_result.py
  pytorch_lightning/overrides/data_parallel.py
  tests/base/model_train_steps.py
  tests/base/model_valid_steps.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_results.py
  tests/models/test_cpu.py
  tests/models/test_sync_batchnorm.py
  tests/trainer/test_correct_freq_accumulation.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5336 CI: unique docs artefact name
  .github/workflows/docs-checks.yml
Labels: 0:] Ready-To-Go, tests / CI

#5320 mark todo exceptions
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/cluster_environments/slurm_environment.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/debugging.py
  pytorch_lightning/utilities/xla_device.py
  tests/base/datasets.py
  tests/base/develop_utils.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5229 black formatting and migrated to self.log logging in finetuning example
  pl_examples/domain_templates/computer_vision_fine_tuning.py
Labels: 0:] Ready-To-Go, bug / fix, enhancement, tutorial / example

#5283 Reordered Trainer doc page for intuitive browsing.
  docs/source/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#5340 docs: logits -> probs in Accuracy metric documentation
  docs/source/metrics.rst
Labels: 0:] Ready-To-Go, Metrics, documentation

#5297 Refactor: clean trainer device & distrib setters
  CHANGELOG.md
  benchmarks/test_sharded_parity.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/plugins/plugin_connector.py
  pytorch_lightning/trainer/deprecated_api.py
  tests/backends/test_accelerator_connector.py
  tests/checkpointing/test_torch_saving.py
  tests/deprecated_api/test_remove_1-4.py
  tests/plugins/test_amp_plugin.py
  tests/plugins/test_apex_plugin.py
  tests/plugins/test_ddp_plugin.py
  tests/plugins/test_plugin.py
  tests/plugins/test_rpc_plugin.py
  tests/plugins/test_sharded_plugin.py
  tests/trainer/properties/test_get_model.py
Labels: 0:] Ready-To-Go, Refactors and code health, bug / fix, enhancement

#1959 Add Support for multiple train loaders
  CHANGELOG.md
  docs/source/multiple_loaders.rst
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/data.py
  tests/base/model_train_dataloaders.py
  tests/base/model_train_steps.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_supporters.py
Labels: 0:] Ready-To-Go, API / design, Priority P0, enhancement, help wanted

#5164 [Docs] update docs for resume_from_checkpoint
  docs/source/trainer.rst
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, documentation

#4402 Add non-existing resume_from_checkpoint acceptance for auto-resubmit
  CHANGELOG.md
  docs/source/conf.py
  environment.yml
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  requirements.txt
  requirements/docs.txt
  tests/models/test_restore.py
Labels: 0:] Ready-To-Go, API / design, Checkpoint, enhancement

#5277 Disable checkpointing, earlystopping and logging with fast_dev_run
  CHANGELOG.md
  docs/source/debugging.rst
  docs/source/trainer.rst
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/lr_monitor.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/progress.py
  pytorch_lightning/trainer/connectors/debugging_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
  tests/loggers/test_all.py
  tests/trainer/flags/test_fast_dev_run.py
Labels: 0:] Ready-To-Go, API / design, bug / fix

#5338 Add a check for optimizer attached to lr_scheduler
  CHANGELOG.md
  pytorch_lightning/trainer/optimizers.py
  tests/trainer/test_optimizers.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5333 Allow log_momentum for adaptive optimizers
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_monitor.py
  tests/callbacks/test_lr_monitor.py
Labels: 0:] Ready-To-Go, Logging, bug / fix

#5296 Fix invalid value for weights_summary
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/core/test_memory.py
Labels: 0:] Ready-To-Go, bug / fix

#5352 hotfix: dataloaders - add unimplemented methods
  pytorch_lightning/trainer/supporters.py
  tests/base/model_train_dataloaders.py
  tests/base/model_train_steps.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_supporters.py
Labels: Priority P0, bug / fix

#5161 [bug-fix] Trainer.test points to latest best_model_path
  .drone.yml
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/plugins/rpc_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/training_loop.py
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_trainer_checkpoint.py
  tests/plugins/test_ddp_sequential_plugin.py
  tests/special_tests.sh
Labels: Checkpoint

#5232 Change the classifier input from 2048 to 1000.
  docs/source/transfer_learning.rst
Labels: 0:] Ready-To-Go, documentation, tutorial / example

#5348 Updated metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/precision_recall.py
Labels: 0:] Ready-To-Go, Metrics, documentation

#4860 refactor imports of logger dependencies
  .github/workflows/ci_test-base.yml
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  tests/checkpointing/test_model_checkpoint.py
  tests/loggers/test_mlflow.py
Labels: 0:] Ready-To-Go, 3rd-party, Logger, Priority P1, Refactors and code health, enhancement

#5354 FIX Cast to string `_flatten_dict`
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/loggers/test_tensorboard.py
Labels: 0:] Ready-To-Go, bug / fix

#5365 Prepare 1.1.3 release
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  pl_examples/basic_examples/mnist_datamodule.py
  pytorch_lightning/__init__.py
  pytorch_lightning/plugins/rpc_plugin.py
  tests/checkpointing/test_model_checkpoint.py
Labels: documentation

#5380 [docs] Update FairScale install instructions
  docs/source/multi_gpu.rst
Labels: 0:] Ready-To-Go, DDP, documentation

#5203 docker: run ci only docker related files are changed
  .github/workflows/ci_dockers.yml
  .github/workflows/nightly.yml
  dockers/base-conda/Dockerfile
  environment.yml
Labels: Priority P0, tests / CI

#5366 drop duplicated metric helper
  pytorch_lightning/metrics/functional/confusion_matrix.py
  pytorch_lightning/metrics/utils.py
Labels: 0:] Ready-To-Go, Metrics, Refactors and code health

#5375 fix num_workers for Windows example
  CHANGELOG.md
  pl_examples/basic_examples/mnist_datamodule.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix, tutorial / example

#5387 Fix pre-commit hook failures.
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/how-to-question.md
  .github/workflows/docs-checks.yml
  MANIFEST.in
  docs/.build_docs.sh
  docs/Makefile
  docs/source/_static/main.css
  docs/source/asr_nlp_tts.rst
  docs/source/cloud_training.rst
  docs/source/datamodules.rst
  docs/source/introduction_guide.rst
  docs/source/loggers.rst
  docs/source/lr_finder.rst
  docs/source/metrics.rst
  docs/source/new-project.rst
  docs/source/optimizers.rst
  docs/source/sequences.rst
  docs/source/slurm.rst
  docs/source/test_set.rst
  docs/source/training_tricks.rst
  docs/source/transfer_learning.rst
  docs/source/weights_loading.rst
  pl_examples/README.md
  pl_examples/basic_examples/README.md
  requirements/devel.txt
  requirements/docs.txt
  requirements/examples.txt
  requirements/loggers.txt
  tests/README.md
Labels: 0:] Ready-To-Go, Priority P2, Refactors and code health

#4820 test_cpu and test_gpu EvalModelTemplate deprecation
  tests/base/develop_pipelines.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_cpu.py
  tests/models/test_gpu.py
  tests/models/test_hparams.py
  tests/models/test_restore.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, tests / CI

#5369 fix some minor typos in docs
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/metrics/functional/average_precision.py
  pytorch_lightning/metrics/functional/explained_variance.py
  pytorch_lightning/metrics/functional/f_beta.py
  pytorch_lightning/metrics/functional/mean_squared_error.py
  pytorch_lightning/metrics/functional/mean_squared_log_error.py
  pytorch_lightning/metrics/functional/precision_recall_curve.py
  pytorch_lightning/metrics/functional/psnr.py
  pytorch_lightning/metrics/functional/r2score.py
  pytorch_lightning/metrics/functional/roc.py
  pytorch_lightning/metrics/functional/ssim.py
  pytorch_lightning/metrics/utils.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/utilities/argparse.py
Labels: 0:] Ready-To-Go, documentation

#5218 [Feat] Cleanup ModelCheckpoint / EarlyStopping by moving logic to LoggerConnector
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/metrics_holder.py
  tests/trainer/logging/test_logger_connector.py
Labels: 0:] Ready-To-Go, Priority P1, Refactors and code health

#5056 added image-gradients (#4763) [1/2]
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/image_gradients.py
  tests/metrics/functional/test_image_gradients.py
Labels: 0:] Ready-To-Go, Metrics, enhancement

#4318 [Metrics] MetricCollection
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric.py
  tests/metrics/test_metric_lightning.py
Labels: Metrics, enhancement

#4704 Reformat iou [func] and add IoU class
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/iou.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/iou.py
  tests/deprecated_api/test_remove_1-4.py
  tests/metrics/classification/test_iou.py
  tests/metrics/functional/test_classification.py
Labels: API / design, Metrics

#5223 tests for legacy checkpoints
  .drone.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/nightly.yml
  .github/workflows/release-pypi.yml
  .gitignore
  MANIFEST.in
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  dockers/tpu-tests/Dockerfile
  legacy/checkpoints/.gitkeep
  legacy/generate_checkpoints.sh
  legacy/zero_training.py
  setup.py
  tests/__init__.py
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, Checkpoint, Priority P1, tests / CI

#5408 Enforce pre-commit to use a recent and fixed version of isort.
  .pre-commit-config.yaml
Labels: 0:] Ready-To-Go, productivity

#5195 [bug-fix] Call transfer_batch_to_device in DDPlugin
  CHANGELOG.md
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/ddp_sequential_plugin.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/apply_func.py
  tests/models/test_hooks.py
  tests/models/test_sync_batchnorm.py
  tests/special_tests.sh
Labels: 0:] Ready-To-Go, Priority P1

#5244 deprecate enable_pl_optimizer as it is not restored properly
  CHANGELOG.md
  README.md
  benchmarks/test_sharded_parity.py
  docs/source/new-project.rst
  docs/source/optimizers.rst
  docs/source/trainer.rst
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/plugins/ddp_sequential_plugin.py
  pytorch_lightning/plugins/native_amp.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/callbacks/test_callbacks.py
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_torch_saving.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/deprecated_api/test_remove_1-3.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/optimization/test_parity_automatic_optimization.py
  tests/trainer/optimization/test_parity_manual_optimization.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_trainer.py
Labels: API / design, bug / fix

#5377 Feat: Add BackboneLambdaFinetunningCallback
  CHANGELOG.md
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/logger_connector/callback_hook_validator.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callbacks.py
  tests/callbacks/test_finetunning_callback.py
  tests/trainer/logging/test_logger_connector.py
Labels: API / design, Callbacks, enhancement

#5417 [bugfix] Logging only on `not should_accumulate()` during training
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/loggers/test_all.py
  tests/loggers/test_tensorboard.py
  tests/trainer/logging_tests/test_train_loop_logging_1_0.py
Labels: Logger, Priority P0

#5221 Bugfix/all gather
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/distributed.py
  tests/special_tests.sh
  tests/utilities/test_all_gather_grad.py
Labels: API / design, bug / fix, enhancement

#5406 bugfix: Resolve interpolation bug with Hydra
  pytorch_lightning/core/saving.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/package_utils.py
  pytorch_lightning/utilities/parsing.py
  tests/models/conf/config.yaml
  tests/models/conf/training/default.yaml
  tests/models/test_hparams.py
Labels: bug / fix, enhancement

#5394 add promxial policy optimization template to pl_examples
  pl_examples/domain_templates/reinforce_learn_ppo.py
Labels: enhancement, tutorial / example

#5440 [tests/loggers] refactor with BoringModel
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/loggers/test_comet.py
  tests/loggers/test_mlflow.py
  tests/loggers/test_neptune.py
  tests/loggers/test_tensorboard.py
  tests/loggers/test_wandb.py
Labels: Refactors and code health, tests / CI

#5450 GH action - label conflicts
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  .github/workflows/events-recurrent.yml
Labels: 0:] Ready-To-Go, enhancement, productivity

#5438 fix typos in validation_step and test_step docs
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#5446 Allow Callback instance as an argument of `callbacks` in `Trainer`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callback_hook_outputs.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#5451 GH action - auto-update PRs
  .github/workflows/events-recurrent.yml
Labels: 0:] Ready-To-Go, enhancement, productivity

#5445 Add a performance section to TPU docs to address FAQ
  docs/source/tpu.rst
Labels: TPU, documentation

#5169 Add automatic optimization property setter to lightning module
  pytorch_lightning/core/lightning.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#5420 Fix pre-commit isort failure on tests/utilities/*.py
  pyproject.toml
  tests/utilities/test_dtype_device_mixin.py
  tests/utilities/test_upgrade_checkpoint.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5453 prune check on Trainer fit result
  tests/backends/test_ddp_spawn.py
  tests/backends/test_tpu_backend.py
  tests/base/develop_pipelines.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/callbacks/test_lr_monitor.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_datamodules.py
  tests/core/test_results.py
  tests/loggers/test_all.py
  tests/loggers/test_base.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_amp.py
  tests/models/test_cpu.py
  tests/models/test_grad_norm.py
  tests/models/test_hooks.py
  tests/models/test_horovod.py
  tests/models/test_restore.py
  tests/models/test_sync_batchnorm.py
  tests/models/test_tpu.py
  tests/trainer/flags/test_fast_dev_run.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_optimizers.py
  tests/trainer/test_states.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI

#5457 populate some more legacy checkpoints
  legacy/README.md
  legacy/generate_checkpoints.sh
  legacy/zero_training.py
  pytorch_lightning/core/lightning.py
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, Priority P1, enhancement, tests / CI

#4743 [BUG] Check environ before selecting a seed to prevent warning message
  pytorch_lightning/utilities/seed.py
  tests/utilities/test_seed.py
Labels: 0:] Ready-To-Go, bug / fix

#5255 Throw MisconfigurationError on unknown mode
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, enhancement

#5427 Fix pre-commit isort failure on tests/checkpointing/*.py
  pyproject.toml
  tests/checkpointing/test_trainer_checkpoint.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5476 [docs] Add ananthsub to core
  docs/source/governance.rst
Labels: 0:] Ready-To-Go, documentation

#5300 Refactor: clean trainer device & distrib getters
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/model_connector.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/enums.py
  tests/backends/test_accelerator_connector.py
  tests/base/deterministic_model.py
  tests/base/develop_pipelines.py
  tests/base/model_test_epoch_ends.py
  tests/deprecated_api/test_remove_1-4.py
Labels: 0:] Ready-To-Go, Priority P1, Refactors and code health

#5458 update nightly & upgrade Twine
  .github/prepare-nightly_pkg-name.py
  .github/prepare-nightly_version.py
  .github/workflows/ci_pkg-install.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-tpu.yml
  .github/workflows/code-formatting.yml
  .github/workflows/docs-checks.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-pypi.yml
  LICENSE
  pytorch_lightning/__init__.py
  requirements/test.txt
Labels: 0:] Ready-To-Go, Priority P1, tests / CI

#5389 unify LightningEnum
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/trainer/states.py
  pytorch_lightning/utilities/enums.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5480 ci: update recurrent events
  .github/workflows/events-ocasional.yml
  .github/workflows/events-recurrent.yml
Labels: 0:] Ready-To-Go, Priority P1, productivity, tests / CI

#5482 Prepare 1.1.4 Release
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: 0:] Ready-To-Go, documentation, has conflicts

#5489 fix generate checkpoint
  .github/workflows/release-pypi.yml
Labels: 0:] Ready-To-Go, Priority P1, tests / CI

#5466 update tests with new auto_opt api
  tests/core/test_lightning_optimizer.py
  tests/plugins/test_ddp_sequential_plugin.py
  tests/trainer/dynamic_args/test_multiple_optimizers.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, tests / CI

#5278 [Docs] fix on_after_backward example
  pytorch_lightning/core/hooks.py
Labels: 0:] Ready-To-Go, documentation

#5418 set minimal req. PT 1.4
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/nightly.yml
  .github/workflows/release-docker.yml
  CHANGELOG.md
  README.md
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  environment.yml
  requirements.txt
  requirements/examples.txt
  requirements/extra.txt
Labels: 0:] Ready-To-Go, Important, Priority P1, bug / fix, productivity, tests / CI

#5419 simplify training phase as Enum
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/states.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-4.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5467 Add missing val/test hooks in LightningModule
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  tests/models/test_hooks.py
Labels: API / design, Callbacks

#5432 [tests/core] Updated with BoringModel and added BoringDataModule
  pyproject.toml
  pytorch_lightning/trainer/configuration_validator.py
  tests/base/__init__.py
  tests/base/boring_model.py
  tests/base/develop_utils.py
  tests/core/test_datamodules.py
  tests/core/test_decorators.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/core/test_memory.py
  tests/core/test_metric_result_integration.py
  tests/core/test_results.py
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI

#5409 [Metrics] Disable default reset after compute
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/core/step_result.py
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric.py
  tests/metrics/test_metric_lightning.py
Labels: Metrics, enhancement

#5347 Add LambdaCallback
  CHANGELOG.md
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/lambda_function.py
  tests/callbacks/test_lambda_function.py
Labels: Callbacks, enhancement

#5402 Update notes on ddp_spawn accelerator in multi-gpu docs
  docs/source/multi_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#5496 fix auto-update conditions
  .github/workflows/events-ocasional.yml
  .github/workflows/events-recurrent.yml
Labels: 0:] Ready-To-Go, Priority P0, tests / CI

#5435 set find_unused_parameters=False in DDP as in pytorch
  CHANGELOG.md
  pytorch_lightning/plugins/ddp_plugin.py
  tests/models/test_sync_batchnorm.py
Labels: 0:] Ready-To-Go, API / design, enhancement, has conflicts

#5494 fix: pipeline release CI
  .github/workflows/release-pypi.yml
Labels: 0:] Ready-To-Go, tests / CI

#5185 Refactor LightningDistributedDataParallel
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/overrides/data_parallel.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/ddp_sequential_plugin.py
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/training_loop.py
  tests/deprecated_api/test_remove_1-4.py
  tests/overrides/__init__.py
  tests/overrides/test_data_parallel.py
Labels: 0:] Ready-To-Go, API / design, DDP, Priority P1, Refactors and code health, has conflicts

#5388 Refactor setup_training and remove test_mode
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/debugging.py
  tests/callbacks/test_callbacks.py
  tests/core/test_datamodules.py
  tests/models/test_hooks.py
  tests/models/test_torchscript.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_eval_loop_dict_return.py
  tests/trainer/logging_tests/test_eval_loop_logging_1_0.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, API / design, Refactors and code health, bug / fix, enhancement

#5495 add section & add testing ckpt 1.1.4
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, documentation, tests / CI

#4579 Fix visual progress bar bug / properly reset progress bar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress.py
Labels: 0:] Ready-To-Go, Priority P2, bug / fix, has conflicts

#5422 Fix pre-commit isort failure on tests/plugins/*.py
  pyproject.toml
  tests/plugins/test_apex_plugin.py
  tests/plugins/test_sharded_plugin.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5424 Fix pre-commit isort failure on tests/metrics/*.py
  pyproject.toml
  tests/metrics/classification/inputs.py
  tests/metrics/classification/test_accuracy.py
  tests/metrics/classification/test_average_precision.py
  tests/metrics/classification/test_confusion_matrix.py
  tests/metrics/classification/test_f_beta.py
  tests/metrics/classification/test_hamming_distance.py
  tests/metrics/classification/test_inputs.py
  tests/metrics/classification/test_iou.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/classification/test_precision_recall_curve.py
  tests/metrics/classification/test_roc.py
  tests/metrics/classification/test_stat_scores.py
  tests/metrics/functional/test_classification.py
  tests/metrics/functional/test_image_gradients.py
  tests/metrics/functional/test_nlp.py
  tests/metrics/functional/test_reduction.py
  tests/metrics/regression/test_explained_variance.py
  tests/metrics/regression/test_mean_error.py
  tests/metrics/regression/test_psnr.py
  tests/metrics/regression/test_r2score.py
  tests/metrics/regression/test_ssim.py
  tests/metrics/test_metric.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5421 Fix pre-commit isort failure on tests/trainer/*.py
  pyproject.toml
  tests/trainer/data_flow/test_eval_loop_flow_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_dict_1_0.py
  tests/trainer/data_flow/test_train_loop_flow_scalar_1_0.py
  tests/trainer/dynamic_args/test_multiple_eval_dataloaders.py
  tests/trainer/dynamic_args/test_multiple_optimizers.py
  tests/trainer/flags/test_overfit_batches.py
  tests/trainer/flags/test_val_check_interval.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_eval_loop_dict_return.py
  tests/trainer/legacy_deprecate_flow_log_tests/test_trainer_steps_scalar_return.py
  tests/trainer/logging_tests/test_distributed_logging.py
  tests/trainer/model_hooks/test_model_hooks.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/properties/log_dir.py
  tests/trainer/test_config_validator.py
  tests/trainer/test_lr_finder.py
  tests/trainer/test_states.py
  tests/trainer/test_supporters.py
  tests/trainer/test_trainer_tricks.py
  tests/trainer/warnings_tests/test_flow_warnings.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5423 Fix pre-commit isort failure on tests/models/*.py
  pyproject.toml
  tests/models/data/horovod/train_default_model.py
  tests/models/test_horovod.py
  tests/models/test_sync_batchnorm.py
  tests/models/test_torchscript.py
  tests/models/test_tpu.py
Labels: 0:] Ready-To-Go, Refactors and code health, has conflicts

#5511 prevent collisions in isort config
  pyproject.toml
Labels: 0:] Ready-To-Go, Refactors and code health, productivity

#5499 reconfigure mergify
  .github/workflows/events-ocasional.yml
  .github/workflows/events-recurrent.yml
  .mergify.yml
Labels: 0:] Ready-To-Go, has conflicts, tests / CI

#5428 Fix pre-commit isort failure on tests/callbacks/*.py
  pyproject.toml
  tests/callbacks/test_gpu_stats_monitor.py
  tests/callbacks/test_progress_bar.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5425 Fix pre-commit isort failure on tests/loggers/*.py
  pyproject.toml
  tests/loggers/test_csv.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5295 Implement log_graph for CometLogger.
  pytorch_lightning/loggers/comet.py
Labels: 0:] Ready-To-Go, enhancement

#5492 Fix Wrong exception message
  pytorch_lightning/accelerators/accelerator_connector.py
Labels: 0:] Ready-To-Go, documentation

#5430 Fix pre-commit isort failure on tests/backends/*.py
  pyproject.toml
  tests/backends/ddp_model.py
  tests/backends/test_accelerator_connector.py
  tests/backends/test_ddp.py
  tests/backends/test_ddp_spawn.py
  tests/backends/test_dp.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5158 Tensorboard Docu about Hyperparams saving
  pytorch_lightning/loggers/tensorboard.py
Labels: 0:] Ready-To-Go, documentation

#5429 Fix pre-commit isort failure on tests/base/*.py
  pyproject.toml
  tests/base/datamodules.py
  tests/base/datasets.py
  tests/base/deterministic_model.py
  tests/base/model_template.py
  tests/base/model_test_dataloaders.py
  tests/base/model_train_dataloaders.py
  tests/base/model_valid_dataloaders.py
  tests/base/model_valid_steps.py
  tests/base/models.py
  tests/base/simple_model.py
  tests/base/test_datasets.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5519 fix reinit_schedulers with correct optimizer
  CHANGELOG.md
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/trainer/optimizers.py
  tests/models/test_amp.py
Labels: bug / fix

#5527 Fix isort failures in loggers
  pyproject.toml
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/wandb.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5530 Fix isort failures in utilities
  pyproject.toml
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/data.py
  pytorch_lightning/utilities/debugging.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  pytorch_lightning/utilities/device_parser.py
  pytorch_lightning/utilities/model_helpers.py
  pytorch_lightning/utilities/parsing.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5504 Fix/isort pl.callbacks pl.overwrites pl.profiler pl.tuner pl.envs
  pyproject.toml
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/cluster_environments/slurm_environment.py
  pytorch_lightning/cluster_environments/torchelastic_environment.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/tuner/tuning.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5452 simple tests restructure
  tests/models/test_model_hooks.py
  tests/special_tests.sh
  tests/trainer/data_flow/test_flow_warnings.py
  tests/trainer/legacy_deprecate_flow_log/__init__.py
  tests/trainer/legacy_deprecate_flow_log/test_eval_loop_dict_return.py
  tests/trainer/legacy_deprecate_flow_log/test_trainer_steps_dict_return.py
  tests/trainer/legacy_deprecate_flow_log/test_trainer_steps_scalar_return.py
  tests/trainer/logging_process/__init__.py
  tests/trainer/logging_process/test_distributed_logging.py
  tests/trainer/logging_process/test_eval_loop_logging_1_0.py
  tests/trainer/logging_process/test_logger_connector.py
  tests/trainer/logging_process/test_train_loop_logging_1_0.py
  tests/trainer/model_hooks/__init__.py
  tests/trainer/optimization/test_optimizers.py
  tests/trainer/warnings_tests/__init__.py
Labels: 0:] Ready-To-Go, Refactors and code health, tests / CI

#5505 [bugfix] Fix signature mismatch in DDPCPUHPCAccelerator's model_to_device
  CHANGELOG.md
  pytorch_lightning/accelerators/ddp_cpu_hpc_accelerator.py
Labels: DDP, bug / fix

#5503 Fix pre-commit isort failure on pytorch_lightning/accelerators
  pyproject.toml
  pytorch_lightning/accelerators/__init__.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/cpu_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
Labels: 0:] Ready-To-Go, Refactors and code health

#4842 Classification metrics overhaul: precision & recall (4/n)
  CHANGELOG.md
  docs/source/metrics.rst
  pytorch_lightning/metrics/classification/helpers.py
  pytorch_lightning/metrics/classification/precision_recall.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/stat_scores.py
  tests/deprecated_api/test_remove_1-4.py
  tests/metrics/classification/test_precision_recall.py
  tests/metrics/classification/test_stat_scores.py
  tests/metrics/functional/test_classification.py
Labels: 0:] Ready-To-Go, Important, Metrics, enhancement

#5540 Fix val_check_interval with fast_dev_run
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/debugging_connector.py
  tests/trainer/flags/test_fast_dev_run.py
Labels: Priority P0, bug / fix

#5532 Remove unused `beta` argument in precision/recall in docstring
  pytorch_lightning/metrics/classification/precision_recall.py
Labels: 0:] Ready-To-Go, documentation

#5528 Fix isort failures in metrics
  pyproject.toml
  pytorch_lightning/metrics/__init__.py
  pytorch_lightning/metrics/classification/__init__.py
  pytorch_lightning/metrics/classification/accuracy.py
  pytorch_lightning/metrics/classification/average_precision.py
  pytorch_lightning/metrics/classification/confusion_matrix.py
  pytorch_lightning/metrics/classification/f_beta.py
  pytorch_lightning/metrics/classification/hamming_distance.py
  pytorch_lightning/metrics/classification/helpers.py
  pytorch_lightning/metrics/classification/iou.py
  pytorch_lightning/metrics/classification/precision_recall_curve.py
  pytorch_lightning/metrics/classification/roc.py
  pytorch_lightning/metrics/classification/stat_scores.py
  pytorch_lightning/metrics/functional/__init__.py
  pytorch_lightning/metrics/functional/accuracy.py
  pytorch_lightning/metrics/functional/average_precision.py
  pytorch_lightning/metrics/functional/classification.py
  pytorch_lightning/metrics/functional/explained_variance.py
  pytorch_lightning/metrics/functional/hamming_distance.py
  pytorch_lightning/metrics/functional/iou.py
  pytorch_lightning/metrics/functional/precision_recall.py
  pytorch_lightning/metrics/functional/precision_recall_curve.py
  pytorch_lightning/metrics/functional/psnr.py
  pytorch_lightning/metrics/functional/reduction.py
  pytorch_lightning/metrics/functional/roc.py
  pytorch_lightning/metrics/functional/stat_scores.py
  pytorch_lightning/metrics/regression/__init__.py
  pytorch_lightning/metrics/regression/explained_variance.py
  pytorch_lightning/metrics/regression/mean_absolute_error.py
  pytorch_lightning/metrics/regression/mean_squared_error.py
  pytorch_lightning/metrics/regression/mean_squared_log_error.py
  pytorch_lightning/metrics/regression/psnr.py
  pytorch_lightning/metrics/regression/r2score.py
  pytorch_lightning/metrics/regression/ssim.py
  pytorch_lightning/metrics/utils.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5521 Fix logging on_train_batch_end in a callback with multiple optimizers
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  tests/trainer/optimization/test_multiple_optimizers.py
Labels: Logging, Priority P0, bug / fix

#5529 Fix isort failures in trainer
  pyproject.toml
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/env_vars_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/profiler_connector.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/connectors/training_trick_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/logging.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
Labels: 0:] Ready-To-Go, Refactors and code health

#5414 fix command line run for refinforce_learn_qnet in pl_examples
  pl_examples/domain_templates/reinforce_learn_Qnet.py
Labels: 0:] Ready-To-Go, tutorial / example

#5563 Drop greetings comment
  .github/workflows/greetings.yml
Labels: 0:] Ready-To-Go, productivity, tests / CI

#5536 Raise TypeError instead of using asserting with condition of types.
  pytorch_lightning/core/saving.py
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/epoch_result_store.py
  pytorch_lightning/utilities/device_parser.py
Labels: Refactors and code health

#5533 Fix root node resolution in slurm environment
  pytorch_lightning/cluster_environments/slurm_environment.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
Labels: 0:] Ready-To-Go, Priority P0, SLURM, bug / fix

#5569 fix argparse conflicting options error
  pl_examples/domain_templates/semantic_segmentation.py
Labels: 0:] Ready-To-Go, bug / fix, tutorial / example

#5516 Set progressbar refresh rate in Google Colab
  CHANGELOG.md
  docs/source/trainer.rst
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_progress_bar.py
Labels: 0:] Ready-To-Go, API / design, Callbacks, documentation, enhancement

#5576 Prepare 1.1.5 release
  CHANGELOG.md
  pytorch_lightning/__init__.py
Labels: Important

#5580 Add new CHANGELOG section
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: Important

#5578 Add note about returning None
  pytorch_lightning/core/lightning.py
Labels: 0:] Ready-To-Go, documentation

#5020 Mnodes
  .github/workflows/ci_test-mnodes.yml
  tests/backends/test_multi_nodes_gpu.py
  tests/mnode_tests.txt
Labels: 0:] Ready-To-Go, tests / CI

#5605 fix PyPI releasing
  .github/workflows/release-pypi.yml
Labels: Priority P0, tests / CI

#5606 hotfix: drop bad pyyaml version
  requirements.txt
Labels: 0:] Ready-To-Go, 3rd-party, Priority P0

#5564 Update README help steps
  README.md
Labels: 0:] Ready-To-Go, documentation

#5609 hotfix: drop pyyaml 5.4.* [feat-1.2]
  requirements.txt
Labels: 0:] Ready-To-Go, 3rd-party, Priority P0, bug / fix

#5608 update mergify
  .github/.mergify.yml
Labels: 0:] Ready-To-Go, productivity, tests / CI

#5612 name typo in merfigy
  .github/mergify.yml
Labels: 0:] Ready-To-Go, Priority P1, productivity, tests / CI

#3256 fix Neptune logger creating multiple experiments when gpus > 1
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_neptune.py
Labels: 0:] Ready-To-Go, Logger, bug / fix

#5589 clarify Trainer running state atribs.
  pytorch_lightning/plugins/sharded_plugin.py
  pytorch_lightning/trainer/deprecated_api.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-4.py
Labels: 0:] Ready-To-Go, API / design, Refactors and code health, discussion

#5598 Increase TPU check timeout
  CHANGELOG.md
  pytorch_lightning/utilities/xla_device_utils.py
  tests/utilities/test_xla_device_utils.py
Labels: 0:] Ready-To-Go, TPU, bug / fix

#5404 add possibility for nested loaders
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/supporters.py
  tests/trainer/test_supporters.py
Labels: 0:] Ready-To-Go, data / DataModule, enhancement

#5607 unify pep8 speaks
  .pep8speaks.yml
Labels: 0:] Ready-To-Go, tests / CI

#5600 Docs: upgrade packages
  docs/source/conf.py
  requirements/docs.txt
Labels: 0:] Ready-To-Go, documentation, tests / CI

#5351 feat(wandb): add sync_step
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, Logger, enhancement

#5639 mergify: less updates
  .github/mergify.yml
Labels: 0:] Ready-To-Go, Priority P1, productivity, tests / CI

#5634 fix: freeze mypy
  .github/workflows/code-formatting.yml
  requirements/test.txt
  setup.cfg
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#5509 fix duplicate console logging bug / properly configure logging
  CHANGELOG.md
  docs/source/logging.rst
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pytorch_lightning/__init__.py
  pytorch_lightning/accelerators/accelerator_connector.py
  pytorch_lightning/accelerators/ddp2_accelerator.py
  pytorch_lightning/accelerators/ddp_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_cpu_spawn_accelerator.py
  pytorch_lightning/accelerators/ddp_hpc_accelerator.py
  pytorch_lightning/accelerators/ddp_spawn_accelerator.py
  pytorch_lightning/accelerators/dp_accelerator.py
  pytorch_lightning/accelerators/gpu_accelerator.py
  pytorch_lightning/accelerators/horovod_accelerator.py
  pytorch_lightning/accelerators/tpu_accelerator.py
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/cluster_environments/slurm_environment.py
  pytorch_lightning/cluster_environments/torchelastic_environment.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/ddp_sequential_plugin.py
  pytorch_lightning/profiler/profilers.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/precision_connector.py
  pytorch_lightning/trainer/connectors/slurm_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_tricks.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/seed.py
  pytorch_lightning/utilities/upgrade_checkpoint.py
  tests/__init__.py
  tests/callbacks/test_early_stopping.py
  tests/checkpointing/test_model_checkpoint.py
  tests/test_profiler.py
Labels: 0:] Ready-To-Go, Logging, bug / fix

#5590 summarize total size of model params in bytes
  CHANGELOG.md
  pytorch_lightning/core/memory.py
  tests/core/test_memory.py
Labels: 0:] Ready-To-Go, enhancement

#5138 Fix tensor printing in `trainer.test()`
  docs/source/introduction_guide.rst
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
Labels: Logging, Priority P2, enhancement

#5553 docs: Add BackboneLambdaFinetuningCallback
  docs/source/callbacks.rst
  pytorch_lightning/callbacks/finetuning.py
Labels: 0:] Ready-To-Go, documentation

#5620 fix error when logging to progress bar with reserved name
  CHANGELOG.md
  pytorch_lightning/trainer/properties.py
  tests/trainer/logging/test_logger_connector.py
Labels: 0:] Ready-To-Go, Logging, bug / fix

#5619 Fix loading yaml
  CHANGELOG.md
  pytorch_lightning/core/saving.py
  requirements.txt
Labels: 0:] Ready-To-Go, Checkpoint, Logger, Priority P1, bug / fix

#5510 Ignore `step` param in Neptune logger's log_metric method
  CHANGELOG.md
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_all.py
  tests/loggers/test_neptune.py
Labels: 0:] Ready-To-Go, Logger, bug / fix

#5647 Fix: flake8 & isort
  pytorch_lightning/core/memory.py
  pytorch_lightning/loggers/wandb.py
  tests/core/test_memory.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#5614 Fix Metric.state_dict
  CHANGELOG.md
  pytorch_lightning/metrics/metric.py
  tests/metrics/test_metric.py
Labels: 0:] Ready-To-Go, Metrics, bug / fix

#5611 try to update failing dockers
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/release/Dockerfile
  dockers/tpu-tests/Dockerfile
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#5574 [bugfix] Resolve bug with multiple optimizers and toggle.
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/training_loop.py
  tests/core/test_lightning_module.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix

#5610 fix docs render
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/reinforce_learn_ppo.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/plugins/apex.py
  pytorch_lightning/plugins/ddp_plugin.py
  pytorch_lightning/plugins/ddp_sequential_plugin.py
  pytorch_lightning/plugins/plugin.py
  pytorch_lightning/plugins/plugin_connector.py
  pytorch_lightning/plugins/rpc_plugin.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  pytorch_lightning/utilities/distributed.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#4559 Unify attribute finding logic, fix not using dataloader when hparams present
  pytorch_lightning/utilities/parsing.py
  tests/utilities/test_parsing.py
Labels: Priority P1, Refactors and code health, bug / fix

#5617 generalise setup tools
  .github/workflows/ci_pkg-install.yml
  pytorch_lightning/setup_tools.py
  setup.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, enhancement, productivity

#5596 fix nightly releasing to PyPI
  setup.py
Labels: 0:] Ready-To-Go, Priority P0, productivity, tests / CI

#5633 prune deprecated EvalResult
  pytorch_lightning/core/step_result.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/evaluation_loop.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/trainer/training_loop.py
  tests/base/model_test_steps.py
  tests/base/model_train_steps.py
  tests/base/model_valid_steps.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_results.py
  tests/trainer/test_correct_freq_accumulation.py
Labels: 0:] Ready-To-Go, Priority P1, Refactors and code health, enhancement
