Repository Lightning-AI/pytorch-lightning, pull requests merged in 2021-07, with the labels that each got.

#8093 Add support for optimizers and learning rate schedulers to LightningCLI
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/types.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: CLI, enhancement

#8062 Add max_depth parameter to ModelSummary
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_memory.py
  tests/deprecated_api/test_remove_1-6.py
Labels: API / design, enhancement

#8234 Avoid Pillow 8.3.0 due to errors with numpy
  requirements.txt
Labels: tests / CI

#8232 Update docs for new template
  docs/source/_templates/layout.html
  docs/source/_templates/theme_variables.jinja
  docs/source/index.rst
Labels: documentation

#8197 [refactor] Add state_dict to loops
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/progress.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/loops/__init__.py
  tests/loops/test_loop_state_dict.py
Labels: refactors / code health

#8229 [deprecate] Deprecate LightningModule.loaded_optimizer_states_dict
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health

#8145 Fix truncated_bptt_steps hiddens detach() and improve docs
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  pytorch_lightning/loops/batch/training_batch_loop.py
  tests/models/test_cpu.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#8239 update changelog after 1.3.8 patch release
  CHANGELOG.md
  tests/checkpointing/test_legacy_checkpoints.py
Labels: 0:] Ready-To-Go, documentation

#8248 Update Torch Elastic documentation
  docs/source/advanced/multi_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#8250 Mark some loop attributes as protected
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callback_hook_outputs.py
Labels: 0:] Ready-To-Go, refactors / code health

#6208 Support `DDPPlugin` to be used on CPU
  .azure-pipelines/ipu-tests.yml
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ddp.py
  tests/callbacks/test_progress_bar.py
  tests/callbacks/test_pruning.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/conftest.py
  tests/plugins/test_deepspeed_plugin.py
  tests/trainer/test_data_loading.py
Labels: DDP, Priority P0, bug / fix

#8241 [IPU] Fix Custom Poptorch options to IPUPlugin
  pytorch_lightning/plugins/training_type/ipu.py
  tests/accelerators/test_ipu.py
Labels: 0:] Ready-To-Go, IPU

#8249 Detach hiddens and add test
  pytorch_lightning/loops/batch/training_batch_loop.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, bug / fix

#8242 docker: NVIDIA
  dockers/nvidia/Dockerfile
Labels: 0:] Ready-To-Go, enhancement

#8247 [feat] Add restore to base loop
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  tests/loops/test_loops.py
Labels: API / design

#8245 Move result teardown to loops
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: refactors / code health

#8252 Add periods for the documentation
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: documentation

#7378 move batch to device before sending it to hooks
  CHANGELOG.md
  benchmarks/test_basic_parity.py
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  tests/models/test_hooks.py
  tests/trainer/loops/test_all.py
  tests/trainer/test_dataloaders.py
Labels: bug / fix, enhancement

#8258 Fix progress bar updates for Pod Training
  pytorch_lightning/plugins/training_type/tpu_spawn.py
Labels: 0:] Ready-To-Go, Priority P0, TPU, bug / fix

#8070 Parametrize fit hook test with different precision plugins
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  tests/models/test_hooks.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#8265 Test deepcopy for progress tracking dataclasses
  pytorch_lightning/trainer/progress.py
  tests/trainer/test_progress.py
Labels: 0:] Ready-To-Go, bug / fix

#8244 Connect progress tracking dataclasses to loops
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/loops/test_loop_progress_integration.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#8235 Add XLAStatsMonitor Callback
  CHANGELOG.md
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/xla_stats_monitor.py
  tests/callbacks/test_xla_stats_monitor.py
Labels: TPU, callbacks, enhancement

#8276 refresh LightningModule API docs
  pytorch_lightning/core/lightning.py
Labels: documentation

#8271 prevent internal call to `has_prepared_data` showing a warning
  pytorch_lightning/trainer/connectors/data_connector.py
Labels: 0:] Ready-To-Go, bug / fix

#8284 fix missing call to untoggle_optimizer when accumulating gradients
  CHANGELOG.md
  pytorch_lightning/loops/batch/training_batch_loop.py
  tests/core/test_lightning_module.py
Labels: bug / fix

#8233 [IPU] Allow poptorch.Options to override Trainer
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_ipu.py
Labels: 0:] Ready-To-Go, IPU, enhancement

#8286 Default `EarlyStopping.check_on_train_epoch_end=True`
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  tests/callbacks/test_early_stopping.py
Labels: 0:] Ready-To-Go, callbacks, refactors / code health

#8291 Deprecate `trainer.disable_validation`
  CHANGELOG.md
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/properties.py
  tests/deprecated_api/test_remove_1-6.py
  tests/trainer/test_dataloaders.py
Labels: refactors / code health

#8259 clean up unused attributes in LightningModule
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/model_connector.py
Labels: 0:] Ready-To-Go, refactors / code health

#8287 remove deprecated optimizer argument from manual_backward
  CHANGELOG.md
  benchmarks/test_sharded_parity.py
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-4.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/optimization/test_multiple_optimizers.py
Labels: 0:] Ready-To-Go, enhancement, refactors / code health, tests / CI

#8136 Fix mypy in `utilities.device_parser`
  pytorch_lightning/utilities/device_parser.py
  setup.cfg
Labels: 0:] Ready-To-Go, refactors / code health

#8296 Add `functools.wraps` support for `is_overridden`
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/utilities/model_helpers.py
  tests/utilities/test_model_helpers.py
Labels: 0:] Ready-To-Go, bug / fix

#8295 fix best score on wrong device in EarlyStopping callback
  pytorch_lightning/callbacks/early_stopping.py
Labels: bug / fix

#8290 Bump IPU version
  .azure-pipelines/ipu-tests.yml
Labels: 0:] Ready-To-Go, IPU, tests / CI

#8294 Refactor GPU examples tests
  .azure-pipelines/gpu-tests.yml
  pl_examples/run_ddp-examples.sh
  pl_examples/run_examples-args.sh
  pl_examples/run_examples.sh
Labels: 0:] Ready-To-Go, tests / CI

#8308 fix prefix typo
  pytorch_lightning/profiler/pytorch.py
Labels: 0:] Ready-To-Go, documentation

#8256 Update contributing templates
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0:] Ready-To-Go, productivity

#8180 Decouple device parsing logic from Acc connector to Trainer
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: API / design, refactors / code health

#5043 Enables reload of dataloaders on every n epochs from every epoch
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-6.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, API / design, data / DataModule

#8312 move `torch.cuda.set_device()` to enable collective calls earlier in setup
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/single_device.py
Labels: 0:] Ready-To-Go, DDP, enhancement

#8318 Simplify logger connector access
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/loops/test_training_loop_flow_scalar.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#8322 [docs] Remove RC candidate install for DeepSpeed
  docs/source/advanced/advanced_gpu.rst
Labels: documentation

#8323 [docs] Add docs for DeepSpeed Infinity
  docs/source/advanced/advanced_gpu.rst
Labels: 0:] Ready-To-Go, documentation

#8292 Delete `checkpoint_connector.has_trained`
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, refactors / code health

#8326 Fix `self.optimizers()` not returning a single `LightningOptimizer`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/plugins/training_type/sharded.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, bug / fix

#8327 Add logo_light.svg
  docs/source/_static/images/logo_light.svg
Labels: 0:] Ready-To-Go, documentation, enhancement

#8293 Remove magic monitor support for `ModelCheckpoint`
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-4.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, refactors / code health

#8017 [CLI] Drop `ArgumentParser` when pickling and save before spawning
  CHANGELOG.md
  pl_examples/basic_examples/dali_image_classifier.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/distributed.py
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, CLI, DDP, bug / fix

#8317 Remove `dev_debugger.call_count`
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/utilities/debugging.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/models/test_amp.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, refactors / code health

#8307 [Feat] Add FastForwardSampler 2/n - Fault Tolerant Training
  CHANGELOG.md
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/enums.py
  tests/utilities/test_auto_restart.py
Labels: API / design

#8331 Fix broadcast for Windows minimal
  pytorch_lightning/distributed/dist.py
  pytorch_lightning/overrides/torch_distributed.py
Labels: DDP, Priority P0

#8310 Add auto_insert_metric_name to ModelCheckpoint docstring.
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: 0:] Ready-To-Go, documentation

#8132 Fix mypy in `utilities.parsing`
  pytorch_lightning/utilities/parsing.py
  setup.cfg
Labels: 0:] Ready-To-Go, refactors / code health

#8319 Use accelerator instead of dist backend for missing horovod warning
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: 0:] Ready-To-Go, documentation, refactors / code health

#8303 LightningCLI documentation improvements
  docs/source/common/lightning_cli.rst
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, CLI, documentation, enhancement

#8324 Unpin Pillow after the 8.3.1 release
  requirements.txt
Labels: 0:] Ready-To-Go, tests / CI

#8328 Refactor plugins backward
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/precision/ipu_precision.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/plugins/test_amp_plugins.py
Labels: bug / fix, refactors / code health

#8329 try unpin PyYAML<5.4
  requirements.txt
Labels: 0:] Ready-To-Go, Priority P1, enhancement

#7865 Add the `on_before_backward` hook
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/lambda_function.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  tests/helpers/datamodules.py
  tests/models/test_hooks.py
  tests/plugins/test_deepspeed_plugin.py
  tests/trainer/logging_/test_logger_connector.py
Labels: API / design

#8345 [docs] Add NCCL environment variable docs
  docs/source/guides/speed.rst
Labels: 0:] Ready-To-Go, documentation

#8048 Add the `on_before_optimizer_step` hook
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/lambda_function.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/deepspeed_precision.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  tests/models/test_hooks.py
  tests/plugins/test_amp_plugins.py
  tests/trainer/logging_/test_logger_connector.py
Labels: API / design, Priority P0

#5102 Add LSF support
  CHANGELOG.md
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/environments/__init__.py
  pytorch_lightning/plugins/environments/lsf_environment.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/plugins/environments/test_kubeflow_environment.py
  tests/plugins/environments/test_lightning_environment.py
  tests/plugins/environments/test_lsf_environment.py
  tests/plugins/environments/test_slurm_environment.py
  tests/plugins/environments/test_torchelastic_environment.py
Labels: API / design, enhancement

#3792 Hyperparameters for datamodule
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/hparams_mixin.py
  tests/core/test_datamodules.py
  tests/models/test_hparams.py
Labels: enhancement

#7808 Add support for (accelerator='cpu'|'gpu'|'tpu'|'ipu'|'auto')
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu_backend.py
Labels: 0:] Ready-To-Go, API / design

#8334 [Refactor] Improve loops API 1/n
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/trainer/progress.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
Labels: refactors / code health

#8379 Exclude `lightning.py` for vulture
  pyproject.toml
Labels: refactors / code health

#8277 Add troubleshooting section for tpus
  docs/source/advanced/tpu.rst
Labels: documentation

#8381 Remove Vulture ⚰️
  .github/workflows/code-formatting.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: tests / CI

#8127 Fix mypy in utilities.device_dtype_mixin
  pytorch_lightning/utilities/device_dtype_mixin.py
  setup.cfg
Labels: 0:] Ready-To-Go, refactors / code health

#8378 Clean code formatting CI job
  .github/workflows/code-checks.yml
  .github/workflows/code-formatting.yml
Labels: 0:] Ready-To-Go, tests / CI

#8383 `every_n_val_epochs` -> `every_n_epochs`
  CHANGELOG.md
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_1-6.py
  tests/loggers/test_wandb.py
Labels: 0:] Ready-To-Go, bug / fix, refactors / code health

#8386 Update to Mypy>0.9
  .github/workflows/code-checks.yml
  pyproject.toml
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/utilities/device_dtype_mixin.py
  requirements/test.txt
  setup.cfg
Labels: 0:] Ready-To-Go, tests / CI

#7960 Add logger flag to save_hyperparameters
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/hparams_mixin.py
  tests/loggers/test_base.py
Labels: 0:] Ready-To-Go, enhancement, logging

#8359 fix logger type hint
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
Labels: 0:] Ready-To-Go, refactors / code health

#8357 Expose `extract_batch_size` method and add corresponding tests.
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/utilities/data.py
  tests/utilities/test_data.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#8389 Add `ModelCheckpoint(save_on_train_epoch_end)`
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_pruning.py
  tests/checkpointing/test_model_checkpoint.py
  tests/core/test_metric_result_integration.py
  tests/models/test_hooks.py
  tests/trainer/optimization/test_optimizers.py
Labels: 0:] Ready-To-Go, Priority P0, enhancement

#8392 Remove pep8speaks
  .pep8speaks.yml
  requirements/test.txt
Labels: tests / CI

#8288 Set minimum PyTorch version to 1.6
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-mnodes.yml
  .github/workflows/events-nightly.yml
  .github/workflows/release-docker.yml
  CHANGELOG.md
  README.md
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  dockers/release/Dockerfile
  environment.yml
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/callbacks/quantization.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/imports.py
  requirements.txt
  requirements/adjust_versions.py
  requirements/examples.txt
  requirements/extra.txt
  tests/README.md
  tests/callbacks/test_quantization.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/loggers/test_tensorboard.py
  tests/models/test_torchscript.py
  tests/profiler/test_profiler.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, tests / CI

#7480 support launching Lightning ddp with traditional command
  CHANGELOG.md
  pytorch_lightning/plugins/environments/lightning_environment.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/plugins/environments/test_lightning_environment.py
  tests/special_tests.sh
Labels: DDP

#8401 Tidy up IPU documentation
  docs/source/advanced/ipu.rst
Labels: 0:] Ready-To-Go, documentation

#8133 CI: support PT 1.10
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/events-nightly.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-pypi.yml
  README.md
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  dockers/nvidia/Dockerfile
  dockers/release/Dockerfile
  environment.yml
  requirements/adjust_versions.py
  requirements/collect_env_details.py
Labels: 0:] Ready-To-Go, enhancement, tests / CI

#8423 Add LSFEnvironment to API reference
  docs/source/api_references.rst
Labels: 0:] Ready-To-Go, documentation

#8424 Move plateau schedulers epoch update to the training epoch loop
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
Labels: 0:] Ready-To-Go, refactors / code health

#8420 Mark evaluation epoch loops attributes as protected
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: 0:] Ready-To-Go, refactors / code health

#8399 prepare RC0
  CHANGELOG.md
  pytorch_lightning/__about__.py
Labels: 0:] Ready-To-Go, productivity

#8434 fix internal call to deprecated train_loop
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: 0:] Ready-To-Go, bug / fix

#8456 Unblock GPU CI
  .azure-pipelines/gpu-tests.yml
  pl_examples/__init__.py
  pl_examples/basic_examples/autoencoder.py
  pl_examples/basic_examples/backbone_image_classifier.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/basic_examples/mnist_datamodule.py
  pl_examples/domain_templates/generative_adversarial_net.py
Labels: Priority P0, tests / CI

#8396 Move mixin to core
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/mixins/__init__.py
  pytorch_lightning/core/mixins/device_dtype_mixin.py
  pytorch_lightning/core/mixins/hparams_mixin.py
  pytorch_lightning/overrides/base.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/utilities/test_dtype_device_mixin.py
Labels: refactors / code health

#8362 Add progress tracking on Loops - 2/n
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/dataloader/dataloader_loop.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/optimizer_connector.py
  pytorch_lightning/trainer/progress.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/imports.py
  tests/loops/test_loop_progress_integration.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
  tests/trainer/test_progress.py
Labels: 0:] Ready-To-Go, API / design

#8433 Add support for missing return obj from to function on custom batch objects
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_apply_func.py
Labels: 0:] Ready-To-Go, bug / fix

#8364 [Feat] Add utilities for CombinedLoader state dict and dataloader state dict 1/n
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/enums.py
  pytorch_lightning/utilities/imports.py
  tests/loops/test_loops.py
  tests/utilities/test_auto_restart.py
Labels: API / design

#8442 Clear dataloader references before attaching new dataloaders to Trainer
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, Priority P0, bug / fix, data / DataModule

#8446 move deprecation test to correct 1.6 test file
  tests/deprecated_api/test_remove_1-4.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, tests / CI

#8462 [Fix] Remove DeepSpeed Plugin FP16 exception
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 3rd-party, bug / fix

#8439 Delete legacy DataLoader processing utility
  pytorch_lightning/trainer/data_loading.py
Labels: 0:] Ready-To-Go, refactors / code health

#8436 update links for collect_env_details.py script
  .azure-pipelines/gpu-tests.yml
  .azure-pipelines/ipu-tests.yml
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: 0:] Ready-To-Go, bug / fix, tests / CI

#7724 Remove `check_checkpoint_callback`
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/loops/fit_loop.py
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_model_checkpoint.py
Labels: 0:] Ready-To-Go, Priority P0, checkpoint

#8443 update mergify rules
  .github/mergify.yml
Labels: enhancement, tests / CI

#8260 Fix: handle logical CUDA device IDs for GPUStatsMonitor if `CUDA_VISIBLE_DEVICES` set
  CHANGELOG.md
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  tests/callbacks/test_gpu_stats_monitor.py
Labels: 0:] Ready-To-Go, bug / fix, callbacks

#8346 [DDP] Remove the outdated limitations of DDP communication hook since 1.9
  pytorch_lightning/plugins/training_type/ddp.py
Labels: 0:] Ready-To-Go, DDP, enhancement

#8419 Refactor `log_dir` usage in the CLI
  pytorch_lightning/utilities/cli.py
Labels: 0:] Ready-To-Go, refactors / code health

#8340 Only output IPU report on request
  pytorch_lightning/plugins/training_type/ipu.py
Labels: 0:] Ready-To-Go, IPU, enhancement

#8421 Hash values in LightningEnum instead of name.
  CHANGELOG.md
  pytorch_lightning/utilities/enums.py
  tests/utilities/test_enums.py
Labels: 0:] Ready-To-Go, bug / fix

#8226 Loop specialization
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#6078 [Feat] Improve TPU CI
  .circleci/config.yml
  dockers/tpu-tests/tpu_test_cases.jsonnet
Labels: 0:] Ready-To-Go, TPU, tests / CI

#8475 Do not reset Loops total counters
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/trainer/progress.py
  tests/loops/test_loops.py
Labels: 0:] Ready-To-Go, bug / fix

#8187 Return the `default_root_dir` as the `log_dir` when the logger is a `LoggerCollection`
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/profiler/test_profiler.py
  tests/trainer/properties/log_dir.py
Labels: 0:] Ready-To-Go, bug / fix, logger

#8440 Add support for devices flag to Trainer
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu_backend.py
Labels: 0:] Ready-To-Go, API / design, enhancement

#8427 Adding appends to some of the pseudocode blocks
  docs/source/common/lightning_module.rst
Labels: 0:] Ready-To-Go, documentation

#8484 Add Ready to Go label only after two approvals
  .github/mergify.yml
Labels: 0:] Ready-To-Go, refactors / code health

#8488 Add Windows Support for DeepSpeed
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/utilities/imports.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, 3rd-party, DDP, bug / fix

#8472 [bugfix] Prevent deepcopy of dataloaders / Trainer in SWA Callback
  CHANGELOG.md
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/core/lightning.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_stochastic_weight_avg.py
Labels: 0:] Ready-To-Go, bug / fix

#7832 Parity test
  .azure-pipelines/gpu_benchmark.yml
  benchmarks/__init__.py
  benchmarks/test_basic_parity.py
  pl_examples/basic_examples/profiler_example.py
  tests/__init__.py
  tests/base/model_template.py
  tests/checkpointing/test_legacy_checkpoints.py
  tests/conftest.py
  tests/helpers/advanced_models.py
  tests/helpers/boring_model.py
  tests/helpers/test_datasets.py
Labels: 0:] Ready-To-Go, tests / CI

#7840 Bugfix: horovod optimizer missing 2 required positional arguments
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/horovod.py
  tests/models/data/horovod/train_default_model.py
Labels: 0:] Ready-To-Go, 3rd-party, DDP, bug / fix

#8490 [bugfix] Reduce memory leaks
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/tpu.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, bug / fix

#8493 [bugfix] Re-compute accumulated_grad_batches
  CHANGELOG.md
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/checkpointing/test_trainer_checkpoint.py
Labels: 0:] Ready-To-Go, bug / fix

#8474 Maintain Backward compatibility for DeviceDtypeModuleMixin
  pytorch_lightning/utilities/device_dtype_mixin.py
  tests/deprecated_api/test_remove_1-6.py
Labels: 0:] Ready-To-Go, refactors / code health

#8497 v1.4.0rc1 & chlog
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  pytorch_lightning/__about__.py
Labels: 0:] Ready-To-Go, productivity

#8034 [Docs revamp 2/N] New doc for managing data
  docs/source/advanced/multiple_loaders.rst
  docs/source/advanced/sequences.rst
  docs/source/conf.py
  docs/source/guides/data.rst
  docs/source/index.rst
  docs/source/starter/new-project.rst
Labels: 0:] Ready-To-Go, documentation

#8458 fix: Enable manual optimization for TPUs
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  tests/accelerators/test_tpu_backend.py
Labels: 0:] Ready-To-Go, TPU, bug / fix

#8464 Quant as optional step
  CHANGELOG.md
  pytorch_lightning/callbacks/quantization.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_quantization.py
Labels: 0:] Ready-To-Go, Priority P1, bug / fix, callbacks

#8523 Remove `torch >= 1.6` checks
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/loops/dataloader/prediction_loop.py
  pytorch_lightning/overrides/base.py
  pytorch_lightning/overrides/torch_distributed.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/profiler/xla.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/imports.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/loggers/test_tensorboard.py
  tests/profiler/test_profiler.py
  tests/trainer/test_dataloaders.py
  tests/utilities/test_auto_restart.py
Labels: 0:] Ready-To-Go, refactors / code health

#7403 Fix log_dir tracking in case of multiple Trainer instances + DDP
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
Labels: 0:] Ready-To-Go, DDP, bug / fix, logger

#8527 Fix DeepSpeed lr scheduler logic
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, bug / fix

#8533 [Typo] update some out-dated links from pytorch ``clip_grad_value_``
  pytorch_lightning/utilities/enums.py
Labels: 0:] Ready-To-Go, documentation

#8526 fix CI for PT 1.10
  .github/workflows/ci_test-conda.yml
  dockers/base-conda/Dockerfile
  requirements/adjust_versions.py
Labels: 0:] Ready-To-Go, tests / CI

#8501 fix restoring finetune callbacks after accelerator setup on training resume
  CHANGELOG.md
  pytorch_lightning/callbacks/finetuning.py
  tests/callbacks/test_finetuning_callback.py
  tests/checkpointing/test_trainer_checkpoint.py
Labels: 0:] Ready-To-Go, bug / fix, callbacks

#8483 Add `ddp_*_find_unused_parameters_false` to Plugins Registry.
  docs/source/guides/speed.rst
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  tests/plugins/test_plugins_registry.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#8522 docs: fix return type description of Trainer.validate/test
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
Labels: 0:] Ready-To-Go, bug / fix, documentation

#8521 docs: clarify closure usage in gan example
  docs/source/common/optimizers.rst
Labels: documentation

#8519 Support `DataLoader`s with missing arguments in `replace_sampler`
  CHANGELOG.md
  pytorch_lightning/trainer/data_loading.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
Labels: 0:] Ready-To-Go, bug / fix, data / DataModule

#8529 Avoid partial for apply to collection
  pytorch_lightning/core/saving.py
Labels: 0:] Ready-To-Go, refactors / code health

#8400 Add support for functions to be parsed by the Lightning CLI in addition to Types
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: 0:] Ready-To-Go, CLI, enhancement

#8528 Update issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 0:] Ready-To-Go, documentation, productivity

#8557 Add `pyupgrade` to `pre-commit`
  .github/prepare-nightly_version.py
  .github/prune-packages.py
  .pre-commit-config.yaml
  docs/source/conf.py
  pl_examples/basic_examples/dali_image_classifier.py
  pl_examples/domain_templates/reinforce_learn_Qnet.py
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/core/memory.py
  pytorch_lightning/core/mixins/hparams_mixin.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/overrides/torch_distributed.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/setup_tools.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/debugging.py
  pytorch_lightning/utilities/parsing.py
  requirements/adjust_versions.py
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_lr_monitor.py
  tests/callbacks/test_pruning.py
  tests/checkpointing/test_model_checkpoint.py
  tests/conftest.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/loggers/test_csv.py
  tests/models/test_gpu.py
  tests/models/test_horovod.py
  tests/profiler/test_profiler.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/test_supporters.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, productivity, tests / CI

#8556 Fix profiler test on Windows minimal
  tests/profiler/test_profiler.py
Labels: 0:] Ready-To-Go, tests / CI

#8553 v1.4.0rc2
  CHANGELOG.md
  pytorch_lightning/__about__.py
Labels: 0:] Ready-To-Go, productivity

#7643 Bugfix: Scheduler monitor for manual optimization
  CHANGELOG.md
  docs/source/common/optimizers.rst
  pytorch_lightning/trainer/optimizers.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: 0:] Ready-To-Go, bug / fix

#8411 Add missing highlighting for Python snippets
  docs/source/common/trainer.rst
Labels: 0:] Ready-To-Go, documentation

#8575 Add deprecation warning & test for distributed_backend flag
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-5.py
Labels: 0:] Ready-To-Go, deprecation

#8569 Update cloud docs
  docs/source/clouds/cloud_training.rst
Labels: 0:] Ready-To-Go, documentation

#8580 [bugfix] DeepSpeed with no schedulers
  CHANGELOG.md
  pytorch_lightning/plugins/training_type/deepspeed.py
  tests/plugins/test_deepspeed_plugin.py
Labels: 0:] Ready-To-Go, 3rd-party, bug / fix

#8477 Replace `iteration_count` and other index attributes in the loops with progress dataclasses
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  tests/loops/test_loops.py
Labels: 0:] Ready-To-Go, refactors / code health

#8585 Update version to `1.5.0dev`
  CHANGELOG.md
  pytorch_lightning/__about__.py
Labels: 0:] Ready-To-Go, Important, _admin, documentation, enhancement

#8582 bump version 1.3 to 1.4 in README
  README.md
Labels: 0:] Ready-To-Go, Important, documentation

#8595 Avoid unnecessary list creation
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/profiler/simple.py
  pytorch_lightning/utilities/debugging.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/checkpointing/test_model_checkpoint.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, refactors / code health

#8352 Load ckpt path when model provided in validate/test/predict
  CHANGELOG.md
  docs/source/common/test_set.rst
  pytorch_lightning/trainer/properties.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_callbacks.py
  tests/models/test_hooks.py
  tests/models/test_restore.py
  tests/trainer/flags/test_fast_dev_run.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: 0:] Ready-To-Go, breaking change, checkpoint, enhancement

#8566 CI: black docs
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  README.md
  docs/source/advanced/ipu.rst
  docs/source/advanced/lr_finder.rst
  docs/source/advanced/sequences.rst
  docs/source/advanced/tpu.rst
  docs/source/advanced/training_tricks.rst
  docs/source/advanced/transfer_learning.rst
  docs/source/clouds/cluster.rst
  docs/source/common/child_modules.rst
  docs/source/common/debugging.rst
  docs/source/common/hyperparameters.rst
  docs/source/common/lightning_cli.rst
  docs/source/common/loggers.rst
  docs/source/common/optimizers.rst
  docs/source/common/production_inference.rst
  docs/source/common/test_set.rst
  docs/source/common/weights_loading.rst
  docs/source/ecosystem/bolts.rst
  docs/source/extensions/callbacks.rst
  docs/source/extensions/datamodules.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/data.rst
  docs/source/guides/speed.rst
  docs/source/starter/converting.rst
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
Labels: 0:] Ready-To-Go, refactors / code health

#8587 Remove `outputs` in `on_train_epoch_end` hooks
  CHANGELOG.md
  docs/source/starter/new-project.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-5.py
  tests/models/test_hooks.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: 0:] Ready-To-Go, breaking change, refactors / code health
