Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-01, with the labels that each got.

#11230 Fix KFold example
  pl_examples/basic_examples/mnist_examples/image_classifier_4_lightning_module.py
  pl_examples/basic_examples/mnist_examples/image_classifier_5_lightning_datamodule.py
  pl_examples/loop_examples/kfold.py
Labels: example, ready

#10580 Revert "[CI] Comment flaky tests (#10084)"
  tests/profiler/test_profiler.py
Labels: ready, tests

#11101 Remove `hpc_save`
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/signal_connector.py
  tests/helpers/pipelines.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_cpu.py
  tests/models/test_restore.py
  tests/trainer/connectors/test_checkpoint_connector.py
Labels: ready, checkpointing, environment: slurm, fault tolerance

#11227 Add deprecation path for renamed training type plugins
  pytorch_lightning/plugins/__init__.py
  pytorch_lightning/plugins/training_type/__init__.py
  pytorch_lightning/plugins/training_type/ddp.py
  pytorch_lightning/plugins/training_type/ddp2.py
  pytorch_lightning/plugins/training_type/ddp_spawn.py
  pytorch_lightning/plugins/training_type/deepspeed.py
  pytorch_lightning/plugins/training_type/dp.py
  pytorch_lightning/plugins/training_type/fully_sharded.py
  pytorch_lightning/plugins/training_type/horovod.py
  pytorch_lightning/plugins/training_type/ipu.py
  pytorch_lightning/plugins/training_type/parallel.py
  pytorch_lightning/plugins/training_type/sharded.py
  pytorch_lightning/plugins/training_type/sharded_spawn.py
  pytorch_lightning/plugins/training_type/single_device.py
  pytorch_lightning/plugins/training_type/single_tpu.py
  pytorch_lightning/plugins/training_type/tpu_spawn.py
  pytorch_lightning/plugins/training_type/training_type_plugin.py
  pytorch_lightning/plugins/training_type/utils.py
  pytorch_lightning/strategies/__init__.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, deprecation, breaking change

#11246 Remove `Strategy.optimizer_zero_grad`
  CHANGELOG.md
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/strategies/strategy.py
Labels: ready

#11294 Fix data fetcher selection
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
Labels: bug, ready, data handling

#11254 Group metrics generated by `DeviceStatsMonitor` for better visualization
  CHANGELOG.md
  pytorch_lightning/callbacks/device_stats_monitor.py
  tests/callbacks/test_device_stats_monitor.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, deprecation, callback: device stats

#11228 Update CODEOWNERS for pl/strategies
  .github/CODEOWNERS
Labels: ready, admin

#11238 Update strategy import statements
  docs/source/common/checkpointing.rst
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: ready, strategy

#11288 Avoid non-blocking GPU->CPU copies.
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
Labels: bug, ready, accelerator

#11247 Add `opt_idx` to scheduler config if not assigned by user
  CHANGELOG.md
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/tuner/lr_finder.py
  tests/trainer/optimization/test_optimizers.py
Labels: ready, lr scheduler

#11270 Update logic to make sure logged_metrics always contain tensors
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: feature, ready, refactor

#11222 Remove `profile("training_step_and_backward")`
  CHANGELOG.md
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/profiler/__init__.py
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/profiler/xla.py
  tests/profiler/test_profiler.py
Labels: ready, profiler

#11244 Reset the total fit-validation batch progress on epoch
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
Labels: bug, ready, progress tracking

#11298 Add typing for utilities/enums.py
  pyproject.toml
  pytorch_lightning/utilities/enums.py
Labels: ready, code quality

#11303 Rename training plugin test files & names to strategy
  dockers/tpu-tests/tpu_test_cases.jsonnet
  tests/plugins/test_cluster_integration.py
  tests/strategies/__init__.py
  tests/strategies/test_custom_plugin.py
  tests/strategies/test_ddp_fully_sharded_with_full_state_dict.py
  tests/strategies/test_ddp_spawn_strategy.py
  tests/strategies/test_ddp_strategy.py
  tests/strategies/test_ddp_strategy_with_comm_hook.py
  tests/strategies/test_deepspeed_strategy.py
  tests/strategies/test_sharded_strategy.py
  tests/strategies/test_single_device_strategy.py
  tests/strategies/test_tpu_spawn.py
Labels: ready, refactor, strategy

#11274 Raise a warning if evaulation is triggered with best ckpt in case of multiple checkpoint callbacks
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: ready, trainer: validate, trainer: test, trainer: predict

#11307 Fix lr scheduler state not being dumped to checkpoint in deepspeed strategy
  CHANGELOG.md
  pytorch_lightning/strategies/deepspeed.py
  tests/strategies/test_deepspeed_strategy.py
Labels: bug, ready, strategy: deepspeed

#11311 Update strategy registry docs
  docs/source/advanced/strategy_registry.rst
  docs/source/index.rst
Labels: ready, docs, strategy

#11310 Fix min/max logging default value
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/core/test_metric_result_integration.py
Labels: bug, ready, logging

#11312 Rename ttp -> strategy
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
Labels: ready, refactor, strategy

#10825 Modify LSFEnvironment to use more reliable environment variable
  CHANGELOG.md
  pytorch_lightning/plugins/environments/lsf_environment.py
  tests/deprecated_api/test_remove_1-7.py
  tests/plugins/environments/test_lsf_environment.py
Labels: feature, ready, environment: lsf

#11010 Update precision docs
  docs/source/advanced/mixed_precision.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/trainer/trainer.py
Labels: ready, docs, precision: apex, precision: double, precision: native amp

#11325 Fix exception message for FSDP running on CPU
  pytorch_lightning/strategies/fully_sharded.py
  tests/strategies/test_ddp_fully_sharded_with_full_state_dict.py
Labels: ready, refactor, strategy: fsdp

#11316 Add typing to some utility files
  pyproject.toml
  pytorch_lightning/utilities/deepspeed.py
  pytorch_lightning/utilities/metrics.py
  pytorch_lightning/utilities/migration.py
  pytorch_lightning/utilities/upgrade_checkpoint.py
Labels: ready, code quality

#11174 Update optimization docs
  docs/source/common/optimizers.rst
Labels: ready, docs

#11327 Update optimizer configuration info message in `DeepSpeedStrategy`
  pytorch_lightning/strategies/deepspeed.py
Labels: feature, ready, strategy: deepspeed

#10822 Update definition of optimizer in introduction_guide.rst
  docs/source/starter/introduction_guide.rst
Labels: duplicate, ready, docs

#11308 Parametrize deepspeed hook test
  tests/models/test_hooks.py
Labels: ready, tests

#11309 Update `LightningCLI(trainer_defaults=...)` doc
  pytorch_lightning/utilities/cli.py
Labels: ready, docs, lightningcli

#11282 Deprecate `TrainerDataLoadingMixin` and move logic to `DataConnector`
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/strategies/ipu.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-8.py
  tests/trainer/flags/test_limit_batches.py
  tests/trainer/flags/test_overfit_batches.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_supporters.py
  tests/utilities/test_auto_restart.py
Labels: ready, data handling, deprecation

#11164 Add LightningLite to README
  README.md
  docs/source/_static/images/lightning_lite/lite.gif
  docs/source/starter/lightning_lite.rst
Labels: ready, docs

#10927 Fix frozen dataclass instance error in `apply_to_collection`
  CHANGELOG.md
  pytorch_lightning/utilities/apply_func.py
  tests/utilities/test_apply_func.py
Labels: feature, ready, data handling

#11328 Rename `_distrib_type` to `_strategy_type`
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, strategy

#11336 Update changelog after 1.5.8 release
  CHANGELOG.md
Labels: ready, docs

#11338 Remove the "Verify linked issue" bot
  .github/workflows/ci_verify_pr_contains_issue.yaml
Labels: ready, ci

#11334 Extend the deprecation of `Trainer(resume_from_checkpoint)`
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
  tests/deprecated_api/test_remove_2-0.py
Labels: ready, deprecation

#11322 Fix restoring lr scheduler states with deepspeed strategy
  CHANGELOG.md
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/strategies/test_custom_plugin.py
  tests/strategies/test_deepspeed_strategy.py
Labels: bug, ready, checkpointing, strategy: deepspeed

#11345 Update on_before_optimizer_step docstring for gradient accumulation behaviour
  pytorch_lightning/core/hooks.py
Labels: ready, docs

#11219 Fix typing in `pl.callbacks.xla_stats_monitor`
  pyproject.toml
  pytorch_lightning/callbacks/xla_stats_monitor.py
Labels: ready, refactor, callback: device stats

#11213 Integrate progress tracking into the progress bar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/progress/rich_progress.py
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  tests/callbacks/test_tqdm_progress_bar.py
Labels: ready, refactor, fault tolerance, progress tracking, progress bar: rich, progress bar: tqdm

#10755 Add Accelerators section to Lightning docs
  docs/source/accelerators/gpu.rst
  docs/source/accelerators/ipu.rst
  docs/source/accelerators/tpu.rst
  docs/source/common/single_gpu.rst
  docs/source/common/trainer.rst
  docs/source/extensions/accelerator.rst
  docs/source/index.rst
  docs/source/starter/introduction_guide.rst
  docs/source/starter/new-project.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/strategies/deepspeed.py
Labels: ready, docs

#11335 Move newly added Trainer methods to be with other methods
  pytorch_lightning/trainer/trainer.py
Labels: ready

#11201 Move `epoch_{start,end}` hooks from `TrainingEpochLoop` to `FitLoop`
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  tests/utilities/test_auto_restart.py
Labels: ready, refactor, fault tolerance, loops

#11344 Move Conversational AI (Nemo) to Examples section
  docs/source/index.rst
Labels: ready, docs

#11217 Skip testing with PyTorch 1.7 and Python 3.9 on Ubuntu
  .github/workflows/ci_test-full.yml
Labels: bug, ready, ci

#11357 Update API references in doc
  docs/source/api_references.rst
  pytorch_lightning/plugins/precision/ipu.py
  pytorch_lightning/plugins/precision/tpu.py
  pytorch_lightning/strategies/ipu.py
Labels: ready, docs

#11340 Update test_gpu_stats_monitor.py to use `devices` instead of `gpus` or `ipus`
  tests/callbacks/test_gpu_stats_monitor.py
Labels: ready, tests

#11339 Update test_device_stats_monitor.py to use `devices` instead of `gpus` or `ipus`
  tests/callbacks/test_device_stats_monitor.py
Labels: ready, tests

#11341 Update test_pruning.py to use `devices` instead of `gpus` or `ipus`
  tests/callbacks/test_pruning.py
Labels: ready, tests

#11388 Update mergify team name
  .github/CONTRIBUTING.md
  .github/mergify.yml
Labels: ready, ci, priority: 1

#11400 Pin sphinx-autodoc-typehints with <v1.15
  requirements/docs.txt
Labels: ready, docs, ci

#11198 Update child modules docs
  docs/source/advanced/transfer_learning.rst
  docs/source/common/child_modules.rst
  docs/source/common/lightning_module.rst
  docs/source/index.rst
  docs/source/starter/introduction_guide.rst
Labels: ready, docs, lightningmodule

#11173 Update evaluation docs
  docs/source/common/test_set.rst
  docs/source/extensions/datamodules.rst
Labels: ready, docs

#11008 add DETAIL logs for batch use cases
  CHANGELOG.md
  pytorch_lightning/__init__.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/fully_sharded.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/utilities/test_warnings.py
Labels: feature, ready

#11337 Update BECOMING_A_CORE_CONTRIBUTOR.md
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/CONTRIBUTING.md
Labels: ready, docs

#11369 Add typing to `TQDMProgressBar`
  pyproject.toml
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/progress/progress.py
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/fit_loop.py
  tests/callbacks/test_tqdm_progress_bar.py
Labels: ready, progress bar: tqdm, code quality

#10903 Add example of getting DataLoader from within LightningModule
  docs/source/guides/data.rst
Labels: ready, docs

#11416 Fix `torch.distributed._*` import statements in tests
  tests/core/test_lightning_module.py
Labels: bug, ready, tests

#10249 Add `LightningModule.lr_scheduler_step`
  .gitignore
  CHANGELOG.md
  docs/source/common/optimizers.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/horovod.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/types.py
  tests/models/test_hooks.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/optimization/test_optimizers.py
  tests/utilities/test_auto_restart.py
Labels: feature, ready, lightningmodule, lr scheduler

#11360 Fix inconsistent exceptions raised with no `rich` installed
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  pytorch_lightning/callbacks/rich_model_summary.py
  tests/callbacks/test_rich_model_summary.py
  tests/callbacks/test_rich_progress_bar.py
Labels: bug, ready, progress bar: rich, tests

#11366 Don't use old testing packages in CI
  .github/set-min-requirements.py
Labels: ready, ci

#11408 Update `tests/checkpointing/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/checkpointing/test_checkpoint_callback_frequency.py
  tests/checkpointing/test_legacy_checkpoints.py
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_torch_saving.py
Labels: ready

#11431 Update profiler doc (1/n)
  docs/source/advanced/profiler.rst
  pytorch_lightning/profiler/__init__.py
Labels: ready, docs

#11401 Avoid in-place ops during logging result updates
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/core/test_metric_result_integration.py
Labels: ready, priority: 0, logging

#11393 Refine remote fs doc
  docs/source/common/checkpointing.rst
  docs/source/common/remote_fs.rst
  docs/source/extensions/logging.rst
Labels: ready, docs

#11390 Refine debugging doc
  docs/source/common/debugging.rst
Labels: ready, docs

#11169 Update training tricks docs
  docs/source/advanced/lr_finder.rst
  docs/source/advanced/training_tricks.rst
  docs/source/common/gradient_accumulation.rst
  docs/source/common/optimizers.rst
  docs/source/common/trainer.rst
  docs/source/index.rst
  docs/source/starter/new-project.rst
  pytorch_lightning/callbacks/gradient_accumulation_scheduler.py
  pytorch_lightning/callbacks/progress/base.py
Labels: ready, docs, trainer: tune

#11333 Add typing to accelerators/gpu.py
  pyproject.toml
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/strategies/single_device.py
  pytorch_lightning/strategies/single_tpu.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/types.py
  tests/deprecated_api/test_remove_1-8.py
  tests/plugins/test_checkpoint_io_plugin.py
Labels: ready, code quality

#11450 Update utilities API references
  docs/source/api_references.rst
  pytorch_lightning/utilities/apply_func.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/cloud_io.py
  pytorch_lightning/utilities/deepspeed.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/memory.py
  pytorch_lightning/utilities/model_summary.py
  pytorch_lightning/utilities/parsing.py
  pytorch_lightning/utilities/seed.py
  pytorch_lightning/utilities/warnings.py
Labels: ready, docs

#11458 Update `tests/utilities/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/utilities/test_all_gather_grad.py
  tests/utilities/test_deepspeed_collate_checkpoint.py
  tests/utilities/test_dtype_device_mixin.py
  tests/utilities/test_fetching.py
  tests/utilities/test_model_summary.py
Labels: ready, tests

#11439 Fix compatibility with old checkpoints and fault-tolerance enabled
  pytorch_lightning/loops/base.py
Labels: bug, ready, fault tolerance

#11395 Upgrade Ubuntu version from `18.04` to `20.04`
  .github/workflows/ci_test-full.yml
Labels: ready, ci

#11140 Update quick start docs
  docs/source/common/lightning_module.rst
  docs/source/extensions/callbacks.rst
  docs/source/extensions/logging.rst
  docs/source/index.rst
  docs/source/starter/installation.rst
  docs/source/starter/new-project.rst
  docs/source/starter/rapid_prototyping_templates.rst
  pytorch_lightning/core/lightning.py
Labels: ready, docs

#11442 Set `Loop.restarting` recursively
  CHANGELOG.md
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  tests/loops/test_loops.py
Labels: feature, ready, fault tolerance, loops

#11485 Update `tests/loggers/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/loggers/test_all.py
Labels: ready, refactor, tests

#11486 Update `tests/profiler/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/profiler/test_profiler.py
  tests/profiler/test_xla_profiler.py
Labels: ready, refactor, tests

#11487 Update `tests/loops/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/loops/test_all.py
  tests/loops/test_evaluation_loop.py
Labels: ready, refactor, tests

#11044 Update speed docs
  docs/source/advanced/training_tricks.rst
  docs/source/common/early_stopping.rst
  docs/source/guides/speed.rst
Labels: ready, docs

#11467 Update `load_from_checkpoint` docstrings
  pytorch_lightning/core/saving.py
Labels: ready, docs, checkpointing

#11466 Simplify data fetching
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/utilities/fetching.py
  tests/utilities/test_fetching.py
Labels: ready, refactor, data handling, performance

#11501 Update incorrect entries in changelog
  CHANGELOG.md
Labels: ready

#11472 Change the default `prog_bar=False` to `True` in `LightningModule.log_grad_norm`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
Labels: ready, logging, breaking change

#11505 Fix Black version conflict
  .pre-commit-config.yaml
Labels: ready, ci

#11510 Update community section
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/CONTRIBUTING.md
Labels: ready, docs

#11430 Update profiler doc (2/n)
  docs/source/advanced/profiler.rst
Labels: ready, docs, profiler

#11507 Disable attaching samplers when using `IterableDataset`
  CHANGELOG.md
  pytorch_lightning/utilities/data.py
  tests/utilities/test_data.py
Labels: bug, ready, data handling

#11444 Move the `lightning_optimizers` ownership to the `Strategy`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/loops/utilities.py
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/sharded.py
  pytorch_lightning/strategies/sharded_spawn.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/trainer/optimizers.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_lightning_optimizer.py
  tests/deprecated_api/test_remove_1-8.py
  tests/strategies/test_single_device_strategy.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, deprecation, optimizer

#11387 Update `tests/callbacks/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/callbacks/test_early_stopping.py
  tests/callbacks/test_pruning.py
  tests/callbacks/test_quantization.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/callbacks/test_xla_stats_monitor.py
Labels: ready, refactor, tests

#11509 Unit test for CLI with lazy_instance default parameter
  tests/utilities/test_cli.py
Labels: ready, lightningcli, tests

#10440 Replacing latest tag with stable for lightning-bolts links
  README.md
  docs/source/ecosystem/bolts.rst
  docs/source/extensions/callbacks.rst
Labels: ready, docs

#11443 Use a dataclass as the scheduler config
  CHANGELOG.md
  pytorch_lightning/callbacks/lr_monitor.py
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/horovod.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/types.py
  tests/callbacks/test_lr_monitor.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/deprecated_api/test_remove_1-8.py
  tests/models/test_amp.py
  tests/models/test_restore.py
  tests/strategies/test_deepspeed_strategy.py
  tests/trainer/optimization/test_optimizers.py
  tests/utilities/test_cli.py
Labels: ready, refactor, deprecation, lr scheduler, code quality

#11414 improve simple profiler output
  CHANGELOG.md
  pytorch_lightning/profiler/simple.py
  tests/profiler/test_profiler.py
Labels: feature, ready, profiler

#11514 Add docs rendered link
  .github/workflows/docs-link.yml
Labels: ready, ci

#11537 Remove `Strategy.on_gpu`
  CHANGELOG.md
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/ddp_spawn.py
  pytorch_lightning/strategies/dp.py
  pytorch_lightning/strategies/fully_sharded.py
  pytorch_lightning/strategies/horovod.py
  pytorch_lightning/strategies/ipu.py
  pytorch_lightning/strategies/parallel.py
  pytorch_lightning/strategies/single_device.py
  pytorch_lightning/strategies/strategy.py
  tests/strategies/test_ddp_spawn_strategy.py
  tests/strategies/test_ddp_strategy.py
  tests/strategies/test_single_device_strategy.py
  tests/strategies/test_tpu_spawn.py
  tests/trainer/test_trainer.py
Labels: ready, breaking change, strategy

#11536 Remove `Strategy.on_tpu` property
  CHANGELOG.md
  pytorch_lightning/strategies/parallel.py
  pytorch_lightning/strategies/single_device.py
  pytorch_lightning/strategies/strategy.py
  tests/strategies/test_ddp_spawn_strategy.py
  tests/strategies/test_ddp_strategy.py
  tests/strategies/test_single_device_strategy.py
  tests/strategies/test_tpu_spawn.py
Labels: ready, breaking change, strategy

#11513 Mark SignalConnector as protected
  pytorch_lightning/trainer/trainer.py
  tests/trainer/connectors/test_signal_connector.py
Labels: ready, refactor, design

#11517 Remove access to `_short_id` in NeptuneLogger
  CHANGELOG.md
  pytorch_lightning/loggers/neptune.py
  tests/loggers/test_all.py
  tests/loggers/test_neptune.py
Labels: ready, logger: neptune

#11532 [CLI] Save only the configuration used
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: bug, ready, lightningcli

#11541 Tests: Fail on FutureWarning
  setup.cfg
  tests/benchmarks/test_basic_parity.py
Labels: ready, ci

#11540 Fixed wandb logger documentation
  docs/source/common/loggers.rst
Labels: ready, docs, logger: wandb

#11518 Fix checkpoint values when saving and resetting the tuner state
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/tuner/tuning.py
  tests/tuner/test_lr_finder.py
  tests/tuner/test_scale_batch_size.py
Labels: ready, checkpointing, trainer: tune, fault tolerance

#11516 Refactor fetching function
  pytorch_lightning/utilities/fetching.py
  tests/utilities/test_fetching.py
Labels: ready, refactor, data handling

#11551 refactoring code with truth value test
  tests/utilities/test_fetching.py
Labels: ready, tests

#11511 Construct the hook kwargs inside each loop
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
Labels: feature, ready, loops

#11521 Let Accelerator inherit from ABC to make sure abstractmethod takes effect
  pytorch_lightning/accelerators/accelerator.py
  tests/accelerators/test_accelerator_connector.py
Labels: ready, accelerator, code quality

#11522 Remove useless pass and abc
  pytorch_lightning/callbacks/base.py
Labels: ready, callback, code quality

#11635 Pin `coverage<6.3`
  requirements/test.txt
Labels: bug, ready, priority: 0, ci

#11649 Update version mapping for PyTorch packages
  requirements/adjust_versions.py
Labels: ready, priority: 0, ci

#11596 Fix `apex` installation path in Dockerfile
  dockers/base-cuda/Dockerfile
Labels: bug, ready, priority: 0, ci
