Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-11, with the labels that each got.

#15437 install lite for mypy & docs
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
Labels: ready

#15435 Lightning 1.8.0 release
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/docs-deploy.yml
  requirements/app/examples.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/__setup__.py
  src/lightning_app/__version__.py
  src/lightning_lite/__version__.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/__version__.py
Labels: ready, priority: 0, release

#14467 CI: Upload video artifacts from e2e tests
  .azure/app-cloud-e2e.yml
  .github/workflows/ci-schema.yml
Labels: ready, ci

#15426 Use sklearn in runif
  tests/legacy/simple_classif_training.py
  tests/tests_pytorch/accelerators/test_hpu.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/callbacks/test_lr_monitor.py
  tests/tests_pytorch/callbacks/test_quantization.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/helpers/datamodules.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/helpers/simple_models.py
  tests/tests_pytorch/helpers/test_models.py
  tests/tests_pytorch/loggers/test_csv.py
  tests/tests_pytorch/models/test_cpu.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/models/test_horovod.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/strategies/test_colossalai.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_ddp_spawn.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_dp.py
  tests/tests_pytorch/trainer/flags/test_overfit_batches.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: ready, ci, tests, pl

#15444 Update changelog for development post 1.8
  src/lightning_app/CHANGELOG.md
  src/lightning_lite/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, docs

#15447 Fix Lightning package version label
  src/lightning/__version__.py
Labels: ready, priority: 0, release, app

#15063 Implement freeze batchnorm with freezing track running stats
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/finetuning.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
Labels: bug, ready, callback: finetuning, community, pl

#15454 Use PL `1.8.0` instead of `1.8.0rc` in app example requirements
  requirements/app/examples.txt
Labels: app

#15457 CI: adjust examples for `lightning.pytorch`
  .github/workflows/ci-pytorch-tests.yml
Labels: ready, ci

#15401 Pkg: fix parsing versions
  .actions/setup_tools.py
Labels: bug, ready

#15460 update docs deploy: stable/latest
  .github/workflows/docs-deploy.yml
Labels: ready, ci, priority: 1

#15469 CI: adjust doctests for lightning.pytorch
  .github/workflows/docs-checks.yml
Labels: ready, ci

#15465 CI: fix typo in workflow & trigger
  .github/workflows/docs-checks.yml
  .github/workflows/docs-deploy.yml
Labels: ready, ci, priority: 1

#15470 ci: fix & unify pkg name
  .github/workflows/ci-pkg-install.yml
  .github/workflows/docs-checks.yml
Labels: ready, ci

#14992 Launch options for Lightning Lite
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/cli.py
  src/lightning_lite/connector.py
  src/lightning_lite/lite.py
  src/lightning_lite/utilities/data.py
  tests/tests_lite/test_cli.py
  tests/tests_lite/test_connector.py
  tests/tests_lite/test_lite.py
Labels: feature, ready, lightninglite

#15237 Introduce checkpoint migration
  src/lightning_lite/utilities/device_dtype_mixin.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/mixins/hparams_mixin.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/core/saving.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  src/pytorch_lightning/utilities/migration.py
  src/pytorch_lightning/utilities/migration/__init__.py
  src/pytorch_lightning/utilities/migration/migration.py
  src/pytorch_lightning/utilities/migration/utils.py
  src/pytorch_lightning/utilities/upgrade_checkpoint.py
  tests/tests_pytorch/utilities/migration/__init__.py
  tests/tests_pytorch/utilities/migration/test_utils.py
  tests/tests_pytorch/utilities/test_migration.py
  tests/tests_pytorch/utilities/test_upgrade_checkpoint.py
Labels: feature, ready, checkpointing, pl

#15323 Fix TensorBoardLogger's validation of example input when logging graph
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/loggers/tensorboard.py
  tests/tests_pytorch/loggers/test_tensorboard.py
Labels: bug, ready, logger: tensorboard, community, pl

#15434 [App] Auto-upgrade / detect environment mis-match from the CLI
  docs/source-app/index.rst
  docs/source-app/installation.rst
  docs/source-app/installation_mac.rst
  docs/source-app/installation_win.rst
  src/lightning_app/__init__.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/utilities/cli_helpers.py
  tests/tests_app/utilities/test_cli_helpers.py
Labels: app, app:cli

#15478 Update governance
  .github/workflows/docs-checks.yml
  docs/source-pytorch/governance.rst
Labels: ready, docs, pl

#15485 Fix srun detection causing permission error on non-SLURM platforms
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/plugins/environments/slurm.py
  tests/tests_lite/plugins/environments/test_slurm.py
Labels: bug, ready, priority: 0, environment: slurm, community

#15481 CI: filter mypy triggers
  .github/checkgroup.yml
  .github/workflows/code-checks.yml
Labels: ci

#15486 using lai docs template
  .github/workflows/docs-checks.yml
  .github/workflows/docs-deploy.yml
  docs/source-app/conf.py
  requirements/app/docs.txt
Labels: ready, docs, app

#15503 CI: group check granularity
  .github/checkgroup.yml
Labels: ci

#15472 Set development version to 1.9.0dev
  src/lightning/__version__.py
  src/lightning_app/__version__.py
  src/lightning_lite/__version__.py
  src/pytorch_lightning/__version__.py
Labels: ready

#15443 Ensure first entry of connect.txt is the app name
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/utilities/cli_helpers.py
Labels: bug, ready, app

#15504 [App] Only check versions / env when not in the cloud
  src/lightning_app/cli/lightning_cli.py
Labels: bug, ready, app, app:cli

#15492 Change probot workflow source
  .github/workflows/probot-auto-cc.yml
  .github/workflows/probot-check-group.yml
Labels: ci

#15483 CI: lower timeout for e2e
  .azure/app-cloud-e2e.yml
Labels: ci

#15480 CI: drop nightly
  .github/workflows/events-nightly.yml
  .github/workflows/release-pypi.yml
Labels: ci

#15310 Add SSH command to CLI
  requirements/app/base.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_apps.py
  src/lightning_app/cli/lightning_cli.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_cloud_cli.py
  tests/tests_app/cli/test_cmd_apps.py
  tests/tests_app/cli/test_cmd_ssh.py
Labels: feature, ready, app, app:cli

#15510 Checkout the HEAD SHA for docs builds
  .github/workflows/docs-checks.yml
Labels: ready, priority: 0, ci

#15508 CI: resolving Docs
  .github/workflows/docs-checks.yml
  docs/README.md
  docs/source-app/conf.py
  docs/source-app/examples/file_server/app.py
  docs/source-app/examples/index.rst
  docs/source-app/glossary.rst
  docs/source-app/glossary/aws_arn.rst
  docs/source-app/glossary/index.rst
  docs/source-app/index.rst
  docs/source-app/install/install_beginner.rst
  docs/source-app/install/installation.rst
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/run_on_aws_account.rst
  docs/source-app/levels/expert/index.rst
  docs/source-app/levels/intermediate/embed_web_ui_into_lightningwork.rst
  docs/source-app/levels/intermediate/index.rst
  docs/source-app/levels/intermediate/level_10.rst
  docs/source-app/levels/intermediate/level_9.rst
  docs/source-app/workflows/build_lightning_app/index.rst
  docs/source-app/workflows/build_lightning_component/index.rst
  docs/source-app/workflows/build_rest_api/index.rst
  docs/source-app/workflows/index.rst
  docs/source-pytorch/conf.py
  requirements/app/docs.txt
  requirements/lit/docs.txt
  requirements/pytorch/docs.txt
  setup.cfg
Labels: ready, docs, priority: 0, ci

#15511 Fix PL docs build on readthedocs.org
  .readthedocs.yml
Labels: ready, docs, priority: 0, ci, pl

#15441 Periodically sync database to the drive
  src/lightning_app/components/database/server.py
  tests/tests_app/components/database/test_client_server.py
Labels: feature, ready, app, app:storage

#15488 CI: exclude docs requirements changes
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/ci-pytorch-tests-slow.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15513 fix(docs/app): setup muse card
  docs/source-app/index.rst
Labels: ready, docs, app

#15466 [App] Resolve inconsistency where the `flow.flows` property isn't recursive leading to flow overrides
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/app_commands.py
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/queues.py
  src/lightning_app/structures/dict.py
  src/lightning_app/structures/list.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/tree.py
  tests/tests_app/core/lightning_app/test_configure_layout.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/utilities/test_load_app.py
  tests/tests_app/utilities/test_tree.py
Labels: bug, ready, app

#15523 [App] Add start method to the LightningWork
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/work.py
  src/lightning_app/utilities/enum.py
  src/lightning_app/utilities/proxies.py
  tests/tests_app/core/test_lightning_work.py
Labels: feature, ready, app, app:lightningwork

#15526 Replace pull_request_target event from docs workflow
  .github/workflows/docs-checks.yml
Labels: ready, ci

#15521 Docs 2/n
  .pre-commit-config.yaml
  docs/source-app/get_started/add_an_interactive_demo.rst
  docs/source-app/get_started/build_model.rst
  docs/source-app/get_started/go_beyond_training.rst
  docs/source-app/get_started/go_beyond_training_content.rst
  docs/source-app/index.rst
  docs/source-app/install/installation.rst
  docs/source-app/install/mac.bash
  docs/source-app/install/pip.bash
  docs/source-app/levels/basic/build_a_dag.rst
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/connect_lightning_components.rst
  docs/source-app/levels/basic/create_a_model_demo.rst
  docs/source-app/levels/basic/deploy_ai_model_api.rst
  docs/source-app/levels/basic/hello_components/build_demo.py
  docs/source-app/levels/basic/hello_components/train_pytorch.py
  docs/source-app/levels/basic/hello_components/xgboost.py
  docs/source-app/levels/basic/hello_components/xgboost_gpu.py
  docs/source-app/levels/basic/index.rst
  docs/source-app/levels/basic/key_features/mount_data.py
  docs/source-app/levels/basic/level_2_scripts/hello_app.py
  docs/source-app/levels/basic/level_2_scripts/organized_app_python.py
  docs/source-app/levels/basic/level_2_scripts/tr.bash
  docs/source-app/levels/basic/run_jupyter_notebook_on_the_cloud.rst
  docs/source-app/levels/basic/train_pytorch_on_the_cloud.rst
  docs/source-app/quickstart.rst
Labels: docs, app

#15531 [App] Hot Fix: Missing root flow in app.flows
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/utilities/test_load_app.py
Labels: bug, ready, app

#15518 Fix handling of script arguments in tracer
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/python/tracer.py
  tests/tests_app/components/python/test_python.py
Labels: ready, breaking change, app

#15522 Move to alumni
  docs/source-pytorch/governance.rst
Labels: ready, docs, pl

#15530 Replace pull_request event from docs workflow
  .github/workflows/docs-checks.yml
Labels: ready, docs, priority: 0, ci

#15529 CI: skip jobs in draft
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/ci-pytorch-tests-slow.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/probot-check-group.yml
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15534 Remove dead `ModelCheckpoint` code
  src/pytorch_lightning/callbacks/model_checkpoint.py
Labels: ready, callback: model checkpoint, code quality, pl

#15493 Do not modify PACKAGE_NAME on install
  .actions/setup_tools.py
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/actions/pkg-check/action.yml
  .github/actions/pkg-install/action.yml
  .github/checkgroup.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-tests-slow.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/docs-checks.yml
  requirements/pytorch/base.txt
  setup.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/cli_helpers.py
  src/pytorch_lightning/__setup__.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_cmd_react_ui_init.py
Labels: ready, ci

#15532 Only load global step when fitting
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/tests_pytorch/models/test_restore.py
Labels: ready, breaking change, loops, pl

#15524 [App] Introduce Multi Node Component
  examples/app_multi_node/app.py
  examples/app_multi_node/app_work.py
  examples/app_multi_node/train.py
  pyproject.toml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/multi_node.py
  tests/tests_app_examples/test_multi_node.py
Labels: ready, app, components

#15535 Fix ReduceOp type hint in ColossalAI strategy
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/colossalai.py
  tests/tests_lite/utilities/test_imports.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: bug, ready, priority: 0, pl, strategy: colossalai

#15413 Fix usage of fs.listdir in CheckpointConnector
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
Labels: bug, ready, checkpointing, community, pl

#15496 load_from_checkpoint returns the expected type
  src/pytorch_lightning/core/datamodule.py
  src/pytorch_lightning/core/saving.py
Labels: ready, code quality, community, pl

#15333 Improve the checkpoint upgrade utility script
  docs/source-pytorch/common/checkpointing.rst
  docs/source-pytorch/common/checkpointing_advanced.rst
  docs/source-pytorch/common/checkpointing_basic.rst
  docs/source-pytorch/common/checkpointing_expert.rst
  docs/source-pytorch/common/checkpointing_intermediate.rst
  docs/source-pytorch/common/checkpointing_migration.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/upgrade_checkpoint.py
  tests/tests_pytorch/utilities/test_upgrade_checkpoint.py
Labels: feature, ready, checkpointing, pl

#15538 Slightly safer multi node
  src/lightning_app/components/multi_node.py
Labels: ready, app

#15533 Print the logs when TPU tests fail
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15341 Grep for potential errors in standalone tests
  src/pytorch_lightning/strategies/fully_sharded.py
  tests/tests_lite/strategies/test_fairscale_integration.py
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/strategies/test_colossalai.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_ddp_strategy_with_comm_hook.py
  tests/tests_pytorch/strategies/test_sharded_strategy.py
Labels: ready, tests, pl

#15544 Let metadata `score` be serializable by wand
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: bug, ready, logger: wandb, community, pl

#15316 Add basic SSH documentation for CLI
  docs/source-app/workflows/index.rst
  docs/source-app/workflows/ssh/index.rst
Labels: ready, docs, app

#15540 Update path type annotation for load_from_checkpoint
  src/pytorch_lightning/core/saving.py
Labels: ready, checkpointing, code quality, community, pl

#15557 [App] Fixed Multi Node and add examples
  examples/app_multi_node/README.md
  examples/app_multi_node/app_generic_work.py
  examples/app_multi_node/app_lite_work.py
  examples/app_multi_node/app_pl_script.py
  examples/app_multi_node/app_pl_work.py
  examples/app_multi_node/app_torch_work.py
  examples/app_multi_node/bare/.gitignore
  examples/app_multi_node/bare/multi_node.py
  examples/app_multi_node/requirements.txt
  examples/app_multi_node/train.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/multi_node.py
  src/lightning_app/utilities/proxies.py
  tests/tests_app_examples/conftest.py
  tests/tests_app_examples/test_multi_node.py
Labels: bug, ready, app

#15566 Fix `tests_pytorch` import error in legacy checkpoint CI
  tests/legacy/generate_checkpoints.sh
Labels: ci

#15565 Revert "Fix PL docs build on readthedocs.org (#15511)"
  .readthedocs.yml
Labels: ci

#15568 Move `krshrimali` to Alumni
  docs/source-pytorch/governance.rst
Labels: pl

#15536 Add back `pytorch_lightning.utilities.distributed.rank_zero_only` but deprecate it
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/distributed.py
  src/pytorch_lightning/utilities/rank_zero.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
Labels: bug, ready, deprecation, pl

#15570 [App] Re-wording build config warning in the docs
  docs/source-app/glossary/build_config/build_config_advanced.rst
Labels: ready, app

#15471 Reuse existing commands when running connect more than once
  src/lightning_app/cli/commands/connection.py
  tests/tests_app/cli/test_connect.py
Labels: ready, app

#15560 use _PATH in annotations and convert to str if Path
  src/pytorch_lightning/loggers/tensorboard.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/trainer/trainer.py
Labels: feature, ready, pl

#15301 Added a check to validate that wrapped FSDP models are used while initializing optimizers
  docs/source-pytorch/advanced/model_parallel.rst
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/fsdp_native.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/fully_sharded.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_native.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_with_full_state_dict.py
Labels: ready, strategy: fsdp native, pl

#15567 Fix result transfer in multiprocessing launcher on multi-node
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
Labels: bug, strategy: ddp spawn, pl

#15561 [App] Expose Run Work Executor
  examples/app_multi_node/README.md
  examples/app_multi_node/app_lite_work.py
  examples/app_multi_node/app_pl_work.py
  examples/app_multi_node/pl_boring_script.py
  examples/app_multi_node/train_any.py
  examples/app_multi_node/train_lite.py
  examples/app_multi_node/train_pl.py
  examples/app_multi_node/train_pl_script.py
  examples/app_multi_node/train_pytorch.py
  examples/app_multi_node/train_pytorch_spawn.py
  pyproject.toml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/multi_node/__init__.py
  src/lightning_app/components/multi_node/base.py
  src/lightning_app/components/multi_node/lite.py
  src/lightning_app/components/multi_node/pl.py
  src/lightning_app/components/multi_node/pytorch_spawn.py
  src/lightning_app/core/work.py
  src/lightning_app/runners/backends/mp_process.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/proxies.py
  tests/tests_app/utilities/test_app_helpers.py
  tests/tests_app_examples/conftest.py
  tests/tests_app_examples/test_multi_node.py
Labels: ready, app

#15317 Add test to verify that lowering gpus on restart works with sharded spawn
  tests/tests_pytorch/strategies/test_sharded_strategy.py
Labels: ready, tests, strategy: sharded, pl

#15308 Update docs for `seed_everything` in LightningCLI
  src/pytorch_lightning/cli.py
Labels: ready, docs, lightningcli, community, pl

#15584 Remove MANIFEST reference in docs job
  .github/workflows/docs-checks.yml
Labels: ready, ci

#15585 Simplify codeowners
  .github/CODEOWNERS
Labels: ready, ci

#15555 Support fused Adam with mixed precision
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/plugins/precision/native_amp.py
  tests/tests_lite/plugins/precision/test_native_amp_integration.py
  tests/tests_pytorch/plugins/precision/test_native_amp.py
  tests/tests_pytorch/plugins/precision/test_native_amp_integration.py
Labels: bug, ready, optimization, precision: native amp, community, pl

#15331 Merge the slow and regular test workflows
  .github/checkgroup.yml
  .github/workflows/ci-pytorch-tests-slow.yml
  .github/workflows/ci-pytorch-tests.yml
Labels: ready, ci

#15546 Enable quick start e2e test again and run on cloud without installing dependencies 😎
  .azure/app-cloud-e2e.yml
  tests/tests_app_examples/test_quick_start.py
Labels: ready, app

#13137 Fix bagua strategy raising `AttributeError` during manual optimization
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/bagua.py
  tests/tests_pytorch/strategies/test_bagua_strategy.py
Labels: bug, ready, strategy: bagua, community, pl

#15304 Support DDP with LRFinder
  docs/source-pytorch/advanced/training_tricks.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/tuner/lr_finder.py
  src/pytorch_lightning/tuner/tuning.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: feature, ready, trainer: tune, pl

#15365 Reuse assistant code to create the mirror package
  .actions/assistant.py
  .actions/requirements.txt
  .actions/setup_tools.py
  .github/workflows/code-checks.yml
  MANIFEST.in
  setup.py
Labels: ready, ci

#15551 Fix wandb test writing artifacts to cwd
  tests/tests_pytorch/loggers/test_wandb.py
Labels: ready, logger: wandb, tests, community, pl

#15591 [App] Add `start_with_flow` flag to works
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/work.py
  src/lightning_app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: app

#15415 CI: Use new syntax for setting github output
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/release-docker.yml
  src/lightning_app/cli/component-template/.github/workflows/ci-testing.yml
Labels: ready, ci

#15300 Make checkpointing on train epoch end condition dynamic
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: feature, ready, callback: model checkpoint, pl

#15577 Run Command from App Comments
  .azure/app-cloud-e2e.yml
  docs/source-app/levels/basic/hello_components/build_demo.py
  docs/source-app/levels/basic/hello_components/multi_node.py
  docs/source-app/levels/basic/hello_components/pt_multinode.py
  docs/source-app/levels/basic/hello_components/xgboost.py
  docs/source-app/levels/basic/hello_components/xgboost_gpu.py
  examples/app_installation_commands/app.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/core/constants.py
  src/lightning_app/runners/__init__.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/runners/multiprocess.py
  src/lightning_app/runners/runtime.py
  src/lightning_app/runners/singleprocess.py
  src/lightning_app/utilities/app_commands.py
  tests/tests_app/cli/test_run_app.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/utilities/test_app_commands.py
  tests/tests_app/utilities/testdata/app_commands/app_commands_to_ignore.txt
  tests/tests_app/utilities/testdata/app_commands/bang_not_at_start_of_line.txt
  tests/tests_app/utilities/testdata/app_commands/command_after_first_non_comment_line.txt
  tests/tests_app/utilities/testdata/app_commands/commands_with_mixed_comments_1.txt
  tests/tests_app/utilities/testdata/app_commands/commands_with_mixed_comments_2.txt
  tests/tests_app/utilities/testdata/app_commands/multiple_commands.txt
  tests/tests_app/utilities/testdata/app_commands/multiple_spaces_between_band_and_command.txt
  tests/tests_app/utilities/testdata/app_commands/single_command.txt
  tests/tests_app/utilities/testdata/app_commands/space_between_bang_and_command.txt
  tests/tests_app_examples/test_installation_commands_app.py
Labels: ready, app

#15594 Update outdated deadlock detection test
  tests/tests_pytorch/plugins/environments/__init__.py
  tests/tests_pytorch/plugins/environments/torch_elastic_deadlock.py
  tests/tests_pytorch/run_standalone_tasks.sh
Labels: feature, tests, strategy: ddp, pl

#14976 Fix LightningCLI docs after overhaul of the documentation
  docs/source-pytorch/cli/lightning_cli.rst
  docs/source-pytorch/cli/lightning_cli_advanced.rst
  docs/source-pytorch/cli/lightning_cli_advanced_2.rst
  docs/source-pytorch/cli/lightning_cli_advanced_3.rst
  docs/source-pytorch/cli/lightning_cli_expert.rst
  docs/source-pytorch/cli/lightning_cli_faq.rst
  docs/source-pytorch/cli/lightning_cli_intermediate.rst
  docs/source-pytorch/cli/lightning_cli_intermediate_2.rst
  docs/source-pytorch/common/hyperparameters.rst
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/index.rst
Labels: ready, docs, lightningcli, community, pl

#15605 [App] Resolve Multi Node examples
  examples/app_multi_node/train_pytorch.py
  examples/app_multi_node/train_pytorch_spawn.py
Labels: bug, ready, app

#15253 Enhance `reduce_boolean_decision` to accommodate `any`-analogous semantics expected by `EarlyStopping` Callback
  src/lightning_lite/strategies/dp.py
  src/lightning_lite/strategies/parallel.py
  src/lightning_lite/strategies/strategy.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/early_stopping.py
  src/pytorch_lightning/strategies/dp.py
  src/pytorch_lightning/strategies/parallel.py
  src/pytorch_lightning/strategies/strategy.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
Labels: bug, ready, callback: early stopping, community, pl

#15590 [App] Enable debugger with LightningApp
  examples/app_boring/app_dynamic.py
  examples/app_commands_and_api/app.py
  examples/app_mount/app.py
  examples/app_template_streamlit_ui/app.py
  examples/app_v0/app.py
  examples/app_works_on_default_machine/app_v2.py
  src/lightning/__init__.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/runners/runtime.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/app_helpers.py
  tests/tests_app/conftest.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/storage/test_payload.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/test_proxies.py
  tests/tests_app_examples/collect_failures/app.py
  tests/tests_app_examples/conftest.py
  tests/tests_app_examples/custom_work_dependencies/app.py
  tests/tests_app_examples/idle_timeout/app.py
Labels: feature, ready, app

#15412 ENG-1524: Change retry mechansim default in LightningClient
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/backends/cloud.py
  src/lightning_app/utilities/cloud.py
  src/lightning_app/utilities/network.py
  tests/tests_app/cli/test_cloud_cli.py
  tests/tests_app/utilities/test_network.py
  tests/tests_app/utilities/test_secrets.py
Labels: bug, ready, app, app:cli, app:cloud

#15169 Expose sharding context manager in Lite
  src/lightning_lite/lite.py
  src/lightning_lite/strategies/deepspeed.py
  src/lightning_lite/strategies/strategy.py
  tests/tests_lite/test_lite.py
Labels: feature, ready, lightninglite

#15506 Integrate Lite launcher into Lightning CLI
  requirements/app/base.txt
  requirements/lite/test.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_lite/cli.py
  tests/tests_lite/test_cli.py
Labels: ready, lightninglite, app, app:cli

#15612 Enable Probot CheckGroup V2
  .github/workflows/probot-check-group.yml
Labels: ci

#15599 Update Lightning Lite examples
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  examples/README.md
  examples/convert_from_pt_to_pl/README.md
  examples/convert_from_pt_to_pl/image_classifier_2_lite.py
  examples/convert_from_pt_to_pl/image_classifier_3_lite_to_lightning_module.py
  examples/convert_from_pt_to_pl/image_classifier_4_lightning_module.py
  examples/convert_from_pt_to_pl/image_classifier_5_lightning_datamodule.py
  examples/lite/README.md
  examples/lite/image_classifier_1_pytorch.py
  examples/lite/image_classifier_2_lite.py
  examples/lite/models.py
  examples/pl_loops/mnist_lite.py
  examples/run_lite_examples.sh
  examples/run_pl_examples.sh
  requirements/lite/examples.txt
  src/lightning_lite/__setup__.py
Labels: example, ready, lightninglite, pl

#15616 Upgrade to HPU release 1.7.0
  .azure/hpu-tests.yml
  dockers/ci-runner-hpu/Dockerfile
  tests/tests_pytorch/plugins/precision/hpu/test_hpu.py
Labels: ready, ci, accelerator: hpu, pl

#15610 Avoid torchelastic warning message when importing lightning
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/strategies/deepspeed.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/deepspeed.py
  tests/tests_lite/utilities/test_imports.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: bug, ready, 3rd party, community, pl

#15579 Use `monkeypatch.chdir` instead of `os.chdir` in tests
  tests/tests_app/cli/test_cmd_install.py
  tests/tests_app/source_code/test_tar.py
  tests/tests_app/utilities/packaging/test_app_config.py
  tests/tests_app_examples/test_multi_node.py
Labels: tests, code quality, community, app

#15582 [App] Introduce Bi-directional queues
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/core/queues.py
  src/lightning_app/core/work.py
  src/lightning_app/runners/backends/backend.py
  src/lightning_app/runners/backends/mp_process.py
  src/lightning_app/utilities/proxies.py
  tests/tests_app/components/database/test_client_server.py
  tests/tests_app/conftest.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/utilities/test_proxies.py
  tests/tests_app_examples/test_multi_node.py
Labels: feature, ready, app

#15601 Optimize Payload Time locally
  src/lightning_app/CHANGELOG.md
  src/lightning_app/storage/orchestrator.py
Labels: bug, ready, app

#15619 [App] Resolve multi-node cloud bug
  examples/app_multi_node/train_lite.py
Labels: bug, ready, app

#15615 Fix: App comment command execution sequencing
  examples/app_installation_commands/app.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/runners/multiprocess.py
  src/lightning_app/runners/singleprocess.py
  tests/tests_app_examples/test_installation_commands_app.py
Labels: app

#15347 Drop PyTorch 1.9 support
  .azure/ipu-tests.yml
  .github/checkgroup.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/ci-pytorch-tests.yml
  README.md
  dockers/base-cuda/Dockerfile
  dockers/base-ipu/Dockerfile
  dockers/ci-runner-ipu/Dockerfile
  dockers/release/Dockerfile
  docs/source-pytorch/accelerators/tpu_basic.rst
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/versioning.rst
  environment.yml
  requirements/lite/base.txt
  requirements/pytorch/adjust-versions.py
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  src/lightning_lite/plugins/environments/torchelastic.py
  src/lightning_lite/utilities/imports.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/README.md
  src/pytorch_lightning/utilities/imports.py
  tests/README.md
  tests/tests_lite/plugins/collectives/test_torch_collective.py
  tests/tests_lite/plugins/environments/test_torchelastic.py
  tests/tests_lite/plugins/precision/test_native_amp.py
  tests/tests_lite/plugins/precision/test_native_amp_integration.py
  tests/tests_lite/test_parity.py
  tests/tests_lite/test_wrappers.py
  tests/tests_lite/utilities/test_distributed.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_onnx.py
  tests/tests_pytorch/plugins/precision/test_sharded_precision.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_ddp_strategy_with_comm_hook.py
  tests/tests_pytorch/utilities/test_distributed.py
Labels: ready, ci, refactor, admin, pl

#15626 Add Ethan as Lightning App CodeOwners
  .github/CODEOWNERS
Labels: app

#15623 Sample datatype for Serve Component
  examples/app_server/app.py
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
  src/lightning_app/components/__init__.py
  src/lightning_app/components/serve/__init__.py
  src/lightning_app/components/serve/catimage.png
  src/lightning_app/components/serve/python_server.py
  tests/tests_app/components/serve/test_python_server.py
Labels: ready, app

#15628 Docs 4/n
  docs/source-app/api_reference/components.rst
  docs/source-app/api_references.rst
  docs/source-app/index.rst
  docs/source-app/landing_app_run.bash
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/hello_components/code_run_cloud_setup.bash
  docs/source-app/levels/basic/hello_components/code_run_cloud_yours_setup.bash
  docs/source-app/levels/basic/hello_components/code_run_local_setup.bash
  docs/source-app/levels/basic/hello_components/deploy_model.py
  docs/source-app/levels/basic/hello_components/pl_multinode.py
  docs/source-app/levels/basic/hello_components/pt_multinode.py
  docs/source-app/levels/basic/hello_components/run_ptl_script.py
  docs/source-app/levels/basic/hello_components/run_script.py
  docs/source-app/levels/basic/hello_components/streamlit_demo.py
  docs/source-app/levels/basic/hello_components/train_pytorch.py
  docs/source-app/levels/basic/hello_components/xgboost.py
  docs/source-app/levels/basic/hero_components.rst
  docs/source-app/levels/basic/hero_run.rst
  docs/source-app/levels/basic/hero_run_setup.rst
  docs/source-app/levels/basic/index.rst
  docs/source-app/levels/basic/real_lightning_component_implementations.rst
  examples/app_multi_node/train_lt_script.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/training.py
Labels: app

#15629 fix pypi pkg
  .github/workflows/release-pypi.yml
Labels: ready, ci

#15631 mypy: ignore mypy serve
  pyproject.toml
Labels: ci

#15630 fix pypi pkg
  .github/workflows/release-pypi.yml
Labels: ready, ci

#15622 Enable Probot CheckGroup v3
  .github/workflows/probot-check-group.yml
Labels: ci

#15549 Do not modify MANIFEST.in on install
  .github/actions/pkg-check/action.yml
  .github/workflows/docs-checks.yml
  MANIFEST.in
  setup.py
  src/lightning/MANIFEST.in
  src/lightning/__setup__.py
  src/lightning_app/MANIFEST.in
  src/lightning_app/__setup__.py
  src/lightning_lite/MANIFEST.in
  src/lightning_lite/__setup__.py
  src/pytorch_lightning/MANIFEST.in
  src/pytorch_lightning/__setup__.py
Labels: ready, ci

#15607 [App] Enable state broadcast with MultiNode
  examples/app_multi_node/train_lite.py
  examples/app_multi_node/train_lt.py
  examples/app_multi_node/train_pytorch.py
  examples/app_multi_node/train_pytorch_spawn.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/multi_node/lite.py
  src/lightning_app/components/multi_node/pytorch_spawn.py
  src/lightning_app/components/multi_node/trainer.py
  src/lightning_app/core/queues.py
  src/lightning_app/utilities/proxies.py
Labels: ready, app

#15634 Validate that state-key is unique when using multiple callbacks of the same type
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/callback_connector.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: feature, ready, checkpointing, pl

#15398 [App] Resolve race condition to move ui files
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/runners/multiprocess.py
Labels: bug, ready, app

#15636 Remove the docs for passing strategy args to accelerator
  docs/source-pytorch/common/trainer.rst
  src/pytorch_lightning/trainer/trainer.py
Labels: docs, accelerator, strategy, pl

#15638 Make sure save_dir can be empty str
  src/pytorch_lightning/callbacks/model_checkpoint.py
Labels: ready, callback: model checkpoint, pl

#15606 Checkpoint migration for `ModelCheckpoint` state-key changes
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/utilities/migration/migration.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/utilities/migration/test_migration.py
Labels: feature, ready, checkpointing, breaking change, pl

#15644 Revert "Do not modify MANIFEST.in on install (#15549)"
  .github/actions/pkg-check/action.yml
  .github/workflows/docs-checks.yml
  MANIFEST.in
  setup.py
  src/lightning/MANIFEST.in
  src/lightning/__setup__.py
  src/lightning_app/MANIFEST.in
  src/lightning_app/__setup__.py
  src/lightning_lite/MANIFEST.in
  src/lightning_lite/__setup__.py
  src/pytorch_lightning/MANIFEST.in
  src/pytorch_lightning/__setup__.py
Labels: priority: 0

#15185 Support individual setup of model and optimizer in Lite
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/lite.py
  src/lightning_lite/strategies/deepspeed.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/strategy.py
  tests/tests_lite/strategies/test_deepspeed.py
  tests/tests_lite/strategies/test_fairscale.py
  tests/tests_lite/test_lite.py
Labels: feature, ready, refactor, lightninglite, community

#15642 [App] Resolve bi-directional queue bug
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/logs.py
  src/lightning_app/components/serve/python_server.py
  src/lightning_app/core/app.py
  src/lightning_app/testing/testing.py
  tests/tests_app/utilities/test_proxies.py
Labels: bug, ready, app

#15633 Refactor checkgroup to avoid duplicated checks
  .azure/app-cloud-e2e.yml
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-lite.yml
  .github/checkgroup.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/docs-checks.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15600 Update docs with new Lightning Lite usage 1/n
  docs/source-pytorch/starter/lightning_lite.rst
Labels: docs, lightninglite, pl

#15611 Delete unused TPU CI files
  .github/checkgroup.yml
  .github/workflows/tpu-tests.yml
  dockers/base-xla/tpu_workflow.jsonnet
  dockers/tpu-tests/Dockerfile
  dockers/tpu-tests/docker-entrypoint.sh
Labels: ready, ci

#15650 [App] Accelerate Multi Node Startup Time
  examples/app_multi_node/README.md
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/database/server.py
  src/lightning_app/components/multi_node/base.py
  src/lightning_app/core/app.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/proxies.py
  tests/tests_app/components/database/test_client_server.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/storage/test_drive.py
  tests/tests_app/utilities/test_proxies.py
Labels: bug, ready, app

#15654 [App] Change app root / config path to be the `app.py` parent directory
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/packaging/app_config.py
  tests/tests_app/utilities/packaging/test_app_config.py
Labels: bug, app, app:runners

#15502 Add LightningLite to top level imports
  .github/workflows/ci-pkg-install.yml
  src/lightning/__init__.py
Labels: feature, ready, lightninglite, app

#15583 Upgrade GPU CI to PyTorch 1.13
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/release-docker.yml
  dockers/base-cuda/Dockerfile
  requirements/pytorch/strategies.txt
  tests/tests_lite/conftest.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_native.py
Labels: ready, ci, pl

#15632 update chlogs after 1.8.1
  src/lightning_app/CHANGELOG.md
  src/lightning_lite/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, docs

#15647 Prevent artifactual "running from outside your current environment" error
  src/lightning_app/utilities/cli_helpers.py
Labels: ready, app

#15374 PKG: distribute single semver
  .actions/setup_tools.py
  .github/actions/pkg-check/action.yml
  .github/workflows/docs-checks.yml
  .gitignore
  MANIFEST.in
  dockers/nvidia/Dockerfile
  dockers/release/Dockerfile
  setup.py
  src/lightning/__setup__.py
  src/lightning/__version__.py
  src/lightning_app/__setup__.py
  src/lightning_app/__version__.py
  src/lightning_lite/__setup__.py
  src/lightning_lite/__version__.py
  src/pytorch_lightning/__setup__.py
  src/pytorch_lightning/__version__.py
  src/version.info
Labels: ready, ci

#15657 Fix ddp_spawn -> ddp fallback logic when on LSF cluster
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/connector.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_lite/test_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, community, pl

#15652 Add axes argument to lr finder plot
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/tuner/lr_finder.py
Labels: feature, ready, trainer: tune, community, pl

#15659 fix include package
  .actions/assistant.py
Labels: bug, ready, priority: 1

#15608 [App] Rename failed -> error in tables
  src/lightning_app/cli/cmd_clusters.py
Labels: ready, app

#14493 Improves the PanelFrontend docs
  src/lightning_app/frontend/panel/app_state_watcher.py
  src/lightning_app/frontend/panel/panel_frontend.py
Labels: ready, docs, community, app

#15639 add title and description to ServeGradio
  src/lightning_app/components/serve/gradio.py
  tests/tests_app/components/serve/test_gradio.py
Labels: ready, app

#15403 Upgrade CI to PyTorch 1.13
  .github/checkgroup.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pytorch-tests.yml
  requirements/lite/base.txt
  requirements/pytorch/adjust-versions.py
  requirements/pytorch/base.txt
  requirements/pytorch/check-avail-extras.py
  requirements/pytorch/check-avail-strategies.py
  src/lightning_app/cli/app-template/tests/requirements.txt
  src/lightning_app/cli/component-template/tests/requirements.txt
  tests/tests_lite/plugins/precision/test_native_amp.py
Labels: ready, ci

#15663 Fixed Import in Docs For Multinode Trainer Name Which does Not Exist
  docs/source-app/levels/basic/hello_components/pl_multinode.py
Labels: docs, app

#14929 Validate the combination of CloudCompute and BuildConfig
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: feature, ready, app

#15681 Add Python 3.10 badge
  src/lightning/__setup__.py
  src/pytorch_lightning/__setup__.py
Labels: ready, community

#15691 fix(docs/app): broken links in the intermediate/web-ui section
  docs/source-app/workflows/add_web_ui/index_content.rst
Labels: docs, app

#15693 Docs: Fix import for scikit in XGBoost template
  docs/source-app/levels/basic/hello_components/xgboost.py
Labels: app

#15649 Enable Probot CheckGroup v4
  .azure/app-cloud-e2e.yml
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/checkgroup.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
  .github/workflows/probot-check-group.yml
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15669 docs 5/n
  docs/source-app/levels/basic/hello_components/pl_multinode.py
  docs/source-app/levels/basic/hero_components.rst
Labels: app

#15702 fix(docs/app/lit_tabs): remove unused app_id, enable run instead
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/hero_components.rst
  docs/source-app/levels/basic/real_lightning_component_implementations.rst
  docs/source-app/levels/basic/save_money_on_cloud_costs.rst
  docs/source-app/levels/intermediate/connect_lightning_components.rst
  docs/source-app/levels/intermediate/debug_a_lightning_app.rst
  docs/source-app/levels/intermediate/share_variables_between_lightning_components.rst
  docs/source-app/workflows/run_work_in_parallel_content.rst
Labels: docs, app

#15711 [App] Mock missing package imports when launching in the cloud
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/cloud.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/layout.py
  src/lightning_app/utilities/load_app.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/utilities/test_proxies.py
Labels: ready, app, app:cli

#15712 Fix catimage import
  src/lightning_app/components/serve/python_server.py
Labels: ready, app

#15714 Parse all lines in app file looking for shebangs to run commands.
  src/lightning_app/utilities/app_commands.py
  tests/tests_app/utilities/test_app_commands.py
  tests/tests_app/utilities/testdata/app_commands/command_after_first_non_comment_line.txt
Labels: ready, app

#15716 remove unused random_split import from tutorial
  docs/source-pytorch/model/train_model_basic.rst
Labels: pl

#15710 Fix typo 'wether'
  docs/source-pytorch/starter/lightning_lite.rst
  src/lightning_lite/lite.py
Labels: ready, docs, pl
