Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-04, with the labels that each got.

#12452 Avoid calling average_parameters multiple times per optimizer step
  CHANGELOG.md
  pytorch_lightning/strategies/ddp.py
Labels: ready, strategy: ddp

#12536 Remove deprecated `prepare_data_per_node` in `Trainer`
  CHANGELOG.md
  docs/source/common/trainer.rst
  docs/source/starter/core_guide.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, refactor, breaking change, trainer: argument

#12559 remove LightningModule.summarize
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-7.py
  tests/trainer/logging_/test_logger_connector.py
Labels: ready, breaking change, lightningmodule

#12542 Bump version of black to 22.3.0
  .pre-commit-config.yaml
  pytorch_lightning/strategies/sharded.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/model_summary.py
  tests/benchmarks/test_sharded_parity.py
  tests/loggers/test_all.py
  tests/trainer/optimization/test_optimizers.py
  tests/trainer/test_data_loading.py
  tests/utilities/test_grads.py
Labels: bug, ready, ci, 3rd party

#12568 Link full code example for LightningLite
  docs/source/starter/lightning_lite.rst
Labels: ready, docs

#12449 Run CircleCI jobs in seperate workflows to enable rerunning individually
  .circleci/config.yml
Labels: ready, ci

#12585 Enable rank zero utilities tests that were never running
  tests/utilities/test_rank_zero.py
Labels: ready, tests

#12570 Fix LightningCLI tests with invalid subclass arguments order
  tests/utilities/test_cli.py
Labels: ready, lightningcli

#12552 Add log_dict info in docs
  docs/source/extensions/logging.rst
Labels: ready, docs

#12599 ci(Mergify): configuration update
  .github/CODEOWNERS
  .github/mergify.yml
Labels: ready, ci

#12618 Fix rich main progress bar update
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/progress/rich_progress.py
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: bug, ready, progress bar: rich

#12553 Remove deprecated 'terminate_on_nan' argument from Trainer
  CHANGELOG.md
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
  tests/trainer/test_trainer.py
  tests/utilities/test_finite_checks.py
Labels: ready, breaking change, trainer: argument

#12627 Set a less strict pre-commit Python version
  .pre-commit-config.yaml
Labels: bug, ready, ci

#12609 Expose deprecated arguments from logger base interface
  CHANGELOG.md
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/wandb.py
Labels: bug, ready, logger: wandb, logger: tensorboard, logger: comet, logger: neptune

#12632 Fix printed test accuracy in LightningLite MNIST example
  pl_examples/basic_examples/mnist_examples/image_classifier_2_lite.py
Labels: bug, example, ready, lightninglite

#12637 Minor fix with `data_path` flag to imagenet script (examples)
  pl_examples/domain_templates/imagenet.py
Labels: example, ready

#12629 Fix `LightningLite.run` signature for arbitrary arguments
  CHANGELOG.md
  pytorch_lightning/lite/lite.py
Labels: bug, ready, lightninglite

#12587 Update `rank_zero_only` decorator for LSF environments
  CHANGELOG.md
  pytorch_lightning/utilities/rank_zero.py
  tests/utilities/test_rank_zero.py
Labels: bug, ready, environment: lsf

#12571 Clarification on omegaconf's interpolation support in LightningCLI
  docs/source/common/lightning_cli.rst
Labels: ready, docs, lightningcli

#12532 Add version header to CLI config files
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/imports.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: feature, ready, lightningcli

#12646 add PR Gatekeeper
  .github/CODEOWNERS
  .github/approve_config.yml
  .github/workflows/ci_pr-gatekeeper.yml
Labels: ready, ci

#12642 Revert "ci(Mergify): configuration update (#12599)"
  .github/CODEOWNERS
  .github/mergify.yml
Labels: ready, ci

#12561 Clear env before test cases requiring empty env
  tests/callbacks/test_gpu_stats_monitor.py
  tests/loggers/test_tensorboard.py
  tests/plugins/environments/test_kubeflow_environment.py
  tests/plugins/environments/test_lightning_environment.py
  tests/plugins/environments/test_lsf_environment.py
  tests/plugins/environments/test_slurm_environment.py
  tests/plugins/environments/test_torchelastic_environment.py
Labels: ready, tests

#12657 Remove deprecated automatic logging of gpu metrics
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, logging, breaking change, accelerator: gpu

#12508 Add `bfloat16` support to `DeepSpeedStrategy`
  .azure-pipelines/gpu-tests.yml
  pytorch_lightning/plugins/precision/deepspeed.py
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/utilities/imports.py
  tests/plugins/precision/test_deepspeed_precision.py
  tests/strategies/test_deepspeed_strategy.py
Labels: feature, ready, strategy: deepspeed

#12661 Update ci_pr-gatekeeper.yml
  .github/workflows/ci_pr-gatekeeper.yml
Labels: ready, ci

#12662 Remove train_transforms in LightningDataModule
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, lightningdatamodule

#12669 Don't raise a warning when `nn.Module`s are not saved under hparams
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/models/test_hparams.py
Labels: bug, ready, argparse

#12014 Rename loggers/base.py to loggers/logger.py and changed LightningLoggerBase to Logger
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  docs/source/common/lightning_module.rst
  docs/source/common/trainer.rst
  docs/source/extensions/logging.rst
  pyproject.toml
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/logger.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/cli.py
  tests/deprecated_api/test_remove_1-7.py
  tests/deprecated_api/test_remove_1-8.py
  tests/deprecated_api/test_remove_1-9.py
  tests/loggers/test_all.py
  tests/loggers/test_logger.py
  tests/trainer/flags/test_fast_dev_run.py
  tests/trainer/logging_/test_distributed_logging.py
  tests/trainer/properties/test_loggers.py
  tests/utilities/test_cli.py
Labels: ready, logger, deprecation

#12372 Fix inconsistency when user specifies `weights_save_path`
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/loggers/test_all.py
Labels: ready, breaking change, callback: model checkpoint

#12641 remove deprecated `model_size` from LightningModule
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  pytorch_lightning/core/lightning.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, lightningmodule

#12672 Allow self-reviewing to rerun gatekeeper
  .github/workflows/ci_pr-gatekeeper.yml
Labels: ready, ci, priority: 1

#12645 Fix a typo in warning message inside Trainer.reset_train_dataloader
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_dataloaders.py
Labels: ready, trainer: argument

#11753 Fix tests failing on a single GPU
  tests/callbacks/test_quantization.py
  tests/helpers/runif.py
  tests/lite/test_parity.py
  tests/lite/test_wrappers.py
  tests/models/test_horovod.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/test_supporters.py
  tests/trainer/test_trainer.py
Labels: ready, tests

#12593 Remove deprecated LayerSummary and ModelSummary
  CHANGELOG.md
  pytorch_lightning/core/memory.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, deprecation

#12554 Remove deprecated `GPUStatsMonitor` callback
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  tests/callbacks/test_gpu_stats_monitor.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, refactor, callback, breaking change, callback: device stats

#11040 Deprecate `num_processes`,`gpus`, `tpu_cores`, and `ipus` from the Trainer constructor
  CHANGELOG.md
  docs/source/common/trainer.rst
  docs/source/ecosystem/asr_nlp_tts.rst
  docs/source/starter/lightning_lite.rst
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
  tests/benchmarks/test_basic_parity.py
  tests/benchmarks/test_sharded_parity.py
  tests/deprecated_api/test_remove_2-0.py
  tests/models/test_gpu.py
  tests/models/test_hooks.py
  tests/models/test_tpu.py
  tests/strategies/test_ddp.py
  tests/strategies/test_ddp_strategy_with_comm_hook.py
  tests/strategies/test_deepspeed_strategy.py
  tests/trainer/properties/test_auto_gpu_select.py
  tests/trainer/test_supporters.py
  tests/trainer/test_trainer.py
  tests/utilities/test_cli.py
Labels: ready, deprecation, trainer: argument

#12692 Refactor typing in BaguaStrategy
  pytorch_lightning/strategies/bagua.py
Labels: ready, refactor, strategy: bagua

#12663 Add docs for Trainer.state
  docs/source/common/trainer.rst
Labels: ready, docs

#12704 Update LightningCLI tests to reflect changes in jsonargparse 4.6.0
  pytorch_lightning/utilities/imports.py
  requirements/extra.txt
  tests/utilities/test_cli.py
Labels: ready, 3rd party, lightningcli, tests

#12707 Fix a flaky test, that is not consistent on some configurations
  tests/utilities/test_fetching.py
Labels: ready, tests

#12563 Run main progress bar independent of val progress bar in `TQDMProgressBar`
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  tests/callbacks/test_tqdm_progress_bar.py
Labels: bug, ready, progress bar: tqdm

#12686 Remove unused AcceleratorConnector argument
  pytorch_lightning/lite/lite.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor, trainer: connector

#12676 fix import failed
  pytorch_lightning/utilities/imports.py
Labels: bug, ready, priority: 1

#12658 Remove the deprecated `pl.callbacks.ProgressBar`
  CHANGELOG.md
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/progress/__init__.py
  pytorch_lightning/callbacks/progress/progress.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, progress bar: tqdm

#12696 Remove support for passing strategy strings to accelerator
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/enums.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_tpu.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, trainer: connector

#12700 Remove support for passing strategy name to plugins
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, refactor, breaking change, trainer: connector

#12688 Remove deprecated `XLAStatsMonitor`
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/__init__.py
  pytorch_lightning/callbacks/xla_stats_monitor.py
  tests/callbacks/test_xla_stats_monitor.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, callback, breaking change

#12675 build more dockers & slack fails
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  dockers/README.md
Labels: ready, ci

#12758 Workaround for actions/checkout in conda CI jobs
  .github/workflows/ci_test-conda.yml
Labels: ready, priority: 0, ci

#12754 Fix version comparison for python version in `pl.utilities.imports`
  pytorch_lightning/utilities/imports.py
Labels: bug, ready, tests

#12716 Inspect correct function in wrap_init
  pytorch_lightning/utilities/data.py
  tests/utilities/test_data.py
Labels: ready, data handling, tests

#12573 Add dataclass support to _extract_batch_size
  CHANGELOG.md
  pytorch_lightning/utilities/data.py
  tests/utilities/test_data.py
Labels: feature, ready, data handling

#12761 Add Windows to run slow tests on in CI
  .github/workflows/ci_test-slow.yml
Labels: ready, ci

#12766 update slack link
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/source/_templates/theme_variables.jinja
  docs/source/ecosystem/ecosystem-ci.rst
  docs/source/starter/introduction.rst
  pl_examples/bug_report/bug_report_model.ipynb
  tests/README.md
Labels: ready, docs

#12769 Remove deprecated `dataloader_idx` argument from `on_train_batch_start/end` callback hooks
  CHANGELOG.md
  pytorch_lightning/core/hooks.py
  pytorch_lightning/strategies/ipu.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/trainer/callback_hook.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, refactor, breaking change

#12780 Remove the deprecated LightningDataModule.size, LightningDataModule.dims
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, lightningdatamodule

#12800 Duplicate Label fix (docs)
  docs/source/common/checkpointing_advanced.rst
  docs/source/extensions/callbacks.rst
  docs/source/extensions/callbacks_state.rst
  docs/source/extensions/loops.rst
  docs/source/extensions/strategy.rst
  docs/source/index.rst
  docs/source/levels/advanced_level_17.rst
  docs/source/model/custom_loop_expert.rst
  docs/source/model/own_your_loop.rst
  pytorch_lightning/callbacks/early_stopping.py
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: docs

#12802 Update changelog after 1.6.1 release
  CHANGELOG.md
Labels: ready, docs, release

#12813 Add Changelog entry for PR #12716
  CHANGELOG.md
Labels: ready, data handling, tests

#12747 General docs improvements
  docs/source/common/trainer.rst
  docs/source/data/datamodule.rst
  docs/source/extensions/logging.rst
  pytorch_lightning/utilities/rank_zero.py
Labels: ready, docs

#12530 Better error mesage and type checking for `gpus` arg and `devices` arg in `Trainer`
  pytorch_lightning/utilities/device_parser.py
  tests/accelerators/test_accelerator_connector.py
Labels: ready

#12794 Fix import error when `distributed` module not available
  CHANGELOG.md
  pytorch_lightning/overrides/torch_distributed.py
  pytorch_lightning/strategies/ddp.py
Labels: bug, ready

#12684 Make standalone tests less verbose
  tests/benchmarks/test_sync_batchnorm_parity.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/callbacks/test_tqdm_progress_bar.py
  tests/core/test_metric_result_integration.py
  tests/models/test_hooks.py
  tests/plugins/test_amp_plugins.py
  tests/profiler/test_profiler.py
  tests/strategies/test_bagua_strategy.py
  tests/strategies/test_ddp.py
  tests/strategies/test_ddp_fully_sharded_with_full_state_dict.py
  tests/strategies/test_ddp_strategy.py
  tests/strategies/test_ddp_strategy_with_comm_hook.py
  tests/strategies/test_deepspeed_strategy.py
  tests/strategies/test_sharded_strategy.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/optimization/test_optimizers.py
  tests/trainer/test_trainer.py
  tests/utilities/test_all_gather_grad.py
  tests/utilities/test_deepspeed_collate_checkpoint.py
Labels: ready, tests

#12710 Make horovod tests run on 2 GPUs, as they fail on 1 GPU only
  tests/models/test_horovod.py
Labels: ready, strategy: horovod, tests

#11993 Support val_check_interval values higher than number of training batches
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/flags/test_check_val_every_n_epoch.py
  tests/trainer/flags/test_val_check_interval.py
Labels: feature, ready, priority: 0, loops, trainer

#12715 Enable inference mode for evaluation
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
Labels: feature, ready

#12825 docs refactor 4/n (fix broken links)
  docs/source/common/checkpointing_basic.rst
  docs/source/common_usecases.rst
  docs/source/index.rst
  docs/source/levels/basic_level_2.rst
  docs/source/levels/expert_level_24.rst
  docs/source/levels/intermediate_level_7.rst
  docs/source/starter/introduction.rst
Labels: docs

#12649 [Docs] Example for auto_insert_metric_name
  pytorch_lightning/callbacks/model_checkpoint.py
Labels: ready, docs, callback: model checkpoint

#12773 Remove the deprecated `LightningDataModule.test_transforms`
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, refactor, breaking change

#12783 Fix support for `ModelCheckpoint` monitors with dots
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
Labels: bug, ready, callback: model checkpoint

#12837 Update building CUDA docker images
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  dockers/base-cuda/Dockerfile
Labels: ready, ci

#12763 Remove the deprecated `LightningDataModule.val_transforms`
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, refactor, breaking change

#12750 Improve LigtningEnum, etc.
  pytorch_lightning/utilities/enums.py
Labels: ready, refactor

#12777 Fix formatting issue in Trainer docs
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/trainer.py
Labels: ready, docs

#12741 Call `on_predict_model_eval` hook through method
  pytorch_lightning/loops/dataloader/prediction_loop.py
Labels: ready, refactor

#12504 add required for positional arguments
  CHANGELOG.md
  pytorch_lightning/utilities/argparse.py
  tests/utilities/test_argparse.py
Labels: ready, refactor, argparse

#12732 Refactor `PredictionLoop.on_run_start` for consistency
  pytorch_lightning/loops/dataloader/prediction_loop.py
Labels: ready, refactor, loops, community

#12839 Remove the deprecated get_progress_bar_dict
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
  tests/trainer/logging_/test_logger_connector.py
Labels: ready, breaking change, hooks, community

#12742 Use an uniform call hook style in the loops
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
Labels: ready, loops, code quality, community

#12869 Missing `f` prefix on f-strings fix
  pytorch_lightning/utilities/enums.py
Labels: bug, ready

#12859 Remove deprecated `TestTubeLogger`
  .gitignore
  CHANGELOG.md
  docs/source/api_references.rst
  docs/source/common/evaluation_intermediate.rst
  pyproject.toml
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/test_tube.py
  requirements/loggers.txt
  tests/deprecated_api/test_remove_1-7.py
  tests/loggers/test_all.py
Labels: ready, breaking change, logger: testtube (deprecated)

#12846 Fix false positive deprecation warning from `register_ddp_comm_hook`
  pytorch_lightning/utilities/distributed.py
Labels: bug, ready, deprecation

#12828 Fixed encoding issues on terminals that do not support unicode characters
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug, ready, trainer: validate, trainer: test, community

#12751 Clarify `fast_dev_run` docs
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/trainer.py
Labels: ready, docs, trainer: argument

#12860 Update `deepspeed` and `fairscale` versions
  .azure-pipelines/gpu-tests.yml
  pytorch_lightning/utilities/imports.py
  tests/strategies/test_deepspeed_strategy.py
Labels: ready, ci, 3rd party, strategy: deepspeed, tests, strategy: fsdp

#12772 Raise better error when calling `Trainer.save_checkpoint` without a model attached
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: ready, trainer, code quality

#12848 Fix reference to basic level doc
  docs/source/levels/core_skills.rst
Labels: ready, docs

#12884 Update `jsonargparse` to unblock master
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/imports.py
  requirements/extra.txt
Labels: ready, priority: 0, ci

#12886 Use a single instance of `rich.console.Console` throughout the codebase
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  pytorch_lightning/callbacks/rich_model_summary.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  tests/callbacks/test_rich_model_summary.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: bug, ready, progress bar: rich

#12588 Support deterministic="warn" in Trainer for Pytorch 1.11+
  .github/workflows/code-checks.yml
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
Labels: feature, ready, trainer: argument

#12887 Fix to ensure the checkpoint states are saved in a common filepath with deepspeed
  CHANGELOG.md
  pytorch_lightning/strategies/deepspeed.py
  tests/strategies/test_deepspeed_strategy.py
Labels: bug, ready, checkpointing, strategy: deepspeed

#12671 Fix `trainer.logger` deprecation message
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_lightning_module.py
  tests/deprecated_api/test_remove_1-8.py
  tests/trainer/properties/test_loggers.py
Labels: bug, ready, logger

#12878 Fix tests related to DDP communication hooks
  tests/strategies/test_ddp_strategy_with_comm_hook.py
Labels: ready, tests, strategy: ddp

#12892 clean up side menu
  docs/source/advanced/finetuning.rst
  docs/source/advanced/pretrained.rst
  docs/source/index.rst
  docs/source/starter/installation.rst
Labels: ready, docs

#12850 Update TPU Accelerator docs
  docs/source/accelerators/tpu.rst
  docs/source/accelerators/tpu_basic.rst
  docs/source/accelerators/tpu_faq.rst
  docs/source/accelerators/tpu_intermediate.rst
Labels: ready, docs

#12898 Update the link to jsonargparse's link_arguments
  docs/source/cli/lightning_cli_expert.rst
Labels: ready, docs, lightningcli, community

#12904 Update CHANGELOG after the 1.6.2 release
  CHANGELOG.md
Labels: ready, release

#12907 Fix cmake installation in nightly docker builds
  dockers/base-conda/Dockerfile
Labels: bug, ready, ci

#12911 Fix typo in predict_step docs
  pytorch_lightning/core/lightning.py
Labels: ready, docs

#12920 Update docs conf with renamed lightning extension
  docs/source/conf.py
Labels: ready, docs

#12915 [FIX] ShardedGradScaler should only be set for FP16
  CHANGELOG.md
  pytorch_lightning/plugins/precision/sharded_native_amp.py
  tests/plugins/precision/test_sharded_precision.py
Labels: bug, ready, strategy: sharded, precision: native amp

#12912 Invoke parent DDP configuration for torch>1.10.2
  CHANGELOG.md
  pytorch_lightning/strategies/hpu_parallel.py
Labels: bug, ready, priority: 0, accelerator: hpu

#12814 Threading support for legacy loading of checkpoints
  pytorch_lightning/utilities/migration.py
  tests/checkpointing/test_legacy_checkpoints.py
Labels: ready

#12902 Versioning of last checkpoins
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/plugins/test_checkpoint_io_plugin.py
Labels: feature, ready, callback: model checkpoint

#12918 Remove use of jsonargparse internals
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/imports.py
Labels: bug, ready, lightningcli

#12441 Fix pickling of KFoldLoop
  pl_examples/loop_examples/kfold.py
Labels: example, ready, loops, community
