Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-02, with the labels that each got.

#11679 Prepare for `torch==1.11`
  requirements/adjust_versions.py
Labels: ready, ci

#11351 CI: use concurrency
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_pkg-install.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-slow.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
Labels: ready, ci

#11515 Add typing to data fetching
  pyproject.toml
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/fetching.py
Labels: ready, data handling, code quality

#11562 Changes in preparation to #8578
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  tests/checkpointing/test_model_checkpoint.py
  tests/checkpointing/test_trainer_checkpoint.py
  tests/core/test_metric_result_integration.py
  tests/models/test_restore.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, loops

#11552 Fix val_loop run on restart
  CHANGELOG.md
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  tests/loops/epoch/test_training_epoch_loop.py
Labels: bug, ready, loops

#11671 Sort simple profiler summary based on mean duration
  CHANGELOG.md
  docs/source/advanced/profiler.rst
  pytorch_lightning/profiler/simple.py
  tests/profiler/test_profiler.py
Labels: feature, ready, profiler

#11620 Teardown all internal components on exception
  CHANGELOG.md
  pytorch_lightning/strategies/ipu.py
  pytorch_lightning/trainer/trainer.py
Labels: feature, ready

#11691 Modernize the ImageNet example
  pl_examples/domain_templates/imagenet.py
Labels: example, ready

#11481 Set the state before saving "last" or "none" checkpoints
  CHANGELOG.md
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_2-0.py
Labels: bug, ready, callback: model checkpoint

#11549 Rename `Strategy.lr_schedulers` to `Strategy.lr_scheduler_configs`
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/horovod.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/lr_finder.py
Labels: ready, lr scheduler, code quality, strategy

#11484 Decouple utilities from `LightningLoggerBase`
  pytorch_lightning/loggers/base.py
  pytorch_lightning/loggers/comet.py
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loggers/tensorboard.py
  pytorch_lightning/loggers/test_tube.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/utilities/logger.py
  tests/loggers/test_base.py
  tests/loggers/test_wandb.py
  tests/utilities/test_logger.py
Labels: ready, refactor, logger

#11557 Update no_warning_call utility in tests
  tests/deprecated_api/__init__.py
  tests/helpers/utils.py
  tests/utilities/test_data.py
Labels: ready, tests

#11672 [CLI] Fix bug that forces overriding `configure_optimizers`
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: bug, ready, lightningcli

#11469 Rename `_SupportsStateDict` --> `_Stateful` Protocol
  CHANGELOG.md
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/types.py
  tests/utilities/test_auto_restart.py
  tests/utilities/test_types.py
Labels: ready, refactor

#11689 Fix rich progress bar metric render on epoch end
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
  tests/callbacks/test_tqdm_progress_bar.py
Labels: bug, ready, progress bar: rich

#11603 Remove experiment property from logger base class.
  CHANGELOG.md
  docs/source/extensions/logging.rst
  pytorch_lightning/loggers/base.py
Labels: ready, refactor, design, logger

#11708 Refactor get_filesystem to use native fsspec API
  pytorch_lightning/utilities/cloud_io.py
  tests/utilities/test_cloud_io.py
Labels: ready, refactor

#11550 Mark CheckpointConnector as protected
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/signal_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  tests/checkpointing/test_model_checkpoint.py
  tests/deprecated_api/test_remove_2-0.py
  tests/helpers/pipelines.py
  tests/loops/test_loop_state_dict.py
  tests/models/data/horovod/train_default_model.py
  tests/models/test_cpu.py
  tests/models/test_restore.py
  tests/trainer/connectors/test_checkpoint_connector.py
  tests/trainer/test_trainer.py
Labels: ready, refactor

#11627 Deprecate `on_configure_sharded_model` callback hook for v1.6
  CHANGELOG.md
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/trainer/configuration_validator.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, callback, deprecation

#11545 Add typing for utilities/memory.py
  pyproject.toml
  pytorch_lightning/utilities/memory.py
Labels: ready, code quality

#11675 [Doc] Removed subsection in LightningDataModule
  pytorch_lightning/core/datamodule.py
Labels: ready, docs

#11533 [CLI] Support shorthand for loggers
  CHANGELOG.md
  docs/source/common/lightning_cli.rst
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: feature, ready, logger, breaking change, lightningcli

#11629 Update requirements.txt for `pyDeprecate` version flexibility
  requirements.txt
Labels: ready

#11595 Fix typo in error msg from `TensorBoardLogger.log_metrics`
  pytorch_lightning/loggers/tensorboard.py
Labels: ready, docs

#11593 Update new-project.rst
  docs/source/starter/new-project.rst
Labels: ready, docs

#11526 fix available modules
  CHANGELOG.md
  pytorch_lightning/utilities/imports.py
Labels: bug, ready

#11611 Clarify what the default values for log are based on hooks
  pytorch_lightning/core/lightning.py
Labels: ready, docs

#11648 Allow a CombinedLoader as the training data in DDP
  CHANGELOG.md
  docs/source/guides/data.rst
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_supporters.py
Labels: feature, ready, data handling

#11591 Add missing CHANGELOG entry for #11521
  CHANGELOG.md
Labels: ready, docs

#10484 Improving instructions in finetuning docstring
  pytorch_lightning/callbacks/finetuning.py
Labels: ready, docs

#11568 Replace occurrences of on_before_accelerator_backend_setup_called with setup hook
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/callbacks/pruning.py
  pytorch_lightning/callbacks/stochastic_weight_avg.py
  tests/callbacks/test_finetuning_callback.py
  tests/callbacks/test_stochastic_weight_avg.py
  tests/strategies/test_deepspeed_strategy.py
Labels: ready, refactor, accelerator, strategy

#11690 Fix rich progress bar render only on main pbar
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: bug, ready, progress bar: rich

#11572 Lazy initialize Strategy.parallel_devices
  CHANGELOG.md
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/ddp_spawn.py
  pytorch_lightning/strategies/parallel.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: ready, strategy

#11556 Fix mid-epoch warning call while resuming
  CHANGELOG.md
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/utilities/cloud_io.py
  tests/models/test_restore.py
Labels: bug, ready

#11394 Refine style guide
  docs/source/starter/style_guide.rst
Labels: ready, docs

#11377 Move progress bar disabling out of the Trainer
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_tqdm_progress_bar.py
Labels: bug, ready, refactor, progress bar: rich, progress bar: tqdm

#11575 Avoid enforcing `shuffle=False` for eval dataloaders
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/data.py
  tests/trainer/connectors/test_data_connector.py
Labels: bug, ready, data handling

#11668 Fix rich with uneven refresh rate tracking
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/progress/rich_progress.py
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_rich_progress_bar.py
Labels: bug, ready, progress bar: rich

#11700 Fix to avoid val progress bar disappear after validate
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/tqdm_progress.py
  tests/callbacks/test_tqdm_progress_bar.py
Labels: bug, ready, progress bar: tqdm

#11558 Update CHANGELOG after 1.5.9 release
  CHANGELOG.md
Labels: ready, docs

#11520 Update `tests/tuner/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/tuner/test_auto_gpu_select.py
  tests/tuner/test_scale_batch_size.py
Labels: ready, tests

#11479 added warning for distributedsampler in case of evaluation
  CHANGELOG.md
  docs/source/common/test_set.rst
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/trainer/connectors/test_data_connector.py
Labels: ready, distributed

#11445 Update debugging doc
  docs/source/common/debugging.rst
Labels: ready, docs

#11577 Deprecate `on_batch_start/on_batch_end` callback hooks
  CHANGELOG.md
  docs/source/advanced/profiler.rst
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/tuner/lr_finder.py
  tests/deprecated_api/test_remove_1-8.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/test_states.py
Labels: ready, callback, deprecation, hooks

#11733 Minor refactors to `init_dist_connection`
  pytorch_lightning/utilities/distributed.py
Labels: ready, distributed, refactor

#11146 Add Bagua Strategy
  .azure-pipelines/gpu-tests.yml
  CHANGELOG.md
  docs/source/accelerators/gpu.rst
  docs/source/api_references.rst
  docs/source/extensions/plugins.rst
  pytorch_lightning/plugins/environments/__init__.py
  pytorch_lightning/plugins/environments/bagua_environment.py
  pytorch_lightning/strategies/__init__.py
  pytorch_lightning/strategies/bagua.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/enums.py
  pytorch_lightning/utilities/imports.py
  tests/helpers/runif.py
  tests/strategies/test_bagua_strategy.py
Labels: feature, ready, priority: 0, strategy

#11716 WandbLogger's log_image can use step argument
  CHANGELOG.md
  pytorch_lightning/loggers/wandb.py
  tests/loggers/test_wandb.py
Labels: bug, ready, logger: wandb

#11332 Update print_results
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  tests/trainer/logging_/test_eval_loop_logging.py
Labels: feature, ready, loops

#11734 Update parallel.py to use `root_device` instead of `lightning_module.device`
  pytorch_lightning/strategies/parallel.py
Labels: ready, distributed, refactor

#11740 Remove `self._log_dir` from `BaseProfiler`
  pytorch_lightning/profiler/base.py
  tests/profiler/test_profiler.py
Labels: ready, refactor, profiler

#11606 Support no pre-fetching
  CHANGELOG.md
  pytorch_lightning/utilities/fetching.py
  tests/utilities/test_fetching.py
Labels: feature, ready, data handling

#11696 Allow access to ckpt_path within context of fit()
  CHANGELOG.md
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/trainer/trainer.py
  tests/callbacks/test_finetuning_callback.py
  tests/deprecated_api/test_remove_1-8.py
  tests/trainer/test_trainer.py
Labels: ready, checkpointing, deprecation

#11678 Remove legacy dead code in DDP script launch
  pytorch_lightning/strategies/ddp.py
Labels: ready, refactor, strategy: ddp

#11728 Update HorovodStrategy to use optimizers property from within class
  pytorch_lightning/strategies/horovod.py
Labels: ready, refactor, strategy: horovod

#11748 Use `root_device` in DeviceStatsMonitor callback
  pytorch_lightning/callbacks/device_stats_monitor.py
Labels: ready, refactor, callback: device stats

#11744 CI: fix valid schema
  .github/workflows/ci_schema.yml
Labels: ready, ci

#11749 Use `root_device` in XLAStatsMonitor callback
  pytorch_lightning/callbacks/xla_stats_monitor.py
Labels: ready

#11752 Allow Horovod `teardown()` to complete gracefully if exception thrown in callback setup
  CHANGELOG.md
  pytorch_lightning/strategies/horovod.py
Labels: bug, ready, strategy: horovod

#11750 Update TPU Spawn to use root_device for collectives
  pytorch_lightning/strategies/tpu_spawn.py
Labels: ready, refactor

#11761 Keep `is_global_zero` definitions in sync across strategy and trainer
  pytorch_lightning/trainer/trainer.py
Labels: ready, refactor

#11764 Small improvements to TB and CSV loggers
  pytorch_lightning/loggers/csv_logs.py
  pytorch_lightning/loggers/tensorboard.py
  tests/loggers/test_csv.py
  tests/loggers/test_tensorboard.py
Labels: ready, docs, refactor, logger: tensorboard, logger: csv

#11655 Deprecate `on_before_accelerator_backend_setup` callback hook
  CHANGELOG.md
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/trainer/configuration_validator.py
  tests/callbacks/test_finetuning_callback.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, callback, deprecation

#11777 Update DDPStrategy to use optimizers property from within class
  pytorch_lightning/strategies/ddp.py
Labels: ready, refactor, strategy: ddp

#11776 Use fsspec in checkpoint connector for fault-tolerant training
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: bug, ready, checkpointing

#11578 Deprecate `on_epoch_start/on_epoch_end` hook
  CHANGELOG.md
  docs/source/advanced/profiler.rst
  docs/source/common/lightning_module.rst
  docs/source/extensions/callbacks.rst
  pl_examples/basic_examples/autoencoder.py
  pl_examples/domain_templates/generative_adversarial_net.py
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/configuration_validator.py
  tests/callbacks/test_callback_hook_outputs.py
  tests/checkpointing/test_legacy_checkpoints.py
  tests/core/test_metric_result_integration.py
  tests/deprecated_api/test_remove_1-8.py
  tests/models/test_hooks.py
  tests/models/test_restore.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/test_trainer.py
Labels: ready, callback, deprecation, lightningmodule, hooks

#11780 Fix to avoid moving batch to device for DataParallel
  CHANGELOG.md
  pytorch_lightning/strategies/dp.py
  tests/accelerators/test_dp.py
Labels: bug, ready, strategy: dp

#11757 bug fix: restore_optimizers correctly handles non-mapping values in optimizer.state.values()
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: bug, ready, checkpointing

#11637 Introduce `Stateful` DataModule
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/core/test_datamodules.py
  tests/models/test_hooks.py
Labels: ready, checkpointing, lightningdatamodule

#11803 Delete `test_on_before_accelerator_backend_setup`
  tests/callbacks/test_finetuning_callback.py
Labels: ready, tests

#11788 Configure native deepspeed schedulers with interval='step'
  CHANGELOG.md
  pytorch_lightning/strategies/deepspeed.py
  tests/strategies/test_deepspeed_strategy.py
Labels: bug, ready, strategy: deepspeed, lr scheduler

#11785 Faster callback configuration validator checks
  pytorch_lightning/trainer/configuration_validator.py
Labels: ready, refactor

#11804 Remove no longer relevant TODOs
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/models/test_hooks.py
Labels: ready

#11711 Return the output of the optimizer step
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/lite/wrappers.py
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/deepspeed.py
  pytorch_lightning/plugins/precision/ipu.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/plugins/precision/tpu.py
  pytorch_lightning/strategies/strategy.py
  tests/core/test_lightning_module.py
  tests/core/test_lightning_optimizer.py
  tests/lite/test_wrappers.py
Labels: feature, ready, optimizer

#11697 Update `tests/trainer/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/trainer/flags/test_env_vars.py
  tests/trainer/flags/test_overfit_batches.py
  tests/trainer/logging_/test_distributed_logging.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/logging_/test_logger_connector.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/trainer/optimization/test_manual_optimization.py
  tests/trainer/properties/test_get_model.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_supporters.py
  tests/trainer/test_trainer.py
  tests/trainer/test_trainer_cli.py
Labels: ready

#11428 Update inference doc
  docs/source/common/lightning_module.rst
  docs/source/common/production_inference.rst
Labels: ready, docs

#11621 Move data fetcher ownership to the loops
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/fetching.py
  tests/utilities/test_fetching.py
Labels: ready, refactor, data handling, loops

#11650 feat(wandb): support distributed modes
  pytorch_lightning/loggers/__init__.py
  pytorch_lightning/loggers/wandb.py
  pytorch_lightning/utilities/imports.py
  tests/loggers/test_wandb.py
Labels: feature, ready, logger: wandb

#11683 Create loggers property for Trainer and LightningModule
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  docs/source/common/trainer.rst
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_lightning_module.py
  tests/profiler/test_profiler.py
  tests/trainer/properties/test_log_dir.py
  tests/trainer/properties/test_loggers.py
Labels: ready, logger

#11827 Fix `save_hyperparameters` when no parameters need saving
  CHANGELOG.md
  pytorch_lightning/utilities/parsing.py
  tests/models/test_hparams.py
Labels: bug, ready, lightningmodule

#11797 Add `Accelerator.is_available()` interface requirement
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/accelerators/ipu.py
  pytorch_lightning/accelerators/tpu.py
  tests/accelerators/test_accelerator_connector.py
  tests/accelerators/test_cpu.py
  tests/accelerators/test_ddp.py
  tests/accelerators/test_dp.py
  tests/accelerators/test_gpu.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
  tests/models/test_gpu.py
  tests/plugins/test_amp_plugins.py
  tests/utilities/test_cli.py
Labels: ready, breaking change, accelerator: gpu

#11793 Update module path for `LightningDeprecationWarning` in setup.cfg
  pytorch_lightning/utilities/distributed.py
  setup.cfg
Labels: ready, priority: 0, ci

#11811 Fix horovod installation `base-cuda` Dockerfile
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
Labels: bug, ready, priority: 0, ci

#11830 Update CHANGELOG after 1.5.10 release
  CHANGELOG.md
Labels: ready, docs

#11842 Revert saving the dataloader and result collection by default
  pytorch_lightning/loops/base.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
Labels: bug, ready

#11858 Fix master merge conflict
  pytorch_lightning/loops/base.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
Labels: bug, ready, priority: 0

#11268 Refine the pytorch profiler
  pytorch_lightning/profiler/pytorch.py
  pytorch_lightning/trainer/trainer.py
  tests/profiler/test_profiler.py
  tests/strategies/test_deepspeed_strategy.py
Labels: ready, refactor, profiler

#11836 Update typing for CometLogger.experiment
  pytorch_lightning/loggers/comet.py
Labels: ready, refactor, logger: comet

#11638 Introduce `Stateful` PrecisionPlugin
  CHANGELOG.md
  pytorch_lightning/plugins/precision/apex_amp.py
  pytorch_lightning/plugins/precision/native_amp.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/models/test_hooks.py
Labels: ready, checkpointing

#11894 Pin `myst-parser<0.17`
  requirements/docs.txt
Labels: bug, ready, ci

#11881 Update trainer.rst
  docs/source/common/trainer.rst
Labels: ready, docs

#11934 CI: gpus
  .azure-pipelines/gpu-tests.yml
  .github/workflows/events-nightly.yml
  dockers/README.md
  dockers/base-cuda/Dockerfile
  tests/helpers/runif.py
Labels: ready, priority: 0, ci

#11843 Small cleanup when dataloader states are saved
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/supporters.py
Labels: ready, fault tolerance, code quality

#11848 Support optimizer step progress tracking with manual optimization
  CHANGELOG.md
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_lightning_optimizer.py
  tests/loops/test_loop_state_dict.py
  tests/loops/test_loops.py
  tests/trainer/optimization/test_manual_optimization.py
Labels: ready, progress tracking

#11937 fix typos
  CHANGELOG.md
  docs/source/accelerators/tpu.rst
  docs/source/advanced/advanced_gpu.rst
  docs/source/advanced/mixed_precision.rst
  docs/source/advanced/profiler.rst
  docs/source/common/debugging.rst
  docs/source/common/trainer.rst
  docs/source/ecosystem/asr_nlp_tts.rst
  docs/source/extensions/loops_advanced.rst
  docs/source/extensions/plugins.rst
  docs/source/guides/data.rst
  docs/source/guides/speed.rst
  docs/source/starter/lightning_lite.rst
  docs/source/starter/new-project.rst
  pl_examples/README.md
  pl_examples/domain_templates/computer_vision_fine_tuning.py
  pl_examples/domain_templates/reinforce_learn_ppo.py
  pl_examples/loop_examples/kfold.py
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/quantization.py
  pytorch_lightning/core/mixins/hparams_mixin.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/loggers/mlflow.py
  pytorch_lightning/loggers/neptune.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/plugins/environments/lsf_environment.py
  pytorch_lightning/strategies/fully_sharded.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/signal_connector.py
  pytorch_lightning/trainer/supporters.py
  pytorch_lightning/utilities/argparse.py
  pytorch_lightning/utilities/auto_restart.py
  pytorch_lightning/utilities/cloud_io.py
  pytorch_lightning/utilities/distributed.py
  pytorch_lightning/utilities/exceptions.py
  pytorch_lightning/utilities/logger.py
  tests/accelerators/test_dp.py
  tests/callbacks/test_early_stopping.py
  tests/loggers/test_all.py
  tests/loggers/test_comet.py
  tests/loggers/test_tensorboard.py
  tests/loops/optimization/test_optimizer_loop.py
  tests/loops/test_loops.py
  tests/profiler/test_profiler.py
  tests/strategies/test_ddp_strategy.py
  tests/strategies/test_tpu_spawn.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_progress.py
  tests/trainer/test_trainer_cli.py
  tests/utilities/distributed.py
  tests/utilities/test_all_gather_grad.py
  tests/utilities/test_auto_restart.py
  tests/utilities/test_cli.py
  tests/utilities/test_fetching.py
  tests/utilities/test_model_summary.py
Labels: ready, docs

#11929 Refactor `DDPStrategy.setup` to directly use passed-in Trainer argument
  pytorch_lightning/strategies/ddp.py
Labels: ready, refactor, strategy: ddp

#11406 Fix environment variable order for global rank determination
  CHANGELOG.md
  pytorch_lightning/utilities/rank_zero.py
  tests/utilities/rank_zero.py
Labels: bug, ready, environment: slurm

#11917 Refactor `HorovodStrategy.setup` to directly use passed-in Trainer argument
  pytorch_lightning/strategies/horovod.py
Labels: ready, refactor, strategy: horovod

#11643 Add process launchers
  pytorch_lightning/core/lightning.py
  pytorch_lightning/lite/lite.py
  pytorch_lightning/strategies/__init__.py
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/ddp_spawn.py
  pytorch_lightning/strategies/launchers/__init__.py
  pytorch_lightning/strategies/launchers/base.py
  pytorch_lightning/strategies/launchers/spawn.py
  pytorch_lightning/strategies/launchers/subprocess_script.py
  pytorch_lightning/strategies/launchers/xla_spawn.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/strategies/tpu_spawn.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_common.py
  tests/strategies/test_ddp_spawn_strategy.py
Labels: feature, ready, accelerator: tpu, strategy: ddp, strategy: ddp spawn, strategy

#11857 Remove `log_text`, and `log_image` from `LightningLoggerBase` API
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
Labels: ready, logger, deprecation

#11758 Refactor `Strategy._move_optimizer_states` as utility functions
  CHANGELOG.md
  docs/source/api_references.rst
  pytorch_lightning/strategies/deepspeed.py
  pytorch_lightning/strategies/fully_sharded.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/strategies/tpu_spawn.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/utilities/optimizer.py
  tests/utilities/test_optimizer.py
Labels: ready, refactor, checkpointing, strategy

#11911 Support gradient accumulation using Horovod's `backward_passes_per_step`
  CHANGELOG.md
  pytorch_lightning/strategies/horovod.py
  tests/models/test_horovod.py
Labels: feature, ready, strategy: horovod, optimization

#12010 Fix import error when running doctests for RL examples
  requirements/examples.txt
Labels: ready, ci

#11986 Restore test after #11448
  tests/trainer/flags/test_env_vars.py
Labels: ready, tests

#11999 Add back deterministic support in accelerator_connector
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
Labels: bug, ready, trainer: connector

#11990 Remove `Trainer._strategy_type`
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_accelerator_connector.py
  tests/trainer/test_data_loading.py
  tests/trainer/test_trainer.py
Labels: ready, refactor, strategy

#11883 Support manual optimization step profiling without a trainer reference
  pytorch_lightning/core/optimizer.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/profiler/pytorch.py
  tests/profiler/test_profiler.py
Labels: ready, refactor, profiler

#11962 CI: fix upload-artifact
  .github/workflows/ci_test-conda.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-slow.yml
Labels: ready, ci

#11397 Update PT to PL conversion doc
  docs/source/starter/converting.rst
Labels: ready, docs

#12016 Fix docstrings of `on_fit_start/end`
  pytorch_lightning/trainer/callback_hook.py
Labels: ready, docs

#11899 Update Bagua section example
  docs/source/accelerators/gpu.rst
Labels: ready, docs, strategy: bagua

#11967 Refactor signature for launcher
  pytorch_lightning/strategies/launchers/spawn.py
  pytorch_lightning/strategies/launchers/subprocess_script.py
  pytorch_lightning/strategies/launchers/xla_spawn.py
Labels: ready, refactor, strategy: ddp spawn

#11614 Add default args in Trainer methods doc
  pytorch_lightning/trainer/trainer.py
Labels: ready, docs

#11951 Clarify `val_check_interval` description
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/trainer.py
Labels: ready, docs

#11739 PyTorch documentation updates
  docs/source/starter/introduction_guide.rst
  docs/source/starter/lightning_lite.rst
  docs/source/starter/new-project.rst
  docs/source/starter/style_guide.rst
Labels: ready, docs

#11945 Fix missing imports in converting.rst
  docs/source/starter/converting.rst
Labels: ready, docs

#11872 Update `tests/plugins/*.py` to use `devices` instead of `gpus` or `ipus`
  tests/plugins/environments/torch_elastic_deadlock.py
  tests/plugins/test_amp_plugins.py
  tests/plugins/test_cluster_integration.py
  tests/plugins/test_double_plugin.py
Labels: ready

#11942 Fix typos on new-project page
  docs/source/starter/new-project.rst
Labels: ready, docs

#11871 Deprecate `agg_key_funcs`, `agg_default_func`, and `update_agg_funcs` from `LightningLoggerBase`
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
  tests/deprecated_api/test_remove_1-8.py
Labels: ready, logger, deprecation

#12032 Remove calls to profile `model_forward`
  CHANGELOG.md
  docs/source/advanced/profiler.rst
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
Labels: ready, refactor, profiler

#11329 Move strategy tests from accelerators to strategies directory
  tests/accelerators/test_common.py
  tests/strategies/ddp_model.py
  tests/strategies/test_common.py
  tests/strategies/test_ddp.py
  tests/strategies/test_ddp_spawn.py
  tests/strategies/test_dp.py
Labels: ready, refactor, tests, strategy

#11436 Add XLA Profiler section to docs
  docs/source/advanced/profiler.rst
  pytorch_lightning/profiler/xla.py
Labels: ready, docs

#10993 Update RichProgressBarTheme after detecting light theme on colab
  CHANGELOG.md
  pytorch_lightning/callbacks/progress/rich_progress.py
  tests/callbacks/test_rich_progress_bar.py
Labels: ready, progress bar: rich

#11966 Remove `DDPSpawnStrategy.get_mp_spawn_kwargs` in favor of launchers
  CHANGELOG.md
  pytorch_lightning/strategies/ddp_spawn.py
  pytorch_lightning/strategies/launchers/spawn.py
  pytorch_lightning/strategies/launchers/xla_spawn.py
  pytorch_lightning/strategies/tpu_spawn.py
Labels: ready, breaking change, strategy: ddp spawn

#11576 Avoid loading dataloaders if `limit_batches=0`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/loops/test_loops.py
  tests/models/test_hooks.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: bug, ready, data handling

#12029 Remove DDP procs collection from script launcher
  pytorch_lightning/strategies/launchers/subprocess_script.py
Labels: ready, refactor, strategy: ddp

#12008 Fix `is_interactive_compatible` logic after AcceleratorConnector rewrite
  pytorch_lightning/strategies/launchers/base.py
  pytorch_lightning/strategies/launchers/spawn.py
  pytorch_lightning/strategies/launchers/subprocess_script.py
  pytorch_lightning/strategies/launchers/xla_spawn.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/utilities/enums.py
  tests/accelerators/test_accelerator_connector.py
Labels: bug, ready, priority: 0, trainer: connector

#11862 Add callback to manage fault-tolerance checkpoints
  CHANGELOG.md
  pytorch_lightning/callbacks/fault_tolerance.py
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
  tests/utilities/test_auto_restart.py
Labels: ready, refactor, callback, fault tolerance

#11888 Improve annotations for `_defaults_from_env_vars` decorator
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/utilities/argparse.py
Labels: ready, refactor

#12039 [CLI] Add config `-c` argument
  pytorch_lightning/utilities/cli.py
Labels: ready, lightningcli

#12049 Fixed a small issue in the documentation for FeatureExtractorFreezeUnfreeze
  pytorch_lightning/callbacks/finetuning.py
Labels: ready, docs

#12053 Further clean up aggregation logic
  CHANGELOG.md
  pytorch_lightning/loggers/base.py
Labels: ready, logger

#11909 Update warnings for available accelerators not being used
  pytorch_lightning/trainer/trainer.py
  tests/accelerators/test_gpu.py
  tests/accelerators/test_ipu.py
  tests/accelerators/test_tpu.py
Labels: ready, code quality

#12057 Set the last global step saved only when actually saving
  pytorch_lightning/callbacks/model_checkpoint.py
  tests/checkpointing/test_model_checkpoint.py
  tests/trainer/test_trainer.py
Labels: bug, ready, callback: model checkpoint

#12063 Use properties to check for trainer state in PyTorch profiler
  pytorch_lightning/profiler/pytorch.py
Labels: ready, refactor, profiler

#11283 Add bagua installation in dockerfile
  dockers/base-cuda/Dockerfile
Labels: won't fix, ready, ci

#11949 Fix passing _ddp_params_and_buffers_to_ignore
  CHANGELOG.md
  pytorch_lightning/overrides/base.py
  tests/strategies/test_ddp.py
Labels: bug, ready, strategy: ddp

#11546 Add support for dataloader_iter to validate and test steps
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  tests/utilities/test_fetching.py
Labels: feature, ready, loops

#11944 Default `benchmark` based on `deterministic` flag
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: feature, ready, trainer: argument

#11794 Deprecate callback hooks `on_pretrain_routine_start` and `on_pretrain_routine_end`
  CHANGELOG.md
  docs/source/extensions/callbacks.rst
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/model_summary.py
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/configuration_validator.py
  tests/deprecated_api/test_remove_1-8.py
  tests/models/test_restore.py
Labels: ready, callback, deprecation

#10603 Avoid patching common `DataHooks` to the `LightningModule`
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/core/test_datamodules.py
  tests/trainer/connectors/test_data_connector.py
Labels: ready, refactor, lightningdatamodule

#12114 [IPU] Do not use `DistributedSampler`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  tests/accelerators/test_ipu.py
Labels: bug, ready, data handling, strategy: ipu

#12102 Deprecate `BaseProfiler.profile_iterable`
  CHANGELOG.md
  pytorch_lightning/profiler/base.py
  tests/deprecated_api/test_remove_1-8.py
  tests/profiler/test_profiler.py
Labels: ready, deprecation, profiler

#12093 Refactor tests, skip if sklearn not available
  tests/helpers/datamodules.py
Labels: ready, refactor, tests

#11983 Return early in `reset_seed`
  pytorch_lightning/utilities/seed.py
Labels: ready, refactor

#11920 Refactor codebase to use `trainer.loggers` over `trainer.logger` when needed
  pl_examples/domain_templates/generative_adversarial_net.py
  pytorch_lightning/callbacks/device_stats_monitor.py
  pytorch_lightning/callbacks/gpu_stats_monitor.py
  pytorch_lightning/callbacks/lr_monitor.py
  pytorch_lightning/callbacks/model_checkpoint.py
  pytorch_lightning/callbacks/progress/base.py
  pytorch_lightning/callbacks/xla_stats_monitor.py
  pytorch_lightning/core/lightning.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/plugins/precision/precision_plugin.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/connectors/signal_connector.py
  pytorch_lightning/trainer/trainer.py
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  pytorch_lightning/utilities/logger.py
  tests/checkpointing/test_model_checkpoint.py
  tests/loggers/test_base.py
  tests/profiler/test_profiler.py
  tests/trainer/properties/test_log_dir.py
  tests/trainer/properties/test_loggers.py
  tests/utilities/test_logger.py
Labels: ready, refactor, logger

#12021 Add parity test for sync batchnorm
  tests/benchmarks/test_sync_batchnorm_parity.py
  tests/models/test_sync_batchnorm.py
Labels: ready, tests

#12110 Remove `AcceleratorConnector.use_ipu`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: ready

#12111 Remove `AcceleratorConnector.has_ipu`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
Labels: ready

#12109 Remove `AcceleratorConnector.has_tpu`
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/accelerators/test_accelerator_connector.py
Labels: ready

#12112 Remove `AcceleratorConnector.use_dp`
  CHANGELOG.md
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: ready
