Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-09, with the labels that each got.

#14433 [App][CLI] Fix lightning cli --version
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/utilities/install_components.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/components/test_install_external_component.py
Labels: ready, app

#14479 Update changelog after v1.7.4 release
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, docs, pl

#14411 [App] Handling s3 rate limiting in framework
  requirements/app/base.txt
Labels: ready, app

#14064 Mark stage argument in hooks as required
  docs/source-pytorch/advanced/training_tricks.rst
  docs/source-pytorch/data/datamodule.rst
  examples/pl_domain_templates/imagenet.py
  examples/pl_loops/kfold.py
  src/lightning_app/cli/pl-app-template/core/callbacks.py
  src/pytorch_lightning/callbacks/callback.py
  src/pytorch_lightning/callbacks/device_stats_monitor.py
  src/pytorch_lightning/callbacks/early_stopping.py
  src/pytorch_lightning/callbacks/finetuning.py
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/callbacks/progress/base.py
  src/pytorch_lightning/callbacks/progress/rich_progress.py
  src/pytorch_lightning/callbacks/pruning.py
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
  src/pytorch_lightning/cli.py
  src/pytorch_lightning/core/hooks.py
  src/pytorch_lightning/demos/boring_classes.py
  src/pytorch_lightning/demos/mnist_datamodule.py
  src/pytorch_lightning/profilers/advanced.py
  src/pytorch_lightning/profilers/profiler.py
  src/pytorch_lightning/profilers/pytorch.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/callbacks/progress/test_base_progress.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/helpers/datamodules.py
  tests/tests_pytorch/models/test_hparams.py
  tests/tests_pytorch/plugins/precision/hpu/test_hpu.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/test_config_validator.py
Labels: ready, docs, refactor, code quality

#14245 Precise description of reload_dataloaders_every_n_epochs
  docs/source-pytorch/common/trainer.rst
Labels: ready, docs, pl

#14488 Updated basic debugging
  docs/source-pytorch/debug/debugging_basic.rst
Labels: ready, docs, pl

#14512 Pin protobuf
  requirements/pytorch/extra.txt
Labels: ready, ci, pl

#14513 Remove deprecated `test_tube` dependency
  requirements/pytorch/loggers.txt
Labels: ready, ci, pl

#14477 [CLI] Fix status message on cluster creation
  src/lightning_app/cli/cmd_clusters.py
Labels: ready, app

#14502 Use a standalone test symlink for Lite
  .azure/gpu-tests-lite.yml
  tests/tests_lite/conftest.py
  tests/tests_lite/run_standalone_tests.sh
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/run_standalone_tests.sh
Labels: ready, ci, lightninglite, pl

#14317 Estimate stepping batches with max_steps if max_epochs is not set
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
Labels: bug, ready, community, pl

#14326 Fixed `WandbLogger` `save_dir` is not set after creation (#12748)
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: bug, ready, logger: wandb, pl

#14539 Add path filters for some non-required jobs
  .azure/app-cloud-e2e.yml
  .azure/hpu-tests.yml
  .github/file-filters.yml
  .github/workflows/ci-pytorch-test-slow.yml
Labels: ready, ci

#14536 pkg: include lite in PL
  .github/actions/pkg-check/action.yml
  .github/workflows/ci-pkg-install.yml
  src/pytorch_lightning/__setup__.py
Labels: ready, ci, pl

#14489 Squeeze tensor while logging
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
Labels: bug, ready, logging, pl

#13904 fixes typing errors in auto_restart.py
  pyproject.toml
  src/pytorch_lightning/utilities/auto_restart.py
  src/pytorch_lightning/utilities/types.py
Labels: ready, code quality, pl

#14480 Setup: add requirement freeze for next major version
  .actions/setup_tools.py
  setup.py
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
  src/pytorch_lightning/__setup__.py
Labels: ready, release

#14475 Integrate `lightning_utilities.core.imports`
  docs/source-lit/conf.py
  docs/source-pytorch/conf.py
  requirements/app/base.txt
  requirements/lite/base.txt
  requirements/pytorch/base.txt
  src/lightning_app/__init__.py
  src/lightning_app/utilities/imports.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/progress/rich_progress.py
  src/pytorch_lightning/cli.py
  src/pytorch_lightning/loggers/comet.py
  src/pytorch_lightning/loggers/mlflow.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/overrides/fairscale.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/serve/servable_module_validator.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/launchers/subprocess_script.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/tuner/lr_finder.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/imports.py
  src/pytorch_lightning/utilities/meta.py
  src/pytorch_lightning/utilities/model_summary/model_summary_deepspeed.py
  tests/tests_app/utilities/test_imports.py
  tests/tests_pytorch/helpers/datamodules.py
  tests/tests_pytorch/loggers/test_tensorboard.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/models/test_hparams.py
  tests/tests_pytorch/utilities/test_imports.py
  tests/tests_pytorch/utilities/test_torchdistx.py
Labels: ready, refactor

#14537 Integrate `lightning_utilities.core.apply_func`
  requirements/app/base.txt
  requirements/lite/base.txt
  requirements/pytorch/base.txt
  setup.cfg
  src/lightning_app/utilities/apply_func.py
  src/lightning_app/utilities/component.py
  src/lightning_app/utilities/proxies.py
  src/lightning_lite/utilities/apply_func.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/pruning.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/core/saving.py
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/lite/wrappers.py
  src/pytorch_lightning/loops/dataloader/evaluation_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/overrides/data_parallel.py
  src/pytorch_lightning/plugins/io/xla_plugin.py
  src/pytorch_lightning/plugins/precision/double.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/dp.py
  src/pytorch_lightning/strategies/ipu.py
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/trainer/connectors/data_connector.py
  src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  src/pytorch_lightning/trainer/connectors/logger_connector/result.py
  src/pytorch_lightning/trainer/supporters.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/utilities/apply_func.py
  src/pytorch_lightning/utilities/auto_restart.py
  src/pytorch_lightning/utilities/data.py
  src/pytorch_lightning/utilities/fetching.py
  src/pytorch_lightning/utilities/memory.py
  src/pytorch_lightning/utilities/metrics.py
  src/pytorch_lightning/utilities/optimizer.py
  tests/tests_app/utilities/test_apply_func.py
  tests/tests_lite/utilities/test_apply_func.py
  tests/tests_pytorch/lite/test_parity.py
  tests/tests_pytorch/trainer/test_supporters.py
Labels: ready, refactor

#14560 Cleanup Lite `apply_func`s utilitites
  src/lightning_lite/utilities/apply_func.py
  src/lightning_lite/utilities/types.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/apply_func.py
Labels: ready, refactor, pl

#14501 Typo in major heading seen by newcomers
  docs/source-pytorch/starter/converting.rst
Labels: ready, docs, community, pl

#14556 Integrate `lightning_utilities.core.rank_zero`
  .github/workflows/ci-pytorch-test-full.yml
  requirements/app/base.txt
  requirements/lite/base.txt
  requirements/pytorch/base.txt
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/early_stopping.py
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/cli.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/ipu.py
  src/pytorch_lightning/profilers/pytorch.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/trainer/connectors/data_connector.py
  src/pytorch_lightning/trainer/connectors/logger_connector/result.py
  src/pytorch_lightning/utilities/data.py
  src/pytorch_lightning/utilities/model_summary/model_summary.py
  src/pytorch_lightning/utilities/rank_zero.py
  src/pytorch_lightning/utilities/seed.py
  src/pytorch_lightning/utilities/warnings.py
  tests/tests_pytorch/run_standalone_tasks.sh
  tests/tests_pytorch/utilities/test_rank_zero.py
  tests/tests_pytorch/utilities/test_warnings.py
Labels: ready, refactor

#14505 Docs [Fix]: use bytes instead of strings while writing
  docs/source-app/workflows/add_server/any_server.rst
Labels: ready, docs, app

#14558 Integrate with `lightning_utilities.core.enums`
  .actions/setup_tools.py
  src/pytorch_lightning/utilities/enums.py
  tests/tests_pytorch/utilities/test_enums.py
Labels: ready, refactor, pl

#14575 Integrate lightning_utilities `get_all_subclasses`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/cli.py
  src/pytorch_lightning/utilities/data.py
  src/pytorch_lightning/utilities/meta.py
Labels: ready, refactor, pl

#14543 Add path filters to the TPU job
  .circleci/config.yml
  .github/workflows/ci-circleci.yml
Labels: ready, ci

#14574 Remove old test artifacts
  tests/tests_pytorch/__init__.py
  tests/tests_pytorch/helpers/pipelines.py
  tests/tests_pytorch/helpers/utils.py
Labels: tests, pl

#14454 Add compatibility when `torch.distributed` is not available
  .actions/setup_tools.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/plugins/precision/fsdp_native_native_amp.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/utilities/types.py
Labels: bug, ready, distributed, community, pl

#14570 PL: update changelog post 1.7.5 release
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, pl

#14546 Refactor `_get_rank` utility to take strategy instead of trainer
  src/pytorch_lightning/callbacks/early_stopping.py
Labels: ready, refactor, lightninglite, pl

#14586 Move device parser tests to Lite
  tests/tests_lite/utilities/test_device_parser.py
  tests/tests_pytorch/models/test_gpu.py
Labels: ready, lightninglite, tests, pl

#14566 releasing App 0.6
  src/lightning_app/CHANGELOG.md
  src/lightning_app/__version__.py
Labels: ready, release, app

#14603 Use the `pull_request_target` workflow event
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-circleci.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-test-conda.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/ci-pytorch-test-slow.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
  .github/workflows/probot-auto-cc.yml
  .github/workflows/release-pypi.yml
Labels: ci

#14587 Update checkgroup config
  .github/checkgroup.yml
Labels: ci

#14627 CI: hotfix last version
  .actions/assistant.py
  .actions/requirements.txt
  .azure/hpu-tests.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/events-nightly.yml
  .github/workflows/release-pypi.yml
Labels: bug, ready, priority: 0, ci

#14060 Update content for S3 persistent storage
  docs/source-app/glossary/storage/drive_content.rst
Labels: ready, docs, app

#14591 Avoid instantiating every accelerator in the registry
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: refactor, code quality, pl

#14567 Use TorchVision's Multi-weight Support and Model Registration API on Lightning
  docs/source-pytorch/advanced/transfer_learning.rst
  examples/pl_basics/profiler_example.py
  examples/pl_domain_templates/computer_vision_fine_tuning.py
  examples/pl_domain_templates/imagenet.py
  examples/pl_servable_module/production.py
  src/pytorch_lightning/utilities/imports.py
  src/pytorch_lightning/utilities/model_helpers.py
  tests/tests_pytorch/helpers/advanced_models.py
  tests/tests_pytorch/test_cli.py
Labels: example, ready, community, pl

#14529 Add bagua support for CUDA 11.6 images
  .azure/gpu-tests.yml
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
Labels: ready, ci, strategy: bagua

#14617 Remove deprecated test_tube dependency from `environment.yml`
  environment.yml
Labels: ready, ci

#14638 simplify storage import
  requirements/docs/base.txt
  src/lightning/__init__.py
Labels: app

#14644 Drop duplicate docs requirements
  requirements/docs/base.txt
Labels: ready, priority: 0, ci

#14657 Set `running_torchscript` recursively
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  tests/tests_pytorch/models/test_torchscript.py
Labels: bug, ready, lightningmodule, pl

#14464 (app) Make Logging DEBUG mode lazy
  .azure/app-cloud-e2e.yml
  .gitignore
  examples/app_boring/app_dynamic.py
  examples/app_commands_and_api/app.py
  examples/app_drive/app.py
  examples/app_template_streamlit_ui/app.py
  examples/app_v0/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/api/http_methods.py
  src/lightning_app/cli/cmd_init.py
  src/lightning_app/cli/cmd_install.py
  src/lightning_app/cli/cmd_react_ui_init.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/cli/pl-app-template/core/callbacks.py
  src/lightning_app/components/python/popen.py
  src/lightning_app/components/python/tracer.py
  src/lightning_app/components/serve/serve.py
  src/lightning_app/components/training.py
  src/lightning_app/core/api.py
  src/lightning_app/core/app.py
  src/lightning_app/core/constants.py
  src/lightning_app/core/queues.py
  src/lightning_app/frontend/panel/app_state_comm.py
  src/lightning_app/frontend/panel/app_state_watcher.py
  src/lightning_app/frontend/panel/panel_frontend.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/runners/runtime.py
  src/lightning_app/source_code/copytree.py
  src/lightning_app/storage/copier.py
  src/lightning_app/storage/orchestrator.py
  src/lightning_app/storage/path.py
  src/lightning_app/storage/payload.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/app_logs.py
  src/lightning_app/utilities/load_app.py
  src/lightning_app/utilities/log_helpers.py
  src/lightning_app/utilities/login.py
  src/lightning_app/utilities/network.py
  src/lightning_app/utilities/packaging/build_config.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  src/lightning_app/utilities/proxies.py
  src/lightning_app/utilities/state.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app_examples/collect_failures/app.py
  tests/tests_app_examples/conftest.py
  tests/tests_app_examples/custom_work_dependencies/app.py
  tests/tests_app_examples/idle_timeout/app.py
  tests/tests_app_examples/test_commands_and_api.py
  tests/tests_app_examples/test_v0_app.py
Labels: ready, ci, app

#14625 Run CircleCI with the HEAD sha, not the base
  .circleci/config.yml
  .github/workflows/ci-circleci.yml
  dockers/tpu-tests/tpu_test_cases.jsonnet
Labels: ci

#14609 set next App dev
  src/lightning_app/CHANGELOG.md
  src/lightning_app/__version__.py
Labels: ready, app

#14465 (app) Resolve a bug where the state changes isn't detected properly
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app_examples/test_v0_app.py
Labels: bug, ready, app

#14653 Fix mypy errors in pytorch_lightning/cli.py
  requirements/pytorch/extra.txt
  src/pytorch_lightning/cli.py
Labels: ready, lightningcli, code quality, pl

#14633 fixes mypy errors in trainer/supporters.py
  pyproject.toml
  src/pytorch_lightning/trainer/supporters.py
  src/pytorch_lightning/tuner/lr_finder.py
Labels: ready, code quality, community, pl

#14642 Add troubleshooting section to MPS docs
  docs/source-pytorch/accelerators/mps_basic.rst
Labels: ready, docs, accelerator: mps, pl

#14667 Removes timeout from streamlit e2e test
  tests/tests_app_examples/test_template_streamlit_ui.py
Labels: ready, app

#14565 Remove skipping logic in PL CI
  .github/workflows/ci-pytorch-test-conda.yml
  .github/workflows/ci-pytorch-test-full.yml
Labels: ready, priority: 0, ci

#14597 Removed from_argparse_args tests in test_cli.py
  tests/tests_pytorch/test_cli.py
Labels: ready, tests, pl

#14100 (app): Add load_state_dict and state_dict
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/introspection.py
  tests/tests_app/core/test_lightning_flow.py
Labels: ready, app

#14424 Remove the deprecated `weights_save_path` Trainer argument
  docs/source-pytorch/common/trainer.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/trainer/connectors/callback_connector.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  src/pytorch_lightning/trainer/connectors/signal_connector.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/loggers/test_all.py
Labels: ready, deprecation, breaking change, pl

#14626 Make the SLURM Preemption/Timeout Signal Configurable
  docs/source-pytorch/clouds/cluster_advanced.rst
  src/lightning_lite/plugins/environments/slurm_environment.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/signal_connector.py
  tests/tests_pytorch/trainer/connectors/test_signal_connector.py
Labels: feature, ready, environment: slurm, community, pl

#14283 Remove deprecated `LoggerCollection`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/loggers/__init__.py
  src/pytorch_lightning/loggers/base.py
  src/pytorch_lightning/loggers/logger.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/trainer/properties/test_loggers.py
Labels: ready, logger, deprecation, breaking change, pl

#14583 [CLI] Move storage from app prefix to project/app prefix
  src/lightning_app/CHANGELOG.md
  src/lightning_app/storage/path.py
  tests/tests_app/storage/test_path.py
Labels: ready, app, app:storage

#14659 CI: run CLI after install
  .github/actions/pkg-install/action.yml
  .github/workflows/ci-pkg-install.yml
Labels: ci

#14679 Requirements: try Traitlets >= 5.3.0
  requirements/app/base.txt
Labels: ready, app

#14599 Avoid warning when cloning tensor in self.log
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
Labels: bug, ready, pl

#14637 Better error message when dataloader and datamodule is None (V2)
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/configuration_validator.py
  src/pytorch_lightning/trainer/connectors/data_connector.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/test_config_validator.py
Labels: ready, priority: 0, trainer: fit, pl

#14676 Update CODEOWNER of CI/CD
  .github/CODEOWNERS
Labels: ready, docs, ci, admin

#14285 feat: LAI2-10296 check if user has sufficient credits to run an app from the cli
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#14684 (hot fix) Resolve Boring App
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/app_logs.py
  tests/tests_app_examples/conftest.py
  tests/tests_app_examples/test_boring_app.py
Labels: bug, ready, app

#14405 Fix mypy errors attributed to `pytorch_lightning.profilers.pytorch`
  pyproject.toml
  src/pytorch_lightning/profilers/pytorch.py
Labels: ready, code quality, pl

#14686 Remove legacy examples from logging docs
  docs/source-pytorch/visualize/logging_basic.rst
Labels: docs, pl

#14660 CI: install more OS
  .github/workflows/ci-pkg-install.yml
Labels: ci

#14656 Break hpu graphs into two for better performance
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/hpu_parallel.py
  src/pytorch_lightning/strategies/single_hpu.py
Labels: ready, performance, strategy: hpu, pl

#14678 Fix incorrect imports in lightning docs
  docs/source-app/workflows/add_web_ui/html/basic.rst
  docs/source-app/workflows/add_web_ui/react/connect_react_and_lightning.rst
  docs/source-app/workflows/add_web_ui/streamlit/basic.rst
  docs/source-app/workflows/add_web_ui/streamlit/intermediate.rst
  docs/source-app/workflows/build_lightning_component/intermediate.rst
Labels: ready, docs, app

#14685 Lightning cloud client call with key word arguments
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_apps.py
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_app/utilities/cluster_logs.py
  src/lightning_app/utilities/commands/base.py
  tests/tests_app/cli/test_cloud_cli.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app_examples/conftest.py
Labels: app

#14688 Fix TPU CI for non-forks
  .github/workflows/ci-circleci.yml
Labels: ci

#14689 fix: e2e with short form after signup
  src/lightning_app/testing/testing.py
Labels: ready, app

#13901 fix mypy typing errors in pytorch_lightning.utilities.data.py
  pyproject.toml
  src/lightning_lite/utilities/data.py
  src/pytorch_lightning/strategies/ipu.py
  src/pytorch_lightning/utilities/auto_restart.py
  src/pytorch_lightning/utilities/data.py
Labels: ready, community, pl

#14662 Standalone Lite: Strategy base classes and registry
  src/lightning_lite/strategies/__init__.py
  src/lightning_lite/strategies/launchers/multiprocessing.py
  src/lightning_lite/strategies/launchers/subprocess_script.py
  src/lightning_lite/strategies/parallel.py
  src/lightning_lite/strategies/registry.py
  src/lightning_lite/strategies/single_device.py
  src/lightning_lite/strategies/strategy.py
  src/pytorch_lightning/strategies/__init__.py
  src/pytorch_lightning/strategies/utils.py
  tests/tests_lite/strategies/test_registry.py
  tests/tests_lite/strategies/test_single_device.py
  tests/tests_pytorch/strategies/test_registry.py
Labels: ready, priority: 0, refactor, lightninglite, strategy, pl

#14551 Added support for downloading wandb artifacts in the WandbLogger
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: feature, ready, logger: wandb, community, pl

#14663 Standalone Lite: Single Device TPU Strategy
  src/lightning_lite/strategies/__init__.py
  src/lightning_lite/strategies/single_tpu.py
  tests/tests_lite/strategies/test_registry.py
Labels: ready, priority: 0, refactor, lightninglite, strategy

#14600 Add documentation for trainer.datamodule and dataloaders of a trainer object
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/data/datamodule.rst
Labels: ready, docs, pl

#14681 Standalone Lite: DataParallel Strategy
  src/lightning_lite/strategies/__init__.py
  src/lightning_lite/strategies/dp.py
  tests/tests_lite/strategies/test_dp.py
  tests/tests_lite/strategies/test_registry.py
Labels: ready, priority: 0, refactor, strategy: dp, lightninglite

#14629 Add easy access to `state_dict` in Lite module wrapper
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/lite/wrappers.py
  tests/tests_pytorch/lite/test_wrappers.py
Labels: feature, ready, breaking change, lightninglite, pl

#14621 Add the probot check-group action
  .github/workflows/probot-check-group.yml
Labels: ready, ci

#14670 Standalone Lite: DDP Strategy Family
  src/lightning_lite/plugins/precision/utils.py
  src/lightning_lite/strategies/__init__.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/deepspeed.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/launchers/base.py
  src/lightning_lite/utilities/imports.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/ipu.py
  src/pytorch_lightning/strategies/utils.py
  tests/tests_lite/helpers/runif.py
  tests/tests_lite/strategies/test_ddp.py
  tests/tests_lite/strategies/test_deepspeed.py
  tests/tests_lite/strategies/test_fairscale.py
  tests/tests_lite/strategies/test_registry.py
  tests/tests_lite/utilities/test_imports.py
Labels: ready, priority: 0, refactor, lightninglite, strategy, pl

#14706 Resolve minor formatting issue
  docs/source-app/workflows/build_rest_api/add_api.rst
Labels: ready, docs, app

#14675 Standalone Lite: DDP Spawn Strategy Family
  src/lightning_lite/strategies/__init__.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/launchers/multiprocessing.py
  src/lightning_lite/strategies/launchers/xla.py
  src/lightning_lite/strategies/xla.py
  src/lightning_lite/utilities/distributed.py
  tests/tests_lite/strategies/test_registry.py
Labels: ready, priority: 0, refactor, lightninglite, strategy

#14717 Drop gatekeeper CI checks
  .github/checkgroup.yml
  .github/gatekeeper-config_app.yml
  .github/gatekeeper-config_pytorch.yml
  .github/workflows/README.md
  .github/workflows/ci-pr-gatekeeper.yml
Labels: ready, ci

#14712 Tune the checkgroup config
  .azure/hpu-tests.yml
  .github/checkgroup.yml
  .github/workflows/ci-pytorch-test-slow.yml
  .github/workflows/probot-check-group.yml
Labels: ready, ci

#14697 Bump lightning cloud for memory leak fix
  requirements/app/base.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_clusters.py
  src/lightning_app/utilities/packaging/app_config.py
  tests/tests_app/cli/test_cmd_clusters.py
Labels: bug, ready, app

#14694 Add code-owners for standalone Lite package
  .github/CODEOWNERS
Labels: ready, docs, admin, lightninglite

#14612 Support Injecting Secrets into Apps Running in the Cloud
  docs/source-app/glossary/environment_variables.rst
  docs/source-app/glossary/secrets.rst
  docs/source-app/index.rst
  docs/source-lit/glossary/secrets.rst
  docs/source-lit/index.rst
  docs/source-lit/workflows/build_command_line_interface/commands/notebook/run.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/runners/runtime.py
  src/lightning_app/utilities/secrets.py
  tests/tests_app/cli/test_run_app.py
  tests/tests_app/utilities/test_secrets.py
Labels: ready, app

#14549 docs: Clarify versioning and API stability
  docs/source-pytorch/governance.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/versioning.rst
Labels: ready, docs, pl

#14724 Use the setter in the children recursively
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  tests/tests_pytorch/models/test_torchscript.py
Labels: bug, ready, pl

#14692 Standalone Lite: Connector
  src/lightning_lite/connector.py
  tests/tests_lite/test_connector.py
Labels: ready, priority: 0, refactor, lightninglite, trainer: connector

#13971 Invalid cache before listing drive when collecting component names
  src/lightning_app/storage/drive.py
Labels: bug, ready, app, app:drive

#14730 Docs: fix link to title
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
Labels: bug, ready, docs

#14193 New bug form
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ready, docs

#14731 Fix Google Tag Manager for the Lightning App docs
  docs/source-app/conf.py
  requirements/app/docs.txt
Labels: ready, docs, app

#14732 Update installation
  docs/source-app/index.rst
  docs/source-app/installation.rst
  docs/source-app/installation_mac.rst
Labels: ready, docs, app

#14718 update codeowners
  .github/CODEOWNERS
Labels: ready, refactor

#14744 Combine the pip install commands in conda workflow
  .github/workflows/ci-pytorch-test-conda.yml
Labels: ready, priority: 0, ci

#14300 Remove silent behavior when `num_slurm_tasks` does not correspond to number of processes in Trainer
  src/lightning_lite/plugins/environments/slurm_environment.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_lite/plugins/environments/test_slurm_environment.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, environment: slurm, pl

#14733 CI: update HPU pool
  .azure/hpu-tests.yml
  .github/checkgroup.yml
Labels: ready, ci, accelerator: hpu

#14710 Fix CC-bot for non-forks
  .github/workflows/probot-auto-cc.yml
Labels: ready, ci

#14750 Use valid pypi versions for install in assistant
  .actions/assistant.py
Labels: ready, ci

#14693 Remove deprecated `torch_distributed_backend` logic
  src/lightning_lite/strategies/deepspeed.py
  src/lightning_lite/utilities/distributed.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/parallel.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/strategies/test_ddp.py
Labels: ready, breaking change, strategy, pl

#14727 Remove deprecated `NeptuneLogger` code
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/neptune.py
  tests/tests_pytorch/loggers/test_neptune.py
Labels: ready, refactor, logger: neptune, pl

#14751 Fix boring app test: `debug=True` when running on the cloud (dynamic app also has debug=True)
  tests/tests_app_examples/test_boring_app.py
Labels: bug, ready, tests, app

#14726 Standalone Lite: Update LightningLite
  src/lightning_lite/__init__.py
  src/lightning_lite/connector.py
  src/lightning_lite/lite.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/utilities/distributed.py
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/lite/wrappers.py
  src/pytorch_lightning/overrides/distributed.py
  src/pytorch_lightning/trainer/connectors/data_connector.py
  tests/tests_lite/test_lite.py
  tests/tests_pytorch/lite/test_lite.py
  tests/tests_pytorch/lite/test_parity.py
  tests/tests_pytorch/lite/test_wrappers.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
Labels: ready, priority: 0, refactor, lightninglite, pl

#14752 fix: keep pre versions
  .actions/assistant.py
Labels: bug, ready, ci

#14756 Explicitly set which Probot job to run
  .github/workflows/probot-auto-cc.yml
  .github/workflows/probot-check-group.yml
Labels: ready, ci

#14757 Bump Lightning Cloud to 0.5.7
  requirements/app/base.txt
  src/lightning_app/CHANGELOG.md
Labels: ready, app

#14760 User-friendly exception if root flow does not override the `run()` method
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/utilities/component.py
  tests/tests_app/core/test_lightning_app.py
Labels: feature, ready, app

#14259 Fix property setter override by default setter
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/work.py
  tests/tests_app/core/test_lightning_work.py
Labels: bug, ready, community, app

#14759 User-friendly exception when `LightningWork.run()` method is missing
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/work.py
  tests/tests_app/core/test_lightning_work.py
Labels: feature, ready, app

#14761 Remove check `num_slurm_tasks` in Lite
  src/lightning_lite/connector.py
  tests/tests_lite/test_connector.py
Labels: ready, refactor, priority: 1, lightninglite

#14762 Fix TensorBoardLogger creating redundant experiment when finalizing
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/tensorboard.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/loggers/test_tensorboard.py
Labels: bug, ready, logger: tensorboard, pl

#14753 Move accelerator-specific parsing functions with their accelerators
  src/lightning_lite/accelerators/cpu.py
  src/lightning_lite/accelerators/cuda.py
  src/lightning_lite/accelerators/mps.py
  src/lightning_lite/accelerators/tpu.py
  src/lightning_lite/connector.py
  src/lightning_lite/utilities/device_parser.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/accelerators/cpu.py
  src/pytorch_lightning/accelerators/cuda.py
  src/pytorch_lightning/accelerators/hpu.py
  src/pytorch_lightning/accelerators/mps.py
  src/pytorch_lightning/accelerators/tpu.py
  src/pytorch_lightning/profilers/pytorch.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/tuner/auto_gpu_select.py
  src/pytorch_lightning/utilities/device_parser.py
  tests/tests_lite/accelerators/test_cuda.py
  tests/tests_lite/test_connector.py
  tests/tests_lite/utilities/test_device_parser.py
  tests/tests_pytorch/accelerators/test_common.py
  tests/tests_pytorch/accelerators/test_cpu.py
  tests/tests_pytorch/accelerators/test_gpu.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/plugins/test_cluster_integration.py
  tests/tests_pytorch/strategies/test_bagua_strategy.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_with_full_state_dict.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/flags/test_env_vars.py
  tests/tests_pytorch/trainer/properties/test_auto_gpu_select.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_config_validator.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/trainer/test_trainer_cli.py
  tests/tests_pytorch/utilities/test_device_parser.py
Labels: ready, refactor, deprecation, pl

#14768 Update logging.rst
  docs/source-pytorch/extensions/logging.rst
Labels: docs, pl

#14703 Introduce Upload File endpoint
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/api.py
  src/lightning_app/runners/cloud.py
Labels: ready, app, app:drive

#14769 Clean-up PL's Lite imports
  src/lightning_lite/plugins/__init__.py
  src/lightning_lite/strategies/strategy.py
  src/lightning_lite/utilities/distributed.py
  src/pytorch_lightning/callbacks/pruning.py
  src/pytorch_lightning/core/mixins/hparams_mixin.py
  src/pytorch_lightning/core/saving.py
  src/pytorch_lightning/lite/wrappers.py
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  src/pytorch_lightning/plugins/__init__.py
  src/pytorch_lightning/plugins/environments/__init__.py
  src/pytorch_lightning/plugins/environments/bagua_environment.py
  src/pytorch_lightning/plugins/io/__init__.py
  src/pytorch_lightning/plugins/io/async_plugin.py
  src/pytorch_lightning/plugins/io/checkpoint_plugin.py
  src/pytorch_lightning/plugins/io/hpu_plugin.py
  src/pytorch_lightning/plugins/io/torch_plugin.py
  src/pytorch_lightning/plugins/io/wrapper.py
  src/pytorch_lightning/plugins/io/xla_plugin.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/dp.py
  src/pytorch_lightning/strategies/fully_sharded.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/horovod.py
  src/pytorch_lightning/strategies/hpu_parallel.py
  src/pytorch_lightning/strategies/ipu.py
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  src/pytorch_lightning/strategies/launchers/subprocess_script.py
  src/pytorch_lightning/strategies/launchers/xla.py
  src/pytorch_lightning/strategies/parallel.py
  src/pytorch_lightning/strategies/single_device.py
  src/pytorch_lightning/strategies/single_hpu.py
  src/pytorch_lightning/strategies/single_tpu.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  src/pytorch_lightning/trainer/connectors/logger_connector/result.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/apply_func.py
Labels: ready, code quality, pl

#14596 Added args parameter to LightningCLI to ease running from within Python
  docs/source-pytorch/cli/lightning_cli_advanced_3.rst
  docs/source-pytorch/cli/lightning_cli_intermediate.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/cli.py
  tests/tests_pytorch/test_cli.py
Labels: feature, ready, lightningcli, pl

#14790 Remove unused mixed precision class
  src/lightning_lite/plugins/__init__.py
  src/lightning_lite/plugins/precision/__init__.py
  src/lightning_lite/plugins/precision/mixed.py
  src/lightning_lite/plugins/precision/native_amp.py
Labels: ready, refactor, lightninglite, precision: native amp

#14715 Surface Neptune installation problems to the user
  src/pytorch_lightning/loggers/neptune.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_neptune.py
Labels: ready, logger: neptune, code quality, pl

#14794 Update hpu-tests.yml to support v1.6.0 release
  .azure/hpu-tests.yml
  dockers/ci-runner-hpu/Dockerfile
Labels: ready, ci, accelerator: hpu

#12292 Set `MLFlowLogger` status to FAILED when training raises an error
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/comet.py
  src/pytorch_lightning/loggers/csv_logs.py
  src/pytorch_lightning/loggers/mlflow.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/loggers/tensorboard.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/loggers/test_mlflow.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: feature, ready, logger, logger: mlflow, community, pl

#14267 [mypy] start introducing mypy on lightning_app
  pyproject.toml
  src/lightning_app/cli/cmd_apps.py
  src/lightning_app/cli/cmd_clusters.py
  src/lightning_app/cli/cmd_init.py
  src/lightning_app/cli/cmd_install.py
  src/lightning_app/cli/cmd_pl_init.py
  src/lightning_app/cli/cmd_react_ui_init.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/cli/lightning_cli_create.py
  src/lightning_app/cli/lightning_cli_delete.py
  src/lightning_app/cli/lightning_cli_list.py
  src/lightning_app/runners/backends/docker.py
  src/lightning_app/runners/cloud.py
Labels: ready, code quality, app

#14809 Fixed `TypeError` on 1.7.6 when `torch.distributed` unavailable
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/types.py
Labels: bug, ready, priority: 0, code quality, pl

#14795 Fix icon encoding in PL App pretty-print
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_pl_init.py
  tests/tests_app/cli/test_cmd_pl_init.py
Labels: bug, ready, community, app

#14814 pkg, strict version
  .actions/setup_tools.py
Labels: ready, priority: 1, release

#14672 change cluster creation log message
  src/lightning_app/cli/cmd_clusters.py
Labels: ready, app

#14294 Set path filters in favor of the required-job action
  .azure/gpu-tests.yml
  .azure/ipu-tests.yml
  .github/workflows/ci-pytorch-test-conda.yml
  .github/workflows/ci-pytorch-test-full.yml
Labels: ci

#14810 Remove the model argument from Lite's `optimizer_step` via structural typing
  src/lightning_lite/plugins/precision/deepspeed.py
  src/lightning_lite/plugins/precision/native_amp.py
  src/lightning_lite/plugins/precision/precision.py
  src/lightning_lite/plugins/precision/tpu.py
  src/lightning_lite/strategies/strategy.py
  src/lightning_lite/utilities/types.py
  src/lightning_lite/wrappers.py
  tests/tests_lite/plugins/precision/test_deepspeed.py
  tests/tests_lite/plugins/precision/test_native_amp.py
  tests/tests_lite/test_wrappers.py
Labels: ready, refactor, lightninglite

#14822 Update device attribute in Lite's module wrapper
  src/lightning_lite/lite.py
  src/pytorch_lightning/CHANGELOG.md
  tests/tests_lite/helpers/utils.py
  tests/tests_lite/test_lite.py
Labels: bug, ready, lightninglite, pl

#14807 Updates links to components in the Gallery
  docs/source-app/levels/basic/level_4.rst
Labels: ready, docs, app

#14828 Correct false error message relating to Trainer(precision)
  src/lightning_lite/connector.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
Labels: ready, code quality, pl

#14823 Clean-up dtype management
  src/lightning_lite/plugins/precision/utils.py
  src/lightning_lite/utilities/device_dtype_mixin.py
  src/lightning_lite/wrappers.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/plugins/precision/double.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/ipu.py
  tests/tests_lite/utilities/test_device_dtype_mixin.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: ready, tests, code quality, pl

#14821 Tests for fixed TypeError
  tests/tests_lite/utilities/test_imports.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, tests, trainer: test, pl

#14832 Remove deprecated use_amp attributes
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/trainer/connectors/data_connector.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
Labels: ready, breaking change, precision: native amp, pl

#14836 Fix attribute error in SWA when running with Tuner
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
Labels: bug, ready, trainer: tune, callback: swa, pl

#14734 Updated the structure and applied feedback
  docs/source-app/glossary/secrets.rst
Labels: ready, docs, app

#14631 Attempt to query device count via NVML
  src/lightning_lite/accelerators/cuda.py
  src/lightning_lite/strategies/launchers/multiprocessing.py
  src/lightning_lite/utilities/device_parser.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_lite/accelerators/test_cpu.py
  tests/tests_lite/accelerators/test_cuda.py
  tests/tests_lite/strategies/launchers/test_multiprocessing.py
  tests/tests_lite/test_connector.py
  tests/tests_lite/utilities/test_device_parser.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: bug, ready, accelerator: cuda, pl

#14829 Remove deprecated device attributes from Trainer
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
Labels: ready, breaking change, pl

#14833 Remove deprecated precision plugin checkpoint hooks
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
Labels: ready, breaking change, precision: native amp, pl

#14840 Remove the deprecated `agg_and_log_metrics`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/base.py
  src/pytorch_lightning/loggers/comet.py
  src/pytorch_lightning/loggers/logger.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/loggers/tensorboard.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
Labels: ready, logger, breaking change, pl

#14798 Integrate Lite Precision into PL
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/plugins.rst
  src/lightning_lite/plugins/precision/__init__.py
  src/lightning_lite/plugins/precision/double.py
  src/lightning_lite/plugins/precision/native_amp.py
  src/lightning_lite/plugins/precision/precision.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/plugins/precision/__init__.py
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/ipu.py
  src/pytorch_lightning/plugins/precision/mixed.py
  src/pytorch_lightning/plugins/precision/native_amp.py
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/plugins/precision/tpu.py
  src/pytorch_lightning/strategies/strategy.py
Labels: ready, breaking change, lightninglite, pl

#11617 Improving Hydra+DDP support
  src/pytorch_lightning/strategies/launchers/subprocess_script.py
  tests/tests_pytorch/strategies/launchers/test_subprocess_script.py
Labels: feature, ready, argparse, community, pl

#14851 Update Changelog post v1.7.7
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, pl

#14844 App: Update changelog post release (0.6.1)
  src/lightning_app/CHANGELOG.md
Labels: app

#14853 update changelog after App 0.6.2
  src/lightning_app/CHANGELOG.md
Labels: ready, docs, app

#14861 Make Trainer Debuggable and understandable again (1/n)
  requirements/docs/base.txt
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: pl

#14862 Make Trainer readable and debuggable (2/n)
  src/pytorch_lightning/trainer/teardown.py
  src/pytorch_lightning/trainer/trainer.py
Labels: pl
