Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-12, with the labels that each got.

#15844 Moving `lightning_api_access` out of base requirements
  requirements/app/base.txt
  requirements/app/components.txt
  requirements/app/devel.txt
  src/lightning_app/components/serve/python_server.py
Labels: ready, app

#15881 [App] Fixing Sigterm Handler causing thread lock which caused KeyboardInterrupt to hang
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/multiprocess.py
Labels: ready, app

#15871 CI: signal lai build
  .github/actions/pkg-publish/action.yml
  .github/workflows/legacy-checkpoints.yml
  .github/workflows/release-pypi.yml
Labels: ready, ci, priority: 1, release

#15846 Remove checks for torch greater than 1.10
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/common/precision_intermediate.rst
  docs/source-pytorch/conf.py
  src/lightning_lite/plugins/collectives/torch_collective.py
  src/lightning_lite/plugins/precision/native_amp.py
  src/lightning_lite/utilities/imports.py
  src/pytorch_lightning/callbacks/quantization.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/plugins/precision/native_amp.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_lite/helpers/runif.py
  tests/tests_lite/plugins/precision/test_native_amp.py
  tests/tests_lite/test_connector.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_ddp_strategy_with_comm_hook.py
Labels: ready, refactor, pl

#15879 CI: prune dependency for benchmarks
  .azure/gpu-benchmark.yml
Labels: ci

#15798 unblock legacy checkpoints
  tests/legacy/simple_classif_training.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
Labels: ready, pl

#15721 [CLI] drop name column from cluster list
  docs/source-app/workflows/byoc/index.rst
  src/lightning_app/cli/cmd_clusters.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/cli/lightning_cli_create.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_cmd_clusters.py
Labels: ready, app, app:cli

#15783 Add CLI Command to Delete Lightning App
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_apps.py
  src/lightning_app/cli/cmd_clusters.py
  src/lightning_app/cli/lightning_cli_delete.py
  tests/tests_app/cli/test_cmd_apps.py
  tests/tests_app/cli/test_cmd_cli_delete.py
Labels: ready, app

#15875 [App] Support for headless apps
  .azure/app-cloud-e2e.yml
  requirements/app/base.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/core/app.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/runners/multiprocess.py
  src/lightning_app/runners/runtime.py
  src/lightning_app/runners/singleprocess.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/layout.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_run_app.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/runners/test_multiprocess.py
  tests/tests_app/runners/test_singleprocess.py
  tests/tests_app/utilities/test_app_helpers.py
  tests/tests_examples_app/public/test_commands_and_api.py
Labels: ready, app

#15913 [App] Fix hanging CI
  src/lightning_app/cli/lightning_cli_delete.py
  tests/tests_app/cli/test_cmd_cli_delete.py
Labels: ci, app

#15776 CI: merge two install steps
  .github/workflows/ci-app-tests.yml
Labels: ready, ci

#15907 replace MD template with Yaml - refactor
  .github/ISSUE_TEMPLATE/2_refactor.yaml
  .github/ISSUE_TEMPLATE/refactor.md
Labels: docs

#15908 replace MD template with Yaml - feature
  .github/ISSUE_TEMPLATE/3_feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: docs

#15909 replace MD template with Yaml - docs
  .github/ISSUE_TEMPLATE/4_documentation.yaml
  .github/ISSUE_TEMPLATE/documentation.md
Labels: docs

#15826 Activation checkpointing in FSDP without boilerplate
  docs/source-pytorch/advanced/model_parallel.rst
  src/lightning_lite/strategies/fsdp.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/fully_sharded_native.py
  tests/tests_lite/strategies/test_fsdp.py
  tests/tests_lite/strategies/test_fsdp_integration.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_native.py
Labels: feature, ready, lightninglite, strategy: fsdp native, pl, fun

#15921 [App] Add ready property to the flow
  examples/app_boring/app_dynamic.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/testing/testing.py
  tests/tests_app/core/test_lightning_flow.py
Labels: feature, ready, app

#15924 Update branch rules for running CI
  .azure/app-cloud-e2e.yml
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/ci-schema.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
  .github/workflows/tpu-tests.yml
Labels: ci

#15832 Simplify enabling CPU offload in FSDP
  docs/source-pytorch/advanced/model_parallel.rst
  src/lightning_lite/strategies/fsdp.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/fully_sharded_native.py
  tests/tests_lite/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_native.py
Labels: ready, refactor, lightninglite, strategy: fsdp native, pl, fun

#15923 [App] Enable running with spawn context
  examples/app_installation_commands/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/flow.py
  src/lightning_app/core/queues.py
  src/lightning_app/core/work.py
  src/lightning_app/runners/backends/mp_process.py
  tests/tests_app/core/test_queues.py
Labels: bug, ready, app

#15927 Fix compiler support test
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, tests, pl

#15769 [App] Introduce auto scaler
  docs/source-app/api_references.rst
  examples/app_server_with_auto_scaler/app.py
  pyproject.toml
  requirements/app/base.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/auto_scaler.py
  src/lightning_app/components/database/server.py
  tests/tests_app/components/test_auto_scaler.py
Labels: feature, ready, app, components

#15938 Rename LightningLite (2/n)
  .azure/gpu-tests-lite.yml
  src/lightning/__init__.py
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/__init__.py
  src/lightning_lite/fabric.py
  tests/tests_lite/test_lite.py
  tests/tests_lite/test_parity.py
  tests/tests_lite/test_wrappers.py
Labels: ready

#15182 ENG-627: Docs for CloudCompute Mount Argument
  docs/source-app/api_reference/storage.rst
  docs/source-app/api_references.rst
  docs/source-app/glossary/index.rst
  docs/source-app/glossary/mount.rst
  docs/source-app/workflows/index.rst
  docs/source-app/workflows/mount_cloud_object_store.rst
  examples/app_mount/app.py
Labels: ready, docs, app

#15940 Fix LRScheduler import for PyTorch 2.0
  src/pytorch_lightning/utilities/types.py
Labels: ready, pl, pytorch 2.0

#15945 CI: try to get push
  .github/actions/pkg-publish/action.yml
  .github/workflows/legacy-checkpoints.yml
  .github/workflows/release-pypi.yml
Labels: ready

#15948 Fix typo in package publish action
  .github/actions/pkg-publish/action.yml
Labels: ready, app

#15944 CI: fix pypi flow
  .github/actions/pkg-publish/action.yml
  .github/workflows/legacy-checkpoints.yml
  .github/workflows/release-pypi.yml
Labels: bug, ci

#15933 [App] Remove `SingleProcessRuntime`
  docs/source-app/api_reference/runners.rst
  docs/source-app/api_references.rst
  docs/source-app/testing.rst
  examples/app_template_streamlit_ui/app.py
  pyproject.toml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/auto_scaler.py
  src/lightning_app/core/app.py
  src/lightning_app/core/queues.py
  src/lightning_app/runners/__init__.py
  src/lightning_app/runners/runtime_type.py
  src/lightning_app/runners/singleprocess.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/state.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/core/test_queues.py
  tests/tests_app/runners/test_runtime.py
  tests/tests_app/runners/test_singleprocess.py
  tests/tests_app/structures/test_structures.py
Labels: ready, refactor, app, app:runners

#15911 [App] Fix bug when using structures with works
  requirements/app/base.txt
  requirements/lite/base.txt
  requirements/lite/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/structures/dict.py
  src/lightning_app/structures/list.py
  tests/tests_app/structures/test_structures.py
Labels: bug, ready, app:structures

#15934 [App] Wait for full file to be transferred in Path / Payload
  src/lightning_app/core/constants.py
  src/lightning_app/storage/orchestrator.py
  src/lightning_app/storage/path.py
  src/lightning_app/storage/payload.py
  src/lightning_app/storage/requests.py
  tests/tests_app/storage/test_copier.py
Labels: ready, app

#15926 [App] Add `configure_layout` method for works
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/serve/gradio.py
  src/lightning_app/components/serve/python_server.py
  src/lightning_app/components/serve/serve.py
  src/lightning_app/components/serve/streamlit.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/utilities/layout.py
  tests/tests_app/utilities/test_app_helpers.py
  tests/tests_app/utilities/test_layout.py
Labels: feature, ready, app

#15003 Make gradients available for all_gather on TPU
  src/lightning_lite/strategies/xla.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  tests/tests_lite/strategies/test_xla.py
Labels: feature, ready, accelerator: tpu, community, pl

#15775 Don't try to aggregate `requirements/__pycache__/base.txt` in setuptools
  .actions/setup_tools.py
Labels: ready

#15836 [App] Multiprocessing-safe work pickling
  src/lightning_app/CHANGELOG.md
  src/lightning_app/utilities/safe_pickle.py
  tests/tests_app/utilities/test_safe_pickle.py
  tests/tests_app/utilities/testdata/safe_pickle_app.py
Labels: ready, app

#15956 Upgrade to HPU release 1.7.1
  .azure/hpu-tests.yml
  dockers/ci-runner-hpu/Dockerfile
  src/pytorch_lightning/utilities/imports.py
Labels: ready, pl

#15748 Multinode on MPS
  .github/workflows/ci-app-tests.yml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/multi_node/lite.py
  src/lightning_app/components/multi_node/pytorch_spawn.py
  src/lightning_app/components/multi_node/trainer.py
  tests/tests_app/components/multi_node/__init__.py
  tests/tests_app/components/multi_node/test_lite.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_app/utilities/packaging/test_build_spec.py
Labels: ready, app

#15949 [App] Resolve PythonServer on M1
  requirements/app/ui.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/auto_scaler.py
  src/lightning_app/components/python/tracer.py
  src/lightning_app/components/serve/gradio.py
  src/lightning_app/components/serve/python_server.py
Labels: bug, ready, app

#15931 Lite: Fix DataLoader shuffling when using DistributedSampler
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/lite.py
  tests/tests_lite/test_lite.py
  tests/tests_lite/test_parity.py
Labels: bug, ready, lightninglite, strategy: ddp, fun

#15958 [App] Temporarily disable ready
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
Labels: bug, app

#15620 Fix restarting attribute for lr finder
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/lr_finder.py
  src/pytorch_lightning/tuner/lr_finder.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: bug, ready, callback, pl

#15951 [App] Improve debug triggering
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/utilities/app_helpers.py
Labels: bug, ready, app

#15961 [App] Add automatic conversion to structures
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/flow.py
  tests/tests_app/structures/test_structures.py
Labels: ready, app

#15947 Make LightningModule torch.jit.script-able again
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/core.py
  src/pytorch_lightning/core/module.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/graveyard/test_core.py
Labels: bug, ready, lightningmodule, pl

#15959 refactor: simplify Tensor import
  src/lightning_lite/plugins/collectives/collective.py
  src/lightning_lite/plugins/collectives/single_device.py
  src/lightning_lite/plugins/collectives/torch_collective.py
  src/lightning_lite/plugins/precision/utils.py
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/loggers/mlflow.py
  src/pytorch_lightning/serve/servable_module.py
  src/pytorch_lightning/strategies/utils.py
  src/pytorch_lightning/trainer/supporters.py
Labels: ready, refactor, pl

#15963 Fix ImportErrors on Multinode if package not present
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/multi_node/lite.py
  src/lightning_app/components/multi_node/trainer.py
Labels: ready, app

#15954 Fix typo in definition of world size in docs
  docs/source-pytorch/clouds/cluster_intermediate_1.rst
Labels: docs, fun

#15941 [App] Enable running an app from the Gallery
  pyproject.toml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_install.py
  src/lightning_app/cli/lightning_cli.py
  tests/tests_app/cli/test_cmd_install.py
Labels: ready, app

#15960 Releasing/1.8.4 extra2
  .actions/setup_tools.py
  .azure/app-cloud-e2e.yml
  .github/workflows/ci-app-tests.yml
  docs/source-app/api_references.rst
  docs/source-pytorch/clouds/cluster_intermediate_1.rst
  examples/app_dag/requirements.txt
  pyproject.toml
  requirements/app/test.txt
  requirements/app/ui.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_install.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/components/auto_scaler.py
  src/lightning_app/components/multi_node/lite.py
  src/lightning_app/components/multi_node/pytorch_spawn.py
  src/lightning_app/components/multi_node/trainer.py
  src/lightning_app/components/python/tracer.py
  src/lightning_app/components/serve/gradio.py
  src/lightning_app/components/serve/python_server.py
  src/lightning_app/components/serve/serve.py
  src/lightning_app/components/serve/streamlit.py
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/perf/pdb.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/layout.py
  src/lightning_app/utilities/safe_pickle.py
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/lite.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/core.py
  src/pytorch_lightning/callbacks/lr_finder.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/tuner/lr_finder.py
  tests/tests_app/cli/test_cmd_install.py
  tests/tests_app/components/multi_node/__init__.py
  tests/tests_app/components/multi_node/test_lite.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/packaging/test_build_spec.py
  tests/tests_app/utilities/test_app_helpers.py
  tests/tests_app/utilities/test_layout.py
  tests/tests_app/utilities/test_safe_pickle.py
  tests/tests_app/utilities/testdata/safe_pickle_app.py
  tests/tests_lite/test_lite.py
  tests/tests_lite/test_parity.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/graveyard/test_core.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: ready, release

#15957 Apply dynamo to training_step, validation_step, test_step, predict_step
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, pl

#15975 update changelog
  src/lightning_app/CHANGELOG.md
  src/lightning_lite/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: docs

#15974 [App] Resolve run installation
  src/lightning_app/cli/cmd_install.py
  tests/tests_app/cli/test_cmd_install.py
Labels: bug, ready, priority: 1, app

#15971 App: Move AutoScaler dependency to extra requirements
  requirements/app/base.txt
  requirements/app/components.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/auto_scaler.py
  src/lightning_app/utilities/imports.py
Labels: ready, priority: 1, app

#15966 Avoid using the same port number for autoscaler works
  examples/app_server_with_auto_scaler/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/auto_scaler.py
  src/lightning_app/components/serve/python_server.py
Labels: bug, ready, app

#15886 Fix `action_name` usage in `XLAProfiler`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/profilers/xla.py
Labels: bug, ready, accelerator: tpu, profiler, community, pl

#15965 Fix multinode cloud component
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/multi_node/base.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  tests/tests_app/components/multi_node/test_base.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
Labels: ready, app

#15981 ci: update signaling
  .github/workflows/release-pypi.yml
Labels: ready, release

#15964 Fix cloudcomputes registration for structures
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/flow.py
  tests/tests_app/core/test_lightning_flow.py
Labels: ready, app, app:structures

#15980 Rename LightningLite (5/n)
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/starter/lightning_lite.rst
Labels: ready, pl

#15962 Document running a local version of lightning on the cloud
  .github/CONTRIBUTING.md
Labels: ready, docs

#15988 Releasing/1.8.4.post
  .github/CONTRIBUTING.md
  .github/workflows/release-pypi.yml
  examples/app_server_with_auto_scaler/app.py
  requirements/app/base.txt
  requirements/app/cloud.txt
  requirements/app/components.txt
  src/lightning/__version__.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/__version__.py
  src/lightning_app/cli/cmd_install.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/components/auto_scaler.py
  src/lightning_app/components/multi_node/base.py
  src/lightning_app/components/serve/python_server.py
  src/lightning_app/core/flow.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_app/utilities/imports.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  src/lightning_lite/__version__.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/__version__.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/profilers/xla.py
  tests/tests_app/cli/test_cmd_install.py
  tests/tests_app/components/multi_node/test_base.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
  tests/tests_app/utilities/test_cli_helpers.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, release

#15982 Rename LightningLite (6/n)
  .azure/gpu-tests-fabric.yml
  .github/checkgroup.yml
  examples/README.md
  examples/app_multi_node/README.md
  examples/app_multi_node/train_fabric.py
  examples/fabric/README.md
  examples/fabric/image_classifier_1_pytorch.py
  examples/fabric/image_classifier_2_fabric.py
  examples/fabric/models.py
  examples/lite/README.md
  examples/run_fabric_examples.sh
Labels: ready, app

#15953 Lite: Remove legacy code
  src/lightning_fabric/wrappers.py
  src/pytorch_lightning/lite/__init__.py
  src/pytorch_lightning/lite/lite.py
  tests/tests_app/core/scripts/lightning_overrides.py
  tests/tests_app/utilities/test_introspection.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/lite/__init__.py
  tests/tests_pytorch/lite/test_lite.py
Labels: ready

#15996 [App] Fix import errors for the packages installed by shebang
  src/lightning_app/components/serve/python_server.py
Labels: ready, app

#15994 dependencies
  .github/workflows/release-pypi.yml
  requirements/app/base.txt
  requirements/app/cloud.txt
  src/lightning_app/components/serve/python_server.py
Labels: ready, release, app

#15998 Dont try to update an instance that isnt running yet
  src/lightning_app/components/serve/streamlit.py
  src/lightning_app/core/app.py
  src/lightning_app/utilities/app_helpers.py
Labels: bug, app

#15838 Lite: Flatten XLAStrategy
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/strategies/launchers/xla.py
  src/lightning_lite/strategies/xla.py
Labels: ready, accelerator: tpu, refactor, lightninglite, strategy: ddp spawn, fun

#15999 1.8.4.post release final
  src/lightning_app/components/serve/streamlit.py
  src/lightning_app/core/app.py
  src/lightning_app/testing/config.py
  src/lightning_app/utilities/app_helpers.py
  tests/tests_examples_app/public/test_boring_app.py
Labels: ready, release, app

#15815 Set the logger explicitly in tests
  requirements/pytorch/test.txt
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
  tests/tests_pytorch/callbacks/test_lr_monitor.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/loggers/test_tensorboard.py
  tests/tests_pytorch/models/test_grad_norm.py
  tests/tests_pytorch/models/test_hparams.py
  tests/tests_pytorch/profilers/test_profiler.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/flags/test_fast_dev_run.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, tests, pl

#15991 [App] Fix `AutoScaler` trying to replicate multiple works in a single machine
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/auto_scaler.py
  tests/tests_app/components/test_auto_scaler.py
Labels: bug, ready, app, components

#16003 Fix typo in PR titles generated by github-actions bot
  .github/workflows/legacy-checkpoints.yml
Labels: priority: 0, ci

#15853 Fix pip install with no PACKAGE_NAME or editable mode
  .github/actions/pkg-check/action.yml
  .github/actions/pkg-install/action.yml
  .github/checkgroup.yml
  .github/workflows/ci-pkg-install.yml
  setup.py
Labels: ready, ci

#16008 update changelog after 1.8.4.post
  src/lightning_app/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: docs

#15997 app: update doctest_skip
  src/lightning_app/components/serve/python_server.py
Labels: ready, app

#15915 Batch `MLFlowLogger` requests
  requirements/pytorch/loggers.info
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/mlflow.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_mlflow.py
Labels: feature, ready, logger: mlflow, community, pl

#15869 LightningCLI support for optimizers and schedulers via dependency injection
  docs/source-pytorch/cli/lightning_cli_advanced_3.rst
  requirements/pytorch/extra.txt
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/cli.py
  tests/tests_pytorch/test_cli.py
Labels: feature, ready, lightningcli, pl

#15993 Rename LightningLite (7/n)
  docs/source-pytorch/model/build_model_expert.rst
  docs/source-pytorch/starter/lightning_fabric.rst
  src/lightning_fabric/fabric.py
  src/lightning_fabric/plugins/io/torch_io.py
  src/lightning_fabric/strategies/deepspeed.py
  src/lightning_fabric/strategies/strategy.py
  src/lightning_fabric/strategies/xla.py
  src/lightning_fabric/utilities/distributed.py
  src/lightning_fabric/wrappers.py
  src/pytorch_lightning/CHANGELOG.md
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/test_wrappers.py
Labels: ready, pl

#15986 CI: clean install & share pkg build
  .github/actions/pkg-check/action.yml
  .github/actions/pkg-install/action.yml
  .github/actions/pkg-publish/action.yml
  .github/checkgroup.yml
  .github/workflows/_build-packages.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/docs-checks.yml
  .github/workflows/release-pypi.yml
  src/lightning_app/components/python/popen.py
  src/lightning_app/components/python/tracer.py
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/structures/dict.py
  src/lightning_app/structures/list.py
  src/lightning_app/utilities/packaging/build_config.py
  src/pytorch_lightning/core/mixins/hparams_mixin.py
  src/pytorch_lightning/utilities/parsing.py
Labels: ready, ci

#14952 Merge DDPStrategy and DDPSpawnStrategy in Lite
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/connector.py
  src/lightning_lite/lite.py
  src/lightning_lite/strategies/__init__.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/launchers/multiprocessing.py
  src/pytorch_lightning/lite/lite.py
  tests/tests_lite/plugins/collectives/test_torch_collective.py
  tests/tests_lite/strategies/launchers/test_subprocess_script.py
  tests/tests_lite/strategies/test_deepspeed.py
  tests/tests_lite/strategies/test_fairscale.py
  tests/tests_lite/test_connector.py
  tests/tests_lite/test_lite.py
  tests/tests_lite/test_parity.py
  tests/tests_lite/utilities/test_distributed.py
Labels: ready, refactor, lightninglite, code quality, pl, fun

#16029 Fix DDPStrategy import in app framework after #14952
  src/lightning_app/components/multi_node/lite.py
  tests/tests_app/components/multi_node/test_lite.py
Labels: bug, ready, priority: 0, app

#15818 Introduce `{Work,Flow}.lightningignore`
  docs/source-app/workflows/run_app_on_cloud/cloud_files.rst
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/multi_node/trainer.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/source_code/copytree.py
  src/lightning_app/source_code/local.py
  src/lightning_app/utilities/app_helpers.py
  tests/tests_app/runners/test_cloud.py
Labels: feature, ready, app

#15847 Merge setup_tools into assistant
  .actions/assistant.py
  .actions/setup_tools.py
  .github/workflows/ci-pkg-install.yml
  setup.py
  src/lightning/__setup__.py
  src/lightning_app/MANIFEST.in
  src/lightning_app/__setup__.py
  src/lightning_lite/MANIFEST.in
  src/lightning_lite/__setup__.py
  src/pytorch_lightning/MANIFEST.in
  src/pytorch_lightning/__setup__.py
Labels: ready, code quality

#16038 Remove deperecated code in pl.utilities.meta
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/meta.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
Labels: refactor, pl

#16037 Add info message for Ampere GPUs to enable tf32 matmuls
  src/lightning_lite/accelerators/cuda.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/accelerators/cuda.py
  tests/tests_lite/accelerators/test_cuda.py
  tests/tests_pytorch/strategies/test_ddp.py
Labels: feature, ready, accelerator: cuda, pl

#16023 Document Gradient Clipping during Manual Optimization
  docs/source-pytorch/model/manual_optimization.rst
  src/pytorch_lightning/core/module.py
Labels: ready, docs, community, pl

#16017 Nightly PyTorch version is now 2.0
  src/lightning_lite/__init__.py
  src/lightning_lite/accelerators/cuda.py
  src/lightning_lite/utilities/imports.py
  src/lightning_lite/utilities/types.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/quantization.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/demos/mnist_datamodule.py
  src/pytorch_lightning/plugins/precision/fsdp_native_native_amp.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/connectors/signal_connector.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/models/test_onnx.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_native.py
Labels: ready, refactor, pl

#16041 Remove the deprecated `LightningDeepSpeedModule`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/strategies.py
  src/pytorch_lightning/strategies/deepspeed.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_strategies.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: refactor, breaking change, pl

#16016 [App] Support running on multiple clusters
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/packaging/app_config.py
  tests/tests_app/cli/test_cloud_cli.py
  tests/tests_app/runners/test_cloud.py
Labels: feature, ready, app, app:runners, app:cloud

#16035 [App] Improve lightning connect experience
  examples/app_installation_commands/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/components/database/server.py
  src/lightning_app/runners/multiprocess.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_app/utilities/commands/base.py
  src/lightning_app/utilities/frontend.py
  tests/tests_app/cli/test_connect.py
  tests/tests_examples_app/public/test_commands_and_api.py
Labels: ready, app, app:cli

#16054 Cleanup cluster waiting
  src/lightning_app/cli/cmd_clusters.py
Labels: ready, app

#16052 feature(cli): login flow fixes and improvements
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/utilities/login.py
Labels: ready, app

#16053 Add guards to cluster deletion from cli
  src/lightning_app/cli/cmd_clusters.py
  tests/tests_app/cli/test_cmd_clusters.py
Labels: ready, app, app:cli

#16057 Load app before setting LIGHTNING_DISPATCHED
  src/lightning_app/runners/runtime.py
Labels: bug, app

#16050 Remove the deprecated `GPUAccelerator`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/accelerator.py
  src/pytorch_lightning/accelerators/__init__.py
  src/pytorch_lightning/accelerators/gpu.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_accelerator.py
Labels: ready, refactor, breaking change, pl

#16058 Avoid deprecated Lite import
  src/lightning/__init__.py
Labels: bug, app

#16059 Remove the deprecated profiler imports
  src/lightning_app/utilities/introspection.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/profiler.py
  src/pytorch_lightning/profiler/__init__.py
  src/pytorch_lightning/profiler/advanced.py
  src/pytorch_lightning/profiler/base.py
  src/pytorch_lightning/profiler/profiler.py
  src/pytorch_lightning/profiler/pytorch.py
  src/pytorch_lightning/profiler/simple.py
  src/pytorch_lightning/profiler/xla.py
  tests/tests_app/core/scripts/lightning_overrides.py
  tests/tests_app/utilities/test_introspection.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_profiler.py
Labels: ready, refactor, deprecation, profiler, breaking change

#16064 Revert "Load app before setting LIGHTNING_DISPATCHED"
  src/lightning_app/runners/runtime.py
Labels: ready, priority: 0, app

#16068 [App] Hot fix: Resolve detection of python debugger
  src/lightning_app/CHANGELOG.md
  src/lightning_app/utilities/app_helpers.py
Labels: bug, ready, app

#16071 Load the app before setting `LIGHTNING_DISPATCHED`
  src/lightning_app/runners/runtime.py
Labels: bug, ready, app

#16056 fix(cloud): detect and ignore venv
  src/lightning_app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#16067 Add function to remove checkpoint to allow override for extended classes
  src/pytorch_lightning/callbacks/model_checkpoint.py
Labels: ready, refactor, callback: model checkpoint, pl

#16076 minor fix: indent spaces in comment-out
  examples/pl_loops/kfold.py
Labels: example, ready, community, pl

#16077 ci: print existing candidates
  .github/workflows/release-pypi.yml
Labels: ci

#16082 [App] Fix bug where previously deleted apps cannot be re-run from the CLI
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/cloud.py
  tests/tests_app/cli/test_cloud_cli.py
  tests/tests_app/runners/test_cloud.py
Labels: bug, ready, app, app:runners, app:cloud

#16080 Better check for programmatic lightningignore
  .github/workflows/ci-app-examples.yml
  docs/source-app/levels/basic/hello_components/pl_multinode.py
  examples/app_multi_node/train_lite.py
  examples/app_multi_node/train_lt.py
  examples/app_multi_node/train_lt_script.py
  examples/app_multi_node/train_pytorch.py
  examples/app_multi_node/train_pytorch_spawn.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_examples_app/conftest.py
  tests/tests_examples_app/local/__init__.py
  tests/tests_examples_app/public/__init__.py
  tests/tests_examples_app/public/test_multi_node.py
Labels: bug, ready, app, components

#16086 release: 1.8.5.post
  .github/workflows/ci-app-examples.yml
  .github/workflows/release-pypi.yml
  docs/source-app/levels/basic/hello_components/pl_multinode.py
  examples/app_multi_node/train_lite.py
  examples/app_multi_node/train_lt.py
  examples/app_multi_node/train_lt_script.py
  examples/app_multi_node/train_pytorch.py
  examples/app_multi_node/train_pytorch_spawn.py
  examples/pl_loops/kfold.py
  src/lightning/__version__.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/__version__.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_lite/__version__.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/__version__.py
  src/pytorch_lightning/callbacks/model_checkpoint.py
  tests/tests_app/cli/test_cloud_cli.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_examples_app/conftest.py
  tests/tests_examples_app/local/__init__.py
  tests/tests_examples_app/public/__init__.py
  tests/tests_examples_app/public/test_multi_node.py
  tests/tests_lite/plugins/precision/test_native_amp_integration.py
  tests/tests_pytorch/strategies/test_bagua_strategy.py
Labels: ready, release

#16047 [App] PoC: Add support for Request
  .gitignore
  src/lightning_app/CHANGELOG.md
  src/lightning_app/api/http_methods.py
  tests/tests_app/core/test_lightning_api.py
Labels: ready, app, app:api

#16033 Integrate CheckGroup v5.3
  .github/workflows/probot-check-group.yml
Labels: ci

#16048 LightningModule support for Lite
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/fabric.py
  src/pytorch_lightning/core/module.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/models/test_fabric_integration.py
Labels: ready, pl

#16018 [App] Serve datatypes with better client code
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/serve/__init__.py
  src/lightning_app/components/serve/python_server.py
  tests/tests_app/components/serve/test_python_server.py
Labels: ready, app

#16010 docs: add PT version
  docs/source-pytorch/index.rst
Labels: ready, docs, pl

#16099 add 1.13.1 to adjust versions
  requirements/pytorch/adjust-versions.py
Labels: ci, priority: 1, pl

#16026 Remove redundant `find_unused_parameters=False` in Lite
  src/lightning_lite/connector.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/fairscale.py
  tests/tests_lite/strategies/test_ddp.py
  tests/tests_lite/strategies/test_fairscale_integration.py
  tests/tests_lite/strategies/test_registry.py
  tests/tests_lite/test_connector.py
Labels: ready, refactor, lightninglite, fun

#16095 [App] Add display name property to the work
  examples/app_display_name/.lightningignore
  examples/app_display_name/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/api/http_methods.py
  src/lightning_app/core/work.py
  src/lightning_app/utilities/frontend.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/structures/test_structures.py
Labels: ready, app, app:lightningwork

#16045 Fix detection of whether app is running in cloud
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/cloud.py
  tests/tests_app/utilities/test_cloud.py
Labels: bug, ready, app

#16103 [App] Add work.delete
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/work.py
  src/lightning_app/runners/backends/mp_process.py
  tests/tests_app/core/test_lightning_work.py
Labels: ready, app

#16063 [App] Improve the autoscaler UI
  docs/source-app/api_references.rst
  examples/app_server_with_auto_scaler/app.py
  pyproject.toml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/serve/__init__.py
  src/lightning_app/components/serve/auto_scaler.py
  tests/tests_app/components/serve/test_auto_scaler.py
Labels: ready, app, components

#15645 Re-enable Lite CLI on Windows + PyTorch 1.13
  src/lightning_lite/cli.py
  tests/tests_lite/test_cli.py
Labels: bug, ready, lightninglite

#16092 [App] Min replica=0 would break autoscaler component
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/serve/auto_scaler.py
  tests/tests_app/components/serve/test_auto_scaler.py
Labels: ready, app

#16093 [App] Scale out/in interval for autoscaler
  examples/app_server_with_auto_scaler/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/serve/auto_scaler.py
  tests/tests_app/components/serve/test_auto_scaler.py
Labels: ready, app

#16075 [App] Add status endpoint, enable `ready`
  examples/app_boring/app.py
  src/lightning_app/components/serve/streamlit.py
  src/lightning_app/core/api.py
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/runners/runtime.py
  src/lightning_app/utilities/app_status.py
  src/lightning_app/utilities/enum.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/storage/test_orchestrator.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/utilities/test_proxies.py
Labels: ready, app

#16098 CI: settle file names
  .github/checkgroup.yml
  .github/workflows/README.md
  .github/workflows/ci-dockers-pytorch.yml
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-lite.yml
  .github/workflows/ci-tests-pytorch.yml
  README.md
  src/pytorch_lightning/README.md
Labels: ready, pl

#16118 Fix test failing on master due to bad auto-merge
  tests/tests_app/runners/backends/test_mp_process.py
Labels: ready, tests, app

#16101 Distributed sampling parity between Lite and PyTorch
  src/lightning_lite/CHANGELOG.md
  src/lightning_lite/lite.py
  src/lightning_lite/utilities/distributed.py
  src/lightning_lite/wrappers.py
  tests/tests_lite/test_lite.py
  tests/tests_lite/test_wrappers.py
Labels: feature, ready, lightninglite, fun

#16116 Remove the deprecated `pl.utilities.cli` module
  examples/pl_basics/backbone_image_classifier.py
  examples/pl_basics/profiler_example.py
  examples/pl_domain_templates/imagenet.py
  examples/pl_hpu/mnist_sample.py
  examples/pl_integrations/dali_image_classifier.py
  examples/pl_servable_module/production.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/cli.py
  src/pytorch_lightning/cli.py
  src/pytorch_lightning/utilities/cli.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_cli.py
  tests/tests_pytorch/strategies/scripts/cli_script.py
Labels: ready, refactor, breaking change, lightningcli, pl

#16114 [App] Resolve some bugs from the Training Studio scaling
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/api.py
  src/lightning_app/core/app.py
  src/lightning_app/core/constants.py
  src/lightning_app/core/queues.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/app_logs.py
  src/lightning_app/utilities/frontend.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  src/lightning_app/utilities/scheduler.py
  tests/tests_app/components/serve/test_model_inference_api.py
  tests/tests_app/components/serve/test_python_server.py
  tests/tests_app/conftest.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
  tests/tests_app/utilities/test_commands.py
  tests/tests_app/utilities/test_git.py
  tests/tests_app/utilities/test_load_app.py
  tests/tests_app/utilities/test_proxies.py
Labels: bug, ready, app

#16000 [App] Improve app testing
  src/lightning_app/testing/config.py
  src/lightning_app/testing/testing.py
  tests/tests_examples_app/public/test_boring_app.py
Labels: bug, ready, app

#16009 [App] Change overwrite to True
  src/lightning_app/cli/lightning_cli.py
Labels: bug, ready, app

#15989 [App] Improve PythonServer info message on startup
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/serve/python_server.py
Labels: ready, app

#16120 Remove the deprecated `pl.loggers.base` module
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/loggers.py
  src/pytorch_lightning/loggers/__init__.py
  src/pytorch_lightning/loggers/base.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_loggers.py
Labels: ready, refactor, logger, breaking change, pl

#15789 loggers: revert useless exception
  src/pytorch_lightning/loggers/tensorboard.py
Labels: pl

#16110 [App] Fixing auto batching in Autoscaler
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/serve/auto_scaler.py
Labels: has conflicts, app

#16125 update chlog after 1.8.5
  src/lightning_app/CHANGELOG.md
  src/lightning_lite/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: docs

#16094 [App] Cold start proxy in autoscaler
  docs/source-app/api_references.rst
  requirements/app/test.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/serve/__init__.py
  src/lightning_app/components/serve/auto_scaler.py
  tests/tests_app/components/serve/test_auto_scaler.py
Labels: ready, app

#16039 Deprecate nvidia/apex
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/checkpointing_basic.rst
  docs/source-pytorch/common/optimization.rst
  docs/source-pytorch/common/precision_intermediate.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/conf.py
  docs/source-pytorch/extensions/plugins.rst
  docs/source-pytorch/model/manual_optimization.rst
  src/lightning_lite/connector.py
  src/lightning_lite/plugins/__init__.py
  src/lightning_lite/plugins/precision/__init__.py
  src/lightning_lite/plugins/precision/deepspeed.py
  src/lightning_lite/plugins/precision/fsdp.py
  src/lightning_lite/plugins/precision/native_amp.py
  src/lightning_lite/strategies/deepspeed.py
  src/lightning_lite/utilities/__init__.py
  src/lightning_lite/utilities/enums.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/plugins/__init__.py
  src/pytorch_lightning/plugins/precision/__init__.py
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/fsdp_native_native_amp.py
  src/pytorch_lightning/plugins/precision/native_amp.py
  src/pytorch_lightning/plugins/precision/sharded_native_amp.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/trainer/configuration_validator.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/enums.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_lite/plugins/precision/test_deepspeed.py
  tests/tests_lite/plugins/precision/test_native_amp.py
  tests/tests_lite/test_connector.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_ddp_fork_amp.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/models/test_horovod.py
  tests/tests_pytorch/plugins/precision/test_deepspeed_precision.py
  tests/tests_pytorch/plugins/precision/test_native_amp.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_sharded_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: deprecation, precision: apex, pl

#16128 Fix endpoint information tab not showing up in AutoScaler UI
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/serve/auto_scaler.py
Labels: bug, ready, app

#16131 Remove the deprecated `Trainer.reset_train_val_dataloaders`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/trainer.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_trainer.py
Labels: ready, refactor, breaking change, pl

#16129 [App] Implement `ready` for components
  src/lightning_app/components/serve/auto_scaler.py
  src/lightning_app/components/serve/gradio.py
  src/lightning_app/components/serve/python_server.py
  src/lightning_app/components/serve/serve.py
  src/lightning_app/core/flow.py
  tests/tests_app/core/test_lightning_flow.py
Labels: bug, ready, app

#16132 Rewrite logger utility tests without Trainer dependency
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  src/pytorch_lightning/utilities/logger.py
  tests/tests_pytorch/utilities/test_logger.py
Labels: ready, refactor, tests, pl

#16137 Remove support for `LightningCLI(seed_everything_default=None)`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/cli.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
Labels: refactor, breaking change, pl

#16144 Move Logger utilities from PL to Lite
  src/lightning_fabric/utilities/logger.py
  src/pytorch_lightning/loggers/comet.py
  src/pytorch_lightning/loggers/csv_logs.py
  src/pytorch_lightning/loggers/mlflow.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/loggers/tensorboard.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/utilities/logger.py
  tests/tests_fabric/utilities/test_logger.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/utilities/test_logger.py
Labels: ready, pl

#16141 Deprecate the `HorovodStrategy`
  docs/source-pytorch/accelerators/gpu_faq.rst
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/extensions/strategy.rst
  docs/source-pytorch/starter/lightning_lite.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/horovod.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/imports.py
  tests/README.md
  tests/tests_lite/conftest.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/models/data/horovod/train_default_model.py
  tests/tests_pytorch/models/test_horovod.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: deprecation, strategy: horovod (deprecated), pl

#16146 [App] Fix e2e tests
  src/lightning_app/testing/testing.py
Labels: ready, tests, app

#16140 [App] Remove outdated warning from cloud requirements
  requirements/app/cloud.txt
Labels: ready, app

#16139 [App] Fix support for streamlit > 1.14
  src/lightning_app/CHANGELOG.md
  src/lightning_app/utilities/app_helpers.py
Labels: bug, ready, app

#16027 fixing install from src package & CI release
  .github/actions/pkg-install/action.yml
  .github/workflows/_build-packages.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/release-pypi.yml
  setup.py
Labels: bug, ready, priority: 1

#16149 Remove nivida/apex
  dockers/base-cuda/Dockerfile
  environment.yml
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/plugins/__init__.py
  src/pytorch_lightning/plugins/precision/__init__.py
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/native_amp.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/enums.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/models/test_horovod.py
  tests/tests_pytorch/plugins/precision/test_deepspeed_precision.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, refactor, breaking change, precision: apex (deprecated), pl

#16025 Fix broken link in "Build a Model" section of docs
  docs/source-pytorch/model/build_model.rst
Labels: docs, pl

#16150 Remove horovod
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-fabric-tests.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  dockers/base-cuda/Dockerfile
  dockers/base-ipu/Dockerfile
  dockers/base-xla/Dockerfile
  requirements/pytorch/check-avail-strategies.py
  requirements/pytorch/strategies.txt
  src/pytorch_lightning/core/optimizer.py
  src/pytorch_lightning/strategies/__init__.py
  src/pytorch_lightning/strategies/horovod.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/models/data/horovod/test_train_script.py
  tests/tests_pytorch/models/data/horovod/train_default_model.py
  tests/tests_pytorch/models/test_horovod.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, refactor, breaking change, strategy: horovod (deprecated), pl

#16122 drop colossalai from testing as no stable release yet
  requirements/pytorch/strategies.txt
Labels: bug, ready, 3rd party, priority: 1, pl, strategy: colossalai

#16160 [App] Simplify messaging in cloud dispatch
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app, app:cli
