Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-10, with the labels that each got.

#14962 Remove unused gcsfs dependency
  requirements/pytorch/check-avail-extras.py
  requirements/pytorch/extra.txt
  tests/tests_pytorch/utilities/test_remote_filesystem.py
Labels: ready, ci, tests, pl

#14974 Update hpu mixed precision link
  docs/source-pytorch/accelerators/hpu_intermediate.rst
Labels: ready, docs, accelerator: hpu, pl

#14975 Bump version of fsspec
  environment.yml
  requirements/lite/base.txt
  requirements/pytorch/base.txt
Labels: ready, ci, pl

#14926 Fix TPU test CI
  .circleci/config.yml
  .github/workflows/ci-circleci.yml
  dockers/tpu-tests/tpu_test_cases.jsonnet
  src/lightning_lite/strategies/launchers/xla.py
  src/pytorch_lightning/strategies/launchers/xla.py
  tests/tests_lite/strategies/launchers/test_xla.py
  tests/tests_pytorch/accelerators/test_tpu.py
Labels: ready, ci, accelerator: tpu, pl

#14971 Trainer: fix support for non-distributed PyTorch
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/trainer.py
Labels: bug, ready, distributed, community, pl

#14963 fixes typing errors in rich_progress.py
  pyproject.toml
  src/pytorch_lightning/callbacks/progress/rich_progress.py
Labels: ready, progress bar: rich, code quality, community, pl

#14890 Remove the deprecated device_stats_monitor_prefix_keys
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/device_stats_monitor.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
Labels: ready, breaking change, callback: device stats, community, pl

#14702 Fix `ReduceLROnPlateau` update issue while resuming from a checkpoint
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/fit_loop.py
Labels: bug, ready, fault tolerance, loops, community, pl

#14947 Fix commands and API test
  .azure/app-cloud-e2e.yml
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/testing/testing.py
  tests/tests_app_examples/test_commands_and_api.py
Labels: ready, tests, app

#14977 [App/Improvement] Cleaning up Queue abstraction
  src/lightning_app/core/api.py
  src/lightning_app/core/constants.py
  src/lightning_app/core/queues.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_queues.py
Labels: ready, app, app:cloud

#14819 [app] Add CloudCompute ID serializable within the flow and works state
  .gitignore
  examples/app_layout/requirements.txt
  examples/app_works_on_default_machine/.lightning
  examples/app_works_on_default_machine/app_v2.py
  examples/app_works_on_default_machine/requirements.txt
  requirements/app/base.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/constants.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/runners/backends/mp_process.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/component.py
  src/lightning_app/utilities/layout.py
  src/lightning_app/utilities/network.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  tests/tests_app/conftest.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/packaging/test_lightning_utils.py
  tests/tests_app/utilities/test_load_app.py
Labels: ready, app

#14983 Fix GPU tests that fail to raise expected configuration error when run in a CUDA environment
  tests/tests_pytorch/models/test_gpu.py
Labels: ready, tests, accelerator, community, pl

#14982 Fix fork tests failing in environments with CUDA available
  tests/tests_lite/strategies/launchers/test_multiprocessing.py
Labels: ready, tests

#14998 Added support for custom parameters in subclasses of SaveConfigCallback
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/cli.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/test_cli.py
Labels: feature, ready, deprecation, lightningcli, pl

#14593 CI: Reuse clear cache
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/ci-pytorch-test-slow.yml
  .github/workflows/docs-checks.yml
  .github/workflows/schedule-clear-cache.yml
Labels: ci

#14924 Fix bug in upload file endpoint
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/api.py
  tests/tests_app/core/test_lightning_api.py
Labels: ready, app

#14632 CI: Use self-hosted Azure GPU runners
  .azure/README.md
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests.yml
  .azure/start.sh
  dockers/ci-runner-hpu/Dockerfile
  dockers/ci-runner-ipu/Dockerfile
  dockers/ci-runner-ipu/start.sh
Labels: ready, ci

#13802 Add `LRFinder` callback
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/callbacks.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/__init__.py
  src/pytorch_lightning/callbacks/lr_finder.py
  src/pytorch_lightning/trainer/connectors/callback_connector.py
  src/pytorch_lightning/tuner/lr_finder.py
  src/pytorch_lightning/tuner/tuning.py
  tests/tests_pytorch/trainer/test_states.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: feature, ready, refactor, trainer: tune, pl

#14984 Support ddp_fork strategy with native AMP by attempting NVML-based CUDA availability assessment
  src/lightning_lite/accelerators/cuda.py
  src/lightning_lite/lite.py
  src/lightning_lite/plugins/precision/native_amp.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/plugins/precision/native_amp.py
  tests/tests_lite/helpers/runif.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/models/test_ddp_fork_amp.py
Labels: ready, precision: native amp, accelerator: cuda, community, pl

#14978 [App/Feature] HTTP Queues
  requirements/app/base.txt
  requirements/app/test.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/constants.py
  src/lightning_app/core/queues.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/network.py
  src/lightning_app/utilities/secrets.py
  tests/tests_app/core/test_queues.py
Labels: ready, app, app:cloud

#14972 feat: allow root path to run the app on `/path`
  src/lightning_app/core/api.py
  src/lightning_app/core/app.py
  src/lightning_app/frontend/frontend.py
  src/lightning_app/frontend/panel/panel_frontend.py
  src/lightning_app/frontend/web.py
  src/lightning_app/runners/multiprocess.py
  src/lightning_app/runners/singleprocess.py
  src/lightning_app/utilities/frontend.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/frontend/test_web.py
Labels: ready, priority: 0, app

#15031 Use `torch.testing.assert_close` everywhere
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/optimization/test_multiple_optimizers.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_auto_restart.py
Labels: tests, pl

#15016 Introduce base collective and main subclasses
  src/lightning_lite/plugins/__init__.py
  src/lightning_lite/plugins/collectives/__init__.py
  src/lightning_lite/plugins/collectives/collective.py
  src/lightning_lite/plugins/collectives/single_device_collective.py
  src/lightning_lite/plugins/collectives/torch_collective.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/parallel.py
  src/lightning_lite/strategies/strategy.py
  src/lightning_lite/strategies/xla.py
  src/lightning_lite/utilities/__init__.py
  src/lightning_lite/utilities/distributed.py
  src/lightning_lite/utilities/types.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/horovod.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/types.py
  tests/tests_lite/plugins/collectives/__init__.py
  tests/tests_lite/plugins/collectives/test_single_device_collective.py
  tests/tests_lite/plugins/collectives/test_torch_collective.py
  tests/tests_pytorch/utilities/test_all_gather_grad.py
Labels: feature, ready, distributed, lightninglite, pl

#15032 Fix Broken Link in `lightning_app.core.work.LightningWork`
  src/lightning_app/core/work.py
Labels: docs, app

#15027 docs: replacement of method type_as in docs to Tensor.to
  docs/source-pytorch/accelerators/accelerator_prepare.rst
  docs/source-pytorch/common/lightning_module.rst
Labels: ready, docs, pl

#14960 More tests for TPU accelerator in Lite
  tests/tests_lite/helpers/dataloaders.py
  tests/tests_lite/strategies/test_xla.py
  tests/tests_lite/test_connector.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, accelerator: tpu, lightninglite, tests, pl

#15030 Add tuner callback docs
  docs/source-pytorch/advanced/training_tricks.rst
  src/pytorch_lightning/callbacks/batch_size_finder.py
  src/pytorch_lightning/callbacks/lr_finder.py
Labels: ready, docs, trainer: tune, pl

#15042 Resolve interactions between CUDA tests
  src/lightning_lite/accelerators/cuda.py
  tests/tests_lite/accelerators/test_cuda.py
Labels: ready, tests

#14835 Remove deprecated on_load/save_checkpoint behavior
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/callback.py
  src/pytorch_lightning/callbacks/pruning.py
  src/pytorch_lightning/trainer/configuration_validator.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/callbacks/test_callbacks.py
  tests/tests_pytorch/callbacks/test_lambda_function.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/models/test_hooks.py
Labels: ready, callback, breaking change, pl

#15048 LightningCLI add --config option after parser __init__
  src/pytorch_lightning/cli.py
Labels: bug, ready, lightningcli, pl

#15040 Support Slurm Autorequeue for Array Jobs
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/signal_connector.py
  tests/tests_pytorch/trainer/connectors/test_signal_connector.py
Labels: feature, ready, environment: slurm, community, pl

#15051 Trim flaky amp test
  tests/tests_pytorch/models/test_amp.py
Labels: ready, tests, pl

#15033 Missing steps in run on your own machine docs
  docs/source-app/workflows/run_app_on_cloud/on_your_own_machine.rst
Labels: ready, docs, app

#15001 [Lite] precision_plugin -> precision
  src/lightning_lite/connector.py
  src/lightning_lite/lite.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/deepspeed.py
  src/lightning_lite/strategies/dp.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/parallel.py
  src/lightning_lite/strategies/single_device.py
  src/lightning_lite/strategies/single_tpu.py
  src/lightning_lite/strategies/strategy.py
  src/lightning_lite/strategies/xla.py
  src/lightning_lite/wrappers.py
  src/pytorch_lightning/lite/lite.py
  tests/tests_lite/plugins/precision/test_deepspeed.py
  tests/tests_lite/plugins/precision/test_deepspeed_integration.py
  tests/tests_lite/plugins/precision/test_double.py
  tests/tests_lite/plugins/precision/test_native_amp.py
  tests/tests_lite/strategies/test_deepspeed_integration.py
  tests/tests_lite/test_connector.py
  tests/tests_lite/test_lite.py
  tests/tests_lite/test_wrappers.py
  tests/tests_pytorch/lite/test_lite.py
Labels: ready, lightninglite, code quality, pl

#14834 Remove deprecated callback hooks
  docs/source-pytorch/extensions/callbacks.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/callback.py
  src/pytorch_lightning/callbacks/lambda_function.py
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/core/hooks.py
  src/pytorch_lightning/loops/dataloader/evaluation_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/trainer/configuration_validator.py
  src/pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/callbacks/test_lambda_function.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
  tests/tests_pytorch/trainer/logging_/test_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
Labels: ready, callback, breaking change, hooks, pl

#15052 Remove old testing artifacts
  tests/tests_lite/helpers/utils.py
  tests/tests_pytorch/callbacks/test_lr_monitor.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/helpers/pipelines.py
  tests/tests_pytorch/helpers/utils.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/models/data/horovod/train_default_model.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_cpu.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/models/test_grad_norm.py
  tests/tests_pytorch/models/test_horovod.py
  tests/tests_pytorch/models/test_onnx.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/strategies/test_ddp_spawn.py
  tests/tests_pytorch/strategies/test_dp.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
Labels: ready, tests, pl

#9312 Refactor loggers code
  src/pytorch_lightning/loggers/logger.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/utilities/logger.py
  tests/tests_pytorch/loggers/test_logger.py
Labels: ready, refactor, logger, community, pl

#15000 Remove unused Lite code
  src/lightning_lite/connector.py
  src/lightning_lite/plugins/io/xla_plugin.py
  src/lightning_lite/plugins/precision/deepspeed.py
  src/lightning_lite/utilities/__init__.py
  src/lightning_lite/utilities/data.py
  src/lightning_lite/utilities/distributed.py
  src/lightning_lite/utilities/enums.py
  src/lightning_lite/utilities/imports.py
  tests/tests_lite/plugins/precision/test_deepspeed.py
  tests/tests_lite/test_connector.py
  tests/tests_lite/utilities/test_imports.py
Labels: ready, lightninglite, code quality

#15068 Various test fixes
  src/lightning_lite/accelerators/cuda.py
  src/lightning_lite/utilities/distributed.py
  tests/tests_pytorch/serve/test_servable_module_validator.py
Labels: ready, priority: 0, tests, pl

#14224 Add ColossalAI strategy
  .azure/gpu-tests.yml
  dockers/base-cuda/Dockerfile
  dockers/release/Dockerfile
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/plugins.rst
  docs/source-pytorch/extensions/strategy.rst
  requirements/pytorch/strategies.txt
  src/pytorch_lightning/plugins/__init__.py
  src/pytorch_lightning/plugins/precision/__init__.py
  src/pytorch_lightning/plugins/precision/colossalai.py
  src/pytorch_lightning/strategies/__init__.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/colossalai.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/strategies/test_colossalai.py
Labels: feature, ready, strategy, pl

#15078 Filter APEX future warning
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/helpers/runif.py
Labels: ready, tests, pl

#15061 Introduce the graveyard :headstone:
  src/pytorch_lightning/__init__.py
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/training_type.py
  tests/tests_pytorch/graveyard/test_training_type.py
Labels: feature, ready, pl

#14951 secrets docs
  docs/source-app/glossary/secrets.rst
  docs/source-app/index.rst
  docs/source-lit/index.rst
Labels: ready, docs, app

#15084 Exclude Graveyard from noqa
  .pre-commit-config.yaml
Labels: ready

#15059 Error messages for unsupported Trainer attributes
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/trainer.py
  src/pytorch_lightning/_graveyard/training_type.py
  tests/tests_pytorch/graveyard/__init__.py
  tests/tests_pytorch/graveyard/test_trainer.py
Labels: ready, breaking change, trainer, pl

#15067 Error messages for removed Logger APIs
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/loggers.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/graveyard/test_loggers.py
Labels: ready, logger, breaking change, pl

#15072 Error messages for removed DataModule hooks
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/core.py
  src/pytorch_lightning/_graveyard/trainer.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/graveyard/test_core.py
Labels: ready, breaking change, lightningdatamodule, pl

#15087 Update tuner docs
  docs/source-pytorch/advanced/training_tricks.rst
  src/pytorch_lightning/callbacks/batch_size_finder.py
  src/pytorch_lightning/callbacks/lr_finder.py
Labels: ready, docs, trainer: tune, pl

#15034 Add `inference_mode` flag to Trainer
  docs/source-pytorch/common/trainer.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/trainer/flags/test_inference_mode.py
Labels: feature, ready, trainer: argument, community, pl

#15097 CI: rename Azure workflow file
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/README.md
  .github/workflows/ci-pytorch-test-slow.yml
Labels: ready, ci

#15089 Update docs regarding deprecation window
  docs/source-pytorch/versioning.rst
Labels: ready, docs, pl

#15096 Update examples that require the run() method
  docs/source-app/workflows/add_web_ui/html/basic.rst
  docs/source-app/workflows/add_web_ui/panel/basic.rst
  docs/source-app/workflows/add_web_ui/streamlit/basic.rst
  docs/source-app/workflows/add_web_ui/streamlit/intermediate.rst
Labels: ready, docs, app

#15111 Prepare changelog for 1.8
  src/lightning_app/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, docs

#15100 Deprecate tuning enum and trainer properties
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/timer.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/ipu.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/trainer/configuration_validator.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  src/pytorch_lightning/trainer/states.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/tuner/tuning.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
Labels: ready, trainer: tune, deprecation, pl

#15126 Bump Python version for mypy check
  .github/workflows/code-checks.yml
  pyproject.toml
  src/pytorch_lightning/trainer/connectors/callback_connector.py
Labels: ci, code quality, pl

#15093 [docs] Docs for ColossalaiStrategy
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/extensions/strategy.rst
  src/pytorch_lightning/strategies/colossalai.py
  tests/tests_pytorch/strategies/test_colossalai.py
Labels: ready, docs, pl, strategy: colossalai

#15110 Force NVML-based CUDA check in PyTorch 1.14+
  src/lightning_lite/__init__.py
  src/lightning_lite/accelerators/cuda.py
  src/lightning_lite/utilities/imports.py
  src/pytorch_lightning/CHANGELOG.md
  tests/tests_lite/accelerators/test_cuda.py
Labels: feature, ready, accelerator: cuda, pl

#15123 Finishing touches to the graveyard
  .pre-commit-config.yaml
  src/pytorch_lightning/_graveyard/callbacks.py
  src/pytorch_lightning/_graveyard/core.py
  src/pytorch_lightning/_graveyard/loggers.py
  src/pytorch_lightning/_graveyard/trainer.py
  src/pytorch_lightning/_graveyard/training_type.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/graveyard/test_core.py
  tests/tests_pytorch/graveyard/test_loggers.py
  tests/tests_pytorch/graveyard/test_training_type.py
Labels: ready, code quality, pl

#15155 Update 8-bit optimizer docs
  docs/source-pytorch/common/precision_intermediate.rst
Labels: docs, optimization, community, pl

#15167 Fix collective tests with PyTorch 1.13
  src/lightning_lite/plugins/collectives/torch_collective.py
  src/lightning_lite/utilities/types.py
  tests/tests_lite/plugins/collectives/test_torch_collective.py
Labels: bug, ready

#15127 Resolve s3 drive issue where the root folder doesn't need to exist locally
  examples/app_components/python/component_tracer.py
  src/lightning_app/storage/drive.py
  tests/tests_app/storage/test_drive.py
Labels: bug, ready, app

#15166 fix(app): remove full story from the app template
  src/lightning_app/cli/pl-app-template/ui/package.json
  src/lightning_app/cli/pl-app-template/ui/src/index.tsx
  src/lightning_app/cli/pl-app-template/ui/yarn.lock
Labels: ready, app

#15149 Add docs for distributed inference
  docs/source-pytorch/deploy/production_basic.rst
  src/pytorch_lightning/callbacks/prediction_writer.py
  src/pytorch_lightning/trainer/trainer.py
Labels: ready, docs, callback: prediction writer, trainer: predict, pl

#15133 Setup phased transition away from PyTorch version-specific handling of cuda availability and device counting
  src/lightning_lite/accelerators/cuda.py
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, pl

#15094 CI: use native oldest for package
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/schedule-clear-cache.yml
  requirements/pytorch/adjust-versions.py
Labels: ready, ci, pl

#15132 Move warning before deepcopying the hyperparameters
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/parsing.py
Labels: bug, ready, pl

#15058 Standardize Lite's filenames
  src/lightning_lite/plugins/__init__.py
  src/lightning_lite/plugins/collectives/__init__.py
  src/lightning_lite/plugins/collectives/single_device.py
  src/lightning_lite/plugins/collectives/torch_.py
  src/lightning_lite/plugins/environments/__init__.py
  src/lightning_lite/plugins/environments/kubeflow.py
  src/lightning_lite/plugins/environments/lightning.py
  src/lightning_lite/plugins/environments/lsf.py
  src/lightning_lite/plugins/environments/slurm.py
  src/lightning_lite/plugins/environments/torchelastic.py
  src/lightning_lite/plugins/environments/xla.py
  src/lightning_lite/plugins/io/__init__.py
  src/lightning_lite/plugins/io/checkpoint_io.py
  src/lightning_lite/plugins/io/torch_.py
  src/lightning_lite/plugins/io/xla.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/dp.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/parallel.py
  src/lightning_lite/strategies/single_device.py
  src/lightning_lite/strategies/single_tpu.py
  src/lightning_lite/strategies/strategy.py
  src/lightning_lite/strategies/xla.py
  src/lightning_lite/utilities/device_parser.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/tests_lite/conftest.py
  tests/tests_lite/plugins/collectives/test_single_device.py
  tests/tests_lite/plugins/collectives/test_torch_.py
  tests/tests_lite/plugins/environments/test_kubeflow.py
  tests/tests_lite/plugins/environments/test_lightning.py
  tests/tests_lite/plugins/environments/test_lsf.py
  tests/tests_lite/plugins/environments/test_slurm.py
  tests/tests_lite/plugins/environments/test_torchelastic.py
  tests/tests_lite/plugins/environments/test_xla.py
  tests/tests_lite/test_parity.py
  tests/tests_pytorch/accelerators/test_cpu.py
  tests/tests_pytorch/checkpointing/test_trainer_checkpoint.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_cpu.py
  tests/tests_pytorch/plugins/test_checkpoint_io_plugin.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
Labels: ready, lightninglite, code quality, pl

#15193 Add support for command descriptions
  docs/source-app/workflows/build_command_line_interface/cli.rst
  docs/source-app/workflows/build_command_line_interface/cli_client.rst
  docs/source-app/workflows/build_command_line_interface/commands/notebook/run.py
  docs/source-app/workflows/build_command_line_interface/example_command.py
  examples/app_commands_and_api/app.py
  examples/app_commands_and_api/command.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_app/utilities/commands/base.py
  tests/tests_app/cli/jsons/connect_1.json
  tests/tests_app/cli/test_connect.py
Labels: ready, app, app:cli

#15187 Protect Flow from exception during request processing
  src/lightning_app/CHANGELOG.md
  src/lightning_app/api/http_methods.py
  src/lightning_app/api/request_types.py
  src/lightning_app/utilities/commands/base.py
  tests/tests_app/core/test_lightning_api.py
Labels: bug, ready, app, app:lightningflow

#15192 Lite: setting extras & fix CI
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/ci-pytorch-test-slow.yml
  requirements/lite/test.txt
  src/lightning_app/__setup__.py
  src/lightning_lite/__setup__.py
  src/pytorch_lightning/__setup__.py
  tests/tests_lite/strategies/launchers/test_multiprocessing.py
  tests/tests_lite/strategies/test_xla.py
  tests/tests_lite/utilities/test_distributed.py
Labels: ready, ci, lightninglite

#14995 Add Database Component
  pyproject.toml
  requirements/app/test.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/database/__init__.py
  src/lightning_app/components/database/client.py
  src/lightning_app/components/database/server.py
  src/lightning_app/components/database/utilities.py
  src/lightning_app/utilities/imports.py
  src/lightning_app/utilities/proxies.py
  src/lightning_app/utilities/types.py
  tests/tests_app/components/database/test_client_server.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app_examples/components/python/test_scripts.py
Labels: ready, app

#14966 Efficient gradient accumulation in LightningLite
  docs/source-pytorch/starter/lightning_lite.rst
  src/lightning_lite/lite.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/deepspeed.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/parallel.py
  src/lightning_lite/strategies/strategy.py
  src/lightning_lite/strategies/xla.py
  src/pytorch_lightning/CHANGELOG.md
  tests/tests_lite/strategies/test_ddp.py
  tests/tests_lite/strategies/test_deepspeed.py
  tests/tests_lite/strategies/test_fairscale.py
  tests/tests_lite/test_lite.py
Labels: feature, ready, lightninglite, pl

#15194 switch LAI deployment branch
  .github/workflows/docs-deploy.yml
  README.md
  docs/source-pytorch/starter/installation.rst
  src/pytorch_lightning/README.md
Labels: ready, ci, admin, pl

#15011 Validate SRUN variables when launching in SLURM
  src/lightning_lite/plugins/environments/slurm.py
  src/pytorch_lightning/CHANGELOG.md
  tests/tests_lite/plugins/environments/test_slurm.py
  tests/tests_lite/test_connector.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/plugins/test_cluster_integration.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: feature, ready, environment: slurm, lightninglite, pl

#15120 Separate the concept of a Drive from that of a Mount
  examples/app_mount/.lightning
  examples/app_mount/app.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/storage/__init__.py
  src/lightning_app/storage/drive.py
  src/lightning_app/storage/mount.py
  src/lightning_app/utilities/packaging/build_config.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/storage/test_drive.py
  tests/tests_app/storage/test_mount.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
Labels: feature, ready, app

#15203 [LAI] Bump minimal requirements
  .actions/assistant.py
  requirements/app/cloud.txt
  requirements/app/ui.txt
Labels: ready, 3rd party, tests, app

#15128 CI: enable run for PT 1.13
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/ci-pytorch-test-slow.yml
  dockers/README.md
  dockers/nvidia/Dockerfile
  requirements/lite/devel.txt
  requirements/pytorch/adjust-versions.py
  src/lightning_lite/utilities/types.py
Labels: ready, ci, pl

#15206 Fix root logger propagation
  src/lightning/__init__.py
Labels: ready, app

#15204 [LAI] Make lite tests safe for combined package
  tests/tests_lite/accelerators/test_cuda.py
Labels: ready, lightninglite, tests

#15208 [LAI] Rename instances of "lightning_app" and "pytorch_lightning"
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/testing/helpers.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/cli_helpers.py
  tests/tests_app/utilities/packaging/test_build_spec.py
  tests/tests_app/utilities/test_introspection.py
  tests/tests_app/utilities/test_tracer.py
  tests/tests_app_examples/components/python/test_scripts.py
  tests/tests_app_examples/test_quick_start.py
Labels: ready, refactor, tests, code quality, app

#15202 [App] Authentication for HTTP queue
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/constants.py
  src/lightning_app/core/queues.py
  src/lightning_app/runners/backends/backend.py
  src/lightning_app/utilities/network.py
  tests/tests_app/core/test_queues.py
Labels: ready, app, app:cloud

#15189 Avoid underscore suffix in filenames
  src/lightning_lite/plugins/__init__.py
  src/lightning_lite/plugins/collectives/__init__.py
  src/lightning_lite/plugins/collectives/torch_collective.py
  src/lightning_lite/plugins/io/__init__.py
  src/lightning_lite/plugins/io/torch_io.py
  src/lightning_lite/plugins/io/xla.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/fairscale.py
  src/lightning_lite/strategies/strategy.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  tests/tests_lite/plugins/collectives/test_torch_.py
  tests/tests_pytorch/checkpointing/test_trainer_checkpoint.py
Labels: ready, lightninglite, code quality, pl

#15211 Fix srun availability check
  src/lightning_lite/plugins/environments/slurm.py
Labels: bug, ready, environment: slurm

#15205 releasing v1.8 RC
  src/lightning_app/CHANGELOG.md
  src/lightning_app/__version__.py
  src/lightning_lite/__version__.py
Labels: ready, release, app

#15207 Assistant for Unified Package
  .actions/assistant.py
  .actions/requirements.txt
  .azure/hpu-tests.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/events-nightly.yml
  .github/workflows/release-pypi.yml
  dockers/base-xla/Dockerfile
Labels: ready, ci

#15215 [App] Pass LightningWork to LightningApp
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  tests/tests_app/conftest.py
  tests/tests_app/core/test_lightning_work.py
Labels: ready, priority: 0, app

#15219 addition to App 0.7
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  tests/tests_app/core/test_lightning_work.py
Labels: release, app

#15196 [App] Enable help without running application
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/app_commands.py
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/utilities/cli_helpers.py
  tests/tests_app/cli/test_connect.py
  tests/tests_app/core/test_lightning_api.py
Labels: ready, app

#15221 Assistant fixes
  .actions/assistant.py
  .azure/app-cloud-e2e.yml
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/checkgroup.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-circleci.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/ci-pytorch-test-slow.yml
  .github/workflows/release-pypi.yml
  dockers/base-xla/Dockerfile
Labels: ready, priority: 0, ci

#15198 [App] Automate missing requirements installation for CLI
  docs/source-app/workflows/build_command_line_interface/commands/notebook/run.py
  examples/app_commands_and_api/command.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/app_commands.py
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/frontend/panel/panel_frontend.py
  src/lightning_app/frontend/stream_lit.py
  src/lightning_app/frontend/web.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_app/utilities/commands/base.py
  src/lightning_app/utilities/log.py
Labels: ready, app, app:cli

#15228 Renamed Mount root_dir Argument to mount_path
  examples/app_mount/app.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/storage/mount.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/storage/test_mount.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
Labels: ready, app

#15195 Resolve collectives test issues
  src/lightning_lite/plugins/collectives/torch_collective.py
  tests/tests_lite/plugins/collectives/test_torch_collective.py
Labels: bug, ready, lightninglite

#15232 Optimize required checks when Lite tests are modified
  .github/checkgroup.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/ci-pytorch-test-slow.yml
Labels: ci, lightninglite

#15224 Single source for the mypy version
  .github/workflows/code-checks.yml
  requirements/lite/test.txt
  requirements/pytorch/test.txt
  tests/tests_pytorch/models/data/__init__.py
  tests/tests_pytorch/models/data/horovod/__init__.py
Labels: ready, ci, pl

#15220 Proper check for availability of bagua
  src/pytorch_lightning/strategies/bagua.py
Labels: ready, 3rd party, pl

#15234 [LAI] Solve circular imports for combined package
  requirements/docs.txt
  src/lightning_app/components/python/tracer.py
  src/lightning_app/core/app.py
  src/lightning_app/core/constants.py
  src/lightning_app/frontend/streamlit_base.py
  src/lightning_app/runners/backends/backend.py
  src/lightning_app/runners/backends/cloud.py
  src/lightning_app/runners/runtime.py
  src/lightning_app/storage/copier.py
  src/lightning_app/storage/path.py
  src/lightning_app/storage/payload.py
  src/lightning_app/utilities/name_generator.py
Labels: ready, ci, refactor, code quality, app

#14687 Migrate TPU tests to GitHub actions
  .circleci/config.yml
  .github/CODEOWNERS
  .github/checkgroup.yml
  .github/workflows/README.md
  .github/workflows/ci-circleci.yml
  .github/workflows/ci-pytorch-dockers.yml
  .github/workflows/events-recurrent.yml
  .github/workflows/tpu-tests.yml
  .lightningignore
  README.md
  dockers/tpu-tests/tpu_test_cases.jsonnet
  docs/README.md
  src/pytorch_lightning/README.md
Labels: ready, ci, pl

#15239 publishing workflow
  .github/actions/pkg-publish/action.yml
  .github/workflows/release-pypi.yml
Labels: ready, ci, priority: 1

#14944 Avoid initializing optimizers during deepspeed evaluation
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/deepspeed.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: bug, ready, strategy: deepspeed, pl

#14852 App: Remove the unsupported params for CloudCompute
  docs/source-app/core_api/lightning_work/compute_content.rst
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
Labels: ready, docs, app

#15243 Fix PyPI releasing
  .github/actions/pkg-publish/action.yml
Labels: ready, ci, priority: 1, release

#15235 [App] Optimise Queues Calls
  src/lightning_app/core/api.py
  src/lightning_app/core/app.py
  src/lightning_app/core/constants.py
  src/lightning_app/core/queues.py
  src/lightning_app/runners/backends/backend.py
  src/lightning_app/storage/orchestrator.py
  src/lightning_app/utilities/commands/base.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
Labels: ready, app

#15225 Fixes to the K-fold loop example
  examples/pl_loops/kfold.py
Labels: bug, example, pl

#15230 Use user executable for pip installation
  src/lightning_app/cli/commands/connection.py
Labels: bug, ready, app

#15242 CI: apps
  .azure/app-cloud-e2e.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
  requirements/app/devel.txt
  requirements/app/test.txt
  requirements/lite/base.txt
  requirements/pytorch/base.txt
  src/lightning_app/components/database/server.py
  src/lightning_app/components/database/utilities.py
  src/lightning_app/components/training.py
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  tests/tests_app/utilities/packaging/test_lightning_utils.py
  tests/tests_app/utilities/test_commands.py
Labels: ready, ci, priority: 1

#15161 Update mypy version
  .github/workflows/code-checks.yml
  src/lightning_lite/lite.py
  src/lightning_lite/wrappers.py
  src/pytorch_lightning/callbacks/progress/rich_progress.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/core/saving.py
  src/pytorch_lightning/demos/boring_classes.py
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/loggers/comet.py
  src/pytorch_lightning/loggers/csv_logs.py
  src/pytorch_lightning/loggers/mlflow.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/loggers/tensorboard.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/loops/batch/training_batch_loop.py
  src/pytorch_lightning/loops/dataloader/prediction_loop.py
  src/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/optimization/manual_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/profilers/pytorch.py
  src/pytorch_lightning/trainer/connectors/logger_connector/result.py
  src/pytorch_lightning/tuner/lr_finder.py
  src/pytorch_lightning/utilities/logger.py
  src/pytorch_lightning/utilities/parameter_tying.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/loggers/test_wandb.py
  tests/tests_pytorch/utilities/test_logger.py
Labels: ready, code quality, community, pl

#15213 CI: testing monolotic package
  .github/checkgroup.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pytorch-test-full.yml
Labels: ready, ci, priority: 1, release

#15251 Fix and refactor `test_deepspeed_engine_is_steppable` test
  tests/tests_lite/plugins/precision/test_deepspeed.py
Labels: ready, strategy: deepspeed, lightninglite, tests, community

#15259 Ci: fix install pkg name
  .github/checkgroup.yml
  .github/workflows/ci-app-examples.yml
Labels: ci, priority: 1, app

#15129 Update to the latest playwright container v1.27.1
  .azure/app-cloud-e2e.yml
  requirements/app/test.txt
Labels: ready, ci, app

#15258 CI name for TPU
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15260 CI: fix example imports for App as standalone
  .actions/assistant.py
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  src/lightning_app/core/queues.py
  tests/tests_app/cli/test_cmd_install.py
  tests/tests_app/conftest.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/core/test_queues.py
  tests/tests_app/storage/test_copier.py
  tests/tests_app/storage/test_orchestrator.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/storage/test_payload.py
  tests/tests_app/utilities/packaging/test_build_spec.py
  tests/tests_app/utilities/test_commands.py
Labels: ready, ci, priority: 1, app

#15257 Update lightning_cli_advanced_2.rst
  docs/source-pytorch/cli/lightning_cli_advanced_2.rst
Labels: ready, docs, lightningcli, community, pl

#15273 Disable package parametrizations until they are fixed
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/ci-pytorch-test-slow.yml
  .github/workflows/code-checks.yml
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15241 Add support for local connect terminal context
  .azure/app-cloud-e2e.yml
  requirements/app/base.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/app_commands.py
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/core/api.py
  tests/tests_app/cli/test_cmd_install.py
  tests/tests_app/cli/test_connect.py
Labels: ready, app

#15279 Extend Lite CPU coverage
  .github/checkgroup.yml
  .github/workflows/ci-lite-test-full.yml
Labels: ready, ci, lightninglite

#15280 CI: drop unused tests
  tests/tests_clusters/__init__.py
  tests/tests_clusters/test_cluster_lifecycle.py
  tests/tests_clusters/test_cluster_logs.py
Labels: ready, tests

#15270 Include link to bug report template in GitHub bug issue
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
Labels: ready, docs

#15267 Better handling connection interruption
  src/lightning_app/utilities/network.py
Labels: ready, app

#15285 fix requirements for package
  .actions/setup_tools.py
  .github/actions/pkg-publish/action.yml
Labels: bug, ready, ci, priority: 1, release

#15272 Do not lose references of trainer in test
  tests/tests_lite/plugins/collectives/test_torch_collective.py
  tests/tests_pytorch/utilities/test_parsing.py
Labels: ready, tests, pl

#15282 Remove examples and loggers from develop dependencies
  .actions/assistant.py
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .azure/ipu-tests.yml
  .github/workflows/docs-checks.yml
  docs/source-lit/conf.py
  docs/source-pytorch/common/precision_intermediate.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/conf.py
  docs/source-pytorch/extensions/logging.rst
  docs/source-pytorch/starter/introduction.rst
  docs/source-pytorch/visualize/supported_exp_managers.rst
  requirements/README.md
  requirements/pytorch/devel.txt
  requirements/pytorch/loggers.info
  requirements/pytorch/loggers.txt
  src/pytorch_lightning/__setup__.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
Labels: ready, ci, priority: 1, breaking change, pl

#15289 Allow sharing secrets on TPU tests
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15286 [App] testing `lightning` in `lightning-app` package
  .azure/app-cloud-e2e.yml
  examples/app_drive/app.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/app_logs.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  tests/tests_app/utilities/packaging/test_lightning_utils.py
  tests/tests_app_examples/test_boring_app.py
  tests/tests_app_examples/test_commands_and_api.py
  tests/tests_app_examples/test_drive.py
Labels: bug, ready, app

#15302 Resolve App e2es
  .azure/app-cloud-e2e.yml
  requirements/app/devel.txt
  requirements/app/examples.txt
  requirements/app/test.txt
Labels: bug, priority: 0, ci, app

#15288 Run all tests in master
  .azure/app-cloud-e2e.yml
  .azure/gpu-tests-lite.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/checkgroup.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/labeler.yml
  .github/workflows/tpu-tests.yml
Labels: ready, ci

#15295 Pick queue type only if specified
  src/lightning_app/core/constants.py
  src/lightning_app/runners/cloud.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app_examples/custom_work_dependencies/app.py
Labels: feature, ready, app, app:cloud

#14831 Add support for custom cloud compute configurations for Flows
  docs/source-app/core_api/lightning_app/compute_content.rst
  docs/source-app/core_api/lightning_app/index.rst
  docs/source-lit/core_api/lightning_app/compute_content.rst
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/app.py
  src/lightning_app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: feature, ready, app

#15306 remove duplicated cloud e2e tests
  .azure/app-cloud-e2e.yml
  .github/workflows/ci-app-cloud-e2e-test.yml
Labels: ready, ci, priority: 1

#15312 Update pl CPU testing matrix
  .github/checkgroup.yml
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pytorch-test-full.yml
Labels: ready, priority: 0, ci

#15226 Prevent bug when launching apps on multiple clusters
  src/lightning_app/CHANGELOG.md
  src/lightning_app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app, app:cli

#15318 Fix typo in OS name
  .github/checkgroup.yml
  .github/workflows/ci-pytorch-test-full.yml
Labels: ready, ci

#15231 Narrower CI timeouts
  .github/workflows/ci-lite-test-full.yml
  .github/workflows/ci-pytorch-test-full.yml
Labels: ready, ci

#15309 add cloudio pickle patching for unified package
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/legacy_import_unpickler.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
  tests/tests_pytorch/graveyard/test_legacy_import_unpickler.py
Labels: ready, pl

#15325 Remove non-existing Lite checks
  .github/checkgroup.yml
Labels: ci

#12491 Enable and fix recent legacy checkpoint tests in CI
  .github/workflows/ci-pytorch-test-full.yml
  .github/workflows/legacy-checkpoints.yml
  .github/workflows/release-pypi.yml
  tests/legacy/README.md
  tests/legacy/back-compatible-versions.txt
  tests/legacy/generate_checkpoints.sh
  tests/legacy/requirements.txt
Labels: bug, ready, ci, checkpointing, tests

#15307 Mark internal Lite APIs as protected
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  src/lightning_lite/accelerators/cpu.py
  src/lightning_lite/accelerators/cuda.py
  src/lightning_lite/accelerators/mps.py
  src/lightning_lite/accelerators/tpu.py
  src/lightning_lite/connector.py
  src/lightning_lite/plugins/io/torch_io.py
  src/lightning_lite/strategies/ddp.py
  src/lightning_lite/strategies/ddp_spawn.py
  src/lightning_lite/strategies/parallel.py
  src/lightning_lite/strategies/strategy.py
  src/lightning_lite/utilities/apply_func.py
  src/lightning_lite/utilities/cloud_io.py
  src/lightning_lite/utilities/device_parser.py
  src/lightning_lite/utilities/distributed.py
  src/lightning_lite/utilities/optimizer.py
  src/pytorch_lightning/accelerators/cpu.py
  src/pytorch_lightning/accelerators/cuda.py
  src/pytorch_lightning/accelerators/hpu.py
  src/pytorch_lightning/accelerators/mps.py
  src/pytorch_lightning/accelerators/tpu.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/core/saving.py
  src/pytorch_lightning/plugins/io/hpu_plugin.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/fully_sharded.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/horovod.py
  src/pytorch_lightning/strategies/parallel.py
  src/pytorch_lightning/strategies/sharded.py
  src/pytorch_lightning/strategies/sharded_spawn.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/trainer/call.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/connectors/logger_connector/result.py
  src/pytorch_lightning/trainer/supporters.py
  src/pytorch_lightning/utilities/apply_func.py
  src/pytorch_lightning/utilities/cloud_io.py
  src/pytorch_lightning/utilities/device_parser.py
  src/pytorch_lightning/utilities/distributed.py
  src/pytorch_lightning/utilities/optimizer.py
  tests/tests_lite/accelerators/test_cpu.py
  tests/tests_lite/test_parity.py
  tests/tests_lite/utilities/test_device_parser.py
  tests/tests_lite/utilities/test_distributed.py
  tests/tests_lite/utilities/test_optimizer.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/core/test_metric_result_integration.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, lightninglite, pl

#15320 Drop "full" suffix in CI
  .github/checkgroup.yml
  .github/workflows/README.md
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pytorch-tests-slow.yml
  .github/workflows/ci-pytorch-tests.yml
  .github/workflows/tpu-tests.yml
  README.md
  src/pytorch_lightning/README.md
Labels: ready, ci, pl

#15293 Extend the detection of interactive mode
  src/lightning_lite/utilities/imports.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_lite/test_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: feature, ready, lightninglite, community, pl

#15319 Fix pickling issues with rich progress bar
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/progress/rich_progress.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
Labels: bug, ready, progress bar: rich, pl

#15329 New skip conditions for unpickle-patching tests
  tests/tests_pytorch/graveyard/test_legacy_import_unpickler.py
Labels: ready, pl

#15313 [App] Resolve Research Studio Bugs
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/utilities/cli_helpers.py
Labels: ready, app

#15343 [App] Show logs command to be standalone and re-usable
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/cli/commands/logs.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/utilities/cli_helpers.py
  tests/tests_app/cli/test_cmd_show_logs.py
  tests/tests_app/cli/test_connect.py
  tests/tests_app_examples/test_boring_app.py
Labels: ready, app, app:cli

#15348 Do not trigger PyTorch GPU tests on Lite test changes
  .azure/gpu-tests-pytorch.yml
Labels: ready, ci

#15292 Fix exception when creating a multiprocessing Pool after importing Lightning
  src/lightning_lite/strategies/launchers/subprocess_script.py
  src/pytorch_lightning/CHANGELOG.md
Labels: bug, ready, lightninglite, community, pl

#15105 LAI: creating mirror package
  .actions/setup_tools.py
  .azure/app-cloud-e2e.yml
  .github/actions/pkg-check/action.yml
  .github/actions/pkg-install/action.yml
  .github/checkgroup.yml
  .github/workflows/ci-app-examples.yml
  .github/workflows/ci-app-tests.yml
  .github/workflows/ci-lite-tests.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-pytorch-tests.yml
  dockers/nvidia/Dockerfile
  docs/source-lit/conf.py
  requirements/app/base.txt
  requirements/base.txt
  setup.py
  src/lightning/__init__.py
  src/lightning/__setup__.py
  src/lightning/__version__.py
  src/lightning_app/__setup__.py
  src/lightning_app/__version__.py
  src/lightning_app/components/database/utilities.py
  src/lightning_app/storage/payload.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  src/lightning_lite/__version__.py
  src/pytorch_lightning/__version__.py
  tests/tests_app/cli/test_connect.py
  tests/tests_app/utilities/packaging/test_build_spec.py
  tests/tests_app_examples/test_argparse.py
  tests/tests_app_examples/test_collect_failures.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/loops/test_training_loop.py
Labels: ready, refactor, priority: 1, release

#15358 CI: fix missing secrets
  .github/workflows/release-pypi.yml
Labels: priority: 0, ci

#15352 Update train_model_basic.rst
  docs/source-pytorch/model/train_model_basic.rst
Labels: ready, docs, community, pl

#15361 fixing publish pypi
  .github/workflows/legacy-checkpoints.yml
  .github/workflows/release-pypi.yml
Labels: ready, priority: 0, ci, release

#15359 Fix import for OrderedDict in Python 3.7.0
  src/pytorch_lightning/loops/batch/training_batch_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/strategies/colossalai.py
Labels: bug, ready, pl
