Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-07, with the labels that each got.

#13473 ci: drop false download artifact
  .github/workflows/release-pypi.yml
Labels: ready, ci, priority: 1

#13479 Remove redundant shebang from source files
  .actions/setup_tools.py
  src/lightning/__about__.py
  src/pytorch_lightning/__about__.py
  src/pytorch_lightning/utilities/deepspeed.py
  src/pytorch_lightning/utilities/deepspeed_model_summary.py
Labels: ready, refactor, code quality

#13478 Move deepspeed summary test to correct folder
  tests/tests_pytorch/utilities/test_deepspeed_model_summary.py
Labels: ready, refactor, strategy: deepspeed, tests

#13472 fix mypy typing errors in pytorch_lightning.__setup__.py
  .actions/setup_tools.py
  pyproject.toml
  setup.py
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
  src/pytorch_lightning/__setup__.py
Labels: ready, code quality, community

#13490 lightning entry point
  src/lightning/__setup__.py
Labels: bug, ready

#13491 Add CI for python lightning app Python unit tests
  .github/workflows/ci-app_block.yml
  .github/workflows/ci-app_tests.yml
  src/lightning_app/__init__.py
  src/lightning_app/cli/app-template/.gitignore
  src/lightning_app/cli/app-template/placeholdername/app.py
  src/lightning_app/cli/app-template/placeholdername/components/component_a/component_a.py
  src/lightning_app/cli/app-template/placeholdername/components/component_b/component_a.py
  src/lightning_app/cli/app-template/tests/test_placeholdername_app.py
  src/lightning_app/cli/cmd_init.py
  src/lightning_app/cli/cmd_install.py
  src/lightning_app/cli/component-template/.github/workflows/ci-testing.yml
  src/lightning_app/cli/component-template/.gitignore
  src/lightning_app/cli/component-template/README.md
  src/lightning_app/cli/component-template/app.py
  src/lightning_app/cli/component-template/placeholdername/component.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/cli/pl-app-template/app.py
  src/lightning_app/cli/pl-app-template/core/callbacks.py
  src/lightning_app/cli/pl-app-template/core/components/logger/tensorboard.py
  src/lightning_app/cli/pl-app-template/core/components/logger/weights_and_biases.py
  src/lightning_app/cli/pl-app-template/core/components/script_runner/script_runner.py
  src/lightning_app/cli/pl-app-template/tests/core/test_callbacks.py
  src/lightning_app/cli/react-ui-template/README.md
  src/lightning_app/cli/react-ui-template/example_app.py
  src/lightning_app/cli/react-ui-template/ui/package.json
  src/lightning_app/cli/react-ui-template/ui/yarn.lock
  src/lightning_app/components/python/popen.py
  src/lightning_app/components/python/tracer.py
  src/lightning_app/components/serve/gradio.py
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/work.py
  src/lightning_app/testing/helpers.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/network.py
  src/lightning_app/utilities/packaging/build_config.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  tests/tests_app/cli/test_cmd_react_ui_init.py
  tests/tests_app/utilities/packaging/test_lightning_utils.py
  tests/tests_app/utilities/test_git.py
Labels: ready

#13462 Remove redundant progress bar refresh
  src/pytorch_lightning/callbacks/progress/tqdm_progress.py
Labels: ready, refactor, progress bar: tqdm

#13497 code-owners for App
  .github/CODEOWNERS
Labels: priority: 1

#13535 fix mypy typing errors in pytorch_lightning/strategies/ddp2.py
  pyproject.toml
  src/pytorch_lightning/strategies/ddp2.py
Labels: ready, strategy: ddp2, code quality

#13516 Fix type hints of callbacks/finetuning.py
  pyproject.toml
  src/pytorch_lightning/callbacks/finetuning.py
Labels: ready, callback: finetuning, code quality

#13515 CI: Fix `fatal: unsafe repository`
  .github/workflows/ci_test-conda.yml
Labels: ci

#13534 Fix mypy typing errors in pytorch_lightning/strategies/single_tpu.py
  pyproject.toml
  src/pytorch_lightning/strategies/single_tpu.py
Labels: ready, code quality, strategy: ipu

#13438 Remove deprecated `on_keyboard_interrupt`
  docs/source-pytorch/extensions/callbacks.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/callback.py
  src/pytorch_lightning/callbacks/lambda_function.py
  src/pytorch_lightning/trainer/callback_hook.py
  src/pytorch_lightning/trainer/configuration_validator.py
  src/pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/callbacks/test_lambda_function.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, callback, breaking change, community

#13513 fix mypy typing errors in pytorch_lightning/tuner/lr_finder.py
  pyproject.toml
  src/pytorch_lightning/tuner/lr_finder.py
Labels: ready, code quality, community

#13541 Fix mypy errors attributed to `pytorch_lightning.loggers.logger.py`
  pyproject.toml
  src/pytorch_lightning/loggers/logger.py
Labels: ready, logger, code quality, community

#13562 CI: Define reusable workflow - check schema
  .github/workflows/_check-schema.yml
  .github/workflows/ci_schema.yml
Labels: ready, ci

#13432 Fix TPU circleci tests
  .circleci/config.yml
  dockers/tpu-tests/tpu_test_cases.jsonnet
  src/pytorch_lightning/strategies/tpu_spawn.py
Labels: bug, ready, ci, accelerator: tpu, priority: 1

#13489 cd: releasing packages
  .actions/assistant.py
  .github/workflows/ci_pkg-install.yml
  .github/workflows/release-pypi.yml
Labels: ready, ci, priority: 1

#13475 CI: Add PR labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ready, ci

#13571 setup: set default metadata
  setup.cfg
Labels: ready

#13514 Remove deprecated `pytorch_lightning.core.decorators.parameter_validation`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/decorators.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, community

#13550 Adds is last batch
  docs/source-pytorch/common/trainer.rst
  src/pytorch_lightning/trainer/trainer.py
Labels: ready, docs, community

#13467 Restore log step during restart
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/models/test_restore.py
Labels: bug, ready, logging, loops

#13576 CI/CD: Refactor building docker images
  .github/workflows/ci-pytorch_dockers.yml
  .github/workflows/cicd-pytorch_dockers.yml
  .github/workflows/events-nightly.yml
Labels: ready, ci

#13538 Fix mypy errors attributed to `pytorch_lightning.loggers.csv_logs.py`
  pyproject.toml
  src/pytorch_lightning/loggers/csv_logs.py
Labels: ready, logger: csv, code quality, community

#13494 Fix mypy errors attributed to `pytorch_lightning.loggers.base.py`
  pyproject.toml
  src/pytorch_lightning/loggers/base.py
  src/pytorch_lightning/loggers/logger.py
Labels: ready, logger, code quality, community

#13589 CI: Enable dependabot for GitHub Actions
  .github/dependabot.yml
Labels: ready, ci

#13584 Fix default value for `enable_progress_bar` in docs
  src/pytorch_lightning/trainer/trainer.py
Labels: ready, docs

#13623 Remove redundant GPU test
  tests/tests_pytorch/trainer/test_dataloaders.py
Labels: ready, tests

#13606 CI: hotfix gatekeeper
  .github/approve_config.yml
Labels: ready, ci

#13600 Remove `add_to_queue` and `remove_from_queue` from LightningModule
  docs/source-pytorch/common/lightning_module.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/strategies/launchers/spawn.py
  src/pytorch_lightning/strategies/launchers/xla_spawn.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
Labels: ready, breaking change, community

#13565 Removed deprecated `pytorch_lightning.overrides.distributed.IndexBatchSamplerWrapper.batch_indices`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/overrides/distributed.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
Labels: ready, refactor, breaking change, community

#13564 fix mypy typing errors in pytorch_lightning/strategies/dp.py
  pyproject.toml
  src/pytorch_lightning/strategies/dp.py
  src/pytorch_lightning/strategies/strategy.py
Labels: ready, strategy: dp, code quality, community

#13548 Remove deprecated `LightningModule.on_post_move_to_device`
  docs/source-pytorch/accelerators/tpu_advanced.rst
  docs/source-pytorch/common/lightning_module.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/hooks.py
  src/pytorch_lightning/overrides/base.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
Labels: ready, accelerator: tpu, breaking change, lightningmodule, hooks

#13641 Update CHANGELOG after the 1.6.5 release
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, release

#13549 Remove deprecated `LightningDistributed`
  pyproject.toml
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/distributed/__init__.py
  src/pytorch_lightning/distributed/dist.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
Labels: ready, distributed, breaking change

#13570 fix mypy typing errors in pytorch_lightning/strategies/horovod.py
  pyproject.toml
  src/pytorch_lightning/strategies/hivemind.py
  src/pytorch_lightning/strategies/horovod.py
  src/pytorch_lightning/utilities/types.py
Labels: ready, strategy: horovod, code quality, community

#13556 fix mypy typing errors in pytorch_lightning/strategies/parallel.py
  pyproject.toml
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/parallel.py
  src/pytorch_lightning/utilities/types.py
Labels: ready, code quality, strategy

#13646 Enable using any Sampler in distributed environment in Lite
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/lite/lite.py
Labels: ready, distributed, data handling, lightninglite

#13591 Remove deprecated `max_steps=None`
  docs/source-pytorch/common/trainer.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, trainer: argument

#13653 Hotfix mypy checking
  src/pytorch_lightning/strategies/horovod.py
Labels: bug

#13631 Change the return type of `tune()` in `trainer.py` to TypedDict
  pyproject.toml
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/tuner/tuning.py
Labels: ready, trainer: tune, code quality, community

#13647 CI: use testing with PL released
  .github/workflows/ci_pkg-install.yml
Labels: ready, ci

#13657 Increase typing_extensions minimal version
  requirements/pytorch/extra.txt
Labels: reproducibility

#11163 Simplify TPUSpawn rank management
  dockers/tpu-tests/tpu_test_cases.jsonnet
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/single_tpu.py
  src/pytorch_lightning/strategies/tpu_spawn.py
Labels: ready, accelerator: tpu, refactor, breaking change, strategy: ddp spawn

#13635 Simplify predict attribute
  src/pytorch_lightning/loops/dataloader/prediction_loop.py
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
Labels: ready, loops, trainer: predict, code quality

#13628 CI: adjust GPU timeout
  .azure/gpu-tests.yml
Labels: ready, ci

#13652 Remove a `bool` type assignment in `lr_finder.py`
  src/pytorch_lightning/tuner/lr_finder.py
Labels: ready, code quality

#13670 [Hot Fix] Resolve Skipper CI
  .azure/gpu-tests.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/workflows/ci-pytorch_test-conda.yml
  .github/workflows/ci-pytorch_test-full.yml
  .github/workflows/ci-pytorch_test-slow.yml
Labels: ready

#13651 Run only CUDA tests on Azure GPU CI
  .azure/gpu-benchmark.yml
  .azure/gpu-tests.yml
  requirements/pytorch/test.txt
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/plugins/environments/torch_elastic_deadlock.py
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/strategies/test_sharded_strategy.py
Labels: ready, ci

#13555 Fix mypy errors attributed to pytorch_lightning/loops/epoch/training_epoch_loop.py
  pyproject.toml
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
Labels: ready, loops, code quality, community

#13614 Introduce ServableModuleValidator Callback
  .gitignore
  docs/source-pytorch/deploy/production_advanced.rst
  docs/source-pytorch/index.rst
  examples/pl_servable_module/production.py
  requirements/pytorch/test.txt
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/serve/__init__.py
  src/pytorch_lightning/serve/servable_module.py
  src/pytorch_lightning/serve/servable_module_validator.py
  tests/tests_pytorch/serve/test_servable_module_validator.py
Labels: feature, ready, design, lightningmodule

#13461 Remove deprecated `Strategy.post_dispatch`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, strategy

#13547 CI: Update docs-related workflows
  .circleci/config.yml
  .github/workflows/README.md
  .github/workflows/docs-link.yml
  Makefile
  docs/source-app/Makefile
Labels: ready, ci

#13625 Add --app_args support from the CLI
  examples/app_argparse/app.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/load_app.py
  tests/tests_app_examples/test_argparse.py
Labels: ready, app:cli

#13346 bump base NGC image
  .github/workflows/cicd-pytorch_dockers.yml
  dockers/nvidia/Dockerfile
Labels: ready, ci

#13679 CI: debug TPU failing tests
  .github/workflows/README.md
  .github/workflows/ci_pr-gatekeeper.yml
  dockers/tpu-tests/tpu_test_cases.jsonnet
  src/pytorch_lightning/README.md
Labels: ci

#13678 Fix mypy errors attributed to `pytorch_lightning.utilities.distributed`
  pyproject.toml
  src/pytorch_lightning/utilities/distributed.py
Labels: ready, code quality, community

#13694 Move s-rog (myself) from core to alumni
  docs/source-pytorch/governance.rst
Labels: ready, docs

#13499 Add CI app cloud e2e
  .actions/setup_tools.py
  .github/file-filters.yml
  .github/workflows/ci-app_cloud_e2e_test.yml
  examples/app_template_streamlit_ui/app.py
  examples/app_template_streamlit_ui/requirements.txt
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
  src/lightning_app/testing/__init__.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  tests/tests_app_examples/test_quick_start.py
  tests/tests_app_examples/test_template_streamlit_ui.py
Labels: ready, priority: 0, ci

#13465 Update docs README on how to build docs
  docs/README.md
Labels: ready, docs

#13629 Fix `trainer.predict(return_predictions=False)` does not track `batch_indices`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  tests/tests_pytorch/callbacks/test_prediction_writer.py
Labels: bug, ready, callback: prediction writer, trainer: predict, community

#13673 Run standalone tests in batches
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: ready, ci

#13703 Change AWS credentials to Lightning ones
  src/lightning_app/CHANGELOG.md
  src/lightning_app/storage/path.py
  tests/tests_app/storage/test_path.py
Labels: ready

#13717 add codeownser for docs - @Felonious-Spellfire
  .github/CODEOWNERS
Labels: ready

#13699 define app 0.6
  .github/workflows/ci_pr-gatekeeper.yml
  .pre-commit-config.yaml
  README.md
  docs/source-app/code_samples/convert_pl_to_app/requirements.txt
  docs/source-app/conf.py
  docs/source-app/examples/file_server/app.py
  docs/source-app/examples/github_repo_runner/app.py
  docs/source-app/get_started/build_model.rst
  src/lightning/__setup__.py
  src/lightning/__version__.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/__version__.py
Labels: ready, priority: 1

#13676 Allow CUDA and IPU tests without the CI environment var
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/run_standalone_tests.sh
Labels: ready, ci

#13715 CI: revert skip jobs
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
Labels: ready, ci

#13722 CI: Fix false negatives by the labeler
  .github/labeler.yml
Labels: ready, ci

#13727 Remove conda installation guide from lightning docs
  docs/source-app/index.rst
Labels: ready, docs, app

#13645 Use `global_step` while restoring logging step for old checkpoints
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
Labels: bug, ready, logging, pl

#13718 Check the driver status on gaudi server
  .azure/hpu-tests.yml
Labels: ci, accelerator: hpu

#13419 CI: debug HPU flow
  .azure/hpu-tests.yml
  .github/workflows/ci_pr-gatekeeper.yml
  .github/workflows/cicd-pytorch_dockers.yml
  dockers/ci-runner-hpu/Dockerfile
  dockers/ci-runner-hpu/start.sh
Labels: ready, ci, priority: 1, accelerator: hpu, strategy: hpu

#13111 Simplify fetching's loader types
  src/pytorch_lightning/utilities/fetching.py
  tests/tests_pytorch/utilities/test_auto_restart.py
  tests/tests_pytorch/utilities/test_fetching.py
Labels: ready, code quality, pl

#13731 Include app templates to the lightning and app packages
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
Labels: ready, priority: 0, app, app:cli

#13617 Fix mypy typing errors in pytorch_lightning/callbacks/model_checkpoint.py
  pyproject.toml
  src/pytorch_lightning/callbacks/early_stopping.py
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/trainer/connectors/logger_connector/result.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/utilities/distributed.py
Labels: ready, code quality, community, pl

#13557 Fix typos initialize in docs
  docs/source-app/code_samples/quickstart/app/app_1.py
  docs/source-app/code_samples/quickstart/hello_world/app.py
  docs/source-app/get_started/go_beyond_training_content.rst
  docs/source-pytorch/common/checkpointing_basic.rst
Labels: ready, docs, community

#12832 Fix main progress bar counter when `val_check_interval=int` and `check_val_every_n_epoch=None`
  docs/source-pytorch/common/trainer.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/progress/base.py
  src/pytorch_lightning/callbacks/progress/rich_progress.py
  src/pytorch_lightning/callbacks/progress/tqdm_progress.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/callbacks/progress/test_base_progress.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/trainer/flags/test_val_check_interval.py
Labels: bug, ready, docs, progress tracking, pl

#13688 Fix mypy errors attributed to `pytorch_lightning.loggers.tensorboard.py`
  pyproject.toml
  src/pytorch_lightning/loggers/tensorboard.py
Labels: ready, code quality, community, pl

#13691 Fix mypy errors attributed to `pytorch_lightning.loggers.mlflow`
  pyproject.toml
  src/pytorch_lightning/loggers/logger.py
  src/pytorch_lightning/loggers/mlflow.py
Labels: ready, logger: mlflow, code quality, community, pl

#13769 Fix gatekeeper minimum check
  .github/gatekeeper-config_app.yml
  .github/gatekeeper-config_pytorch.yml
Labels: ready, ci

#13423 Add auto_device_count and device name support
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/accelerators/hpu.py
  src/pytorch_lightning/strategies/hpu_parallel.py
  src/pytorch_lightning/strategies/single_hpu.py
  tests/tests_pytorch/accelerators/test_hpu.py
Labels: ready, accelerator: hpu, community, pl

#13364 Do not force `sync_dist=True` on epoch end
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/tests_pytorch/core/test_metric_result_integration.py
Labels: ready, logging, breaking change, pl

#13790 Use correct python version in lightning component template
  src/lightning_app/cli/component-template/.github/workflows/ci-testing.yml
Labels: ready, app:cli

#13792 Fix mypy errors attributed to `pytorch_lightning/profilers/advanced.py`
  pyproject.toml
  src/pytorch_lightning/profilers/advanced.py
Labels: ready, code quality, community, pl

#13785 Fix to allow custom `CheckpointIO` with strategy classes
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/hpu_parallel.py
  src/pytorch_lightning/strategies/single_hpu.py
  src/pytorch_lightning/strategies/single_tpu.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  tests/tests_pytorch/accelerators/test_accelerator_connector.py
Labels: bug, ready, checkpointing, pl

#13794 Update macos ci
  .github/workflows/ci-app_examples.yml
  .github/workflows/ci-app_tests.yml
  .github/workflows/ci-pytorch_test-full.yml
  .github/workflows/ci-pytorch_test-slow.yml
  .github/workflows/ci_pkg-install.yml
  src/lightning_app/cli/component-template/.github/workflows/ci-testing.yml
Labels: ready, priority: 0, ci

#13405 Add support for DDP fork
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/accelerators/cuda.py
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/profilers/pytorch.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/launchers/spawn.py
  src/pytorch_lightning/strategies/launchers/xla_spawn.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/tuner/auto_gpu_select.py
  src/pytorch_lightning/utilities/device_parser.py
  src/pytorch_lightning/utilities/enums.py
  tests/tests_pytorch/accelerators/test_accelerator_connector.py
  tests/tests_pytorch/accelerators/test_common.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/lite/test_lite.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/plugins/test_cluster_integration.py
  tests/tests_pytorch/strategies/launchers/__init__.py
  tests/tests_pytorch/strategies/launchers/test_spawn.py
  tests/tests_pytorch/strategies/test_bagua_strategy.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_with_full_state_dict.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_dp.py
  tests/tests_pytorch/strategies/test_strategy_registry.py
  tests/tests_pytorch/trainer/flags/test_env_vars.py
  tests/tests_pytorch/trainer/properties/test_auto_gpu_select.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/trainer/test_trainer_cli.py
  tests/tests_pytorch/utilities/test_cli.py
  tests/tests_pytorch/utilities/test_device_parser.py
Labels: feature, ready, priority: 0, strategy: ddp, pl

#13474 Lazy import check for wandb dependency
  src/pytorch_lightning/loggers/__init__.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_pytorch/loggers/test_wandb.py
  tests/tests_pytorch/utilities/test_cli.py
Labels: ready, refactor, pl

#13638 Support setting the trainer reference recursively for ensembles
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/progress/base.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/core/optimizer.py
  src/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/loop.py
  src/pytorch_lightning/loops/optimization/manual_loop.py
  src/pytorch_lightning/overrides/base.py
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/serve/servable_module_validator.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/utilities/model_summary.py
  src/pytorch_lightning/utilities/parsing.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/overrides/test_data_parallel.py
  tests/tests_pytorch/utilities/test_parsing.py
Labels: feature, ready, lightningmodule, pl

#13746 Set default strategy to ddp_fork in interactive environments
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/accelerators/test_accelerator_connector.py
Labels: feature, ready, strategy: ddp spawn, pl

#13739 App: prune requirements duplicity
  requirements/app/base.txt
Labels: ready, app

#13767 Promote the CLI out of utilities
  docs/source-pytorch/cli/lightning_cli_advanced_2.rst
  docs/source-pytorch/cli/lightning_cli_advanced_3.rst
  docs/source-pytorch/cli/lightning_cli_expert.rst
  docs/source-pytorch/cli/lightning_cli_faq.rst
  docs/source-pytorch/cli/lightning_cli_intermediate.rst
  examples/convert_from_pt_to_pl/image_classifier_4_lightning_module.py
  examples/convert_from_pt_to_pl/image_classifier_5_lightning_datamodule.py
  examples/pl_basics/autoencoder.py
  examples/pl_basics/backbone_image_classifier.py
  examples/pl_basics/profiler_example.py
  examples/pl_domain_templates/computer_vision_fine_tuning.py
  examples/pl_domain_templates/imagenet.py
  examples/pl_hpu/mnist_sample.py
  examples/pl_integrations/dali_image_classifier.py
  examples/pl_servable_module/production.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/cli.py
  src/pytorch_lightning/utilities/cli.py
  tests/tests_app/core/scripts/lightning_cli.py
  tests/tests_app/core/scripts/registry.py
  tests/tests_app/utilities/test_introspection.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/test_cli.py
Labels: ready, refactor, deprecation, lightningcli

#9749 Add logging messages to notify when `FitLoop` stopping conditions are met
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/fit_loop.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: feature, ready, loops, community, pl

#13744 Add ddp_notebook alias for ddp_fork
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/accelerators/test_accelerator_connector.py
  tests/tests_pytorch/strategies/test_strategy_registry.py
Labels: feature, ready, strategy: ddp spawn, pl

#13477 Lazy import check for neptune dependency
  src/pytorch_lightning/loggers/__init__.py
  src/pytorch_lightning/loggers/neptune.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_pytorch/test_cli.py
Labels: ready, refactor, pl

#13743 Rename spawn-based launchers
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/launchers/__init__.py
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  src/pytorch_lightning/strategies/launchers/xla.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
Labels: ready, refactor, strategy: ddp spawn, pl

#13791 [Typo] update introduction.rst
  docs/source-pytorch/starter/introduction.rst
Labels: ready, docs, community, pl

#13689 Fix mypy errors attributed to `pytorch_lightning.loggers.comet`
  pyproject.toml
  src/pytorch_lightning/loggers/comet.py
  src/pytorch_lightning/loggers/csv_logs.py
  src/pytorch_lightning/loggers/mlflow.py
  src/pytorch_lightning/loggers/tensorboard.py
  src/pytorch_lightning/loggers/wandb.py
  src/pytorch_lightning/utilities/logger.py
Labels: ready, code quality, community, pl

#13827 Fix typos in Checkpointing doc
  docs/source-pytorch/common/checkpointing_intermediate.rst
Labels: ready, docs, pl

#13368 Add missing docstring for LightningWork.stop()
  src/lightning_app/core/work.py
Labels: ready, docs, app

#13774 Fix PyTorch spelling errors
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/stale.yml
  dockers/base-xla/Dockerfile
  docs/source-app/get_started/training_with_apps.rst
  docs/source-pytorch/deploy/production_advanced_2.rst
  docs/source-pytorch/ecosystem/asr_nlp_tts.rst
  examples/pl_domain_templates/computer_vision_fine_tuning.py
  src/lightning_app/components/python/tracer.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/overrides/distributed.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/helpers/datasets.py
Labels: ready, docs

#13602 [App] Introduce Commands
  .github/workflows/ci-app_cloud_e2e_test.yml
  .gitignore
  examples/app_commands/.lightning
  examples/app_commands/app.py
  examples/app_commands/command.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/components/python/tracer.py
  src/lightning_app/core/api.py
  src/lightning_app/core/app.py
  src/lightning_app/core/constants.py
  src/lightning_app/core/flow.py
  src/lightning_app/core/queues.py
  src/lightning_app/runners/backends/backend.py
  src/lightning_app/runners/multiprocess.py
  src/lightning_app/source_code/uploader.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_app/utilities/commands/__init__.py
  src/lightning_app/utilities/commands/base.py
  src/lightning_app/utilities/packaging/lightning_utils.py
  src/lightning_app/utilities/proxies.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/components/python/test_python.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/source_code/test_uploader.py
  tests/tests_app/utilities/test_commands.py
  tests/tests_app/utilities/test_state.py
  tests/tests_app_examples/test_commands.py
Labels: ready, app, lightningflow, app:cli

#13704 Fix mypy errors attributed to `pytorch_lightning.core.mixins.device_dtype_mixin`
  pyproject.toml
  src/pytorch_lightning/core/mixins/device_dtype_mixin.py
Labels: ready, pl

#13685 fixes typing in pytorch_lightning/callbacks/stochastic_weight_avg.py
  pyproject.toml
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
Labels: ready, callback: swa, code quality, community, pl

#13833 Added new email to enforce the Code of Conduct
  .github/CODE_OF_CONDUCT.md
Labels: ready, docs

#13519 fix mypy typing errors in pytorch_lightning/strategies/strategy.py
  pyproject.toml
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/ipu.py
  src/pytorch_lightning/plugins/precision/native_amp.py
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/plugins/precision/tpu.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/utilities/types.py
Labels: ready, code quality, strategy, community, pl

#13658 Add support for async checkpointing
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/checkpointing_expert.rst
  docs/source-pytorch/extensions/plugins.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/plugins/__init__.py
  src/pytorch_lightning/plugins/io/__init__.py
  src/pytorch_lightning/plugins/io/async_plugin.py
  src/pytorch_lightning/plugins/io/checkpoint_plugin.py
  src/pytorch_lightning/plugins/io/torch_plugin.py
  src/pytorch_lightning/plugins/io/wrapper.py
  src/pytorch_lightning/strategies/hpu_parallel.py
  src/pytorch_lightning/strategies/single_hpu.py
  src/pytorch_lightning/strategies/single_tpu.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  src/pytorch_lightning/utilities/cloud_io.py
  tests/tests_pytorch/plugins/test_checkpoint_io_plugin.py
Labels: feature, ready, checkpointing, pl

#13815 add lightning apps to info_packages of collect_env_details
  requirements/collect_env_details.py
Labels: feature, ready, community

#13862 CI: Correct test path to publish test results
  .azure/hpu-tests.yml
Labels: ready, ci, accelerator: ipu

#13845 Fix error handling in learning rate finder
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/tuner/lr_finder.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: bug, ready, trainer: tune, pl

#13860 fixes typing in `stochastic_weight_avg.py` (follow-up of #13685)
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
Labels: ready, code quality, community, pl

#13867 Skip code formatters on _notebooks submodule
  pyproject.toml
Labels: ready, code quality

#13857 Update Github issues template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ready

#13838 Check if the scheduler already has `reduce_on_plateau`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/optimizer.py
  tests/tests_pytorch/trainer/optimization/test_optimizers.py
Labels: bug, ready, lr scheduler, pl

#13854 Disallow batch sampler with multiple IPU devices
  docs/source-pytorch/accelerators/ipu_basic.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/ipu.py
  src/pytorch_lightning/utilities/data.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/utilities/test_data.py
Labels: bug, ready, data handling, breaking change, strategy: ipu, pl

#13437 changing tests/README.md to reflect repo structure change
  tests/README.md
Labels: ready, docs, community

#13832 Fixes various typing errors in `pytorch_lightning/strategies/deepspeed.py`
  pyproject.toml
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/strategies/deepspeed.py
Labels: ready, pl

#13841 Add batch size script argument for standalone tests
  tests/tests_pytorch/run_standalone_tests.sh
Labels: ready, ci, tests, pl

#13877 Update version for rc0 release
  src/pytorch_lightning/__version__.py
Labels: ready, release, pl

#11098 Fix TPU testing and collect all tests
  .azure/gpu-tests.yml
  .circleci/config.yml
  dockers/tpu-tests/tpu_test_cases.jsonnet
  src/pytorch_lightning/plugins/training_type/single_tpu.py
  src/pytorch_lightning/strategies/launchers/xla.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  tests/tests_pytorch/accelerators/test_accelerator_connector.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/helpers/utils.py
  tests/tests_pytorch/lite/test_lite.py
  tests/tests_pytorch/models/test_horovod.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/plugins/environments/test_xla_environment.py
  tests/tests_pytorch/profilers/test_xla_profiler.py
  tests/tests_pytorch/run_standalone_tasks.sh
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/strategies/test_tpu_spawn.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
Labels: bug, ready, priority: 0, ci, accelerator: tpu, pl

#13882 Fix manual backward for DeepSpeed
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/ipu.py
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/strategies/strategy.py
Labels: bug, strategy: deepspeed, pl

#13863 Support DeepSpeed >=0.6.0, <0.6.5
  .azure/gpu-tests.yml
  requirements/pytorch/strategies.txt
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/ipu.py
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/strategies/strategy.py
  tests/tests_pytorch/lite/test_lite.py
  tests/tests_pytorch/plugins/precision/test_deepspeed_precision.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: ready, strategy: deepspeed, lightninglite, tests, pl

#13732 add UI for install all
  .github/actions/pkg-check/action.yml
  .github/actions/pkg-install/action.yml
  .github/workflows/ci_pkg-install.yml
  src/lightning/__setup__.py
Labels: ready, priority: 1, app

#13716 Run GPU tests with PyTorch 1.12
  .azure/gpu-benchmark.yml
  .azure/gpu-tests.yml
  .github/workflows/README.md
  .github/workflows/cicd-pytorch_dockers.yml
  dockers/base-cuda/Dockerfile
  requirements/pytorch/examples.txt
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_native.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_sharded_strategy.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/utilities/test_meta.py
Labels: ready, ci, priority: 1, pl

#13847 Comet documentation improvements
  src/pytorch_lightning/loggers/comet.py
Labels: ready, docs, logger: comet, community, pl

#13859 Support DeepSpeed <0.7.0
  .azure/gpu-tests.yml
  requirements/pytorch/strategies.txt
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/utilities/deepspeed_model_summary.py
  tests/tests_pytorch/lite/test_lite.py
Labels: ready, strategy: deepspeed, tests, pl

#13896 Update MPS availability to include check for ARM processors
  src/pytorch_lightning/accelerators/mps.py
Labels: ready, accelerator: mps, pl

#13893 Organize model summary utilities
  src/pytorch_lightning/callbacks/model_summary.py
  src/pytorch_lightning/utilities/model_summary/__init__.py
  src/pytorch_lightning/utilities/model_summary/model_summary.py
  src/pytorch_lightning/utilities/model_summary/model_summary_deepspeed.py
  tests/tests_pytorch/utilities/test_deepspeed_model_summary.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: ready, refactor, callback: model summary, code quality, pl

#13865 Fix mypy errors in strategies/ddp_spawn.py
  pyproject.toml
  src/pytorch_lightning/strategies/ddp_spawn.py
Labels: ready, code quality, community, pl

#13880 Cast on host instead of IPU when using `precision=16`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/ipu.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/deprecated_api/test_remove_1-8.py
Labels: bug, ready, strategy: ipu, pl

#13849 Update GitHub links to PL repo
  .github/CONTRIBUTING.md
  .github/workflows/README.md
  README.md
  docs/source-pytorch/_templates/theme_variables.jinja
  docs/source-pytorch/starter/installation.rst
  src/lightning_app/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/README.md
  tests/README.md
Labels: ready, docs

#13910 Update version for rc1 release
  src/pytorch_lightning/__version__.py
Labels: ready, release, pl

#13840 Improvements to standalone scripts
  dockers/tpu-tests/tpu_test_cases.jsonnet
  tests/tests_pytorch/run_standalone_tasks.sh
  tests/tests_pytorch/run_standalone_tests.sh
Labels: ready, ci, pl

#13924 meta pkg: wrap for traceability
  .actions/setup_tools.py
Labels: ready, priority: 1, release

#13906 meta pkg: set version as today
  .actions/setup_tools.py
  setup.py
  src/lightning/__version__.py
Labels: ready, priority: 1, app

#13742 prune func calls in meta pkg init
  .actions/setup_tools.py
  .github/actions/pkg-check/action.yml
  src/pytorch_lightning/loggers/__init__.py
Labels: bug, ready, priority: 0, pl

#13830 (app) Introduce LightningTrainingComponent
  .gitignore
  docs/source-app/api_reference/components.rst
  examples/app_multi_node/app.py
  examples/app_multi_node/bare/.gitignore
  examples/app_multi_node/bare/multi_node.py
  examples/app_multi_node/bare/requirements.txt
  examples/app_multi_node/train.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/python/tracer.py
  src/lightning_app/components/training.py
  src/lightning_app/core/flow.py
  src/lightning_app/runners/backends/backend.py
  src/lightning_app/source_code/local.py
  src/lightning_app/structures/dict.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/network.py
  src/lightning_app/utilities/packaging/tarfile.py
  src/lightning_app/utilities/state.py
  tests/tests_app/components/python/test_python.py
  tests/tests_app/utilities/test_state.py
  tests/tests_app_examples/test_multi_node.py
Labels: ready, app

#13897 Fix deepspeed default precision plugin `amp_level` to O2
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  tests/tests_pytorch/plugins/precision/test_deepspeed_precision.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
Labels: bug, ready, strategy: deepspeed, precision: apex, pl
