Repository Lightning-AI/pytorch-lightning, pull requests merged in 2022-05, with the labels that each got.

#12913 Override `optimizer_zero_grad` when using the `IPUStrategy`
  CHANGELOG.md
  pytorch_lightning/strategies/ipu.py
Labels: ready, accelerator: ipu, community

#12930 Update nvidia gpg key to fix nightly docker builds
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
Labels: bug, ready, priority: 0, ci

#12891 Fuse_modules in a qat-respecting way
  CHANGELOG.md
  pytorch_lightning/callbacks/quantization.py
  pytorch_lightning/utilities/__init__.py
Labels: bug, ready, callback: quantization, community

#12948 missing `super().__init__()` calls
  docs/source/model/train_model_basic.rst
Labels: ready, docs

#12949 fix enumerate usage
  docs/source/model/train_model_basic.rst
Labels: ready, docs

#12951 Remove duplicate boring classes
  docs/source/cli/lightning_cli_intermediate.rst
  docs/source/cli/lightning_cli_intermediate_2.rst
  pytorch_lightning/demos/__init__.py
  tests/helpers/boring_model.py
  tests/utilities/test_cli.py
Labels: ready, refactor, tests

#12653 Enforce eval shuffle warning only for default samplers
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/utilities/data.py
  tests/helpers/utils.py
  tests/trainer/connectors/test_data_connector.py
  tests/trainer/test_data_loading.py
Labels: bug, ready, data handling

#12228 Prefix log_metrics keys with class name in callbacks
  CHANGELOG.md
  pytorch_lightning/callbacks/device_stats_monitor.py
Labels: feature, ready, callback: device stats, callback: lr monitor, community

#12614 Support CLI shorthand natively
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  tests/utilities/test_cli.py
Labels: ready, refactor, lightningcli, community

#12550 Add `LightningDataModule.load_from_checkpoint` to load datamodules directly from checkpoint
  CHANGELOG.md
  docs/source/common/checkpointing_basic.rst
  pytorch_lightning/core/datamodule.py
  pytorch_lightning/core/saving.py
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  tests/models/test_hparams.py
Labels: ready, argparse, lightningdatamodule

#12100 Construct the hook kwargs inside each loop
  pl_examples/loop_examples/yielding_training_step.py
  pytorch_lightning/callbacks/finetuning.py
  pytorch_lightning/loops/batch/training_batch_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/loops/optimization/manual_loop.py
  pytorch_lightning/loops/optimization/optimizer_loop.py
  pytorch_lightning/loops/utilities.py
  tests/loops/batch/test_truncated_bptt.py
  tests/loops/epoch/test_training_epoch_loop.py
  tests/loops/test_evaluation_loop_flow.py
  tests/loops/test_training_loop_flow_scalar.py
  tests/trainer/logging_/test_train_loop_logging.py
  tests/utilities/test_fetching.py
Labels: ready, refactor, loops

#12965 [FIX] Enable mixed precision in the Fully Sharded Strategy when `precision=16`
  CHANGELOG.md
  pytorch_lightning/strategies/fully_sharded.py
  tests/strategies/test_ddp_fully_sharded_with_full_state_dict.py
Labels: bug, ready, strategy: fsdp

#12821 Fix fit loop restart logic to enable resume using the checkpoint
  CHANGELOG.md
  pytorch_lightning/loops/fit_loop.py
  tests/models/test_hooks.py
  tests/models/test_restore.py
Labels: bug, ready, priority: 0, loops

#12739 Callback collection through entry points
  CHANGELOG.md
  docs/source/extensions/callbacks.rst
  docs/source/extensions/entry_points.rst
  pytorch_lightning/trainer/connectors/callback_connector.py
  tests/trainer/connectors/test_callback_connector.py
Labels: feature, ready, callback, trainer: connector

#12885 Fix zero division error for empty dataloaders
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/connectors/test_data_connector.py
  tests/trainer/test_dataloaders.py
  tests/trainer/test_trainer.py
Labels: bug, ready, data handling, breaking change

#12788 Simplify `DataConnector._copy_trainer_model_properties`
  pytorch_lightning/trainer/connectors/data_connector.py
Labels: ready, refactor, trainer: connector

#12968 Update CHANGELOG after the 1.6.3 release
  CHANGELOG.md
Labels: ready, release

#12942 Support `predict_dataset` in `LightningDataModule.from_datasets`
  CHANGELOG.md
  pytorch_lightning/core/datamodule.py
  tests/core/test_datamodules.py
Labels: ready, lightningdatamodule, community

#12950 Update Strategy doc
  docs/source/accelerators/gpu_expert.rst
  docs/source/extensions/strategy.rst
  docs/source/index.rst
Labels: ready, docs

#12699 Raise an exception when using DeepSpeed with an invalid accelerator
  CHANGELOG.md
  pytorch_lightning/strategies/deepspeed.py
  tests/strategies/test_deepspeed_strategy.py
Labels: feature, ready, strategy: deepspeed, community

#12960 Add a method signature check for `setup`
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/utilities/signature_utils.py
  tests/trainer/test_config_validator.py
Labels: ready, refactor, data handling

#12816 Add support for reloading the last checkpoint saved by passing `ckpt_path="last"`
  CHANGELOG.md
  docs/source/common/evaluation_intermediate.rst
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: feature, ready, checkpointing, fault tolerance, callback: model checkpoint

#12938 Break lazy accumulation of graphs
  CHANGELOG.md
  pytorch_lightning/strategies/hpu_parallel.py
  pytorch_lightning/strategies/single_hpu.py
Labels: feature, ready, performance, strategy: hpu

#12373 Unpin CUDA docker image for GPU CI
  .azure-pipelines/gpu-benchmark.yml
  .azure-pipelines/gpu-tests.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/events-nightly.yml
  dockers/base-cuda/Dockerfile
  tests/models/test_amp.py
Labels: ready, priority: 0, ci

#12971 Profile `LightningDataModule` hooks
  CHANGELOG.md
  pytorch_lightning/trainer/connectors/checkpoint_connector.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/core/test_datamodules.py
Labels: feature, ready, profiler, lightningdatamodule

#12977 Remove `on_train_batch_{start,end}(dataloader_idx=...)`
  CHANGELOG.md
  pytorch_lightning/callbacks/base.py
  pytorch_lightning/callbacks/device_stats_monitor.py
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/configuration_validator.py
Labels: ready, breaking change, hooks

#12973 add RobertLaurella as docs owner
  .github/CODEOWNERS
Labels: ready, docs

#13014 HPU & TPU doesn't support torch.inference_mode
  CHANGELOG.md
  docs/source/accelerators/hpu_basic.rst
  pytorch_lightning/trainer/trainer.py
Labels: bug, ready, priority: 0, accelerator: hpu

#11795 Track CPU stats with DeviceStatsMonitor
  CHANGELOG.md
  dockers/tpu-tests/tpu_test_cases.jsonnet
  docs/source/tuning/profiler_basic.rst
  pytorch_lightning/accelerators/cpu.py
  pytorch_lightning/callbacks/device_stats_monitor.py
  pytorch_lightning/utilities/imports.py
  requirements/test.txt
  tests/callbacks/test_device_stats_monitor.py
  tests/helpers/runif.py
Labels: ready, callback: device stats, accelerator: cpu, community

#12996 Docs for Collaborative Training
  docs/source/api_references.rst
  docs/source/common_usecases.rst
  docs/source/conf.py
  docs/source/extensions/strategy.rst
  docs/source/index.rst
  docs/source/strategies/collaborative_training.rst
  docs/source/strategies/collaborative_training_basic.rst
  docs/source/strategies/collaborative_training_expert.rst
  docs/source/strategies/collaborative_training_intermediate.rst
Labels: ready, docs, strategy: collaborative

#13026 Avoid redundant callback restore warning while tuning
  CHANGELOG.md
  pytorch_lightning/tuner/batch_size_scaling.py
  pytorch_lightning/tuner/lr_finder.py
  tests/tuner/test_lr_finder.py
  tests/tuner/test_scale_batch_size.py
Labels: bug, ready, trainer: tune

#13030 Fix typo: "optimizeres" -> "optimizers"
  docs/source/common/optimization.rst
Labels: ready, docs, community

#12597 Provide access to unwrapped model in Lite
  CHANGELOG.md
  pytorch_lightning/lite/lite.py
  pytorch_lightning/lite/wrappers.py
  tests/lite/test_lite.py
  tests/lite/test_wrappers.py
Labels: feature, ready, priority: 0, lightninglite

#13033 Remove the deprecated `on_{train,val,test,predict}_dataloader` hooks
  CHANGELOG.md
  docs/source/common/lightning_module.rst
  docs/source/data/datamodule.rst
  pytorch_lightning/core/hooks.py
  pytorch_lightning/trainer/configuration_validator.py
  pytorch_lightning/trainer/connectors/data_connector.py
  pytorch_lightning/trainer/connectors/logger_connector/fx_validator.py
  pytorch_lightning/trainer/data_loading.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
  tests/models/test_hooks.py
  tests/trainer/logging_/test_logger_connector.py
Labels: ready, breaking change, lightningmodule, community

#13038 Fix docs' TensorBoardLogger instantiation
  docs/source/visualize/logging_intermediate.rst
Labels: ready, docs

#12994 add freeze for development and full range for install
  .actions/assistant.py
  .github/dependabot.yml
  .github/workflows/ci_dockers.yml
  .github/workflows/ci_test-base.yml
  .github/workflows/ci_test-full.yml
  .github/workflows/ci_test-slow.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
  .github/workflows/release-pypi.yml
  dockers/base-conda/Dockerfile
  dockers/base-cuda/Dockerfile
  docs/source/conf.py
  pytorch_lightning/setup_tools.py
  requirements.txt
  requirements/base.txt
  requirements/devel.txt
  requirements/examples.txt
  requirements/extra.txt
  requirements/loggers.txt
  requirements/strategies.txt
  setup.py
Labels: ready, ci, priority: 1

#13028 Use hpu hmp for bf16 alone
  CHANGELOG.md
  pytorch_lightning/plugins/precision/hpu.py
Labels: bug, ready, accelerator: hpu

#13035 Improved the jsonargparse[signatures] availability variable
  pytorch_lightning/utilities/__init__.py
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/imports.py
  tests/utilities/test_imports.py
Labels: ready, refactor, lightningcli, community

#13057 fix freeze comparison
  .github/dependabot.yml
  pytorch_lightning/setup_tools.py
Labels: bug, ready, priority: 1

#13062 Fix typo ddp_spawn_sharded -> ddp_sharded_spawn
  docs/source/extensions/strategy.rst
Labels: ready, docs

#13064 GPU CI: Increase timeout from 55min to 65min
  .azure-pipelines/gpu-tests.yml
Labels: ready, ci

#12897 Fix number of references to LightningModule
  CHANGELOG.md
  pytorch_lightning/core/lightning.py
  pytorch_lightning/utilities/imports.py
  tests/core/test_lightning_module.py
Labels: bug, ready, lightningmodule

#12870 Fix `materialize_module` recursively setting its child module
  CHANGELOG.md
  pytorch_lightning/utilities/meta.py
  tests/utilities/test_meta.py
Labels: bug, ready

#13059 Remove unused hook keyword argument
  pytorch_lightning/callbacks/device_stats_monitor.py
Labels: ready, code quality, community

#12984 CI: Azure - multiple configs
  .azure-pipelines/gpu-benchmark.yml
  .azure-pipelines/gpu-tests.yml
  .github/workflows/ci_schema.yml
  dockers/base-cuda/Dockerfile
  tests/strategies/test_ddp_fully_sharded_native.py
Labels: ready, ci

#13071 Removed `process_position` argument from Trainer Class
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/connectors/callback_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, trainer: argument

#13037 Fix CLI test interaction
  tests/utilities/test_cli.py
Labels: ready, lightningcli, tests

#13067 Enable all ddp params for hpu parallel strategy
  CHANGELOG.md
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/hpu_parallel.py
  tests/accelerators/test_hpu.py
Labels: ready, accelerator: hpu

#13101 Update docs about `reduce_fx`
  docs/source/extensions/logging.rst
  docs/source/visualize/logging_advanced.rst
  docs/source/visualize/logging_basic.rst
  pytorch_lightning/trainer/connectors/logger_connector/result.py
  tests/trainer/logging_/test_train_loop_logging.py
Labels: ready, docs, logging

#13104 GPU CI: Increase timeout from 65 to 100min
  .azure-pipelines/gpu-tests.yml
Labels: ready, priority: 0, ci

#13084 Update trainer profiler typehint to use `Profiler` instead of the deprecated `BaseProfiler`
  CHANGELOG.md
  pytorch_lightning/trainer/trainer.py
Labels: bug, ready, trainer: argument, community

#13113 Avoid annoying firewall message from `find_free_network_port`
  pytorch_lightning/plugins/environments/lightning_environment.py
Labels: bug, ready, environment

#13132 Unpin coverage<6.3
  requirements/test.txt
Labels: ready, ci

#11935 Add accelerator method `teardown()`
  CHANGELOG.md
  pytorch_lightning/accelerators/accelerator.py
  pytorch_lightning/accelerators/gpu.py
  pytorch_lightning/strategies/bagua.py
  pytorch_lightning/strategies/collaborative.py
  pytorch_lightning/strategies/ddp.py
  pytorch_lightning/strategies/ddp_spawn.py
  pytorch_lightning/strategies/dp.py
  pytorch_lightning/strategies/fully_sharded_native.py
  pytorch_lightning/strategies/horovod.py
  pytorch_lightning/strategies/hpu_parallel.py
  pytorch_lightning/strategies/ipu.py
  pytorch_lightning/strategies/single_device.py
  pytorch_lightning/strategies/single_tpu.py
  pytorch_lightning/strategies/strategy.py
  pytorch_lightning/strategies/tpu_spawn.py
Labels: ready, accelerator

#13130 Fix tutorial
  docs/source/starter/introduction.rst
Labels: ready, docs

#13142 Fix torchelastic detection with non-distributed installations
  CHANGELOG.md
  pytorch_lightning/plugins/environments/torchelastic_environment.py
Labels: bug, ready, environment: torchelastic

#13074 Removed `flush_logs_every_n_steps` argument from Trainer
  CHANGELOG.md
  docs/source/common/trainer.rst
  docs/source/visualize/logging_advanced.rst
  pytorch_lightning/loops/epoch/training_epoch_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-7.py
Labels: ready, breaking change, trainer: argument, community

#12980 Document CI/CD
  .github/CONTRIBUTING.md
  .github/workflows/README.md
Labels: ready, docs, ci

#13154 Avoid changing the current cudnn.benchmark value
  CHANGELOG.md
  docs/source/common/trainer.rst
  pytorch_lightning/trainer/connectors/accelerator_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/trainer/test_trainer.py
Labels: ready, trainer: argument, performance

#13089 Fix not running test codes
  tests/strategies/test_deepspeed_strategy.py
Labels: ready, strategy: deepspeed, tests

#12184 Fix logging's step values when multiple dataloaders are used during evaluation
  CHANGELOG.md
  pytorch_lightning/loops/dataloader/evaluation_loop.py
  pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  pytorch_lightning/loops/fit_loop.py
  pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  pytorch_lightning/trainer/trainer.py
  tests/deprecated_api/test_remove_1-9.py
  tests/trainer/logging_/test_eval_loop_logging.py
  tests/trainer/test_dataloaders.py
Labels: bug, ready, logging, loops

#13110 [CLI] Respect existing seed by default
  CHANGELOG.md
  pytorch_lightning/utilities/cli.py
  pytorch_lightning/utilities/seed.py
  tests/utilities/test_cli.py
Labels: bug, ready, lightningcli, reproducibility

#13182 Specify `Trainer(benchmark=False)` in parity benchmarks
  tests/benchmarks/test_basic_parity.py
  tests/benchmarks/test_sharded_parity.py
Labels: ready, tests

#13186 Fix instruction for cherry pick way of fixing mixed branches
  .github/CONTRIBUTING.md
Labels: ready, docs
