Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-02, with the labels that each got.

#16587 Install colossalai==0.1.12 in CI
  .azure/gpu-tests-pytorch.yml
  dockers/base-cuda/Dockerfile
  requirements/pytorch/strategies.txt
Labels: ready, ci, pl

#16469 Bump max deepspeed version to 0.8.0
  requirements/fabric/strategies.txt
  requirements/pytorch/strategies.txt
Labels: ready, strategy: deepspeed, fabric, pl, fun

#16593 align lit-utils version to post0
  requirements/app/base.txt
Labels: app

#16586 Only run TPU standalone tests
  .github/workflows/tpu-tests.yml
  dockers/base-xla/tpu_workflow_fabric.jsonnet
  dockers/base-xla/tpu_workflow_pytorch.jsonnet
Labels: ci

#16596 update codeowners for lit
  .github/CODEOWNERS
Labels: ci

#16539 Make manual optimization mandatory for multiple optimizers
  examples/pl_domain_templates/computer_vision_fine_tuning.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/callback.py
  src/pytorch_lightning/callbacks/finetuning.py
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
  src/pytorch_lightning/core/hooks.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/core/optimizer.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/optimization/manual_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/loops/progress.py
  src/pytorch_lightning/loops/utilities.py
  src/pytorch_lightning/plugins/precision/amp.py
  src/pytorch_lightning/plugins/precision/colossalai.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/ipu.py
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/plugins/precision/tpu.py
  src/pytorch_lightning/strategies/colossalai.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/hpu_parallel.py
  src/pytorch_lightning/strategies/single_hpu.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/tuner/lr_finder.py
  src/pytorch_lightning/utilities/migration/migration.py
  src/pytorch_lightning/utilities/signature_utils.py
  src/pytorch_lightning/utilities/types.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
  tests/tests_pytorch/callbacks/test_lr_monitor.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/helpers/deterministic_model.py
  tests/tests_pytorch/loops/epoch/test_training_epoch_loop.py
  tests/tests_pytorch/loops/optimization/test_closure.py
  tests/tests_pytorch/loops/optimization/test_optimizer_loop.py
  tests/tests_pytorch/loops/test_evaluation_loop_flow.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_training_loop_flow_dict.py
  tests/tests_pytorch/loops/test_training_loop_flow_scalar.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/plugins/precision/test_tpu.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_colossalai.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/dynamic_args/test_multiple_eval_dataloaders.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/optimization/test_multiple_optimizers.py
  tests/tests_pytorch/trainer/optimization/test_optimizers.py
  tests/tests_pytorch/tuner/test_lr_finder.py
  tests/tests_pytorch/utilities/migration/test_migration.py
Labels: ready, refactor, breaking change, optimization, loops, pl

#16588 Update docs for multiple optimizers in 2.0
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/common/optimization.rst
  docs/source-pytorch/guides/speed.rst
  docs/source-pytorch/model/build_model_advanced.rst
  docs/source-pytorch/model/manual_optimization.rst
  docs/source-pytorch/starter/introduction.rst
Labels: ready, docs, optimization, pl

#16585 Sized iterable typing improvements
  src/lightning/fabric/utilities/data.py
  src/lightning/pytorch/loops/utilities.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/tuner/batch_size_scaling.py
  src/lightning/pytorch/utilities/data.py
Labels: ready, refactor, data handling, fabric, pl

#16492 Drop support for PyTorch 1.10
  .azure/ipu-tests.yml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/checkgroup.yml
  .github/workflows/ci-dockers-pytorch.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/markdown.links.config.json
  .github/workflows/release-docker.yml
  README.md
  dockers/base-ipu/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/ci-runner-ipu/Dockerfile
  docs/source-pytorch/index.rst
  environment.yml
  requirements/fabric/base.txt
  requirements/pytorch/adjust-versions.py
  requirements/pytorch/base.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/launchers/multiprocessing.py
  src/lightning/fabric/utilities/imports.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/quantization.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/ddp_spawn.py
  src/lightning/pytorch/strategies/hpu_parallel.py
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/utilities/imports.py
  src/pytorch_lightning/README.md
  tests/tests_fabric/plugins/collectives/test_torch_collective.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
  tests/tests_pytorch/callbacks/test_quantization.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, ci, refactor, fabric, pl

#11531 Replace custom `AllGather` implementation
  src/lightning/fabric/utilities/apply_func.py
  src/lightning/fabric/utilities/distributed.py
  tests/tests_pytorch/utilities/test_all_gather_grad.py
Labels: ready, distributed, fabric, pl

#16602 adjust codeowners for PL
  .github/CODEOWNERS
Labels: ci

#16600 Fix broken links after reverse mirror changes
  Makefile
  docs/source-app/get_started/training_with_apps.rst
  docs/source-app/workflows/add_web_ui/react/communicate_between_react_and_lightning.rst
  docs/source-app/workflows/add_web_ui/react/connect_react_and_lightning.rst
  requirements/app/components.txt
  tests/README.md
Labels: ready, docs, app

#16581 Add FileSystem
  pyproject.toml
  src/lightning/app/CHANGELOG.md
  src/lightning/app/storage/__init__.py
  src/lightning/app/storage/copier.py
  src/lightning/app/storage/filesystem.py
  tests/tests_app/storage/test_filesystem.py
Labels: ready, app, app:storage

#16605 Ignore generated package files
  .github/CONTRIBUTING.md
  .gitignore
  docs/source-pytorch/accelerators/ipu_advanced.rst
  docs/source-pytorch/advanced/post_training_quantization.rst
  docs/source-pytorch/advanced/training_tricks.rst
  docs/source-pytorch/advanced/transfer_learning.rst
  docs/source-pytorch/common/precision_intermediate.rst
  docs/source-pytorch/data/custom_data_iterables.rst
  docs/source-pytorch/data/datamodule.rst
  docs/source-pytorch/debug/debugging_advanced.rst
  docs/source-pytorch/ecosystem/asr_nlp_tts.rst
  docs/source-pytorch/fabric/advanced/gradient_accumulation.rst
  docs/source-pytorch/fabric/fundamentals/notebooks.rst
  docs/source-pytorch/fabric/guide/logging.rst
  docs/source-pytorch/fabric/guide/multi_node/cloud.rst
  docs/source-pytorch/guides/data.rst
  docs/source-pytorch/starter/introduction.rst
  src/lightning/app/components/serve/auto_scaler.py
Labels: ci, app, pl

#16599 ci: simplify cashing
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-checks.yml
  .github/workflows/docs-deploy.yml
Labels: ready, ci

#16577 add secondary label to templates
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/2_refactor.yaml
  .github/ISSUE_TEMPLATE/3_feature_request.yaml
  .github/ISSUE_TEMPLATE/4_documentation.yaml
Labels: ci

#16597 opt_idx cleanup after optimizer loop changes
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/core/optimizer.py
  src/lightning/pytorch/loops/optimization/manual_loop.py
  src/lightning/pytorch/strategies/strategy.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
Labels: ready, refactor, optimization, code quality, pl

#16601 cleaning as standalone==mirror
  .actions/assistant.py
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  setup.py
  src/lightning/store/cloud_api.py
  tests/tests_cloud/test_model.py
  tests/tests_cloud/test_requirements.py
  tests/tests_cloud/test_source_code.py
  tests/tests_cloud/test_versioning.py
Labels: ready, ci

#16613 Fix TPU CI
  dockers/base-xla/tpu_workflow_fabric.jsonnet
  dockers/base-xla/tpu_workflow_pytorch.jsonnet
Labels: ci

#16598 Rename optimization loops
  src/lightning/pytorch/loops/__init__.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/optimization/__init__.py
  src/lightning/pytorch/loops/optimization/automatic.py
  src/lightning/pytorch/loops/optimization/manual.py
  src/lightning/pytorch/tuner/batch_size_scaling.py
  src/lightning/pytorch/utilities/migration/migration.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/loops/epoch/test_training_epoch_loop.py
  tests/tests_pytorch/loops/optimization/test_manual_loop.py
  tests/tests_pytorch/loops/optimization/test_optimizer_loop.py
  tests/tests_pytorch/loops/test_evaluation_loop_flow.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/loops/test_training_loop_flow_scalar.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/migration/test_migration.py
Labels: ready, refactor, optimization, loops, pl

#16612 ci: allow dispatch for flagship integrations
  .github/checkgroup.yml
  .github/workflows/_flagship-apps.yml
  .github/workflows/ci-flagship-apps.yml
  .github/workflows/legacy-checkpoints.yml
  .github/workflows/release-pypi.yml
Labels: ci

#16152 Show tf32 info only on rank 0
  src/lightning/fabric/accelerators/cuda.py
  tests/tests_fabric/accelerators/test_cuda.py
Labels: feature, ready, fabric, accelerator: cuda, fun

#16616 Update import in bug report template
  examples/pl_bug_report/bug_report_model.py
Labels: refactor, pl

#16618 Remove the obsolete `Strategy.dispatch` method
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/precision/precision_plugin.py
  src/lightning/pytorch/strategies/colossalai.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, breaking change, strategy, pl

#16619 ci: update coverage scope
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#16606 [App] Introduce Lightning Storage Commands
  pyproject.toml
  requirements/app/base.txt
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/cd.py
  src/lightning/app/cli/commands/cp.py
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/cli/commands/pwd.py
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/source_code/uploader.py
  src/lightning/app/utilities/cloud.py
  tests/tests_app/cli/test_cd.py
  tests/tests_app/cli/test_cp.py
  tests/tests_app/cli/test_ls.py
Labels: ready, app

#16621 Upgrade to HPU release 1.8.0
  .azure/hpu-tests.yml
  dockers/ci-runner-hpu/Dockerfile
  src/lightning/pytorch/utilities/imports.py
Labels: ready, ci, pl

#16571 Avoid wrapping prediction dataloader twice on TPU
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/tpu_spawn.py
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_pytorch/accelerators/test_tpu.py
Labels: bug, ready, accelerator: tpu, data handling, fabric, community, pl

#16570 Add MPI cluster environment
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/fabric/api/api_reference.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
  docs/source-pytorch/fabric/guide/multi_node/other.rst
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/environments/__init__.py
  src/lightning/fabric/plugins/environments/mpi.py
  src/lightning/pytorch/plugins/environments/__init__.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/plugins/environments/test_mpi.py
Labels: feature, ready, fabric, environment, pl, fun

#16625 [App] Add Missing Copyright
  src/lightning/app/cli/commands/app_commands.py
  src/lightning/app/cli/commands/cd.py
  src/lightning/app/cli/commands/connection.py
  src/lightning/app/cli/commands/cp.py
  src/lightning/app/cli/commands/logs.py
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/cli/commands/pwd.py
Labels: ready, app

#16622 [App] Enable listing at project level 2/n
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/cd.py
  src/lightning/app/cli/commands/cp.py
  src/lightning/app/cli/commands/ls.py
  tests/tests_app/cli/test_cp.py
  tests/tests_app/cli/test_ls.py
Labels: app, app:cli

#16624 [App] Add support for running with multiprocessing in the cloud
  src/lightning/app/core/constants.py
  src/lightning/app/runners/backends/mp_process.py
  src/lightning/app/runners/multiprocess.py
  src/lightning/app/utilities/network.py
  src/lightning/app/utilities/proxies.py
  tests/tests_app/conftest.py
  tests/tests_app/utilities/test_network.py
  tests/tests_app/utilities/test_proxies.py
Labels: ready, app, app:runners, app:cloud

#16632 fix(tests): use display_name in app/e2e
  src/lightning/app/testing/testing.py
Labels: ready, app

#16620 update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, ci

#16635 Fabric docs typo correction
  docs/source-pytorch/fabric/fundamentals/code_structure.rst
Labels: ready, docs, fabric, community, pl

#16631 [App] Enable uploading files to a project.
  requirements/app/base.txt
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/cp.py
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/storage/filesystem.py
  src/lightning/app/utilities/cli_helpers.py
  src/lightning/app/utilities/network.py
  tests/tests_app/cli/test_cp.py
  tests/tests_app/storage/test_filesystem.py
Labels: app

#16630 Move fsdp_native to fine-tuning recommendation
  docs/source-pytorch/advanced/model_parallel.rst
Labels: ready, docs, community, pl

#16611 Set `find_unused_parameters=False` as the default
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/advanced/strategy_registry.rst
  docs/source-pytorch/extensions/strategy.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/ddp_spawn.py
  src/lightning/pytorch/strategies/hpu_parallel.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/benchmarks/test_sync_batchnorm_parity.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
Labels: ready, breaking change, strategy: ddp, pl

#16557 [App] Fix `AutoScaler` example
  examples/app_server_with_auto_scaler/app.py
Labels: example, ready, app, components

#16623 Properly terminate MultiProcessing Runtime
  src/lightning/app/CHANGELOG.md
  src/lightning/app/utilities/proxies.py
Labels: bug, ready, app, app:runners, app:local

#16628 Fix TPU tests
  tests/tests_fabric/strategies/launchers/test_xla.py
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_pytorch/accelerators/test_tpu.py
Labels: ready, fabric, tests, pl

#16645 [App] Improve Storage Commands
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/cd.py
  src/lightning/app/cli/commands/ls.py
  tests/tests_app/cli/test_cd.py
  tests/tests_app/cli/test_cp.py
  tests/tests_app/cli/test_ls.py
Labels: app

#16659 Fix a typo in transfer_batch_to_device function's comment
  src/lightning/pytorch/core/hooks.py
Labels: ready, docs, community, pl

#16653 Refactor deterministic and benchmark logic
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, pl

#16658 Fix import from torch.distributed when distributed not available
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/utilities/test_imports.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: bug, ready, priority: 0, fabric, pl

#16666 ci: flagship flow - clean inputs
  .github/workflows/_build-packages.yml
  .github/workflows/_flagship-apps.yml
  .github/workflows/ci-flagship-apps.yml
Labels: ci

#16668 ci: replace pip cache with wheels
  .github/actions/pip-wheels/action.yml
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/schedule-clear-cache.yml
  .gitignore
Labels: ready, ci

#16651 Clarify default epoch and step values in ModelCheckpoint
  src/lightning/pytorch/callbacks/model_checkpoint.py
Labels: ready, docs, pl

#16661 Remove metric reset after checkpoint load
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
Labels: refactor, fault tolerance, pl

#16674 ci: fix torch +cpu in wheels
  .github/actions/pip-wheels/action.yml
Labels: ci

#16655 Remove outputs from `on_predict_epoch_end`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/callback.py
  src/lightning/pytorch/callbacks/prediction_writer.py
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/loops/dataloader/prediction_loop.py
  tests/tests_pytorch/loops/test_prediction_loop.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, hooks, loops, trainer: predict, pl

#16679 [App] Fix e2e CI, use display name in connection and show logs command
  src/lightning/app/cli/commands/connection.py
  src/lightning/app/cli/commands/logs.py
  src/lightning/app/utilities/cli_helpers.py
  tests/tests_app/cli/test_cmd_show_logs.py
  tests/tests_app/cli/test_connect.py
Labels: bug, ready, app, app:cli

#16643 Fix typo in printing app.py
  examples/app_installation_commands/app.py
Labels: example, ready, community, app

#16523 [App] Initial plugin server
  src/lightning/app/core/flow.py
  src/lightning/app/core/plugin.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/utilities/commands/base.py
  tests/tests_app/core/test_plugin.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#16646 Add `Strategy.on_exception`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/ddp_spawn.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/trainer/call.py
  src/lightning/pytorch/utilities/exceptions.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/strategies/test_ddp_spawn.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_exceptions.py
Labels: feature, ready, strategy: ddp, pl

#16680 Move logger utilities with the loggers
  src/lightning/pytorch/callbacks/progress/base.py
  src/lightning/pytorch/loggers/mlflow.py
  src/lightning/pytorch/loggers/utilities.py
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/loggers/test_utilities.py
Labels: ready, refactor, pl

#16678 Move fetchers classes with the loops
  src/lightning/pytorch/loops/dataloader/evaluation_loop.py
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/fetchers.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/utilities.py
  tests/tests_pytorch/loops/test_fetchers.py
Labels: ready, refactor, loops, pl

#16689 ci: merge pytest with slow
  .github/checkgroup.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ready, ci

#16692 tests: drop slow flag
  .github/workflows/ci-tests-pytorch.yml
  tests/tests_pytorch/callbacks/test_prediction_writer.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/loops/test_loops.py
Labels: ready, ci, tests, pl

#16670 [App] Enable to register data connections
  pyproject.toml
  requirements/app/base.txt
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/app_commands.py
  src/lightning/app/cli/commands/cd.py
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/cli/connect/__init__.py
  src/lightning/app/cli/connect/app.py
  src/lightning/app/cli/connect/data.py
  src/lightning/app/cli/lightning_cli.py
  tests/integrations_app/public/test_commands_and_api.py
  tests/tests_app/cli/test_connect.py
  tests/tests_app/cli/test_connect_data.py
  tests/tests_app/utilities/test_commands.py
Labels: ready, app

#16697 ci: parameterize GPU testing
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
Labels: ci

#16675 ci: wheels with continue-on-error
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#16700 [App] Connect and Disconnect node
  src/lightning/app/cli/connect/node.py
  src/lightning/app/cli/lightning_cli.py
  tests/tests_app/cli/test_connect_data.py
Labels: ready, app

#16701 [App] Maverick
  src/lightning/app/cli/connect/maverick.py
  src/lightning/app/cli/lightning_cli.py
Labels: ready, app

#16672 Update Fabric introduction
  docs/source-pytorch/fabric/fabric.rst
Labels: ready, docs, pl

#16695 Split train- and val progress into separate bars
  docs/source-pytorch/common/progress_bar.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/progress/base.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  tests/tests_pytorch/callbacks/progress/test_base_progress.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
Labels: feature, ready, breaking change, progress bar: rich, progress bar: tqdm, pl, fun

#16703 Remove the `trainer.data_parallel` property
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, breaking change, trainer, pl

#16682 Remove the unused `utilities.finite_checks`
  docs/source-pytorch/api_references.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/finite_checks.py
  tests/tests_pytorch/utilities/test_finite_checks.py
Labels: refactor, breaking change, pl

#16681 Remove the unused `utilities.metrics.metrics_to_scalars`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/metrics.py
Labels: refactor, breaking change, pl

#16713 move `_HPU_AVAILABLE`
  src/lightning/pytorch/accelerators/hpu.py
  src/lightning/pytorch/plugins/precision/hpu.py
  src/lightning/pytorch/strategies/hpu_parallel.py
  src/lightning/pytorch/strategies/single_hpu.py
  src/lightning/pytorch/trainer/setup.py
  src/lightning/pytorch/utilities/__init__.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/accelerators/test_hpu.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: pl

#16712 Move `Trainer._log_hyperparams` to an utility
  src/lightning/pytorch/loggers/utilities.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/models/test_hparams.py
Labels: refactor, trainer, pl

#16709 Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: ready

#16710 Update examples with multiple optimizers
  examples/pl_domain_templates/generative_adversarial_net.py
  examples/pl_domain_templates/reinforce_learn_ppo.py
  src/lightning/pytorch/demos/mnist_datamodule.py
Labels: example, ready, refactor, pl, fun

#16711 Group `torch.compile` utilities together
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/compile.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_compile.py
Labels: ready, refactor, trainer, pl

#16717 Releasing v1.9.1
  src/lightning_app/CHANGELOG.md
  src/lightning_fabric/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
  src/version.info
Labels: ready, release, fabric, app, pl

#16704 Move `inference_mode` logic to the loops
  src/lightning/pytorch/loops/dataloader/evaluation_loop.py
  src/lightning/pytorch/loops/dataloader/prediction_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/utilities.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/trainer/flags/test_inference_mode.py
Labels: ready, refactor, loops, trainer, pl

#16720 ci/hotfix: legacy workflow
  .github/workflows/README.md
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-checkpoints.yml
  .github/workflows/release-pypi.yml
Labels: bug, ready, ci

#16722 ci/hotfix: pypi releasing
  .github/workflows/release-pypi.yml
Labels: ready, ci

#16724 ci: freeze pypi releasing
  .github/workflows/release-pypi.yml
Labels: ci

#16696 update chlog after 1.9.1 release
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ready, fabric, app, pl

#16718 preparing 1.9.2dev
  src/lightning_app/CHANGELOG.md
  src/lightning_fabric/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
  src/version.info
Labels: ready, fabric, app, pl

#16719 Fix min-epochs and early-stopping triggering too many validation runs
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  tests/tests_pytorch/loops/epoch/test_training_epoch_loop.py
  tests/tests_pytorch/loops/test_training_loop.py
Labels: bug, ready, callback: early stopping, loops, pl

#16723 [App] Revert raising error from LightningClient on 500
  src/lightning/app/utilities/network.py
Labels: bug, ready, app

#16714 Refactor `CombinedLoader` using pytrees
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/fetchers.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/supporters.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/_pytree.py
  src/lightning/pytorch/utilities/data.py
  tests/tests_pytorch/loops/test_fetchers.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/utilities/test_data.py
  tests/tests_pytorch/utilities/test_pytree.py
Labels: ready, refactor, data handling, pl

#16721 ci: fix legacy workflow
  .github/workflows/README.md
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-checkpoints.yml
  .github/workflows/release-pypi.yml
Labels: ci

#16729 Separate the Gradient Accumulation Scheduler from Trainer
  docs/source-pytorch/common/gradient_accumulation.rst
  docs/source-pytorch/common/optimization.rst
  docs/source-pytorch/common/trainer.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/gradient_accumulation_scheduler.py
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/strategies/colossalai.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/ipu.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/connectors/callback_connector.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/callbacks/test_gradient_accumulation_scheduler.py
  tests/tests_pytorch/strategies/test_colossalai.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, breaking change, callback: gradient accumulation, pl, fun

#16708 Remove argparse utils
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/cli/lightning_cli.rst
  docs/source-pytorch/common/checkpointing_basic.rst
  docs/source-pytorch/common/hyperparameters.rst
  docs/source-pytorch/common/trainer.rst
  examples/pl_domain_templates/generative_adversarial_net.py
  examples/pl_domain_templates/reinforce_learn_Qnet.py
  examples/pl_domain_templates/reinforce_learn_ppo.py
  examples/pl_domain_templates/semantic_segmentation.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/datamodule.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/argparse.py
  src/lightning/pytorch/utilities/parsing.py
  src/lightning/pytorch/utilities/types.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/trainer/test_trainer_cli.py
  tests/tests_pytorch/utilities/test_argparse.py
  tests/tests_pytorch/utilities/test_parsing.py
Labels: ready, argparse (deprecated), breaking change, pl, fun

#16702 Group trainer call methods as functions
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/core/optimizer.py
  src/lightning/pytorch/loops/dataloader/evaluation_loop.py
  src/lightning/pytorch/loops/dataloader/prediction_loop.py
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/prediction_epoch_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/optimization/automatic.py
  src/lightning/pytorch/loops/optimization/manual.py
  src/lightning/pytorch/plugins/precision/precision_plugin.py
  src/lightning/pytorch/trainer/call.py
  src/lightning/pytorch/trainer/connectors/callback_connector.py
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, refactor, trainer, pl

#16744 Remove the unused `utilities.parsing.flatten_dict`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/__init__.py
  src/lightning/pytorch/utilities/parsing.py
  tests/tests_pytorch/utilities/test_parsing.py
Labels: refactor, breaking change, pl

#16743 "sequential" mode for `CombinedLoader`
  examples/pl_servable_module/production.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/supporters.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/flags/test_overfit_batches.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
Labels: feature, data handling, pl

#16731 Remove to-device functionality from fetchers
  src/lightning/pytorch/loops/dataloader/evaluation_loop.py
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/fetchers.py
  src/lightning/pytorch/loops/fit_loop.py
Labels: refactor, loops, pl

#16749 ci: fix dependabot
  .github/checkgroup.yml
Labels: ready, ci

#16738 [App] Add support for private data
  requirements/app/base.txt
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/cli/connect/data.py
  tests/tests_app/cli/test_connect_data.py
Labels: ready, app

#16745 Remove Trainer's `track_grad_norm` argument
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/debug/debugging_intermediate.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/plugins/precision/colossalai.py
  src/lightning/pytorch/plugins/precision/deepspeed.py
  src/lightning/pytorch/plugins/precision/precision_plugin.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/models/test_cpu.py
  tests/tests_pytorch/models/test_grad_norm.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_colossalai.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, breaking change, trainer: argument, pl

#16746 Remove the BaguaStrategy
  .azure/gpu-tests-pytorch.yml
  dockers/base-cuda/Dockerfile
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/strategy.rst
  requirements/pytorch/check-avail-strategies.py
  src/lightning/pytorch/plugins/environments/__init__.py
  src/lightning/pytorch/plugins/environments/bagua_environment.py
  src/lightning/pytorch/strategies/__init__.py
  src/lightning/pytorch/strategies/bagua.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/strategies/test_bagua_strategy.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, ci, breaking change, strategy: bagua, pl

#16740 [App] Add rm one level below project level
  examples/app_commands_and_api/app.py
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/cp.py
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/cli/commands/rm.py
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/testing/testing.py
  src/lightning/app/utilities/cli_helpers.py
  tests/integrations_app/public/test_commands_and_api.py
  tests/tests_app/cli/test_rm.py
  tests/tests_app/utilities/test_commands.py
Labels: feature, ready, app

#16752 ci: cleaning caches
  .github/workflows/cleanup-caches.yml
Labels: ci

#16753 Make dataloader_idx optional for batch start/end hooks
  src/lightning/app/cli/pl-app-template/core/callbacks.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/callback.py
  src/lightning/pytorch/callbacks/device_stats_monitor.py
  src/lightning/pytorch/callbacks/prediction_writer.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/prediction_epoch_loop.py
  tests/tests_pytorch/accelerators/test_hpu.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/callbacks/test_callback_hook_outputs.py
  tests/tests_pytorch/loops/test_all.py
  tests/tests_pytorch/loops/test_fetchers.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, breaking change, hooks, app, pl

#16747 CI: Update colossalai version
  .azure/gpu-tests-pytorch.yml
  .azure/ipu-tests.yml
  dockers/base-cuda/Dockerfile
  dockers/base-xla/tpu_workflow_pytorch.jsonnet
  requirements/pytorch/strategies.txt
  src/lightning/pytorch/strategies/colossalai.py
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/strategies/test_colossalai.py
Labels: ready, ci, 3rd party, pl, strategy: colossalai

#16725 Weekly Patch Release v1.9.2
  .azure/gpu-tests-pytorch.yml
  .azure/ipu-tests.yml
  .git-blame-ignore-revs
  .github/workflows/cleanup-caches.yml
  dockers/base-cuda/Dockerfile
  dockers/base-xla/tpu_workflow_pytorch.jsonnet
  requirements/app/base.txt
  requirements/pytorch/extra.txt
  requirements/pytorch/strategies.txt
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/commands/cp.py
  src/lightning_app/cli/commands/ls.py
  src/lightning_app/cli/commands/rm.py
  src/lightning_app/cli/connect/data.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/testing/testing.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/connector.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/strategies/colossalai.py
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/version.info
  tests/integrations_app/public/test_commands_and_api.py
  tests/tests_app/cli/test_connect_data.py
  tests/tests_app/cli/test_rm.py
  tests/tests_app/utilities/test_commands.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/loops/epoch/test_training_epoch_loop.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/strategies/test_colossalai.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, ci, release, fabric, app, pl

#16757 Replace ColossalAIStrategy with external implementation
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/plugins.rst
  requirements/pytorch/strategies.txt
  src/lightning/pytorch/callbacks/gradient_accumulation_scheduler.py
  src/lightning/pytorch/plugins/__init__.py
  src/lightning/pytorch/plugins/precision/__init__.py
  src/lightning/pytorch/plugins/precision/colossalai.py
  src/lightning/pytorch/strategies/__init__.py
  src/lightning/pytorch/strategies/colossalai.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/callbacks/test_gradient_accumulation_scheduler.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/strategies/test_colossalai.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, breaking change, pl, strategy: colossalai

#16759 Remove the `Trainer.prediction_writer_callbacks` property
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/epoch/prediction_epoch_loop.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, refactor, breaking change, trainer, pl

#16754 Remove dead code in the loops
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
Labels: refactor, loops, pl

#16769 ci/hotfix: if cache/wheels missing
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: bug, ready, ci

#16750 Remove the QuantizationAwareTraining callback
  docs/source-pytorch/advanced/pruning_quantization.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/callbacks.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/__init__.py
  src/lightning/pytorch/callbacks/quantization.py
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
  src/lightning/pytorch/utilities/__init__.py
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  tests/tests_pytorch/callbacks/test_quantization.py
  tests/tests_pytorch/helpers/runif.py
Labels: ready, pl

#16771 Make the trainer a required loop argument
  src/lightning/pytorch/loops/dataloader/dataloader_loop.py
  src/lightning/pytorch/loops/dataloader/evaluation_loop.py
  src/lightning/pytorch/loops/dataloader/prediction_loop.py
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/prediction_epoch_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/loop.py
  src/lightning/pytorch/loops/optimization/automatic.py
  src/lightning/pytorch/loops/optimization/manual.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/trainer/flags/test_inference_mode.py
Labels: refactor, loops, pl

#16748 Remove DP
  docs/source-pytorch/accelerators/gpu_faq.rst
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/extensions/strategy.rst
  docs/source-pytorch/guides/speed.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/overrides/data_parallel.py
  src/lightning/pytorch/strategies/__init__.py
  src/lightning/pytorch/strategies/dp.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/overrides/test_data_parallel.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/strategies/test_dp.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_config_validator.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_compile.py
  tests/tests_pytorch/utilities/test_dtype_device_mixin.py
Labels: ready, strategy: dp, breaking change, pl

#16760 Use the local batch_idx to update the progress bar
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/progress/base.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
Labels: ready, refactor, breaking change, progress bar: rich, progress bar: tqdm, pl

#16774 Fix RunningStage properties for sanity checking
  src/lightning/pytorch/trainer/states.py
Labels: ready, refactor, pl

#16775 Run XLA's dataloader validation per dataloader
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/strategies/tpu_spawn.py
  tests/tests_pytorch/strategies/test_tpu_spawn.py
Labels: ready, refactor, data handling, fabric, pl

#16776 Prefetch if it's not a sized iterable
  src/lightning/pytorch/loops/dataloader/evaluation_loop.py
  src/lightning/pytorch/loops/fetchers.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/utilities.py
  tests/tests_pytorch/loops/test_fetchers.py
Labels: ready, refactor, data handling, loops, pl

#16773 Remove duplicate no_grad context managers
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, refactor, pl

#16778 Update Colossal AI docs and integration
  dockers/base-cuda/Dockerfile
  dockers/nvidia/Dockerfile
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/advanced/third_party/colossalai.rst
  docs/source-pytorch/extensions/strategy.rst
  requirements/pytorch/strategies.txt
  src/lightning/pytorch/CHANGELOG.md
Labels: ready, docs, ci, pl, strategy: colossalai

#16784 `SequentialMode` and `dataloader_iter` improvements
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/fetchers.py
  src/lightning/pytorch/trainer/supporters.py
  tests/tests_pytorch/trainer/test_supporters.py
Labels: feature, ready, data handling, pl

#16785 Fix `set_epoch` not getting called for prediction dataloaders
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/overrides/distributed.py
  tests/tests_pytorch/loops/test_prediction_loop.py
Labels: bug, ready, data handling, trainer: predict, pl

#16789 Trigger colossalai integration test in CI
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, ci, pl

#16786 [App] Fix idle timeout e2e
  src/lightning/app/core/work.py
  tests/integrations_app/apps/idle_timeout/app.py
Labels: ready, app

#16781 Rename the TPUSpawnStrategy to XLAStrategy
  docs/source-pytorch/accelerators/tpu_faq.rst
  docs/source-pytorch/advanced/strategy_registry.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/strategy.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/__init__.py
  src/lightning/pytorch/strategies/launchers/xla.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/strategies/test_registry.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/strategies/test_xla.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
Labels: ready, accelerator: tpu, refactor, breaking change, fabric, pl

#16751 fix warning so the user has a clear next step
  src/lightning/app/components/serve/auto_scaler.py
  src/lightning/app/components/serve/python_server.py
Labels: ready, app

#16782 [App] Reserve APP_SERVER_PORT in cloud port allocation
  src/lightning/app/utilities/network.py
  tests/tests_app/utilities/test_network.py
Labels: bug, ready, app, app:cloud

#16767 Introduce new precision layout in fabric
  docs/source-pytorch/fabric/api/fabric_args.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
  docs/source-pytorch/fabric/fundamentals/precision.rst
  docs/source-pytorch/fabric/guide/multi_node/cloud.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/cli.py
  src/lightning/fabric/connector.py
  src/lightning/fabric/fabric.py
  src/lightning/fabric/plugins/precision/amp.py
  src/lightning/fabric/plugins/precision/deepspeed.py
  src/lightning/fabric/plugins/precision/double.py
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/fabric/plugins/precision/precision.py
  src/lightning/fabric/plugins/precision/tpu_bf16.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/plugins/precision/amp.py
  src/lightning/pytorch/plugins/precision/deepspeed.py
  src/lightning/pytorch/plugins/precision/double.py
  src/lightning/pytorch/plugins/precision/hpu.py
  src/lightning/pytorch/plugins/precision/ipu.py
  src/lightning/pytorch/plugins/precision/tpu_bf16.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_fabric/plugins/precision/test_amp.py
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/plugins/precision/test_deepspeed.py
  tests/tests_fabric/plugins/precision/test_deepspeed_integration.py
  tests/tests_fabric/plugins/precision/test_double_integration.py
  tests/tests_fabric/plugins/precision/test_fsdp.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_cli.py
  tests/tests_fabric/test_connector.py
Labels: ready, fabric, precision: double, precision: amp, pl

#16765 [App] Refactor plugins to be a standalone `LightningPlugin`
  src/lightning/app/__init__.py
  src/lightning/app/core/__init__.py
  src/lightning/app/core/flow.py
  src/lightning/app/core/plugin.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/runners/multiprocess.py
  src/lightning/app/utilities/commands/base.py
  src/lightning/app/utilities/load_app.py
  tests/tests_app/cli/test_run_app.py
  tests/tests_app/core/lightning_app/test_configure_layout.py
  tests/tests_app/core/test_plugin.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, refactor, app

#16726 Sequential `CombinedLoader` to flatten the eval and predict loops
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/batch_size_finder.py
  src/lightning/pytorch/callbacks/prediction_writer.py
  src/lightning/pytorch/loops/__init__.py
  src/lightning/pytorch/loops/dataloader/__init__.py
  src/lightning/pytorch/loops/dataloader/dataloader_loop.py
  src/lightning/pytorch/loops/dataloader/prediction_loop.py
  src/lightning/pytorch/loops/epoch/__init__.py
  src/lightning/pytorch/loops/epoch/evaluation_epoch_loop.py
  src/lightning/pytorch/loops/epoch/prediction_epoch_loop.py
  src/lightning/pytorch/loops/epoch/training_epoch_loop.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/loops/utilities.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/supporters.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/tuner/batch_size_scaling.py
  src/lightning/pytorch/utilities/types.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/callbacks/test_prediction_writer.py
  tests/tests_pytorch/loops/epoch/test_training_epoch_loop.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/loops/test_fetchers.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_prediction_loop.py
  tests/tests_pytorch/strategies/test_single_device_strategy.py
  tests/tests_pytorch/strategies/test_xla.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/flags/test_limit_batches.py
  tests/tests_pytorch/trainer/flags/test_overfit_batches.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
  tests/tests_pytorch/utilities/test_auto_restart.py
Labels: ready, refactor, data handling, breaking change, loops, pl

#16783 Introduce new precision layout in PL
  docs/source-pytorch/common/precision_basic.rst
  docs/source-pytorch/common/precision_expert.rst
  docs/source-pytorch/common/precision_intermediate.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
  examples/app_multi_node/train_fabric.py
  examples/pl_hpu/mnist_sample.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/precision/amp.py
  src/lightning/pytorch/plugins/precision/deepspeed.py
  src/lightning/pytorch/plugins/precision/double.py
  src/lightning/pytorch/plugins/precision/fsdp.py
  src/lightning/pytorch/plugins/precision/hpu.py
  src/lightning/pytorch/plugins/precision/ipu.py
  src/lightning/pytorch/plugins/precision/tpu_bf16.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/utils.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/accelerators/test_hpu.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
  tests/tests_pytorch/helpers/deterministic_model.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_ddp_fork_amp.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/plugins/precision/hpu/test_hpu.py
  tests/tests_pytorch/plugins/precision/test_amp.py
  tests/tests_pytorch/plugins/precision/test_amp_integration.py
  tests/tests_pytorch/plugins/precision/test_deepspeed_precision.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/plugins/test_double_plugin.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
  tests/tests_pytorch/utilities/test_deepspeed_collate_checkpoint.py
  tests/tests_pytorch/utilities/test_deepspeed_model_summary.py
  tests/tests_pytorch/utilities/test_torchdistx.py
Labels: precision: double, precision: amp, app, pl

#16794 [App] fix `lightning open` command & better redirects
  src/lightning/app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: bug, ready, app

#16817 Add back external colossalai test
  requirements/pytorch/strategies.txt
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, tests, pl, strategy: colossalai

#16806 Fix XLAEnvironment detection on TPU pod
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
Labels: bug, fabric, pl, fun

#16797 Add missing docs quote
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/fundamentals/convert.rst
Labels: ready, docs, pl

#16792 Fix bug in lightning_cli_advanced_3.rst
  docs/source-pytorch/cli/lightning_cli_advanced_3.rst
Labels: ready, docs, lightningcli, pl

#16780 Make DDP subprocess the default launcher for multi-device
  docs/source-pytorch/accelerators/gpu_faq.rst
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/extensions/strategy.rst
  docs/source-pytorch/starter/style_guide.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/accelerators/test_common.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, breaking change, fabric, strategy: ddp, strategy: ddp spawn, pl

#16803 Resolve FitLoop setter TODOs
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/trainer/setup.py
  src/lightning/pytorch/tuner/batch_size_scaling.py
  src/lightning/pytorch/tuner/lr_finder.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/trainer/test_dataloaders.py
Labels: ready, refactor, breaking change, loops, pl

#16801 Move `_TrainingEpochLoop`
  src/lightning/pytorch/loops/__init__.py
  src/lightning/pytorch/loops/epoch/__init__.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/training_epoch_loop.py
  tests/tests_pytorch/loops/epoch/__init__.py
  tests/tests_pytorch/loops/test_training_epoch_loop.py
Labels: refactor, loops, pl

#16791 Remove the `*_step_end` hooks
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/extensions/logging.rst
  docs/source-pytorch/starter/style_guide.rst
  docs/source-pytorch/tuning/profiler_basic.rst
  docs/source-pytorch/visualize/logging_advanced.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/demos/boring_classes.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/optimization/automatic.py
  src/lightning/pytorch/loops/optimization/manual.py
  src/lightning/pytorch/strategies/hpu_parallel.py
  src/lightning/pytorch/strategies/single_hpu.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/connectors/logger_connector/fx_validator.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/helpers/deterministic_model.py
  tests/tests_pytorch/loops/optimization/test_manual_loop.py
  tests/tests_pytorch/loops/test_evaluation_loop_flow.py
  tests/tests_pytorch/loops/test_fetchers.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/loops/test_training_loop_flow_dict.py
  tests/tests_pytorch/loops/test_training_loop_flow_scalar.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: ready, strategy: dp, breaking change, pl

#16818 Set accelerator through CLI only if set explicitly
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/cli.py
  tests/tests_fabric/test_cli.py
  tests/tests_fabric/test_connector.py
Labels: bug, ready, fabric

#16805 Avoid instantiating CombinedDataset unnecessarily
  src/lightning/pytorch/trainer/supporters.py
  src/lightning/pytorch/tuner/batch_size_scaling.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
Labels: ready, refactor, data handling, breaking change, pl

#16705 Always run standalone tests
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  tests/tests_pytorch/run_standalone_tests.sh
Labels: ready, ci, pl

#16819 Move the `CombinedLoader` to an utility file
  docs/source-pytorch/guides/data.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fetchers.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/utilities/__init__.py
  src/lightning/pytorch/utilities/combined_loader.py
  tests/tests_pytorch/loops/test_fetchers.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/utilities/test_combined_loader.py
Labels: ready, refactor, pl

#16825 Add more pytree tests
  tests/tests_pytorch/utilities/test_combined_loader.py
  tests/tests_pytorch/utilities/test_pytree.py
Labels: ready, tests, pl

#16835 [App] Fix local app run with relative import
  src/lightning/app/utilities/load_app.py
  tests/tests_app/core/scripts/app_with_local_import.py
  tests/tests_app/utilities/test_load_app.py
Labels: bug, ready, app

#16820 Move `max_batches` definition to the Loops
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/loops/test_training_epoch_loop.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, data handling, breaking change, pl

#16829 Rename `replace_sampler_ddp|replace_sampler` to `use_distributed_sampler`
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/fabric/api/fabric_methods.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_fabric/test_fabric.py
  tests/tests_pytorch/benchmarks/test_basic_parity.py
  tests/tests_pytorch/benchmarks/test_sync_batchnorm_parity.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/utilities/test_combined_loader.py
Labels: ready, refactor, breaking change, fabric, trainer: argument, pl

#16741 Remove implicit frontend testing from `testing.run_app_in_cloud`
  docs/source/examples/file_server/app.py
  src/lightning/app/CHANGELOG.md
  src/lightning/app/runners/cloud.py
  src/lightning/app/testing/testing.py
  tests/integrations_app/public/test_commands_and_api.py
  tests/integrations_app/public/test_v0_app.py
Labels: ready, tests, app

#16826 Consume the prediction batch indices iteratively
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/loops/utilities.py
  src/lightning/pytorch/overrides/distributed.py
  src/lightning/pytorch/utilities/data.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/loops/test_prediction_loop.py
  tests/tests_pytorch/loops/test_utilities.py
  tests/tests_pytorch/overrides/test_distributed.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_data.py
Labels: ready, refactor, data handling, trainer: predict, pl

#16832 [App] Add support for plugins to return actions
  requirements/app/base.txt
  src/lightning/app/__init__.py
  src/lightning/app/core/__init__.py
  src/lightning/app/plugin/__init__.py
  src/lightning/app/plugin/actions.py
  src/lightning/app/plugin/plugin.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/utilities/cloud.py
  src/lightning/app/utilities/load_app.py
  tests/tests_app/plugin/__init__.py
  tests/tests_app/plugin/test_plugin.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#16841 Fabric: do `set_epoch` for `batch_sampler.sampler`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/data.py
  src/lightning/fabric/wrappers.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/loops/utilities.py
  tests/tests_fabric/test_wrappers.py
  tests/tests_fabric/utilities/test_data.py
  tests/tests_pytorch/loops/test_prediction_loop.py
  tests/tests_pytorch/loops/test_utilities.py
Labels: bug, ready, fabric, pl

#16844 Fix for hanging issue on TPU Pod
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/launchers/xla.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/launchers/xla.py
  src/lightning/pytorch/strategies/xla.py
Labels: bug, ready, accelerator: tpu, fabric, community, pl

#16833 Update changelog after 1.9.3 and bump version for RC
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ready, docs, release, fabric, app, pl

#16842 Fabric: auto default
  docs/source-pytorch/fabric/fundamentals/accelerators.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/fabric.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_parity.py
Labels: ready, refactor, breaking change, fabric, pl

#16847 Trainer: auto default
  docs/source-pytorch/accelerators/gpu_basic.rst
  docs/source-pytorch/accelerators/hpu_basic.rst
  docs/source-pytorch/accelerators/ipu_basic.rst
  docs/source-pytorch/accelerators/tpu_basic.rst
  docs/source-pytorch/common/trainer.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/accelerators/test_gpu.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/callbacks/test_pruning.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, breaking change, trainer: argument, pl

#16862 Fix amp ddp test in Fabric
  tests/tests_fabric/plugins/precision/test_amp_integration.py
Labels: bug, ready, fabric, tests
