Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-12, with the labels that each got.

#19099 Bump Lightning Cloud to 0.5.57
  requirements/app/app.txt
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/dataset.py
Labels: ready, app, dependencies, data

#19090 Add `@override` for files in `src/lightning/fabric/loggers`
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/fabric/loggers/tensorboard.py
Labels: ready, fabric, code quality, community

#19055 Fix the "our" word duplication in the docs
  docs/source-fabric/fundamentals/installation.rst
  docs/source-fabric/index.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/starter/installation.rst
Labels: ready, docs, fabric, community, pl

#19098 Add `@override` for files in `src/lightning/fabric/plugins/environments`
  src/lightning/fabric/plugins/environments/kubeflow.py
  src/lightning/fabric/plugins/environments/lightning.py
  src/lightning/fabric/plugins/environments/lsf.py
  src/lightning/fabric/plugins/environments/mpi.py
  src/lightning/fabric/plugins/environments/slurm.py
  src/lightning/fabric/plugins/environments/torchelastic.py
  src/lightning/fabric/plugins/environments/xla.py
Labels: ready, fabric, code quality, community

#19060 Reorder `configure_model`
  docs/source-pytorch/common/lightning_module.rst
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/models/test_hooks.py
Labels: ready, docs, breaking change, pl

#19116 docs: drop legacy links
  docs/source-app/index.rst
Labels: docs, app

#19117 docs: drop legacy links
  docs/source-app/index.rst
Labels: ready, docs, app

#19114 Improve StreamingDataset Speed
  src/lightning/data/streaming/reader.py
  tests/tests_data/streaming/test_reader.py
Labels: ready, data

#19118 StreamingDataset improve deletion strategy
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/config.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/reader.py
  tests/tests_data/streaming/test_reader.py
Labels: ready, data

#19112 readme: fix codecov badge
  README.md
  src/pytorch_lightning/README.md
Labels: ready, pl, package

#19123 Fix: Resolve checkpointing for the Streaming Dataset
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/downloader.py
  tests/tests_data/streaming/test_dataset.py
Labels: bug, ready, data

#19139 docs: fix broken link awesome-panel
  docs/source-app/workflows/add_web_ui/panel/basic.rst
Labels: ready, docs, app

#19140 docs: fix broken link awesome-panel
  docs/source-app/workflows/add_web_ui/panel/basic.rst
Labels: docs, app

#19143 ci: run TPU only with label
  .github/workflows/tpu-tests.yml
Labels: ci, priority: 1, run TPU

#19145 ci: run TPU by label update
  .github/workflows/tpu-tests.yml
Labels: ci, run TPU

#19147 ci: build app's docs with RTFD
  .readthedocs.yml
  docs/crossroad.html
  docs/rtfd-build.sh
Labels: ready, docs, app

#19151 ci: update labeler config for v5
  .github/label-change.yml
Labels: ready, ci, priority: 1

#19141 ci/tests: cleaning standalone script
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  pyproject.toml
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/run_standalone_tests.sh
  tests/tests_fabric/conftest.py
  tests/tests_fabric/run_standalone_tests.sh
  tests/tests_fabric/run_tpu_tests.sh
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/profilers/test_profiler.py
  tests/tests_pytorch/run_standalone_tasks.sh
  tests/tests_pytorch/run_tpu_tests.sh
Labels: ci, fabric, pl, package, run TPU

#19142 Clarify error message by mentioning "spawn"
  src/lightning/fabric/fabric.py
Labels: ready, fabric

#19082 TransformerEngine fallback compute dtype
  docs/source-fabric/fundamentals/precision.rst
  docs/source-pytorch/common/precision_intermediate.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/precision/transformer_engine.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/plugins/precision/test_transformer_engine.py
  tests/tests_pytorch/deprecated_api/test_no_removal_version.py
  tests/tests_pytorch/plugins/precision/test_transformer_engine.py
Labels: ready, docs, fabric, pl, precision: te

#19146 ci: freeze requirements used in workflows
  .actions/requirements.txt
  .github/actions/pip-wheels/action.yml
  .github/actions/pkg-check/action.yml
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-checkpoints.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-data.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/ci-tests-store.yml
  .github/workflows/docs-build.yml
  .github/workflows/release-pkg.yml
  requirements/ci.txt
Labels: ready, docs, ci, dependencies, package

#19155 tests: mark lit drive as flaky
  tests/tests_app/storage/test_drive.py
Labels: app

#19154 Drop nvtx test
  tests/run_standalone_tests.sh
  tests/tests_pytorch/profilers/test_profiler.py
  tests/tests_pytorch/run_standalone_tasks.sh
Labels: ci, tests, pl

#19126 Use `step` parameter when logging metrics with NeptuneLogger
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/neptune.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_neptune.py
Labels: feature, ready, logger: neptune, community, pl

#19165 Fix standalone test file links
  .azure/gpu-tests-fabric.yml
  .github/checkgroup.yml
  tests/README.md
Labels: ci

#19133 Fix incorrect str plugin type
  src/lightning/fabric/connector.py
  src/lightning/pytorch/plugins/__init__.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/trainer.py
Labels: bug, ready, fabric, code quality, pl, fun

#19152 Avoid moving the model to device if `move_to_device=False`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/utilities/device_dtype_mixin.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_xla_fsdp_integration.py
  tests/tests_fabric/test_fabric.py
Labels: bug, ready, fabric

#19156 Add `@override` for files in `src/lightning/fabric/plugins/collectives`
  src/lightning/fabric/plugins/collectives/single_device.py
  src/lightning/fabric/plugins/collectives/torch_collective.py
Labels: ready, fabric, code quality

#19158 Add `@override` for files in `src/lightning/fabric/plugins/precision`
  src/lightning/fabric/plugins/precision/amp.py
  src/lightning/fabric/plugins/precision/bitsandbytes.py
  src/lightning/fabric/plugins/precision/deepspeed.py
  src/lightning/fabric/plugins/precision/double.py
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/fabric/plugins/precision/half.py
  src/lightning/fabric/plugins/precision/transformer_engine.py
  src/lightning/fabric/plugins/precision/xla.py
Labels: ready, fabric, code quality

#19166 Drop torch.compile fullgraph test
  tests/tests_fabric/test_fabric.py
Labels: fabric, tests

#19157 Add `@override` for files in `src/lightning/fabric/plugins/io`
  src/lightning/fabric/plugins/io/torch_io.py
  src/lightning/fabric/plugins/io/xla.py
Labels: ready, fabric, code quality

#19159 Sort column headers for csv logger
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/loggers/test_csv.py
Labels: feature, ready, fabric, logger: csv, community, pl

#19180 Lightning App: Use the batch get endpoint
  src/lightning/app/core/app.py
  src/lightning/app/core/constants.py
  src/lightning/app/core/queues.py
  src/lightning/app/testing/helpers.py
  src/lightning/app/utilities/packaging/lightning_utils.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_queues.py
Labels: ready, app

#19168 StreamingDataset: Cleanup chunks right away if the dataset doesn't fit within the cache
  src/lightning/data/streaming/config.py
  src/lightning/data/streaming/downloader.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/reader.py
  tests/tests_data/streaming/test_reader.py
Labels: ready, data

#19182 lightning.data: Remove torch distributed for the Dataset Optimizer
  src/lightning/app/utilities/network.py
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/utilities/broadcast.py
  tests/tests_data/streaming/test_data_processor.py
  tests/tests_data/utilities/test_broadcast.py
Labels: ready, app, data

#19150 Support 4bit BNB layers meta-device materialization
  requirements/pytorch/extra.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/precision/bitsandbytes.py
  src/lightning/fabric/utilities/init.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
  tests/tests_fabric/utilities/test_init.py
Labels: feature, ready, fabric, pl, dependencies, precision: bnb

#19179 Fix expanding home directory for Trainer's `default_root_dir`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: bug, ready, trainer, community, pl

#19176 Fix filtering test names in `run_standalone_tests.sh` when checking for errors
  tests/run_standalone_tests.sh
  tests/tests_pytorch/strategies/test_ddp_integration.py
Labels: ready, tests, community, pl

#19193 Handle more of the flaky tests
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_fabric/utilities/test_spike.py
  tests/tests_pytorch/callbacks/test_spike.py
  tests/tests_pytorch/models/test_hparams.py
Labels: fabric, tests, pl, fun

#19184 `set_device` before `init_process_group`
  src/lightning/fabric/accelerators/cuda.py
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/accelerators/test_cuda.py
  tests/tests_fabric/strategies/test_deepspeed.py
  tests/tests_pytorch/strategies/test_deepspeed.py
Labels: ready, refactor, fabric, pl

#19191 Make saving 'last' checkpoint as symbolic link opt-in
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: feature, ready, breaking change, callback: model checkpoint, pl, fun

#19200 docker: fix folder names
  dockers/nvidia/Dockerfile
  dockers/release/Dockerfile
Labels: ready, ci, dockers

#19198 Adding test for legacy checkpoint created with 2.1.3
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#19196 feat(fr) StreamingDataset: Fault Tolerance v2 1/n
  src/lightning/data/streaming/__init__.py
  src/lightning/data/streaming/combined.py
  src/lightning/data/streaming/dataloader.py
  src/lightning/data/streaming/dataset.py
  tests/tests_data/streaming/test_cache.py
  tests/tests_data/streaming/test_combined.py
  tests/tests_data/streaming/test_dataloader.py
Labels: ready, data

#19199 chlog: fix formatting in title
  src/lightning/data/CHANGELOG.md
Labels: ready, release, data

#19202 docs: update chlog after 2.1.3 release
  src/lightning/app/CHANGELOG.md
  src/lightning/data/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ready, fabric, app, pl, data

#19203 ci: bump also conda requirements
  .github/workflows/release-pkg.yml
Labels: ready, ci

#19204 ci: cancel-in-progress if PR
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-flagship-apps.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-data.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/ci-tests-store.yml
  .github/workflows/code-checks.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-build.yml
  .github/workflows/tpu-tests.yml
Labels: docs, ci, dockers, package

#19205 Fix ModelCheckpoint tests from incomplete PR
  tests/tests_pytorch/checkpointing/test_checkpoint_callback_frequency.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/plugins/test_checkpoint_io_plugin.py
Labels: ready, tests, callback: model checkpoint, pl

#19201 StreamingDataset: Fault Tolerance v2 2/n
  src/lightning/data/streaming/dataloader.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/shuffle.py
  tests/tests_data/streaming/test_dataset.py
Labels: ready, data

#19209 Delay DeepSpeed config setup
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/strategies/test_deepspeed.py
Labels: ready, refactor, strategy: deepspeed, pl, fun

#19164 Ignore pytest cleanup warning
  tests/tests_fabric/__init__.py
  tests/tests_pytorch/__init__.py
Labels: ready, fabric, tests, pl
