Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-11, with the labels that each got.

#18901 Improve map and chunkify
  requirements/app/app.txt
  src/lightning/data/__init__.py
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/streaming/functions.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/writer.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready, app, dependencies

#18908 Skip hanging collective test
  tests/tests_fabric/plugins/collectives/test_torch_collective.py
Labels: ready, priority: 0, fabric, tests

#18897 Fix parsing of version in TensorBoardLogger and CSVLogger
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/fabric/loggers/tensorboard.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/tensorboard.py
  tests/tests_fabric/loggers/test_csv.py
  tests/tests_fabric/loggers/test_tensorboard.py
  tests/tests_pytorch/loggers/test_csv.py
  tests/tests_pytorch/loggers/test_tensorboard.py
Labels: bug, ready, logger: tensorboard, fabric, logger: csv, pl, fun

#18914 Fix bitsandbytes layer conversion under `init_module` context manager
  requirements/pytorch/extra.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/strategy.py
Labels: bug, ready, fabric, pl, dependencies

#18905 Add batches argument to throughput
  src/lightning/fabric/utilities/throughput.py
  src/lightning/pytorch/callbacks/throughput_monitor.py
  tests/tests_fabric/utilities/test_throughput.py
  tests/tests_pytorch/callbacks/test_throughput_monitor.py
Labels: feature, ready, fabric, pl

#18923 ci: restrict build docs on PR
  .github/workflows/docs-build.yml
  docs/source-app/conf.py
  docs/source-fabric/conf.py
  docs/source-pytorch/conf.py
Labels: ready, docs, ci, fabric, app, pl

#18903 Bitsandbytes docs improvements
  docs/source-fabric/api/fabric_args.rst
  docs/source-fabric/fundamentals/precision.rst
  docs/source-fabric/glossary/index.rst
  docs/source-pytorch/common/precision_intermediate.rst
Labels: ready, docs, fabric, pl

#18916 Update minimum typing-extensions to 4.4
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
Labels: ready, fabric, pl, dependencies

#18924 Rename Throughput flops argument
  src/lightning/fabric/utilities/throughput.py
  src/lightning/pytorch/callbacks/throughput_monitor.py
  tests/tests_fabric/utilities/test_throughput.py
Labels: fabric, pl

#18921 ci/docs: fix copy integration sub-docs
  .actions/assistant.py
  docs/source-app/conf.py
  docs/source-pytorch/conf.py
Labels: ready, docs, ci, priority: 1, app, pl

#18920 Improve s3 client support
  .github/CODEOWNERS
  index_1.txt
  src/lightning/data/streaming/client.py
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/streaming/downloader.py
  src/lightning/data/streaming/functions.py
  src/lightning/data/streaming/map.py
  tests/tests_data/streaming/test_client.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready, ci

#18927 Add tfloat32 to throughput
  src/lightning/fabric/accelerators/cuda.py
  src/lightning/fabric/utilities/throughput.py
Labels: feature, ready, fabric

#18922 Add `@override` for subclasses of PyTorch `_Launcher`
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/strategies/launchers/subprocess_script.py
  src/lightning/pytorch/strategies/launchers/xla.py
Labels: ready, code quality, community, pl

#18912 Improve map, optimize and StreamingDataset
  docs/source-app/conf.py
  docs/source-fabric/conf.py
  docs/source-pytorch/conf.py
  index_1.txt
  requirements/app/app.txt
  requirements/app/test.txt
  requirements/app/ui.txt
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/downloader.py
  src/lightning/data/streaming/functions.py
  src/lightning/data/streaming/reader.py
  tests/integrations_app/public/test_layout.py
  tests/tests_app/components/serve/test_model_inference_api.py
  tests/tests_app/components/serve/test_streamlit.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/frontend/panel/test_app_state_watcher.py
  tests/tests_app/frontend/panel/test_panel_serve_render_fn.py
  tests/tests_app/frontend/test_stream_lit.py
  tests/tests_app/storage/test_path.py
  tests/tests_data/streaming/test_cache.py
  tests/tests_data/streaming/test_data_processor.py
  tests/tests_data/streaming/test_dataset.py
Labels: ready, docs, fabric, app, pl, dependencies

#18939 Resolve bug with the uploader
  src/lightning/data/streaming/data_processor.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready

#18937 docs: ignore tutorial's link "what-is-a-gpu"
  docs/source-pytorch/conf.py
Labels: docs, pl

#18906 flatten dataclass hyperparameters for logging
  src/lightning/fabric/utilities/logger.py
  tests/tests_fabric/utilities/test_logger.py
Labels: ready, logger, fabric, community

#18940 Add dataset creation
  requirements/app/app.txt
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/config.py
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/functions.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready, app, dependencies

#18898 Install both `lightning` and `pytorch-lightning` in docker image
  dockers/release/Dockerfile
Labels: ready, ci, fun, dockers

#18949 lightning.data: Fix some bugs with optimize
  src/lightning/data/streaming/data_processor.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready

#18934 Add `@override` for subclasses of `Accelerator`
  src/lightning/pytorch/accelerators/cpu.py
  src/lightning/pytorch/accelerators/cuda.py
  src/lightning/pytorch/accelerators/mps.py
  src/lightning/pytorch/accelerators/xla.py
Labels: pl

#18929 Remove redundant Trainer state assignment
  src/lightning/pytorch/trainer/trainer.py
Labels: refactor, pl

#18942 Fix symlink permission error for "last" checkpoint on Windows
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: bug, callback: model checkpoint, pl, fun

#18948 Add `@override` for subclasses of PyTorch `Logger`
  src/lightning/pytorch/loggers/comet.py
  src/lightning/pytorch/loggers/csv_logs.py
  src/lightning/pytorch/loggers/logger.py
  src/lightning/pytorch/loggers/mlflow.py
  src/lightning/pytorch/loggers/neptune.py
  src/lightning/pytorch/loggers/tensorboard.py
  src/lightning/pytorch/loggers/wandb.py
Labels: code quality, community, pl

#18952 Fix parsing v100s in `get_available_flops`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/throughput.py
  tests/tests_fabric/utilities/test_throughput.py
Labels: bug, ready, fabric, fun

#18960 Add the input_dir in the cache_dir to avoid overlapping downloads
  src/lightning/data/streaming/dataset.py
  tests/tests_data/streaming/test_client.py
  tests/tests_data/streaming/test_dataset.py
Labels: ready

#18907 Greedily select files for data processor workers based on size
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/utilities/packing.py
  tests/tests_data/streaming/test_data_processor.py
  tests/tests_data/utilities/__init__.py
  tests/tests_data/utilities/test_packing.py
Labels: ready

#18958 Add more CUDA card FLOPs
  src/lightning/fabric/utilities/throughput.py
  tests/tests_fabric/utilities/test_throughput.py
Labels: feature, fabric

#18959 Add support for deleting chunks
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/writer.py
  src/lightning/data/utilities/format.py
  tests/tests_data/streaming/test_reader.py
  tests/tests_data/streaming/test_serializer.py
  tests/tests_data/streaming/test_writer.py
Labels: ready

#18957 Cache directory per worker to avoid collisions
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/dataset.py
  tests/tests_data/streaming/test_cache.py
  tests/tests_data/streaming/test_dataset.py
  tests/tests_data/streaming/test_serializer.py
Labels: ready

#18962 Bump Lightning Cloud to 0.5.51
  requirements/app/app.txt
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/functions.py
  tests/tests_data/streaming/test_serializer.py
Labels: ready, app, dependencies

#18964 Prevent downloading more chunks than needed
  src/lightning/data/streaming/reader.py
  tests/tests_data/streaming/test_data_processor.py
  tests/tests_data/streaming/test_dataset.py
  tests/tests_data/streaming/test_reader.py
  tests/tests_data/streaming/test_writer.py
Labels: ready

#18965 Bump Lightning Cloud Version to 0.5.52
  requirements/app/app.txt
Labels: app, dependencies

#18966 Add `@override` for files in `src/lightning/pytorch/loops`
  src/lightning/pytorch/loops/fetchers.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/optimization/automatic.py
  src/lightning/pytorch/loops/optimization/manual.py
  src/lightning/pytorch/loops/progress.py
  src/lightning/pytorch/loops/training_epoch_loop.py
Labels: ready, pl

#18904 Fix broken links on Lightning App docs
  docs/source-app/index.rst
Labels: ready, docs, community, app

#18954 Move torchmetrics to device when using FSDP
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, ready, fabric, strategy: fsdp, pl, fun

#18911 Add `@override` for subclasses of PyTorch `Strategy`
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/parallel.py
  src/lightning/pytorch/strategies/single_device.py
  src/lightning/pytorch/strategies/single_xla.py
  src/lightning/pytorch/strategies/xla.py
Labels: code quality, community, pl

#18963 Provide the default vocab size for the transformer demo model
  src/lightning/pytorch/demos/transformer.py
Labels: example, ready, pl

#18953 Add `@override` for files in `src/lightning/pytorch/core`
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/core/optimizer.py
Labels: ready, code quality, community, pl

#18976 App: Force plugin server to use localhost
  src/lightning/app/plugin/plugin.py
  tests/tests_app/plugin/test_plugin.py
Labels: ready, app

#18977 Add Video/Audio support
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/config.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/serializers.py
  src/lightning/data/streaming/writer.py
  tests/tests_data/streaming/test_cache.py
  tests/tests_data/streaming/test_dataset.py
  tests/tests_data/streaming/test_serializer.py
Labels: ready

#18980 App: Enable bundling addtional files into app source
  src/lightning/app/plugin/plugin.py
Labels: ready, app

#18981 App: Limit rate of requests to http queue
  src/lightning/app/core/constants.py
  src/lightning/app/core/queues.py
  tests/tests_app/core/test_queues.py
Labels: ready, app

#18928 Fix precision default from environment
  src/lightning/fabric/connector.py
  tests/tests_fabric/test_connector.py
Labels: bug, ready, fabric

#18993 Fix `ModelCheckpoint.CHECKPOINT_NAME_LAST` test interaction
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: bug, tests, callback: model checkpoint, pl

#18986 Fix typo
  src/lightning/pytorch/callbacks/prediction_writer.py
Labels: ready, community, pl

#18988 Avoid importing from `lightning.app` in `lightning.data`
  src/lightning/data/datasets/index.py
Labels: bug

#18992 Fix `trainer.save_checkpoint` after `trainer.test` with FSDP
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/strategy.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, ready, trainer: test, strategy: fsdp, pl, fun

#18994 Fix test interactions
  tests/tests_fabric/loggers/test_tensorboard.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/loggers/test_tensorboard.py
Labels: bug, ready, fabric, tests, pl, fun

#18989 Add multiple uploaders to the map, optimize
  src/lightning/data/streaming/data_processor.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready

#18996 Update auto_encoder.py to accomodate torchvision breaking change
  examples/pytorch/basics/autoencoder.py
Labels: example, ready, pl

#18961 ci: add labels for data & store
  .github/label-change.yml
Labels: ready, ci

#18894 Implement todos in tensorboard docs
  docs/source-pytorch/visualize/logging_basic.rst
Labels: ready, docs, pl

#18164 Improve media logging support in WandbLogger
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/conftest.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: feature, ready, logger: wandb, community, pl

#19008 ci: minor formatting update
  .github/workflows/release-pkg.yml
Labels: ready, ci

#19012 docs: pin some linked ipynb to 2.1.0
  docs/source-pytorch/advanced/post_training_quantization.rst
  docs/source-pytorch/starter/style_guide.rst
Labels: ready, docs, pl

#19014 docs: fix inter-sphinx to `numpy`
  docs/source-app/conf.py
Labels: bug, docs, app

#19013 ci/doc: enable build docs on spec version
  .github/workflows/docs-build.yml
Labels: ready, docs, ci

#19016 docs: enable retro dispatch build
  .github/workflows/docs-build.yml
Labels: docs, ci

#18789 Adding test for legacy checkpoint created with 2.1.x
  tests/legacy/back-compatible-versions.txt
  tests/tests_pytorch/strategies/test_ddp_integration.py
Labels: ready, checkpointing, tests, pl

#19018 ci/docs: upload with dispatch
  .github/workflows/docs-build.yml
Labels: ready, docs, ci, release

#19019 Remove the LightningDataset relying on un-maintained torchdata
  examples/data/image/imagenet.py
  requirements/data/data.txt
  src/lightning/data/__init__.py
  src/lightning/data/backends.py
  src/lightning/data/datasets/__init__.py
  src/lightning/data/datasets/base.py
  src/lightning/data/datasets/index.py
  src/lightning/data/datasets/iterable.py
  src/lightning/data/datasets/mapping.py
  src/lightning/data/fileio.py
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/dataloader.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/shuffle.py
  src/lightning/data/streaming/writer.py
  src/lightning/data/utilities/env.py
  tests/tests_data/datasets/__init__.py
  tests/tests_data/datasets/test_data/test_index.txt
  tests/tests_data/datasets/test_data/test_index_s3.txt
  tests/tests_data/datasets/test_env.py
  tests/tests_data/datasets/test_get_index.py
  tests/tests_data/datasets/test_iterable.py
  tests/tests_data/datasets/test_mapping.py
  tests/tests_data/streaming/test_cache.py
  tests/tests_data/streaming/test_dataset.py
  tests/tests_data/test_backends.py
  tests/tests_data/test_fileio.py
Labels: ready, dependencies, data

#18951 Remember the eval mode of submodules when switching trainer stages
  docs/source-pytorch/advanced/transfer_learning.rst
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/common/trainer.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/utilities/model_helpers.py
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/utilities/test_model_helpers.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: feature, ready, docs, trainer: fit, trainer: validate, pl, fun

#19017 Resolve Item Loader bugs
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/functions.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/sampler.py
  src/lightning/data/streaming/shuffle.py
  tests/tests_data/streaming/test_cache.py
  tests/tests_data/streaming/test_dataset.py
  tests/tests_data/streaming/test_reader.py
Labels: data

#19021 docs: update chlog with `2.1.1` & `2.1.2`
  src/lightning/app/CHANGELOG.md
  src/lightning/data/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ready, fabric, app, pl, data

#19026 Reduce lightning data's dependencies
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-data.yml
  .github/workflows/ci-tests-store.yml
  requirements/data/data.txt
  src/lightning/__setup__.py
Labels: ready, ci, dependencies, data

#19023 Fix fsspec local file protocol checks for new fsspec version
  requirements/app/app.txt
  requirements/data/cloud.txt
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  src/lightning/fabric/utilities/cloud_io.py
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  src/lightning/pytorch/trainer/trainer.py
Labels: bug, priority: 0, fabric, app, pl, dependencies, data

#18896 Update evaluation logging test
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: tests, pl

#19005 Add `@override` for files in `src/lightning/pytorch/tuner`
  src/lightning/pytorch/tuner/lr_finder.py
Labels: ready, tuner, code quality, community, pl

#18943 Add AttributeDict container for Fabric
  docs/source-fabric/api/utilities.rst
  docs/source-fabric/guide/checkpoint.rst
  docs/source-pytorch/conf.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/__init__.py
  src/lightning/fabric/utilities/data.py
  src/lightning/pytorch/core/mixins/hparams_mixin.py
  src/lightning/pytorch/core/saving.py
  src/lightning/pytorch/utilities/parsing.py
  tests/tests_fabric/utilities/test_data.py
  tests/tests_pytorch/utilities/test_parsing.py
Labels: feature, ready, docs, refactor, checkpointing, fabric, pl, fun

#19020 Add `@override` for files in `src/lightning/pytorch/profilers`
  src/lightning/pytorch/profilers/advanced.py
  src/lightning/pytorch/profilers/base.py
  src/lightning/pytorch/profilers/pytorch.py
  src/lightning/pytorch/profilers/simple.py
  src/lightning/pytorch/profilers/xla.py
Labels: ready, code quality, community, pl

#18910 Make input dir in DataProcessor required
  src/lightning/data/streaming/data_processor.py
Labels: ready, data

#18987 Improve handling the positional encoding in Transformer example
  src/lightning/pytorch/demos/transformer.py
  tests/tests_pytorch/demos/__init__.py
  tests/tests_pytorch/demos/transformer.py
Labels: example, ready, pl

#19030 Fix `rank_zero_only` rank not set in ddp-spawn based strategies
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/conftest.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_torchscript.py
Labels: bug, ready, priority: 0, fabric, strategy: ddp, pl, fun

#19034 Remove unnecessary torch.cuda.manual_seed_all()
  src/lightning/fabric/utilities/seed.py
Labels: ready, refactor, fabric, community

#19027 ThroughputMonitor Trainer callback fixes
  src/lightning/pytorch/callbacks/throughput_monitor.py
Labels: bug, ready, pl

#19037 Call `find_free_network_port` only if necessary
  src/lightning/fabric/plugins/environments/lightning.py
Labels: ready, refactor, fabric, environment: lightning, fun

#19036 Call `configure_model()` in `LM.load_from_checkpoint()`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/core/saving.py
  tests/tests_pytorch/models/test_hooks.py
Labels: feature, ready, strategy: fsdp, pl, fun

#19041 Add disk usage check before downloading files
  .github/workflows/ci-tests-data.yml
  src/lightning/data/streaming/data_processor.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready, ci, data

#19038 Re-enable dynamo tests that were fixed in PyTorch 2.1
  tests/tests_fabric/test_fabric.py
  tests/tests_pytorch/utilities/test_compile.py
Labels: ready, fabric, tests, pl, fun

#19022 Address test flakiness
  src/lightning/fabric/strategies/launchers/subprocess_script.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/strategies/launchers/test_subprocess_script.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/strategies/launchers/test_subprocess_script.py
  tests/tests_pytorch/strategies/test_ddp_integration.py
Labels: ready, fabric, tests, strategy: ddp, pl, fun

#17072 Fix last checkpoint finding in filtered files with correct extension
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: bug, ready, callback: model checkpoint, community, pl

#19044 Add direct s3 support to the streaming dataset
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/dataset.py
  tests/tests_data/streaming/test_dataset.py
Labels: ready, data

#19049 Add fault tolerance for the StreamingDataset 1/n
  src/lightning/data/streaming/__init__.py
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/shuffle.py
  tests/tests_data/streaming/test_data_processor.py
  tests/tests_data/streaming/test_dataset.py
Labels: data

#19050 Add numpy support for the StreamingDataset 1/2
  src/lightning/data/streaming/constants.py
  src/lightning/data/streaming/serializers.py
  tests/tests_data/streaming/test_serializer.py
Labels: ready, data

#19025 Add `@override` for files in `src/lightning/pytorch/plugins`
  src/lightning/pytorch/plugins/io/async_plugin.py
  src/lightning/pytorch/plugins/io/wrapper.py
  src/lightning/pytorch/plugins/layer_sync.py
  src/lightning/pytorch/plugins/precision/amp.py
  src/lightning/pytorch/plugins/precision/deepspeed.py
  src/lightning/pytorch/plugins/precision/double.py
  src/lightning/pytorch/plugins/precision/fsdp.py
  src/lightning/pytorch/plugins/precision/half.py
  src/lightning/pytorch/plugins/precision/precision.py
  src/lightning/pytorch/plugins/precision/xla.py
Labels: ready, code quality, community, pl

#19040 PyTest random order for Fabric tests
  .github/workflows/ci-tests-fabric.yml
  tests/tests_fabric/utilities/test_rank_zero.py
Labels: ready, ci, fabric, tests, fun

#19006 Add `@override` for files in `src/lightning/pytorch/trainer/callbacks`
  src/lightning/pytorch/callbacks/batch_size_finder.py
  src/lightning/pytorch/callbacks/device_stats_monitor.py
  src/lightning/pytorch/callbacks/early_stopping.py
  src/lightning/pytorch/callbacks/finetuning.py
  src/lightning/pytorch/callbacks/gradient_accumulation_scheduler.py
  src/lightning/pytorch/callbacks/lr_finder.py
  src/lightning/pytorch/callbacks/lr_monitor.py
  src/lightning/pytorch/callbacks/model_checkpoint.py
  src/lightning/pytorch/callbacks/model_summary.py
  src/lightning/pytorch/callbacks/on_exception_checkpoint.py
  src/lightning/pytorch/callbacks/prediction_writer.py
  src/lightning/pytorch/callbacks/progress/progress_bar.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  src/lightning/pytorch/callbacks/pruning.py
  src/lightning/pytorch/callbacks/rich_model_summary.py
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/callbacks/throughput_monitor.py
  src/lightning/pytorch/callbacks/timer.py
  src/lightning/pytorch/tuner/tuning.py
Labels: ready, code quality, community, pl

#19054 Make `ModelCheckpoint._format_checkpoint_name` an instance method
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: bug, ready, callback: model checkpoint, pl, fun

#19053 Fix docs for 'nn.Module from checkpoint'
  docs/source-pytorch/common/checkpointing_basic.rst
Labels: docs, pl, fun

#19057 Remove outdated "optimized installation" section from docs
  docs/source-pytorch/starter/installation.rst
Labels: ready, docs, pl, fun

#19052 Add fault tolerance Streaming Dataset 2/n
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/sampler.py
  src/lightning/data/streaming/serializers.py
  src/lightning/data/streaming/shuffle.py
  tests/tests_data/streaming/test_dataset.py
  tests/tests_data/streaming/test_reader.py
Labels: ready, data

#19046 Cast to >=float32 tensor when passing scalar to self.log
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
Labels: bug, ready, logging, community, pl

#18863 Handle checkpoint dirpath suffix in NeptuneLogger
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/neptune.py
  tests/tests_pytorch/loggers/test_neptune.py
Labels: bug, ready, logger: neptune, community, pl

#19067 Clarify setup of optimizer when using `empty_init=True`
  docs/source-fabric/advanced/model_init.rst
Labels: docs, fabric, strategy: fsdp, fun

#19065 Add `@override` for remaining files in `src/lightning/pytorch`
  src/lightning/pytorch/cli.py
  src/lightning/pytorch/serve/servable_module_validator.py
Labels: ready, code quality, community, pl

#19068 Add `@override` for files in `src/lightning/fabric/accelerators`
  src/lightning/fabric/accelerators/cpu.py
  src/lightning/fabric/accelerators/cuda.py
  src/lightning/fabric/accelerators/mps.py
  src/lightning/fabric/accelerators/registry.py
  src/lightning/fabric/accelerators/xla.py
Labels: ready, fabric, code quality, community

#19066 Clarify requirements for `Trainer.fit(ckpt_path="last")`
  docs/source-pytorch/common/evaluation_intermediate.rst
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
Labels: ready, docs, trainer, pl, fun

#19074 Fix comm initialization in `MPIEnvironment`
  .github/workflows/ci-tests-fabric.yml
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/environments/mpi.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/plugins/environments/test_mpi.py
Labels: bug, ready, ci, fabric, pl, fun, environment: mpi

#19080 Fix `item_per_sec` metric in ThroughputMonitor
  src/lightning/fabric/utilities/throughput.py
  tests/tests_fabric/utilities/test_throughput.py
  tests/tests_pytorch/callbacks/test_throughput_monitor.py
Labels: bug, ready, fabric, performance, pl

#19085 Make fsspec requirement the same across subpackages
  requirements/app/app.txt
  requirements/data/cloud.txt
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  src/lightning/pytorch/trainer/configuration_validator.py
Labels: ready, fabric, app, pl, dependencies, data

#19094 Resolve path for StreamingDataset
  src/lightning/data/streaming/dataset.py
  tests/tests_data/streaming/test_dataset.py
Labels: ready, data
