Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-05, with the labels that each got.

#17503 DDP Parity tests as standalone task
  .azure/gpu-tests-fabric.yml
  tests/tests_fabric/parity/test_parity_ddp.py
  tests/tests_fabric/run_standalone_tasks.sh
Labels: ready, ci, fabric, tests

#17529 Support compiling a module after it was set up by Fabric
  src/lightning/fabric/fabric.py
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/test_wrappers.py
Labels: bug, ready, fabric, torch.compile

#17320 Add an option to overwrite the existing checkpoint file
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: feature, ready, callback: model checkpoint, community, pl

#17374 Adding tests for legacy checkpoints - 1.8.x
  .github/workflows/_legacy-checkpoints.yml
  docs/source-pytorch/past_versions.rst
  tests/legacy/back-compatible-versions.txt
  tests/legacy/generate_checkpoints.sh
  tests/legacy/simple_classif_training.py
  tests/tests_pytorch/helpers/simple_models.py
Labels: ready, ci, checkpointing, tests, pl

#17552 add note in LightningCLI docs that `--optimizer` must be given for `--lr_scheduler` to work
  docs/source-pytorch/cli/lightning_cli_intermediate_2.rst
Labels: ready, docs, pl

#17553 feat: add LargeFileManager configuration to Jupyter in Dockerfile
  dockers/nvidia/Dockerfile
Labels: ci

#16648 Remove duplicate import checks
  requirements/collect_env_details.py
  src/lightning/fabric/utilities/imports.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/setup.py
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/testing/_runif.py
Labels: ready, refactor, fabric, pl

#17475 Added `SaveConfigCallback.save_config`
  docs/source-pytorch/cli/lightning_cli_advanced.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/cli.py
  tests/tests_pytorch/test_cli.py
Labels: feature, ready, lightningcli, pl

#17565 ci: drop secondary pkg for LAI
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#17562 Adding test for legacy checkpoints
  .actions/pull_legacy_checkpoints.sh
  .azure/gpu-tests-pytorch.yml
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-tests-pytorch.yml
  tests/legacy/back-compatible-versions.txt
  tests/legacy/generate_checkpoints.sh
  tests/legacy/requirements.txt
  tests/legacy/simple_classif_training.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
  tests/tests_pytorch/graveyard/test_legacy_import_unpickler.py
Labels: ready, ci, checkpointing, pl

#17460 tests: randomized order for PT & Fabric
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  requirements/app/test.txt
  requirements/fabric/test.txt
  requirements/pytorch/test.txt
  tests/tests_pytorch/core/test_metric_result_integration.py
Labels: ready, ci, fabric, tests, app, pl

#17520 Compose RunIf utilities
  src/lightning/fabric/utilities/testing/_runif.py
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/tests_fabric/helpers/runif.py
  tests/tests_fabric/utilities/test_runif.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/utilities/testing/test_runif.py
Labels: ready, fabric, tests, pl

#17575 Some fixes in the CLI docs
  docs/source-pytorch/cli/lightning_cli_expert.rst
  docs/source-pytorch/cli/lightning_cli_faq.rst
  docs/source-pytorch/cli/lightning_cli_intermediate.rst
Labels: docs, lightningcli, pl

#17570 Verify `Fabric.launch()` was called
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, fabric, fun

#17514 Docs: Remove old link
  docs/source-pytorch/levels/expert_level_24.rst
Labels: ready, docs, pl

#17548 Check for mixed new and old style imports
  src/lightning/pytorch/utilities/compile.py
  src/lightning/pytorch/utilities/model_helpers.py
  tests/tests_pytorch/graveyard/test_legacy_import_unpickler.py
  tests/tests_pytorch/utilities/test_model_helpers.py
Labels: feature, ready, pl

#17070 Use PL `is_overridden` in BYOT example
  examples/fabric/build_your_own_trainer/trainer.py
Labels: example, ready, fabric

#17574 Avoid flattening hyperparameters in WandbLogger
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: feature, logger: wandb, pl, fun

#17572 [TPU] Remove CPU conversion of metrics
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
Labels: accelerator: tpu, performance, pl

#17573 Make WandbLogger run initialization lazy for non-spawn distributed operation
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: bug, ready, logger: wandb, pl, fun

#17577 Remove redundant install info in CLI
  src/lightning/pytorch/cli.py
Labels: ready, refactor, pl

#17488 Split `init_module` into `init` + `sharded_model`
  docs/source-fabric/api/fabric_methods.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/plugins/precision/double.py
  src/lightning/fabric/plugins/precision/half.py
  src/lightning/fabric/plugins/precision/precision.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/strategy.py
  tests/tests_fabric/plugins/precision/test_half.py
  tests/tests_fabric/strategies/test_ddp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_single_device.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, refactor, fabric

#17522 [TPU] For XLA Strategy, added function arg to control `broadcast_master_param()`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/xla.py
  tests/tests_fabric/strategies/test_xla.py
Labels: ready, fabric, pl

#17139 Fixes a bug that causes `CSVLogger` to overwrite `version_0` when `root_dir` is a relative path.
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/loggers/test_csv.py
Labels: bug, ready, fabric, logger: csv, community, pl

#17595 Fix property raised instead of returned
  src/lightning/app/api/http_methods.py
  tests/tests_app/core/test_lightning_api.py
Labels: bug, ready, community, app

#17583 drop IPU docker for runner
  dockers/base-ipu/Dockerfile
Labels: ci

#17571 ci: use random seed
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ready, ci

#17545 Fix docs levels and broken links (without rename)
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  docs/source-pytorch/common/index.rst
  docs/source-pytorch/community/index.rst
  docs/source-pytorch/data/data.rst
  docs/source-pytorch/expertise_levels.rst
  docs/source-pytorch/levels/advanced.rst
  docs/source-pytorch/levels/advanced_level_15.rst
  docs/source-pytorch/levels/advanced_level_16.rst
  docs/source-pytorch/levels/advanced_level_17.rst
  docs/source-pytorch/levels/advanced_level_18.rst
  docs/source-pytorch/levels/advanced_level_19.rst
  docs/source-pytorch/levels/advanced_level_21.rst
  docs/source-pytorch/levels/advanced_level_22.rst
  docs/source-pytorch/levels/expert.rst
  docs/source-pytorch/levels/expert_level_23.rst
  docs/source-pytorch/levels/expert_level_24.rst
  docs/source-pytorch/levels/expert_level_27.rst
  docs/source-pytorch/levels/intermediate.rst
  docs/source-pytorch/levels/intermediate_level_10.rst
  docs/source-pytorch/levels/intermediate_level_11.rst
  docs/source-pytorch/levels/intermediate_level_12.rst
  docs/source-pytorch/levels/intermediate_level_13.rst
  docs/source-pytorch/levels/intermediate_level_14.rst
  docs/source-pytorch/levels/intermediate_level_9.rst
Labels: ci, pl

#17526 Add support for saving with full state-dict in Fabric's FSDP
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_wrappers.py
Labels: feature, ready, checkpointing, fabric, strategy: fsdp

#17611 fix links in fabric
  docs/source-fabric/glossary/index.rst
  docs/source-fabric/guide/multi_node/cloud.rst
  docs/source-fabric/links.rst
Labels: ready, fabric

#17614 Set fixed seed for pytest execution order
  .github/workflows/ci-tests-fabric.yml
Labels: ready, ci, fabric

#17596 feat: Allow setting the `SLURMEnvironment.main_address` via an env variable
  .github/workflows/ci-tests-fabric.yml
  src/lightning/fabric/plugins/environments/slurm.py
  tests/tests_fabric/plugins/environments/test_slurm.py
Labels: feature, ready, ci, environment: slurm, fabric, community

#17610 Fix ModelCheckpoint misformats filename
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: bug, ready, callback: model checkpoint, community, pl

#17576 Support true 16-bit precision with deepspeed
  .github/workflows/ci-tests-fabric.yml
  src/lightning/fabric/plugins/precision/deepspeed.py
  src/lightning/fabric/strategies/deepspeed.py
  tests/tests_fabric/plugins/precision/test_deepspeed.py
Labels: ready, ci, strategy: deepspeed, fabric, precision: amp, fun

#17646 omitted mention of QuantizationAwareTraining callback
  docs/source-pytorch/advanced/post_training_quantization.rst
Labels: docs, community, pl

#17636 Bugfix/17412 lr finder max val batches
  src/lightning/pytorch/tuner/lr_finder.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: tuner, community, pl

#17626 Log `LearningRateMonitor` values to `Trainer.callback_metrics` for `EarlyStopping`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/lr_monitor.py
  tests/tests_pytorch/callbacks/test_lr_monitor.py
Labels: feature, ready, callback: lr monitor, community, pl

#17648 refactor Fabric tests to use launch method
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/test_fabric.py
Labels: fabric

#17658 ci: drop e2e as required check
  .github/checkgroup.yml
Labels: ci, priority: 1

#17666 fix: get project
  src/lightning/app/core/constants.py
  src/lightning/app/utilities/cloud.py
  tests/tests_app/utilities/test_cloud.py
Labels: ready, app

#16222 Fixed error when using W&B project name from environment variables
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: bug, ready, logger: wandb, community, pl

#17664 Update email address in SECURITY.md
  SECURITY.md
Labels: admin

#17669 Refactor run-method-style Fabric tests
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/test_fabric.py
Labels: ready, refactor, fabric, tests

#17679 Raise environment variable collision errors only when Fabric CLI is used
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_connector.py
Labels: feature, ready, fabric

#17662 Add Profiler table kwargs
  src/lightning/pytorch/profilers/pytorch.py
  tests/tests_pytorch/profilers/test_profiler.py
Labels: feature, profiler, pl

#17670 Fix Mix Precision settings for FSDP Plugins
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/precision/fsdp.py
  tests/tests_fabric/plugins/precision/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: fabric, strategy: fsdp, pl

#17502 ci: separate parity/benchmarks
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  pyproject.toml
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/parity_fabric/__init__.py
  tests/parity_fabric/conftest.py
  tests/parity_fabric/models.py
  tests/parity_fabric/run_standalone_tasks.sh
  tests/parity_fabric/test_parity_ddp.py
  tests/parity_fabric/test_parity_simple.py
  tests/parity_fabric/utils.py
  tests/parity_pytorch/__init__.py
  tests/parity_pytorch/generate_comparison.py
  tests/parity_pytorch/measure.py
  tests/parity_pytorch/models.py
  tests/parity_pytorch/test_basic_parity.py
  tests/parity_pytorch/test_sync_batchnorm_parity.py
  tests/tests_pytorch/benchmarks/__init__.py
  tests/tests_pytorch/helpers/advanced_models.py
Labels: ci, pl

#17686 runif consistency
  src/lightning/fabric/utilities/testing/__init__.py
  src/lightning/fabric/utilities/testing/_runif.py
  src/lightning/pytorch/utilities/testing/__init__.py
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/tests_fabric/helpers/runif.py
  tests/tests_pytorch/helpers/pipelines.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/models/test_cpu.py
Labels: ready, fabric, code quality, pl

#17716 ci: fix runif ref
  .azure/gpu-benchmarks.yml
  tests/parity_pytorch/__init__.py
Labels: ci, tests

#17696 Fix doc formatting in `batch_size_finder.py`
  src/lightning/pytorch/callbacks/batch_size_finder.py
Labels: ready, docs, community, pl

#17582 replace local adjustment script with external [TPU]
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/tpu-tests.yml
  dockers/base-cuda/Dockerfile
  requirements/pytorch/adjust-versions.py
  tests/tests_fabric/run_tpu_tests.sh
  tests/tests_pytorch/run_tpu_tests.sh
Labels: ready, ci, priority: 1, fabric, pl

#17719 update group-check
  .github/checkgroup.yml
  tests/parity_fabric/run_standalone_tasks.sh
Labels: ci

#17639 avoid unnecessary workers with sequential `CombinedLoader `
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/combined_loader.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/utilities/test_combined_loader.py
Labels: bug, ready, data handling, community, pl

#17709 Support kwargs input for `LayerSummary`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: ready, callback: model summary, community, pl

#17721 Address feedback for `Fabric.init_module()` (1/4)
  docs/source-fabric/api/fabric_methods.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: ready, fabric

#17722 Address feedback for `Fabric.init_module()` (2/4)
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/strategy.py
  tests/tests_fabric/test_fabric.py
Labels: ready, fabric

#17713 Fix overlapping samples in DDP when no global seed is set
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/data_connector.py
  tests/tests_pytorch/trainer/test_dataloaders.py
Labels: bug, ready, data handling, strategy: ddp, pl

#17723 Address feedback for `Fabric.init_module()` (3/4)
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/strategy.py
  tests/tests_fabric/test_fabric.py
Labels: ready, fabric

#17678 Fix multithreading checkpoint loading
  src/lightning/pytorch/utilities/migration/utils.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
  tests/tests_pytorch/helpers/threading.py
Labels: bug, ready, checkpointing, pl
