Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-07, with the labels that each got.

#17946 save a reference to created tasks, to avoid tasks disappearing
  src/lightning/app/components/serve/auto_scaler.py
Labels: bug, ready, community, app

#17962 Consistent early exit logic for validation loop in Fabric Trainer example
  examples/fabric/build_your_own_trainer/trainer.py
Labels: example, ready, refactor, fabric

#17950 Fix: added map_location as an argument for the cls load_from_checkpoint
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/datamodule.py
  tests/tests_pytorch/core/test_saving.py
Labels: bug, ready, checkpointing, community, pl

#17975 docs: add example note for gradient accumulation in manual optimization mode
  docs/source-pytorch/model/manual_optimization.rst
Labels: ready, docs, pl

#17930 Refactor more Fabric tests that use the old .run() method
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/plugins/precision/test_double_integration.py
  tests/tests_fabric/strategies/test_deepspeed.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
Labels: ready, refactor, fabric, tests, code quality, fun

#17977 docker: CUDA with runtime
  .github/checkgroup.yml
  .github/workflows/ci-dockers.yml
  .github/workflows/release-docker.yml
  dockers/base-cuda/Dockerfile
Labels: ci, priority: 1

#17905 Change default init_module behavior for FSDP
  src/lightning/fabric/strategies/fsdp.py
Labels: feature, ready, fabric, strategy: fsdp

#17955 bump Lit-Utils to 0.9
  requirements/app/base.txt
  requirements/data/data.txt
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  requirements/typing.txt
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/fabric/loggers/tensorboard.py
  src/lightning/pytorch/loggers/comet.py
  src/lightning/pytorch/loggers/csv_logs.py
  src/lightning/pytorch/loggers/mlflow.py
  src/lightning/pytorch/loggers/neptune.py
  src/lightning/pytorch/loggers/tensorboard.py
  src/lightning/pytorch/loggers/wandb.py
Labels: ready, fabric, app, pl

#17941 docs: fetch external sources
  .gitignore
  docs/source-app/conf.py
  docs/source-app/examples/file_server/file_server_content.rst
  docs/source-app/examples/github_repo_runner/github_repo_runner_content.rst
  docs/source-app/get_started/go_beyond_training_content.rst
  docs/source-app/get_started/jumpstart_from_app_gallery.rst
  docs/source-app/get_started/what_app_can_do.rst
  docs/source-app/glossary/secrets.rst
  docs/source-app/glossary/storage/path.rst
  docs/source-app/levels/intermediate/level_9.rst
  docs/source-app/workflows/build_command_line_interface/cli_client.rst
  docs/source-app/workflows/build_rest_api/add_api.rst
  docs/source-app/workflows/byoc/aws_console.rst
  docs/source-fabric/conf.py
  docs/source-fabric/fundamentals/accelerators.rst
  docs/source-fabric/fundamentals/launch.rst
  docs/source-fabric/fundamentals/precision.rst
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/accelerators/tpu_basic.rst
  docs/source-pytorch/advanced/speed.rst
  docs/source-pytorch/common/early_stopping.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/conf.py
  docs/source-pytorch/data/datamodule.rst
  docs/source-pytorch/debug/debugging_basic.rst
  docs/source-pytorch/model/build_model_intermediate.rst
  docs/source-pytorch/starter/introduction.rst
  requirements/docs.txt
Labels: ready, docs, priority: 1, fabric, app, pl

#17978 ci: mark job as canceled if not TPU allocation fails
  .github/workflows/tpu-tests.yml
Labels: ci, accelerator: tpu

#17960 Show CUDA matmul precision info only ever once
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/accelerators/cuda.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/accelerators/test_cuda.py
Labels: bug, ready, fabric, accelerator: cuda, pl

#17984 Disable video controls in Fabric teaser animations
  docs/source-fabric/fundamentals/accelerators.rst
  docs/source-fabric/fundamentals/launch.rst
  docs/source-fabric/fundamentals/precision.rst
Labels: docs, fabric

#17981 Remove outdated docstring sentence
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, docs, pl

#17952 Validate selected device indices in `DeepSpeedStrategy`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/strategies/test_deepspeed.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: bug, ready, strategy: deepspeed, fabric, pl, fun

#17842 Better type hints for `LightningModule` steps
  src/lightning/pytorch/callbacks/callback.py
  src/lightning/pytorch/callbacks/device_stats_monitor.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/demos/boring_classes.py
  src/lightning/pytorch/loops/optimization/automatic.py
  src/lightning/pytorch/loops/optimization/manual.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/tuner/lr_finder.py
  src/lightning/pytorch/utilities/types.py
Labels: feature, ready, lightningmodule, code quality, pl

#17997 Fix state dict loading for ddp/dp in Fabric
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/dp.py
  src/lightning/fabric/strategies/strategy.py
  tests/tests_fabric/strategies/test_ddp.py
  tests/tests_fabric/strategies/test_ddp_integration.py
  tests/tests_fabric/strategies/test_strategy.py
Labels: bug, ready, priority: 0, fabric, strategy: ddp

#17990 Avoid info message when loading 0 entry point callbacks
  src/lightning/fabric/utilities/registry.py
Labels: bug, ready, fabric, trainer

#18013 Add exponential backoff to HTTPQueue put
  requirements/app/base.txt
  src/lightning/app/core/queues.py
  tests/tests_app/core/test_queues.py
Labels: ready, app

#18015 Update `fabric_methods.rst` using deprecated parameters
  docs/source-fabric/api/fabric_methods.rst
Labels: ready, docs, fabric, community

#17243 [App] Content for plugins
  src/lightning/app/plugin/plugin.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/source_code/local.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/source_code/test_local.py
Labels: ready, app

#18017 Fix broken links in README
  README.md
  src/lightning_app/README.md
  src/lightning_fabric/README.md
Labels: ready, docs, priority: 0, admin, fabric, app

#17980 Add `trainer.print`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/trainer.py
Labels: feature, ready, trainer, pl

#17998 Requirements update
  .github/workflows/ci-tests-data.yml
  src/lightning/__init__.py
  src/lightning/data/CHANGELOG.md
  src/lightning/data/__init__.py
  src/lightning/data/datasets/__init__.py
  src/lightning/data/datasets/base.py
  src/lightning/data/datasets/env.py
  src/lightning/data/datasets/index.py
  src/lightning/data/datasets/iterable.py
  src/lightning/data/datasets/mapping.py
  tests/tests_data/conftest.py
  tests/tests_data/datasets/__init__.py
  tests/tests_data/datasets/test_data/test_index.txt
  tests/tests_data/datasets/test_data/test_index_s3.txt
  tests/tests_data/datasets/test_env.py
  tests/tests_data/datasets/test_get_index.py
  tests/tests_data/datasets/test_iterable.py
  tests/tests_data/datasets/test_mapping.py
Labels: feature, ready, ci, data handling

#18010 Update name in pyproject.toml
  pyproject.toml
Labels: ready

#17819 Support PyTorch Lightning's FSDP optimizer states saving and loading
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: ready, checkpointing, fabric, strategy: fsdp, community, pl

#17995 Drop `torchdistx` support
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/trainer/call.py
  src/lightning/pytorch/utilities/meta.py
  tests/tests_pytorch/utilities/test_torchdistx.py
Labels: ready, refactor, experimental, pl

#18022 pin `pydantic <2.0`
  requirements/app/base.txt
Labels: ready, priority: 0, app

#18024 Fix doc for creating custom progress bar
  src/lightning/pytorch/callbacks/progress/progress_bar.py
Labels: ready, docs, community, pl

#17999 Add option to change "=" symbol in ModelCheckpoint filenames
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: feature, ready, callback: model checkpoint, community, pl

#17807 Support all half-precision modes in FSDP precision plugin
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/precision/amp.py
  src/lightning/fabric/plugins/precision/deepspeed.py
  src/lightning/fabric/plugins/precision/fsdp.py
  tests/tests_fabric/plugins/precision/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_connector.py
Labels: feature, ready, refactor, fabric, precision: amp, fun

#18020 Fix param_group -> param_groups typo
  src/lightning/fabric/strategies/fsdp.py
Labels: bug, ready, fabric, strategy: fsdp

#18014 Requirements update
  requirements/fabric/test.txt
  requirements/pytorch/base.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/spike.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/__init__.py
  src/lightning/pytorch/callbacks/spike.py
  tests/tests_fabric/utilities/test_spike.py
  tests/tests_pytorch/callbacks/test_spike.py
Labels: feature, ready, fabric, pl

#18021 Enable `self.device` access in setup hook
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/call.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: feature, ready, trainer, pl

#18043 Make model test more robust
  tests/tests_pytorch/helpers/pipelines.py
  tests/tests_pytorch/models/test_cpu.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/strategies/test_ddp_spawn.py
Labels: ready, tests, pl

#18030 Fix compatability with pydantic 2.0.0>=
  requirements/app/base.txt
  src/lightning/app/components/database/utilities.py
Labels: app

#18050 drop AWS action
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/docs-build.yml
Labels: ready, priority: 0, ci

#18056 Fix `LightningCLI` not saving correctly seed_everything for `run=True`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/cli.py
  tests/tests_pytorch/test_cli.py
Labels: bug, ready, lightningcli, pl

#18068 Minor miscellaneous fixes
  examples/fabric/build_your_own_trainer/trainer.py
  src/lightning/fabric/plugins/precision/double.py
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/fabric/plugins/precision/half.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/callbacks/model_checkpoint.py
  src/lightning/pytorch/plugins/precision/deepspeed.py
  src/lightning/pytorch/plugins/precision/double.py
  src/lightning/pytorch/plugins/precision/fsdp.py
  src/lightning/pytorch/strategies/deepspeed.py
  tests/tests_fabric/plugins/precision/test_deepspeed.py
  tests/tests_fabric/plugins/precision/test_half.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/strategies/test_custom_plugin.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_single_device_strategy.py
Labels: refactor, fabric, pl

#18053 Update `print` doc
  src/lightning/fabric/fabric.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, docs, fabric, pl

#18073 Fix IAM Credentials Backend
  src/lightning/data/backends.py
  tests/tests_data/test_backends.py
Labels: ready

#17993 [TPU] Prepare for XLA 2.1 release
  src/lightning/fabric/accelerators/xla.py
  src/lightning/fabric/plugins/environments/xla.py
  src/lightning/fabric/strategies/launchers/xla.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/strategies/launchers/xla.py
  src/lightning/pytorch/strategies/xla.py
Labels: ready, refactor, fabric, pl, strategy: xla

#18071 docs: update chlong for 2.0.4 and 2.0.5
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: docs, fabric, app, pl

#18004 Add `Trainer.init_module` and `LightningModule.configure_model`
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/integrations/strategies/colossalai.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/plugins/precision/double.py
  src/lightning/pytorch/plugins/precision/fsdp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/trainer/call.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/connectors/logger_connector/fx_validator.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_pytorch/deprecated_api/test_no_removal_version.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/plugins/test_double_plugin.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: feature, ready, fabric, hooks, trainer, strategy, pl

#17986 Fix detection of next version in Fabric's CSVLogger
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/loggers/csv_logs.py
  tests/tests_fabric/loggers/test_csv.py
Labels: bug, ready, logger, fabric, logger: csv, fun

#18085 More XLA fixes for nightly support
  src/lightning/fabric/accelerators/xla.py
  tests/tests_fabric/plugins/environments/test_xla.py
  tests/tests_fabric/test_fabric.py
  tests/tests_pytorch/accelerators/test_xla.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/strategies/test_xla.py
Labels: bug, ready, fabric, tests, pl, strategy: xla

#18084 Support sets for policies in FSDP
  docs/source-pytorch/advanced/model_parallel.rst
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, fabric, strategy: fsdp, pl

#18087 Enable setting the sharding strategy as string in FSDP
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, fabric, strategy: fsdp, pl, fun

#18097 Make introduction example run on devices
  docs/source-pytorch/starter/introduction.rst
Labels: docs, pl, fun

#18093 Allow custom loggers without an experiment property
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/call.py
  tests/tests_pytorch/loggers/test_all.py
Labels: bug, ready, logger, pl, fun

#17926 Fix `TensorBoardLogger.log_graph` not recording the graph
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/loggers/tensorboard.py
  tests/tests_fabric/loggers/test_tensorboard.py
Labels: bug, logger: tensorboard, fabric, community

#17795 Include parent directory validation check for deepspeed
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/deepspeed.py
  tests/tests_fabric/strategies/test_deepspeed.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: ready, checkpointing, strategy: deepspeed, fabric, community, pl

#18094 Enable loading legacy checkpoints that pickled the `_FaultToleranceMode` enum
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/migration/utils.py
  tests/tests_pytorch/utilities/migration/test_utils.py
Labels: bug, ready, checkpointing, pl, fun

#18049 Support loading a raw PyTorch state-dict checkpoint in Fabric
  docs/source-fabric/api/fabric_methods.rst
  docs/source-fabric/guide/checkpoint.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/strategy.py
  src/lightning/pytorch/demos/transformer.py
  tests/tests_fabric/strategies/test_deepspeed.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_strategy.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, checkpointing, fabric, pl

#18111 Raise Empty when request_queue is None
  src/lightning/app/CHANGELOG.md
  src/lightning/app/storage/orchestrator.py
  tests/tests_app/storage/test_orchestrator.py
Labels: bug, ready, app

#18054 Relax the assumption that the root module is FSDP wrapped
  docs/source-pytorch/advanced/model_parallel.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, feature, ready, fabric, strategy: fsdp, pl

#17597 Support NVIDIA's Transformer Engine
  docs/source-fabric/api/fabric_args.rst
  docs/source-fabric/fundamentals/precision.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/precision/__init__.py
  src/lightning/fabric/plugins/precision/precision.py
  src/lightning/fabric/plugins/precision/transformer_engine.py
  tests/tests_fabric/test_connector.py
Labels: feature, ready, fabric, plugin

#18109 Fabric FSDP documentation guide
  docs/source-fabric/advanced/model_parallel/fsdp.rst
  docs/source-fabric/levels/advanced.rst
  docs/source-fabric/levels/intermediate.rst
Labels: ready, docs, fabric, strategy: fsdp, fun

#18100 Disable running the finetuning callback with DeepSpeed
  src/lightning/pytorch/callbacks/finetuning.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
Labels: strategy: deepspeed, callback: finetuning, pl

#18121 Add FSDP to the docs glossary
  docs/source-fabric/glossary/index.rst
  docs/source-fabric/guide/index.rst
Labels: ready, docs, fabric

#18113 DeepSpeed precision simplifications
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/strategies/deepspeed.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: ready, refactor, strategy: deepspeed, fabric, pl, fun

#18119 Fix "optimizer in backward" compatibility with torch 2.1 nightly
  src/lightning/fabric/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
Labels: bug, ready, fabric, optimization

#18077 Minor miscellaneous fixes
  .azure/app-cloud-e2e.yml
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-dockers.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/tpu-tests.yml
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  src/lightning/fabric/accelerators/cuda.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, ci, fabric, tests, pl

#18125 bump: typing-extensions >=4.0.0, <=4.7.1
  requirements/app/base.txt
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  tests/tests_app/source_code/test_local.py
  tests/tests_pytorch/test_cli.py
Labels: ready, fabric, app, pl, dependencies

#18136 Fix [TPU] tests
  .github/workflows/tpu-tests.yml
  tests/tests_fabric/plugins/environments/test_xla.py
  tests/tests_fabric/run_tpu_tests.sh
  tests/tests_pytorch/run_tpu_tests.sh
Labels: ci, accelerator: tpu, fabric, tests, pl

#18140 Fix [TPU] tests
  .github/workflows/tpu-tests.yml
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/demos/boring_classes.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/call.py
  tests/tests_fabric/plugins/environments/test_xla.py
  tests/tests_fabric/run_tpu_tests.sh
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_pytorch/accelerators/test_xla.py
  tests/tests_pytorch/helpers/pipelines.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/run_tpu_tests.sh
Labels: ci, fabric, tests, pl

#18132 Document limitations of multi-GPU in Jupyter notebooks
  docs/source-fabric/fundamentals/notebooks.rst
  docs/source-pytorch/accelerators/gpu_faq.rst
  docs/source-pytorch/common/index.rst
  docs/source-pytorch/common/notebooks.rst
  docs/source-pytorch/common_usecases.rst
Labels: ready, docs, fabric, pl

#18052 [TPU] Do not cancel all jobs when one fails
  .github/workflows/tpu-tests.yml
  src/lightning/fabric/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  tests/tests_fabric/plugins/environments/test_xla.py
  tests/tests_pytorch/accelerators/test_xla.py
  tests/tests_pytorch/helpers/pipelines.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/profilers/test_xla_profiler.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
Labels: ci, accelerator: tpu, fabric, pl

#18165 Verify `torch.compile` compatibility with strategy before launching processes
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/compile.py
  tests/tests_pytorch/utilities/test_compile.py
Labels: bug, ready, priority: 0, tests, pl, torch.compile

#18154 Only redirect imports when unpickling Lightning checkpoints
  src/lightning/pytorch/_graveyard/__init__.py
  src/lightning/pytorch/_graveyard/_torchmetrics.py
  src/lightning/pytorch/utilities/migration/utils.py
  tests/tests_pytorch/graveyard/test_legacy_import_unpickler.py
  tests/tests_pytorch/utilities/migration/test_utils.py
Labels: bug, ready, priority: 0, performance, pl

#18150 Add lazy checkpoint loading for FSDP full-state checkpoints
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/utilities/load.py
  tests/parity_fabric/test_parity_ddp.py
  tests/tests_fabric/utilities/test_load.py
Labels: feature, ready, data handling, fabric

#18171 Bump minimum wandb version from 0.12.0 to 0.12.10
  requirements/pytorch/loggers.info
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: ready, logger: wandb, pl

#18157 Add WandB and Neptune to exports from loggers module
  src/lightning/pytorch/loggers/__init__.py
Labels: ready, code quality, community, pl

#18153 ci: do not fail if AWS CLI exists
  .github/workflows/_legacy-checkpoints.yml
Labels: ready, ci

#18151 Remove cluster commands from CLI
  .github/workflows/README.md
  docs/source-app/cloud/customize_a_lightning_cluster.rst
  docs/source-app/glossary/aws_arn.rst
  docs/source-app/glossary/command_lines/command_lines.rst
  docs/source-app/glossary/index.rst
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/hello_components/code_run_cloud_yours.bash
  docs/source-app/levels/basic/hello_components/code_run_cloud_yours_setup.bash
  docs/source-app/levels/basic/hello_components/terraform_example.bash
  docs/source-app/levels/basic/hero_run.rst
  docs/source-app/levels/basic/hero_run_setup.rst
  docs/source-app/levels/basic/real_lightning_component_implementations.rst
  docs/source-app/levels/basic/run_on_aws_account.rst
  docs/source-app/levels/basic/save_money_on_cloud_costs.rst
  docs/source-app/levels/expert/index.rst
  docs/source-app/levels/intermediate/connect_lightning_components.rst
  docs/source-app/levels/intermediate/level_2_scripts/multi_cloud.bash
  docs/source-app/levels/intermediate/level_2_scripts/tr.bash
  docs/source-app/workflows/build_command_line_interface/index.rst
  docs/source-app/workflows/byoc/aws_cli.rst
  docs/source-app/workflows/byoc/aws_console.rst
  docs/source-app/workflows/byoc/create_cluster.rst
  docs/source-app/workflows/byoc/delete_cluster.rst
  docs/source-app/workflows/byoc/index.rst
  docs/source-app/workflows/byoc/run_on_cluster.rst
  docs/source-app/workflows/index.rst
  docs/source-app/workflows/ssh/index.rst
  pyproject.toml
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/cmd_apps.py
  src/lightning/app/cli/cmd_clusters.py
  src/lightning/app/cli/cmd_ssh_keys.py
  src/lightning/app/cli/connect/maverick.py
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/cli/lightning_cli_create.py
  src/lightning/app/cli/lightning_cli_delete.py
  src/lightning/app/cli/lightning_cli_list.py
  src/lightning/app/runners/runtime.py
  src/lightning/app/testing/testing.py
  src/lightning/app/utilities/app_logs.py
  src/lightning/app/utilities/cluster_logs.py
  src/lightning/app/utilities/logs_socket_api.py
  src/lightning/app/utilities/packaging/app_config.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_cmd_apps.py
  tests/tests_app/cli/test_cmd_cli_delete.py
  tests/tests_app/cli/test_cmd_clusters.py
  tests/tests_app/cli/test_cmd_show_cluster_logs.py
  tests/tests_app/cli/test_cmd_ssh.py
  tests/tests_app/cli/test_cmd_ssh_keys.py
  tests/tests_app/cli/test_connect_maverick.py
  tests/tests_app/cli/test_run_app.py
  tests/tests_app/components/multi_node/test_fabric.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/utilities/test_logs_socket_api.py
Labels: ready, ci, app

#18127 Add GPU Acceleration apple silicon examples
  examples/app/server_with_auto_scaler/app.py
  examples/fabric/dcgan/train_torch.py
  examples/fabric/image_classifier/train_torch.py
Labels: example, ready, fabric, community, app

#18179 Add note to `Trainer.log_dir` docs when used with multi-processing
  src/lightning/pytorch/trainer/trainer.py
Labels: pl

#18182 Freeze version for jsonargparse <4.23.0
  requirements/pytorch/extra.txt
Labels: ready, ci, 3rd party

#18137 Disable auto-detection of Kubeflow environment
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/environments/kubeflow.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/plugins/environments/test_kubeflow.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: bug, ready, breaking change, fabric, environment: kubeflow, pl, fun

#18155 Add launch commands
  pyproject.toml
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/cli/lightning_cli_launch.py
  src/lightning/app/launcher/__init__.py
  src/lightning/app/launcher/launcher.py
  src/lightning/app/launcher/lightning_backend.py
  src/lightning/app/launcher/lightning_hybrid_backend.py
  src/lightning/app/utilities/packaging/lightning_utils.py
  tests/tests_app/cli/launch_data/app_v0/__init__.py
  tests/tests_app/cli/launch_data/app_v0/app.py
  tests/tests_app/cli/launch_data/app_v0/ui/a/index.html
  tests/tests_app/cli/launch_data/app_v0/ui/b/index.html
  tests/tests_app/cli/test_cmd_launch.py
  tests/tests_app/launcher/test_lightning_backend.py
  tests/tests_app/launcher/test_lightning_hydrid.py
  tests/tests_app/launcher/test_running_flow.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/test_imports.py
  tests/tests_data/datasets/test_env.py
Labels: feature, ready, app

#18145 Use hydra.run.dir (not os.getcwd) for DDP subprocesses' run dir
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/launchers/subprocess_script.py
  tests/tests_pytorch/strategies/launchers/test_subprocess_script.py
Labels: feature, ready, 3rd party, fabric, community, pl

#18079 Enable `map_location` in `load_from_checkpoint` when loading a GPU checkpoint on a CPU-only machine
  src/lightning/fabric/utilities/types.py
  src/lightning/pytorch/core/saving.py
  tests/tests_pytorch/core/test_saving.py
Labels: feature, ready, checkpointing, fabric, community, pl

#18190 Avoid summoning all parameters in FSDP's full-state checkpoint loading
  src/lightning/fabric/strategies/fsdp.py
Labels: bug, ready, fabric, performance, strategy: fsdp, fun

#18192 Remove the unused `checkpoint_io` argument from the `FSDPStrategy` in Fabric
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/single_xla.py
  src/lightning/fabric/strategies/strategy.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/strategies/single_xla.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/strategies/xla.py
  tests/tests_fabric/strategies/test_fsdp.py
Labels: ready, refactor, fabric, strategy: fsdp, pl, fun

#18178 Update migration guide for renamed progress bar base class
  docs/source-pytorch/upgrade/sections/1_9_devel.rst
Labels: ready, docs, pl

#18173 Refactor `load_raw_module_state` utility functions in FSDP
  src/lightning/fabric/strategies/fsdp.py
Labels: ready, refactor, fabric, strategy: fsdp, fun

#18194 Allow accessing rank information before processes are launched in XLA
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/xla.py
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_pytorch/strategies/test_xla.py
Labels: ready, accelerator: tpu, fabric, pl, fun, strategy: xla

#18167 Remove unused `Strategy.remove_checkpoint`
  src/lightning/fabric/strategies/strategy.py
  src/lightning/fabric/strategies/xla.py
Labels: ready, fabric, strategy

#18177 Avoid setting the multiprocessing context when importing lightning
  docs/source-app/levels/basic/scripts/toy_app_1_component_pdb.py
  docs/source-app/levels/intermediate/debug_a_lightning_app.rst
  docs/source-app/levels/intermediate/debug_app_scripts/toy_app_1_component_pdb.py
  pyproject.toml
  src/lightning/__init__.py
  src/lightning/app/CHANGELOG.md
  src/lightning/app/__init__.py
  src/lightning/app/pdb/__init__.py
  src/lightning/app/pdb/pdb.py
  src/lightning/app/perf/__init__.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/utilities/test_imports.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: bug, ready, fabric, performance, app, pl

#18201 Fix pip install instructions in LightningCLI docs
  docs/source-pytorch/cli/lightning_cli_intermediate.rst
  src/lightning/pytorch/cli.py
Labels: ready, docs, lightningcli, pl
