Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-04, with the labels that each got.

#17239 Add link to benchmarks docs
  docs/source-pytorch/benchmarking/benchmarks.rst
Labels: pl

#17261 LTS: prune release workflow
  .github/workflows/release-pypi.yml
Labels: ci

#17268 fixing master
  docs/source-pytorch/governance.rst
  docs/source-pytorch/index.rst
Labels: pl

#17226 update bug template with version
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  requirements/collect_env_details.py
Labels: ci

#17267 Remove NumPy from Callback scripts
  src/lightning/pytorch/callbacks/early_stopping.py
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
Labels: ready, refactor, community, pl

#17264 NumPy to Torch: For LR Finder
  src/lightning/pytorch/tuner/lr_finder.py
Labels: ready, refactor, community, pl

#17276 Update usage hinting for upgrading checkpoints
  src/lightning/pytorch/utilities/migration/migration.py
  src/lightning/pytorch/utilities/migration/utils.py
Labels: ready, docs, community, pl

#17246 Update docs index
  docs/source-pytorch/common/index.rst
  docs/source-pytorch/community/governance.rst
  docs/source-pytorch/community/index.rst
  docs/source-pytorch/community/past_versions.rst
  docs/source-pytorch/glossary/index.rst
  docs/source-pytorch/index.rst
Labels: docs, pl

#17292 Fix broken links in README
  README.md
  docs/source-fabric/_templates/theme_variables.jinja
  docs/source-pytorch/_templates/theme_variables.jinja
  src/pytorch_lightning/README.md
Labels: ready, docs, fabric, pl

#17282 Minimal Transformer Example
  docs/source-fabric/examples/index.rst
  docs/source-fabric/fundamentals/convert.rst
  docs/source-fabric/index.rst
  examples/fabric/language_model/README.md
  examples/fabric/language_model/train.py
  examples/pytorch/basics/README.md
  examples/pytorch/basics/transformer.py
  src/lightning/pytorch/demos/__init__.py
  src/lightning/pytorch/demos/transformer.py
Labels: example, ready, fabric, pl

#17270 Make the `is_picklable` function more robust
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/parsing.py
  tests/tests_pytorch/utilities/test_parsing.py
Labels: bug, ready, community, pl

#17232 readability deepspeed condition
  src/lightning/fabric/strategies/deepspeed.py
Labels: refactor, fabric

#17322 Update CODEOWNERS
  .github/CODEOWNERS
  docs/source-pytorch/community/governance.rst
Labels: ci, pl

#17237 [TPU] Improve TPU workflow
  .github/workflows/tpu-tests.yml
  dockers/base-xla/tpu_workflow_fabric.jsonnet
  dockers/base-xla/tpu_workflow_pytorch.jsonnet
Labels: ci, accelerator: tpu

#17324 App: Fix frontends when using multiprocessing in the cloud
  src/lightning/app/CHANGELOG.md
  src/lightning/app/runners/multiprocess.py
  tests/tests_app/runners/test_multiprocess.py
Labels: ready, app

#17305 Combined setup of model and optimizer with FSDP
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/fsdp.py
  tests/tests_fabric/helpers/models.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
Labels: feature, ready, fabric, fun

#17331 [TPU] Remove error check for IterableDatasets
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/xla.py
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_pytorch/strategies/test_xla.py
Labels: feature, ready, accelerator: tpu, fabric, community, pl

#17227 [TPU] v4 support
  docs/source-pytorch/accelerators/tpu_advanced.rst
  docs/source-pytorch/accelerators/tpu_basic.rst
  docs/source-pytorch/accelerators/tpu_faq.rst
  docs/source-pytorch/accelerators/tpu_intermediate.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/accelerators/tpu.py
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/environments/xla.py
  src/lightning/fabric/strategies/single_device.py
  src/lightning/fabric/strategies/single_tpu.py
  src/lightning/fabric/utilities/device_parser.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/accelerators/tpu.py
  src/lightning/pytorch/strategies/single_device.py
  src/lightning/pytorch/strategies/single_tpu.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/accelerators/test_tpu.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/plugins/environments/test_xla.py
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/utilities/test_device_parser.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/profilers/test_xla_profiler.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
Labels: feature, ready, accelerator: tpu, fabric, pl

#17236 Various Fabric documentation updates
  docs/source-fabric/api/fabric_args.rst
  docs/source-fabric/fundamentals/convert.rst
  docs/source-fabric/index.rst
  docs/source-pytorch/accelerators/gpu_basic.rst
  src/lightning_fabric/README.md
Labels: ready, docs, fabric, pl

#17266 fixing for release 1.9.5
  .github/workflows/ci-tests-pytorch.yml
  requirements/app/base.txt
  requirements/app/cloud.txt
  requirements/app/components.txt
  requirements/app/test.txt
  requirements/app/ui.txt
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/fabric/strategies.txt
  requirements/fabric/test.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  requirements/pytorch/extra.txt
  requirements/pytorch/strategies.txt
  requirements/pytorch/test.txt
  requirements/typing.txt
  src/lightning_app/core/app.py
  tests/tests_app/components/serve/test_model_inference_api.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/test_config_validator.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_compile.py
Labels: ci, fabric, app, pl

#17340 update chlog for 1.9.5
  src/lightning_app/CHANGELOG.md
  src/lightning_fabric/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: fabric, app, pl

#17349 Replace codecov pip package with codecov uploader
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  requirements/app/test.txt
  requirements/fabric/test.txt
  requirements/pytorch/test.txt
Labels: ci, fabric, app, pl

#17173 Update fastapi dependency pins
  requirements/app/base.txt
  requirements/app/test.txt
  tests/tests_app/components/serve/test_model_inference_api.py
Labels: ready, priority: 0, app, dependencies

#17235 Update CHANGELOG after the 2.0.1 release
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ready, fabric, app, pl

#17353 docker: fix building PL image
  .github/workflows/ci-dockers-pytorch.yml
Labels: ci

#17360 Update link to image in Fabric PPO example
  examples/fabric/reinforcement_learning/README.md
Labels: example, docs, fabric

#16966 Fixes around `Strategy.set_world_ranks`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/environments/lsf.py
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/xla.py
  tests/tests_fabric/test_connector.py
Labels: bug, ready, fabric, strategy, pl, strategy: xla

#17365 porting: Replace codecov pip package with codecov uploader
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  requirements/app/test.txt
  requirements/fabric/test.txt
  requirements/pytorch/test.txt
Labels: ready, ci, fabric, app, pl

#17362 [TPU] Replace GKE in CI with manual gcloud usage
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/README.md
  .github/workflows/ci-dockers-pytorch.yml
  .github/workflows/tpu-tests.yml
  dockers/base-xla/Dockerfile
  dockers/base-xla/tpu_workflow_fabric.jsonnet
  dockers/base-xla/tpu_workflow_pytorch.jsonnet
  tests/tests_fabric/run_tpu_tests.sh
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/run_standalone_tests.sh
  tests/tests_pytorch/run_tpu_tests.sh
Labels: ready, ci, accelerator: tpu, fabric, pl

#17368 [TPU] Add testing matrix with PJRT
  .github/checkgroup.yml
  .github/workflows/tpu-tests.yml
  requirements/app/base.txt
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/accelerators/tpu.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/run_tpu_tests.sh
  tests/tests_pytorch/models/test_tpu.py
  tests/tests_pytorch/run_tpu_tests.sh
Labels: ready, ci, accelerator: tpu, fabric, app, pl

#17377 [TPU] Use `pull_request_target` event
  .github/workflows/tpu-tests.yml
Labels: ci

#17366 App: drop flaky doctest example
  src/lightning/app/core/app.py
Labels: ready, priority: 1, app

#17387 change STEP_OUTPUT type from dict to mapping
  src/lightning/pytorch/utilities/types.py
Labels: ready, refactor, community, pl

#17308 Fix `load_from_checkpoint` to return model on correct device
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/saving.py
  tests/tests_pytorch/core/test_saving.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, ready, community, pl

#17380 Add a warning to the `detect_anomaly` flag
  src/lightning/pytorch/trainer/trainer.py
Labels: feature, ready, trainer: argument, community, pl

#17342 Added return in `convert_zero_checkpoint_to_fp32_state_dict`
  src/lightning/pytorch/utilities/deepspeed.py
Labels: feature, ready, strategy: deepspeed, community, pl

#17278 Remove numpy from src/lightning/pytorch and use torch only
  src/lightning/pytorch/profilers/simple.py
  src/lightning/pytorch/utilities/model_summary/model_summary.py
Labels: ready, refactor, community, pl

#17370 Sync module states during non-fit
  docs/source-pytorch/api_references.rst
  src/lightning/pytorch/overrides/distributed.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/utilities/distributed.py
  tests/tests_pytorch/overrides/test_distributed.py
  tests/tests_pytorch/utilities/test_distributed.py
Labels: bug, ready, strategy: ddp, pl

#17291 NumPy to Torch for lightning/fabric
  src/lightning/fabric/loggers/tensorboard.py
  src/lightning/fabric/plugins/environments/mpi.py
  tests/tests_fabric/plugins/environments/test_mpi.py
Labels: ready, refactor, fabric, community

#17163 Support all `CombinedLoader` modes during evaluation
  docs/source-pytorch/data/iterables.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  src/lightning/pytorch/callbacks/progress/progress_bar.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/profilers/pytorch.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
Labels: feature, ready, data handling, loops, pl

#17323 Save and load sharded checkpoints with FSDP in Fabric
  .github/workflows/ci-tests-pytorch.yml
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  tests/tests_fabric/helpers/models.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, ci, checkpointing, fabric, strategy: fsdp

#17381 Cleanup the `is_distributed` property [TPU]
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/single_tpu.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
Labels: ready, refactor, breaking change, fabric, strategy, pl

#17390 Remove reference to outdated Kaggle tutorial
  docs/source-pytorch/accelerators/tpu_basic.rst
Labels: docs, pl

#17394 Add test for compiling FSDP model in Fabric
  tests/tests_fabric/helpers/runif.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_fabric.py
Labels: ready, fabric, tests

#16558 Wraps sharded model for proper access to it `state_dict` in `FSDP` strategy
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, strategy: fsdp, community, pl

#17402 Update `from_datasets` to support arbitrary iterables
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/datamodule.py
  tests/tests_pytorch/core/test_datamodules.py
Labels: feature, ready, data handling, lightningdatamodule, pl

#17401 skip some App tests
  .github/workflows/ci-tests-app.yml
  tests/tests_app/core/lightning_app/test_configure_layout.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/runners/test_multiprocess.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/utilities/test_commands.py
  tests/tests_app/utilities/test_proxies.py
Labels: ci, priority: 1, app

#16788 Add `header_style` argument to `RichModelSummary` callback
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_summary.py
  src/lightning/pytorch/callbacks/rich_model_summary.py
Labels: feature, ready, community, pl

#17397 Fabric PPO example `share_data` flag
  examples/fabric/reinforcement_learning/README.md
  examples/fabric/reinforcement_learning/rl/utils.py
  examples/fabric/reinforcement_learning/train_fabric.py
  examples/fabric/reinforcement_learning/train_fabric_decoupled.py
  examples/fabric/reinforcement_learning/train_torch.py
Labels: example, ready, fabric, community

#17325 Replace range with `RandomDataset` in example
  src/lightning/pytorch/core/datamodule.py
Labels: docs, pl

#17217 GPU suggestion does not require devices anymore
  src/lightning/pytorch/trainer/setup.py
  tests/tests_pytorch/accelerators/test_gpu.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/accelerators/test_mps.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: refactor, pl

#17379 [TPU] Fix workflow condition
  .github/workflows/tpu-tests.yml
Labels: ci

#17391 Update Fabric CPU tests to work on GPU machines
  tests/tests_fabric/parity/test_parity_simple.py
  tests/tests_fabric/parity/utils.py
  tests/tests_fabric/plugins/precision/test_double_integration.py
  tests/tests_fabric/test_fabric.py
Labels: ready, fabric, tests, community

#17403 Bump default E2E tests image version
  tests/integrations_app/apps/custom_work_dependencies/app.py
Labels: ready, tests, app

#17384 [TPU] Terminate the availability check process when it hangs
  src/lightning/fabric/accelerators/tpu.py
  tests/tests_fabric/utilities/test_xla_device_utils.py
Labels: accelerator: tpu, refactor, fabric

#17352 [TPU] Add support for PJRT from PyTorch/XLA 2.0
  .github/checkgroup.yml
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/accelerators/tpu.py
  src/lightning/fabric/plugins/environments/xla.py
  src/lightning/fabric/strategies/launchers/xla.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/strategies/launchers/xla.py
  src/lightning/pytorch/strategies/xla.py
  tests/tests_fabric/accelerators/test_tpu.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/plugins/environments/test_xla.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_tpu.py
Labels: feature, ready, ci, fabric, community, pl, strategy: xla

#17409 drop failing e2e quick app
  .azure/app-cloud-e2e.yml
  .github/CODEOWNERS
Labels: ready, ci

#17411 [TPU] Do not delete jobs with "keepalive" in the name
  .github/workflows/tpu-tests.yml
Labels: ci

#17408 [TPU] Fix PjRT tests
  src/lightning/fabric/accelerators/tpu.py
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/io/xla.py
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_fabric/plugins/environments/test_xla.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_fabric.py
  tests/tests_pytorch/checkpointing/test_trainer_checkpoint.py
  tests/tests_pytorch/core/test_metric_result_integration.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_xla.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/utilities/test_deepspeed_collate_checkpoint.py
Labels: fabric, pl

#17424 Fix LightningModule step methods bypassing DDP wrapper in Fabric
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/test_wrappers.py
Labels: bug, ready, fabric

#17433 Minor Fabric backward refactor
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: ready, refactor, fabric

#17440 Document access to Fabric attributes inside LightningModule
  docs/source-fabric/guide/lightning_module.rst
Labels: docs, fabric

#17426 Resolve Lightning App with remote storage
  .azure/app-cloud-e2e.yml
  examples/app/commands_and_api/.lightningignore
  src/lightning/app/core/constants.py
  src/lightning/app/core/queues.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/storage/path.py
  src/lightning/app/testing/testing.py
  src/lightning/app/utilities/app_logs.py
  src/lightning/app/utilities/packaging/cloud_compute.py
  tests/integrations_app/public/test_v0_app.py
  tests/tests_app/core/test_constants.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
  tests/tests_app/utilities/test_load_app.py
Labels: bug, ready, ci, app

#17438 Fix `num_nodes` not set for FSDPStrategy
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: bug, strategy: fsdp, pl

#17441 Handle edge case in `Fabric.setup()` when model has no parameters
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: bug, ready, fabric

#17335 req: formatting
  requirements/_integrations/accelerators.txt
  requirements/app/base.txt
  requirements/app/cloud.txt
  requirements/app/components.txt
  requirements/app/test.txt
  requirements/app/ui.txt
  requirements/docs.txt
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/fabric/strategies.txt
  requirements/fabric/test.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  requirements/pytorch/extra.txt
  requirements/pytorch/loggers.info
  requirements/pytorch/strategies.txt
  requirements/pytorch/test.txt
Labels: refactor, fabric, app, pl

#17437 Add Fabric.launch to Fabric methods section
  docs/source-fabric/api/fabric_methods.rst
Labels: fabric

#17452 App: Fix AppState, streamlit example
  .azure/app-cloud-e2e.yml
  requirements/app/base.txt
  src/lightning/app/utilities/state.py
  tests/tests_app/utilities/test_state.py
Labels: ready, ci, priority: 1, app

#17439 Enable precision autocast for `LightningModule` step methods in Fabric
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/test_wrappers.py
Labels: bug, ready, fabric

#17453 set codecov as informational
  .codecov.yml
Labels: ci

#17454 ci: update OS for pkg release
  .github/workflows/_build-packages.yml
  .github/workflows/release-pypi.yml
Labels: ready, ci, priority: 1

#17432 docs: fix past versions location
  docs/source-pytorch/community/index.rst
  docs/source-pytorch/past_versions.rst
Labels: bug, ready, docs, pl

#17455 ci: update OS for pkg release
  .github/workflows/_build-packages.yml
  .github/workflows/release-pypi.yml
Labels: ci

#16950 typing: fix App's core API - api
  pyproject.toml
  src/lightning/app/core/api.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/utilities/test_proxies.py
Labels: ready, refactor, app

#17461 app/tests: skip instead of fail
  .github/workflows/ci-tests-app.yml
  README.md
  requirements/app/test.txt
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/runners/test_multiprocess.py
Labels: ready, ci, app

#17423 Input validation for `Fabric.launch`
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: feature, fabric

#17376 Install project specific dependencies
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/code-checks.yml
  requirements/fabric/examples.txt
  requirements/fabric/strategies.txt
  requirements/pytorch/examples.txt
  requirements/pytorch/strategies.txt
  requirements/typing.txt
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
  src/lightning_fabric/__setup__.py
  src/pytorch_lightning/__setup__.py
Labels: ready, ci, fabric, app, pl

#17334 Patch for device placement (Reduce host and device syncs)
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/ddp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  tests/tests_pytorch/core/test_metric_result_integration.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
Labels: ready, logging, breaking change, fabric, performance, community, pl

#17347 Simplify strategy installation in CI
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  dockers/base-cuda/Dockerfile
  requirements/pytorch/check-avail-strategies.py
Labels: ready, ci, pl

#17466 Remove devel.txt requirements file
  dockers/base-cuda/Dockerfile
  dockers/base-ipu/Dockerfile
  requirements/README.md
  requirements/app/devel.txt
  requirements/fabric/devel.txt
  requirements/pytorch/devel.txt
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
  src/lightning_fabric/__setup__.py
  src/pytorch_lightning/__setup__.py
  tests/README.md
Labels: ready, ci, fabric, app, pl

#17471 drop contribution badge
  README.md
Labels: docs

#17463 Update the MockOptimizer set_to_none default to match PyTorch
  src/lightning/pytorch/core/optimizer.py
Labels: ready, refactor, optimizer, pl

#17470 Update gradient clipping docs in Fabric
  docs/source-fabric/api/fabric_methods.rst
  src/lightning/fabric/fabric.py
Labels: ready, docs, fabric

#17462 Improved model initialization API for Fabric
  docs/source-fabric/api/fabric_methods.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/plugins/precision/double.py
  src/lightning/fabric/plugins/precision/precision.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/strategy.py
  tests/tests_fabric/plugins/precision/test_double_integration.py
  tests/tests_fabric/strategies/test_ddp.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_single_device.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, fabric

#17473 Shared `Fabric._wrap_and_launch` code
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/deepspeed.py
Labels: ready, refactor, fabric

#17244 [App] Add missing python-multipart dependency
  pyproject.toml
  requirements/app/base.txt
  src/lightning/app/cli/lightning_cli.py
Labels: ready, priority: 1, app

#17345 Fix conda badge in README
  README.md
Labels: docs

#17100 Lightning: make type hints public
  .gitignore
  setup.py
  src/lightning/py.typed
  src/lightning_app/MANIFEST.in
  src/lightning_app/py.typed
  src/lightning_fabric/MANIFEST.in
  src/lightning_fabric/py.typed
Labels: ready, fabric, community, app

#17287 True half-precision support in Fabric
  docs/source-fabric/api/fabric_args.rst
  docs/source-fabric/fundamentals/precision.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/__init__.py
  src/lightning/fabric/plugins/precision/__init__.py
  src/lightning/fabric/plugins/precision/half.py
  src/lightning/fabric/plugins/precision/precision.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/plugins/precision/test_double.py
  tests/tests_fabric/plugins/precision/test_half.py
  tests/tests_fabric/strategies/test_ddp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_single_device.py
  tests/tests_fabric/test_connector.py
Labels: feature, ready, fabric, precision: amp, pl

#17484 ci: label issue with version
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/workflows/labeler-issue.yml
  .github/workflows/labeler-pr.yml
Labels: ready, ci

#17489 Fix registry typing annotation
  src/lightning/fabric/accelerators/accelerator.py
  src/lightning/fabric/accelerators/cpu.py
  src/lightning/fabric/accelerators/cuda.py
  src/lightning/fabric/accelerators/mps.py
  src/lightning/fabric/accelerators/registry.py
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/dp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/registry.py
  src/lightning/fabric/strategies/strategy.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/pytorch/accelerators/cpu.py
  src/lightning/pytorch/accelerators/cuda.py
  src/lightning/pytorch/accelerators/ipu.py
  src/lightning/pytorch/accelerators/mps.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/ipu.py
  src/lightning/pytorch/strategies/single_device.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, refactor, fabric, pl

#17075 Replace IPU with external implementation
  .azure/ipu-tests.yml
  .github/checkgroup.yml
  .github/workflows/ci-dockers-pytorch.yml
  dockers/ci-runner-ipu/Dockerfile
  docs/source-pytorch/accelerators/ipu_advanced.rst
  docs/source-pytorch/accelerators/ipu_intermediate.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/accelerator.rst
  docs/source-pytorch/extensions/plugins.rst
  docs/source-pytorch/extensions/strategy.rst
  requirements/_integrations/accelerators.txt
  src/lightning/pytorch/_graveyard/__init__.py
  src/lightning/pytorch/_graveyard/ipu.py
  src/lightning/pytorch/accelerators/__init__.py
  src/lightning/pytorch/accelerators/ipu.py
  src/lightning/pytorch/callbacks/gradient_accumulation_scheduler.py
  src/lightning/pytorch/plugins/__init__.py
  src/lightning/pytorch/plugins/precision/__init__.py
  src/lightning/pytorch/plugins/precision/ipu.py
  src/lightning/pytorch/strategies/__init__.py
  src/lightning/pytorch/strategies/ipu.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/setup.py
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/tests_fabric/conftest.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/accelerators/test_registry.py
  tests/tests_pytorch/callbacks/test_gradient_accumulation_scheduler.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/graveyard/test_ipu.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_config_validator.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_data.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, ci, refactor, 3rd party, fabric, pl

#17430 upload checkpoint files to neptune from stream
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/neptune.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_neptune.py
Labels: bug, ready, logger: neptune, community, pl

#17495 gh: fix duplicate id in bug issue
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
Labels: priority: 0, ci

#17465 adjust msg for external accelerators
  src/lightning/pytorch/_graveyard/hpu.py
  src/lightning/pytorch/_graveyard/ipu.py
  src/lightning/pytorch/trainer/setup.py
Labels: refactor, pl

#17501 fix issue labeler
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/advanced-issue-labeler.yml
  .github/workflows/labeler-issue.yml
Labels: ci

#17274 Add timeout argument for `FSDPStrategy`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_ddp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, fabric, strategy: fsdp, community, pl

#17498 Fix setup_model typos in Fabric
  src/lightning/fabric/fabric.py
  tests/tests_fabric/plugins/precision/test_amp_integration.py
Labels: ready, docs, fabric

#17480 Resolve e2e CI
  examples/app/template_streamlit_ui/app.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/testing/testing.py
  src/lightning/app/utilities/app_logs.py
  tests/integrations_app/public/test_boring_app.py
Labels: app

#17511 Add current count and total count to standalone test output
  tests/tests_pytorch/run_standalone_tests.sh
Labels: pl

#17507 Support inspecting the signature of decorated hooks
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/signature_utils.py
  tests/tests_pytorch/utilities/test_signature_utils.py
Labels: bug, ready, hooks, pl

#17513 Examples: expose learning rate
  examples/pytorch/basics/autoencoder.py
Labels: ready, pl

#17509 [TPU] Call `auto_device_count` for `is_available`
  .github/checkgroup.yml
  src/lightning/fabric/accelerators/tpu.py
  tests/tests_fabric/accelerators/test_tpu.py
  tests/tests_fabric/utilities/test_xla_device_utils.py
Labels: ready, ci, accelerator: tpu, refactor, fabric

#17510 Update `Fabric.init_module` for FSDP
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
Labels: bug, ready, fabric, strategy: fsdp

#17504 fabric: upstream runif to pkg
  src/lightning/fabric/utilities/testing/__init__.py
  src/lightning/fabric/utilities/testing/_runif.py
  tests/tests_fabric/helpers/runif.py
  tests/tests_fabric/utilities/test_runif.py
Labels: ready, fabric

#17499 Avoid creating CUDA stream if not running on CUDA
  src/lightning/fabric/strategies/ddp.py
  src/lightning/pytorch/strategies/ddp.py
  tests/tests_fabric/strategies/test_ddp.py
Labels: ready, fabric, pl

#17527 Add map location option to checkpoint upgrade utility
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/upgrade_checkpoint.py
  tests/tests_pytorch/utilities/test_upgrade_checkpoint.py
Labels: feature, ready, checkpointing, pl
