Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-03, with the labels that each got.

#16910 docs: typo in habana docs
  docs/source-pytorch/levels/advanced_level_20.rst
Labels: ready, docs, pl

#16913 Maverick registration
  src/lightning/app/cli/connect/maverick.py
  src/lightning/app/utilities/clusters.py
  tests/tests_app/cli/test_connect_maverick.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#16916 Add strategy="auto" support on the 1.9.x branch
  src/lightning_app/CHANGELOG.md
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/connector.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: bug, ready, priority: 0, fabric, app, pl

#16920 Ignore dead links due to fabric docs move
  .github/checkgroup.yml
  .github/workflows/check-md-links.yml
  examples/README.md
  examples/fabric/dcgan/README.md
  examples/fabric/image_classifier/README.md
  examples/fabric/image_classifier/train_fabric.py
  examples/fabric/meta_learning/README.md
  examples/fabric/reinforcement_learning/README.md
Labels: ready, ci, fabric

#16861 add `Any` annotation
  src/lightning/app/api/http_methods.py
  src/lightning/app/components/multi_node/fabric.py
  src/lightning/app/components/multi_node/pytorch_spawn.py
  src/lightning/app/components/multi_node/trainer.py
  src/lightning/app/components/python/popen.py
  src/lightning/app/components/python/tracer.py
  src/lightning/app/components/serve/auto_scaler.py
  src/lightning/app/components/serve/gradio_server.py
  src/lightning/app/components/serve/python_server.py
  src/lightning/app/components/serve/streamlit.py
  src/lightning/app/components/serve/types/type.py
  src/lightning/app/components/training.py
  src/lightning/app/core/flow.py
  src/lightning/app/core/work.py
  src/lightning/app/runners/backends/mp_process.py
  src/lightning/app/runners/runtime.py
  src/lightning/app/testing/helpers.py
  src/lightning/app/testing/testing.py
  src/lightning/app/utilities/app_helpers.py
  src/lightning/app/utilities/commands/base.py
  src/lightning/app/utilities/imports.py
  src/lightning/app/utilities/network.py
  src/lightning/app/utilities/proxies.py
  src/lightning/app/utilities/tracer.py
  src/lightning/store/cloud_api.py
  src/lightning/store/save.py
Labels: ready, code quality, app

#16921 pkg: append PL to lightning
  .azure/app-cloud-e2e.yml
  .azure/app-cloud-store.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/checkgroup.yml
  src/lightning/__setup__.py
Labels: ready, ci

#16860 cleaning typing CI and config
  .github/workflows/code-checks.yml
  pyproject.toml
  requirements/typing.txt
  src/lightning/app/cli/cmd_apps.py
  src/lightning/app/cli/cmd_clusters.py
  src/lightning/app/cli/cmd_init.py
  src/lightning/app/cli/cmd_install.py
  src/lightning/app/cli/cmd_react_ui_init.py
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/core/queues.py
  src/lightning/app/runners/backends/cloud.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/runners/runtime.py
  src/lightning/fabric/__init__.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/core/optimizer.py
  src/lightning/pytorch/loggers/neptune.py
  src/lightning/pytorch/loggers/wandb.py
  src/lightning/pytorch/serve/servable_module.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/model_helpers.py
  src/lightning_app/__about__.py
  src/lightning_fabric/__about__.py
Labels: ready, ci, fabric, app, pl

#16927 docker: fix Torch url
  dockers/base-cuda/Dockerfile
  dockers/base-ipu/Dockerfile
  dockers/base-xla/Dockerfile
  dockers/ci-runner-hpu/Dockerfile
  dockers/docs/Dockerfile
Labels: ready, ci, priority: 1

#16929 ci/gpu: fix install future & use local cache
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-dockers-pytorch.yml
Labels: ready, ci

#16446 update default websocket setting
  src/lightning/app/core/constants.py
Labels: ready, community, app

#16880 Add support for fsspec paths for CSVLoggers
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/csv_logs.py
  tests/tests_pytorch/loggers/test_csv.py
Labels: feature, ready, fabric, logger: csv, community, pl

#16903 Optimize precision conversion in forward of Fabric module wrapper
  src/lightning/fabric/plugins/precision/amp.py
  src/lightning/fabric/plugins/precision/deepspeed.py
  src/lightning/fabric/plugins/precision/double.py
  src/lightning/fabric/plugins/precision/precision.py
  src/lightning/fabric/plugins/precision/tpu_bf16.py
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/test_wrappers.py
Labels: ready, fabric, performance

#16911 Fix tests on single-GPU machine
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, fabric, tests, pl

#16906 Update CHANGELOG after the v1.9.4 release
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ready, release, fabric, app, pl

#16882 [App] Add `healthz` endpoint to plugin server
  src/lightning/app/plugin/plugin.py
  tests/tests_app/plugin/test_plugin.py
Labels: feature, ready, app

#16942 Skip flaky ddp-spawn test on windows
  .gitignore
  tests/tests_pytorch/models/test_amp.py
Labels: tests, pl

#16923 refactor: move RunIf to PL pkg
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/testing/__init__.py
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/utilities/testing/__init__.py
  tests/tests_pytorch/utilities/testing/test_runif.py
Labels: ready, refactor, priority: 1, pl

#16936 torchmetrics: bump min version v0.10 in examples
  examples/app_hpo/objective.py
  examples/fabric/image_classifier/train_fabric.py
  examples/pl_domain_templates/computer_vision_fine_tuning.py
  examples/pl_domain_templates/imagenet.py
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
Labels: example, ready, priority: 1, fabric, tests, app, pl

#16940 Maverick message fix
  src/lightning/app/cli/connect/maverick.py
Labels: ready, app

#16905 Fabric: Test PyTorch 2.0 pre-release on CPU and CUDA
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/accelerators/test_cuda.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
Labels: ready, ci, fabric, pl, pytorch 2.0

#16951 docs: deploy all
  .github/checkgroup.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-deploy.yml
  .gitignore
Labels: docs, ci, priority: 1

#16945 docs: add link to lightning-colossalai
  docs/source-pytorch/advanced/third_party/colossalai.rst
Labels: docs, pl

#16943 Document gradient clipping in Fabric
  docs/source-fabric/api/fabric_methods.rst
  src/lightning/fabric/fabric.py
Labels: ready, docs, fabric

#16938 BYOT example
  examples/fabric/build_your_own_trainer/README.md
  examples/fabric/build_your_own_trainer/run.py
  examples/fabric/build_your_own_trainer/trainer.py
  src/lightning/fabric/fabric.py
Labels: example, ready, fabric

#16892 Prepare for ShardedTensor deprecation
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  tests/tests_pytorch/core/test_lightning_module.py
Labels: ready, refactor, breaking change, lightningmodule, pl

#16934 The torchdynamo inline cache is fixed in 2.1
  src/lightning/pytorch/utilities/compile.py
Labels: ready, refactor, pl, pytorch 2.0

#16961 Switch theme for Fabric
  docs/source-fabric/conf.py
  requirements/fabric/docs.txt
Labels: docs, fabric

#16939 Add `max_size` mode to CombinedLoader
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/combined_loader.py
  tests/tests_pytorch/utilities/test_combined_loader.py
Labels: feature, ready, data handling, community, pl

#16907 Call `_cuda_clearCublasWorkspaces` on teardown
  src/lightning/fabric/accelerators/cuda.py
  src/lightning/pytorch/accelerators/cuda.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
Labels: bug, ready, fabric, accelerator: cuda, pl, pytorch 2.0

#16933 Update mypy job to torch 2.0
  .github/workflows/code-checks.yml
  requirements/typing.txt
  src/lightning/fabric/plugins/collectives/collective.py
  src/lightning/fabric/plugins/collectives/torch_collective.py
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/parallel.py
  src/lightning/fabric/utilities/cloud_io.py
  src/lightning/fabric/utilities/distributed.py
  src/lightning/fabric/utilities/types.py
  src/lightning/pytorch/overrides/distributed.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/parallel.py
  src/lightning/pytorch/utilities/compile.py
  src/lightning/pytorch/utilities/distributed.py
Labels: ready, ci, refactor, fabric, pl

#16968 E2E image version using from environment variable instead of hardcoded one
  tests/integrations_app/apps/custom_work_dependencies/app.py
Labels: ready, tests, app

#16972 ci: fix Azure trigger pattern
  .azure/app-cloud-e2e.yml
  .azure/app-cloud-store.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/checkgroup.yml
Labels: ci, priority: 1

#16946 typing: fix App's core API - Work
  pyproject.toml
  src/lightning/app/cli/cmd_clusters.py
  src/lightning/app/core/work.py
Labels: ready, refactor, app

#16926 Mention that the Trainer has started in barebones mode
  src/lightning/pytorch/trainer/trainer.py
Labels: feature, ready, trainer: argument, pl

#16975 Bump default Lightning e2e image version for custom dependencies integration tests
  tests/integrations_app/apps/custom_work_dependencies/app.py
Labels: ready, app

#16955 Document SLURM interactive mode
  docs/source-fabric/guide/multi_node/slurm.rst
  docs/source-pytorch/clouds/cluster_advanced.rst
  src/lightning/fabric/plugins/environments/slurm.py
  tests/tests_fabric/plugins/environments/test_slurm.py
Labels: ready, docs, environment: slurm, fabric, pl, fun

#16967 docs: building releases
  .github/CODEOWNERS
  .github/workflows/docs-build.yml
  Makefile
Labels: ready, docs, ci

#16798 [App] Add --zip option to cp command
  requirements/app/base.txt
  requirements/pytorch/extra.txt
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/commands/cp.py
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/utilities/auth.py
  src/lightning/app/utilities/logs_socket_api.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_app/cli/test_cp.py
Labels: ready, app, pl

#16610 add pkg info files
  .gitignore
  src/lightning_app/shell-folder_code-lives-lightning.info
  src/lightning_fabric/shell-folder_code-lives-lightning.info
  src/pytorch_lightning/shell-folder_code-lives-lightning.info
Labels: docs, fabric, app, pl

#16909 Example of K-fold Cross Validation with `Fabric`
  examples/fabric/kfold_cv/README.md
  examples/fabric/kfold_cv/train_fabric.py
Labels: example, fabric

#16948 typing: fix App's core API - Queues
  pyproject.toml
  src/lightning/app/core/queues.py
Labels: refactor, app

#16952 Document how to use multiple models and optimizers in Fabric
  docs/source-fabric/advanced/multiple_setup.rst
  docs/source-fabric/index.rst
Labels: docs, fabric

#16956 Update documentation about configuration files structure
  docs/source-pytorch/cli/lightning_cli_advanced.rst
Labels: ready, docs, lightningcli, community, pl

#16949 typing: fix App's core API - App
  pyproject.toml
  src/lightning/app/core/app.py
  src/lightning/app/core/queues.py
Labels: ready, refactor, app

#16984 ci: update group-check
  .github/checkgroup.yml
Labels: ci

#16982 ci/docs: clean todos
  .github/workflows/docs-build.yml
Labels: ci

#16980 Miscellaneous updates in Fabric docs
  Makefile
  docs/source-fabric/_templates/theme_variables.jinja
  docs/source-fabric/api/utilities.rst
  docs/source-fabric/examples/index.rst
  docs/source-fabric/fundamentals/code_structure.rst
  docs/source-fabric/fundamentals/convert.rst
  docs/source-fabric/fundamentals/launch.rst
  docs/source-fabric/fundamentals/precision.rst
  docs/source-fabric/guide/callbacks.rst
  docs/source-fabric/guide/checkpoint.rst
  docs/source-fabric/guide/lightning_module.rst
  docs/source-fabric/guide/trainer_template.rst
  docs/source-fabric/index.rst
  docs/source-pytorch/_templates/theme_variables.jinja
  src/lightning/fabric/fabric.py
Labels: ready, fabric, pl

#16977 Add test for `torch.compile()` with `Fabric.setup()`
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/test_wrappers.py
Labels: ready, fabric, tests, pytorch 2.0

#16925 Refactor PL examples to `examples/pytorch/`
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/checkgroup.yml
  docs/source-pytorch/accelerators/hpu_intermediate.rst
  docs/source-pytorch/accelerators/ipu_basic.rst
  docs/source-pytorch/deploy/production_advanced.rst
  examples/README.md
  examples/pytorch/basics/README.md
  examples/pytorch/basics/autoencoder.py
  examples/pytorch/basics/backbone_image_classifier.py
  examples/pytorch/basics/profiler_example.py
  examples/pytorch/bug_report/bug_report_model.ipynb
  examples/pytorch/bug_report/bug_report_model.py
  examples/pytorch/domain_templates/computer_vision_fine_tuning.py
  examples/pytorch/domain_templates/generative_adversarial_net.py
  examples/pytorch/domain_templates/imagenet.py
  examples/pytorch/domain_templates/reinforce_learn_Qnet.py
  examples/pytorch/domain_templates/reinforce_learn_ppo.py
  examples/pytorch/domain_templates/semantic_segmentation.py
  examples/pytorch/hpu/mnist_sample.py
  examples/pytorch/hpu/ops_bf16_mnist.txt
  examples/pytorch/hpu/ops_fp32_mnist.txt
  examples/pytorch/ipu/mnist_sample.py
  examples/pytorch/servable_module/production.py
  examples/run_pl_examples.sh
Labels: example, ready, ci, refactor, community, pl

#16890 RTFD: building docs for LTS
  .readthedocs.yml
Labels: ready, docs, priority: 1

#16657 Use base version when comparing torch versions
  src/lightning/fabric/utilities/imports.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/imports.py
Labels: bug, ready, priority: 0, fabric, pl

#16808 Allow sys.argv and args in LightningCLI
  src/lightning/pytorch/cli.py
  tests/tests_pytorch/test_cli.py
Labels: ready, lightningcli, community, pl

#16987 [App] Use environment variables from args when loading apps for the CloudRuntime
  src/lightning/app/plugin/plugin.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/utilities/load_app.py
  tests/tests_app/core/scripts/app_with_env.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#16998 Add compatibility matrix
  docs/source-pytorch/versioning.rst
Labels: ready, docs, pl

#16981 Make examples runnable
  .gitignore
  examples/fabric/meta_learning/train_fabric.py
  examples/pytorch/basics/profiler_example.py
  examples/pytorch/domain_templates/reinforce_learn_Qnet.py
  examples/pytorch/domain_templates/semantic_segmentation.py
  examples/pytorch/servable_module/production.py
Labels: bug, example, ready, fabric

#16999 Inline the `ModelIO` interface
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/checkpointing_intermediate.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/mixins/hparams_mixin.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/core/saving.py
Labels: ready, refactor, breaking change, lightningmodule, pl

#17000 Typing fixes
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/serve/servable_module.py
  src/lightning/pytorch/utilities/parsing.py
  src/lightning/pytorch/utilities/testing/_runif.py
Labels: ready, refactor, pl

#16918 Refactor `loop.setup_data` with utility functions
  src/lightning/fabric/utilities/data.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/data.py
  tests/tests_pytorch/strategies/test_single_device_strategy.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/flags/test_overfit_batches.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_combined_loader.py
  tests/tests_pytorch/utilities/test_data.py
Labels: ready, refactor, data handling, fabric, pl

#17001 Remove unused code
  src/lightning/fabric/utilities/__init__.py
  src/lightning/fabric/utilities/enums.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/memory.py
  tests/tests_pytorch/utilities/test_memory.py
Labels: ready, refactor, fabric, pl

#16989 Update Trainer property docstrings
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, docs, pl

#16986 Workarounds for log support with Torch 2.0
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  src/lightning/pytorch/utilities/compile.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/utilities/test_compile.py
Labels: bug, ready, pl, pytorch 2.0

#16996 Update Fabric docs with installation instructions
  docs/source-fabric/fundamentals/convert.rst
  docs/source-fabric/fundamentals/installation.rst
  docs/source-fabric/index.rst
Labels: ready, docs, fabric

#17013 Link to PyTorch in FSDP docs
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
Labels: ready, docs, fabric, pl

#17012 Review APIs experimental status
  docs/source-fabric/fundamentals/precision.rst
  docs/source-pytorch/accelerators/gpu_expert.rst
  docs/source-pytorch/accelerators/hpu_basic.rst
  docs/source-pytorch/accelerators/hpu_intermediate.rst
  docs/source-pytorch/accelerators/ipu_advanced.rst
  docs/source-pytorch/accelerators/ipu_basic.rst
  docs/source-pytorch/accelerators/ipu_intermediate.rst
  docs/source-pytorch/accelerators/tpu_advanced.rst
  docs/source-pytorch/accelerators/tpu_basic.rst
  docs/source-pytorch/accelerators/tpu_intermediate.rst
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/advanced/pruning_quantization.rst
  docs/source-pytorch/advanced/strategy_registry.rst
  docs/source-pytorch/advanced/third_party/colossalai.rst
  docs/source-pytorch/advanced/training_tricks.rst
  docs/source-pytorch/common/checkpointing_expert.rst
  docs/source-pytorch/common/precision_intermediate.rst
  docs/source-pytorch/deploy/production_advanced.rst
  docs/source-pytorch/extensions/accelerator.rst
  docs/source-pytorch/versioning.rst
  src/lightning/fabric/accelerators/accelerator.py
  src/lightning/fabric/accelerators/mps.py
  src/lightning/fabric/accelerators/tpu.py
  src/lightning/fabric/plugins/collectives/collective.py
  src/lightning/fabric/plugins/collectives/single_device.py
  src/lightning/fabric/plugins/collectives/torch_collective.py
  src/lightning/fabric/plugins/io/checkpoint_io.py
  src/lightning/fabric/plugins/io/torch_io.py
  src/lightning/fabric/plugins/io/xla.py
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/accelerators/accelerator.py
  src/lightning/pytorch/accelerators/hpu.py
  src/lightning/pytorch/accelerators/ipu.py
  src/lightning/pytorch/accelerators/mps.py
  src/lightning/pytorch/accelerators/tpu.py
  src/lightning/pytorch/callbacks/batch_size_finder.py
  src/lightning/pytorch/callbacks/finetuning.py
  src/lightning/pytorch/callbacks/lr_finder.py
  src/lightning/pytorch/callbacks/pruning.py
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/cli.py
  src/lightning/pytorch/demos/boring_classes.py
  src/lightning/pytorch/demos/mnist_datamodule.py
  src/lightning/pytorch/plugins/io/async_plugin.py
  src/lightning/pytorch/plugins/io/hpu_plugin.py
  src/lightning/pytorch/plugins/precision/deepspeed.py
  src/lightning/pytorch/plugins/precision/fsdp.py
  src/lightning/pytorch/plugins/precision/hpu.py
  src/lightning/pytorch/plugins/precision/ipu.py
  src/lightning/pytorch/serve/servable_module.py
  src/lightning/pytorch/serve/servable_module_validator.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/hpu_parallel.py
  src/lightning/pytorch/strategies/ipu.py
  src/lightning/pytorch/strategies/single_hpu.py
  src/lightning/pytorch/utilities/compile.py
Labels: ready, docs, fabric, pl

#17014 docs: listing past versions
  docs/source-pytorch/index.rst
  docs/source-pytorch/past_versions.rst
  docs/source-pytorch/tutorials.rst
Labels: ready, docs, pl

#16993 RTFD: building docs for with redirect
  .readthedocs.yml
  docs/source-redirect/Makefile
  docs/source-redirect/conf.py
  docs/source-redirect/index.rst
Labels: docs

#17015 Inline functions called by `_run_stage`
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/test_cli.py
Labels: ready, refactor, trainer, pl

#17016 revert building docs with redirect
  .readthedocs.yml
Labels: ready, docs, priority: 0

#16932 System customization syncing for jobs run
  src/lightning/app/core/constants.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/source_code/local.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#17018 rtfd: try another redirect
  .readthedocs.yml
  docs/source-redirect/index.rst
Labels: docs

#17008 Mark the connectors as protected
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/connectors/callback_connector.py
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/connectors/logger_connector/__init__.py
  src/lightning/pytorch/trainer/connectors/logger_connector/logger_connector.py
  src/lightning/pytorch/trainer/connectors/signal_connector.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/checkpointing/test_trainer_checkpoint.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
  tests/tests_pytorch/trainer/connectors/test_signal_connector.py
Labels: ready, refactor, breaking change, pl

#17009 Mark internal components as protected
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/loop.py
  src/lightning/pytorch/loops/optimization/automatic.py
  src/lightning/pytorch/loops/optimization/manual.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/loops/progress.py
  src/lightning/pytorch/loops/training_epoch_loop.py
  src/lightning/pytorch/loops/utilities.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/distributed.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_progress.py
Labels: ready, refactor, breaking change, pl

#17019 Revert "Use base version when comparing torch versions"
  src/lightning/fabric/utilities/imports.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
Labels: ready, fabric, pl

#17011 Move HPU broadcast override to the HPU strategy file
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/overrides/torch_distributed.py
  src/lightning/pytorch/strategies/hpu_parallel.py
Labels: ready, refactor, breaking change, strategy: hpu, pl

#17010 The psutil package is now required for CPU monitoring
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/accelerators/cpu.py
  src/lightning/pytorch/accelerators/mps.py
  src/lightning/pytorch/callbacks/device_stats_monitor.py
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
Labels: ready, refactor, breaking change, callback: device stats, pl

#17020 rtfd: try to collapse docs
  .readthedocs.yml
  docs/source-redirect/Makefile
  docs/source-redirect/conf.py
  docs/source-redirect/index.rst
Labels: ready, docs, priority: 1

#16974 Update mypy job to 1.1.1
  requirements/typing.txt
  src/lightning/app/core/app.py
  src/lightning/app/utilities/packaging/build_config.py
  src/lightning/fabric/plugins/collectives/collective.py
  src/lightning/fabric/plugins/collectives/torch_collective.py
  src/lightning/fabric/utilities/device_dtype_mixin.py
  src/lightning/fabric/utilities/types.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/_graveyard/legacy_import_unpickler.py
  src/lightning/pytorch/core/datamodule.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/strategies/ipu.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  src/lightning/pytorch/utilities/combined_loader.py
  src/lightning/pytorch/utilities/compile.py
  src/lightning/pytorch/utilities/data.py
Labels: ready, refactor, fabric, app, pl

#17031 Update links to latest PL docs
  README.md
  docs/source-pytorch/_templates/theme_variables.jinja
  src/pytorch_lightning/README.md
Labels: docs, priority: 0, pl

#16656 Allow frozen data classes in optimizer state dict
  requirements/app/base.txt
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/optimizer.py
  tests/tests_fabric/utilities/test_optimizer.py
Labels: feature, ready, fabric, community, app, pl

#17023 Force keyword-only usage to init Fabric
  src/lightning/fabric/fabric.py
Labels: ready, fabric

#17007 Error checking for non-iterables
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
Labels: ready, refactor, data handling, pl

#17021 Add cute teaser animations to Fabric docs
  docs/source-fabric/fundamentals/accelerators.rst
  docs/source-fabric/fundamentals/launch.rst
  docs/source-fabric/fundamentals/precision.rst
  docs/source-fabric/index.rst
Labels: ready, docs, fabric

#17022 Sort Trainer arguments based on importance
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/trainer/flags/test_env_vars.py
Labels: ready, docs, trainer: argument, code quality, pl

#17006 Data connection mounts for jobs running from CloudSpaces
  requirements/app/base.txt
  src/lightning/app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app

#17041 docs: update version matrix
  docs/source-pytorch/versioning.rst
Labels: docs, pl

#17059 Update introduction video
  docs/source-pytorch/starter/introduction.rst
Labels: ready, docs, pl

#17017 Simplify the Trainer core logic
  docs/source-pytorch/common/lightning_module.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/models/test_hooks.py
Labels: ready, refactor, trainer, pl

#16898 Revert "import neptune instead of import neptune.new"
  docs/source-pytorch/visualize/supported_exp_managers.rst
  requirements/pytorch/loggers.info
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/neptune.py
  tests/tests_pytorch/test_cli.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, logger: neptune, pl

#17046 Update `LightningModule.all_gather` docs
  src/lightning/fabric/fabric.py
  src/lightning/pytorch/core/module.py
Labels: ready, docs, fabric, lightningmodule, pl

#17047 Sort the arguments in the Trainer docs
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, docs, trainer: argument, pl

#17057 Remove outdated LightningModule animation
  docs/source-pytorch/common/lightning_module.rst
Labels: ready, docs, pl

#17063 Add link to past versions in the docs header
  docs/source-pytorch/_templates/theme_variables.jinja
Labels: ready, docs, pl

#17038 docs: adding hivemind
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/advanced/third_party/hivemind.rst
  docs/source-pytorch/extensions/strategy.rst
  requirements/pytorch/strategies.txt
Labels: ready, docs, 3rd party, pl

#16997 Make BYOT imports forward compatible
  examples/fabric/build_your_own_trainer/trainer.py
  requirements/app/base.txt
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
Labels: example, ready, fabric, app, pl

#17069 Remove duplicate CHANGELOG entry
  src/lightning/pytorch/CHANGELOG.md
Labels: docs, pl

#16941 Reroute LightningModule gradient clipping to Fabric
  src/lightning/pytorch/core/module.py
  tests/tests_pytorch/core/test_lightning_module.py
Labels: ready, lightningmodule, pl

#17071 Remove outdated trainer argument videos
  docs/source-pytorch/common/gradient_accumulation.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/extensions/callbacks.rst
Labels: ready, docs, pl

#17076 Minor BYOT Follow-up
  examples/fabric/build_your_own_trainer/trainer.py
Labels: example, fabric

#16953 Add `is_wrapped` utility function for Fabric
  docs/source-fabric/api/utilities.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/__init__.py
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/test_wrappers.py
Labels: feature, ready, fabric, community

#17058 Rename `ProgressBarBase` to `ProgressBar`
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/progress_bar.rst
  docs/source-pytorch/extensions/callbacks.rst
  docs/source-pytorch/extensions/logging.rst
  docs/source-pytorch/visualize/logging_advanced.rst
  docs/source-pytorch/visualize/logging_expert.rst
  src/lightning/app/cli/pl-app-template/core/callbacks.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/__init__.py
  src/lightning/pytorch/callbacks/progress/__init__.py
  src/lightning/pytorch/callbacks/progress/progress_bar.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  src/lightning/pytorch/trainer/connectors/callback_connector.py
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
Labels: ready, refactor, callback, breaking change, community, app, pl

#17030 Use base version check before calling `_register_load_state_dict_pre_hook`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
Labels: bug, ready, priority: 0, pl

#17062 Add `CombinedLoader` to the API reference
  docs/source-pytorch/api_references.rst
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/utilities/combined_loader.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/utilities/test_combined_loader.py
Labels: docs, pl

#17061 Update dataloader docstrings
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, docs, pl

#17065 Update dynamo bug workaround condition
  src/lightning/fabric/utilities/imports.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
Labels: ready, refactor, fabric, pl, pytorch 2.0

#17064 Avoid `inference_mode` with FSDP
  src/lightning/pytorch/loops/utilities.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: ready, refactor, pl, pytorch 2.0

#16839 Update data docs
  docs/source-pytorch/advanced/speed.rst
  docs/source-pytorch/data/access.rst
  docs/source-pytorch/data/alternatives.rst
  docs/source-pytorch/data/data.rst
  docs/source-pytorch/data/datamodule.rst
  docs/source-pytorch/data/iterables.rst
  docs/source-pytorch/guides/data.rst
  docs/source-pytorch/index.rst
Labels: ready, docs, data handling, pl

#17053 Improve the error message for installing tensorboardx
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/loggers/tensorboard.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/tensorboard.py
Labels: bug, ready, logger: tensorboard, fabric, pl, fun

#17082 Update README
  README.md
  src/lightning_app/README.md
  src/lightning_fabric/README.md
Labels: fabric, app

#17056 Prepare 2.0.0 release
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/utilities/migration/utils.py
  src/version.info
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
Labels: ready, docs, fabric, app, pl

#17034 docs: migration guide to the `latest` [1/n]
  Makefile
  docs/source-pytorch/index.rst
  docs/source-pytorch/past_versions.rst
  docs/source-pytorch/upgrade/from_1_4.rst
  docs/source-pytorch/upgrade/from_1_5.rst
  docs/source-pytorch/upgrade/from_1_6.rst
  docs/source-pytorch/upgrade/from_1_7.rst
  docs/source-pytorch/upgrade/from_1_8.rst
  docs/source-pytorch/upgrade/from_1_9.rst
  docs/source-pytorch/upgrade/link_refs.rst
  docs/source-pytorch/upgrade/migration_guide.rst
  docs/source-pytorch/upgrade/sections/1_4_advanced.rst
  docs/source-pytorch/upgrade/sections/1_4_devel.rst
  docs/source-pytorch/upgrade/sections/1_4_regular.rst
  docs/source-pytorch/upgrade/sections/1_5_advanced.rst
  docs/source-pytorch/upgrade/sections/1_5_devel.rst
  docs/source-pytorch/upgrade/sections/1_5_regular.rst
  docs/source-pytorch/upgrade/sections/1_6_advanced.rst
  docs/source-pytorch/upgrade/sections/1_6_devel.rst
  docs/source-pytorch/upgrade/sections/1_6_regular.rst
  docs/source-pytorch/upgrade/sections/1_7_advanced.rst
  docs/source-pytorch/upgrade/sections/1_7_devel.rst
  docs/source-pytorch/upgrade/sections/1_7_regular.rst
  docs/source-pytorch/upgrade/sections/1_8_advanced.rst
  docs/source-pytorch/upgrade/sections/1_8_devel.rst
  docs/source-pytorch/upgrade/sections/1_8_regular.rst
  docs/source-pytorch/upgrade/sections/1_9_advanced.rst
  docs/source-pytorch/upgrade/sections/1_9_devel.rst
  docs/source-pytorch/upgrade/sections/1_9_regular.rst
Labels: ready, docs, pl

#17087 update links to Discord
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/stale.yml
  README.md
  docs/source-app/_templates/theme_variables.jinja
  docs/source-app/get_started/add_an_interactive_demo.rst
  docs/source-app/get_started/build_model.rst
  docs/source-app/get_started/go_beyond_training.rst
  docs/source-app/get_started/jumpstart_from_app_gallery.rst
  docs/source-app/get_started/jumpstart_from_component_gallery.rst
  docs/source-app/get_started/training_with_apps.rst
  docs/source-app/get_started/what_app_can_do.rst
  docs/source-app/index.rst
  docs/source-app/install/installation.rst
  docs/source-app/levels/advanced/index.rst
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/index.rst
  docs/source-app/levels/expert/index.rst
  docs/source-app/levels/intermediate/index.rst
  docs/source-fabric/guide/multi_node/barebones.rst
  docs/source-fabric/guide/multi_node/slurm.rst
  docs/source-pytorch/common_usecases.rst
  docs/source-pytorch/ecosystem/ecosystem-ci.rst
  docs/source-pytorch/expertise_levels.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/levels/advanced.rst
  docs/source-pytorch/levels/core_skills.rst
  docs/source-pytorch/levels/expert.rst
  docs/source-pytorch/levels/intermediate.rst
  docs/source-pytorch/starter/introduction.rst
  src/lightning_app/README.md
  src/lightning_fabric/README.md
  src/pytorch_lightning/README.md
Labels: ready, ci, fabric, app, pl

#17090 docs: fix link in guide
  docs/source-pytorch/upgrade/migration_guide.rst
Labels: ready, docs, pl

#17098 readme typo
  README.md
Labels: docs

#16994 docs: update broken links & latest/stable
  .github/ISSUE_TEMPLATE/2_refactor.yaml
  .github/ISSUE_TEMPLATE/3_feature_request.yaml
  .github/ISSUE_TEMPLATE/4_documentation.yaml
  .github/stale.yml
  README.md
  docs/source-app/get_started/build_model.rst
  docs/source-fabric/_templates/theme_variables.jinja
  docs/source-fabric/conf.py
  docs/source-fabric/guide/lightning_module.rst
  docs/source-fabric/index.rst
  docs/source-fabric/links.rst
  docs/source-pytorch/_templates/theme_variables.jinja
  docs/source-pytorch/advanced/post_training_quantization.rst
  docs/source-pytorch/ecosystem/community_examples.rst
  docs/source-pytorch/starter/style_guide.rst
  examples/README.md
  examples/fabric/dcgan/README.md
  examples/fabric/image_classifier/README.md
  examples/fabric/image_classifier/train_fabric.py
  examples/fabric/kfold_cv/README.md
  examples/fabric/meta_learning/README.md
  examples/fabric/reinforcement_learning/README.md
  src/lightning/__about__.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/cli.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning_app/README.md
  src/lightning_fabric/__about__.py
  src/pytorch_lightning/README.md
  src/pytorch_lightning/__about__.py
Labels: ready, docs, ci, priority: 1, fabric, app, pl

#17093 readme: update logo
  README.md
Labels: ready, docs, priority: 1

#17086 rtfd: building on PRs only
  .readthedocs.yml
  docs/rtfd-build.sh
Labels: docs

#17004 Fix failing example in Fabric CI
  examples/fabric/image_classifier/train_fabric.py
Labels: bug, example, ready, fabric

#17108 readme: logo 800px
  README.md
Labels: docs

#17111 Restructure Fabric docs
  docs/source-fabric/fundamentals/convert.rst
  docs/source-fabric/fundamentals/launch.rst
  docs/source-fabric/index.rst
  docs/source-fabric/levels/advanced.rst
  docs/source-fabric/levels/basic.rst
  docs/source-fabric/levels/intermediate.rst
Labels: fabric

#17109 pkg: bump 2.1dev & chlog sections
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ready, docs, fabric, app, pl

#17122 ci: switch to utils check
  .github/workflows/ci-check-md-links.yml
Labels: ci

#17096 Update docs for alternative dataset projects
  docs/source-pytorch/data/alternatives.rst
Labels: ready, docs, pl

#17119 Correct `SaveConfigCallback` error message
  src/lightning/pytorch/cli.py
Labels: lightningcli, community, pl

#17113 Typo fix in upgrade from 1.9.x to 2.0 docs: `use_distributed_sample`-> `use_distributed_sampler`
  docs/source-pytorch/upgrade/sections/1_9_advanced.rst
Labels: docs, community, pl

#16969 Reference trainer properties in docs
  docs/source-pytorch/common/trainer.rst
Labels: docs, pl

#17132 hotfix: readme formating
  README.md
Labels: ready, docs

#17055 ci/docs: fix & build docs for specific tags
  .github/workflows/docs-build.yml
  .gitignore
  docs/generate_docs_for_tags.sh
  docs/source-pytorch/past_versions.rst
Labels: ready, docs, ci, priority: 1, pl

#17102 docs order contributors alphabetically
  docs/source-pytorch/governance.rst
Labels: ready, docs, pl

#17125 Add a migration for the dataloader loops
  src/lightning/pytorch/utilities/migration/migration.py
  tests/tests_pytorch/utilities/migration/test_migration.py
Labels: ready, checkpointing, progress tracking (internal), loops, pl

#17134 Update CI config after #17122
  .github/checkgroup.yml
  .github/workflows/README.md
  .github/workflows/ci-check-md-links.yml
Labels: ready, ci

#17133 Never pickle the `Trainer` with the `LightningModule`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/core/module.py
Labels: bug, ready, lightningmodule, pl

#17121 fix(loggers): add `best` and `latest` aliases to wandb artifact in `WandbLogger`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: bug, ready, logger: wandb, community, pl

#17126 Restructure Fabric docs (2/n)
  docs/source-fabric/_static/images/logo.svg
  docs/source-fabric/api/accelerators.rst
  docs/source-fabric/api/collectives.rst
  docs/source-fabric/api/environments.rst
  docs/source-fabric/api/fabric.rst
  docs/source-fabric/api/io.rst
  docs/source-fabric/api/loggers.rst
  docs/source-fabric/api/precision.rst
  docs/source-fabric/api/strategies.rst
  docs/source-fabric/api/utilities.rst
  docs/source-fabric/api_reference.rst
  docs/source-fabric/glossary/index.rst
  docs/source-fabric/guide/index.rst
  docs/source-fabric/index.rst
  docs/source-fabric/levels/advanced.rst
  docs/source-fabric/levels/basic.rst
  docs/source-fabric/levels/intermediate.rst
Labels: ready, fabric

#16995 Let TorchCollective works on the `torch.distributed` WORLD process group by default
  src/lightning/fabric/plugins/collectives/torch_collective.py
  tests/tests_fabric/plugins/collectives/test_torch_collective.py
Labels: feature, ready, fabric, community

#17130 Drop the DataLoader iterator when pickling
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/combined_loader.py
  tests/tests_pytorch/utilities/test_combined_loader.py
Labels: bug, ready, data handling, pl

#17107 Update CI to pull torch 2.0 stable
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-dockers-pytorch.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  dockers/base-cuda/Dockerfile
  requirements/pytorch/adjust-versions.py
  requirements/typing.txt
Labels: ready, ci, pl

#17129 Assume the fetcher input will be a `CombinedLoader`
  src/lightning/pytorch/loops/fetchers.py
Labels: ready, refactor, data handling, pl

#16761 update for neptune 1.0
  docs/source-pytorch/visualize/supported_exp_managers.rst
  requirements/pytorch/loggers.info
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/neptune.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_neptune.py
  tests/tests_pytorch/test_cli.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, logger: neptune, community, pl

#17116 ci: unfreeze for master
  .github/workflows/call-clear-cache.yml
  .github/workflows/ci-flagship-apps.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  setup.py
  src/lightning/__setup__.py
  src/lightning_app/__setup__.py
  src/lightning_fabric/__setup__.py
  src/pytorch_lightning/__setup__.py
Labels: ready, ci, priority: 1, fabric, app, pl

#17029 Support BaguaStrategy with external implementation
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/advanced/third_party/bagua.rst
  docs/source-pytorch/extensions/strategy.rst
  requirements/pytorch/strategies.txt
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, 3rd party, pl

#17181 docs: update links to 1.6 1.5 1.4
  docs/source-pytorch/past_versions.rst
Labels: docs, pl

#17114 readme badges
  README.md
Labels: docs

#17162 Updated conda install commands in docs.
  docs/source-pytorch/index.rst
  docs/source-pytorch/starter/installation.rst
  docs/source-pytorch/starter/introduction.rst
Labels: ready, docs, community, pl

#17032 docs: unify PL ref in changelog
  src/lightning/pytorch/CHANGELOG.md
Labels: docs, pl

#17178 test: adjust `is_timing_close`
  tests/tests_fabric/parity/test_parity_ddp.py
  tests/tests_fabric/parity/test_parity_simple.py
  tests/tests_fabric/parity/utils.py
Labels: fabric, tests

#17067 Replace HPU with external implementation
  .azure/hpu-tests.yml
  .github/checkgroup.yml
  .github/workflows/README.md
  .github/workflows/ci-dockers-pytorch.yml
  .github/workflows/ci-tests-pytorch.yml
  README.md
  dockers/ci-runner-hpu/Dockerfile
  docs/source-app/quickstart.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/checkpointing_expert.rst
  docs/source-pytorch/extensions/accelerator.rst
  docs/source-pytorch/extensions/plugins.rst
  docs/source-pytorch/extensions/strategy.rst
  examples/pytorch/hpu/mnist_sample.py
  requirements/pytorch/test.txt
  src/lightning/pytorch/accelerators/__init__.py
  src/lightning/pytorch/accelerators/hpu.py
  src/lightning/pytorch/plugins/__init__.py
  src/lightning/pytorch/plugins/io/__init__.py
  src/lightning/pytorch/plugins/io/hpu_plugin.py
  src/lightning/pytorch/plugins/precision/__init__.py
  src/lightning/pytorch/plugins/precision/hpu.py
  src/lightning/pytorch/strategies/__init__.py
  src/lightning/pytorch/strategies/hpu_parallel.py
  src/lightning/pytorch/strategies/single_hpu.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/setup.py
  src/lightning/pytorch/utilities/__init__.py
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/testing/_runif.py
  src/pytorch_lightning/README.md
  tests/tests_pytorch/accelerators/test_hpu.py
  tests/tests_pytorch/accelerators/test_registry.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/graveyard/test_legacy_import_unpickler.py
  tests/tests_pytorch/plugins/precision/hpu/ops_bf16.txt
  tests/tests_pytorch/plugins/precision/hpu/ops_fp32.txt
  tests/tests_pytorch/plugins/precision/hpu/test_hpu.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, ci, refactor, 3rd party, app, pl

#17161 Update Custom Callback Docs
  docs/source-pytorch/extensions/callbacks_state.rst
Labels: ready, docs, community, pl

#17123 Decoupled Reinforcement Learning example for Fabric
  examples/fabric/reinforcement_learning/README.md
  examples/fabric/reinforcement_learning/rl/__init__.py
  examples/fabric/reinforcement_learning/rl/agent.py
  examples/fabric/reinforcement_learning/rl/loss.py
  examples/fabric/reinforcement_learning/rl/utils.py
  examples/fabric/reinforcement_learning/train_fabric.py
  examples/fabric/reinforcement_learning/train_fabric_decoupled.py
  examples/fabric/reinforcement_learning/train_torch.py
Labels: example, ready, fabric, community

#17186 fix typo in docs migration 1_6_regular
  docs/source-pytorch/upgrade/sections/1_6_regular.rst
Labels: pl

#17188 Fix `*_batch_end` typos
  docs/source-pytorch/upgrade/sections/1_9_advanced.rst
Labels: docs, community, pl
