Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-01, with the labels that each got.

#16145 Update endpoint access examples: added info about accessing auth-protected apps
  src/lightning_app/components/serve/python_server.py
Labels: ready, app

#16225 Skip a failing Bagua test for manual optimization
  tests/tests_pytorch/strategies/test_bagua_strategy.py
Labels: ready, tests, strategy: bagua, pl

#16212 Fix type error when dividing chunk size in colossalai strategy
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/colossalai.py
Labels: bug, ready, pl, strategy: colossalai

#16020 Fix DDP on XLA
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/plugins/precision/tpu.py
  tests/tests_pytorch/plugins/precision/test_tpu.py
Labels: bug, ready, accelerator: tpu, community, pl

#16173 Added support and test for custom artifact names in WandbLogger
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: feature, ready, logger: wandb, community, pl

#16233 Improvements to checkpoint migration
  src/pytorch_lightning/utilities/migration/migration.py
  src/pytorch_lightning/utilities/migration/utils.py
  tests/tests_pytorch/utilities/migration/test_migration.py
Labels: ready, refactor, checkpointing, tests, pl

#16189 Support arbitrary `Optimizable`s as optimizers
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/optimizer.py
Labels: feature, ready, optimizer, pl

#16232 Update Lightning Lite docs (1/n)
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/model/build_model_expert.rst
  docs/source-pytorch/starter/introduction.rst
Labels: ready, docs, pl

#16250 Update Lightning Lite docs (1/n)
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/model/build_model_expert.rst
  docs/source-pytorch/starter/introduction.rst
Labels: docs, lightninglite, pl

#16247 Fix Fabric CHANGELOG
  src/lightning_fabric/CHANGELOG.md
Labels: docs

#16248 Sync with master changes
  requirements/app/components.txt
  setup.py
  src/lightning_app/components/multi_node/lite.py
  src/lightning_app/utilities/introspection.py
  src/lightning_fabric/CHANGELOG.md
  tests/tests_app/components/multi_node/test_lite.py
  tests/tests_app/core/scripts/lightning_overrides.py
  tests/tests_app/utilities/test_introspection.py
  tests/tests_fabric/utilities/test_imports.py
Labels: ready, app

#16239 Update Lightning Lite docs (2/n)
  docs/source-pytorch/fabric/fabric.rst
Labels: ready, pl

#16234 Added Optional `sphinx` docs linkcheck
  .github/workflows/docs-checks.yml
  docs/source-pytorch/conf.py
Labels: docs, ci, pl

#16251 Fix app e2e race condition. Add more logs verbosity
  src/lightning_app/testing/testing.py
Labels: tests, app

#16062 Relax `on_train_batch_*` hook check with `dataloader_iter` to a warning
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/utilities/test_fetching.py
Labels: feature, ready, community, pl

#16123 Update CI to CUDA 11.7.1
  .azure/gpu-benchmark.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-dockers-pytorch.yml
  .github/workflows/release-docker.yml
  dockers/README.md
  dockers/base-cuda/Dockerfile
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_with_full_state_dict.py
Labels: ready, ci, pl

#16261 Minor Fixes to lite/debug CI
  src/lightning/__init__.py
  tests/tests_pytorch/utilities/migration/test_migration.py
Labels: ready

#16259 Skip sphinx `linkcheck` on CHANGELOG files
  docs/source-pytorch/conf.py
Labels: ready, ci, community, pl

#16264 Lightning 1.9.0 Release Candidate 0
  .actions/assistant.py
  .azure/gpu-tests-fabric.yml
  .github/workflows/release-pypi.yml
  src/version.info
Labels: ready, release

#15819 Selects random port for lightning app when running multiple apps locally
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/core/constants.py
  src/lightning_app/utilities/port.py
  tests/tests_app/cli/test_run_app.py
Labels: ready, app, app:cli

#16168 Check broken links
  .github/workflows/check-md-links.yml
  .github/workflows/markdown.links.config.json
  README.md
  examples/README.md
  examples/fabric/dcgan/README.md
  examples/fabric/image_classifier/README.md
  examples/fabric/image_classifier/train_fabric.py
  src/lightning_app/cli/app-template/README.md
  src/pytorch_lightning/README.md
Labels: ready, ci

#16242 Reuse code in demos.BoringModel
  examples/app_components/python/pl_script.py
  examples/app_components/python/pytorch_lightning_script.py
  src/pytorch_lightning/demos/boring_classes.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/accelerators/test_tpu.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_trainer_checkpoint.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_grad_norm.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/plugins/test_double_plugin.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/strategies/test_sharded_strategy.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_fetching.py
Labels: code quality, pl

#16245 Update Lightning Lite docs (3/n)
  docs/source-pytorch/fabric/fabric.rst
Labels: ready, docs, pl

#16272 ci: pypi / fabric
  .github/workflows/release-pypi.yml
Labels: ready, priority: 0

#16276 Skip horovod tests with cuda errors
  tests/tests_pytorch/models/test_horovod.py
Labels: ready, strategy: horovod (deprecated), tests, pl

#16268 Fix import error in `test_pl_examples.py`
  examples/test_pl_examples.py
Labels: bug, ready, tests, community

#16246 Update Lightning Lite docs (4/n)
  docs/source-pytorch/fabric/fabric.rst
  src/lightning_fabric/fabric.py
Labels: ready, docs, pl

#16283 Fixes app CLI tests by checking for the dynamically assigned port
  tests/tests_app/cli/test_run_app.py
Labels: ready, app

#16279 [App] Fixing race condition while setting servers to be free for next batch in the Loadbalancer
  src/lightning_app/components/serve/auto_scaler.py
Labels: app

#16282 fix legacy creation
  tests/legacy/simple_classif_training.py
Labels: bug, pl

#16302 app: adding silent dependencies
  requirements/app/base.txt
Labels: ready, ci, priority: 1, app

#16299 fix package and validate folders
  .github/actions/pkg-check/action.yml
  .github/workflows/docs-checks.yml
  setup.py
  src/lightning_app/MANIFEST.in
Labels: bug, priority: 0, app

#16002 added support for logging in different trainer stages
  src/lightning_app/CHANGELOG.md
  src/pytorch_lightning/callbacks/device_stats_monitor.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
Labels: feature, ready, callback: device stats, community

#16305 Fix-multiple-loggers-typo
  docs/source-pytorch/visualize/supported_exp_managers.rst
Labels: docs, community, pl

#16121 Logger support in Lite
  docs/source-pytorch/fabric/fabric.rst
  requirements/fabric/test.txt
  src/lightning/__init__.py
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/fabric.py
  src/lightning_fabric/loggers/__init__.py
  src/lightning_fabric/loggers/logger.py
  src/lightning_fabric/loggers/tensorboard.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/loggers/comet.py
  src/pytorch_lightning/loggers/logger.py
  src/pytorch_lightning/loggers/tensorboard.py
  tests/tests_fabric/loggers/__init__.py
  tests/tests_fabric/loggers/test_tensorboard.py
  tests/tests_fabric/test_fabric.py
Labels: ready, lightninglite

#16255 Fixes in sphinx docs links
  docs/source-pytorch/accelerators/ipu_intermediate.rst
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/conf.py
  docs/source-pytorch/ecosystem/transformers.rst
  docs/source-pytorch/extensions/callbacks.rst
  docs/source-pytorch/fabric/fabric.rst
  src/pytorch_lightning/callbacks/pruning.py
  src/pytorch_lightning/callbacks/quantization.py
  src/pytorch_lightning/strategies/ipu.py
Labels: ready, docs, community, pl

#16306 Remove untested NVIDIA Dali example
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  dockers/base-cuda/Dockerfile
  examples/README.md
  examples/app_components/python/app.py
  examples/pl_integrations/dali_image_classifier.py
  examples/test_pl_examples.py
  src/pytorch_lightning/utilities/imports.py
Labels: example, ready, ci, pl

#16314 Deprecate LightningLite
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/lite/lite.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/lite/test_lite.py
Labels: ready, deprecation, lightninglite, pl

#16318 Remove the deprecated `pytorch_lightning.core.lightning` module
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/core.py
  src/pytorch_lightning/core/lightning.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_core.py
Labels: ready, refactor, breaking change, pl

#16309 Rename leftover definitions in Lite tests
  src/pytorch_lightning/accelerators/tpu.py
  src/pytorch_lightning/plugins/precision/precision_plugin.py
  src/pytorch_lightning/strategies/colossalai.py
  src/pytorch_lightning/strategies/deepspeed.py
  src/pytorch_lightning/strategies/strategy.py
  src/pytorch_lightning/strategies/utils.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_fabric/accelerators/test_tpu.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/helpers/models.py
  tests/tests_fabric/plugins/precision/test_double_integration.py
  tests/tests_fabric/plugins/precision/test_native_amp_integration.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/strategies/test_fairscale_integration.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_registry.py
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/test_parity.py
  tests/tests_fabric/test_wrappers.py
Labels: ready, refactor, lightninglite, tests, pl

#16319 Remove the deprecated `pytorch_lightning.callbacks.base` module
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/_graveyard/callbacks.py
  src/pytorch_lightning/callbacks/base.py
  tests/tests_pytorch/deprecated_api/test_remove_1-9.py
  tests/tests_pytorch/graveyard/test_callbacks.py
Labels: ready, refactor, breaking change, pl

#16321 Switch v1.10 deprecation references
  src/pytorch_lightning/accelerators/accelerator.py
  src/pytorch_lightning/cli.py
  src/pytorch_lightning/core/mixins/device_dtype_mixin.py
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/overrides/base.py
  src/pytorch_lightning/overrides/data_parallel.py
  src/pytorch_lightning/overrides/fairscale.py
  src/pytorch_lightning/plugins/precision/apex_amp.py
  src/pytorch_lightning/plugins/precision/deepspeed.py
  src/pytorch_lightning/plugins/precision/native_amp.py
  src/pytorch_lightning/profiler/__init__.py
  src/pytorch_lightning/strategies/horovod.py
  src/pytorch_lightning/strategies/utils.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/states.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/tuner/auto_gpu_select.py
  src/pytorch_lightning/utilities/apply_func.py
  src/pytorch_lightning/utilities/cloud_io.py
  src/pytorch_lightning/utilities/data.py
  src/pytorch_lightning/utilities/device_parser.py
  src/pytorch_lightning/utilities/distributed.py
  src/pytorch_lightning/utilities/enums.py
  src/pytorch_lightning/utilities/optimizer.py
  src/pytorch_lightning/utilities/seed.py
  src/pytorch_lightning/utilities/xla_device.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/deprecated_api/test_remove_1-10.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/helpers/runif.py
Labels: ready, refactor, deprecation, pl

#16085 Add a introduction documents for using Intel Neural Compressor to conduct post-training quantization
  docs/source-pytorch/advanced/post_training_quantization.rst
  docs/source-pytorch/advanced/pruning_quantization.rst
Labels: ready, docs, community, pl

#16326 Fix typo in comet.py
  src/pytorch_lightning/loggers/comet.py
Labels: pl

#16291 Update Lightning Lite docs (5/n)
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/fabric/api/api_reference.rst
  docs/source-pytorch/fabric/api/fabric_args.rst
  docs/source-pytorch/fabric/api/fabric_methods.rst
  docs/source-pytorch/fabric/api/utilities.rst
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/fundamentals/accelerators.rst
  docs/source-pytorch/fabric/fundamentals/code_structure.rst
  docs/source-pytorch/fabric/fundamentals/convert.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
  docs/source-pytorch/fabric/fundamentals/notebooks.rst
  docs/source-pytorch/fabric/guide/callbacks.rst
  docs/source-pytorch/fabric/guide/distributed.rst
  docs/source-pytorch/fabric/guide/lightning_module.rst
  docs/source-pytorch/fabric/guide/logging.rst
  docs/source-pytorch/fabric/guide/trainer_template.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/levels/advanced_level_17.rst
  docs/source-pytorch/model/build_model_expert.rst
  docs/source-pytorch/model/own_your_loop.rst
  docs/source-pytorch/starter/introduction.rst
Labels: ready, docs, lightninglite, pl, fun

#16325 Annotate `Fabric.log_dict` with mapping input
  src/lightning_fabric/fabric.py
  src/pytorch_lightning/core/module.py
  tests/tests_fabric/utilities/test_apply_func.py
Labels: ready, code quality, pl

#16335 Remove lightning_transformers from our docs
  docs/source-pytorch/ecosystem/transformers.rst
Labels: ready, docs, pl

#16327 Fabric: Remove `_Connector.is_distributed`
  src/lightning_fabric/connector.py
  src/lightning_fabric/fabric.py
  src/lightning_fabric/strategies/ddp.py
  src/lightning_fabric/strategies/dp.py
  src/lightning_fabric/strategies/fsdp.py
  src/lightning_fabric/strategies/parallel.py
  src/lightning_fabric/strategies/single_tpu.py
  src/lightning_fabric/strategies/xla.py
  tests/tests_fabric/test_fabric.py
Labels: ready, refactor, lightninglite

#16329 Fabric: drop FairScale's sharded implementation
  docs/source-pytorch/fabric/api/api_reference.rst
  docs/source-pytorch/fabric/api/fabric_args.rst
  requirements/fabric/strategies.txt
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/fabric.py
  src/lightning_fabric/strategies/__init__.py
  src/lightning_fabric/strategies/fairscale.py
  src/lightning_fabric/strategies/fsdp.py
  src/lightning_fabric/strategies/strategy.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/lite/lite.py
  src/pytorch_lightning/overrides/fairscale.py
  src/pytorch_lightning/plugins/precision/sharded_native_amp.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/fully_sharded.py
  src/pytorch_lightning/strategies/sharded.py
  src/pytorch_lightning/strategies/sharded_spawn.py
  tests/tests_fabric/helpers/models.py
  tests/tests_fabric/helpers/runif.py
  tests/tests_fabric/strategies/test_fairscale.py
  tests/tests_fabric/strategies/test_fairscale_integration.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_registry.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/utilities/test_imports.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/lite/test_lite.py
  tests/tests_pytorch/plugins/precision/test_sharded_precision.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_with_full_state_dict.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_sharded_strategy.py
Labels: ready, breaking change, lightninglite, strategy: sharded, pl

#16138 Remove the graveyard
  src/pytorch_lightning/_graveyard/__init__.py
  src/pytorch_lightning/_graveyard/accelerator.py
  src/pytorch_lightning/_graveyard/callbacks.py
  src/pytorch_lightning/_graveyard/cli.py
  src/pytorch_lightning/_graveyard/core.py
  src/pytorch_lightning/_graveyard/loggers.py
  src/pytorch_lightning/_graveyard/loops.py
  src/pytorch_lightning/_graveyard/profiler.py
  src/pytorch_lightning/_graveyard/strategies.py
  src/pytorch_lightning/_graveyard/trainer.py
  src/pytorch_lightning/_graveyard/training_type.py
  src/pytorch_lightning/_graveyard/utilities.py
  src/pytorch_lightning/trainer/configuration_validator.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/graveyard/__init__.py
  tests/tests_pytorch/graveyard/test_accelerator.py
  tests/tests_pytorch/graveyard/test_callbacks.py
  tests/tests_pytorch/graveyard/test_cli.py
  tests/tests_pytorch/graveyard/test_core.py
  tests/tests_pytorch/graveyard/test_loggers.py
  tests/tests_pytorch/graveyard/test_loops.py
  tests/tests_pytorch/graveyard/test_profiler.py
  tests/tests_pytorch/graveyard/test_strategies.py
  tests/tests_pytorch/graveyard/test_trainer.py
  tests/tests_pytorch/graveyard/test_training_type.py
  tests/tests_pytorch/graveyard/test_utilities.py
Labels: ready, refactor, pl

#16323 ci: fix env vars
  .azure/app-cloud-e2e.yml
Labels: ready, ci

#16341 fix import removed `DDPShardedStrategy`
  requirements/app/components.txt
  src/lightning_app/components/multi_node/lite.py
  tests/tests_app/components/multi_node/test_fabric.py
Labels: bug, priority: 0, app

#16330 Address feedback for new Lite docs
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/fundamentals/convert.rst
Labels: docs, lightninglite, pl

#16153 Error handling for `accelerator="mps"` and `ddp` strategy pairing
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/plugins/test_cluster_integration.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/test_supporters.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, community, accelerator: mps, pl

#16308 Do not warn about the scheduler's interval key during manual optim
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/optimizer.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/optimization/test_optimizers.py
Labels: bug, lr scheduler, pl

#16342 Update Lightning Lite docs (6/n)
  docs/source-pytorch/fabric/advanced/collectives.rst
  docs/source-pytorch/fabric/advanced/gradient_accumulation.rst
  docs/source-pytorch/fabric/api/utilities.rst
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/fundamentals/accelerators.rst
  docs/source-pytorch/fabric/fundamentals/code_structure.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
  docs/source-pytorch/fabric/fundamentals/precision.rst
  docs/source-pytorch/fabric/guide/callbacks.rst
  docs/source-pytorch/fabric/guide/lightning_module.rst
  docs/source-pytorch/fabric/guide/logging.rst
  src/lightning_fabric/fabric.py
Labels: ready, docs, lightninglite, pl

#16344 [App] Check for NOT_STARTED app status in cloud tests
  src/lightning_app/testing/testing.py
Labels: ready, ci, app

#16333 Lite Example: Model Agnostic Meta Learning (MAML)
  docs/source-pytorch/fabric/fabric.rst
  examples/fabric/dcgan/README.md
  examples/fabric/image_classifier/README.md
  examples/fabric/meta_learning/README.md
  examples/fabric/meta_learning/train_fabric.py
  examples/fabric/meta_learning/train_torch.py
Labels: example, ready, docs, lightninglite, pl

#15580 Support logging for MetricCollection with compute groups
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
Labels: ready, logging, pl

#16343 ci: parametrize publish
  .github/workflows/release-pypi.yml
Labels: ci, release

#16334 Fix configuration validation error message in Lite CLI
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/connector.py
  tests/tests_fabric/test_connector.py
Labels: bug, ready, lightninglite

#16345 rename integrations_app for accommodating flagships
  .azure/app-cloud-e2e.yml
  .github/CODEOWNERS
  .github/checkgroup.yml
  .github/labeler.yml
  .github/workflows/ci-examples-app.yml
  tests/integrations_app/__init__.py
  tests/integrations_app/apps/collect_failures/__init__.py
  tests/integrations_app/apps/collect_failures/app.py
  tests/integrations_app/apps/collect_failures/requirements.txt
  tests/integrations_app/apps/core_features_app/__init__.py
  tests/integrations_app/apps/core_features_app/app.py
  tests/integrations_app/apps/custom_work_dependencies/__init__.py
  tests/integrations_app/apps/custom_work_dependencies/app.py
  tests/integrations_app/apps/idle_timeout/__init__.py
  tests/integrations_app/apps/idle_timeout/app.py
  tests/integrations_app/conftest.py
  tests/integrations_app/local/__init__.py
  tests/integrations_app/local/test_collect_failures.py
  tests/integrations_app/local/test_core_features_app.py
  tests/integrations_app/local/test_custom_work_dependencies.py
  tests/integrations_app/local/test_idle_timeout.py
  tests/integrations_app/public/__init__.py
  tests/integrations_app/public/test_app_dag.py
  tests/integrations_app/public/test_argparse.py
  tests/integrations_app/public/test_boring_app.py
  tests/integrations_app/public/test_commands_and_api.py
  tests/integrations_app/public/test_drive.py
  tests/integrations_app/public/test_gradio.py
  tests/integrations_app/public/test_installation_commands_app.py
  tests/integrations_app/public/test_layout.py
  tests/integrations_app/public/test_multi_node.py
  tests/integrations_app/public/test_payload.py
  tests/integrations_app/public/test_pickle_or_not.py
  tests/integrations_app/public/test_quick_start.py
  tests/integrations_app/public/test_scripts.py
  tests/integrations_app/public/test_template_react_ui.py
  tests/integrations_app/public/test_template_streamlit_ui.py
  tests/integrations_app/public/test_v0_app.py
Labels: ready, refactor, tests

#16163 Document how to run apps with a local version of Lightning on the cloud
  docs/source-app/glossary/index.rst
  docs/source-app/glossary/use_local_lightning.rst
Labels: ready, docs, app

#16304 ci: flagship apps 1/n
  .azure/app-cloud-e2e.yml
  .azure/app-flagships.yml
  src/lightning_app/testing/helpers.py
  src/lightning_app/testing/testing.py
  tests/integrations_app/__init__.py
  tests/integrations_app/flagship/__init__.py
  tests/integrations_app/flagship/test_flashy.py
Labels: ready, ci, priority: 1, release, app

#16339 [App] Fix env variable login
  src/lightning_app/CHANGELOG.md
  src/lightning_app/utilities/login.py
  tests/tests_app/utilities/test_login.py
Labels: bug, ready, app, app:cli

#16338 Fix lite/debug CI [rebase and fixup into #15953]
  requirements/app/components.txt
  src/lightning_app/components/multi_node/lite.py
  src/lightning_app/testing/testing.py
  tests/tests_app/components/multi_node/test_fabric.py
  tests/tests_app/core/scripts/lightning_overrides.py
  tests/tests_app/utilities/test_introspection.py
Labels: ready, app

#16348 update changelog
  src/lightning_app/CHANGELOG.md
  src/lightning_fabric/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
Labels: ready, docs

#16337 Remove truncated backpropagation from loops
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/extensions/loops.rst
  docs/source-pytorch/guides/data.rst
  examples/pl_loops/yielding_training_step.py
  src/lightning_app/utilities/introspection.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/progress/base.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/loops/__init__.py
  src/pytorch_lightning/loops/batch/__init__.py
  src/pytorch_lightning/loops/batch/training_batch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/loop.py
  src/pytorch_lightning/loops/optimization/manual_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/loops/utilities.py
  src/pytorch_lightning/trainer/configuration_validator.py
  src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/tuner/batch_size_scaling.py
  src/pytorch_lightning/utilities/migration/migration.py
  src/pytorch_lightning/utilities/migration/utils.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/loops/batch/__init__.py
  tests/tests_pytorch/loops/batch/test_truncated_bptt.py
  tests/tests_pytorch/loops/epoch/test_training_epoch_loop.py
  tests/tests_pytorch/loops/test_evaluation_loop_flow.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/loops/test_training_loop_flow_scalar.py
  tests/tests_pytorch/loops/test_utilities.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/migration/test_migration.py
  tests/tests_pytorch/utilities/test_fetching.py
Labels: ready

#16346 Add CSVLogger for Lightning Lite
  docs/source-pytorch/fabric/api/api_reference.rst
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/guide/logging.rst
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/loggers/__init__.py
  src/lightning_fabric/loggers/csv_logs.py
  src/lightning_fabric/loggers/tensorboard.py
  src/pytorch_lightning/loggers/csv_logs.py
  tests/tests_fabric/loggers/test_csv.py
Labels: ready, lightninglite, logger: csv, pl

#16331 update documentation with upcoming supported regions
  docs/source-app/workflows/byoc/create_cluster.rst
Labels: ready, docs, app

#16354 ci: flagship disable pr
  .azure/app-flagships.yml
Labels: ci

#16201 [App] Rename gradio.py gradio_server.py
  docs/source-app/api_reference/components.rst
  docs/source-app/api_references.rst
  pyproject.toml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/serve/__init__.py
  src/lightning_app/components/serve/gradio_server.py
  tests/integrations_app/public/test_gradio.py
Labels: bug, ready, app, components

#16203 Remove the redundant precision attribute from LightningModule
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/trainer/connectors/data_connector.py
  src/pytorch_lightning/utilities/model_summary/model_summary.py
  tests/tests_pytorch/accelerators/test_ipu.py
  tests/tests_pytorch/plugins/precision/hpu/test_hpu.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_native.py
Labels: ready, pl

#16192 Remove special handling of loss in progress bar
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/progress/base.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/trainer/supporters.py
  src/pytorch_lightning/tuner/lr_finder.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
  tests/tests_pytorch/trainer/logging_/test_progress_bar_logging.py
  tests/tests_pytorch/trainer/test_supporters.py
Labels: ready, pl

#16370 Rename `Strategy.reduce` to `Strategy.all_reduce` in Lite
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/strategies/ddp.py
  src/lightning_fabric/strategies/dp.py
  src/lightning_fabric/strategies/fsdp.py
  src/lightning_fabric/strategies/parallel.py
  src/lightning_fabric/strategies/single_device.py
  src/lightning_fabric/strategies/strategy.py
  src/lightning_fabric/strategies/xla.py
  tests/tests_fabric/strategies/launchers/test_xla.py
  tests/tests_fabric/strategies/test_single_device.py
  tests/tests_fabric/strategies/test_xla.py
Labels: feature, ready, strategy

#16359 Remove the deprecated `pytorch_lightning.profiler` module
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/profiler/__init__.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
Labels: ready, refactor, profiler, breaking change, pl

#16358 Remove `Trainer(move_metrics_to_cpu=True)`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  src/pytorch_lightning/loops/optimization/manual_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
Labels: ready, breaking change, trainer: argument, pl

#16361 Loop flattening: remove `.replace()`
  docs/source-pytorch/extensions/loops.rst
  examples/README.md
  examples/pl_loops/kfold.py
  examples/pl_loops/yielding_training_step.py
  src/pytorch_lightning/CHANGELOG.md
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/loops/test_loops.py
Labels: ready, refactor, loops, pl

#16381 [App] Fix e2e test race condition in waiting for openapi
  src/lightning_app/testing/testing.py
Labels: ready, ci, priority: 1, app

#16383 Remove `.replace` [rebase and fixup into #16361]
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/loop.py
Labels: refactor, breaking change, loops, pl

#16353 Deprecate the FairScale integration
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/extensions/strategy.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/overrides/fairscale.py
  src/pytorch_lightning/plugins/precision/fully_sharded_native_amp.py
  src/pytorch_lightning/plugins/precision/sharded_native_amp.py
  src/pytorch_lightning/strategies/fully_sharded.py
  src/pytorch_lightning/strategies/sharded.py
  src/pytorch_lightning/strategies/sharded_spawn.py
  src/pytorch_lightning/strategies/strategy.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/plugins/precision/test_sharded_precision.py
  tests/tests_pytorch/plugins/test_cluster_integration.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_with_full_state_dict.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/strategies/test_sharded_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, deprecation, strategy: sharded, pl

#16379 Remove the deprecated tuning property and enums
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/timer.py
  src/pytorch_lightning/trainer/states.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
Labels: trainer: tune, breaking change, pl

#16384 Loop flattening: remove `.connect()`
  docs/source-pytorch/extensions/loops.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/dataloader/evaluation_loop.py
  src/pytorch_lightning/loops/dataloader/prediction_loop.py
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_training_loop.py
Labels: ready, refactor, breaking change, loops, pl

#16386 Mark forward_module as required
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/overrides/__init__.py
  src/pytorch_lightning/overrides/base.py
  src/pytorch_lightning/overrides/data_parallel.py
  src/pytorch_lightning/overrides/distributed.py
  src/pytorch_lightning/overrides/fairscale.py
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/ddp_spawn.py
  src/pytorch_lightning/strategies/hpu_parallel.py
  src/pytorch_lightning/strategies/tpu_spawn.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
  tests/tests_pytorch/overrides/test_base.py
  tests/tests_pytorch/overrides/test_data_parallel.py
Labels: distributed, refactor, breaking change, pl

#16391 ci: adding jupyter component
  .azure/app-flagships.yml
  tests/integrations_app/flagship/test_jupyter.py
Labels: ready, ci, release, app

#16356 bump version 1.9.0
  README.md
  src/lightning_app/CHANGELOG.md
  src/lightning_fabric/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
  src/version.info
Labels: ready, release

#16388 Make subprocess launcher the default in Lite
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/connector.py
  tests/tests_fabric/test_connector.py
Labels: ready, lightninglite, strategy: ddp

#16378 rename flow _exit
  docs/source-app/core_api/lightning_work/status_content.rst
  docs/source-app/examples/file_server/app.py
  examples/app_argparse/app.py
  examples/app_boring/app.py
  examples/app_boring/app_dynamic.py
  examples/app_components/python/app.py
  examples/app_drive/app.py
  examples/app_hpo/app_wi_ui.py
  examples/app_hpo/app_wo_ui.py
  examples/app_layout/app.py
  examples/app_payload/app.py
  examples/app_pickle_or_not/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/database/server.py
  src/lightning_app/core/app.py
  src/lightning_app/core/flow.py
  src/lightning_app/testing/testing.py
  tests/integrations_app/apps/core_features_app/app.py
  tests/integrations_app/apps/custom_work_dependencies/app.py
  tests/integrations_app/apps/idle_timeout/app.py
  tests/tests_app/components/database/test_client_server.py
  tests/tests_app/core/lightning_app/test_configure_layout.py
  tests/tests_app/core/scripts/app_metadata.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/runners/test_multiprocess.py
  tests/tests_app/storage/test_drive.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/storage/test_payload.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/packaging/projects/dock/compo/b/b.py
  tests/tests_app/utilities/packaging/projects/dockerfile/comp_dockerfile/b/b.py
  tests/tests_app/utilities/packaging/projects/no_req/comp/b/b.py
  tests/tests_app/utilities/packaging/projects/req/comp_req/b/b.py
  tests/tests_app/utilities/test_commands.py
  tests/tests_app/utilities/test_proxies.py
  tests/tests_app/utilities/test_state.py
  tests/tests_app/utilities/testdata/safe_pickle_app.py
Labels: ready, refactor, app, app:lightningflow

#16392 ci: adding Muse app
  .azure/app-cloud-e2e.yml
  .azure/app-flagships.yml
  tests/integrations_app/flagship/test_stable-diffusion.py
Labels: ci, release, app

#16393 dispatch cache clean
  .github/workflows/schedule-clear-cache.yml
Labels: ci

#16398 rename app `_exit` 2/2
  src/lightning_app/core/flow.py
  tests/tests_app/core/test_lightning_flow.py
Labels: ready, app

#16401 fix `dirpath` in `log_dir` for CSVLogger
  .github/workflows/ci-tests-pytorch.yml
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/loggers/csv_logs.py
  src/pytorch_lightning/trainer/trainer.py
Labels: bug, ready, logger, priority: 1, pl

#16406 pypi releasing fix lower
  .github/workflows/release-pypi.yml
Labels: ready, ci

#16394 adding @lantiga as code-owner
  .github/CODEOWNERS
Labels: ready, Epic

#16404 Remove the deprecated code in `pl.utilities.xla_device`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/xla_device.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
Labels: ready, refactor, breaking change, pl

#16405 Revert #16401 and user proper `CSVLogger`
  .github/workflows/ci-tests-pytorch.yml
  src/pytorch_lightning/callbacks/model_checkpoint.py
  src/pytorch_lightning/trainer/connectors/logger_connector/logger_connector.py
  src/pytorch_lightning/trainer/trainer.py
Labels: bug, ready, priority: 0, pl

#16396 changelog: fix links & section
  src/lightning_app/CHANGELOG.md
  src/lightning_fabric/CHANGELOG.md
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/README.md
Labels: ready, docs

#16414 [docs][App] Include components in the API reference
  .gitignore
  docs/source-app/api_reference/components.rst
  docs/source-app/api_reference/frontend.rst
  docs/source-app/api_references.rst
Labels: ready, docs, app

#16412 Remove the deprecated code in `pl.utilities.device_parser`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/device_parser.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
Labels: ready, refactor, breaking change, pl

#16204 Remove deadlock detection / process reconciliation logic
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/bagua.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/fully_sharded_native.py
  src/pytorch_lightning/strategies/parallel.py
  src/pytorch_lightning/strategies/sharded.py
  src/pytorch_lightning/trainer/call.py
  src/pytorch_lightning/utilities/exceptions.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, refactor, strategy: ddp, pl

#16407 Remove the `HivemindStrategy`
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common_usecases.rst
  docs/source-pytorch/extensions/strategy.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/strategies/hivemind.rst
  docs/source-pytorch/strategies/hivemind_basic.rst
  docs/source-pytorch/strategies/hivemind_expert.rst
  docs/source-pytorch/strategies/hivemind_intermediate.rst
  requirements/pytorch/strategies.txt
  src/pytorch_lightning/strategies/__init__.py
  src/pytorch_lightning/strategies/hivemind.py
  src/pytorch_lightning/utilities/__init__.py
  src/pytorch_lightning/utilities/imports.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/strategies/test_hivemind.py
Labels: ready, refactor, breaking change, strategy: hivemind, pl

#16369 Fix `save_hyperparameters` for multiple inheritance and mixins
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/parsing.py
  tests/tests_pytorch/models/test_hparams.py
  tests/tests_pytorch/utilities/test_parsing.py
Labels: bug, ready, community, pl

#16373 Distributed communication docs for Lite
  docs/source-pytorch/fabric/advanced/collectives.rst
  docs/source-pytorch/fabric/advanced/distributed_communication.rst
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
Labels: ready, docs, fabric, pl, fun

#16365 Disable strict loading in multiprocessing launcher
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/launchers/multiprocessing.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
Labels: bug, ready, strategy: ddp spawn, pl, fun

#16423 Option to skip cuda rng in `isolate_rng` utility function
  src/lightning_fabric/utilities/seed.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/seed.py
  tests/tests_pytorch/utilities/test_seed.py
Labels: ready, community, pl

#16430 feat: update `pyproject.toml`
  pyproject.toml
  setup.cfg
Labels: community

#16427 Loop flattening: remove the default `.run()` implementation
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/dataloader/dataloader_loop.py
  src/pytorch_lightning/loops/dataloader/evaluation_loop.py
  src/pytorch_lightning/loops/dataloader/prediction_loop.py
  src/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/loop.py
  src/pytorch_lightning/loops/optimization/manual_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_pytorch/loops/test_loops.py
Labels: ready, refactor, breaking change, loops, pl

#16424 Remove the deprecated code in `pl.core.mixins`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/core/mixins/__init__.py
  src/pytorch_lightning/core/mixins/device_dtype_mixin.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
Labels: ready, refactor, breaking change, pl

#16422 Remove the deprecated code in `pl.utilities.seed`
  docs/source-pytorch/common/trainer.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/seed.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
Labels: ready, refactor, breaking change, pl

#16437 Remove the deprecated `pl.strategies.utils.on_colab_kaggle` function
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/strategies/utils.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
Labels: refactor, breaking change, pl

#16442 Fix broken link
  .github/checkgroup.yml
  src/lightning_app/README.md
Labels: ready, docs, app

#16433 ci: replace flake8 by ruff
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .azure/hpu-tests.yml
  .azure/ipu-tests.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/docs-checks.yml
  .github/workflows/tpu-tests.yml
  .gitignore
  .pre-commit-config.yaml
  docs/source-app/levels/basic/hello_components/multi_node.py
  pyproject.toml
  setup.cfg
  src/lightning_fabric/utilities/logger.py
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/loops/loop.py
  src/pytorch_lightning/utilities/model_summary/model_summary.py
  src/pytorch_lightning/utilities/seed.py
Labels: ready, ci

#16434 Fabric checkpointing 1/n: base implementation
  docs/source-pytorch/fabric/api/fabric_methods.rst
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/guide/checkpoint.rst
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/fabric.py
  src/lightning_fabric/strategies/deepspeed.py
  src/lightning_fabric/strategies/strategy.py
  src/lightning_fabric/strategies/xla.py
  src/lightning_fabric/wrappers.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_strategy.py
  tests/tests_fabric/test_fabric.py
Labels: ready, checkpointing, fabric, pl

#16440 Remove the deprecated code in `pl.utilities.data`
  docs/source-pytorch/api_references.rst
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/utilities/data.py
  tests/tests_pytorch/deprecated_api/test_remove_2-0.py
Labels: ready, refactor, breaking change, pl

#16418 Solved minor bug with MLFlow logger
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/mlflow.py
  tests/tests_pytorch/loggers/test_mlflow.py
Labels: bug, ready, logger: mlflow, community, pl

#16457 fixing typos reported by community user
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/real_lightning_component_implementations.rst
Labels: ready, docs, app

#16455 LightningFabric: Error handling for accelerator="mps" and ddp strategy pairing
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/connector.py
  tests/tests_fabric/plugins/precision/test_deepspeed_integration.py
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_fabric.py
Labels: bug, ready, fabric, community, accelerator: mps

#16463 Test that connector defaults match the ones in Trainer/Fabric
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, tests, trainer: connector, pl, fun

#16458 Test DeepSpeed in Fabric CI
  .github/workflows/ci-tests-fabric.yml
  requirements/fabric/strategies.txt
Labels: ready, ci, strategy: deepspeed, fabric

#16456 [App] Refactor cloud dispatch and update to new API
  requirements/app/base.txt
  src/lightning_app/core/constants.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/source_code/copytree.py
  src/lightning_app/source_code/local.py
  src/lightning_app/utilities/clusters.py
  tests/integrations_app/public/test_commands_and_api.py
  tests/tests_app/cli/test_cloud_cli.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/utilities/test_app_helpers.py
Labels: ready, app

#16451 Two fixes for handling edge cases in MLflow logging
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/mlflow.py
  tests/tests_pytorch/loggers/test_mlflow.py
Labels: bug, logger: mlflow, community, pl

#16400 Remove the FairScale integration
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/conf.py
  docs/source-pytorch/extensions/plugins.rst
  docs/source-pytorch/guides/speed.rst
  requirements/pytorch/check-avail-strategies.py
  requirements/pytorch/strategies.txt
  src/lightning_app/components/multi_node/trainer.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
  src/pytorch_lightning/overrides/fairscale.py
  src/pytorch_lightning/plugins/__init__.py
  src/pytorch_lightning/plugins/precision/__init__.py
  src/pytorch_lightning/plugins/precision/fully_sharded_native_amp.py
  src/pytorch_lightning/plugins/precision/sharded_native_amp.py
  src/pytorch_lightning/serve/servable_module_validator.py
  src/pytorch_lightning/strategies/__init__.py
  src/pytorch_lightning/strategies/ddp.py
  src/pytorch_lightning/strategies/fully_sharded.py
  src/pytorch_lightning/strategies/sharded.py
  src/pytorch_lightning/strategies/sharded_spawn.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/plugins/precision/test_sharded_precision.py
  tests/tests_pytorch/plugins/test_cluster_integration.py
  tests/tests_pytorch/strategies/test_ddp_fully_sharded_with_full_state_dict.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/strategies/test_sharded_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, refactor, breaking change, strategy: fairscale fsdp (deprecated), strategy: fairscale sharded (deprecated)

#16453 Add support for async method and remove context PythonServer
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/serve/python_server.py
Labels: ready, app

#16445 Mark the loop classes as protected
  README.md
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/starter/introduction.rst
  src/lightning_app/utilities/introspection.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/README.md
  src/pytorch_lightning/loops/__init__.py
  src/pytorch_lightning/loops/dataloader/__init__.py
  src/pytorch_lightning/loops/dataloader/dataloader_loop.py
  src/pytorch_lightning/loops/dataloader/evaluation_loop.py
  src/pytorch_lightning/loops/dataloader/prediction_loop.py
  src/pytorch_lightning/loops/epoch/__init__.py
  src/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  src/pytorch_lightning/loops/epoch/prediction_epoch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/loops/loop.py
  src/pytorch_lightning/loops/optimization/__init__.py
  src/pytorch_lightning/loops/optimization/manual_loop.py
  src/pytorch_lightning/loops/optimization/optimizer_loop.py
  src/pytorch_lightning/loops/utilities.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_app/core/scripts/lightning_overrides.py
  tests/tests_app/utilities/test_introspection.py
  tests/tests_pytorch/loops/epoch/test_training_epoch_loop.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/loops/test_loop_state_dict.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/utilities/test_fetching.py
Labels: ready, refactor, breaking change, loops

#16382 [App] Wrap LightningClient methods with retry wrapper by default
  src/lightning_app/CHANGELOG.md
  src/lightning_app/cli/cmd_apps.py
  src/lightning_app/cli/cmd_clusters.py
  src/lightning_app/cli/cmd_ssh_keys.py
  src/lightning_app/cli/commands/connection.py
  src/lightning_app/cli/commands/logs.py
  src/lightning_app/cli/lightning_cli.py
  src/lightning_app/runners/backends/cloud.py
  src/lightning_app/utilities/cli_helpers.py
  src/lightning_app/utilities/commands/base.py
  src/lightning_app/utilities/network.py
  tests/tests_app/utilities/test_network.py
Labels: bug, ready, priority: 0, app

#16459 Add `Fabric.all_reduce`
  docs/source-pytorch/fabric/advanced/distributed_communication.rst
  docs/source-pytorch/fabric/api/fabric_methods.rst
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, docs, fabric, pl, fun

#16419 docs: move `assets_lightning` to pl-public-data
  README.md
  docs/source-app/basics.rst
  docs/source-app/core_api/lightning_app/communication_content.rst
  docs/source-app/examples/dag/dag_from_scratch.rst
  docs/source-app/examples/file_server/file_server_content.rst
  docs/source-app/examples/github_repo_runner/github_repo_runner_content.rst
  docs/source-app/examples/model_server_app/model_server_app_content.rst
  docs/source-app/examples/model_server_app/putting_everything_together.rst
  docs/source-app/get_started/go_beyond_training_content.rst
  docs/source-app/get_started/jumpstart_from_app_gallery.rst
  docs/source-app/get_started/training_with_apps.rst
  docs/source-app/get_started/what_app_can_do.rst
  docs/source-app/glossary/app_tree.rst
  docs/source-app/glossary/event_loop.rst
  docs/source-app/glossary/secrets.rst
  docs/source-app/glossary/storage/drive_content.rst
  docs/source-app/glossary/storage/drive_content_old.rst
  docs/source-app/glossary/storage/path.rst
  docs/source-app/intro.rst
  docs/source-app/moving_to_the_cloud.rst
  docs/source-app/quickstart.rst
  docs/source-app/workflows/add_web_ui/dash/intermediate.rst
  docs/source-app/workflows/add_web_ui/panel/basic.rst
  docs/source-app/workflows/add_web_ui/panel/intermediate.rst
  docs/source-app/workflows/build_command_line_interface/cli_client.rst
  docs/source-app/workflows/build_rest_api/add_api.rst
  docs/source-app/workflows/build_rest_api/request_validation.rst
  src/lightning_app/components/serve/gradio_server.py
  src/pytorch_lightning/README.md
Labels: ready, docs

#16485 Enable more shorthand strategy names in the Fabric CLI
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/cli.py
  tests/tests_fabric/test_cli.py
Labels: feature, ready, fabric

#16494 Grammar corrections for Fabric docs
  docs/source-pytorch/fabric/advanced/distributed_communication.rst
  docs/source-pytorch/fabric/advanced/gradient_accumulation.rst
  docs/source-pytorch/fabric/api/fabric_args.rst
  docs/source-pytorch/fabric/api/fabric_methods.rst
  docs/source-pytorch/fabric/api/utilities.rst
  docs/source-pytorch/fabric/fabric.rst
  docs/source-pytorch/fabric/fundamentals/accelerators.rst
  docs/source-pytorch/fabric/fundamentals/code_structure.rst
  docs/source-pytorch/fabric/fundamentals/convert.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
  docs/source-pytorch/fabric/fundamentals/notebooks.rst
  docs/source-pytorch/fabric/fundamentals/precision.rst
  docs/source-pytorch/fabric/guide/callbacks.rst
  docs/source-pytorch/fabric/guide/checkpoint.rst
  docs/source-pytorch/fabric/guide/lightning_module.rst
  docs/source-pytorch/fabric/guide/logging.rst
Labels: docs, fabric, pl, fun

#16491 Update labeleler config
  .github/checkgroup.yml
  .github/labeler.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#16399 [App] Add interruptible work
  examples/app_interruptible/app.py
  src/lightning_app/CHANGELOG.md
  src/lightning_app/core/constants.py
  src/lightning_app/core/queues.py
  src/lightning_app/runners/cloud.py
  src/lightning_app/utilities/app_helpers.py
  src/lightning_app/utilities/network.py
  src/lightning_app/utilities/packaging/cloud_compute.py
  tests/tests_app/core/test_constants.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_flow.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/core/test_queues.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/packaging/test_cloud_compute.py
  tests/tests_app/utilities/test_load_app.py
Labels: feature, ready, app

#16490 Remove the "native" suffix from the codebase
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/plugins.rst
  docs/source-pytorch/extensions/strategy.rst
  docs/source-pytorch/guides/speed.rst
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/connector.py
  src/lightning_fabric/plugins/__init__.py
  src/lightning_fabric/plugins/precision/__init__.py
  src/lightning_fabric/plugins/precision/amp.py
  src/lightning_fabric/plugins/precision/fsdp.py
  src/lightning_fabric/strategies/fsdp.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/callbacks/stochastic_weight_avg.py
  src/pytorch_lightning/core/hooks.py
  src/pytorch_lightning/plugins/__init__.py
  src/pytorch_lightning/plugins/layer_sync.py
  src/pytorch_lightning/plugins/precision/__init__.py
  src/pytorch_lightning/plugins/precision/amp.py
  src/pytorch_lightning/plugins/precision/fsdp.py
  src/pytorch_lightning/serve/servable_module_validator.py
  src/pytorch_lightning/strategies/__init__.py
  src/pytorch_lightning/strategies/fsdp.py
  src/pytorch_lightning/trainer/connectors/accelerator_connector.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_fabric/plugins/precision/test_amp.py
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/strategies/test_registry.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/models/test_ddp_fork_amp.py
  tests/tests_pytorch/plugins/precision/test_amp.py
  tests/tests_pytorch/plugins/precision/test_amp_integration.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, refactor, breaking change, fabric, precision: amp, strategy: fsdp, pl

#16498 Docs for Trainer init method need double quotes added
  src/pytorch_lightning/trainer/trainer.py
Labels: docs, pl

#16468 Fix minor typos in sharing_components.rst
  docs/source-app/glossary/sharing_components.rst
Labels: ready, docs, community, app

#16474 Docs: Update BYOC IAM Policy Permissions
  docs/source-app/workflows/byoc/aws_cli.rst
  docs/source-app/workflows/byoc/aws_console.rst
Labels: docs, app

#16476 Fix strict torch_xla availability check
  requirements/app/base.txt
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/accelerators/tpu.py
  src/pytorch_lightning/CHANGELOG.md
Labels: bug, ready, accelerator: tpu, fabric, app, pl

#16495 Multi-node documentation for Fabric
  docs/source-pytorch/fabric/api/fabric_args.rst
  docs/source-pytorch/fabric/fundamentals/launch.rst
  docs/source-pytorch/fabric/fundamentals/precision.rst
  docs/source-pytorch/fabric/guide/multi_node/barebones.rst
  docs/source-pytorch/fabric/guide/multi_node/cloud.rst
  docs/source-pytorch/fabric/guide/multi_node/slurm.rst
Labels: ready, docs, pl

#16420 ci: move Flagships to GH
  .azure/app-cloud-e2e.yml
  .azure/app-flagships.yml
  .github/actions/prep-apps/action.yml
  .github/checkgroup.yml
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-flagship-apps.yml
  pyproject.toml
  tests/integrations_app/flagship/__init__.py
  tests/integrations_app/flagship/test_flashy.py
  tests/integrations_app/flagship/test_muse.py
Labels: ready, ci, app

#16505 Rename LiteMultiNode to FabricMultiNode
  .github/checkgroup.yml
  docs/source-app/api_reference/components.rst
  docs/source-pytorch/accelerators/gpu_basic.rst
  docs/source-pytorch/fabric/guide/multi_node/cloud.rst
  examples/app_multi_node/train_fabric.py
  pyproject.toml
  src/lightning_app/CHANGELOG.md
  src/lightning_app/components/__init__.py
  src/lightning_app/components/multi_node/__init__.py
  src/lightning_app/components/multi_node/fabric.py
  tests/tests_app/components/multi_node/test_fabric.py
Labels: ready, ci, breaking change, app, pl

#16508 relax `packaging` versions
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
Labels: ready, fabric, pl

#16510 app: hotfix import `pytest`
  src/lightning_app/testing/helpers.py
Labels: ready, priority: 1, app

#16511 fabric: test with tbX
  requirements/fabric/test.txt
  tests/tests_fabric/conftest.py
Labels: ready, ci, fabric, tests

#16487 Fabric checkpointing 3/n: Implement missing `get_module_state_dict` for strategies
  src/lightning_fabric/CHANGELOG.md
  src/lightning_fabric/strategies/ddp.py
  src/lightning_fabric/strategies/dp.py
  tests/tests_fabric/strategies/test_ddp.py
  tests/tests_fabric/strategies/test_dp.py
Labels: feature, ready, checkpointing, fabric

#16514 ci: trigger on action edit
  .github/checkgroup.yml
  .github/workflows/ci-flagship-apps.yml
Labels: ready, ci

#16500 Remove docs about automatic fault tolerance
  docs/source-pytorch/clouds/fault_tolerant_training.rst
  docs/source-pytorch/clouds/fault_tolerant_training_basic.rst
  docs/source-pytorch/clouds/fault_tolerant_training_expert.rst
  docs/source-pytorch/clouds/fault_tolerant_training_faq.rst
  docs/source-pytorch/common/checkpointing_basic.rst
  docs/source-pytorch/data/custom_data_iterables.rst
  docs/source-pytorch/expertise_levels.rst
  docs/source-pytorch/index.rst
  docs/source-pytorch/levels/expert.rst
Labels: ready, docs, fault tolerance, experimental, pl

#16503 Fix `torch.compile` tests
  src/pytorch_lightning/core/module.py
  src/pytorch_lightning/trainer/trainer.py
  tests/tests_fabric/helpers/runif.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ready, fabric, tests, pl

#16501 SIGTERM handling is now unrelated to fault tolerance
  examples/pl_fault_tolerant/automatic.py
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loops/epoch/evaluation_epoch_loop.py
  src/pytorch_lightning/loops/epoch/training_epoch_loop.py
  src/pytorch_lightning/loops/fit_loop.py
  src/pytorch_lightning/trainer/connectors/signal_connector.py
  src/pytorch_lightning/trainer/trainer.py
  src/pytorch_lightning/utilities/exceptions.py
  tests/tests_pytorch/trainer/connectors/test_signal_connector.py
  tests/tests_pytorch/utilities/test_auto_restart.py
Labels: feature, ready, refactor, fault tolerance, pl

#16513 Allow `MLFlowLogger` to work with `mlflow-skinny`
  src/pytorch_lightning/CHANGELOG.md
  src/pytorch_lightning/loggers/mlflow.py
Labels: feature, ready, logger: mlflow, community, pl

#15811 Init: Models store API
  .azure/app-cloud-e2e.yml
  .azure/app-cloud-store.yml
  .gitignore
  src/lightning/store/README.md
  src/lightning/store/__init__.py
  src/lightning/store/authentication.py
  src/lightning/store/cloud_api.py
  src/lightning/store/save.py
  src/lightning/store/utils.py
  src/lightning_app/core/constants.py
  tests/tests_cloud/__init__.py
  tests/tests_cloud/helpers.py
  tests/tests_cloud/test_model.py
  tests/tests_cloud/test_requirements.py
  tests/tests_cloud/test_source_code.py
  tests/tests_cloud/test_versioning.py
Labels: ready, ci, app

#16506 Add reinforcement learning example for Fabric
  docs/source-pytorch/fabric/fabric.rst
  examples/fabric/reinforcement_learning/README.md
  examples/fabric/reinforcement_learning/requirements.txt
  examples/fabric/reinforcement_learning/src/__init__.py
  examples/fabric/reinforcement_learning/src/loss.py
  examples/fabric/reinforcement_learning/src/utils.py
  examples/fabric/reinforcement_learning/train_fabric.py
  examples/fabric/reinforcement_learning/train_torch.py
Labels: example, ready, fabric, community, pl
