Repository Lightning-AI/pytorch-lightning, pull requests merged in 2023-08, with the labels that each got.

#18208 Remove outdated warning about loading full-state checkpoints in FSDP
  docs/source-fabric/advanced/model_parallel/fsdp.rst
Labels: ready, docs, fabric

#18207 stop building IPU & HPU dockers for CI use from `stable`
  .github/checkgroup.yml
  .github/workflows/ci-dockers-pytorch.yml
Labels: ready, ci, release

#17979 update codeowners
  .github/CODEOWNERS
Labels: ready, ci

#18191 Avoid reinstantiation of DataLoader if distributed sampler not required
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, data handling, fabric, fun

#18209 Simplify double precision input and module conversion
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/overrides/base.py
  src/lightning/pytorch/plugins/precision/double.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/strategy.py
  tests/tests_pytorch/deprecated_api/test_no_removal_version.py
  tests/tests_pytorch/overrides/test_base.py
  tests/tests_pytorch/plugins/precision/test_double.py
Labels: ready, refactor, deprecation, precision: double, code quality, pl

#18193 True half-precision support in Trainer
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/common/lightning_module.rst
  docs/source-pytorch/common/precision_basic.rst
  docs/source-pytorch/common/precision_intermediate.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/levels/advanced_level_19.rst
  docs/source-pytorch/levels/advanced_level_20.rst
  docs/source-pytorch/model/build_model_intermediate.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/__init__.py
  src/lightning/pytorch/plugins/precision/__init__.py
  src/lightning/pytorch/plugins/precision/half.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/plugins/precision/test_half.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: feature, ready, docs, plugin, trainer, pl

#18122 Meta device initialization for FSDP in Fabric
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, fabric, strategy: fsdp, fun

#18126 [TPU] Add Fabric support for PyTorch XLA FSDP
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/__init__.py
  src/lightning/fabric/strategies/launchers/xla.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/fabric/strategies/xla_fsdp.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/strategies/test_registry.py
  tests/tests_fabric/strategies/test_xla_fsdp.py
  tests/tests_fabric/strategies/test_xla_fsdp_integration.py
  tests/tests_fabric/test_connector.py
Labels: feature, ready, fabric, strategy: xla

#18215 Update old references to plugins and DP in docstrings
  src/lightning/fabric/wrappers.py
  src/lightning/pytorch/accelerators/accelerator.py
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/parallel.py
  src/lightning/pytorch/strategies/single_device.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
Labels: docs, fabric, code quality, strategy, pl

#18223 Address test flakiness
  src/lightning/pytorch/loops/progress.py
  tests/tests_pytorch/callbacks/test_pruning.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/serve/test_servable_module_validator.py
Labels: ready, tests, pl

#18129 Support None from training_step in LRFinder
  src/lightning/pytorch/tuner/lr_finder.py
  src/lightning/pytorch/tuner/tuning.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: bug, ready, tuner, community, pl

#18226 Avoid circular imports when lightning-habana or lightning-graphcore is installed
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/setup.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: bug, ready, pl

#18199 ci/docs: use python 3.9
  .github/workflows/ci-dockers.yml
  .github/workflows/docs-build.yml
Labels: ready, ci

#18250 ci: drop nightly from required checks
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
Labels: ready, priority: 0, ci

#18227 Fix adlfs import error when gcsfs is installed
  src/lightning/fabric/utilities/cloud_io.py
Labels: bug, ready, fabric, community

#18218 Monitor subprocesses to avoid zombies
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/launchers/base.py
  src/lightning/fabric/strategies/launchers/subprocess_script.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/launchers/subprocess_script.py
  tests/tests_fabric/strategies/launchers/test_subprocess_script.py
  tests/tests_pytorch/strategies/launchers/test_subprocess_script.py
Labels: feature, ready, fabric, strategy: ddp, performance, pl

#18234 Simplify store
  .azure/app-cloud-store.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-store.yml
  pyproject.toml
  requirements/store/test.txt
  src/lightning/__init__.py
  src/lightning/store/README.md
  src/lightning/store/__init__.py
  src/lightning/store/authentication.py
  src/lightning/store/cloud_api.py
  src/lightning/store/save.py
  src/lightning/store/store.py
  src/lightning/store/utils.py
  tests/tests_cloud/__init__.py
  tests/tests_cloud/conftest.py
  tests/tests_cloud/test_model.py
  tests/tests_cloud/test_requirements.py
  tests/tests_cloud/test_source_code.py
  tests/tests_cloud/test_versioning.py
  tests/tests_store/__init__.py
  tests/tests_store/test_store.py
Labels: ready, ci

#18236 Replace `_FSDPPolicy` with public import
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, ready, priority: 1, fabric, tests, strategy: fsdp, pl, fun

#18237 Remove unreachable code in `TorchCheckpointIO`
  src/lightning/fabric/plugins/io/torch_io.py
Labels: ready, refactor, fabric, code quality, fun

#18046 Adding test for legacy checkpoint created with 2.0.5
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#18257 Improve info message of process observer with rank information
  src/lightning/fabric/strategies/launchers/subprocess_script.py
Labels: feature, ready, fabric

#18217 Support true 16-bit precision with deepspeed in Trainer
  requirements/_integrations/accelerators.txt
  src/lightning/fabric/plugins/precision/deepspeed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/precision/deepspeed.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/utils.py
  tests/tests_pytorch/plugins/precision/test_deepspeed_precision.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: feature, ready, strategy: deepspeed, fabric, pl

#18065 [App] Client retries forever
  src/lightning/app/plugin/plugin.py
  src/lightning/app/runners/backends/cloud.py
  src/lightning/app/utilities/network.py
  tests/tests_app/plugin/test_plugin.py
  tests/tests_app/utilities/test_network.py
Labels: ready, app

#18262 [App] Fix app unit tests
  src/lightning/app/utilities/git.py
  tests/tests_app/utilities/packaging/test_lightning_utils.py
  tests/tests_app/utilities/test_git.py
Labels: ready, app

#18264 Cast input before moving to device for all strategies
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/prediction_loop.py
  src/lightning/pytorch/loops/training_epoch_loop.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/strategy.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/strategies/test_deepspeed_strategy.py
Labels: feature, ready, precision: double, performance, pl

#18235 Make `all_reduce` consistent for both NCCL and GLOO
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_pytorch/core/test_metric_result_integration.py
Labels: bug, ready, fabric, strategy: ddp, pl, fun

#18269 Update docs about double precision with complex numbers
  docs/source-fabric/fundamentals/precision.rst
  docs/source-pytorch/common/precision_basic.rst
  tests/tests_pytorch/plugins/precision/test_double.py
Labels: ready, docs, fabric, pl

#18266 Change error to warning if state_dict is empty in `load_from_checkpoint`
  src/lightning/pytorch/core/saving.py
  tests/tests_pytorch/core/test_saving.py
Labels: feature, ready, checkpointing, community, pl

#18280 Refresh the internal LightningOptimizer state for inspection
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/core/optimizer.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, optimization, optimizer, pl

#18267 Support skipping training step when using mixed precision training
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/precision/amp.py
  tests/tests_pytorch/plugins/precision/test_amp_integration.py
Labels: bug, ready, precision: amp, pl

#18276 Avoid updating the device for XLA FSDP in `Fabric.setup()` [TPU]
  docs/source-fabric/advanced/model_parallel/fsdp.rst
  src/lightning/fabric/fabric.py
  tests/tests_fabric/strategies/test_xla_fsdp_integration.py
Labels: ready, fabric, strategy: fsdp, strategy: xla

#18271 improve debug failing warning test
  tests/tests_fabric/utilities/test_warnings.py
Labels: ready, refactor, fabric, tests

#18292 Validate Trainer settings against cluster environment
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/connector.py
  src/lightning/fabric/plugins/environments/cluster_environment.py
  src/lightning/fabric/plugins/environments/slurm.py
  src/lightning/fabric/plugins/environments/torchelastic.py
  src/lightning/fabric/strategies/launchers/subprocess_script.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/launchers/subprocess_script.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/plugins/environments/test_slurm.py
  tests/tests_fabric/plugins/environments/test_torchelastic.py
  tests/tests_fabric/strategies/launchers/test_subprocess_script.py
  tests/tests_pytorch/strategies/launchers/test_subprocess_script.py
Labels: ready, fabric, pl, fun

#18286 Integration tests for XLA precision [TPU]
  src/lightning/fabric/plugins/precision/xla.py
  tests/tests_fabric/plugins/precision/test_xla_integration.py
  tests/tests_fabric/strategies/test_xla_fsdp.py
  tests/tests_fabric/strategies/test_xla_fsdp_integration.py
Labels: ready, accelerator: tpu, fabric, tests, strategy: xla

#18260 fix badges in readme
  README.md
Labels: ready, docs

#18278 Accommodate FSDP full-precision `param_dtype` training with PyTorch < 2.0
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/precision/fsdp.py
  tests/tests_fabric/plugins/precision/test_fsdp.py
  tests/tests_pytorch/plugins/precision/test_fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: fabric, strategy: fsdp, community, pl

#18310 bump 2.1.0 RC0
  src/version.info
Labels: release

#18238 Disable memory sharing on model parameters in ddp-spawn
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  tests/tests_fabric/strategies/launchers/test_multiprocessing.py
  tests/tests_fabric/strategies/launchers/test_multiprocessing_integration.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
Labels: bug, ready, fabric, reproducibility, strategy: ddp spawn, pl, fun

#18315 drop duplicate version file
  .github/workflows/release-pypi.yml
  .gitignore
  src/lightning/version.info
Labels: bug, ready, ci, priority: 1

#18316 update ci for legacy upload
  .github/workflows/_legacy-checkpoints.yml
  docs/source-pytorch/upgrade/migration_guide.rst
Labels: ci, checkpointing, priority: 1, release, pl

#18273 Mention specific param names and devices in warning
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, fabric

#18319 append ci fix for `2.0.7` [rebase & merge]
  .github/workflows/_legacy-checkpoints.yml
  docs/source-pytorch/upgrade/migration_guide.rst
Labels: ci, release, pl

#18321 Adding test for legacy checkpoint created with 2.0.7
  tests/legacy/back-compatible-versions.txt
Labels: ready, checkpointing, tests, pl

#18314 Revamp model parallel docs (1/n)
  .gitignore
  docs/source-pytorch/advanced/ddp_optimizations.rst
  docs/source-pytorch/advanced/model_init.rst
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/advanced/model_parallel/deepspeed.rst
  docs/source-pytorch/advanced/model_parallel/fsdp.rst
  docs/source-pytorch/extensions/strategy.rst
Labels: ready, docs, strategy: deepspeed, strategy: fsdp, pl

#18324 ci: upload all possible packages
  .github/workflows/release-pypi.yml
Labels: ready, ci, release

#18325 Revamp model parallel docs (2/n)
  docs/source-pytorch/accelerators/gpu_expert.rst
  docs/source-pytorch/advanced/model_init.rst
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/glossary/index.rst
  docs/source-pytorch/integrations/strategies/hivemind.rst
  docs/source-pytorch/model/build_model_intermediate.rst
Labels: ready, docs, strategy: deepspeed, strategy: fsdp, pl

#18283 [TPU] Add `sequential_save` to save FSDP checkpoint shards sequentially
  src/lightning/fabric/strategies/xla_fsdp.py
  tests/tests_fabric/strategies/test_xla_fsdp_integration.py
Labels: feature, ready, fabric, strategy: xla

#18318 ci/docs: split linkcheck
  .github/checkgroup.yml
  .github/workflows/docs-build.yml
Labels: ready, docs, ci

#18275 [TPU] Preserve the device with XLA's collectives
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/xla.py
  src/lightning/fabric/strategies/xla_fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/xla.py
  tests/tests_fabric/strategies/test_xla.py
Labels: bug, ready, breaking change, fabric, pl, strategy: xla

#18329 ci: upload docs as archive
  .github/workflows/docs-build.yml
Labels: ready, docs, ci

#18331 docs: fix dead links for Trainer
  docs/source-pytorch/integrations/strategies/colossalai.rst
  docs/source-pytorch/past_versions.rst
  src/lightning/pytorch/loggers/wandb.py
Labels: ready, docs, priority: 1, pl

#18332 docs: fix dead links for App
  docs/source-app/core_api/lightning_app/communication.rst
  docs/source-app/core_api/lightning_work/payload.rst
  docs/source-app/examples/dag/dag_from_scratch.rst
  docs/source-app/glossary/dag.rst
  docs/source-app/glossary/storage/drive_content.rst
  docs/source-app/levels/advanced/level_17.rst
  docs/source-app/levels/advanced/level_18.rst
  docs/source-app/levels/advanced/start_dynamic_components.rst
  docs/source-app/levels/basic/build_a_lightning_component.rst
  docs/source-app/levels/basic/real_lightning_component_implementations.rst
  docs/source-app/levels/basic/save_money_on_cloud_costs.rst
  docs/source-app/levels/intermediate/connect_lightning_components.rst
  docs/source-app/levels/intermediate/debug_a_lightning_app.rst
  docs/source-app/levels/intermediate/embed_web_ui_into_lightningwork.rst
  docs/source-app/levels/intermediate/run_lightning_work_in_parallel.rst
  docs/source-app/levels/intermediate/start_from_lightning_app_templates.rst
  docs/source-app/ui_and_frontends.rst
  docs/source-app/workflows/access_app_state.rst
  docs/source-app/workflows/add_components.rst
  docs/source-app/workflows/add_web_ui/dash/intermediate.rst
  docs/source-app/workflows/add_web_ui/html/intermediate.rst
  docs/source-app/workflows/add_web_ui/panel/basic.rst
  docs/source-app/workflows/add_web_ui/panel/intermediate.rst
  docs/source-app/workflows/add_web_ui/react/communicate_between_react_and_lightning.rst
  docs/source-app/workflows/add_web_ui/react/connect_react_and_lightning.rst
  docs/source-app/workflows/add_web_ui/streamlit/intermediate.rst
  docs/source-app/workflows/build_lightning_component/index_content.rst
  docs/source-app/workflows/build_lightning_component/intermediate.rst
  docs/source-app/workflows/extend_app.rst
  docs/source-app/workflows/index.rst
  docs/source-app/workflows/run_app_on_cloud/cloud_files.rst
  docs/source-app/workflows/run_work_in_parallel.rst
  docs/source-app/workflows/run_work_once.rst
  docs/source-app/workflows/run_work_once_content.rst
  docs/source-app/workflows/share_app.rst
Labels: ready, docs, priority: 1, app

#18326 Revamp model parallel docs (FSDP) (3/n)
  docs/source-fabric/advanced/model_parallel/fsdp.rst
  docs/source-pytorch/advanced/model_parallel/fsdp.rst
  docs/source-pytorch/extensions/strategy.rst
Labels: ready, docs, fabric, strategy: fsdp, pl

#18298 Improve error message when "if name == main" guard is needed
  src/lightning/fabric/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  tests/tests_fabric/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
Labels: feature, ready, fabric, strategy: ddp spawn, pl, fun

#18341 Fix upgrade guide regarding removed `Trainer.reset_*_dataloaders()`
  docs/source-pytorch/upgrade/sections/1_8_regular.rst
Labels: docs, pl

#18344 Update the DDP optimizations page
  docs/source-pytorch/advanced/ddp_optimizations.rst
  docs/source-pytorch/advanced/model_init.rst
Labels: ready, docs, pl

#18362 Remove `_handle_is_headless` calls in app run loop
  src/lightning/app/core/app.py
  src/lightning/app/utilities/app_helpers.py
  tests/tests_app/utilities/test_app_helpers.py
Labels: ready, app

#18345 switch pepy to pypi downalod badge
  README.md
  src/lightning_app/README.md
  src/lightning_fabric/README.md
  src/pytorch_lightning/README.md
Labels: ready, fabric, app, pl

#18340 ci: rm links checks from required
  .github/checkgroup.yml
  .github/workflows/markdown.links.config.json
Labels: ready, docs, ci

#18333 ci/docs: enable not fetch assets
  .github/workflows/docs-build.yml
  docs/README.md
  docs/rtfd-build.sh
  docs/source-app/conf.py
  docs/source-fabric/conf.py
  docs/source-pytorch/conf.py
Labels: ready, docs, ci, fabric, app, pl

#18357 refactor path to root preventing circular import
  .github/workflows/ci-tests-store.yml
  src/lightning/__init__.py
  src/lightning/app/__init__.py
Labels: bug, ready, ci, refactor, priority: 1, app

#18212 Change top folder
  src/lightning/app/runners/cloud.py
Labels: ready, app

#18322 ci: fix release docker workflow
  .github/checkgroup.yml
  .github/workflows/release-docker.yml
Labels: ready, ci, priority: 1, release

#18069 docs: 1/3 enable Sphinx nitpicky [fabric]
  .github/workflows/docs-build.yml
  docs/source-fabric/advanced/model_parallel/fsdp.rst
  docs/source-fabric/api/fabric_args.rst
  docs/source-fabric/api/utilities.rst
  docs/source-fabric/conf.py
  docs/source-fabric/guide/multi_node/cloud.rst
  docs/source-pytorch/advanced/model_parallel/fsdp.rst
  docs/source-pytorch/common/checkpointing_expert.rst
  src/lightning/fabric/fabric.py
  src/lightning/fabric/plugins/io/xla.py
  src/lightning/fabric/plugins/precision/double.py
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/fabric/plugins/precision/half.py
  src/lightning/fabric/strategies/dp.py
  src/lightning/fabric/strategies/single_device.py
  src/lightning/fabric/utilities/seed.py
  src/lightning/fabric/wrappers.py
  src/lightning/pytorch/plugins/precision/double.py
  src/lightning/pytorch/plugins/precision/fsdp.py
  src/lightning/pytorch/plugins/precision/half.py
Labels: ready, docs, ci, fabric, pl

#18371 Fix saving FSDP checkpoint when world size = 1 and torch <= 2.0
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
Labels: bug, ready, fabric, strategy: fsdp, pl

#18358 Support loading distributed checkpoints for FSDP in Trainer
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, checkpointing, strategy: fsdp, pl

#18374 Extend FSDP guide with checkpointing
  docs/source-fabric/advanced/model_parallel/fsdp.rst
  docs/source-pytorch/advanced/model_parallel/fsdp.rst
Labels: docs, fabric, strategy: fsdp, pl

#18372 Make delimiter in rich progress bar configurable
  docs/source-pytorch/common/progress_bar.rst
  src/lightning/pytorch/callbacks/progress/rich_progress.py
Labels: feature, ready, progress bar: rich, community, pl

#18376 Properly manage `fetcher.done` with `dataloader_iter`
  src/lightning/pytorch/loops/fetchers.py
  tests/tests_pytorch/loops/test_fetchers.py
Labels: bug, ready, data handling, trainer, pl

#18381 Fix typo in BasePredictionWriter documentation
  docs/source-pytorch/deploy/production_basic.rst
  src/lightning/pytorch/callbacks/prediction_writer.py
Labels: ready, community, pl

#18379 Add lazy checkpoint loading for FSDP full-state checkpoints (Trainer)
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, checkpointing, strategy: fsdp, pl

#18377 Organize strategy tests folder
  tests/tests_pytorch/strategies/test_custom_strategy.py
  tests/tests_pytorch/strategies/test_ddp.py
  tests/tests_pytorch/strategies/test_ddp_integration.py
  tests/tests_pytorch/strategies/test_ddp_integration_comm_hook.py
  tests/tests_pytorch/strategies/test_ddp_spawn.py
  tests/tests_pytorch/strategies/test_ddp_spawn_strategy.py
  tests/tests_pytorch/strategies/test_ddp_strategy.py
  tests/tests_pytorch/strategies/test_deepspeed.py
  tests/tests_pytorch/strategies/test_single_device.py
Labels: ready, refactor, tests, code quality, pl, fun

#18389 Update titles in FSDP docs
  .github/workflows/docs-build.yml
  docs/source-pytorch/accelerators/gpu.rst
  docs/source-pytorch/accelerators/gpu_advanced.rst
  docs/source-pytorch/advanced/model_parallel.rst
  docs/source-pytorch/common/index.rst
  docs/source-pytorch/common_usecases.rst
  docs/source-pytorch/expertise_levels.rst
  docs/source-pytorch/levels/advanced.rst
  docs/source-pytorch/levels/advanced_level_22.rst
Labels: ready, docs, ci, strategy: fsdp, pl

#18395 Fix set tracking uri in MLFlowLogger
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/mlflow.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_mlflow.py
Labels: bug, ready, logger: mlflow, pl

#18385 Meta device initialization for FSDP in Trainer
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/demos/transformer.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, strategy: fsdp, pl

#18399 Improve error message for ddp unused parameters on Python 3.11
  src/lightning/pytorch/utilities/exceptions.py
Labels: feature, ready, strategy: ddp, pl

#18401 Remove unused `disallow_batch_sampler` argument
  src/lightning/fabric/utilities/data.py
  src/lightning/pytorch/utilities/data.py
  tests/tests_fabric/utilities/test_data.py
  tests/tests_pytorch/utilities/test_data.py
Labels: ready, refactor, data handling, fabric, code quality, pl, fun

#18415 Avoid expensive `iter()` call to dataloader in dataloader checks
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/data_connector.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
Labels: bug, data handling, performance, pl

#17822 ci: testing with py3.11
  .github/checkgroup.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/ci-tests-data.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  requirements/pytorch/examples.txt
  requirements/pytorch/test.txt
  src/lightning/__setup__.py
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning_app/__setup__.py
  src/lightning_fabric/__setup__.py
  src/pytorch_lightning/__setup__.py
  tests/tests_fabric/utilities/test_imports.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
  tests/tests_pytorch/utilities/test_exceptions.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: ready, ci, fabric, app, pl

#18417 Avoid using the batch idx for the logger connector state
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/training_epoch_loop.py
  src/lightning/pytorch/trainer/connectors/logger_connector/logger_connector.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
Labels: ready, refactor, logging, pl

#18419 update chlog after `2.0.6` and `2.0.7`
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ready, fabric, app, pl

#18392 ci: merge docs builds
  .github/workflows/docs-build.yml
Labels: ready, ci

#18422 Fix typehint in base prediction writer
  src/lightning/pytorch/callbacks/prediction_writer.py
Labels: code quality, pl

#18425 ci: fix group-check update for docs
  .github/checkgroup.yml
Labels: ready, ci

#18418 Validate `Fabric.launched()` was called in `Fabric.init_module()`
  src/lightning/fabric/fabric.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, fabric, pl

#18430 [TPU] Support setting the XLAFSDP policy with a set
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/xla_fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/strategies/test_xla_fsdp.py
  tests/tests_fabric/strategies/test_xla_fsdp_integration.py
Labels: feature, ready, fabric, pl, strategy: xla

#18434 [TPU] Don't rewrap the root module in FSDP
  src/lightning/fabric/strategies/xla_fsdp.py
Labels: bug, ready, fabric, strategy: xla

#18437 Adding test for legacy checkpoint created with 2.0.8
  tests/legacy/back-compatible-versions.txt
Labels: ready, checkpointing, tests, pl

#18424 [TPU] XLAFSDP checkpointing fixes
  src/lightning/fabric/plugins/io/xla.py
  src/lightning/fabric/strategies/xla_fsdp.py
  src/lightning/fabric/utilities/cloud_io.py
  tests/tests_fabric/strategies/test_xla_fsdp_integration.py
Labels: bug, ready, checkpointing, fabric, strategy: xla

#18442 ci/docs: pull sphinx template
  .github/workflows/docs-build.yml
Labels: ready, ci

#18435 relax some dependencies from `<=` to `<`
  .github/workflows/release-pkg.yml
  requirements/app/app.txt
  requirements/app/cloud.txt
  requirements/app/components.txt
  requirements/app/test.txt
  requirements/app/ui.txt
  requirements/data/cloud.txt
  requirements/data/examples.txt
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/fabric/test.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  requirements/pytorch/extra.txt
  requirements/pytorch/test.txt
Labels: ready, ci, fabric, app, pl

#18443 updating CI readme
  .github/workflows/README.md
  .github/workflows/ci-rtfd.yml
Labels: ready, ci
