Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-02, with the labels that each got.

#19381 Support TQDM_MINITERS env variable
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
Labels: feature, ready, progress bar: tqdm, community, pl

#19361 Enable saving and loading stateful DataLoaders in Trainer
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/utilities/combined_loader.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/utilities/test_combined_loader.py
Labels: feature, ready, data handling, fault tolerance, trainer, pl, fun

#19383 Data Processor: Add is_last argument to know when the last item for the current worker is being processed
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/streaming/functions.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready, data

#19384 Docs: fix FSDP acronym
  docs/source-fabric/advanced/model_parallel/fsdp.rst
  docs/source-pytorch/advanced/model_parallel/fsdp.rst
Labels: docs, fabric, pl

#19376 Prepare 2.2 release candidate
  .pre-commit-config.yaml
  src/lightning/app/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ready, fabric, app, pl, package, data

#19389 Data Processing: Tiny optimization
  src/lightning/data/streaming/data_processor.py
  tests/tests_data/streaming/test_data_processor.py
Labels: ready, data

#19382 Reapply compile in `Fabric.setup()` by default
  docs/source-fabric/advanced/compile.rst
  src/lightning/fabric/fabric.py
Labels: feature, ready, docs, fabric, fun, torch.compile

#19390 map: Add support for skipping installation
  src/lightning/data/streaming/resolver.py
Labels: ready, data

#19392 Fix input validation to support passing `device_mesh` to FSDP
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: bug, ready, fabric, strategy: fsdp, pl, fun

#19408 Update return type of `LightningModule.configure_optimizers()`
  src/lightning/pytorch/utilities/types.py
  tests/tests_pytorch/trainer/optimization/test_optimizers.py
Labels: ready, docs, code quality, fun

#19400 Add support for parallelizing processing parquet files across workers and nodes.
  requirements/data/test.txt
  src/lightning/data/processing/__init__.py
  src/lightning/data/processing/image.py
  src/lightning/data/processing/readers.py
  src/lightning/data/streaming/data_processor.py
  src/lightning/data/streaming/functions.py
  tests/tests_data/processing/__init__.py
  tests/tests_data/processing/test_readers.py
Labels: ready, dependencies, data

#19404 Support non-strict loading in Trainer
  docs/source-pytorch/common/checkpointing_advanced.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/core/saving.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
  tests/tests_pytorch/core/test_saving.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
Labels: feature, ready, docs, checkpointing, pl, fun

#19075 Support shortcut name for DeepSpeed stage 1 offload
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/strategies/test_registry.py
Labels: feature, ready, strategy: deepspeed, fabric, community, pl

#19416 Data Processor: Give instructions to the users when the dependencies doesn't match
  src/lightning/data/streaming/cache.py
Labels: ready, data

#19387 Fix dead link in docs
  docs/source-fabric/advanced/compile.rst
Labels: docs, fabric

#19422 docs: drop chlog for data
  src/lightning/data/CHANGELOG.md
Labels: data

#19418 map & operator: Add lightning.ai account creation info
  src/lightning/data/streaming/functions.py
Labels: ready, data

#19415 Update throughput docs
  docs/source-fabric/index.rst
  src/lightning/pytorch/callbacks/throughput_monitor.py
Labels: ready, docs, fabric, pl

#19426 Fix CLI docs typo
  docs/source-pytorch/cli/lightning_cli_advanced.rst
Labels: docs, pl

#19061 Delay `Precision.convert_module` until `configure_model` has run
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/ddp.py
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/single_device.py
  src/lightning/pytorch/strategies/single_xla.py
  src/lightning/pytorch/strategies/strategy.py
  src/lightning/pytorch/strategies/xla.py
  tests/tests_pytorch/plugins/precision/test_bitsandbytes.py
  tests/tests_pytorch/plugins/precision/test_half.py
  tests/tests_pytorch/plugins/precision/test_transformer_engine.py
Labels: bug, ready, fabric, pl, precision: bnb, precision: te, run TPU

#19399 Release Lightning 2.2
  src/lightning/app/CHANGELOG.md
  src/lightning/data/CHANGELOG.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ready, docs, fabric, app, pl, package, data

#19424 Lightning Data: Refactor files
  src/lightning/data/__init__.py
  src/lightning/data/processing/data_processor.py
  src/lightning/data/processing/functions.py
  src/lightning/data/processing/readers.py
  src/lightning/data/streaming/__init__.py
  src/lightning/data/streaming/shuffle.py
  src/lightning/data/utilities/shuffle.py
  tests/tests_data/processing/test_data_processor.py
  tests/tests_data/processing/test_functions.py
  tests/tests_data/streaming/test_dataset.py
  tests/tests_data/streaming/test_shuffle.py
Labels: ready, data

#19429 Add DNS optimize support
  src/lightning/data/constants.py
  src/lightning/data/processing/data_processor.py
  src/lightning/data/processing/dns.py
  src/lightning/data/processing/functions.py
  src/lightning/data/streaming/cache.py
  src/lightning/data/streaming/client.py
  src/lightning/data/streaming/config.py
  src/lightning/data/streaming/dataloader.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/downloader.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/serializers.py
  src/lightning/data/streaming/writer.py
  tests/tests_data/processing/test_dns.py
Labels: data

#19431 Fix import error when running examples in fresh environment
  requirements/pytorch/examples.txt
  src/lightning/pytorch/demos/transformer.py
Labels: bug, example, ready, pl, fun, dependencies

#19430 Update to 2.3.0dev
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  docs/source-pytorch/conf.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ready, docs, ci, fabric, pl, package

#19437 bugfix: correct node rank
  src/lightning/data/utilities/shuffle.py
  tests/tests_data/utilities/test_shuffle.py
Labels: ready, data

#19440 Rename Lightning App CLI
  .github/workflows/ci-pkg-install.yml
  docs/source-app/basics.rst
  docs/source-app/get_started/go_beyond_training_content.rst
  docs/source-app/get_started/jumpstart_from_app_gallery.rst
  docs/source-app/get_started/training_with_apps.rst
  docs/source-app/glossary/command_lines/command_lines.rst
  docs/source-app/glossary/environment_variables.rst
  docs/source-app/glossary/secrets.rst
  docs/source-app/glossary/use_local_lightning.rst
  docs/source-app/landing_app_run.bash
  docs/source-app/levels/basic/hello_components/code_run_cloud.bash
  docs/source-app/levels/basic/hello_components/code_run_cloud_setup.bash
  docs/source-app/levels/basic/hello_components/code_run_local.bash
  docs/source-app/levels/basic/hello_components/code_run_local_setup.bash
  docs/source-app/workflows/add_server/any_server.rst
  docs/source-app/workflows/add_web_ui/justpy/index.rst
  docs/source-app/workflows/add_web_ui/panel/basic.rst
  docs/source-app/workflows/add_web_ui/react/connect_react_and_lightning.rst
  docs/source-app/workflows/build_command_line_interface/cli.rst
  docs/source-app/workflows/build_command_line_interface/cli_client.rst
  docs/source-app/workflows/build_command_line_interface/index.rst
  docs/source-app/workflows/build_lightning_app/from_pytorch_lightning_script.rst
  docs/source-app/workflows/build_lightning_app/from_scratch_content.rst
  docs/source-app/workflows/build_lightning_component/from_scratch_component_content.rst
  docs/source-app/workflows/build_rest_api/add_api.rst
  docs/source-app/workflows/run_app_on_cloud/lightning_cloud.rst
  docs/source-app/workflows/run_app_snippet.rst
  src/lightning/__setup__.py
  src/lightning/app/CHANGELOG.md
  src/lightning/app/cli/app-template/README.md
  src/lightning/app/cli/cmd_react_ui_init.py
  src/lightning/app/cli/commands/app_commands.py
  src/lightning/app/cli/commands/ls.py
  src/lightning/app/cli/component-template/README.md
  src/lightning/app/cli/component-template/setup.py
  src/lightning/app/cli/connect/app.py
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/cli/react-ui-template/README.md
  src/lightning/app/core/flow.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/testing/testing.py
  src/lightning/app/utilities/load_app.py
  src/lightning/app/utilities/login.py
  src/lightning_app/__setup__.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_cmd_react_ui_init.py
  tests/tests_app/cli/test_connect.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/utilities/test_safe_pickle.py
Labels: ready, docs, ci, app, package

#19439 bugfix: skip write index.json if no data is wrote.
  src/lightning/data/streaming/writer.py
  tests/tests_data/processing/test_data_processor.py
Labels: ready, data

#19442 Rename Lightning Fabric CLI
  docs/source-fabric/fundamentals/launch.rst
  src/lightning/__setup__.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/cli.py
  src/lightning_fabric/__setup__.py
  tests/tests_fabric/test_cli.py
Labels: ready, docs, fabric, package

#19445 Remove the Bagua integration
  .azure/gpu-tests-pytorch.yml
  requirements/_integrations/strategies.txt
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, ci, pl, dependencies

#19405 Remove the Graphcore IPU integration
  .github/workflows/README.md
  .gitignore
  docs/source-app/quickstart.rst
  docs/source-pytorch/advanced/speed.rst
  docs/source-pytorch/common/index.rst
  docs/source-pytorch/common/precision_basic.rst
  docs/source-pytorch/common/trainer.rst
  docs/source-pytorch/common_usecases.rst
  docs/source-pytorch/conf.py
  docs/source-pytorch/expertise_levels.rst
  docs/source-pytorch/extensions/accelerator.rst
  docs/source-pytorch/extensions/strategy.rst
  docs/source-pytorch/glossary/index.rst
  docs/source-pytorch/integrations/ipu/index.rst
  docs/source-pytorch/levels/advanced.rst
  docs/source-pytorch/levels/advanced_level_19.rst
  docs/source-pytorch/levels/advanced_level_20.rst
  docs/source-pytorch/levels/advanced_level_21.rst
  docs/source-pytorch/levels/advanced_level_22.rst
  docs/source-pytorch/levels/expert.rst
  docs/source-pytorch/levels/expert_level_22.rst
  docs/source-pytorch/levels/expert_level_23.rst
  docs/source-pytorch/levels/expert_level_24.rst
  docs/source-pytorch/levels/expert_level_25.rst
  docs/source-pytorch/model/manual_optimization.rst
  docs/source-pytorch/tuning/profiler_basic.rst
  examples/pytorch/ipu/mnist_sample.py
  requirements/_integrations/accelerators.txt
  src/lightning/pytorch/_graveyard/__init__.py
  src/lightning/pytorch/_graveyard/ipu.py
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/trainer/connectors/data_connector.py
  src/lightning/pytorch/trainer/setup.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/imports.py
  src/pytorch_lightning/README.md
  tests/tests_fabric/conftest.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/graveyard/test_ipu.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, docs, ci, accelerator: ipu (external), breaking change, fabric, strategy: ipu (external), app, pl, dependencies, package

#19459 Update checkgroup to require PyTorch 2.2 workflows
  .github/checkgroup.yml
Labels: ci

#19456 Some clarifications in the torch.compile Fabric docs
  docs/source-fabric/advanced/compile.rst
Labels: docs, fabric

#19457 Document the return value of `Fabric.clip_gradients()`
  docs/source-fabric/api/fabric_methods.rst
  src/lightning/fabric/fabric.py
Labels: ready, docs, fabric

#19449 Update mypy in CI
  requirements/data/data.txt
  requirements/data/examples.txt
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  requirements/typing.txt
  src/lightning/app/cli/lightning_cli.py
  src/lightning/data/streaming/compression.py
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/fabric/loggers/tensorboard.py
  src/lightning/fabric/plugins/precision/amp.py
  src/lightning/fabric/plugins/precision/bitsandbytes.py
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/single_xla.py
  src/lightning/fabric/strategies/xla.py
  src/lightning/fabric/strategies/xla_fsdp.py
  src/lightning/fabric/utilities/apply_func.py
  src/lightning/fabric/utilities/init.py
  src/lightning/pytorch/cli.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/loggers/comet.py
  src/lightning/pytorch/loggers/csv_logs.py
  src/lightning/pytorch/loggers/mlflow.py
  src/lightning/pytorch/loggers/neptune.py
  src/lightning/pytorch/loggers/tensorboard.py
  src/lightning/pytorch/loggers/wandb.py
  src/lightning/pytorch/plugins/precision/amp.py
  src/lightning/pytorch/plugins/precision/fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/strategies/single_xla.py
  src/lightning/pytorch/strategies/xla.py
Labels: ready, ci, fabric, code quality, app, pl, dependencies, data

#19448 Create barrier without timeout in `prepare_data()`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/data_connector.py
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/models/test_hooks.py
Labels: feature, ready, distributed, fabric, pl, fun

#19452 Improve data processing to enable downloading LAOIN 400M
  requirements/data/test.txt
  src/lightning/data/__init__.py
  src/lightning/data/processing/data_processor.py
  src/lightning/data/processing/dns.py
  src/lightning/data/processing/functions.py
  src/lightning/data/processing/image.py
  src/lightning/data/processing/readers.py
  src/lightning/data/processing/utilities.py
  src/lightning/data/streaming/serializers.py
  src/lightning/data/streaming/writer.py
  tests/tests_data/processing/test_readers.py
  tests/tests_data/processing/test_utilities.py
  tests/tests_data/streaming/test_cache.py
  tests/tests_data/streaming/test_serializer.py
  tests/tests_data/streaming/test_writer.py
Labels: ready, dependencies, data

#19455 Add Lightning Data README 1/N
  src/lightning/data/README.md
Labels: ready, data

#19446 Fix `CSVLogger` trying to append to file from previous run in same version folder
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/loggers/test_csv.py
  tests/tests_pytorch/loggers/test_csv.py
Labels: bug, ready, ci, fabric, logger: csv, pl, fun

#19464 Fix Fabric's ThroughputMonitor docs
  src/lightning/fabric/utilities/throughput.py
Labels: ready, docs, fabric

#19472 Resolve boto3 unable to local credentials
  src/lightning/data/streaming/client.py
  src/lightning/data/streaming/downloader.py
  tests/tests_data/streaming/test_client.py
Labels: ready, data

#19473 Add number of uploaders
  src/lightning/data/README.md
  src/lightning/data/processing/functions.py
Labels: ready, data

#19466 Update Readme 2/n
  README.md
Labels: ready

#19469 Update `all_gather` docs
  docs/source-fabric/advanced/distributed_communication.rst
  src/lightning/fabric/fabric.py
  src/lightning/pytorch/core/module.py
Labels: ready, docs, fabric, pl

#19463 Avoid FSDP deprecations during save/load with newer torch versions
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/utilities/imports.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: ready, fabric, pl

#19447 Inform the user about a missing `fabric.backward()` call
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/cli.py
  src/lightning/fabric/fabric.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_cli.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, fabric, fun

#19478 Better default for drop_last in a distributed setting
  src/lightning/data/streaming/dataset.py
  src/lightning/data/streaming/serializers.py
  src/lightning/data/streaming/shuffle.py
  src/lightning/data/utilities/env.py
  tests/tests_data/streaming/test_dataset.py
Labels: data

#19480 Improve DataProcessor worker assignment
  src/lightning/data/processing/data_processor.py
  tests/tests_data/processing/test_data_processor.py
Labels: ready, data

#19481 Make StreamingDataLoader shuffle to set shuffle to datasets.
  src/lightning/data/streaming/combined.py
  src/lightning/data/streaming/dataloader.py
  src/lightning/data/streaming/dataset.py
  tests/tests_data/streaming/test_dataloader.py
Labels: ready, data

#19482 Fix the number of nodes not defined properly
  src/lightning/data/utilities/env.py
Labels: ready, data

#19470 Fix `log_every_n_steps` check in ThroughputMonitor
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/throughput_monitor.py
  tests/tests_pytorch/callbacks/test_throughput_monitor.py
Labels: bug, ready, pl, callback: throughput

#19468 Include the training mode in the ModelSummary
  docs/source-pytorch/debug/debugging_basic.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/rich_model_summary.py
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  src/lightning/pytorch/utilities/model_summary/model_summary_deepspeed.py
  tests/tests_pytorch/callbacks/test_model_summary.py
  tests/tests_pytorch/callbacks/test_rich_model_summary.py
  tests/tests_pytorch/utilities/test_deepspeed_model_summary.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: feature, ready, docs, callback: model summary, pl, fun

#19475 Avoid warning when resuming mid-epoch checkpoint and using stateful dataloader
  src/lightning/pytorch/loops/training_epoch_loop.py
  tests/tests_pytorch/loops/test_training_epoch_loop.py
Labels: bug, ready, loops, pl, fun

#19428 Adding test for legacy checkpoint created with 2.2.0.post0
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#19484 docs: Bump HPU ref `1.4.0`
  docs/source-pytorch/conf.py
Labels: ready, docs, pl

#19265 bump: transmission to use `neptune` only, drop `neptune-client`
  requirements/pytorch/loggers.info
  src/lightning/pytorch/loggers/neptune.py
Labels: ready, logger: neptune, pl, dependencies

#19491 Prevent dataset to break if it already exists
  src/lightning/data/processing/data_processor.py
  src/lightning/data/processing/utilities.py
Labels: ready, data

#19490 Enable no op optimize
  src/lightning/data/processing/data_processor.py
  src/lightning/data/processing/utilities.py
  tests/tests_data/processing/test_data_processor.py
Labels: ready, data

#19489 Add batch_size to map, optimize
  src/lightning/data/processing/functions.py
  tests/tests_data/processing/test_data_processor.py
Labels: ready, data

#19486 Document optional steps for converting Fabric code
  docs/source-fabric/fundamentals/convert.rst
Labels: ready, docs, fabric

#19506 Resolve s3 credentials wrongly defined
  src/lightning/data/streaming/client.py
  tests/tests_data/streaming/test_client.py
Labels: ready, data

#19503 Resolve compression, add support for torchaudio
  src/lightning/data/constants.py
  src/lightning/data/streaming/compression.py
  src/lightning/data/streaming/config.py
  src/lightning/data/streaming/item_loader.py
  src/lightning/data/streaming/reader.py
  src/lightning/data/streaming/serializers.py
  tests/tests_data/processing/test_data_processor.py
  tests/tests_data/streaming/test_serializer.py
Labels: ready, data

#19508 Hot fix: Fix path resolution
  src/lightning/data/processing/data_processor.py
  tests/tests_data/processing/test_data_processor.py
Labels: ready, data

#19510 Add support for using the streaming dataloader in map or optimize for large scale inference
  src/lightning/data/processing/data_processor.py
  src/lightning/data/processing/functions.py
  src/lightning/data/processing/readers.py
  src/lightning/data/streaming/dataset.py
  src/lightning/data/utilities/env.py
  tests/tests_data/processing/test_data_processor.py
Labels: ready, data

#19512 Add Lightning Data + Update README
  src/lightning/data/README.md
  src/lightning/data/__init__.py
Labels: ready, data

#18105 `load_from_checkpoint` support for LightningCLI when using dependency injection
  docs/source-pytorch/cli/lightning_cli_advanced_3.rst
  requirements/pytorch/extra.txt
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/cli.py
  src/lightning/pytorch/core/mixins/hparams_mixin.py
  src/lightning/pytorch/core/saving.py
  src/lightning/pytorch/utilities/parsing.py
  tests/tests_pytorch/test_cli.py
Labels: feature, ready, docs, lightningcli, community, pl, dependencies

#19521 Update tests for PyTorch 2.2.1
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/strategies/launchers/test_multiprocessing_integration.py
  tests/tests_fabric/strategies/test_ddp_integration.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_fabric/utilities/test_spike.py
  tests/tests_pytorch/callbacks/test_spike.py
  tests/tests_pytorch/loops/test_prediction_loop.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/serve/test_servable_module_validator.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
Labels: ready, fabric, tests, pl

#19130 Proper support for Remote Stop and Remote Abort with NeptuneLogger
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/neptune.py
  tests/tests_pytorch/loggers/conftest.py
  tests/tests_pytorch/loggers/test_neptune.py
Labels: bug, ready, logger: neptune, community, pl

#19522 Switch to new package name lightning_data -> litdata
  src/lightning/data/__init__.py
Labels: ready, data

#19513 Adds more robust timer duration parsing
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/timer.py
  tests/tests_pytorch/callbacks/test_timer.py
Labels: feature, ready, callback: timer, community, pl

#19528 Remove the Colossal AI integration
  .azure/gpu-tests-pytorch.yml
  requirements/_integrations/strategies.txt
  src/lightning/pytorch/callbacks/gradient_accumulation_scheduler.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  src/lightning/pytorch/utilities/imports.py
  tests/tests_pytorch/callbacks/test_gradient_accumulation_scheduler.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: ready, ci, app, pl, strategy: colossalai (external), dependencies

#19529 Docs fixes
  docs/source-pytorch/common/checkpointing_intermediate.rst
  docs/source-pytorch/starter/installation.rst
  src/lightning/pytorch/callbacks/model_checkpoint.py
  src/lightning/pytorch/core/hooks.py
  src/lightning/pytorch/core/module.py
Labels: docs, pl, fun

#19515 docs: enable Sphinx linter & fixing
  .pre-commit-config.yaml
  docs/source-app/core_api/lightning_app/communication_content.rst
  docs/source-app/core_api/lightning_app/dynamic_work_content.rst
  docs/source-app/glossary/environment_variables.rst
  docs/source-app/glossary/secrets.rst
  docs/source-app/glossary/sharing_components.rst
  docs/source-app/workflows/access_app_state.rst
  docs/source-app/workflows/add_web_ui/react/communicate_between_react_and_lightning.rst
  docs/source-pytorch/advanced/post_training_quantization.rst
  docs/source-pytorch/data/alternatives.rst
  docs/source-pytorch/ecosystem/asr_nlp_tts.rst
  docs/source-pytorch/tuning/profiler_basic.rst
  docs/source-pytorch/upgrade/sections/1_7_advanced.rst
  docs/source-pytorch/upgrade/sections/1_9_devel.rst
  docs/source-pytorch/upgrade/sections/1_9_regular.rst
Labels: ready, docs, app, pl

#19533 ci: install stable, follow-up `litdata` release
  .github/workflows/ci-pkg-install.yml
Labels: ready, ci, package

#19525 Update the Multi-GPU docs
  .gitignore
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/clouds/cluster_advanced.rst
  docs/source-pytorch/clouds/cluster_intermediate_1.rst
  docs/source-pytorch/clouds/cluster_intermediate_2.rst
  docs/source-pytorch/glossary/index.rst
Labels: ready, docs, strategy: ddp, environment: torchelastic, pl, fun

#19527 Rename `fabric run model` to `fabric run`
  docs/source-fabric/fundamentals/launch.rst
  docs/source-fabric/fundamentals/precision.rst
  docs/source-fabric/guide/multi_node/barebones.rst
  examples/fabric/image_classifier/README.md
  examples/fabric/image_classifier/train_fabric.py
  examples/fabric/kfold_cv/README.md
  examples/fabric/kfold_cv/train_fabric.py
  examples/fabric/language_model/README.md
  examples/fabric/meta_learning/README.md
  examples/fabric/meta_learning/train_fabric.py
  examples/fabric/reinforcement_learning/README.md
  examples/fabric/reinforcement_learning/train_fabric.py
  examples/fabric/reinforcement_learning/train_fabric_decoupled.py
  src/lightning/app/cli/lightning_cli.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/cli.py
  src/lightning/fabric/fabric.py
  tests/tests_fabric/test_cli.py
Labels: ready, docs, breaking change, fabric, app, fun

#19493 Alternative mechanism to detect missing `Fabric.backward()` call
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/loggers/test_tensorboard.py
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/test_wrappers.py
Labels: bug, ready, fabric, fun

#19542 Fix infinite recursion error in precision plugin graveyard
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/_graveyard/precision.py
  tests/tests_pytorch/graveyard/test_precision.py
Labels: bug, ready, pl

#19530 Update Lightning AI multi-node guide (Trainer)
  docs/source-pytorch/clouds/cluster.rst
  docs/source-pytorch/clouds/lightning_ai.rst
  docs/source-pytorch/common/index.rst
  docs/source-pytorch/common_usecases.rst
  docs/source-pytorch/levels/intermediate.rst
  docs/source-pytorch/levels/intermediate_level_14.rst
Labels: ready, docs, pl, fun
