Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-07, with the labels that each got.

#20028 Add testing for PyTorch 2.4 (Fabric)
  .azure/gpu-tests-fabric.yml
  .github/workflows/ci-tests-fabric.yml
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  src/lightning/fabric/plugins/precision/amp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/model_parallel.py
  src/lightning/fabric/utilities/imports.py
  src/lightning/fabric/utilities/testing/_runif.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/plugins/precision/test_amp.py
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
  tests/tests_fabric/strategies/test_dp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_model_parallel.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_wrappers.py
  tests/tests_pytorch/strategies/test_model_parallel.py
Labels: ci, fabric, pl, dependencies, dockers

#20041 Avoid overwriting the `lightning_app` entry point
  .github/workflows/ci-pkg-install.yml
  src/lightning/__setup__.py
  src/lightning/fabric/CHANGELOG.md
  src/version.info
Labels: ready, ci, release, fabric, package

#20006 Move checkpoint customization docs sections
  docs/source-pytorch/common/checkpointing_advanced.rst
  docs/source-pytorch/common/checkpointing_intermediate.rst
Labels: docs, pl

#20042 Adding test for legacy checkpoint created with 2.3.2
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#20050 CI: Remove waiting logic in release workflow
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/workflows/release-pkg.yml
  requirements/store/test.txt
Labels: ci, dependencies

#19979 Docs: Fix typo in pruning callback
  src/lightning/pytorch/callbacks/pruning.py
Labels: docs, pl

#20040 Update DeepSpeedOptimizer import for deepspeed >= 0.14.1
  src/lightning/fabric/strategies/deepspeed.py
Labels: strategy: deepspeed, fabric, community

#20057 Set `weights_only` in tests to avoid warnings in PyTorch 2.4
  tests/tests_fabric/strategies/test_deepspeed_integration.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
  tests/tests_pytorch/accelerators/test_xla.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/callbacks/test_pruning.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_torch_saving.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/core/test_metric_result_integration.py
  tests/tests_pytorch/core/test_saving.py
  tests/tests_pytorch/helpers/datasets.py
  tests/tests_pytorch/helpers/test_datasets.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/loggers/test_wandb.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/models/test_hparams.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/plugins/test_checkpoint_io_plugin.py
  tests/tests_pytorch/strategies/test_deepspeed.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_model_parallel_integration.py
  tests/tests_pytorch/test_cli.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/utilities/migration/test_migration.py
  tests/tests_pytorch/utilities/migration/test_utils.py
  tests/tests_pytorch/utilities/test_deepspeed_collate_checkpoint.py
Labels: ready, tests

#20059 enable import `lightning.app` if it is installed
  .github/workflows/README.md
  .github/workflows/ci-pkg-extend.yml
  .github/workflows/ci-pkg-install.yml
  examples/fabric/tensor_parallel/train.py
  examples/pytorch/tensor_parallel/train.py
  requirements/app/app.txt
  src/lightning/app/__init__.py
Labels: ci, has conflicts, release, fabric, pl, dependencies, package

#20061 Adding test for legacy checkpoint created with 2.3.3
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#20066 Add reference to the `torch.compile` manual
  docs/source-fabric/advanced/compile.rst
  docs/source-pytorch/advanced/compile.rst
Labels: ready, docs, fabric, pl

#20068 Fix LightningCLI saving hyperparameters breaking change
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/cli.py
  tests/tests_pytorch/test_cli.py
Labels: bug, lightningcli, pl

#20010 Add testing for PyTorch 2.4 (Trainer)
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/docker-build.yml
  dockers/base-cuda/Dockerfile
  docs/source-pytorch/versioning.rst
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  src/lightning/fabric/utilities/cloud_io.py
  src/lightning/pytorch/plugins/precision/amp.py
  src/lightning/pytorch/profilers/pytorch.py
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/strategies/model_parallel.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_torchscript.py
  tests/tests_pytorch/plugins/precision/test_amp_integration.py
  tests/tests_pytorch/profilers/test_profiler.py
  tests/tests_pytorch/strategies/test_deepspeed.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_model_parallel.py
  tests/tests_pytorch/strategies/test_model_parallel_integration.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/utilities/test_compile.py
Labels: ready, docs, ci, fabric, pl, dependencies, dockers, package

#20071 Remove support for Python 3.8
  .github/checkgroup.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/release-pkg.yml
  src/lightning/__setup__.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/imports.py
  src/lightning/fabric/utilities/registry.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/signal_connector.py
  tests/tests_fabric/utilities/test_registry.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
Labels: ci, fabric, tests, pl, fun, package

#20055 Make numpy an optional dependency in `utilities\seed.py`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/imports.py
  src/lightning/fabric/utilities/seed.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/utilities/test_seed.py
Labels: refactor, fabric, community, pl

#20079 Update PyTorch 2.4 tests
  src/lightning/fabric/strategies/model_parallel.py
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
  tests/tests_pytorch/strategies/test_ddp_integration.py
  tests/tests_pytorch/strategies/test_model_parallel_integration.py
Labels: fabric, pl, fun

#20078 Add Python 3.12 to the CPU test matrix
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  requirements/pytorch/test.txt
  src/lightning/__setup__.py
  tests/tests_fabric/test_wrappers.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/profilers/test_profiler.py
Labels: ci, fabric, tests, pl, fun, dependencies

#20080 Made numpy optional dependency in ```apply_func.py``` and ```logger.py```
  src/lightning/fabric/utilities/apply_func.py
  src/lightning/fabric/utilities/logger.py
  src/lightning/fabric/utilities/seed.py
Labels: refactor, fabric, community

#20081 Remove deprecated `pkg_resources`
  .actions/assistant.py
  .actions/requirements.txt
  pyproject.toml
  src/lightning/__setup__.py
  src/lightning/fabric/__init__.py
  src/lightning/pytorch/__init__.py
Labels: ci, fabric, pl, dependencies, package

#20099 Fixed positional encoding not used in Demo Transformer
  src/lightning/pytorch/demos/transformer.py
Labels: bug, example, community, pl

#20090 Remove numpy from base requirements
  .github/workflows/_legacy-checkpoints.yml
  requirements/fabric/base.txt
  requirements/fabric/test.txt
  requirements/pytorch/base.txt
  requirements/pytorch/test.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ci, fabric, community, pl, dependencies

#20102 Remove outdated warnings filter for `reduce_op`
  src/lightning/pytorch/trainer/trainer.py
Labels: code quality, pl

#20109 Remove confusing warning "Missing logger folder"
  src/lightning/fabric/loggers/csv_logs.py
  src/lightning/fabric/loggers/tensorboard.py
  src/lightning/pytorch/loggers/csv_logs.py
  src/lightning/pytorch/loggers/tensorboard.py
  tests/tests_fabric/loggers/test_tensorboard.py
  tests/tests_pytorch/loggers/test_tensorboard.py
Labels: fabric, pl

#20108 Avoid printing the seed info message multiple times
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/utilities/seed.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/utilities/test_seed.py
Labels: bug, fabric, pl, fun

#20121 Fix attribute error on `_NotYetLoadedTensor` after loading checkpoint into quantized model with `_lazy_load()`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/load.py
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
Labels: bug, fabric, precision: bnb

#20126 Switch to PyTorch 2.4 stable testing
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/docker-build.yml
  dockers/release/Dockerfile
Labels: ci, dockers

#20131 docs: Bump HPU refs [rebase & merge]
  docs/source-pytorch/conf.py
Labels: ready, docs, release, pl

#19814 Fix moving keys to device in ResultCollection
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
Labels: bug, logging, community, pl

#20143 Add simple LSTM example to demo folder
  src/lightning/pytorch/demos/__init__.py
  src/lightning/pytorch/demos/lstm.py
  tests/tests_pytorch/demos/lstm.py
Labels: example, pl

#20144 docs: adding link to img classif. studio
  README.md
Labels: ready
