Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-12, with the labels that each got.

#20476 Temporarily pin Python at 3.12.7 to avoid jsonargparse issue in CI
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#20479 Patch jsonargparse for Python >= 3.12.8
  .actions/assistant.py
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  examples/fabric/tensor_parallel/train.py
  examples/pytorch/tensor_parallel/train.py
  src/lightning/pytorch/cli.py
  tests/parity_fabric/test_parity_ddp.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: ci, fabric, pl

#20481 Remove deprecated distutils
  dockers/base-cuda/Dockerfile
  dockers/docs/Dockerfile
  examples/fabric/reinforcement_learning/rl/utils.py
Labels: ci, fabric, pl, dockers

#20483 Code-style changes via pre-commit
  examples/fabric/tensor_parallel/train.py
  examples/pytorch/tensor_parallel/train.py
Labels: fabric, pl

#20422 Add doc for TBPTT
  docs/source-pytorch/common/index.rst
  docs/source-pytorch/common/tbptt.rst
Labels: docs, waiting on author, pl

#20487 Install setuptools via pip in base Docker image
  dockers/base-cuda/Dockerfile
Labels: ci, dockers

#20488 Pin setuptools in release container
  dockers/release/Dockerfile
Labels: ci, dockers

#20489 Pin setuptools in GPU tests
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  docs/source-pytorch/common/index.rst
Labels: docs, ci, pl

#20477 Update checkpointing documentation to mark resume_from_checkpoint as deprecated (#20361)
  docs/source-pytorch/common/checkpointing_basic.rst
Labels: docs, pl

#20323 Add `convert_module` to FSDP
  src/lightning/fabric/plugins/precision/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/plugins/precision/fsdp.py
  tests/tests_fabric/plugins/precision/test_fsdp.py
  tests/tests_pytorch/plugins/precision/test_fsdp.py
Labels: docs, ci, waiting on author, fabric, pl

#20484 Fix UnboundLocalError when using the predict method with return_predictions=False.
  src/lightning/pytorch/loops/prediction_loop.py
Labels: pl

#20301 Add str method to datamodule
  src/lightning/pytorch/core/datamodule.py
  src/lightning/pytorch/demos/boring_classes.py
  tests/tests_pytorch/core/test_datamodules.py
Labels: fabric, lightningdatamodule, pl

#20491 Force hook standalone tests to single device
  tests/tests_pytorch/models/test_hooks.py
Labels: pl

#20221 Fix LightningCLI failing when both module and data module save hyperparameters
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/utilities.py
  tests/tests_pytorch/test_cli.py
Labels: pl

#20176 Add `step` parameter to `TensorBoardLogger.log_hyperparams`
  src/lightning/fabric/loggers/tensorboard.py
  src/lightning/pytorch/loggers/tensorboard.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
Labels: ready, fabric, pl

#20500 Update (ci): github action's artifact upgrade v4
  .github/workflows/_build-packages.yml
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/docs-build.yml
  .github/workflows/release-pkg.yml
  docs/source-pytorch/conf.py
Labels: docs, ci, pl, package

#20505 Prepare Lightning 2.5.0 release
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
  .github/advanced-issue-labeler.yml
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ci, fabric, pl, package

#20506 docs: bump habana
  docs/source-pytorch/conf.py
Labels: docs, pl

#20507 ci: build docs once you prepare release
  .github/workflows/docs-build.yml
Labels: docs, ci

#20512 Revert breaking change in configure_optimizers return type
  docs/source-pytorch/conf.py
  src/lightning/pytorch/utilities/types.py
Labels: docs, pl

#20514 Allow batch sampler to not have a .sampler attribute
  src/lightning/pytorch/utilities/data.py
Labels: pl

#20513 Revert "Patch jsonargparse for Python >= 3.12.8"
  .actions/assistant.py
  .actions/requirements.txt
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  requirements/pytorch/extra.txt
  src/lightning/pytorch/cli.py
  tests/parity_fabric/test_parity_ddp.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/test_cli.py
Labels: ci, pl, dependencies

#20515 Minor correction release `2.5.0.post0`
  src/version.info
Labels: package
