Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-03, with the labels that each got.

#19564 Document `ddp_find_unused_parameters_true` in Fabric
  docs/source-fabric/api/fabric_args.rst
Labels: ready, docs, fabric, community

#19550 Add additional references in compile guides
  docs/source-fabric/advanced/compile.rst
  docs/source-pytorch/advanced/compile.rst
Labels: ready, docs, fabric, pl

#19560 Support consolidating sharded checkpoints with the `fabric` CLI
  docs/source-fabric/guide/checkpoint/distributed_checkpoint.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/cli.py
  tests/tests_fabric/test_cli.py
Labels: feature, ready, docs, fabric, strategy: fsdp, fun

#19567 ci: pin `pytest` for package doctests
  .github/workflows/ci-pkg-install.yml
  requirements/doctests.txt
Labels: ci, dependencies, package

#19520 Bump bitsandbytes minimum version
  requirements/fabric/strategies.txt
  requirements/pytorch/extra.txt
  src/lightning/fabric/plugins/precision/bitsandbytes.py
Labels: ready, fabric, community, pl, dependencies, precision: bnb

#19561 Revise checkpoint consolidation with PyTorch 2.3
  src/lightning/fabric/utilities/consolidate_checkpoint.py
  src/lightning/fabric/utilities/load.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/utilities/test_consolidate_checkpoint.py
  tests/tests_fabric/utilities/test_load.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, fabric, strategy: fsdp, pl, fun

#19570 Adding test for legacy checkpoint created with 2.2.1
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#19571 Update changelog after 2.2.1 release
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: docs, fabric, pl

#19568 docs: switch NGC link to Nemo
  docs/source-pytorch/ecosystem/asr_nlp_tts.rst
Labels: docs, pl

#19586 bump `lightning-utilities` from <0.10 to <0.11
  requirements/app/app.txt
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  src/lightning/__init__.py
  src/lightning/fabric/utilities/rank_zero.py
Labels: fabric, app, pl, dependencies

#19592 gh: update links in GitHub templates
  .github/ISSUE_TEMPLATE/2_refactor.yaml
  .github/ISSUE_TEMPLATE/3_feature_request.yaml
  .github/ISSUE_TEMPLATE/4_documentation.yaml
Labels: ci

#19577 Pass `enabled` down to `_BackwardSyncControl`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/ddp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/strategy.py
  src/lightning/fabric/strategies/xla_fsdp.py
  tests/tests_fabric/strategies/test_ddp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_xla_fsdp.py
  tests/tests_fabric/test_fabric.py
Labels: feature, ready, fabric, strategy, run TPU

#19597 Update warning about `UninitializedParameter` in `ModelSummary`
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: feature, ready, callback: model summary, pl, fun

#19451 Add docs for the Fabric `WandbLogger` hosted in the `wandb` SDK
  docs/source-fabric/api/loggers.rst
  docs/source-fabric/glossary/index.rst
  docs/source-fabric/guide/loggers/wandb.rst
  docs/source-fabric/guide/logging.rst
Labels: ready, docs, logger: wandb, fabric, community

#19621 Skip failing tests due to dependencies
  tests/tests_pytorch/models/test_hparams.py
  tests/tests_pytorch/test_cli.py
Labels: ready, tests, pl

#19555 Remove orphaned docs pages
  docs/source-pytorch/community/ecosystem-ci.rst
  docs/source-pytorch/community/index.rst
  docs/source-pytorch/ecosystem/asr_nlp_tts.rst
  docs/source-pytorch/ecosystem/bolts.rst
  docs/source-pytorch/ecosystem/community_examples.rst
  docs/source-pytorch/ecosystem/flash.rst
  docs/source-pytorch/ecosystem/metrics.rst
  examples/README.md
Labels: ready, docs, pl

#19622 Update `overfit_batches` docs
  docs/source-pytorch/debug/debugging_intermediate.rst
Labels: ready, docs, trainer: argument, pl, fun

#19615 Fixes incorrect strategy init with HPUAccelerator
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
Labels: bug, ready, accelerator: hpu (external), community, pl

#19630 docs: update links to `neptune` web
  src/lightning/pytorch/loggers/neptune.py
Labels: pl

#19629 docs: fix missing arguments in get_metrics()
  docs/source-pytorch/extensions/logging.rst
Labels: ready, docs, pl

#19627 Fix `torch.compile` patching when applied as decorator
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/wrappers.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/test_wrappers.py
Labels: bug, ready, fabric, pl, fun, torch.compile

#19634 ci/docs: allow failing `linkcheck|doctest` for dispatch run
  .github/workflows/docs-build.yml
Labels: ready, docs, ci

#19636 ci: fix ci-check-md-links args
  .github/workflows/ci-check-md-links.yml
Labels: ci

#19638 lint: switch `pyupgrade` with Ruff's `UP` rule
  .pre-commit-config.yaml
  examples/fabric/image_classifier/train_fabric.py
  examples/fabric/image_classifier/train_torch.py
  examples/fabric/kfold_cv/train_fabric.py
  examples/fabric/reinforcement_learning/train_fabric_decoupled.py
  pyproject.toml
  src/lightning/app/utilities/layout.py
  src/lightning/pytorch/demos/transformer.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/utilities/test_log_helpers.py
Labels: ready, fabric, code quality, app, pl, package

#19465 docs: fix `y` var for compute loss
  README.md
  docs/source-app/code_samples/convert_pl_to_app/train.py
  docs/source-pytorch/common/evaluation_basic.rst
  docs/source-pytorch/common/notebooks.rst
  docs/source-pytorch/model/train_model_basic.rst
  docs/source-pytorch/starter/introduction.rst
  src/pytorch_lightning/README.md
Labels: ready, docs, app, pl, package

#19656 Unblock CI from failing CLI test
  tests/tests_pytorch/test_cli.py
Labels: ready, tests, pl, dependencies

#19640 test: replacing tmpdir with tmp_path in tests_pytorch/conftest.py
  tests/tests_pytorch/conftest.py
Labels: refactor, tests, pl

#19641 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/accelerators`
  tests/tests_pytorch/accelerators/test_cpu.py
  tests/tests_pytorch/accelerators/test_gpu.py
  tests/tests_pytorch/accelerators/test_mps.py
  tests/tests_pytorch/accelerators/test_xla.py
Labels: refactor, tests, community, pl

#19632 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/cli.py`
  tests/tests_pytorch/test_cli.py
Labels: refactor, tests, pl

#19642 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/checkpointing`
  tests/tests_pytorch/checkpointing/test_checkpoint_callback_frequency.py
  tests/tests_pytorch/checkpointing/test_legacy_checkpoints.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_torch_saving.py
  tests/tests_pytorch/checkpointing/test_trainer_checkpoint.py
Labels: ready, refactor, tests, community, pl

#19643 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/helpers`
  tests/tests_pytorch/helpers/test_datasets.py
  tests/tests_pytorch/helpers/test_models.py
Labels: ready, refactor, tests, community, pl

#19660 Feat(plugins): adding `KeepMachinesAfterStop` flag propagation
  requirements/app/app.txt
  src/lightning/app/plugin/plugin.py
  src/lightning/app/runners/cloud.py
  tests/tests_app/plugin/test_plugin.py
Labels: ready, app, dependencies

#19647 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/models`
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/models/test_cpu.py
  tests/tests_pytorch/models/test_gpu.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/models/test_hparams.py
  tests/tests_pytorch/models/test_onnx.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/models/test_torchscript.py
  tests/tests_pytorch/models/test_tpu.py
Labels: refactor, tests, community, pl

#19644 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/core`
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/core/test_lightning_module.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/core/test_metric_result_integration.py
Labels: refactor, tests, community, pl

#19655 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/callbacks`
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/test_callback_hook_outputs.py
  tests/tests_pytorch/callbacks/test_callbacks.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
  tests/tests_pytorch/callbacks/test_gradient_accumulation_scheduler.py
  tests/tests_pytorch/callbacks/test_lambda_function.py
  tests/tests_pytorch/callbacks/test_lr_monitor.py
  tests/tests_pytorch/callbacks/test_pruning.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/callbacks/test_timer.py
Labels: refactor, tests, community, pl

#19653 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/tuner`
  tests/tests_pytorch/tuner/test_lr_finder.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
Labels: refactor, tests, community, pl

#19648 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/plugins`
  tests/tests_pytorch/plugins/precision/test_amp_integration.py
  tests/tests_pytorch/plugins/precision/test_double.py
  tests/tests_pytorch/plugins/test_amp_plugins.py
  tests/tests_pytorch/plugins/test_checkpoint_io_plugin.py
Labels: refactor, tests, community, pl

#19649 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/profiler`
  tests/tests_pytorch/profilers/test_profiler.py
  tests/tests_pytorch/profilers/test_xla_profiler.py
Labels: refactor, tests, community, pl

#19654 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/utilities`
  tests/tests_pytorch/utilities/migration/test_migration.py
  tests/tests_pytorch/utilities/test_all_gather_grad.py
  tests/tests_pytorch/utilities/test_auto_restart.py
  tests/tests_pytorch/utilities/test_deepspeed_collate_checkpoint.py
  tests/tests_pytorch/utilities/test_dtype_device_mixin.py
Labels: ready, refactor, tests, community, pl

#19652 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/trainer`
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
  tests/tests_pytorch/trainer/connectors/test_callback_connector.py
  tests/tests_pytorch/trainer/connectors/test_signal_connector.py
  tests/tests_pytorch/trainer/dynamic_args/test_multiple_eval_dataloaders.py
  tests/tests_pytorch/trainer/flags/test_check_val_every_n_epoch.py
  tests/tests_pytorch/trainer/flags/test_fast_dev_run.py
  tests/tests_pytorch/trainer/flags/test_limit_batches.py
  tests/tests_pytorch/trainer/flags/test_min_max_epochs.py
  tests/tests_pytorch/trainer/flags/test_overfit_batches.py
  tests/tests_pytorch/trainer/flags/test_val_check_interval.py
  tests/tests_pytorch/trainer/logging_/test_distributed_logging.py
  tests/tests_pytorch/trainer/logging_/test_eval_loop_logging.py
  tests/tests_pytorch/trainer/logging_/test_logger_connector.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/optimization/test_multiple_optimizers.py
  tests/tests_pytorch/trainer/optimization/test_optimizers.py
  tests/tests_pytorch/trainer/properties/test_get_model.py
  tests/tests_pytorch/trainer/properties/test_loggers.py
  tests/tests_pytorch/trainer/test_config_validator.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_states.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: refactor, tests, community, pl

#19645 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/loggers`
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/loggers/test_utilities.py
Labels: ready, refactor, tests, community, pl

#19650 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/serve`
  tests/tests_pytorch/serve/test_servable_module_validator.py
Labels: ready, refactor, tests, community, pl

#19651 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/strategies`
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/strategies/test_common.py
  tests/tests_pytorch/strategies/test_custom_strategy.py
  tests/tests_pytorch/strategies/test_ddp_integration.py
  tests/tests_pytorch/strategies/test_ddp_integration_comm_hook.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_registry.py
Labels: ready, refactor, tests, community, pl

#19646 test: replacing `tmpdir` with `tmp_path` in `tests_pytorch/loops`
  tests/tests_pytorch/loops/optimization/test_closure.py
  tests/tests_pytorch/loops/optimization/test_manual_loop.py
  tests/tests_pytorch/loops/optimization/test_optimizer_loop.py
  tests/tests_pytorch/loops/test_all.py
  tests/tests_pytorch/loops/test_evaluation_loop.py
  tests/tests_pytorch/loops/test_evaluation_loop_flow.py
  tests/tests_pytorch/loops/test_fetchers.py
  tests/tests_pytorch/loops/test_flow_warnings.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/loops/test_prediction_loop.py
  tests/tests_pytorch/loops/test_training_loop.py
  tests/tests_pytorch/loops/test_training_loop_flow_dict.py
  tests/tests_pytorch/loops/test_training_loop_flow_scalar.py
Labels: refactor, tests, community, pl

#19661 ci: releasing `lightning` nighties
  .actions/assistant.py
  .github/actions/pkg-check/action.yml
  .github/workflows/release-nightly.yml
  .github/workflows/release-pkg.yml
Labels: ready, ci

#19593 Update reference to LitGPT example
  docs/source-fabric/examples/index.rst
Labels: example, docs, fabric

#19666 ci/nightly: fix path for upload
  .github/workflows/release-nightly.yml
Labels: ready, ci

#19670 ci: fix loading local actions
  .github/workflows/release-nightly.yml
Labels: ci

#19668 test: move the pretrained model to the same device as current model before assertion
  tests/tests_pytorch/models/test_restore.py
Labels: tests, community, pl

#19675 docs: added mathjax for rendering tex format as imgmath needs latex engine to run
  .github/workflows/docs-build.yml
  docs/source-app/conf.py
  docs/source-fabric/conf.py
  docs/source-pytorch/conf.py
Labels: ready, docs, ci, fabric, community, app, pl

#19683 Re-enable LightningCLI test disabled due to bug in jsonargparse
  requirements/pytorch/extra.txt
  src/lightning/pytorch/cli.py
  tests/tests_pytorch/test_cli.py
Labels: ready, tests, community, pl, dependencies

#19601 Add `on_exception` to DataModule
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/datamodule.py
  src/lightning/pytorch/trainer/call.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: feature, ready, trainer, community, pl

#19688 ci: disable package freeze for nightly pkgs
  .github/workflows/release-nightly.yml
Labels: ci

#19687 ci: bump torch to `2.2.1`
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
Labels: fabric, pl, dependencies

#19672 docs: pin version in links to external docs for [2/3]
  .github/workflows/docs-build.yml
  docs/source-fabric/conf.py
  docs/source-pytorch/conf.py
  requirements/docs.txt
Labels: ready, docs, ci, fabric, pl, dependencies

#19692 Fix overlapping tags in Fabric docs on small screens
  docs/source-fabric/examples/index.rst
Labels: ready, docs, fabric, community

#19697 docs: use fixed version of adjust links to 'stable'
  requirements/docs.txt
Labels: ready, docs, dependencies

#19705 Fix monkeypatching of `_FabricModule` methods
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/test_wrappers.py
Labels: bug, ready, fabric

#19701 docs: fix LightningCLI docs example for Trainer Callbacks
  docs/source-pytorch/cli/lightning_cli_advanced_3.rst
Labels: docs, lightningcli, community, pl

#19678 Relax restrictions on wrapping a custom batch sampler in predict
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/data.py
  tests/tests_pytorch/utilities/test_data.py
Labels: feature, ready, data handling, trainer: predict, pl
