Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-10, with the labels that each got.

#20313 update BitsandBytes version
  requirements/fabric/strategies.txt
  requirements/pytorch/extra.txt
  src/lightning/fabric/plugins/precision/bitsandbytes.py
  src/lightning/pytorch/plugins/precision/bitsandbytes.py
Labels: ready, fabric, pl, dependencies

#20352 fix(lint): emergency bump `docformatter`
  .pre-commit-config.yaml
Labels: ready, priority: 0

#20333 docs: fix pytorch version typo in upgrade/from_2_0
  docs/source-pytorch/upgrade/sections/2_0_regular.rst
Labels: docs, pl

#20316 Update version.info to `2.5.0.dev`
  src/version.info
Labels: package
