Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-05, with the labels that each got.

#19839 Bump lightning-cloud package
  requirements/app/app.txt
Labels: app, dependencies

#19846 (1/n) Support 2D Parallelism
  docs/source-pytorch/conf.py
  examples/fabric/tensor_parallel/README.md
  examples/fabric/tensor_parallel/data.py
  examples/fabric/tensor_parallel/model.py
  examples/fabric/tensor_parallel/parallelism.py
  examples/fabric/tensor_parallel/train.py
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/__init__.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/model_parallel.py
  src/lightning/fabric/utilities/init.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_model_parallel.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
  tests/tests_fabric/utilities/test_init.py
Labels: feature, ready, docs, fabric, strategy, pl

#19690 Add function to explicitly mark forward methods in Fabric
  docs/source-fabric/api/fabric_methods.rst
  docs/source-fabric/api/wrappers.rst
  docs/source-fabric/glossary/index.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/wrappers.py
  tests/tests_fabric/test_wrappers.py
Labels: feature, ready, docs, fabric, fun

#19856 Reduce queue fetching
  src/lightning/app/core/app.py
  src/lightning/app/core/constants.py
  src/lightning/app/runners/multiprocess.py
  tests/tests_app/core/test_lightning_app.py
Labels: ready, app

#19857 Update Lightning Cloud 0.5.69
  requirements/app/app.txt
  src/lightning/app/runners/cloud.py
  tests/tests_app/runners/test_cloud.py
Labels: ready, app, dependencies

#19852 (2/n) Support 2D Parallelism - Distributed Checkpoints
  examples/fabric/tensor_parallel/parallelism.py
  examples/fabric/tensor_parallel/train.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/model_parallel.py
  src/lightning/fabric/utilities/imports.py
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/strategies/test_model_parallel.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
Labels: feature, checkpointing, fabric, pl

#19870 (3/n) Support 2D Parallelism - Efficient loading of full-state checkpoints
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/model_parallel.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
Labels: refactor, fabric, performance, pl

#19872 (4/n) Support 2D Parallelism - Loading optimizer states correctly
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/model_parallel.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
Labels: feature, checkpointing, fabric

#19878 (5/n) Support 2D Parallelism in Lightning Trainer
  src/lightning/fabric/strategies/model_parallel.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/strategies/__init__.py
  src/lightning/pytorch/strategies/model_parallel.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/strategies/test_model_parallel.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
  tests/tests_pytorch/strategies/test_model_parallel.py
  tests/tests_pytorch/strategies/test_model_parallel_integration.py
Labels: feature, ready, fabric, pl

#19877 Remove redundant code to set the device on the LightningModule
  src/lightning/pytorch/strategies/deepspeed.py
  src/lightning/pytorch/strategies/fsdp.py
Labels: refactor, code quality, pl

#19882 Enable loss-parallel in example
  examples/fabric/tensor_parallel/parallelism.py
  examples/fabric/tensor_parallel/train.py
  examples/pytorch/tensor_parallel/parallelism.py
  examples/pytorch/tensor_parallel/train.py
Labels: example, fabric, pl

#19805 Update `LearningRateMonitor` docs and tests for `log_weight_decay`
  src/lightning/pytorch/callbacks/lr_monitor.py
  tests/tests_pytorch/callbacks/test_lr_monitor.py
Labels: ready, community, pl

#19886 Fix state dict loading in bitsandbytes plugin when checkpoint is already quantized
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/precision/bitsandbytes.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
Labels: bug, ready, fabric, pl, precision: bnb

#19884 (7/n) Support 2D Parallelism - TP Fabric Docs
  docs/source-fabric/_static/main.css
  docs/source-fabric/advanced/model_parallel/fsdp.rst
  docs/source-fabric/advanced/model_parallel/index.rst
  docs/source-fabric/advanced/model_parallel/tp.rst
  docs/source-fabric/advanced/model_parallel/tp_fsdp.rst
  docs/source-fabric/api/strategies.rst
  docs/source-fabric/fundamentals/launch.rst
  docs/source-fabric/glossary/index.rst
  docs/source-fabric/guide/index.rst
  docs/source-fabric/levels/advanced.rst
  docs/source-pytorch/advanced/model_parallel/fsdp.rst
  examples/fabric/tensor_parallel/train.py
  examples/pytorch/tensor_parallel/train.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/strategies/fsdp.py
Labels: ready, docs, fabric, pl

#19894 Remove the requirement for FSDPStrategy subclasses to only support GPU
  src/lightning/fabric/connector.py
  tests/tests_fabric/test_connector.py
Labels: feature, ready, fabric

#19893 Patch release 2.2.5
  docs/source-app/conf.py
  docs/source-pytorch/conf.py
  requirements/app/app.txt
  src/lightning/app/core/app.py
  src/lightning/app/core/constants.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/runners/multiprocess.py
  src/lightning/app/utilities/network.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/precision/bitsandbytes.py
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/utilities/test_network.py
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
Labels: bug, ready, docs, release, fabric, app, pl, dependencies, package

#19887 (8/n) Support 2D Parallelism - 2D Parallel Fabric Docs
  docs/source-fabric/advanced/model_init.rst
  docs/source-fabric/advanced/model_parallel/index.rst
  docs/source-fabric/advanced/model_parallel/tp.rst
  docs/source-fabric/advanced/model_parallel/tp_fsdp.rst
Labels: ready, docs, fabric, pl

#19896 docs: fix link to CLIP
  docs/source-app/conf.py
  docs/source-app/get_started/what_app_can_do.rst
Labels: docs, app

#19888 (9/n) Support 2D Parallelism - Remaining Checkpoint Logic
  src/lightning/fabric/strategies/model_parallel.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/model_parallel.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_model_parallel.py
  tests/tests_pytorch/strategies/test_model_parallel_integration.py
Labels: feature, ready, checkpointing, fabric, pl

#19897 docs: prune unused `linkcode`
  docs/source-app/conf.py
  docs/source-fabric/conf.py
Labels: docs, fabric, app

#19825 [TPU] Fix test assertion error from artifacts
  tests/tests_pytorch/accelerators/test_xla.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
Labels: ready, ci, tests, pl, run TPU

#19902 Error for unsupported precision types with ModelParallelStrategy
  src/lightning/fabric/connector.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/strategies/test_model_parallel_integration.py
  tests/tests_fabric/test_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: feature, ready, fabric, pl

#19913 Add Studio badge to tensor parallel docs
  docs/source-fabric/advanced/model_parallel/tp.rst
  docs/source-fabric/advanced/model_parallel/tp_fsdp.rst
  docs/source-pytorch/advanced/model_parallel/tp.rst
  docs/source-pytorch/advanced/model_parallel/tp_fsdp.rst
  examples/fabric/tensor_parallel/README.md
  examples/pytorch/tensor_parallel/README.md
Labels: ready, docs, fabric, pl

#19922 Update code owners file
  .github/CODEOWNERS
  docs/source-pytorch/community/governance.rst
Labels: docs, ci, pl

#19925 Update code owners file
  .github/CODEOWNERS
Labels: ci

#19918 Disable skipping training step in distributed training
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/optimization/automatic.py
  tests/tests_pytorch/loops/optimization/test_automatic_loop.py
  tests/tests_pytorch/models/test_hooks.py
  tests/tests_pytorch/trainer/test_dataloaders.py
Labels: ready, breaking change, loops, pl

#19926 Update FlopCounterMode usage in throughput.py
  src/lightning/fabric/utilities/throughput.py
Labels: ready, fabric

#19917 Update docstring for `self.log` about keys in distributed training
  src/lightning/pytorch/core/module.py
Labels: ready, docs, pl

#19806 Adding test for legacy checkpoint created with 2.2.5
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl
