Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-06, with the labels that each got.

#19937 Fix typos in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: ci

#19904 Remove unknown `[metadata]` table from `pyproject.toml`
  pyproject.toml
Labels: ready, community, package

#19841 Remove `numpy` dependencies in `src/lightning/pytorch`
  src/lightning/pytorch/loggers/logger.py
  src/lightning/pytorch/tuner/lr_finder.py
  src/lightning/pytorch/utilities/__init__.py
Labels: ci, community, pl

#19847 Fix typo on `estimated_stepping_batches` property
  src/lightning/pytorch/trainer/trainer.py
Labels: community, pl

#19822 Set `_choose_auto_accelerator` to `staticmethod`
  src/lightning/fabric/connector.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
Labels: refactor, fabric, community, pl

#19946 Fix strict loading from distributed checkpoints vs PyTorch nightly
  src/lightning/fabric/strategies/model_parallel.py
Labels: bug, checkpointing, fabric, fun

#19941 fix(docs): fix broken link to ensure the docs can be built
  docs/source-app/glossary/restful_api/restful_api.rst
  docs/source-app/workflows/build_rest_api/index.rst
Labels: ready, docs, app

#19948 ci/docs: enable dispatch build without warning as errors
  .github/workflows/docs-build.yml
Labels: ready, docs, ci

#19942 Replace usage of `grep -P` with `perl` in `run_standalone_tests.sh`
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  tests/run_standalone_tests.sh
Labels: ready, ci, community

#19931 Destroy process group in atexit handler
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/conftest.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_pytorch/conftest.py
Labels: ready, ci, fabric, pl

#19504 Flexible and easy to use HSDP setting
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/fsdp.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_fsdp.py
Labels: feature, ready, fabric, strategy: fsdp, community, pl

#19808 Fix `save_last` type annotation for ModelCheckpoint
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: bug, callback: model checkpoint, community, pl

#19947 Removing numpy requirement from all files in examples/pytorch/domain_templates
  examples/pytorch/domain_templates/generative_adversarial_net.py
  examples/pytorch/domain_templates/reinforce_learn_Qnet.py
  examples/pytorch/domain_templates/semantic_segmentation.py
Labels: example, refactor, community, pl

#19771 Sanitize argument-free object params before logging
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/logger.py
  tests/tests_fabric/utilities/test_logger.py
Labels: logger, fabric, community, pl

#19804 Ignore parameters causing ValueError when dumping to YAML
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/saving.py
  tests/tests_pytorch/models/test_hparams.py
Labels: bug, ready, community, pl

#19819 Fix resetting epoch loop restarting flag in LearningRateFinder
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/tuner/lr_finder.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: bug, tuner, community, pl

#19954 Release 2.3.0
  src/lightning/data/README.md
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
  src/version.info
Labels: ready, release, fabric, pl, package, data

#19971 Fix failing app tests
  requirements/app/app.txt
  tests/tests_app/cli/test_cmd_launch.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/utilities/test_network.py
Labels: bug, ready, tests, app, dependencies

#19969 Fix minor typo in Trainer's documentation
  src/lightning/pytorch/trainer/trainer.py
Labels: docs, pl

#19974 Adding test for legacy checkpoint created with 2.3.0
  tests/legacy/back-compatible-versions.txt
Labels: ready, checkpointing, tests, pl

#19976 Better graceful shutdown for KeyboardInterrupt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/strategies/launchers/subprocess_script.py
  src/lightning/pytorch/trainer/call.py
  src/lightning/pytorch/trainer/connectors/signal_connector.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/test_lambda_function.py
  tests/tests_pytorch/trainer/test_states.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: fabric, pl

#19986 Fix callback call in Fabric Trainer example
  examples/fabric/build_your_own_trainer/trainer.py
Labels: bug, example, fabric

#19915 Check if CometLogger experiment is alive
  src/lightning/pytorch/loggers/comet.py
  tests/tests_pytorch/loggers/test_comet.py
Labels: logger: comet, community, pl

#19998 Fix typo `scrict` -> `strict` in types.py
  src/lightning/pytorch/utilities/types.py
Labels: bug, code quality, pl

#19982 Fix dtype for MPS in reinforcement learning example
  examples/fabric/reinforcement_learning/train_fabric.py
  examples/fabric/reinforcement_learning/train_fabric_decoupled.py
Labels: example, fabric

#20002 Update `test_lightning_cli_help` for future change in jsonargparse
  tests/tests_pytorch/test_cli.py
Labels: lightningcli, tests, pl

#19993 Updated Fabric trainer example to not call `self.trainer.model` during validation
  examples/fabric/build_your_own_trainer/trainer.py
Labels: example, fabric

#20004 Fix torch-numpy compatibility conflict in tests
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  src/lightning/fabric/utilities/testing/_runif.py
  tests/tests_fabric/strategies/test_ddp_integration.py
  tests/tests_fabric/utilities/test_distributed.py
Labels: fabric, tests, pl, dependencies

#20005 Convert tensors to bytes instead of numpy in multiprocessing result-queue
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
Labels: ci, refactor, strategy: ddp, pl

#20015 Fix package build dependencies
  requirements/app/app.txt
  requirements/ci.txt
Labels: ci, app, dependencies

#19984 Scale mmt
  pyproject.toml
  requirements/app/app.txt
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/core/app.py
  src/lightning/app/core/constants.py
  src/lightning/app/core/queues.py
  src/lightning/app/core/work.py
  src/lightning/app/launcher/launcher.py
  src/lightning/app/launcher/lightning_backend.py
  src/lightning/app/launcher/lightning_hybrid_backend.py
  src/lightning/app/launcher/utils.py
  src/lightning/app/runners/backends/backend.py
  src/lightning/app/utilities/proxies.py
  src/lightning/fabric/cli.py
  src/lightning_app/__main__.py
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_cmd_launch.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_app/core/test_constants.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/core/test_queues.py
  tests/tests_app/launcher/test_running_flow.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/utilities/test_proxies.py
Labels: ready, fabric, app, pl, dependencies, package

#20017 Add support for batch stop
  .github/checkgroup.yml
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  requirements/app/app.txt
  src/lightning/app/core/constants.py
  src/lightning/app/core/flow.py
  src/lightning/app/launcher/launcher.py
  src/lightning/app/launcher/lightning_backend.py
  src/lightning/app/launcher/lightning_hybrid_backend.py
  src/lightning/app/runners/backends/backend.py
  src/lightning/app/runners/backends/cloud.py
  src/lightning/app/runners/backends/docker.py
  src/lightning/app/runners/backends/mp_process.py
  src/lightning/app/runners/cloud.py
  tests/tests_app/cli/test_cmd_launch.py
  tests/tests_app/cli/test_run_app.py
  tests/tests_app/core/test_constants.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/launcher/test_lightning_backend.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/structures/test_structures.py
Labels: ready, ci, app, dependencies

#20014 Fix seed in test to avoid interactions on global random state
  tests/tests_pytorch/core/test_lightning_optimizer.py
Labels: tests, pl

#20011 Add atomic save to checkpoint routine
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/cloud_io.py
  src/lightning/pytorch/CHANGELOG.md
Labels: checkpointing, fabric, community, pl

#20022 Set development version for 2.4
  src/version.info
Labels: package

#20021 Patch release 2.3.1
  .github/checkgroup.yml
  .github/workflows/ci-examples-app.yml
  .github/workflows/ci-tests-app.yml
  .github/workflows/docker-build.yml
  pyproject.toml
  requirements/app/app.txt
  requirements/ci.txt
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  requirements/pytorch/extra.txt
  src/lightning/app/cli/lightning_cli.py
  src/lightning/app/core/app.py
  src/lightning/app/core/constants.py
  src/lightning/app/core/flow.py
  src/lightning/app/core/queues.py
  src/lightning/app/core/work.py
  src/lightning/app/launcher/launcher.py
  src/lightning/app/launcher/lightning_backend.py
  src/lightning/app/launcher/lightning_hybrid_backend.py
  src/lightning/app/launcher/utils.py
  src/lightning/app/runners/backends/backend.py
  src/lightning/app/runners/backends/cloud.py
  src/lightning/app/runners/backends/docker.py
  src/lightning/app/runners/backends/mp_process.py
  src/lightning/app/runners/cloud.py
  src/lightning/app/utilities/proxies.py
  src/lightning/fabric/cli.py
  src/lightning/fabric/utilities/testing/_runif.py
  src/lightning/pytorch/loggers/comet.py
  src/lightning_app/__main__.py
  src/version.info
  tests/tests_app/cli/test_cli.py
  tests/tests_app/cli/test_cmd_launch.py
  tests/tests_app/cli/test_run_app.py
  tests/tests_app/components/multi_node/test_trainer.py
  tests/tests_app/core/test_constants.py
  tests/tests_app/core/test_lightning_api.py
  tests/tests_app/core/test_lightning_app.py
  tests/tests_app/core/test_lightning_work.py
  tests/tests_app/core/test_queues.py
  tests/tests_app/launcher/test_lightning_backend.py
  tests/tests_app/launcher/test_running_flow.py
  tests/tests_app/runners/test_cloud.py
  tests/tests_app/storage/test_path.py
  tests/tests_app/structures/test_structures.py
  tests/tests_app/utilities/test_proxies.py
  tests/tests_fabric/strategies/test_ddp_integration.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/loggers/test_comet.py
Labels: ready, ci, release, fabric, app, pl, dependencies, dockers, package

#20025 Fix dependency issues with omegaconf and hydra
  requirements/pytorch/extra.txt
Labels: ci, tests, pl, dependencies

#19843 docs: Bump HPU ref `1.5.0`
  docs/source-pytorch/conf.py
Labels: docs, pl

#20026 docs: Bump HPU ref `1.6.0`
  docs/source-pytorch/conf.py
Labels: ready, docs, pl

#20023 Adding test for legacy checkpoint created with 2.3.1
  tests/legacy/back-compatible-versions.txt
Labels: ready, checkpointing, tests, pl

#20029 CI: replace macOS-11 with macOS-14
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#20009 Drop PyTorch 2.0 from the test matrix
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/docker-build.yml
  docs/source-fabric/advanced/compile.rst
  docs/source-fabric/advanced/model_init.rst
  docs/source-pytorch/advanced/compile.rst
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  requirements/pytorch/test.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/__init__.py
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/utilities/imports.py
  src/lightning/fabric/utilities/init.py
  src/lightning/fabric/utilities/testing/_runif.py
  src/lightning/fabric/utilities/throughput.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/demos/transformer.py
  src/lightning/pytorch/loops/utilities.py
  src/lightning/pytorch/strategies/fsdp.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  src/lightning/pytorch/utilities/compile.py
  tests/tests_fabric/conftest.py
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
  tests/tests_fabric/strategies/test_ddp_integration.py
  tests/tests_fabric/strategies/test_fsdp.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_fabric/test_fabric.py
  tests/tests_fabric/test_wrappers.py
  tests/tests_fabric/utilities/test_init.py
  tests/tests_fabric/utilities/test_throughput.py
  tests/tests_pytorch/callbacks/test_throughput_monitor.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/deprecated_api/test_no_removal_version.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_model_parallel_integration.py
  tests/tests_pytorch/trainer/flags/test_inference_mode.py
Labels: docs, ci, fabric, pl, dependencies, dockers
