Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-08, with the labels that each got.

#20150 docs: adding link to obj detect. studio
  README.md
Labels: ready, docs

#20142 Add LLM finetuning Studio example to README.md
  README.md
Labels: ready, docs

#20155 Update type check workflow to PyTorch 2.4
  .github/workflows/code-checks.yml
  docs/source-fabric/conf.py
  docs/source-pytorch/conf.py
  requirements/typing.txt
  src/lightning/fabric/plugins/collectives/torch_collective.py
  src/lightning/fabric/plugins/precision/amp.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/model_parallel.py
  src/lightning/fabric/utilities/logger.py
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  src/lightning/pytorch/callbacks/pruning.py
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/core/datamodule.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/plugins/precision/amp.py
  src/lightning/pytorch/plugins/precision/precision.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  src/lightning/pytorch/tuner/lr_finder.py
  src/lightning/pytorch/utilities/model_helpers.py
Labels: docs, ci, fabric, code quality, pl, dependencies

#20146 Docs: Add note about version counter in `ModelCheckpoint`
  docs/source-pytorch/common/checkpointing_intermediate.rst
  src/lightning/pytorch/callbacks/model_checkpoint.py
Labels: ready, docs, callback: model checkpoint, community, pl

#19578 Add ability for TQDMProgressBar to retain prior epoch training bars
  docs/source-pytorch/common/progress_bar.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
Labels: docs, progress bar: tqdm, community, pl

#20156 Avoid deprecated distutils for docs build
  .actions/assistant.py
Labels: docs, ci

#20158 Remove outdated `process_position` reference in progress bar docs.
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
Labels: docs, progress bar: tqdm, pl

#20159 Count number of modules in train/eval mode in ModelSummary
  docs/source-pytorch/advanced/transfer_learning.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_summary.py
  src/lightning/pytorch/callbacks/rich_model_summary.py
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/callbacks/test_model_summary.py
  tests/tests_pytorch/callbacks/test_rich_model_summary.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: feature, docs, callback: model summary, pl, fun

#20164 docs: fix typo in `linkcheck_ignore`
  docs/source-pytorch/conf.py
Labels: docs, pl

#20163 Fix parameter count in ModelSummary when parameters are DTensors
  src/lightning/fabric/utilities/distributed.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  src/lightning/pytorch/utilities/model_summary/model_summary_deepspeed.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: bug, fabric, callback: model summary, strategy: fsdp, pl, fun

#20019 Add special logic for 'step' in _optimizer_to_device
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/optimizer.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/utilities/test_optimizer.py
Labels: bug, fabric, optimization, performance, community, pl

#20167 ci: fix cleaning caches
  .github/workflows/call-clear-cache.yml
  .github/workflows/cleanup-caches.yml
Labels: bug, ci

#20168 ci/docs: disable optional cache pkg
  .github/workflows/docs-build.yml
Labels: docs, ci

#20169 fix(ci): resolve input str -> num conversion
  .github/workflows/call-clear-cache.yml
Labels: ready, ci

#20125 Add `ddp_find_unused_parameters_true` alias in Fabric's DDPStrategy
  src/lightning/fabric/strategies/ddp.py
  tests/tests_fabric/strategies/test_registry.py
  tests/tests_fabric/test_cli.py
Labels: bug, fabric, community

#20172 Re-enable passing BytesIO as path in `.to_onnx()`
  src/lightning/pytorch/core/module.py
  tests/tests_pytorch/models/test_onnx.py
Labels: bug, community, pl

#20183 a bit more lazy load functionality
  src/lightning/fabric/utilities/load.py
  tests/tests_fabric/utilities/test_load.py
Labels: ready, fabric

#20196 docs: adding link to forecasting studio
  README.md
Labels: docs

#20197 docs: adding link to recommendation studio
  README.md
Labels: docs
