Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-04, with the labels that each got.

#19734 Skip test with compile error on torch=2.2.2 on Windows
  tests/tests_pytorch/utilities/test_compile.py
Labels: bug, ready, ci, 3rd party, tests, pl, fun

#19639 Add synchronous parameter to MLflowLogger
  src/lightning/pytorch/loggers/mlflow.py
  tests/tests_pytorch/loggers/test_mlflow.py
Labels: feature, ready, logger: mlflow, community, pl

#19727 Support pathlib.Path file paths when saving ONNX models
  src/lightning/pytorch/core/module.py
  tests/tests_pytorch/models/test_onnx.py
Labels: ready, community, pl

#19755 Fix initialized weights resetting in `Fabric.setup()` when using FSDP
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/device_dtype_mixin.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
Labels: bug, ready, priority: 0, fabric, strategy: fsdp

#19765 Specify branch name in release-pkg workflow
  .github/workflows/release-pkg.yml
Labels: ready, ci, release

#19742 ci/lint: simlify prettier
  .pre-commit-config.yaml
  .prettierignore
Labels: code quality

#19760 Adding test for legacy checkpoint created with 2.2.2
  tests/legacy/back-compatible-versions.txt
Labels: ready, checkpointing, tests, pl

#19769 Sanitize hparams that can't be json-serialized in `WandbLogger.log_hyperparameters()`
  src/lightning/fabric/utilities/logger.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_fabric/utilities/test_logger.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: ready, logger: wandb, fabric, pl

#19774 Use `step` interval in `estimated_stepping_batches` docs example
  docs/source-pytorch/common/trainer.rst
Labels: ready, docs, community, pl

#19781 Remove the requirement for FSDPStrategy subclasses to only support GPU
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: feature, strategy: fsdp, pl

#19795 Update Lightning Cloud to 0.5.67
  requirements/app/app.txt
Labels: ready, app, dependencies

#19770 Update changelog after 2.2.2 release
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ready, fabric, pl

#19800 Patch Release 2.2.3
  docs/source-pytorch/ecosystem/community_examples.rst
  examples/README.md
  requirements/app/app.txt
  src/lightning/fabric/utilities/logger.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  src/version.info
  tests/tests_app/cli/test_cmd_launch.py
  tests/tests_fabric/utilities/test_logger.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: ready, docs, release, fabric, app, pl, dependencies, package

#19821 Avoid interactions through test artifacts
  tests/tests_fabric/conftest.py
  tests/tests_pytorch/__init__.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
  tests/tests_pytorch/callbacks/test_device_stats_monitor.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
  tests/tests_pytorch/callbacks/test_prediction_writer.py
  tests/tests_pytorch/callbacks/test_pruning.py
  tests/tests_pytorch/callbacks/test_spike.py
  tests/tests_pytorch/callbacks/test_timer.py
  tests/tests_pytorch/checkpointing/test_checkpoint_callback_frequency.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/core/test_lightning_optimizer.py
  tests/tests_pytorch/core/test_metric_result_integration.py
  tests/tests_pytorch/core/test_saving.py
  tests/tests_pytorch/helpers/datasets.py
  tests/tests_pytorch/helpers/test_datasets.py
  tests/tests_pytorch/helpers/utils.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_csv.py
  tests/tests_pytorch/loggers/test_neptune.py
  tests/tests_pytorch/loops/test_training_epoch_loop.py
  tests/tests_pytorch/models/test_restore.py
  tests/tests_pytorch/plugins/precision/test_double.py
  tests/tests_pytorch/serve/test_servable_module_validator.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/strategies/test_ddp_integration.py
  tests/tests_pytorch/strategies/test_fsdp.py
  tests/tests_pytorch/strategies/test_registry.py
  tests/tests_pytorch/trainer/flags/test_env_vars.py
  tests/tests_pytorch/trainer/flags/test_min_max_epochs.py
  tests/tests_pytorch/trainer/flags/test_val_check_interval.py
  tests/tests_pytorch/trainer/optimization/test_backward_calls.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
  tests/tests_pytorch/trainer/optimization/test_multiple_optimizers.py
  tests/tests_pytorch/trainer/properties/test_estimated_stepping_batches.py
  tests/tests_pytorch/trainer/test_dataloaders.py
  tests/tests_pytorch/trainer/test_trainer.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
Labels: ready, fabric, tests, pl, fun

#19708 Add PyTorch 2.3 to CI matrix
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/docker-build.yml
  dockers/base-cuda/Dockerfile
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/accelerators/mps.py
  src/lightning/pytorch/CHANGELOG.md
  tests/tests_fabric/plugins/precision/test_fsdp.py
  tests/tests_pytorch/callbacks/test_finetuning_callback.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/plugins/precision/test_fsdp.py
Labels: ready, docs, ci, fabric, app, pl, fun, dependencies, dockers

#19824 Fix TensorBoardLogger test on Windows
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  tests/tests_pytorch/loggers/test_tensorboard.py
Labels: ready, ci, fabric, tests, pl, dependencies
