Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-11, with the labels that each got.

#20393 ci: bump deprecated mac 12 to 13
  .github/checkgroup.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci, package

#20351 bump: Torch `2.5`
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/docker-build.yml
  requirements/fabric/base.txt
  requirements/fabric/examples.txt
  requirements/fabric/test.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  requirements/typing.txt
  src/lightning/fabric/__init__.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  tests/run_standalone_tests.sh
  tests/tests_fabric/utilities/test_imports.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/core/test_metric_result_integration.py
  tests/tests_pytorch/helpers/test_datasets.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/loggers/test_wandb.py
  tests/tests_pytorch/utilities/test_imports.py
Labels: priority: 0, ci, fabric, pl, dependencies, dockers

#20408 docs: fix incorrect link in expert level up
  docs/source-pytorch/levels/expert.rst
  docs/source-pytorch/levels/expert_level_24.rst
Labels: ready, docs, pl

#20203 fix: correct the positional encoding of Transformer in pytorch examples
  src/lightning/pytorch/demos/transformer.py
Labels: pl

#20379 Ensure restarting from checkpoints leads to consistent internal counters
  src/lightning/pytorch/loops/evaluation_loop.py
  src/lightning/pytorch/loops/fit_loop.py
  src/lightning/pytorch/loops/loop.py
  src/lightning/pytorch/loops/progress.py
  src/lightning/pytorch/loops/training_epoch_loop.py
  tests/tests_pytorch/loops/test_loops.py
  tests/tests_pytorch/models/test_hooks.py
Labels: ready, pl

#20285 Add rtx 4080 super to chips dictionary
  src/lightning/fabric/utilities/throughput.py
Labels: ready, fabric

#20372 Change LightningCLI tests to account for future fix in jsonargparse
  tests/tests_pytorch/test_cli.py
Labels: ready, lightningcli, pl

#20415 bump all macos-13 to -14
  .github/checkgroup.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci, package

#20365 fix: Incorrect URI Prefix Stripping in MLFlowLogger
  src/lightning/pytorch/loggers/mlflow.py
Labels: ready, pl

#20417 temporarily disable tpu from required checks
  .github/checkgroup.yml
  .github/workflows/tpu-tests.yml.disabled
Labels: ci

#20405 Profile `Trainer.save_checkpoint`
  src/lightning/pytorch/trainer/trainer.py
Labels: ready, pl

#20399 Remove `List[int]` as input type for Trainer when `accelerator="cpu"`
  src/lightning/fabric/accelerators/cpu.py
  src/lightning/pytorch/accelerators/cpu.py
Labels: ready, waiting on author, fabric, pl

#20420 Fix configure_optimizers example
  examples/fabric/build_your_own_trainer/run.py
Labels: fabric

#20403 Allow callbacks to be restored not just during training
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
  tests/tests_pytorch/trainer/connectors/test_checkpoint_connector.py
Labels: waiting on author, callback, pl

#20430 fix: use standalone tests' exit code
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  tests/run_standalone_tests.sh
  tests/tests_pytorch/run_standalone_tasks.sh
Labels: ready, ci, pl

#20431 update links
  README.md
  docs/source-pytorch/accelerators/gpu_intermediate.rst
Labels: ready, docs, pl

#20433 Update CODEOWNERS
  .github/CODEOWNERS
Labels: ci

#20401 Proposal(CLI): after_instantiate_classes hook
  src/lightning/pytorch/cli.py
Labels: waiting on author, pl

#20446 improve importing demos
  src/lightning/pytorch/demos/__init__.py
  tests/tests_pytorch/test_cli.py
Labels: ready, pl

#20448 Update governance
  docs/source-pytorch/community/governance.rst
Labels: docs, pl

#20452 Make plugin type check more flexible (Fabric)
  src/lightning/fabric/connector.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
Labels: fabric, pl
