Repository Lightning-AI/pytorch-lightning, pull requests merged in 2024-09, with the labels that each got.

#20290 Update favicon to match Lightning AI app consistency
  docs/source-fabric/_static/images/icon.svg
  docs/source-fabric/_static/images/logo-large.svg
  docs/source-fabric/_static/images/logo-small.svg
  docs/source-pytorch/_static/images/icon.svg
Labels: docs, fabric, pl

#20304 fix(ci): update for breaking change with upload/download
  .github/workflows/_build-packages.yml
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/docs-build.yml
  .github/workflows/release-nightly.yml
Labels: docs, priority: 0, ci

#20302 fix(tests): update tests after torch 2.4.1
  pyproject.toml
  requirements/typing.txt
  src/lightning/fabric/utilities/imports.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
  tests/tests_pytorch/core/test_metric_result_integration.py
  tests/tests_pytorch/helpers/test_datasets.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_logger.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: fabric, pl, dependencies, package

#20298 docs: fix broken links to W&B
  docs/source-pytorch/visualize/supported_exp_managers.rst
  src/lightning/pytorch/loggers/wandb.py
Labels: docs, pl

#20252 fix a typo of precision help doc
  docs/source-fabric/fundamentals/launch.rst
  src/lightning/fabric/cli.py
Labels: docs, fabric
