Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-04, with the labels that each got.

#20691 Update the doc to use breakpoint()
  docs/source-pytorch/debug/debugging_basic.rst
Labels: docs, pl

#20694 feat: add Codecov test results
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#20707 making litmodels message clearer
  src/lightning/pytorch/trainer/connectors/callback_connector.py
Labels: pl

#20719 ci: bump dead ubuntu 20.04
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/code-checks.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-tutorials.yml
Labels: docs, ci

#20193 feat: allow immutable file upload for wandb logger
  src/lightning/pytorch/loggers/wandb.py
Labels: won't fix, pl

#20718 feat: add tests for `save_hyperparameters` with `ignore` behavior and composition handling
  tests/tests_pytorch/models/test_hparams.py
Labels: pl

#20745 ci: try to suppress false failing check for create legacy checkpoint
  .github/workflows/_legacy-checkpoints.yml
Labels: ci

#20754 bump: testing latest PT on GPU to `2.7`
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/checkgroup.yml
  .github/workflows/docker-build.yml
Labels: ci, dockers

#20769 docs: update repo link preventing flakiness
  .github/CONTRIBUTING.md
  .github/markdown-links-config.json
  docs/source-pytorch/data/iterables.rst
  docs/source-pytorch/upgrade/sections/1_4_advanced.rst
  docs/source-pytorch/upgrade/sections/1_4_regular.rst
  docs/source-pytorch/upgrade/sections/1_5_advanced.rst
  docs/source-pytorch/upgrade/sections/1_5_devel.rst
  docs/source-pytorch/upgrade/sections/1_5_regular.rst
  docs/source-pytorch/upgrade/sections/1_6_advanced.rst
  docs/source-pytorch/upgrade/sections/1_6_devel.rst
  docs/source-pytorch/upgrade/sections/1_6_regular.rst
  docs/source-pytorch/upgrade/sections/1_7_advanced.rst
  docs/source-pytorch/upgrade/sections/1_7_devel.rst
  docs/source-pytorch/upgrade/sections/1_7_regular.rst
  docs/source-pytorch/upgrade/sections/1_8_advanced.rst
  docs/source-pytorch/upgrade/sections/1_8_devel.rst
  docs/source-pytorch/upgrade/sections/1_8_regular.rst
  docs/source-pytorch/upgrade/sections/1_9_advanced.rst
  docs/source-pytorch/upgrade/sections/1_9_devel.rst
  docs/source-pytorch/upgrade/sections/1_9_regular.rst
  docs/source-pytorch/upgrade/sections/2_0_advanced.rst
  docs/source-pytorch/upgrade/sections/2_0_devel.rst
  docs/source-pytorch/upgrade/sections/2_0_regular.rst
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/strategies/xla.py
  src/lightning/fabric/strategies/xla_fsdp.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/demos/mnist_datamodule.py
  src/lightning/pytorch/loops/utilities.py
  src/lightning/pytorch/strategies/xla.py
  src/lightning/pytorch/trainer/configuration_validator.py
  src/lightning/pytorch/utilities/migration/utils.py
  tests/tests_fabric/strategies/test_xla.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_pytorch/models/test_tpu.py
Labels: docs, ci, fabric, pl

#20770 drop mergify
  .github/mergify.yml
  .github/workflows/label-conflicts.yml
Labels: ci
