Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-08, with the labels that each got.

#21016 fix ci: progress bar console clearing for latest Rich release
  requirements/pytorch/extra.txt
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/progress/rich_progress.py
Labels: pl, dependencies

#20775 Fix double iteration bug when resumed from a checkpoint.
  src/lightning/pytorch/loops/loop.py
  src/lightning/pytorch/loops/training_epoch_loop.py
  tests/tests_pytorch/loops/test_double_iter_in_iterable_dataset.py
Labels: docs, ci, fabric, pl, dependencies, dockers, package

#21029 fix: raise ValueError when provided seed is out-of-bounds
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/seed.py
  tests/tests_fabric/utilities/test_seed.py
Labels: fabric

#21011 Allow `training_step` in manual optimization to return general mappings
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/optimization/manual.py
  tests/tests_pytorch/trainer/optimization/test_manual_optimization.py
Labels: pl

#21032 Fix refresh rate for metrics in `RichProgressBar`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/progress/rich_progress.py
  tests/tests_pytorch/callbacks/progress/test_rich_progress_bar.py
Labels: pl

#21042 docker: build images for latest PT `2.8`
  .github/checkgroup.yml
  .github/workflows/docker-build.yml
  dockers/base-cuda/Dockerfile
  dockers/nvidia/Dockerfile
  dockers/release/Dockerfile
Labels: ci, dockers

#21040 Fix `v_num` formatting for `RichProgressBar`
  src/lightning/pytorch/callbacks/progress/rich_progress.py
Labels: pl

#20960 Fix `save_last` behavior in absence of validation
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: pl

#20731 docs: `overfit_batches` uses same batch for train and val
  docs/source-pytorch/common/trainer.rst
  src/lightning/pytorch/trainer/connectors/data_connector.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/trainer/flags/test_overfit_batches.py
Labels: docs, pl

#21052 Replace `exit` with `sys.exit
  src/lightning/fabric/utilities/consolidate_checkpoint.py
  src/lightning/pytorch/trainer/call.py
  src/lightning/pytorch/utilities/upgrade_checkpoint.py
Labels: fabric, pl

#21054 Docs for logging multiple val and test dataloaders
  src/lightning/pytorch/core/module.py
Labels: pl

#21051 Fix `save_hyperparameters` not crashing on `dataclass` with `init=False`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/utilities/parsing.py
  tests/tests_pytorch/models/test_hparams.py
Labels: pl

#20811 Allow to return ONNXProgram when calling `to_onnx(dynamo=True)`
  pyproject.toml
  requirements/fabric/base.txt
  requirements/pytorch/base.txt
  requirements/pytorch/docs.txt
  requirements/pytorch/test.txt
  src/lightning/fabric/utilities/imports.py
  src/lightning/fabric/utilities/testing/_runif.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/tests_pytorch/models/test_onnx.py
Labels: docs, ci, fabric, pl, dependencies, package

#20916 Add `save_on_exception` option to `ModelCheckpoint`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: pl

#21056 Fix integration of `LearningRateFinder` with `EarlyStopping`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/tuner/lr_finder.py
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: pl

#20872 bugfix: add support for `global_ordinal`, `local_ordinal`, `world_size` in xla
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/environments/xla.py
  tests/tests_fabric/plugins/environments/test_xla.py
Labels: bug, fabric

#21043 chore: bump PyTorch version in dependencies & CI
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  requirements/fabric/examples.txt
  requirements/pytorch/base.txt
  requirements/pytorch/examples.txt
  src/lightning/fabric/utilities/imports.py
  src/lightning/fabric/utilities/spike.py
  src/lightning/fabric/utilities/testing/_runif.py
  src/lightning/pytorch/trainer/connectors/logger_connector/result.py
  src/lightning/pytorch/utilities/imports.py
  src/lightning/pytorch/utilities/testing/_runif.py
  tests/tests_fabric/plugins/precision/test_amp_integration.py
  tests/tests_fabric/strategies/launchers/test_multiprocessing_integration.py
  tests/tests_fabric/strategies/test_ddp_integration.py
  tests/tests_fabric/utilities/test_distributed.py
  tests/tests_fabric/utilities/test_spike.py
  tests/tests_pytorch/callbacks/test_spike.py
  tests/tests_pytorch/helpers/runif.py
  tests/tests_pytorch/loops/test_prediction_loop.py
  tests/tests_pytorch/models/test_amp.py
  tests/tests_pytorch/serve/test_servable_module_validator.py
  tests/tests_pytorch/strategies/launchers/test_multiprocessing.py
  tests/tests_pytorch/trainer/connectors/test_data_connector.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
  tests/tests_pytorch/trainer/test_trainer.py
Labels: ci, fabric, pl, dependencies

#21063 Hotfix for CI
  tests/tests_pytorch/tuner/test_lr_finder.py
Labels: ci, pl

#21061 Clarification of docs on schedulers
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/model/manual_optimization.rst
Labels: docs, pl

#21066 Adding test for legacy checkpoint created with 2.5.3
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#21057 let `_get_default_process_group_backend_for_device` support more hardware platforms
  src/lightning/fabric/utilities/distributed.py
  tests/tests_fabric/utilities/test_distributed.py
Labels: fabric

#20545 Generic weight averaging callback that supports EMA
  docs/source-pytorch/advanced/training_tricks.rst
  docs/source-pytorch/api_references.rst
  docs/source-pytorch/extensions/callbacks.rst
  docs/source-pytorch/glossary/index.rst
  docs/source-pytorch/model/build_model_intermediate.rst
  docs/source-pytorch/starter/introduction.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/__init__.py
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/callbacks/weight_averaging.py
  tests/tests_pytorch/callbacks/test_weight_averaging.py
Labels: docs, fabric, pl

#21076 bump: try `deepspeed >=0.14.1,<=0.15.0`
  .actions/assistant.py
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  dockers/release/Dockerfile
  pyproject.toml
  requirements/fabric/strategies.txt
  requirements/pytorch/strategies.txt
  src/lightning/fabric/strategies/deepspeed.py
  tests/tests_fabric/strategies/launchers/test_multiprocessing_integration.py
  tests/tests_pytorch/utilities/test_compile.py
Labels: ci, fabric, pl, dependencies, dockers, package

#21103 docs: add note on TorchMetrics integration for logging best practices
  docs/source-pytorch/extensions/logging.rst
Labels: docs, logging, pl

#21104 Fix: TorchMetrics documentation source link
  docs/source-pytorch/conf.py
Labels: docs, pl

#21102 ci: pin also test requirements for minimal setup
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  requirements/fabric/test.txt
  requirements/pytorch/loggers.info
  requirements/pytorch/test.txt
Labels: ci, fabric, pl, dependencies

#21121 docs: replace broken link to Torch 2.x
  docs/source-fabric/advanced/compile.rst
  docs/source-pytorch/advanced/compile.rst
Labels: docs, fabric, pl

#21107 Update versioning governance document
  docs/source-pytorch/versioning.rst
Labels: docs, pl

#21119 Update throughput table to include H200 stats
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/throughput.py
  tests/tests_fabric/utilities/test_throughput.py
Labels: feature, fabric, callback: throughput

#21128 Adding test for legacy checkpoint created with 2.5.4
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#21129 docs: update chlog after `2.5.4`
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: fabric, pl

#21127 drop redundant find-path for install
  requirements/pytorch/test.txt
Labels: ci, pl, dependencies

#21106 fix(callbacks): Defer step/time-triggered ModelCheckpoint saves until validation metrics are available
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/model_checkpoint.py
  tests/tests_pytorch/callbacks/test_model_checkpoint_additional_cases.py
  tests/tests_pytorch/callbacks/test_model_checkpoint_edge_cases.py
  tests/tests_pytorch/callbacks/test_model_checkpoint_step_interval_val_metric.py
Labels: fabric, pl
