Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-02, with the labels that each got.

#20567 docs: fix typo in `converting.rst`
  docs/source-pytorch/starter/converting.rst
Labels: docs, pl

#20570 Update twine to 6.0.1 for Python 3.13
  requirements/ci.txt
Labels: dependencies

#20588 Remove fabric legacy CLI
  src/lightning/__setup__.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/cli.py
  tests/tests_fabric/test_cli.py
Labels: fabric

#20590 docs: fix broken links
  .github/CONTRIBUTING.md
  docs/source-fabric/_templates/theme_variables.jinja
  docs/source-fabric/links.rst
  docs/source-pytorch/_templates/theme_variables.jinja
  docs/source-pytorch/accelerators/accelerator_prepare.rst
  docs/source-pytorch/accelerators/gpu_intermediate.rst
  docs/source-pytorch/advanced/ddp_optimizations.rst
  docs/source-pytorch/advanced/model_parallel/deepspeed.rst
  docs/source-pytorch/data/alternatives.rst
  docs/source-pytorch/data/iterables.rst
  docs/source-pytorch/links.rst
  docs/source-pytorch/versioning.rst
  src/lightning/__setup__.py
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/plugins/environments/kubeflow.py
  src/lightning/fabric/strategies/launchers/multiprocessing.py
  src/lightning/fabric/strategies/launchers/subprocess_script.py
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/stochastic_weight_avg.py
  src/lightning/pytorch/plugins/precision/xla.py
  src/lightning/pytorch/strategies/launchers/multiprocessing.py
  src/lightning/pytorch/strategies/launchers/xla.py
  src/lightning/pytorch/trainer/connectors/logger_connector/fx_validator.py
  src/lightning_fabric/__setup__.py
  src/pytorch_lightning/__setup__.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
  tests/tests_pytorch/core/test_datamodules.py
  tests/tests_pytorch/profilers/test_profiler.py
  tests/tests_pytorch/trainer/logging_/test_train_loop_logging.py
Labels: ready, docs, ci, fabric, pl, package

#20592 Fix missing enumerate in docs
  docs/source-pytorch/common/lightning_module.rst
Labels: docs, pl

#20575 fix compatibility for pytest 8
  tests/tests_fabric/utilities/test_seed.py
Labels: ready, fabric

#20574 fix test compatibility as AdamW became subclass of Adam
  tests/tests_pytorch/callbacks/test_lr_monitor.py
Labels: pl
