Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-01, with the labels that each got.

#20510 chore: remove redundant words in comment
  docs/source-pytorch/tuning/profiler_intermediate.rst
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/pytorch/core/module.py
  src/lightning/pytorch/strategies/deepspeed.py
Labels: docs, fabric, pl

#20529 ci: update GroupCheck
  .github/checkgroup.yml
Labels: ci

#20508 fix: swapped _R_co and _P to prevent type error.
  src/lightning/pytorch/utilities/model_helpers.py
Labels: ready, pl

#20528 Fix TBPTT example
  docs/source-pytorch/common/tbptt.rst
  tests/tests_pytorch/helpers/advanced_models.py
  tests/tests_pytorch/helpers/test_models.py
Labels: docs, pl

#20535 docs: inject version selector to HTML docs
  .github/workflows/docs-build.yml
Labels: docs, ci

#20537 test: flaky terminated with signal SIGABRT
  tests/tests_fabric/utilities/test_distributed.py
Labels: fabric
