Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-05, with the labels that each got.

#20800 Remove LightningCLI python>=3.11.9 xfail, since issue was resolved long ago
  requirements/pytorch/extra.txt
  tests/tests_pytorch/loggers/test_wandb.py
  tests/tests_pytorch/test_cli.py
Labels: pl, dependencies

#20720 updating issue template
  .github/ISSUE_TEMPLATE/1_bug_report.yaml
Labels: ci

#20830 fix: convert step to int when logging
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/logger_connector/logger_connector.py
  tests/tests_pytorch/trainer/connectors/test_logger_connector.py
Labels: pl

#20842 docker: extend building base docker images for litGPT
  .github/workflows/docker-build.yml
Labels: ci, dockers

#20843 ci: skip failing run on master
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-checkpoints.yml.disabled
  .github/workflows/release-pkg.yml
Labels: ci

#20844 docker: update building base docker images for last CUDA & py3.10
  .github/workflows/docker-build.yml
Labels: ci, dockers

#20823 Remove legacy version check for `lightning_utilities >= 0.10`
  .gitignore
  src/lightning/fabric/utilities/imports.py
  src/lightning/fabric/utilities/rank_zero.py
Labels: fabric

#20850 add python 3.12 in setup.py
  src/lightning_fabric/__setup__.py
  src/pytorch_lightning/__setup__.py
Labels: fabric, pl, package

#20825 Fix: Synchronize SIGTERM Handling in DDP to Prevent Deadlocks
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/training_epoch_loop.py
  src/lightning/pytorch/trainer/connectors/callback_connector.py
  src/lightning/pytorch/trainer/connectors/signal_connector.py
  tests/tests_pytorch/trainer/test_ddp_sigterm_handling.py
Labels: pl
