Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-06, with the labels that each got.

#20868 feat: add flops in ModelSummary columns.
  src/lightning/pytorch/callbacks/model_summary.py
  src/lightning/pytorch/callbacks/rich_model_summary.py
  src/lightning/pytorch/utilities/model_summary/model_summary.py
  tests/tests_pytorch/callbacks/test_model_summary.py
  tests/tests_pytorch/callbacks/test_rich_model_summary.py
  tests/tests_pytorch/utilities/test_model_summary.py
Labels: pl

#20876 Ensure correct device is used for autocast when mps is selected as Fabric accelerator
  src/lightning/fabric/connector.py
  tests/tests_fabric/test_connector.py
  tests/tests_fabric/test_fabric.py
Labels: fabric

#20886 Use lazy string formatting in logging statement in setup.py
  setup.py
Labels: package

#20771 refactor: add `toggled_optimizer` context manager
  docs/source-pytorch/conf.py
  docs/source-pytorch/model/manual_optimization.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/core/module.py
  tests/tests_pytorch/core/test_lightning_module.py
Labels: docs, pl

#20874 Implement todos tensorboard
  tests/tests_fabric/loggers/test_tensorboard.py
Labels: fabric

#20892 Fix typos: "reparametrization" → "reparameterization" and "recommed" → "recommend"
  src/lightning/fabric/connector.py
  src/lightning/pytorch/callbacks/pruning.py
Labels: fabric, pl

#20912 debugging flaky `test_collective_operations` with SIGABRT
  .github/workflows/ci-tests-fabric.yml
Labels: ci, fabric

#20845 ci: debug failing run on master
  .github/checkgroup.yml
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-checkpoints.yml
  .github/workflows/release-pkg.yml
  .github/workflows/tpu-tests.yml
Labels: ci

#20922 Adding test for legacy checkpoint created with 2.5.2
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#20925 docs: update chlog after `2.5.2` release
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: fabric, pl

#20913 Fabric: Enable "auto" for `devices` and `accelerator` as cli arguments
  src/lightning/fabric/cli.py
  src/lightning/fabric/utilities/device_parser.py
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_fabric/test_cli.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: fabric, pl

#20935 ci/gpu: drop duplicate/confusing dep. installations
  .actions/requirements.txt
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
Labels: ci

#20933 test: addressing flaky spawn "process 0 terminated with signal SIGABRT"
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  tests/tests_pytorch/callbacks/test_stochastic_weight_avg.py
Labels: ci, pl

#20320 Add learning rate scheduling support for `DeepSpeedStrategy`
  docs/source-fabric/api/fabric_methods.rst
  docs/source-fabric/api/wrappers.rst
  docs/source-fabric/conf.py
  src/lightning/fabric/fabric.py
  src/lightning/fabric/strategies/deepspeed.py
  src/lightning/fabric/strategies/fsdp.py
  src/lightning/fabric/strategies/strategy.py
  src/lightning/fabric/strategies/xla_fsdp.py
  tests/tests_fabric/strategies/test_deepspeed.py
  tests/tests_fabric/strategies/test_model_parallel.py
Labels: docs, waiting on author, strategy: deepspeed, fabric
