Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-07, with the labels that each got.

#20958 ci: force `pip install` with `--upgrade-strategy=eager`
  .azure/gpu-tests-pytorch.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#20959 Fix typo in LightningModule glossary entry ("organizug" → "organizing")
  docs/source-pytorch/glossary/index.rst
Labels: docs, pl

#20961 Add dev env setup guide
  .github/CONTRIBUTING.md
Labels: ci

#20964 Fix: Allow trainer to accept CUDAAccelerator instance as accelerator with FSDP strategy
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: accelerator, strategy: fsdp, pl

#20979 fix: failing markdown link test in ci
  .github/markdown-links-config.json
Labels: ci

#20997 fix CI: awscli docutils version conflict
  requirements/docs.txt
Labels: docs, ci, dependencies

#21014 fix broken links to studios
  docs/source-fabric/advanced/model_parallel/tp_fsdp.rst
  docs/source-pytorch/advanced/model_parallel/tp.rst
Labels: docs, fabric, pl
