Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-09, with the labels that each got.

#21132 Simplify workflow matrix
  .github/workflows/ci-tests-pytorch.yml
Labels: ci

#21142 Simplify Fabric tests workflow matrix
  .github/workflows/ci-tests-fabric.yml
Labels: ci

#21147 Fix TQDM progress bar showing the wrong total when using a finite and iterable dataloader
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/progress/tqdm_progress.py
  tests/tests_pytorch/callbacks/progress/test_tqdm_progress_bar.py
Labels: bug, pl

#21125 docs: update for Fabric
  src/lightning/fabric/fabric.py
Labels: fabric

#21159 Remove forgotten deprecated parse_as_dict argument in LightningCLI test
  tests/tests_pytorch/test_cli.py
Labels: pl

#21162 Tuner cleanup on error
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/tuner/batch_size_scaling.py
  src/lightning/pytorch/tuner/lr_finder.py
  tests/tests_pytorch/tuner/test_lr_finder.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
Labels: bug, tuner, pl

#21156 update flaky syntax
  tests/tests_fabric/utilities/test_spike.py
  tests/tests_pytorch/callbacks/test_spike.py
Labels: fabric, pl

#21158 litGPU: run Pytorch tests with `uv` setup
  .lightning/workflows/pytorch.yml
  tests/tests_pytorch/plugins/precision/test_fsdp.py
Labels: pl

#21168 Adding test for legacy checkpoint created with 2.5.5
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#21181 fix using CPU torch with UV
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  pyproject.toml
Labels: ci, package

#21187 Fix edgecase in batch size scaling tuner alg
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/tuner/batch_size_scaling.py
  tests/tests_pytorch/tuner/test_scale_batch_size.py
Labels: bug, tuner, pl

#21191 Fix missing reset when pruning with lottery ticket hypothesis
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/pruning.py
  tests/tests_pytorch/callbacks/test_pruning.py
Labels: bug, callback: pruning, pl

#21188 Expose stopping reasons in `EarlyStopping` callback
  docs/source-pytorch/common/early_stopping.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/callbacks/early_stopping.py
  tests/tests_pytorch/callbacks/test_early_stopping.py
Labels: feature, docs, callback: early stopping, pl

#21200 litCI: try switching A100 to L4 for oldest suites
  .github/checkgroup.yml
  .lightning/workflows/benchmark.yml
  .lightning/workflows/fabric.yml
  .lightning/workflows/pytorch.yml
Labels: ci

#21215 Add documentation on multi test dataloaders
  docs/source-pytorch/common/evaluation_intermediate.rst
Labels: docs, pl

#21209 Add MPS accelerator support for mixed precision
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/connectors/accelerator_connector.py
  tests/tests_pytorch/trainer/connectors/test_accelerator_connector.py
Labels: accelerator: mps, pl

#21220 simplify lit CI config
  .github/checkgroup.yml
  .lightning/workflows/fabric.yml
  .lightning/workflows/pytorch.yml
Labels: ci
