Repository Lightning-AI/pytorch-lightning, pull requests merged in 2025-03, with the labels that each got.

#20621 test: flaky terminated with signal SIGABRT
  tests/tests_pytorch/core/test_results.py
Labels: pl

#20611 fix: Set `tensorboard`'s `global_step` as the default `wandb` x-axis if `sync_tensorboard=True`
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/conftest.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: logger, 3rd party, logger: wandb, pl

#20596 Allow a custom parser class when using LightningCLI
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/cli.py
Labels: pl

#20633 ci: resolve standalone testing
  .azure/gpu-benchmarks.yml
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  tests/run_standalone_tests.sh
  tests/tests_fabric/conftest.py
  tests/tests_pytorch/conftest.py
Labels: ci, fabric, pl

#20635 ci: aggregate checks with guardian
  .github/checkgroup.yml
  .github/workflows/ci-pkg-install.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
Labels: ready, ci, package

#20509 bump: testing with latest `torch` 2.6
  .azure/gpu-tests-fabric.yml
  .azure/gpu-tests-pytorch.yml
  .github/actions/pip-wheels/action.yml
  .github/workflows/_legacy-checkpoints.yml
  .github/workflows/ci-tests-fabric.yml
  .github/workflows/ci-tests-pytorch.yml
  .github/workflows/docker-build.yml
  .github/workflows/docs-build.yml
  .github/workflows/release-pkg.yml
  dockers/base-cuda/Dockerfile
  requirements/fabric/base.txt
  requirements/fabric/strategies.txt
  requirements/pytorch/base.txt
  requirements/pytorch/extra.txt
  src/lightning/fabric/plugins/precision/bitsandbytes.py
  src/lightning/fabric/utilities/imports.py
  tests/README.md
  tests/run_standalone_tests.sh
  tests/tests_fabric/plugins/precision/test_bitsandbytes.py
  tests/tests_fabric/strategies/test_ddp_integration.py
  tests/tests_fabric/strategies/test_fsdp_integration.py
  tests/tests_pytorch/conftest.py
  tests/tests_pytorch/models/test_onnx.py
  tests/tests_pytorch/plugins/precision/test_bitsandbytes.py
Labels: ready, docs, ci, fabric, pl, dependencies, dockers

#20593 Add `enable_autolog_hparams` argument to Trainer.
  docs/source-pytorch/common/trainer.rst
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/loggers/test_csv.py
Labels: ready, docs, pl

#20275 fix: update `comet_ml` logger for compatibility
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loggers/comet.py
  tests/tests_pytorch/loggers/conftest.py
  tests/tests_pytorch/loggers/test_all.py
  tests/tests_pytorch/loggers/test_comet.py
  tests/tests_pytorch/test_cli.py
Labels: logger, 3rd party, community, pl

#20581 Fix the file extension of model checkpoints uploaded by NeptuneLogger
  src/lightning/pytorch/loggers/neptune.py
  tests/tests_pytorch/loggers/test_neptune.py
Labels: logger, 3rd party, community, pl

#19177 Reset trainer variable `should_stop` when `fit` is called
  src/lightning/pytorch/trainer/trainer.py
  tests/tests_pytorch/loops/test_training_epoch_loop.py
Labels: community, pl

#19963 Nicer logging of list of dicts for hyper parameters
  src/lightning/fabric/CHANGELOG.md
  src/lightning/fabric/utilities/logger.py
  tests/tests_fabric/utilities/test_logger.py
Labels: fabric

#20624 Fix OverflowError when resuming from checkpoint with an iterable dataset
  src/lightning/pytorch/CHANGELOG.md
  src/lightning/pytorch/loops/evaluation_loop.py
  tests/tests_pytorch/checkpointing/test_model_checkpoint.py
Labels: priority: 0, pl

#20191 Fix: Make `WandbLogger` upload models from all `ModelCheckpoint` callbacks, not just one
  src/lightning/pytorch/loggers/wandb.py
  tests/tests_pytorch/loggers/test_wandb.py
Labels: pl

#20556 Error when logging to MLFlow deleted experiment
  src/lightning/pytorch/loggers/mlflow.py
Labels: logger, 3rd party, community, pl

#20653 update checkpointing
  Makefile
  requirements/pytorch/docs.txt
  src/lightning/pytorch/trainer/__init__.py
  src/lightning/pytorch/trainer/connectors/callback_connector.py
  src/lightning/pytorch/trainer/connectors/checkpoint_connector.py
  src/lightning/pytorch/trainer/trainer.py
  src/lightning/pytorch/utilities/model_registry.py
  src/version.info
Labels: docs, pl, dependencies, package

#20655 docker: releasing PL with latest PT 2.6
  .github/checkgroup.yml
  .github/workflows/docker-build.yml
Labels: ready, ci, dockers

#20659 Adding test for legacy checkpoint created with 2.5.1
  tests/legacy/back-compatible-versions.txt
Labels: checkpointing, tests, pl

#20662 docs: update chlog after `2.5.1` release
  .github/workflows/_legacy-checkpoints.yml
  src/lightning/fabric/CHANGELOG.md
  src/lightning/pytorch/CHANGELOG.md
Labels: ci, fabric, pl

#20669 fix: MLFlowLogger artifact_path
  src/lightning/pytorch/loggers/mlflow.py
Labels: pl

#20672 Improve performance of available_accelerators by returning a set
  src/lightning/fabric/accelerators/registry.py
  tests/tests_fabric/accelerators/test_registry.py
  tests/tests_pytorch/accelerators/test_registry.py
Labels: fabric, pl

#20675 drop duplicated `torchmetrics` requirement from Fabric's testing
  requirements/fabric/test.txt
  requirements/pytorch/base.txt
  src/lightning/fabric/utilities/spike.py
Labels: fabric, pl, dependencies
